@using Lunggo.ApCommon.Identity.Users
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    @Styles.Render("~/Content/css")

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/application.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="/" class="logo"><b>TRAVORAMA</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu"></ul>
                <!--  notification end -->
            </div>
                <div class="top-menu">
                        @if (User.Identity.IsAuthenticated)
                        {
                            using (@Html.BeginForm("Logout", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <ul class="nav pull-right top-menu">
                                    <li><button class="logout" type="submit">Logout</button></li>
                                </ul>
                            }
                        }
                        else
                        {   
                            <ul class="nav pull-right top-menu">
                                <li><a class="logout" href="@Url.Action("Login", "Account")">Login</a></li>
                            </ul>
                        }
                </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered"><a href="profile.html"><img src="/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h5 class="centered">Hi, @User.Identity.GetFirstName()!</h5>
                    }

                    <li class="sub-menu" id="menu-dashboard">
                        <a href="/Home/Dashboard">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sub-menu" id="menu-flight">
                        <a href="@Url.Action("Search", "Flight")">
                            <i class="fa fa-plane"></i>
                            <span>Flight Reservation</span>
                        </a>
                    </li>
                    
                    <li class="sub-menu" id="menu-cekpayment">
                        <a href="@Url.Action("CheckPayment", "Flight")">
                            <i class="fa fa-plane"></i>
                            <span>Payment Check</span>
                        </a>
                    </li>
                    <li class="sub-menu" id="menu-exchangerate">
                        <a href="@Url.Action("ExchangeRate", "Flight")">
                            <i class="fa fa-plane"></i>
                            <span>Exchange Rate</span>
                        </a>
                    </li>
                    <li class="sub-menu" id="menu-addactivity">
                        <a href="@Url.Action("PriceMarginList", "Flight")">
                            <i class="fa fa-plane"></i>
                            <span>Price Margin</span>
                        </a>
                    </li>
                    <li class="sub-menu" id="menu-addactivity">
                        <a href="@Url.Action("SubscriberList", "Flight")">
                            <i class="fa fa-plane"></i>
                            <span>Subscriber List</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                
                @RenderBody()

            </section><!--/wrapper -->
        </section><!-- /MAIN CONTENT -->
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2014 - Alvarez.is
                <a href="basic_table.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="/assets/js/common-scripts.js"></script>

    <!--script for this page-->

    <script>
        //custom select box

        $(function(){
            $('select.styled').customSelect();
        });

        $('#menu-@ViewBag.ActiveMenu a').addClass('active');

    </script>
    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script src="/Config/JsConfig.js"></script>
    <script src="/Assets/js/application.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/CustomAutoComplete.js")
    @Scripts.Render("~/scripts/Flip.js")
    
    @if (IsSectionDefined("PageJS"))
    {
        @RenderSection("PageJS")
    }

</body>
</html>
