@model List<Lunggo.Repository.TableRecord.PaxTableRecord>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-12">
        <div class="showback">

            <h4>Passenger List</h4>
            <hr />
            <table class="table table-hover table-no-border">
                <tbody>
                    <tr>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Gender</td>
                        <td>Birth Date</td>
                        <td>Type</td>
                        <td>Country</td>
                        <td>ID Number</td>
                    </tr>
                    @foreach (var passenger in Model)
                    {
                        <tr>
                            <td>
                                @passenger.FirstName
                            </td>
                            <td>
                                @passenger.LastName
                            </td>
                            <td>
                                @Html.Raw(passenger.Gender == "M" ? "Male" : "Female")
                            </td>
                            <td>
                                @passenger.BirthDate.GetValueOrDefault().ToString("d MMM yyyy")
                            </td>
                            <td>
                                @Html.Raw(passenger.Gender == "A" ? "Adult" : (passenger.Gender == "C" ? "Child" : "Infant"))
                            </td>
                            <td>
                                @passenger.CountryCd
                            </td>
                            <td>
                                @passenger.IdCardNo
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>