@using System.ComponentModel.DataAnnotations
@using System.Web.UI.WebControls
@using CsQuery.ExtensionMethods.Internal
@using Lunggo.Flight.Dictionary
@using Microsoft.Ajax.Utilities
@model List<Lunggo.Repository.TableRecord.FlightTripDetailTableRecord>

<div class="showback">
    <h4>@ViewData["Type"]</h4>
    <hr />
    @if (!Model.IsNullOrEmpty())
    {
        <table>
            <tbody>
                @{ var prevArrivalTime = new DateTime();}
                @foreach (var detail in Model)
                {
                    if (detail == Model.First())
                    {
                        <tr>
                            <td>@detail.DepartureAirportCd</td>
                            <td><img src="/Content/up.png" alt="up" /></td>
                            <td>
                                @detail.DepartureTime.GetValueOrDefault().ToString("d MMM yy")<br/>
                                @detail.DepartureTime.GetValueOrDefault().ToString("hhmm")
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@detail.DepartureAirportCd</td>
                            <td><img src="/Content/mid.png" alt="mid" /></td>
                            <td>
                                @prevArrivalTime.ToString("d MMM yy")<br/>
                                @prevArrivalTime.ToString("hhmm")<br/><br/>
                                @detail.DepartureTime.GetValueOrDefault().ToString("d MMM yy")<br/>
                                @detail.DepartureTime.GetValueOrDefault().ToString("hhmm")
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td><img src="/Content/line.png" alt="line" /></td>
                        <td>
                            @FlightCode.Airline.First(x => x.Value.Abbr == detail.CarrierCd).Value.Full<br />
                            @detail.CarrierCd@detail.FlightNumber<br/>
                        </td>
                    </tr>
                    if (detail == Model.Last())
                    {
                        <tr>
                            <td>@detail.ArrivalAirportCd</td>
                            <td><img src="/Content/down.png" alt="down" /></td>
                            <td>
                                @detail.ArrivalTime.GetValueOrDefault().ToString("d MMM yy")<br/>
                                @detail.ArrivalTime.GetValueOrDefault().ToString("hhmm")
                            </td>
                        </tr>
                    }
                    prevArrivalTime = detail.ArrivalTime.GetValueOrDefault();
                }
            </tbody>
        </table>
    }
    else
    {
        <span class="label control-label label-default">Not Applicable</span>
    }

</div>