<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta id="viewport" name="viewport" content="width=1200, initial-scale=1">
        <link rel="shortcut icon" type="image/ico" href="/Assets/images/favico.ico" />
        
        @{ Html.RenderPartial("_openGraph"); }

        <title>@ViewBag.Title</title>

        <!-- stylesheets -->
        <!-- <link rel="stylesheet" href="/Assets/css/bootstrap.min.css"> -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <link href="/Assets/bootstrap/bootstrap.min.css" rel="stylesheet" />
        
        @if (IsSectionDefined("AdditionalCSS"))
        {
            @RenderSection("AdditionalCSS");
        }

        <link rel="stylesheet" href="/Assets/travorama20/css/travorama20.css">

    </head>
<body class="@ViewBag.BodyClass">
    @Html.Partial("/Views/Shared/_googleTag.cshtml")

    <!--********************-->
    @Html.Partial("/Views/Shared/travorama20/_SiteHeader.cshtml")
    
    <!--********************-->
    <section class="site-content">
        
        @RenderBody()

    </section><!-- .site-content -->
    
    <!--********************-->
    <!-- footer group start -->
    @Html.Partial("/Views/Shared/travorama20/_SiteFooterMenu.cshtml")
    @Html.Partial("/Views/Shared/travorama20/_SiteFooter.cshtml")
   
    <!--********************-->
    <!-- Javascripts -->
    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/Assets/travorama20/js/bootstrap.min.js"></script>
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script src="/Config/JsConfig.js"></script>

    @if (IsSectionDefined("AdditionalJS"))
    {
        @RenderSection("AdditionalJS");
    }
    
    <script src="/Assets/travorama20/js/travorama20.js"></script>

    @if (IsSectionDefined("PageJS"))
    {
        @RenderSection("PageJS");
    }
    
    <script type="text/javascript">
    $(function () {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
            var ww = ($(window).width() < window.screen.width) ? $(window).width() : window.screen.width; //get proper width
            var mw = 1000; // min width of site
            var ratio = ww / mw; //calculate ratio
            if (ww < mw) { //smaller than minimum size
                $('#viewport').attr('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=yes, width=' + ww);
            } else { //regular size
                $('#viewport').attr('content', 'initial-scale=1.0, maximum-scale=2, minimum-scale=1.0, user-scalable=yes, width=' + ww);
            }
        }
    });
    </script>

</body>
</html>
