@using Lunggo.CustomerWeb.Models
@using Lunggo.Framework.Config
@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = "Diskon untuk semua penerbangan dan hotel domestik dan internasional";
    ViewBag.BodyClass = "page page-home";
    ViewBag.AngularController = "homeController";
    ViewBag.CurrentPage = "home";
    ViewBag.SiteHeader = "mobile-home-page";
    ViewBag.Page = "Index";
}

@section AdditionalCSS{
    <link rel="stylesheet" type="text/css" href="/Assets/vendor/slick/slick.css" />
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}

@section AdditionalJS {

    <script src="/Config/JsConfig.js"></script>
    <!-- jquery datepicker -->
    <script type="text/javascript" src="/Assets/js/jquery.ui.datepicker-id.js"></script>
    <script type="text/javascript" src="/Assets/vendor/slick/slick.min.js"></script>
    <script src="/Assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/Assets/vendor/slick/slick.min.js"></script>
    <script src="/Assets/js/js.cookie.js"></script>
    @*<script type="text/javascript" src="/Assets/vendor/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/Assets/vendor/fullcalendar/fullcalendar-id.min.js"></script>*@
}

@section PageJS {
    <script src="/Assets/travorama20/angularDirectory/search/hotelSearch.service.js"></script>
    <script src="/Assets/mobile/js/HomeController.js"></script>
    <script type="text/javascript">
        //// jQuery accordion initialization
        var accordionAnimationDuration = 200;
        $("#accordion").accordion({
            collapsible: true,
            active: false,
            heightStyle: "content",
            animate: accordionAnimationDuration
        });

        //// Animate dom when opening / closing the accordion
        $(".btn-flight").click( function(){

            var headerIcon = $(this).find("div img");
            //// if accordion is going to be expanded (headerIcon is still visible) 
            if (headerIcon.is(":visible")){
                //// show another section's headerIcon
                var siblings = $(this).siblings(".btn-flight");
                siblings.find("div img, div span").show(accordionAnimationDuration);

                $('html, body').animate({
                    //// banyaknya pixel yang di scroll (ditutupin)
                    scrollTop: $("#accordion").offset().top - $("header").height()
                    // scrollTop: $(this).offset().top - $("header").height() - 8
                }, 500);
            }

            headerIcon.toggle(accordionAnimationDuration);
            $(this).find("div span").toggle(accordionAnimationDuration);
        });
    </script>
}

<div class="page-loading form-container" ng-class="{'page-loaded' : PageConfig.Loaded}" >
    <div class="carousel-inner" role="listbox">
        @if (DateTime.UtcNow.AddHours(7) >= new DateTime(2017, 03, 24, 20, 0, 0) && DateTime.UtcNow.AddHours(7).Date <= new DateTime(2017, 08, 27))
        {
            <div class="item">
                <a href="/id/Promo/PaydayMadnessPermataBank"><img src="/Assets/images/campaign/PaydayMadness/PaydayMadness-slider-mobile.jpg" alt="JOINT Payday Madness Permata Bank" /></a>
            </div>
        }
        @if (DateTime.UtcNow.AddHours(7).Date >= new DateTime(2017, 03, 23) && DateTime.UtcNow.AddHours(7).Date <= new DateTime(2017, 04, 02))
        {
            <div class="item">
                <a href="/id/Promo/PaydayMegaDeals"><img src="/Assets/images/campaign/PaydayMegaDeals/PaydayMegaDeals-slider-mobile.jpg" alt="Payday Mega Deals" /></a>
            </div>
        }
        @if (DateTime.UtcNow.AddHours(7).Date <= new DateTime(2017, 3, 31))
        {
            <div class="item">
                <a href="/id/Promo/BTNTerbanginHemat"><img src="/Assets/images/campaign/TerbanginHemat/TerbanginHemat-slider-mobile.jpg" alt="Terbangin Hemat (Terbang & Nginap Hemat)" /></a>
            </div>
        }
        <div class="item">
            <a href="http://onelink.to/travoramaapp"><img src="/Assets/images/banner/download-app.jpg" alt="Download Applikasi Travorama!" /></a>
        </div>
    </div>

    <!-- accordion -->
    <div class="main-tab clearfix">
        <div class="row group-kategori" id="accordion">
            <div class="col-xs-12 btn-flight">
                <div class="col-xs-4"><img src="/Assets/mobile/images/btn-flight.png" alt="Flight" /></div>
                <div class="col-xs-8 title-btn "><h3 class=" bold-txt">Pesawat</h3><span>Lorem ipsum dolor sit amet</span></div>
            </div>
            <div class="accordion-content form-wrapper">
                <form class="flight-form" name="flight-form" ng-submit="FlightSearchForm.Submit()" novalidate>
                    <div class="top-form row">
                        <div class="col-xs-5">
                            <div class="form-group form__origin">
                                <div class="title-destination">Asal</div>
                                <p class="form-control" ng-click="FlightSearchForm.AutoComplete.Reset('departure'); PageConfig.SetOverlay('airport-select')">
                                    <span class="code-airport">{{FlightSearchForm.AirportOrigin.Code}}</span><br /><span class="city">{{FlightSearchForm.AirportOrigin.City}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="flip-container" ng-click="flip()">
                                <a class="flip"><span class="icon-flip"></span></a>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group form__destination">
                                <div class="title-destination">Tujuan</div>
                                <p class="form-control" ng-click="FlightSearchForm.AutoComplete.Reset('return'); PageConfig.SetOverlay('airport-select')">
                                    <span class="code-airport">{{FlightSearchForm.AirportDestination.Code}}</span><br /><span class="city">{{FlightSearchForm.AirportDestination.City}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="middle-form">
                        <div class="form-group form__departure">
                            <span class="icon-pp"></span>
                            <div class="field-container">
                                <p class="form-control" ng-click="DatePicker.SetOption({Target : 'departure'}, ' ', 'form-index'); PageConfig.SetOverlay('datepicker-departure')">
                                    Berangkat <span>{{FlightSearchForm.DepartureDate | date : 'EEE, dd MMM yyyy'}}</span>
                                </p>
                            </div>
                            <input type="text" value="" ng-model="FlightSearchForm.DepartureDate" class="flight-search-form-departure hidden" />
                        </div>
                        <div class="form-group form__roundtrip">
                            <span class="icon-return"></span>
                            <div class="field-container">
                                <p class="os-bold">Pulang Pergi ?</p>
                                <label class="switch">
                                    <input type="checkbox" ng-model="val" ng-true-value="true" ng-false-value="false" ng-click="DatePicker.SetDefaultReturnDate(val)"
                                           id="flightType">
                                    <div class="slider round"></div>
                                </label>
                            </div>
                        </div>
                        <div class="form-group form__return" ng-show="val">
                            <span class="icon-pp"></span>
                            <div class="field-container">
                                <p class="form-control" ng-click="DatePicker.SetOption({Target : 'return'}, ' ', 'form-index'); PageConfig.SetOverlay('datepicker-return')">
                                    Kembali <span>{{FlightSearchForm.ReturnDate | date : 'EEE, dd MMM yyyy'}}</span>
                                    <input type="text" value="" ng-model="FlightSearchForm.ReturnDate" class="flight-search-form-return hidden" />
                                </p>
                            </div>
                        </div>
                        <div class="form-group form__flightclass">
                            <span class="icon-fc"></span>
                            <div class="field-container">
                                <select class="form-control" name="cabinclass" ng-model="FlightSearchForm.Cabin" ng-init="FlightSearchForm.Cabin = flightclass[0].value">
                                    <option ng-repeat="cabin in flightclass" value="{{cabin.value}}">{{cabin.name}}</option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                        <div class="form-group form__passenger clearfix">
                            <div class="col-custom-logo icon-adult"></div>
                            <div class="field-container form-adult col-custom-field">
                                <div class="field-wrapper">
                                    <p class="form-control" ng-click="FlightSearchForm.PassengerPicker.Reset('adult'); PageConfig.SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[0]}} Dewasa</p>
                                </div>
                            </div>
                            <div class="col-custom-logo icon-child"></div>
                            <div class="field-container form-child col-custom-field">
                                <div class="field-wrapper">
                                    <p class="form-control" ng-click="FlightSearchForm.PassengerPicker.Reset('children'); PageConfig.SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[1]}} Anak</p>
                                </div>
                            </div>
                            <div class="col-custom-logo icon-infant"></div>
                            <div class="field-container form-infant col-custom-field">
                                <div class="field-wrapper">
                                    <p class="form-control" ng-click="FlightSearchForm.PassengerPicker.Reset('infant'); PageConfig.SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[2]}} Bayi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form__submit">
                        <button class="btn btn-yellow btn-block btn-lg btnSubmit">CARI PENERBANGAN</button>
                    </div>
                </form><!-- .flight-form -->
            </div><!-- .form-wrapper -->

            <div class="col-xs-12 btn-flight">
                <div class="col-xs-4"><img src="/Assets/mobile/images/btn-hotel.png" alt="Hotel" /></div>
                <div class="col-xs-8 title-btn "><h3 class=" bold-txt">Hotel</h3><span>Lorem ipsum dolor sit amet</span></div>
            </div>
            <div class="form-wrapper">
                @Html.Partial("/Views/Shared/Mobile/_SearchHotelForm.cshtml", new HotelLocation
                {
                    IsHotelSearch = false
                })
            </div>
            <div class="col-xs-12 btn-flight">
                <div class="col-xs-4"><img src="/Assets/mobile/images/btn-Promo.png" alt="Promo" /></div>
                <div class="col-xs-8 title-btn"><h3 class=" bold-txt">Promo</h3><span>Lorem ipsum dolor sit amet</span></div>
            </div>
            <div>
                <!--TODO-->
                <p>content promo</p>
            </div>
        </div>  
    </div>

@if (ViewBag.Platform != PlatformType.IosApp && ViewBag.Platform != PlatformType.AndroidApp){

    <!-- Intro content -->
    <div class="main-tab slider-mobile clearfix">
        <div class="row">
            <h2 class="section-title stripe text-center xlg-txt">Mengapa Memilih <span>Travorama</span></h2>
            <div class="carousel-inner-mobile" role="listbox">
                <div class="item">
                    <img src="/Assets/images/harga.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Assets/images/waktu.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Assets/images/tanpa.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Assets/images/rute.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Assets/images/pilihan.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Assets/images/jaminan.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>

    <!-- Partners -->
    <div class="main-tab clearfix">
        <div class="row partner">
            <h2 class="section-title stripe text-center xlg-txt">Partner <span>Maskapai</span></h2>
            <div class="img-partner"><img src="/Assets/mobile/images/partner.png" alt="Partner" /></div>
        </div>
    </div>
    <div class="main-tab clearfix">
        <div class="row partner">
            <h2 class="section-title stripe text-center xlg-txt">Partner <span>Hotel</span></h2>
            <div class="img-partner"><img src="/Assets/mobile/images/partner.png" alt="Partner" /></div>
        </div>
    </div>

    @Html.Partial("/Views/Shared/mobile/_SiteFooter.cshtml")
} else {
    @* TODO: Footer with 'iPhone-like' menu-tab *@
    @Html.Partial("/Views/Shared/mobile/_SiteFooter.cshtml")
}
    <!-- overlays -->
        <!-- overlay date picker -->
        @Html.Partial("/Views/Shared/Mobile/_DatePickerForm.cshtml")
        <!-- overlay airport selector -->
        @Html.Partial("/Views/Shared/Mobile/_AirportSelectForm.cshtml")
        <!-- overlay passenger picker -->
        @Html.Partial("/Views/Shared/Mobile/_PassengerPickerForm.cshtml")
        <!-- overlay hotel selector -->
        @Html.Partial("/Views/Shared/Mobile/_Autocomplete.cshtml")
        <!-- overlay hotel date -->
        @Html.Partial("/Views/Shared/Mobile/_SelectCheckInDate.cshtml")
</div><!-- .page-loading -->