@using Lunggo.Framework.Config
@{
    Layout = "/Views/Shared/Desktop/_LayoutDesktop.cshtml";
    ViewBag.BodyClass = "page-index";
    ViewBag.FooterSubscribe = true;
    ViewBag.FooterPayment = true;
    ViewBag.FooterFeedback = false;
    ViewBag.Title = "Diskon untuk semua penerbangan dan hotel domestik dan internasional";
    ViewBag.AngularController = "homeController";
    //ViewBag.Campaign = true;
    ViewBag.Page = "Index";
}

@section AdditionalCSS{
    <link rel="stylesheet" type="text/css" href="/Assets/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/vendor/fullcalendar/fullcalendar.min.css" />
}

@section AdditionalJS{
    
    <!-- jquery datepicker -->
    <script type="text/javascript" src="/Assets/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="/Assets/js/jquery.ui.datepicker-id.js"></script>
    <script type="text/javascript" src="/Assets/vendor/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/Assets/vendor/fullcalendar/fullcalendar-id.min.js"></script>
}

@section PageJS{
    <script src="/Assets/travorama20/angularDirectory/search/hotelSearch.service.js"></script>
    <script src="/Assets/travorama20/js/homeController.js"></script>
    <script src="/Assets/travorama20/js/pagejs/index-page.js"></script>
    <script src="/Assets/travorama20/js/partial/subscriptionForm.js"></script>
    <script>
        var indexPageDestination = '@ViewBag.DestinationName' || '';
        var indexPageDestinationsCode = '@ViewBag.DestinationCode' || '';
        //var topDestinations = @Html.Raw(ViewBag.LocationList);
        var departureDate = '@(DateTime.Now.AddDays(1).ToString("ddMMyy"))';
    </script>
 
    @*
        <!-- currently unimplemented -->
        $(document).ready(function () {
            changeTheme(indexPageDestination);
        });
        <script> changeMainTab();</script>
    *@
}

<section class="section-search normal-txt">
    <div class="container">
        <div class="search-form">
            <header class="tab-header clearfix">
                <nav>
                    <ul>
                        <li class="flight @(ViewBag.IndexType == null || ViewBag.IndexType == "flight" ? "active" : "")"><a data-toggle="tab" id="#plane" ng-click="showForm('flight')">Pesawat</a></li>
                        <li class="hotel @(ViewBag.IndexType != null && ViewBag.IndexType == "hotel" ? "active" : "")"><a data-toggle="tab" id="#hotel" ng-click="showForm('hotel')">Hotel</a></li>
                        @*<li class="activity" data-toggle="tooltip" data-placement="bottom" title="Coming soon!"><a href="#">Activity</a></li>*@
                    </ul>
                </nav>
            </header>
            <section class="tab-content">
                <div class="tab-flight tab-pane clearfix @(ViewBag.IndexType == null || ViewBag.IndexType == "flight" ? "active" : "")" id="plane">
                    <form class="form form-horizontal form-flight" action="id/Flight/" method="GET" autocomplete="off">
                        <h3 class="text-center">Cari <b>Tiket Pesawat</b></h3>

                        <div class="form-group flight-type">
                            <div class="col-xs-6">
                                <label>
                                    <input type="radio" name="flightType" class="form-flight-type" value="return" />
                                    <span>Pulang Pergi</span>
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label>
                                    <input type="radio" name="flightType" class="form-flight-type" value="oneWay" checked />
                                    <span>Sekali Jalan</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group flight-destination">
                            <div class="col-xs-12">
                                <input type="text" class="form-flight-origin form-flight-location form-control" value="" placeholder="Kota Asal" />
                            </div>
                            <div class="text-center col-xs-12">
                                <span class="switch-destination"></span>
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="form-flight-destination form-flight-location form-control" value="" placeholder="Kota Tujuan" />
                            </div>
                        </div>

                        <div class="form-group flight-date">
                            <div class="col-xs-6">
                                <div class="form-flight-departure">
                                    <div class="grey-txt xs-txt">Tanggal Keberangkatan</div>
                                    <span class="date">28</span>
                                    <span class="month">Okt</span>
                                    <span class="year">2015</span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-flight-return disabled">
                                    <div class="grey-txt xs-txt">Tanggal Pulang</div>
                                    <span class="date">28</span>
                                    <span class="month">Okt</span>
                                    <span class="year">2015</span>
                                </div>
                                <div class="form-flight-oneway">
                                    <div class="grey-txt xs-txt">Tanggal Pulang</div>
                                    <h5>SEKALI JALAN</h5>
                                </div>
                            </div>
                        </div>

                        <div class="form-group flight-class">
                            <div class="col-xs-12">
                                <div class="form-control text-center form-flight-class">
                                    <span class="grey-txt">Kelas Ekonomi</span>
                                    <div class="option">
                                        <span class="economy" data-value="y">Kelas Ekonomi</span>
                                        <span class="business" data-value="c">Kelas Bisnis</span>
                                        <span class="first" data-value="f">Kelas Utama</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group flight-passenger">
                            <div class="col-xs-4">
                                <div class="form-flight-passenger adult" data-toggle="tooltip" data-placement="left" title="Tidak boleh kosong">
                                    <h5 class="passenger-input adult">1</h5>
                                    <div class="grey-txt">
                                        Dewasa<br />(&gt;12th)
                                    </div>
                                    <div class="option">
                                        <span>1</span>
                                        <span>2</span>
                                        <span>3</span>
                                        <span>4</span>
                                        <span>5</span>
                                        <span>6</span>
                                        <span>7</span>
                                        <span>8</span>
                                        <span>9</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-flight-passenger child">
                                    <h5 class="passenger-input child">0</h5>
                                    <div class="grey-txt">
                                        Anak<br />(2-12th)
                                    </div>
                                    <div class="option">
                                        <span>0</span>
                                        <span>1</span>
                                        <span>2</span>
                                        <span>3</span>
                                        <span>4</span>
                                        <span>5</span>
                                        <span>6</span>
                                        <span>7</span>
                                        <span>8</span>
                                        <span>9</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-flight-passenger infant" data-toggle="tooltip" data-placement="right" title="Tidak boleh lebih dari jumlah penumpang dewasa">
                                    <h5 class="passenger-input infant">0</h5>
                                    <div class="grey-txt">
                                        Bayi<br />(&lt;2th)
                                    </div>
                                    <div class="option">
                                        <span>0</span>
                                        <span>1</span>
                                        <span>2</span>
                                        <span>3</span>
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group flight-submit">
                            <div class="col-xs-12">
                                <input type="text" name="info" value="" class="hidden" />
                                <input type="submit" class="btn btn-yellow block flight-submit-button md-txt lg-btn" value="CARI" />
                            </div>
                        </div>


                    </form>
                </div><!-- .tab-flight -->
                <div class="tab-hotel tab-pane clearfix @(ViewBag.IndexType != null && ViewBag.IndexType == "hotel" ? "active" : "")" id="hotel">
                    <div>
                        <h3 class="text-center">Cari <b>Kamar Hotel</b><br /><span class="sub-title">(Domestik &amp; Internasional)</span></h3>
                        <form class="form form-horizontal form-hotel page-hotel" ng-submit="hotel.searchHotel()" autocomplete="off">
                            <div class="form-group hotel-location ">
                                <div class="col-xs-12">
                                    <input type="text" name="hotelLocation" value="" id="inputLocationHotel"
                                           class="form-hotel-location form-control" placeholder="Kota, Wilayah atau Nama Hotel"
                                           ng-model="hotelSearch.locationDisplay" ng-click="view.showHotelSearch = true" />
                                </div>
                            </div>

                            <div class="form-group hotel-date">
                                <div class="col-xs-12">
                                    <div class="form-hotel-checkin text-center">
                                        <span class="grey-txt">Tanggal Check in</span>
                                        <div class="date-hotel">{{hotelSearch.checkinDateDisplay}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group hotel-room-night">
                                <div class="col-xs-6 dropdown-container">
                                    <div class="form-control form-hotel-night clearfix">
                                        <div class="col-4"><span class="grey-txt normal-txt">Malam</span></div>
                                        <div class="col-6 input-hotel">{{hotelSearch.nightCount}}</div>
                                        <div class="option" ng-model="hotelSearch.nightCount">
                                            <span data-value="" ng-repeat="nightCount in hotelSearch.nightrange track by $index"
                                                  ng-click="hotelSearch.nightCount = nightCount">{{nightCount}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 dropdown-container">
                                    <div class="form-control form-hotel-room clearfix">
                                        <div class="col-4"><span class="grey-txt normal-txt">Jumlah Kamar</span></div>
                                        <div class="col-6 input-hotel">{{hotelSearch.roomCount}}</div>
                                        <div class="option" ng-model="hotelSearch.roomCount">
                                            <span data-value="" ng-repeat="roomCount in hotelSearch.roomrange track by $index"
                                                  ng-click="hotelSearch.roomCount = roomCount">{{roomCount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group hotel-detail clearfix">
                                <div class="col-xs-12 white-txt">Rincian Jumlah Tamu</div>
                                <div class="col-xs-6 white-txt total-adult clearfix">
                                    <div class="col-half title">Jumlah Dewasa</div>
                                    <span class="text-right semibold-txt col-half total">{{hotelSearch.totalAdult}}</span>
                                </div>
                                <div class="col-xs-6 white-txt total-child clearfix">
                                    <div class="col-half title">Jumlah Anak</div>
                                    <span class="text-right semibold-txt col-half total">{{hotelSearch.totalChildren}}</span>
                                </div>
                            </div>
                            <div class="col-xs-12 white-txt" ng-show="hotelSearch.searchinghotel">
                                Sedang melakukan pencarian...
                            </div>

                            <div class="form-group hotel-submit">
                                <div class="col-xs-12">
                                    <input type="submit" name="hotelSubmit" value="CARI" class="btn btn-yellow block form-control md-txt lg-btn" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div><!-- .tab-hotel -->
                <div class="tab-activity hidden">
                    <hgroup>
                        <h2>Temukan Banyak<br /><b>Aktifitas Menarik</b><br />Yang Bisa Anda<br />Lakukan</h2>
                        <h4>Ribuan Aktifitas di 20+ Tempat Tujuan<br />(Domestik &amp; Internasional)</h4>
                    </hgroup>
                    <hr />
                    <h3><b>Tour &amp; Activity</b> Booking</h3>
                    <form class="form form-activity">
                        <div class="form-group">
                            <input type="text" name="activityLocation" value="" placeholder="Kota, Wilayah atau Aktifitas" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="activitySubmit" value="CARI" class="btn btn-yellow block form-control md-txt lg-btn" />
                        </div>
                    </form>
                </div><!-- .tab-activity -->
            </section>

        </div><!-- .search-form -->
        @Html.Partial("/Views/Shared/Desktop/_SearchCalendarHotel.cshtml")
        @Html.Partial("/Views/Shared/Desktop/_SearchCalendar.cshtml")
        @Html.Partial("/Views/Shared/Desktop/_SearchLocation.cshtml")
        @Html.Partial("/Views/Shared/Desktop/_SearchHotel.cshtml")
        @Html.Partial("/Views/Shared/Desktop/_ChildrenAgeForm.cshtml")
    </div><!-- .container -->
    @if (ViewBag.DestinationName == null || ViewBag.DestinationName == "")
    {
        <div class="page-slider">
            <div class="slider-wrapper" id="index-wrapper">
                @if (DateTime.UtcNow.AddHours(7) >= new DateTime(2017, 03, 24, 20, 0, 0) && DateTime.UtcNow.AddHours(7).Date <= new DateTime(2017, 08, 27))
                {
                    <div class="slider">
                        <a href="/id/Promo/PaydayMadnessPermataBank">
                        @* <!-- <a href="@Url.Action("PaydayMadnessPermataBank", "Promo")"> --> *@
                            <img src="/Assets/images/campaign/PaydayMadness/PaydayMadness-slider.jpg" alt="Payday Madness Permata Bank" />
                        </a>
                    </div>
                }
                @if (DateTime.UtcNow.AddHours(7).Date >= new DateTime(2017, 03, 23) && DateTime.UtcNow.AddHours(7).Date <= new DateTime(2017, 04, 02))
                {
                    <div class="slider">
                        <a href="@Url.Action("PaydayMegaDeals", "Promo")">
                            <img src="/Assets/images/campaign/PaydayMegaDeals/PaydayMegaDeals-slider.jpg" alt="Payday Mega Deals" />
                        </a>
                    </div>
                }
                @if (DateTime.UtcNow.AddHours(7).Date <= new DateTime(2017, 3, 31))
                {
                    <div class="slider">
                        <a href="@Url.Action("BTNTerbanginHemat", "Promo")">
                            <img src="/Assets/images/campaign/TerbanginHemat/TerbanginHemat-slider.jpg" alt="Terbangin Hemat (Terbang & Nginap Hemat)" />
                        </a>
                    </div>
                }
                <div class="slider">
                    <a href="@Url.Action("TravoramaMobileApp","StaticPage")">
                        <img src="/Assets/images/campaign/MobileApp/mobile-app-banner.jpg" alt="Download Travorama Mobile App" />
                    </a>
                </div>
                <div class="slider">
                    <a href="#">
                        <img src="/Assets/images/default-banner.jpg" alt="Travorama" />
                    </a>
                </div>
            </div>
        </div><!-- .slider -->
    }
    else
    {
        <div class="page-slider" style="background-image:url('/Assets/images/campaign/@(ViewBag.DestinationName.Replace(" ","")).jpg');">
            <div class="slider-text hidden">
                <h1><img src="/Assets/images/enjoyyoureverymoment.png" alt="Enjoy Your Every Moment" /></h1>
                <p>Ke mana pun Anda ingin bepergian, kami menyediakan pilihan penerbangan <br /> domestik dan internasional dari 900 maskapai</p>
            </div>
        </div><!-- .slider -->
    }
</section><!-- .section-search -->

<section class="section-why">
    <div class="container text-center">
        <div class="section-titles stripe xlg-txt">Mengapa memilih <span class="os-bold blue-txt">Travorama?</span></div>
        <div class="row">
            <div class="col-xs-4">
                <div class="sw-img sw-disc"></div>
                <div class="blue-txt md-txt">Harga <span class="os-bold">Diskon<br />Setiap Hari </span></div>
                <div class="normal-txt">Potongan harga untuk setiap transaksi di Travorama. Temukan harga bersaing dibandingkan Online Travel Agent lain.</div>
            </div>
            <div class="col-xs-4">
                <div class="sw-img sw-active"></div>
                <div class="blue-txt md-txt">Waktu<br /><span class="os-bold">Pembayaran Panjang</span></div>
                <div class="normal-txt">Waktu pembayaran tiket pesawat dan kamar hotel lebih panjang dibandingkan Online Travel Agent pada umumnya.</div>
            </div>
            <div class="col-xs-4">
                <div class="sw-img sw-free"></div>
                <div class="blue-txt md-txt">Tanpa<br /><span class="os-bold">Biaya Tambahan</span></div>
                <div class="normal-txt">Harga yang tercantum adalah harga final, tanpa biaya tersembunyi.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="sw-img sw-flight"></div>
                <div class="blue-txt md-txt">Rute <span class="os-bold">Penerbangan<br />Domestik & Internasional<br /></span></div>
                <div class="normal-txt">Temukan 9000 rute penerbangan antar kota dan antar negara.</div>
            </div>
            <div class="col-xs-4">
                <div class="sw-img sw-hotel"></div>
                <div class="blue-txt md-txt">Pilihan<br /> <span class="os-bold">Hotel Maksimal</span></div>
                <div class="normal-txt">Terdapat 85.000 listing hotel di seluruh dunia.</div>
            </div>
            <div class="col-xs-4">
                <div class="sw-img sw-trust"></div>
                <div class="blue-txt md-txt">Jaminan <span class="os-bold">Pembayaran <br />Online Aman & Mudah</span></div>
                <div class="normal-txt">Enkripsi Rapid SSL menjamin privasi dan keamanan saat melakukan transaksi online.</div>
            </div>
        </div>
    </div>
</section><!-- .section-why -->

@* ga dipake
<section class="section-why">
    <div class="container text-center">
        <div class="section-titles stripe xlg-txt">Partner <span class="os-bold blue-txt">Maskapai</span></div>
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("/Views/common/partner-flight.cshtml")
            </div>
        </div>
    </div>
</section>
*@

<!-- Partners -->
<section>
    @Html.Partial("/Views/common/partners.cshtml")
</section>

<section class="section-calendar-price">
    <div class="container">
        <div class="section-titles stripe xlg-txt text-center ">Cari Tanggal <span class="os-bold blue-txt">Termurah</span></div>
        <div class="row container-calendar">
            <div class="col-xs-5">
                <div class="price-calendar">
                    <div class="search-map">
                        <div class="row normal-txt semibold-txt">
                            <div class="col-xs-12 container-form-location">
                                <div class="col-xs-12 label-form-location" id="searchFrom">Dari</div>
                                <div class="col-xs-12">
                                    <input class="map-input" type="text" name="searchFrom">
                                </div>
                            </div>
                            <div class="col-xs-12 container-form-location">
                                <div class="col-xs-12 label-form-location" id="searchTo">Ke</div>
                                <div class="col-xs-12">
                                    <input class="map-input" type="text" name="searchTo">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12 label-form-location">Bulan</div>
                                <div class="col-xs-12">
                                    <select id="month-year-select" class="hidden">
                                        <option value="" id="smonth0"></option>
                                        <option value="" id="smonth1"></option>
                                        <option value="" id="smonth2"></option>
                                        <option value="" id="smonth3"></option>
                                        <option value="" id="smonth4"></option>
                                        <option value="" id="smonth5"></option>
                                        <option value="" id="smonth6"></option>
                                        <option value="" id="smonth7"></option>
                                        <option value="" id="smonth8"></option>
                                        <option value="" id="smonth9"></option>
                                        <option value="" id="smonth10"></option>
                                        <option value="" id="smonth11"></option>
                                        <option value="" id="smonth12"></option>
                                    </select>
                                    <div class="dropdown form-control clearfix select-my">
                                        <div class="selected-my"></div>
                                        <div class=" option" id="month-year">
                                            <div id="month0"></div>
                                            <div id="month1"></div>
                                            <div id="month2"></div>
                                            <div id="month3"></div>
                                            <div id="month4"></div>
                                            <div id="month5"></div>
                                            <div id="month6"></div>
                                            <div id="month7"></div>
                                            <div id="month8"></div>
                                            <div id="month9"></div>
                                            <div id="month10"></div>
                                            <div id="month11"></div>
                                            <div id="month12"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 ">
                                    <a class="btn btn-yellow lg-btn md-txt btn-calendar" id="submitCalendar">CARI</a>
                                </div>
                            </div>
                        </div>
                        <div class="location-choice">
                            @Html.Partial("/Views/Shared/Desktop/_SearchLocation.cshtml")
                        </div>
                    </div>
                    <!--<div id="pc-datepicker"></div> -->
                </div>
            </div>
            <div class="col-xs-7">
                <div id="pc-datepicker"></div>
            </div>

        </div>
    </div>
</section>

<section class="section-subscribe">
    <div class="container">
        <div class="info-subscribe">
            <p>Booking Tiket Mudah & Cepat</p>
            <span>Rasakan kemudahan booking tiket di HP Anda<br />dengan download GRATIS Travorama Mobile App</span>
            <div class="btn-download">
                <div class="btn-1">
                    <a href="https://play.google.com/store/apps/details?id=com.travorama&amp;hl=en"><img src="Assets/images/googlePlay.png" /></a>
                    <a href="https://appsto.re/id/N8Dgeb.i"><img src="Assets/images/appStore.png" /></a>
                </div>
            </div>
        </div>  
    </div>
</section><!-- .section-subscribe -->

<section class="section-popular">
    <div class="container">
        @Html.Partial("/Views/Shared/Desktop/_PopularHotel.cshtml")
    </div>
</section>



@*// location
    ViewBag.LocationData = new Dictionary<string, string>
    ();
    ViewBag.LocationData["Jakarta"] = "[{'name' : 'Surabaya','origin' : 'SUB','price' : '500000'},{'name' : 'Medan','origin' : 'KNO',	'price' : '700000'},{'name' : 'Denpasar','origin' : 'DPS','price' : '500000'},{'name' : 'Semarang','origin' : 'SRG','price' : '300000'},{'name' : 'Singapore','origin' : 'SIN','price' : '200000'},{'name' : 'Yogyakarta','origin' : 'JOG','price' : '300000'},{'name' : 'Balikpapan','origin' : 'BPN','price' : '600000'},{'name' : 'Makassar','origin' : 'UPG','price' : '600000'},{'name' : 'Batam','origin' : 'BTH','price' : '500000'}]";
    ViewBag.LocationData["Bali"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '500000'},{'name' : 'Medan','origin' : 'KNO','price' : '1000000'},{'name' : 'Surabaya','origin' : 'SUB','price' : '300000'},{'name' : 'Bandung','origin' : 'BDO','price' : '400000'},{'name' : 'Semarang','origin' : 'SRG','price' : '600000'},{'name' : 'Kuala Lumpur','origin' : 'KUL','price' : '300000'},{'name' : 'Yogyakarta','origin' : 'JOG','price' : '400000'},{'name' : 'Balikpapan','origin' : 'BPN','price' : '800000'},{'name' : 'Mataram','origin' : 'AMI','price' : '200000'}]";
    ViewBag.LocationData["Malaysia"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '400000'},{'name' : 'Medan','origin' : 'KNO','price' : '300000'},{'name' : 'Surabaya','origin' : 'SUB','price' : '300000'},{'name' : 'Singapore','origin' : 'SIN','price' : '200000'},{'name' : 'Bandung','origin' : 'BDO','price' : '500000'},{'name' : 'Yogyakarta','origin' : 'JOG','price' : '400000'},{'name' : 'Bali','origin' : 'DPS','price' : '300000'},{'name' : 'Padang','origin' : 'DPG','price' : '300000'},{'name' : 'Pekanbaru','origin' : 'PKU','price' : '300000'}]";
    ViewBag.LocationData["Yogyakarta"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '300000'},{'name' : 'Bali','origin' : 'DPS','price' : '400000'},{'name' : 'Medan','origin' : 'KNO','price' : '900000'},{'name' : 'Surabaya','origin' : 'SUB','price' : '300000'},{'name' : 'Makassar','origin' : 'UPG','price' : '700000'},{'name' : 'Balikpapan','origin' : 'BPN','price' : '500000'},{'name' : 'Batam','origin' : 'BTH','price' : '900000'},{'name' : 'Banjarmasin','origin' : 'BDJ','price' : '600000'},{'name' : 'Palembang','origin' : 'PLM','price' : '700000'}]";
    ViewBag.LocationData["Singapore"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '200000'},{'name' : 'Surabaya','origin' : 'SUB','price' : '400000'},{'name' : 'Bali','origin' : 'DPS','price' : '500000'},{'name' : 'Medan','origin' : 'KNO','price' : '500000'},{'name' : 'Yogyakarta','origin' : 'JOG','price' : '600000'},{'name' : 'Semarang','origin' : 'SRG','price' : '400000'},{'name' : 'Kuala Lumpur','origin' : 'KUL','price' : '200000'},{'name' : 'Bandung','origin' : 'BDO','price' : '500000'},{'name' : 'Hong Kong','origin' : 'HKG','price' : '800000'}]";
    ViewBag.LocationData["Bandung"] = "[{'name' : 'Surabaya','origin' : 'SUB','price' : '400000'},{'name' : 'Kuala Lumpur','origin' : 'KUL','price' : '500000'},{'name' : 'Palembang','origin' : 'PLM','price' : '700000'},{'name' : 'Medan','origin' : 'KNO','price' : '600000'},{'name' : 'Bali','origin' : 'DPS','price' : '500000'},{'name' : 'Mataram','origin' : 'AMI','price' : '700000'},{'name' : 'Batam','origin' : 'BTH','price' : '500000'},{'name' : 'Yogyakarta','origin' : 'JOG','price' : '400000'},{'name' : 'Singapore','origin' : 'SIN','price' : '500000'}]";
    ViewBag.LocationData["Surabaya"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '400000'},{'name' : 'Makassar','origin' : 'UPG','price' : '500000'},{'name' : 'Bandung','origin' : 'BDO','price' : '400000'},{'name' : 'Balikpapan','origin' : 'BPN','price' : '500000'},{'name' : 'Medan','origin' : 'KNO','price' : '800000'},{'name' : 'Bali','origin' : 'DPS','price' : '300000'},{'name' : 'Singapore','origin' : 'SIN','price' : '400000'},{'name' : 'Mataram','origin' : 'AMI','price' : '300000'},{'name' : 'Kuala Lumpur','origin' : 'KUL','price' : '300000'}]";
    ViewBag.LocationData["Hongkong"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '1000000'},{'name' : 'Surabaya','origin' : 'SUB','price' : '1000000'},{'name' : 'Bali','origin' : 'DPS','price' : '1000000'},{'name' : 'Medan','origin' : 'KNO','price' : '1000000'},{'name' : 'Singapore','origin' : 'SIN','price' : '900000'},{'name' : 'Kuala Lumpur','origin' : 'KUL','price' : '900000'},{'name' : 'Shanghai','origin' : 'PVG','price' : '1000000'},{'name' : 'Bangkok','origin' : 'BKK','price' : '1000000'},{'name' : 'Bandung','origin' : 'BDO','price' : '1000000'}]";

    ViewBag.LocationList = "''";
    ViewBag.DestinationCode = "";
    ViewBag.DestinationName = "";

    if (ViewBag.Destination != null)
    {

    string destination = ViewBag.Destination;

    // switch location
    switch (destination.ToLower())
    {
    case "jakarta":
    ViewBag.DestinationName = "Jakarta";
    ViewBag.DestinationCode = "CGK";
    ViewBag.LocationList = ViewBag.LocationData["Jakarta"];
    break;
    case "bali":
    ViewBag.DestinationName = "Bali";
    ViewBag.DestinationCode = "DPS";
    ViewBag.LocationList = ViewBag.LocationData["Bali"];
    break;
    case "malaysia":
    ViewBag.DestinationName = "Malaysia";
    ViewBag.DestinationCode = "KUL";
    ViewBag.LocationList = ViewBag.LocationData["Jakarta"];
    break;
    case "yogyakarta":
    ViewBag.DestinationName = "Yogyakarta";
    ViewBag.DestinationCode = "JOG";
    ViewBag.LocationList = ViewBag.LocationData["Yogyakarta"];
    break;
    case "singapore":
    ViewBag.DestinationName = "Singapore";
    ViewBag.DestinationCode = "SIN";
    ViewBag.LocationList = ViewBag.LocationData["Singapore"];
    break;
    case "bandung":
    ViewBag.DestinationName = "Bandung";
    ViewBag.DestinationCode = "BDO";
    ViewBag.LocationList = ViewBag.LocationData["Bandung"];
    break;
    case "surabaya":
    ViewBag.DestinationName = "Surabaya";
    ViewBag.DestinationCode = "SUB";
    ViewBag.LocationList = ViewBag.LocationData["Surabaya"];
    break;
    case "hongkong":
    ViewBag.DestinationName = "Hong Kong";
    ViewBag.DestinationCode = "HKG";
    ViewBag.LocationList = ViewBag.LocationData["Hongkong"];
    break;
    default:
    ViewBag.DestinationName = "";
    ViewBag.DestinationCode = "";
    ViewBag.LocationList = "''";
    break;
    }*@
