@using System.Globalization
@using System.Web.Optimization
@using Lunggo.ApCommon.Activity.Model
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Hotel.Model
@using Lunggo.ApCommon.Hotel.Service
@using Lunggo.ApCommon.Identity.Users
@using Lunggo.ApCommon.Payment.Constant
@using Lunggo.CustomerWeb.Helper
@using Lunggo.Framework.Context
@using Lunggo.Framework.Extension
@using Lunggo.ApCommon.Product.Model
@using Lunggo.Framework.Environment
@using React.Web.Mvc
@model Lunggo.ApCommon.Payment.Model.CartPaymentDetails

@{
    Layout = "/Views/Shared/mobile/_LayoutReactWebview.cshtml";
    ViewBag.BodyClass = "page-checkout page-checkout-flight";
    ViewBag.SiteHeader = "Payment";
    ViewBag.Title = "Pembayaran";
}

@section AdditionalCSS {
    <link href="~/Assets/js/Payment/style.css" rel="stylesheet" />
}

@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.0.4/jquery.countdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha512.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js"></script>
    <!-- veritrans JS -->
    <script src=@(EnvVariables.Get("veritrans", "endPoint") + "/v2/assets/js/midtrans.min.js")></script>
}

@*@Html.React("CommentBox", new
    {
        //headerTitle = "Halaman Pembayaran",
        ////creditBalance = ViewBag.CreditsAvailable,

        //cartId = Model.CartId,
        //originalPrice = Model.OriginalPriceIdr,
        //termsUrl = Url.Action("Terms","StaticPage"),
        //privacyUrl = Url.Action("Privacy","StaticPage"),

        //rsvNo = Model.RsvNo,
        //lastMethodUsed = 'pembayaran yang terakhir di gunakan',


        //pricingDetails = 'rincian transaksi',
        //mandiriClickpayToken = Model.TrxId.GetHashCode() % 100000,
        //uniqueCode = UniqueCodePaymentConfig.UniqueCode,
    })*@

<div id="react"></div>
<script>
    var cartId = '@Model.CartId';
    var pricingDetails =
        @Html.Raw((ViewBag.RsvList as List<ActivityReservationForDisplay>).Zip(Model.RsvPaymentDetails,
               (a,b) => new {name = a.ActivityDetail.Name, price = b.OriginalPriceIdr})
               .Serialize());
    var veritransUrl = '@EnvVariables.Get("veritrans", "tokenEndPoint")';
    var veritransKey = '@EnvVariables.Get("veritrans","clientKey")';
</script>
<script src=@Fingerprint.Tag("/Assets/js/Payment/paymentReact.js")></script>


@Html.ReactInitJavaScript()

