@using System.Globalization
@using Lunggo.ApCommon.Hotel.Model
@using Lunggo.ApCommon.Hotel.Service
@using Lunggo.Framework.Context
@using Lunggo.Framework.Extension
@model Lunggo.CustomerWeb.Models.HotelCheckoutData
@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.BodyClass = "page-hotel page page-checkout";
    ViewBag.AngularController = "hotelcheckoutController";
    ViewBag.SiteHeader = "Checkout";
    ViewBag.Title = "Checkout";
}
@{
    var rooms = new List<HotelRoomForDisplay>();
    var token = "";
    Model.HotelDetail.MainImage = "http://photos.hotelbeds.com/giata/" + Model.HotelDetail.MainImage;
    var roomImage = "";
    var index = 1;
    var textInfo = new CultureInfo("en-US", false).TextInfo;
    var orderedRooms = new List<Tuple<string, int>>();
    try
    {

        if (Model.HotelDetail.ImageUrl != null && Model.HotelDetail.ImageUrl.Count != 0)
        {
            roomImage = "http://photos.hotelbeds.com/giata/" + Model.HotelDetail.ImageUrl.FirstOrDefault();
        }
        rooms = Model.HotelDetail.Rooms;
        token = Model.Token;
        foreach (var room in rooms)
        {
            var roomName = room.RoomName;
            var sum = 0;
            foreach (var rate in room.Rates)
            {
                sum += rate.RoomCount;
            }
            orderedRooms.Add(new Tuple<string, int>(roomName, sum)); ;
        }

    }
    catch
    {
        ViewBag.Message = "BookExpired";
    }

}

@functions{

    public string ToTitleCase(string input)
    {

        var text = "";
        try
        {
            var splittedText = input.Split(' ');
            foreach (var word in splittedText)
            {
                var splittedByStrips = word.Split('-');
                var w = "";
                if (splittedByStrips.Count() != 1)
                {
                    foreach (var part in splittedByStrips)
                    {
                        w += ApplyTitleCase(part) + "-";
                    }
                    text += w.Substring(0, w.Length - 1) + " ";
                }
                else
                {
                    text += word[0] + word.Substring(1, word.Length - 1).ToLower() + " ";
                }
            }

        }
        catch
        {

        }
        return text.Length == 0 ? "" : text.Substring(0, text.Length - 1);
    }


    public string ApplyTitleCase(string input)
    {
        return input[0] + input.Substring(1, input.Length - 1).ToLower();
    }

}
@section AdditionalCSS {
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
    <!-- fancybox CSS-->
    <link href="/Assets/vendor/fancybox/jquery.fancybox.css" rel="stylesheet" />
}

@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/jquery.countdown.min.js"></script>
    <script src="/Assets/js/CryptoJS/components/core-min.js"></script>
    <script src="/Assets/js/CryptoJS/rollups/sha512.js"></script>
    <script src="/Assets/js/CryptoJS/components/enc-base64-min.js"></script>
    <!-- veritrans JS -->
    <script src="https://api.sandbox.veritrans.co.id/v2/assets/js/veritrans.min.js"></script>
    <!-- fancybox -->
    <script type="text/javascript" src="/Assets/vendor/fancybox/jquery.fancybox.pack.js"></script>
}

@section PageJS{
    <script>
        var langCode = '@OnlineContext.GetActiveLanguageCode()';
        var hotelDetail = @Html.Raw(Model.HotelDetail.Serialize());
        var expirytime = '@Model.ExpiryTime';
        var originalFare = '@Model.HotelDetail.OriginalFare';
        var netFare = '@Model.HotelDetail.NetFare';
        var totalRoom = '@Model.HotelDetail.Rooms.SelectMany(r => r.Rates).Sum(p => p.RoomCount)';
        var checkin = '@Model.HotelDetail.CheckInDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))';
        var checkout = '@Model.HotelDetail.CheckOutDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))';
        var nights = '@((Model.HotelDetail.CheckOutDate - Model.HotelDetail.CheckInDate).Days)';
        var country = '@Model.HotelDetail.CountryName';
        var token = '@Model.Token';
        if (getParam('page') == 2) {
            currentPage = getParam('page');
        } else {
            currentPage = 1;
        }
    </script>
    
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/hotelcheckoutController.js"></script>
}

<header class="page__header">
    <div class="step__wrapper">
        <div class="step-hotel step-1" ng-class="{'active' : currentPage == 1, 'inactive' : currentPage > 1}"><span>01. Data <br />Kontak dan Tamu</span></div>
        <div class="step-hotel step-2" ng-class="{'active' : currentPage == 2, 'inactive' : currentPage > 2}"><span>02. Review <br />Pesanan</span></div>
    </div>
</header>
<section class="checkout-content">
    <div class=" page-step-1" ng-show="currentPage == 1" @*style="display: none;"*@>
        <div class="form-hotel">
            <h3><b>DATA</b> KONTAK</h3>
            <form name="BuyerForm" novalidate>
                <div class="form-group">
                    <label class="control-label">Titel : </label>
                    <select class="form-control" name="title" ng-model="buyerInfo.title" ng-init="buyerInfo.title = titles[0].value">
                        <option ng-repeat="title in titles" value="{{title.value}}">{{title.name}}</option>
                    </select>
                </div>

                <div class="form-group important">
                    <label class="control-label">Nama Lengkap : </label>
                    <input type="text" value="" @*pattern="[a-zA-Z\s]+"*@ ng-model="buyerInfo.name" name="name" class="form-control nama" placeholder="Nama Lengkap" required />
                    <div ng-show="!checkName(buyerInfo.name)" style="color:red">
                        Nama tidak boleh mengandung karakter selain alfabet dan spasi
                    </div>
                </div>

                <div class="form-group important">
                    <label class="control-label">Nomor Telepon : </label>
                    <div class="row">
                        <div class="col-xs-12 bottom-divider">
                            <p><small>Kode Negara</small></p>
                            <select class="form-control" name="PhoneCode" ng-model="buyerInfo.countryCode" ng-init="buyerInfo.countryCode = '62'">
                                <option ng-repeat="country in countries" ng-selected="country.dial_code == buyerInfo.countryCode" value="{{country.dial_code}}">{{country.name}} ({{country.dial_code}})</option>
                            </select>
                            @*<input type="number" value="" ng-model="buyerInfo.countryCode" name="PhoneCode" class="form-control" placeholder="Ex : 62 for Indonesia" required />*@
                        </div>
                        <div class="col-xs-12">
                            <p><small>Nomor Telepon (Tanpa Kode Negara)</small></p>
                            <input type="number" value="" ng-model="buyerInfo.phone" name="Phone" class="form-control" placeholder="Ex : 821 2345 6789" required />
                        </div>
                    </div>
                </div>

                <div class="form-group important" ng-class="{'has-error' : BuyerForm.email.$touched && BuyerForm.email.$invalid}">
                    <label class=" control-label">Masukkan alamat e-mail Anda : </label>
                    <input type="email" value="" ng-model="buyerInfo.email" name="Email" class="form-control" placeholder="Ex: name@domain.com" required />
                </div>

                <div class="form-group">
                    <label class="square active confirmation-buyer">
                        <div class="chck-container"><span class="switch"></span></div>
                        <input type="checkbox" value="false" class="ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="diffPerson" ng-change="cleanGuestInfo()">
                        <span class="name italic-txt semibold-txt">Saya tidak menginap di sini. Saya membuatkan reservasi untuk orang lain.</span>
                    </label>
                </div>
                <div ng-show ="diffPerson">
                    <h3><b>DETAIL</b> TAMU</h3>
                    
                    <div class="form-group">
                        <label class="control-label">Titel : </label>
                        <select class="form-control" name="guest-title" ng-model="guestInfo.title" ng-init="guestInfo.title= titles[0].value">
                            <option ng-repeat="title in titles" value="{{title.value}}">{{title.name}}</option>
                        </select>
                    </div>

                    <div class="form-group important">
                        <label class="control-label">Nama Lengkap : </label>
                        <input type="text" value="" @*pattern="[a-zA-Z\s]+"*@ id="buyer-name"
                               ng-model="guestInfo.name" name="guestName" class="form-control nama" placeholder="Nama Lengkap" required />
                        <div ng-show="!checkName(buyerInfo.name)" style="color:red">
                            Nama tidak boleh mengandung karakter selain alfabet dan spasi
                        </div>
                    </div>
                </div>
                

                <div class="form-group important" ng-class="{'has-error' : BuyerForm.email.$touched && BuyerForm.email.$invalid}">
                    <label class=" control-label">Catatan Khusus : </label>
                    <textarea class="form-control ng-pristine ng-untouched ng-valid" name="special-request" ng-model="buyerInfo.message"></textarea>
                </div>

                <div class="form-group">
                    <div style="color:red" ng-show="form.incompleteContactTitle">
                        Gelar pada Nama Kontak Belum Ditambahkan <br /> <br />
                    </div>
                    <div style="color:red" ng-show="form.incompleteContactName">
                        Nama pada Data Kontak Belum Ditambahkan <br /> <br />
                    </div>
                    <div style="color:red" ng-show="form.incompleteContactPhone">
                        Nomor Telepon pada Data Kontak Belum Lengkap. Silakan Pilih Kode Negara atau Lengkapi Nomor Telepon<br /> <br />
                    </div>
                    <div style="color:red" ng-show="form.incompleteContactEmail">
                        Alamat E-Mail pada Data Kontak Belum Ditambahkan<br /> <br />
                    </div>
                    <div style="color:red" ng-show="form.incompleteGuestTitle">
                        Gelar pada Nama Tamu Belum Ditambahkan <br /> <br />
                    </div>
                    <div style="color:red" ng-show="form.incompleteGuestName">
                        Nama pada Data Tamu Belum Ditambahkan <br /> <br />
                    </div>
                    <button class="btn btn-yellow form-control" ng-click="validateForm(1)" >LANJUT</button>
                </div>

            </form>

        </div>
    </div>
    <div class=" page-step-2" ng-show="currentPage == 2" >
        <div class="review-hotel">
            <div class="review-room clearfix">
                <h3 class="summary__title"><b>REVIEW</b> PESANAN</h3>
                <div class="rr-detail">
                    <div class="rr-title semibold-txt lg-txt">Hotel @Model.HotelDetail.HotelName</div>
                   
                    <div class="star" ng-show="hotelstar() == 'star'"></div>
                    <div class="star star-2" ng-show="hotelstar() == 'star star-2'"></div>
                    <div class="star star-3" ng-show="hotelstar() == 'star star-3'"></div>
                    <div class="star star-4" ng-show="hotelstar() == 'star star-4'"></div>
                    <div class="star star-5" ng-show="hotelstar() == 'star star-5'"></div>
                  
                    <div class="rr-row clearfix">
                        <div class="col-2">Alamat</div>
                        <div class="col-8">
                            @ToTitleCase(Model.HotelDetail.Address) @ToTitleCase(Model.HotelDetail.ZoneName),
                            @ToTitleCase(Model.HotelDetail.DestinationName), @Model.HotelDetail.CountryName
                        </div>
                    </div>
                    <div class="rr-row clearfix">
                        <div class="col-2">Check-in</div>
                        <div class="col-8">@Model.HotelDetail.CheckInDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                    </div>
                    <div class="rr-row clearfix">
                        <div class="col-2">Check-out</div>
                        <div class="col-8">@Model.HotelDetail.CheckOutDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                    </div>
                    <div class="rr-row clearfix">
                        <div class="col-2">Jumlah Malam</div>
                        <div class="col-8">@((Model.HotelDetail.CheckOutDate - Model.HotelDetail.CheckInDate).Days) Malam</div>
                    </div>
                </div>
                
                <div class="rr-title semibold-txt lg-txt">Kamar</div>
                
                @foreach (var room in Model.HotelDetail.Rooms)
                {
                    foreach (var rate in room.Rates)
                    {
                        var pol = 1;
                        <div class="rr-detail">
                            <div class="rr-title semibold-txt lg-txt">@index. @rate.RoomCount @ToTitleCase(room.RoomName)</div>
                            <div class="rr-row">
                                <div class="col-2">Board</div>
                                <div class="col-8">
                                    @ToTitleCase(rate.BoardDescription)
                                </div>
                                
                            </div>
                            <div class="rr-row">
                                <div class="col-2">
                                    <span>Tamu</span>
                                </div>
                                <div class="col-8">
                                    @rate.AdultCount Dewasa, @rate.ChildCount Anak
                                </div>
                            </div>

                            @if (!rate.TermAndCondition.Exists(r => r.Length < 3))
                            {
                                <div class="rr-row">
                                    <div class="col-2">
                                        <span>Ketentuan</span>
                                    </div>
                                    <div class="col-8">
                                        @String.Join(". ", rate.TermAndCondition)
                                    </div>
                                </div>
                            }
                            
                            <div class="rr-row">
                                <div class="col-2">
                                    <span></span>
                                </div>
                                <div class="col-8">
                                    @foreach (var policy in rate.Cancellation)
                                    {
                                        <div>
                                            @pol.
                                            Biaya pembatalan: Rp @(policy.Fee.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))<br />
                                            Mulai berlaku: @policy.StartTime.ToString("D", CultureInfo.CreateSpecificCulture("id-ID")) <br />
                                        </div>
                                        pol++;
                                    }
                                </div>
                            </div>
                           

                        </div>
                        index++;
                    }
                }
              
                <div class="rr-title semibold-txt lg-txt">Data Pemesan dan Tamu</div>
                <div class="rr-detail">
                    <div class="rr-row">
                        <div class="col-2">
                            <span>Pemesan</span>
                        </div>
                        <div class="col-8">
                            <span>{{changeTitle(buyerInfo.title)}} {{buyerInfo.name}}</span>
                        </div>
                    </div>

                    <div class="rr-row">
                        <div class="col-2">Telepon</div>
                        <div class="col-8">
                            <span>+{{buyerInfo.countryCode}}{{buyerInfo.phone}}</span>
                        </div>
                    </div>

                    <div class="rr-row">
                        <div class="col-2">E-mail</div>
                        <div class="col-8">
                            <span>{{buyerInfo.email}}</span>
                        </div>
                    </div>

                    <div class="rr-row">
                        <div class="col-2">Tamu</div>
                        <div class="col-8">
                            <span>{{changeTitle(guestInfo.title)}} {{guestInfo.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="rr-detail" ng-show="buyerInfo.message != null && buyerInfo.message != ''">
                    <div class="rr-title semibold-txt lg-txt">Catatan Khusus</div>
                    <div class="rr-row"><span>{{buyerInfo.message}}</span></div>
                </div>
            </div>
           
           
            <div class="price-detail clearfix">
                <h3 class="summary__title"><b>RINCIAN</b> HARGA</h3>
                @foreach (var room in rooms)
                {
                    foreach (var rate in room.Rates)
                    {
                        <div class="rr-row clearfix">
                            <div class="col-half">@rate.RoomCount @ToTitleCase(room.RoomName)
                                @ToTitleCase(HotelService.GetInstance().GetHotelBoardDescId(rate.Boards)) x {{nights}} Malam</div>
                            <div class="col-half right-txt">Rp @(rate.NetPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</div>
                        </div>
                    }

                }
                
                <div class="rr-row clearfix" ng-show="roomService > 0">
                    <div class="col-half ">Pelayanan Kamar</div>
                    <div class="col-half ">Rp {{roomService | number}}</div>
                </div>
               
                <div class="rr-row clearfix total">
                    <div class="col-half bold-txt lg-txt">Total</div>
                    <div class="col-half bold-txt lg-txt right-txt">Rp {{netFare + roomService | number}}</div>
                </div>
            </div>
        </div>
        
        <form name="finalForm">

            <button class="btn btn-grey form-control" ng-disabled="PassengerForm.$invalid" ng-click="changePage(1)">KEMBALI</button>
            <button type="submit" class="btn btn-yellow form-control" ng-disabled="book.booking" ng-click="book.send()">PESAN</button>
        </form><!-- finalForm -->

        <form action="" method="post" name="submitForm" id="rsvno" class="hidden">
            <input type="text" name="RsvNo" value="" id="rsvno-input" />
        </form>
    </div>

</section>

@*<div class="popup__wrapper" ng-class="{'active':expired == true}">
    <div class="popup">
        <header class="popup__header">
            <h4 class="popup__title">Checkout Kadaluarsa</h4>
        </header>
        <div class="popup__body">
            <div class="container_new">
                <span>Maaf, waktu checkout Anda sudah habis. Silakan klik tombol dibawah untuk kembali ke halaman pencarian.</span>
            </div>
        </div>
        <div class="popup__footer">
            <div class="container_new">
                <a class="btn btn-block btn-yellow" href="{{returnUrl}}">KEMBALI</a>
            </div>
        </div>
    </div>
</div>*@

<div class="popup__wrapper" ng-class="{'active': book.checked == true && book.isSuccess == false}">
    <div class="popup">
        <header class="popup__header">
            <h4 class="popup__title">Pemesanan Gagal</h4>
        </header>
        <div class="popup__body">
            <div class="container_new">
                <span>Mohon Maaf, pemesanan Anda gagal di proses.</span>
            </div>
        </div>
        <div class="popup__footer">
            <div class="container_new">
                <a class="btn btn-block btn-yellow" href="{{returnUrl}}">KEMBALI</a>
            </div>
        </div>
    </div>
</div>

<div class="popup__wrapper" ng-class="{'active': book.booking == true}">
    <div class="popup">
        <header class="popup__header">
            <h4 class="popup__title">Mohon Tunggu</h4>
        </header>
        <div class="popup__body">
            <div class="container_new">
                <span>Sedang memproses pemesanan Anda ke pihak hotel. Proses ini dapat berlangsung hingga 5 (lima) menit.</span>
            </div>
        </div>
    </div>
</div>

<div class="popup__wrapper" ng-class="{'active': book.checked == true && book.isSuccess == true}">
    <div class="popup">
        <header class="popup__header">
            <h4 class="popup__title">Pemesanan Berhasil</h4>
        </header>
        <div class="popup__body">
            <div class="container_new">
                <span>Mengalihkan Anda ke halaman pembayaran.</span>
            </div>
        </div>
    </div>
</div>

<div class="popup__wrapper" ng-class="{'active': book.isPriceChanged == true}">
    <div class="popup">
        <header class="popup__header">
            <h4 class="popup__title">Harga Berubah</h4>
        </header>
        <div class="popup__body price-change-body">
            <div class="container_new">
                <span>Pihak hotel baru saja mengupdate harga kamar menjadi Rp {{book.newPrice}}.</span>
            </div>
        </div>
        <div class="popup__footer">
            <div class="container_new price-change-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <form name="finalForm" id="finalForm" ng-submit="book.checkCreditCard()" class="ng-pristine ng-valid">
                            <input type="submit" class="btn btn-yellow" value="PESAN HOTEL INI">
                        </form>
                    </div>
                    <div class="col-xs-12">
                        <a class="btn btn-grey btn-block" href="{{returnUrl}}">KEMBALI</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>