    @using Lunggo.CustomerWeb.Models
@using Lunggo.Framework.Extension
@model HotelDetailModel.HotelDetail
@{
    Layout = "/Views/Shared/Desktop/_LayoutDesktop.cshtml";
    ViewBag.BodyClass = "page-hotel page-detail";
    ViewBag.Title = "Detail Hotel";
    ViewBag.AngularController = "hotelDetailController";
}
@{
    var loc = Html.Raw(Model.HotelDetailData.HotelName) + ", " + Model.HotelDetailData.City;
    var hotelFac = new List<_Page_Views_Hotel_DetailHotel_cshtml.FacilityModel>();
    var hotelName = Model.HotelDetailData.HotelName;
    var hotelAddress = Model.HotelDetailData.Address;
    var lat = Model.HotelDetailData.Latitude;
    var lng = Model.HotelDetailData.Longitude;

    if (Model.HotelDetailData.Facilities.Business != null)
    {
        hotelFac.Add(SetFacilityForDisplay(Model.HotelDetailData.Facilities.Business, "Bisnis"));
}

    if (Model.HotelDetailData.Facilities.Entertainment != null)
    {
        hotelFac.Add(SetFacilityForDisplay(Model.HotelDetailData.Facilities.Entertainment, "Hiburan"));
    }

    if (Model.HotelDetailData.Facilities.General != null)
    {
        hotelFac.Add(SetFacilityForDisplay(Model.HotelDetailData.Facilities.General, "Umum"));
    }

    if (Model.HotelDetailData.Facilities.Health != null)
        {
        hotelFac.Add(SetFacilityForDisplay(Model.HotelDetailData.Facilities.Health, "Kesehatan"));
    }

    if (Model.HotelDetailData.Facilities.Meal != null)
            {
        hotelFac.Add(SetFacilityForDisplay(Model.HotelDetailData.Facilities.Meal, "Makanan"));
    }

    if (Model.HotelDetailData.Facilities.Other != null)
                {
        hotelFac.Add(SetFacilityForDisplay(Model.HotelDetailData.Facilities.Other, "Lainnya"));
    }

    if (Model.HotelDetailData.Facilities.Sport != null)
                    {
        hotelFac.Add(SetFacilityForDisplay(Model.HotelDetailData.Facilities.Sport, "Olah Raga"));
                    }
                }

@functions{

    public class FacilityModel 
                {
        public List<List<String>> FacilityList { get; set; }
        public string FacilityGroup { get; set; }
                }

    public FacilityModel SetFacilityForDisplay(List<string> facilities, string groupName)
    {
        var facilityModel = new FacilityModel
        {
            FacilityList = new List<List<string>>()
        };
        for (var k = 0; k <= 3; k++)
        {
            facilityModel.FacilityList.Add(new List<string>());
            }

        facilityModel.FacilityGroup = groupName;
        for (var i = 0; i < facilities.Count; i++)
        {
            if (i%4 == 0)
            {
                facilityModel.FacilityList[0].Add(facilities[i]);
        }
            else if (i%4 == 1)
        {
                facilityModel.FacilityList[1].Add(facilities[i]);
        }
            else if (i % 4 == 2)
            {
                facilityModel.FacilityList[2].Add(facilities[i]);
    }

            else if (i%4 == 3)
    {
                facilityModel.FacilityList[3].Add(facilities[i]);
    }
        }

        return facilityModel;
}
}

@section AdditionalCSS{
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="/Assets/vendor/lightslider/lightslider.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Assets/vendor/slick/slick.css" />
}

@section AdditionalJS {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Assets/vendor/slick/slick.min.js"></script>
    <script src="/Assets/vendor/lightslider/lightslider.js"></script>
}

@section PageJS{
    <script>
        var loc = '@loc';
        var lat = @lat;
        var lng = @lng;
        var hotelName = '@hotelName';
        var hotelAddress = '@hotelAddress';
    </script>
    <script> var hotelImages = '@Html.Raw(Model.HotelDetailData.ImageUrl.Serialize())';</script> 
    <script src="/Assets/travorama20/js/hotelDetailController.js"></script>
    <script type="text/javascript" src="/Assets/travorama20/js/HotelController.js"></script>
    <script src="/Assets/travorama20/angularDirectory/search/hotelSearch.service.js"></script>
    <script src="/Assets/travorama20/angularDirectory/common/hotelAutocomplete.service.js"></script>
    <script type="text/javascript" src="/Assets/js/jquery.ui.datepicker-id.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCRAmMz6GPXsXi1pZAl5QUsjNTcY0ZfqVA"></script>
}

@Html.Partial("/Views/Shared/Desktop/_PageSlider.cshtml", new HotelLocation
{
    Location = loc, IsHotelSearch = true
})
<div class="travorama-hotel" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))" ng-class="{'page-loaded' : pageLoaded}">
    <div class="container">
        <div class="detail-hotel-content">
            @Html.Partial("/Views/Shared/Desktop/_BreadCrumb.cshtml")
            <a href="#" id="back-to-top" title="Back to top"></a>
            @*<div ng-show="!searchDone" class="text-center">
                <img src="/Assets/images/load.gif" style="width:5%; margin-left: 10%">
            </div>*@
            <div class="detail-hotel">
                <div class="big-slider">
                    <div class="top-desc">
                        <span class="slider-title-lg blue-txt">@ToTitleCase.ConvertToTitleCase(Model.HotelDetailData.HotelName)</span>
                        @if (Model.HotelDetailData.StarRating == 1)
                        {
                            <div class="star"></div>
                        }
                        else if (Model.HotelDetailData.StarRating == 2)
                        {
                            <div class="star star-2"></div>
                        }
                        else if (Model.HotelDetailData.StarRating == 3)
                        {
                            <div class="star star-3"></div>
                        }
                        else if (Model.HotelDetailData.StarRating == 4)
                        {
                            <div class="star star-4"></div>
                        }
                        else if (Model.HotelDetailData.StarRating == 5)
                        {
                            <div class="star star-5"></div>
                        }
                        
                        <br />
                        <span class="address" style="text-transform: capitalize">@ToTitleCase.ConvertToTitleCase(Model.HotelDetailData.Address) @ToTitleCase.ConvertToTitleCase(Model.HotelDetailData.AreaName) @ToTitleCase.ConvertToTitleCase(Model.HotelDetailData.City) @Model.HotelDetailData.PostalCode, @ToTitleCase.ConvertToTitleCase(Model.HotelDetailData.CountryName)</span>
                        @*<a href="#" class="btn-blue small">Lihat Peta</a>*@
                    </div>
                    <div class="slider-container clearfix">
                        <div class="slider clearfix">
                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                @if (Model.HotelDetailData.ImageUrl.Count >= 1)
                                {
                                    <li data-thumb="@Model.HotelDetailData.ImageUrl[0]" alt-image>
                                        <div style="background-image: url(@Model.HotelDetailData.ImageUrl[0]); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                </li>
                                }
                                
                               @if (Model.HotelDetailData.ImageUrl.Count >= 2)
                               {
                                <li data-thumb="@Model.HotelDetailData.ImageUrl[1]" alt-image>
                                    <div style="background-image: url(@Model.HotelDetailData.ImageUrl[1]); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                </li>
                               }
                                
                                @if (Model.HotelDetailData.ImageUrl.Count >= 3)
                                {
                                    <li data-thumb="@Model.HotelDetailData.ImageUrl[2]" alt-image>
                                        <div style="background-image: url(@Model.HotelDetailData.ImageUrl[2]); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                    </li>
                                }
                                
                                @if (Model.HotelDetailData.ImageUrl.Count >= 4)
                                {
                                    <li data-thumb="@Model.HotelDetailData.ImageUrl[3]" alt-image>
                                        <div style="background-image: url(@Model.HotelDetailData.ImageUrl[3]); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                    </li>
                                }
                                
                                @if (Model.HotelDetailData.ImageUrl.Count >= 5)
                                {
                                    <li data-thumb="@Model.HotelDetailData.ImageUrl[4]" alt-image>
                                        <div style="background-image: url(@Model.HotelDetailData.ImageUrl[4]); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                    </li>
                                }
                                
                                @if (Model.HotelDetailData.ImageUrl.Count >= 6)
                                {
                                    <li data-thumb="@Model.HotelDetailData.ImageUrl[5]" alt-image>
                                        <div style="background-image: url(@Model.HotelDetailData.ImageUrl[5]); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                    </li>
                                }
                                @*<li data-thumb="{{hotelImages[1]}}" alt-image>
                                    <div style="background-image: url({{hotelImages[1]}}); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                </li>
                                <li data-thumb="{{hotelImages[2]}}" alt-image>
                                    <div style="background-image: url({{hotelImages[2]}}); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                </li>
                                <li data-thumb="{{hotelImages[3]}}" alt-image>
                                    <div style="background-image: url({{hotelImages[3]}}); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                </li>
                                <li data-thumb="{{hotelImages[4]}}" alt-image>
                                    <div style="background-image: url({{hotelImages[4]}}); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                </li>
                                <li data-thumb="{{hotelImages[5]}}" alt-image>
                                    <div style="background-image: url({{hotelImages[5]}}); width: 100%; height: 590px; background-size: cover; background-position: center center;"></div>
                                </li>*@
                            </ul>
                        </div>
                        <div class="col-right-slider">
                            <div class="rs-title md-txt">Review Hotel</div>
                            <div class="rs-list rs-rating clearfix">
                                <div class="col-left-rs"><span class="rs-txt-big blue-txt">8.0</span></div>
                                <div class="col-right-rs">
                                    Sangat Baik <br />
                                    <span class="blue-txt italic-txt sm-txt">Dari 100 Ulasan</span>
                                </div>
                            </div>
                            <div class="rs-list rs-review">
                                <div class="blue-txt"><b>Ulasan dari Travorama</b></div>
                                <div class="review-bar clearfix">
                                    <div class="rb-container clearfix">
                                        <div class="rb-left">Kebersihan</div>
                                        <div class="rb-mid">:</div>
                                        <div class="rb-right">
                                            <div class="bar-horizontal">
                                                <span class="bar-range"></span>
                                            </div>
                                            <span class="total-review blue-txt">(8.6)</span>
                                        </div>
                                    </div>
                                    <div class="rb-container clearfix">
                                        <div class="rb-left">Kenyamanan</div>
                                        <div class="rb-mid">:</div>
                                        <div class="rb-right">
                                            <div class="bar-horizontal">
                                                <span class="bar-range"></span>
                                            </div>
                                            <span class="total-review blue-txt">(8.6)</span>
                                        </div>
                                    </div>
                                    <div class="rb-container clearfix">
                                        <div class="rb-left">Pelayanan</div>
                                        <div class="rb-mid">:</div>
                                        <div class="rb-right">
                                            <div class="bar-horizontal">
                                                <span class="bar-range"></span>
                                            </div>
                                            <span class="total-review blue-txt">(8.6)</span>
                                        </div>
                                    </div>
                                    <div class="rb-container clearfix">
                                        <div class="rb-left">Makanan</div>
                                        <div class="rb-mid">:</div>
                                        <div class="rb-right">
                                            <div class="bar-horizontal">
                                                <span class="bar-range"></span>
                                            </div>
                                            <span class="total-review blue-txt">(8.6)</span>
                                        </div>
                                    </div>
                                    <div class="rb-container clearfix">
                                        <div class="rb-left">Lokasi</div>
                                        <div class="rb-mid">:</div>
                                        <div class="rb-right">
                                            <div class="bar-horizontal">
                                                <span class="bar-range"></span>
                                            </div>
                                            <span class="total-review blue-txt">(8.6)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-container"><a class="btn-blue big" href="#">Selengkapnya</a></div>

                            </div>
                            <div class="rs-list rs-ta">
                                <div class="ta-title green-txt"><b>Rating dari TripAdvisor</b></div>
                                <div class="grey-txt sm-txt italic-txt">Dari 900 ulasan</div>
                                <div class="btn-container"><a class="btn-green" href="#">Selengkapnya</a></div>
                            </div>
                        </div>
                    </div>
                    @*<span ng-show="!searchDone" class="text-center">
                                <img src="/Assets/images/load.gif" class="img-loading">
                        </span>*@
                </div>
                <div class="menu-hotel clearfix">
                    <div class="col-left-hotel mh-title md-txt">Informasi Hotel</div>
                    <ul class=" col-right-hotel mh-container">
                        <li class="mh-list"><a data-value="menu-map">Peta Hotel</a></li>
                        <li class="mh-list"><a data-value="menu-facility">Fasilitas Hotel</a></li>
                        <li class="mh-list"><a data-value="menu-desc">Deskripsi Hotel</a></li>
                        @if (Model.HotelDetailData.Policy != null && Model.HotelDetailData.Policy.Count > 0)
                        {
                            <li class="mh-list"><a href="#menu-tnc">Syarat & Ketentuan Hotel</a></li>
                        } 
                    </ul>
                </div>
                
                
                <div class="room clearfix" >
                    <div class="top-title clearfix">
                        <div class="col-left-rs bg-title"><b>Pilih</b> Kamar </div>
                        <div ng-hide="!searchDone">
                            <div class="col-right-rs total-day">{{hotel.nightCount}} Malam <b>({{hotel.checkinDate | date : 'EEEE, dd MMM yyyy'}} - {{hotel.checkoutDate | date : 'EEEE, dd MMM yyyy'}})</b></div>
                            <div class="col-right-rs total-day">{{lastSearch.totalOcc}} Kamar</div>
                        </div>                  
                    </div>
                    <div ng-show="!searchDone" class="text-center">
                        <img src="/Assets/images/load.gif" style="width:5%; margin-left: 10%">
                    </div>
                    <div ng-show="noResults" style="font-size: 20px; text-align: center">
                        Hasil pencarian kamar tidak ditemukan
                    </div>
                    <div class="room-sort clearfix" ng-hide="!searchDone">
                        <div class="col-6">Tipe Kamar</div>
                        <div class="col-4">
                            <div class="tab-hotel-price clearfix">
                                <div class="tab-l bold-txt right-txt">
                                    Tampilkan Harga:
                                </div>
                                <div class="tab-wrapper tab-r">
                                    <div class="tab-border clearfix">
                                        <div class="col-6 tab-list active" href="#detail-price-night">Per kamar, per malam</div>
                                        <div class="col-4 tab-list" href="#detail-price-total">Harga total</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="room-list-container" ng-hide="!searchDone">
                            <li ng-show="$index+1 <= roomCount" ng-repeat="room in singleRoom track by $index">
                            <div class="room-list clearfix">
                                <div class="room-left" ng-show="room.roomImages === undefined || room.roomImages.length <= 0"><div class="no-room-pic"></div></div>
                                <div class="room-left" ng-show="room.roomImages !== undefined && room.roomImages.length > 0"><div class="room-pic" alt-image style="background-image: url({{room.roomImages[0]}});"></div></div>
                                <div class="room-right clearfix">
                                    <div class="room-rl">
                                        <div class="blue-txt md-txt" style="text-transform: capitalize"><b>{{room.roomName}}</b></div>
                                        <div class="facility"></div>
                                            <div class="max-people" ng-if="room.rate.breakdowns[0].board != 'RO'">Termasuk Sarapan</div>
                                        <div ng-show="room.rate.isFreeCancel">Pembatalan Gratis </div>
                                        <div ng-show="!room.rate.isFreeCancel && room.rate.isRefundable">Kebijakan Pembatalan Berlaku </div>
                                        <div ng-show="!room.rate.isFreeCancel && !room.rate.isRefundable">Tidak Dapat Dibatalkan </div>
                                        <div class="info-room">
                                            <span class="info-icon italic-txt">i</span>
                                            <span class="blue-txt sm-txt">Info Kamar</span>
                                        </div>
                                    </div>
                                    <div class="room-rm">
                                        <div class="dropdown-container">
                                            <div class="form-control change-room">
                                                <span>1</span>
                                                <div class="option">
                                                    <span data-value="y">2</span>
                                                    <span data-value="c">3</span>
                                                    <span data-value="f">4</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="room-rr">
                                        <div class="price" id="detail-price-night">
                                            <div class="underline-txt">Rp {{room.rate.breakdowns[0].originalFare | number}}</div>
                                            <div class="lg-txt"><b><sup>Rp</sup> {{room.rate.breakdowns[0].netFare | number}}</b></div>
                                        </div>
                                        <div class="price" id="detail-price-total" style="display: none;">
                                            <div class="underline-txt">Rp {{room.rate.breakdowns[0].originalTotalFare | number}}</div>
                                            <div class="lg-txt"><b><sup>Rp</sup> {{room.rate.breakdowns[0].netTotalFare | number}}</b></div>
                                        </div>
                                        <div class="xs-txt">*Harga Termasuk Pajak & Service Charge</div>
                                            <a href="" class="btn btn-yellow sm-btn" ng-click="bookRoom(room.rate)">PESAN</a>
                                    </div>
                                </div>
                            </div>
                            <div class="hotel-detail clearfix">
                                <div class=" col-left-result">
                                    <div class="col-left-top clearfix">
                                        <div class="sm-slider">
                                            <ul class="room-gallery gallery list-unstyled cS-hidden">
                                                <li data-thumb="{{roomImage}}" ng-repeat="roomImage in room.roomImages track by $index">
                                                    <div style="background-image: url({{roomImage}}); width: 100%; height: 145px; background-size: cover; background-position: center center;"></div>
                                                    <div class="total-img"><b>{{$index+1}}</b> / {{room.roomImages.length}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-left-bottom">
                                        <ul class="hd-list">
                                            <li class="hd-size">: 3 x 3 m</li>
                                            <li class="hd-bed">: {{room.rate.breakdowns[0].boardDesc}}</li>
                                            <li class="hd-view">: City View</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-right-result">
                                    <div class="hd-right-container">
                                        <ul class="hd-description">
                                            <li class="hd-point" ng-show="room.rate.cancellation != null && room.rate.cancellation.length > 0">
                                                <div class="hd-title blue-txt">Kebijakan Pembatalan</div>
                                                <div class="hd-txt">
                                                    <ul class="blue-list" style="margin-bottom: 0;">
                                                        <li ng-show="room.rate.isFreeCancel">
                                                            Gratis pembatalan sebelum tanggal <span style="color:#1daee4">{{setHoursToWIB(room.rate.freeUntil) | date:'dd MMMM yyyy HH:mm'}}</span> WIB.
                                                        </li>
                                                    </ul>
                                                    <ul class="blue-list">
                                                        <li ng-repeat="cancellation in room.rate.cancellation track by $index">
                                                            Pembatalan setelah tanggal <span style="color:#1daee4">{{setHoursToWIB(cancellation.startTime) | date:'dd MMMM yyyy HH:mm'}} WIB</span>
                                                            akan dikenakan biaya pembatalan sebesar <span style="color:#ff7200">{{(cancellation.feePercentage *100).toFixed(0)}}%</span>.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>

                                            <li class="hd-point" ng-show="room.rate.tnc != null && room.rate.tnc.length > 0">
                                                <div class="hd-title blue-txt">Ketentuan Kamar</div>
                                                <div class="hd-txt">
                                                    <ul class="blue-list">
                                                        <li ng-repeat="tnc in room.rate.tnc track by $index">{{tnc}}</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </li>
                    </ul>
                    </div>
                   
                    <div class="hotel-result clearfix" ng-hide="!searchDone">
                        <span class="hotel-result-txt">Jumlah Tipe Kamar Tersedia: <b>{{singleRoom.length}}</b></span>
                        <a href="" class="btn-hotel-result btn-blue small" ng-click="togleDisplay()">
                            Tampilkan
                            <text ng-show="roomCount == minRoomCount">semua</text>
                            <text ng-show="roomCount == maxRoomCount">sebagian</text>
                        </a>
                    </div>
                </div>
                <div class="info-hotel">
                    <div class="top-title clearfix">
                        <div class="col-left-rs bg-title"><b>Rincian Hotel</b> </div>
                    </div>
                    <div class="ih-accordion">
                        <div class="accordion-wrapper">
                            
                            <div class="accordion-title accordion md-txt" id="menu-map">Peta Hotel</div>
                            <div class="accordion-content show">
                                <div class="map-title">
                                    <div class="title-wrapper clearfix">
                                        <div class="blue-txt bold-txt md-txt">@Model.HotelDetailData.HotelName</div>
                                        <span class="star" ng-if="hotel.starRating == 1"></span>
                                        <span class="star star-2" ng-if="hotel.starRating == 2"></span>
                                        <span class="star star-3" ng-if="hotel.starRating == 3"></span>
                                        <span class="star star-4" ng-if="hotel.starRating == 4"></span>
                                        <span class="star star-5" ng-if="hotel.starRating == 5"></span>
                                    </div>
                                    <div class="map-location" style="text-transform: capitalize">@ToTitleCase.ConvertToTitleCase(Model.HotelDetailData.Address) @ToTitleCase.ConvertToTitleCase(Model.HotelDetailData.AreaName) @ToTitleCase.ConvertToTitleCase(Model.HotelDetailData.City) @Model.HotelDetailData.PostalCode, @ToTitleCase.ConvertToTitleCase(Model.HotelDetailData.CountryName)</div>
                                </div>
                                <div class="map-hotel">
                                    <div id="map"></div>
                                </div>
                            </div>

                            <div class="accordion-title accordion md-txt" id="menu-facility">Fasilitas Hotel</div>
                            <div class="accordion-content show">
                                <div class="ih-row clearfix">
                                    @if (hotelFac != null && hotelFac.Count > 0)
                                    {
                                        foreach (var facility in hotelFac)
                                        {
                                            <div class="ih-row clearfix">
                                                <div class="col-2">
                                                    @if (facility.FacilityGroup == "Umum")
                                                    {
                                                        <div class="ih-left general-lg-icon">
                                                            @facility.FacilityGroup
                                                        </div>
                                                    }
                                                    else if (facility.FacilityGroup == "Kesehatan")
                                                    {
                                                        <div class="ih-left health-lg-icon">
                                                            @facility.FacilityGroup
                                                        </div>
                                                    }
                                                    else if (facility.FacilityGroup == "Olah Raga")
                                                    {
                                                        <div class="ih-left sport-lg-icon">
                                                            @facility.FacilityGroup
                                                        </div>
                                                    }
                                                    else if (facility.FacilityGroup =="Bisnis")
                                                    {
                                                        <div class="ih-left business-lg-icon">
                                                            @facility.FacilityGroup
                                                        </div>
                                                    }
                                                    else if (facility.FacilityGroup == "Makanan")
                                                    {
                                                        <div class="ih-left meal-lg-icon">
                                                            @facility.FacilityGroup
                                                        </div>
                                                    }
                                                    else if (facility.FacilityGroup == "Hiburan")
                                                    {
                                                        <div class="ih-left ent-lg-icon">
                                                            @facility.FacilityGroup
                                                        </div>
                                                    }
                                                    else if (facility.FacilityGroup == "Lainnya")
                                                    {
                                                        <div class="ih-left other-lg-icon">
                                                            @facility.FacilityGroup
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-8">
                                                    @foreach (var facilityList in facility.FacilityList)
                                                    {
                                                        <div class="ih-right quarter clearfix">
                                                            <ul class="blue-list">
                                                                @foreach (var name in facilityList)
                                                                {
                                                                    <li>@name</li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                                
                                        }
                                    }
                                </div>

                                @*<div class="ih-row clearfix" ng-repeat="facilities in hotel.facilities track by $index" ng-hide="facilities === undefined" hidden>
                                    <div class="col-2">
                                        <div class="ih-left" ng-class="{'general-lg-icon':facilities.facilityGroup == 'general',
                                                                        'health-lg-icon':facilities.facilityGroup == 'health',
                                                                        'sport-lg-icon':facilities.facilityGroup == 'sport',
                                                                        'business-lg-icon':facilities.facilityGroup == 'business',
                                                                        'meal-lg-icon':facilities.facilityGroup == 'meal',
                                                                        'ent-lg-icon':facilities.facilityGroup == 'entertainment',
                                                                        'other-lg-icon':facilities.facilityGroup == 'other'}">
                                            {{facilities.facilityGroup | uppercase}}
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="ih-right quarter clearfix" ng-repeat="facilityList in facilities.facilityList track by $index">
                                            <ul class="blue-list">
                                                <li ng-repeat="facilityName in facilityList track by $index">{{facilityName}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>*@
                                <div class="tnc-hotel italic-txt">* Fasilitas berbayar</div>
                            </div>
                            
                            @if (!string.IsNullOrEmpty(Model.HotelDetailData.Description))
                            {
                                <div class="accordion-title accordion md-txt" id="menu-desc">Deskripsi Hotel</div>
                                <div class="accordion-content show">
                                    
                                    <div class="ih-desc clearfix">
                                        @Model.HotelDetailData.Description
                                </div>
                            </div>
                            }
                            
                            
                            @if (Model.HotelDetailData.Policy != null && Model.HotelDetailData.Policy.Count > 0)
                            {
                                <div class="accordion-title accordion md-txt" id="menu-tnc">Perlu Diingat</div>
                                <div class="accordion-content show">
                                <div class="snk-container clearfix">
                                    <ul class="blue-list">
                                            @foreach (var policy in Model.HotelDetailData.Policy)
                                            {
                                                <li>@policy</li>
                                            }
                                            
                                    </ul>
                                </div>
                            </div>
                                
                            }   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="select-flight" ng-show="booking">
        <div class=" overlay-content">
            <section style="padding-top:60px; padding-left:225px;">
                <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                <div style="padding-top:20px;"><span style="color: #15b1e4; font-size:20px"><b>Mohon Tunggu...</b></span></div>
                <div><img src="~/Assets/images/popup/paymentyellowstrip.png" /></div>
                <div style="padding-top:5px;"><span style="font-size:14px">Mengalihkan Anda ke halaman checkout.</span></div>
            </section>
        </div>
    </div>
    <div class="bookfailed-popup" ng-show="selectFailed">
        <div class="overlay-content">
            <section style="padding-top:60px; padding-left:225px;">
                <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                <div style="padding-top:25px;"><span style="color: #15b1e4; font-size:26px"><b>Mohon maaf...</b></span></div>
                <div style="padding-top:5px;"><span style="font-size:13px">Hotel ini <span style="color: #15b1e4;font-size:13px"><b>sudah tidak tersedia</b></span>.</span></div>
                <div><span style="font-size:13px">Silakan klik tombol di bawah untuk kembali ke halaman awal.</span></div>
            </section>
            <div align="right" style="padding-right:30px;padding-top:30px;">
                <a class="btn popup-btn-yellow book-failed" href="{{returnUrl}}"><b>CARI ULANG</b></a>
            </div>
        </div>
    </div>
    
   
    <div class="bookfailed-popup" ng-show="expired">
        <div class="overlay-content">
            <section style="padding-top:60px; padding-left:225px;">
                <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                <div style="padding-top:20px;"><span style="color: #15b1e4; font-size:22px"><b>Pencarian Kadaluarsa</b></span></div>
                <div style="padding-top:5px;"><span style="font-size:13px">Hasil pencarian Anda <span style="color: #15b1e4;font-size:13px"><b> sudah kadaluarsa</b></span>.</span></div>
                
            </section>
            <div align="right" style="padding-right:30px;padding-top:30px;">
                <a class="btn popup-btn-yellow book-failed" ng-click="refreshPage()"><b>CARI ULANG</b></a>
            </div>
        </div>
    </div>
</div>