@using Lunggo.ApCommon.Hotel.Service
@using Lunggo.Framework.Extension
@model Lunggo.CustomerWeb.Models.HotelSearchApiRequest
@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-hotel page-search";
    ViewBag.Title = "Pencarian Hotel";
    ViewBag.AngularController = "hotelSearchController";
    
}

@section AdditionalCSS{
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}
@{
    long loc = 0;
    //var found = HotelService.GetInstance()._Autocompletes.TryGetValue(Convert.ToInt64(Model.Location), out loc);
}
@section AdditionalJS {
    @*<script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>*@

    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Assets/js/jquery.ui.datepicker-id.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
}

@section PageJS{
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
              " - $" + $("#slider-range").slider("values", 1));
        });
    </script>
    <script>
        var x = '@long.TryParse(Model.SearchParamObject.Location, out loc)';
        var loc = '@HotelService.GetInstance()._Autocompletes[loc].Name';
    </script>
    <script type="text/javascript" src="/Assets/travorama20/js/HotelController.js"></script>
    <script src="/Assets/travorama20/angularDirectory/search/hotelSearch.service.js"></script>
    <script src="/Assets/travorama20/angularDirectory/common/hotelAutocomplete.service.js"></script>
    <script src="/Assets/travorama20/js/hotelSearchController.js"></script>
}

@Html.Partial("/Views/Hotel/Shared/Desktop/_PageSlider.cshtml")
<div class="travorama-hotel" ng-init="init(@Model.Serialize())">
    <div class="container">
        <div class="search-list">
            @Html.Partial("/Views/Hotel/Shared/Desktop/_BreadCrumb.cshtml")
            <div class="top-title clearfix">
                <div class="col-left bg-title"><b>Hasil</b> Pencarian </div>
                <div class="col-right total-result">Jumlah Hotel Ditemukan: <b>{{filteredHotelCount}}</b></div>
            </div>
            <div class="search-list-result clearfix">
                <div class="col-left-result filter">
                    <div class="filter-container">
                        <div class="header-filter">Filter Pencarian</div>
                        <div class="filter-group">
                            <label class="filter-title">Nama Hotel</label>
                            <input type="text" ng-model="filter.nameFilter" ng-disabled="hotels.length < 1" class="form-hotel-name form-control" tra-on-enter="filterHotels()">
                        </div>
                        <div class="filter-group">
                            <label class="filter-title">Harga Hotel</label> 
                            <div class="slider-price slider-range" id="slider-range"></div>
                            <div class="slider-minmax">
                                <span>{{filter.minPrice | number}}</span>
                                <span class="pull-right">{{filter.maxPrice | number}}</span>
                            </div>
                            <div class="hidden">
                                <input type="text" name="priceSliderValueMin" value="" class="slider-range-min" ng-model="filter.minPrice" />
                                <input type="text" name="priceSliderValueMax" value="" class="slider-range-max" ng-model="filter.maxPrice" />
                            </div>
                        </div>

                        <div class="filter-group">
                            <label class="filter-title">Bintang Hotel</label> @*- {{filter.stars}}*@
                            <div class="rating">
                                <label class="sqr pointer" ng-click="changeFilter('star', 5)" ng-class="{ active: (filter.stars.indexOf(5) > -1) }">
                                    <span class="checkbox"></span>
                                    <span class="star star-5"></span>
                                </label>
                                <label class="sqr pointer" ng-click="changeFilter('star', 4)" ng-class="{ active: (filter.stars.indexOf(4) > -1) }">
                                    <span class="checkbox"></span>
                                    <span class="star star-4"></span>
                                </label>
                                <label class="sqr pointer" ng-click="changeFilter('star', 3)" ng-class="{ active: (filter.stars.indexOf(3) > -1) }">
                                    <span class="checkbox"></span>
                                    <span class="star star-3"></span>
                                </label>
                                <label class="sqr pointer" ng-click="changeFilter('star', 2)" ng-class="{ active: (filter.stars.indexOf(2) > -1) }">
                                    <span class="checkbox"></span>
                                    <span class="star star-2"></span>
                                </label>
                                <label class="sqr pointer" ng-click="changeFilter('star', 1)" ng-class="{ active: (filter.stars.indexOf(1) > -1) }">
                                    <span class="checkbox"></span>
                                    <span class="star star-1"></span>
                                </label>
                            </div>
                        </div>
                        <div class="filter-group" ng-show="hotelFilterDisplayInfo.zoneFilter.length > 0">
                            <label class="filter-title">Hotel Zone:</label><span class="city-name blue-txt"><a href="#">(Jakarta)</a></span>
                            <div class="area" ng-repeat="zoneFilter in hotelFilterDisplayInfo.zoneFilter ">
                                <label class="sqr city-point pointer" ng-click="changeFilter('zone', zoneFilter)" ng-class="{ active: (filter.zones.indexOf(zoneFilter.code) > -1) }">
                                    <span class="checkbox"></span>
                                    @*<input type="checkbox" name="check" class="check" value="false" ng-disabled="true" />*@
                                    <span class="name">{{zoneFilter.name}}</span>
                                </label>
                                <span class="city-hotel">{{zoneFilter.count}}</span>
                            </div>
                        </div>
                        <div class="filter-group" ng-if="false">
                            <label class="filter-title">Tipe Kamar</label>
                            <div class="room">
                                <label class="sqr city-point">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="name">Single</span>
                                </label>
                                <label class="sqr city-point">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="name">Twin</span>
                                </label>
                                <label class="sqr city-point">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="name">King</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="pull-right" ng-click="filterHotels()">filter button</button>
                    </div>
                </div>

                <div class="col-right-result">
                    <div class="sort clearfix" ng-show="totalHotelCount > 0">
                        <div class="col-xs-left"><b>Sort By:</b></div>
                        <div class="col-xs-middle">
                            <label class="round pointer" ng-class="{ active : sortBy == sortByType.ascendingPrice }" ng-click="changeSorting(sortByType.ascendingPrice)">
                                <span class="radio"></span>
                                @*<input type="radio" name="optradio" class="check-radio" value="false" />*@
                                <span class="name">Harga Terendah</span>
                            </label>
                        </div>
                        <div class="col-xs-right">
                            <label class="round pointer" ng-class="{ active : sortBy == sortByType.descendingPrice }" ng-click="changeSorting(sortByType.descendingPrice)">
                                <span class="radio"></span>
                                @*<input type="radio" name="optradio" class="check-radio" value="false" />*@
                                <span class="name">Harga Tertinggi</span>
                            </label>
                        </div>
                    </div>

                    <div ng-show="!searchDone" class="text-center">
                        <img src="/Assets/images/load.gif" style="width: 50px; height: 50px; margin-top: 5%;">
                    </div>

                    <div class="text-center" ng-show="searchDone && returnedHotelCount == 0"><h3> Hotel tidak ditemukan, silakan ganti filter atau destinasi anda.</h3></div>


                    <div class="hotel-list-container" ng-show="searchDone">
                        <div class="hotel-list clearfix pointer" ng-repeat="hotel in hotels" ng-click="GotoDetailHotel(hotel.hotelCd)">
                            <div class="col-2">
                                <img class="img-list" hotel-list-image ng-src="{{hotel.mainImage}}" alt="Hotel" />
                                @*<img class="img-list" src="/Assets/travorama20/images/Hotel/no-hotel.png" alt="Hotel" />*@
                            </div>
                            <div class="col-8">
                                <div class="clearfix">
                                    <div class="col-8 blue-txt bg">{{hotel.hotelName}}</div>
                                    <div class="col-2 facility">
                                        <span class="wifi" ng-show="hotel.isWifiAccessAvailable"></span>
                                        <span class="meal" ng-show="hotel.restaurant"></span>
                                    </div>
                                </div>
                
                                <div ng-class="{
                                     'star e-star': hotel.starRating == 1,
                                     'star star-2 e-star': hotel.starRating == 2,
                                     'star star-3 e-star': hotel.starRating == 3,
                                     'star star-4 e-star': hotel.starRating == 4,
                                     'star star-5': hotel.starRating == 5}">
                                </div>
                                
                                <div class="location">
                                    <div>{{hotel.address}} {{hotel.zone}}</div>
                                    {{hotel.city}}<span ng-show ="hotel.postalCd != null || hotel.postalCd.length > 0"> {{hotel.postalCd}}</span>
                                </div>
                                @*=================== ini review row ================*@
                                <div class="review clearfix">
                                    <div class="col-half left">
                                        <b><span class="md-txt">8.0</span> - </b> Sangat Baik
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="trip-advisor"></span>
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                </div>
                                @*=================== ini review row ================*@
                                <div class="price clearfix">
                                    <div class="col-half">
                                        <span class="txt-md"><b>Harga per malam mulai dari:</b></span>
                                        <br /><span class="xs-txt">(*Termasuk Pajak & Service Charge)</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="underline-txt">Rp {{hotel.originalFare | currency:'':0}}</span>
                                        <br /><span class="lg-txt"><b><sup>Rp</sup> {{hotel.netFare | currency:'':0}}</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="pagination" ng-show="searchDone && returnedHotelCount > 0 && pageCount > 1">
                        @*<div class="page-container">
                            <a href="#" class="prev" ng-click="prevPage()"></a>
                            Halaman
                            <a href="#" class="next" ng-click="nextPage()"></a>
                        </div>*@
                        Halaman
                        <div class="page-container">
                            <a href="" class="prev" ng-click="page != 1 && prevPage()"></a>
                            <ul class="page-list">
                                <li><a href="#" ng-class="{active : pageNumber == page}" ng-repeat="pageNumber in traGetRange(pageCount) track by $index" ng-click="changePage(pageNumber)">{{pageNumber}}</a></li>
                            </ul>
                            <a href="" class="next" ng-click="page != pageCount && nextPage()"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>