@using System.Globalization
@using Lunggo.ApCommon.Hotel.Service
@using Lunggo.Framework.Config
@using Lunggo.ApCommon.Constant
@using Microsoft.Data.OData.Query.SemanticAst
@model Lunggo.ApCommon.Hotel.Model.HotelReservationForDisplay
@{
    ViewBag.SiteHeader = "header-email";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/ico" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/favico.ico")" />

    <title>Travorama - Voucher</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/bootstrap/bootstrap.min.css")" />
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/neweticket.css")" />
</head>
<body class="eticket page-hotel-voucher">
    <div class="page">
        <header class="page-header">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-logo" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/voucher/travorama-white.png")" />
                </div>
                <div class="col-xs-8">
                    <div class="page-header-right pull-right">
                        <div class="page-title"><h3 class="white-txt bold-txt">VOUCHER HOTEL</h3></div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="pull-right">
                        <img class="img-email" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/voucher/email-white.png")" /><span class="white-txt">cs@travorama.com</span>
                    </div>
                </div>
            </div>
        </header>
        <section class="page-content">
            <div class="hotel-wrapper">
                <div class="hotel-top">
                    <div style="background-image: url(@Model.HotelDetail.MainImage);" class="img-hotel"></div>
                </div>
                <div class="hotel-bottom grey-txt">
                    <div class="hb-top">
                        <div class="row">
                            <div class="col-xs-6">
                                <h4 class="hotel-name blue-txt uppercase bold-txt">@Model.HotelDetail.HotelName</h4>
                                @if (Model.HotelDetail.StarRating == 0 || Model.HotelDetail.StarRating == 1)
                                {
                                    <p class="star"></p>
                                }
                                @if (Model.HotelDetail.StarRating == 2)
                                {
                                    <p class="star star-2"></p>
                                }
                                @if (Model.HotelDetail.StarRating == 3)
                                {
                                    <p class="star star-3"></p>
                                }
                                @if (Model.HotelDetail.StarRating == 4)
                                {
                                    <p class="star star-4"></p>
                                }
                                @if (Model.HotelDetail.StarRating == 5)
                                {
                                    <p class="star star-5"></p>
                                }
                                <p class="grey-txt location">
                                    @Model.HotelDetail.Address @Model.HotelDetail.DestinationName, @Model.HotelDetail.PostalCode, @Model.HotelDetail.CountryName
                                </p>
                                <p class="grey-txt phone">
                                    @Model.HotelDetail.PhonesNumbers[0]
                                </p>
                            </div>
                            <div class="col-xs-6 right-txt clearfix">
                                <div class="row">
                                    <h4 class="regular-txt no-reserve">
                                        Nomor Pesanan
                                        <h3 class="blue-txt bold-txt">@Model.HotelDetail.BookingReference</h3>
                                    </h4>
                                </div>
                                <div class="row tnc">
                                    Payable through @Model.HotelDetail.SupplierName, <br/>
                                    acting as agent for the service operating company, details of which can be provided upon request. <br />
                                    VAT: @Model.HotelDetail.SupplierVat Reference: @Model.HotelDetail.BookingReference
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="hb-middle">
                        <div class="map-img" style="background-image: url(@Model.HotelDetail.MapImage)"></div>
                        <div class="map-marker" style="background-image: url('https://maps.google.com/mapfiles/ms/icons/red-dot.png')"></div>
                        <div class="map-name">@Model.HotelDetail.HotelName</div>
                    </div>
                    <div class="hb-bottom">
                        <h4 class="semibold-txt">DETAIL PEMESANAN</h4>
                        <div class="hotel-detail">
                            <div class="row semibold-txt">
                                <div class="col-xs-3">No. Reservasi Travorama</div>
                                <div class="col-xs-9">@Model.RsvNo</div>
                            </div>
                            <div class="row semibold-txt">
                                <div class="col-xs-3">Nama Tamu</div>
                                <div class="col-xs-9">@EnumDisplay.Title(Model.Pax[0].Title) @Model.Pax[0].Name</div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.HotelDetail.SpecialRequest))
                            {
                                <div class="row semibold-txt">
                                    <div class="col-xs-3">Special Request</div>
                                    <div class="col-xs-9">
                                        @Model.HotelDetail.SpecialRequest
                                    </div>
                                </div>
                            }
                            <div class="row semibold-txt">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-9 unpoint clearfix">
                                    <div class="row clearfix blue-txt semibold-txt">
                                        <div class="col-xs-4">Check in</div>
                                        <div class="col-xs-3"><div class="dash-border"></div></div>
                                        <div class="col-xs-4">Check out</div>
                                    </div>
                                    <div class="row clearfix blue-txt semibold-txt">
                                        <div class="col-xs-4"><h4 class="h4-height">@Model.HotelDetail.CheckInDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</h4></div>
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-4"><h4 class="h4-height">@Model.HotelDetail.CheckOutDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</h4></div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-4">14.00</div>
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-4">12.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @foreach (var room in Model.HotelDetail.Rooms)
    {
        foreach (var rate in room.Rates)
        {
            <div class="page page-2">
                <header class="page-header white-txt">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="regular-txt room-title">Tipe Kamar</div>
                            <h4 class="bold-txt">@room.RoomName</h4>
                        </div>
                        <div class="col-xs-4 right-txt clearfix">
                            <div class="row">
                                <div class=" white-txt regular-txt no-reserve">
                                    Nomor Pesanan
                                </div>
                                <h4 class="white-txt bold-txt">@Model.HotelDetail.BookingReference</h4>
                            </div>
                        </div>
                    </div>
                </header>
                <section class="page-content">
                    <div class="hotel-wrapper room grey-txt clearfix">
                        <div class="room-top">
                            <h4 class="bold-txt">Rincian Tamu</h4>
                            @foreach (var config in rate.Breakdowns)
                            {
                                var ages = "(";
                                for (var i = 0; i < config.ChildrenAges.Count; i++)
                                {
                                    if (i != config.ChildrenAges.Count - 1)
                                    {
                                        ages += @config.ChildrenAges[i] + " th, ";
                                    }
                                    else
                                    {
                                        ages += @config.ChildrenAges[i] + " th)";
                                    }
                                }
                                <div class="guest bold-txt clearfix">
                                    <div class="col-xs-2">@config.RateCount Kamar</div>
                                    <div class="col-xs-5 blue-txt">
                                        <span class="">@config.AdultCount</span> Dewasa

                                        @if (config.ChildCount > 0)
                                        {
                                            <span class="space"></span><span>&</span><span class="space"></span>
                                            <span class="">@config.ChildCount Anak</span>
                                            <span class="space"></span>
                                            <span class="semibold-txt">@ages</span>
                                        }
                                    </div>
                                    <div class="col-xs-5">@config.BoardDescription</div>
                                </div>
                            }
                        </div>
                        <div class="room-bottom clearfix">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="bold-txt">Ketentuan Pembatalan</div>
                                </div>
                                <div class="col-xs-9">
                                    @if (rate.IsFreeCancel)
                                    {
                                        <p>
                                            Gratis pembatalan sebelum tanggal @rate.FreeUntil.GetValueOrDefault().ToString("f", CultureInfo.CreateSpecificCulture("id-ID")) WIB.
                                        </p>
                                    }

                                    @if (rate.Cancellation != null && rate.Cancellation.Count > 0)
                                    {
                                        foreach (var policy in rate.Cancellation)
                                        {
                                            <p>
                                                Pembatalan setelah tanggal @policy.StartTime.ToString("f", CultureInfo.CreateSpecificCulture("id-ID")) akan dikenakan biaya sebesar @((policy.FeePercentage * 100).ToString("####"))%.<br />
                                            </p>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="bold-txt">Ketentuan</div>
                                </div>
                                <div class="col-xs-9">
                                    @String.Join(". ", rate.TermAndCondition)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="bold-txt">Fasilitas</div>
                                </div>
                                <div class="col-xs-9 clearfix">
                                    <ul class="blue-point">
                                        @if (Model.HotelDetail.Facilities != null && Model.HotelDetail.Facilities.Other != null && Model.HotelDetail.Facilities.Other.Count != 0)
                                        {
                                            var facilities = Model.HotelDetail.Facilities.Other.Where(f => f.Length > 0).ToList();
                                            if (facilities.Count == 1)
                                            {
                                                <li>@facilities[0]</li>
                                            }
                                            else
                                            {
                                                <div class="col-half">
                                                    @for (var i = 0; i < facilities.Count / 2; i++)
                                                    {
                                                        <li>@facilities[i]</li>
                                                    }
                                                </div>

                                                <div class="col-half">
                                                    @for (var j = facilities.Count / 2; j < facilities.Count; j++)
                                                    {
                                                        <li>@facilities[j]</li>
                                                    }
                                                </div>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        }
    }
</body>
</html>