@using System.Globalization
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.Framework.Config
@using Lunggo.ApCommon.Constant

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/ico" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/favico.ico")" />

    <title>Travorama - eTicket</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/neweticket.css")" />

</head>
<body class="eticket">
    <div class="page page-hotel-voucher">
        <header class="page-header">
            <div class="row">
                <div class="col-xs-4">
                    <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/travorama-logo-color.png")" />
                </div>
                <div class="col-xs-8">
                    <div class="page-header-right pull-right">
                        <div class="page-title"><h3><span class="black-txt">HOTEL</span> VOUCHER</h3></div>
                    </div>
                </div>
            </div>
        </header>
        <section class="page-content">
            <div class="hotel-wrapper">
                <div class="hotel-top">
                    <p>
                        <img class="img-phone" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/phone.png")" /><span class="blue-txt">021 1234 5678</span>
                        <img class="img-email" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/email/mail.png")" /><span class="blue-txt">cs@travorama.com</span>
                    </p>
                    <img class="img-hotel" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/voucher-hotel-bg.jpg")" />
                </div>
                <div class="hotel-middle">
                    <div class="row">
                        <div class="col-xs-2">
                            <h4>Itinerary ID</h4>
                            <h4 class="blue-txt"><b>123456789</b></h4>
                        </div>
                        <div class="col-xs-10">
                            <div class="right-side">
                                <h4 class="blue-txt uppercase"><b>B hotel bali & spa</b></h4>
                                <p><img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/hotel-star-4.png")" /></p>
                                <p class="grey-txt">
                                    <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/location.png")" /> Jl. Imam Bonjol No 508, Denpasar,
                                    Denpasar, Indonesia 80119
                                </p>
                                <p class="grey-txt">
                                    <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/phone.png")" /> 0000 000000
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hotel-bottom">
                    <h3><b>BOOKING DETAILS</b></h3>
                    <div class="hotel-detail">
                        <div class="row">
                            <div class="col-xs-3">
                                <p style=""><b>Booking ID</b></p>
                            </div>
                            <div class="col-xs-9">
                                <p style="">: <b>123456789</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <p style=""><b>Guest Name</b></p>
                            </div>
                            <div class="col-xs-9">
                                <p style="">: <b>Anonymous</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-9">
                                <div class="hotel-booked">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <span class="blue-txt">Check-in from</span>
                                        </div>
                                        <div class="col-xs-3">
                                            <span>.........................</span>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="blue-txt">Check-out until</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <span class="blue-txt md-txt"><b>05 Nov 2016</b></span>
                                        </div>
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-3">
                                            <span class="blue-txt md-txt"><b>09 Nov 2016</b></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <span class="grey-txt">14.00</span>
                                        </div>
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-3">
                                            <span class="grey-txt">12.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Guest per room</p>
                            </div>
                            <div class="col-xs-9">
                                <p>: 2 persons</p>
                            </div>
                        </div>
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Room Type</p>
                            </div>
                            <div class="col-xs-9">
                                <p>: Deluxe Room Only</p>
                            </div>
                        </div>
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Number of rooms</p>
                            </div>
                            <div class="col-xs-9">
                                <p>: 2</p>
                            </div>
                        </div>
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Include breakfast?</p>
                            </div>
                            <div class="col-xs-9">
                                <p> : No</p>
                            </div>
                        </div>
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Special Request</p>
                            </div>
                            <div class="col-xs-9">
                                <p>: extra pillow</p>
                            </div>
                        </div>
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Includes</p>
                            </div>
                            <div class="col-xs-9">
                                <p>
                                    <span><img class="img-wifi" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/wifi.png")" />Free Wifi</span>
                                    <span><img class="img-swim" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/swim.png")" />Swimming Pool</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>