@using Lunggo.Framework.Config
@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-index";
    ViewBag.FooterSubscribe = true;
    ViewBag.FooterPayment = true;
    ViewBag.FooterFeedback = false;
    ViewBag.Title = "Enjoy Your Every Moment";
    ViewBag.AngularController = "homeController";
    //ViewBag.Campaign = true;
    
    // location
    ViewBag.LocationData = new Dictionary<string, string>();
    ViewBag.LocationData["Jakarta"] = "[{'name' : 'Surabaya','origin' : 'SUB','price' : '500000'},{'name' : 'Medan','origin' : 'KNO',	'price' : '700000'},{'name' : 'Denpasar','origin' : 'DPS','price' : '500000'},{'name' : 'Semarang','origin' : 'SRG','price' : '300000'},{'name' : 'Singapore','origin' : 'SIN','price' : '200000'},{'name' : 'Yogyakarta','origin' : 'JOG','price' : '300000'},{'name' : 'Balikpapan','origin' : 'BPN','price' : '600000'},{'name' : 'Makassar','origin' : 'UPG','price' : '600000'},{'name' : 'Batam','origin' : 'BTH','price' : '500000'}]";
    ViewBag.LocationData["Bali"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '500000'},{'name' : 'Medan','origin' : 'KNO','price' : '1000000'},{'name' : 'Surabaya','origin' : 'SUB','price' : '300000'},{'name' : 'Bandung','origin' : 'BDO','price' : '400000'},{'name' : 'Semarang','origin' : 'SRG','price' : '600000'},{'name' : 'Kuala Lumpur','origin' : 'KUL','price' : '300000'},{'name' : 'Yogyakarta','origin' : 'JOG','price' : '400000'},{'name' : 'Balikpapan','origin' : 'BPN','price' : '800000'},{'name' : 'Mataram','origin' : 'AMI','price' : '200000'}]";
    ViewBag.LocationData["Malaysia"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '400000'},{'name' : 'Medan','origin' : 'KNO','price' : '300000'},{'name' : 'Surabaya','origin' : 'SUB','price' : '300000'},{'name' : 'Singapore','origin' : 'SIN','price' : '200000'},{'name' : 'Bandung','origin' : 'BDO','price' : '500000'},{'name' : 'Yogyakarta','origin' : 'JOG','price' : '400000'},{'name' : 'Bali','origin' : 'DPS','price' : '300000'},{'name' : 'Padang','origin' : 'DPG','price' : '300000'},{'name' : 'Pekanbaru','origin' : 'PKU','price' : '300000'}]";
    ViewBag.LocationData["Yogyakarta"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '300000'},{'name' : 'Bali','origin' : 'DPS','price' : '400000'},{'name' : 'Medan','origin' : 'KNO','price' : '900000'},{'name' : 'Surabaya','origin' : 'SUB','price' : '300000'},{'name' : 'Makassar','origin' : 'UPG','price' : '700000'},{'name' : 'Balikpapan','origin' : 'BPN','price' : '500000'},{'name' : 'Batam','origin' : 'BTH','price' : '900000'},{'name' : 'Banjarmasin','origin' : 'BDJ','price' : '600000'},{'name' : 'Palembang','origin' : 'PLM','price' : '700000'}]";
    ViewBag.LocationData["Singapore"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '200000'},{'name' : 'Surabaya','origin' : 'SUB','price' : '400000'},{'name' : 'Bali','origin' : 'DPS','price' : '500000'},{'name' : 'Medan','origin' : 'KNO','price' : '500000'},{'name' : 'Yogyakarta','origin' : 'JOG','price' : '600000'},{'name' : 'Semarang','origin' : 'SRG','price' : '400000'},{'name' : 'Kuala Lumpur','origin' : 'KUL','price' : '200000'},{'name' : 'Bandung','origin' : 'BDO','price' : '500000'},{'name' : 'Hong Kong','origin' : 'HKG','price' : '800000'}]";
    ViewBag.LocationData["Bandung"] = "[{'name' : 'Surabaya','origin' : 'SUB','price' : '400000'},{'name' : 'Kuala Lumpur','origin' : 'KUL','price' : '500000'},{'name' : 'Palembang','origin' : 'PLM','price' : '700000'},{'name' : 'Medan','origin' : 'KNO','price' : '600000'},{'name' : 'Bali','origin' : 'DPS','price' : '500000'},{'name' : 'Mataram','origin' : 'AMI','price' : '700000'},{'name' : 'Batam','origin' : 'BTH','price' : '500000'},{'name' : 'Yogyakarta','origin' : 'JOG','price' : '400000'},{'name' : 'Singapore','origin' : 'SIN','price' : '500000'}]";
    ViewBag.LocationData["Surabaya"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '400000'},{'name' : 'Makassar','origin' : 'UPG','price' : '500000'},{'name' : 'Bandung','origin' : 'BDO','price' : '400000'},{'name' : 'Balikpapan','origin' : 'BPN','price' : '500000'},{'name' : 'Medan','origin' : 'KNO','price' : '800000'},{'name' : 'Bali','origin' : 'DPS','price' : '300000'},{'name' : 'Singapore','origin' : 'SIN','price' : '400000'},{'name' : 'Mataram','origin' : 'AMI','price' : '300000'},{'name' : 'Kuala Lumpur','origin' : 'KUL','price' : '300000'}]";
    ViewBag.LocationData["Hongkong"] = "[{'name' : 'Jakarta','origin' : 'CGK','price' : '1000000'},{'name' : 'Surabaya','origin' : 'SUB','price' : '1000000'},{'name' : 'Bali','origin' : 'DPS','price' : '1000000'},{'name' : 'Medan','origin' : 'KNO','price' : '1000000'},{'name' : 'Singapore','origin' : 'SIN','price' : '900000'},{'name' : 'Kuala Lumpur','origin' : 'KUL','price' : '900000'},{'name' : 'Shanghai','origin' : 'PVG','price' : '1000000'},{'name' : 'Bangkok','origin' : 'BKK','price' : '1000000'},{'name' : 'Bandung','origin' : 'BDO','price' : '1000000'}]";

    ViewBag.LocationList = "''";
    ViewBag.DestinationCode = "";
    ViewBag.DestinationName = "";

    if (ViewBag.Destination != null)
    {

        string destination = ViewBag.Destination;

        // switch location
        switch (destination.ToLower())
        {
            case "jakarta":
                ViewBag.DestinationName = "Jakarta";
                ViewBag.DestinationCode = "CGK";
                ViewBag.LocationList = ViewBag.LocationData["Jakarta"];
                break;
            case "bali":
                ViewBag.DestinationName = "Bali";
                ViewBag.DestinationCode = "DPS";
                ViewBag.LocationList = ViewBag.LocationData["Bali"];
                break;
            case "malaysia":
                ViewBag.DestinationName = "Malaysia";
                ViewBag.DestinationCode = "KUL";
                ViewBag.LocationList = ViewBag.LocationData["Jakarta"];
                break;
            case "yogyakarta":
                ViewBag.DestinationName = "Yogyakarta";
                ViewBag.DestinationCode = "JOG";
                ViewBag.LocationList = ViewBag.LocationData["Yogyakarta"];
                break;
            case "singapore":
                ViewBag.DestinationName = "Singapore";
                ViewBag.DestinationCode = "SIN";
                ViewBag.LocationList = ViewBag.LocationData["Singapore"];
                break;
            case "bandung":
                ViewBag.DestinationName = "Bandung";
                ViewBag.DestinationCode = "BDO";
                ViewBag.LocationList = ViewBag.LocationData["Bandung"];
                break;
            case "surabaya":
                ViewBag.DestinationName = "Surabaya";
                ViewBag.DestinationCode = "SUB";
                ViewBag.LocationList = ViewBag.LocationData["Surabaya"];
                break;
            case "hongkong":
                ViewBag.DestinationName = "Hong Kong";
                ViewBag.DestinationCode = "HKG";
                ViewBag.LocationList = ViewBag.LocationData["Hongkong"];
                break;
            default:
                ViewBag.DestinationName = "";
                ViewBag.DestinationCode = "";
                ViewBag.LocationList = "''";
                break;
        }
    }


}

@section AdditionalCSS{
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" />
    
    @*@if (ViewBag.Campaign)
    {
        <!-- imlek start -->
        <link href="/Campaign/Imlek2016/css/imlek2016.min.css" rel="stylesheet" />
        <!-- imlek end -->
    }*@

}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script src="/Assets/js/js.cookie.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!-- jquery datepicker -->
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Assets/js/jquery.ui.datepicker-id.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
}

@section PageJS{
    <script>
        newsletterFormFunctions();
        indexPageFunctions();
        subscribeFormFunctions();
        var indexPageDestination = '@ViewBag.DestinationName' || '';
        var indexPageDestinationsCode = '@ViewBag.DestinationCode' || '';
        var topDestinations = @Html.Raw(ViewBag.LocationList);
        var departureDate = '@(DateTime.Now.AddDays(1).ToString("ddMMyy"))';

        // slider
        $('.page-slider .slider a').each(function() {
            var bgImage = $(this).children('img').attr('src');
            $(this).css({
                'background-image' : 'url('+bgImage+')'
            });
            $(this).children('img').remove();
        });

        $('.slider-wrapper').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            dots: true,
            prevArrow: '<button type="button" class="slick-prev hidden">Back</button>',
            nextArrow: '<button type="button" class="slick-next hidden">Next</button>'
        });
    </script>
    <script src="/Assets/Travorama20/js/homeController.js"></script>
}

<section class="section-search">
    <div class="container">
        <div class="search-form">
            <header class="tab-header">
                <nav>
                    <ul>
                        <li class="flight"><a data-toggle="tab" href="#plane" ng-click="changeTab('flight')">Pesawat</a></li>
                        <li class="hotel active"><a data-toggle="tab" href="#hotel" ng-click="changeTab('hotel')">Hotel</a></li>
                        @*<li class="activity" data-toggle="tooltip" data-placement="bottom" title="Coming soon!"><a href="#">Activity</a></li>*@
                    </ul>
                </nav>
            </header>
            <section class="tab-content">
                <div class="tab-flight tab-pane cleafix" id="plane" ng-click="changeTab()">
                    <form class="form form-horizontal form-flight" action="/id/Flight/Search" method="GET" autocomplete="off">
                        <h3 class="text-center">Cari <b>Tiket Pesawat</b></h3>

                        <div class="form-group flight-type">
                            <div class="col-xs-6">
                                <label>
                                    <input type="radio" name="flightType" class="form-flight-type" value="return" checked />
                                    <span>Pulang Pergi</span>
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label>
                                    <input type="radio" name="flightType" class="form-flight-type" value="oneway" />
                                    <span>Sekali Jalan</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group flight-destination">
                            <div class="col-xs-12">
                                <input type="text" class="form-flight-origin form-flight-location form-control" value="" placeholder="Kota Asal" />
                            </div>
                            <div class="text-center col-xs-12">
                                <span class="switch-destination"></span>
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="form-flight-destination form-flight-location form-control" value="" placeholder="Kota Tujuan" />
                            </div>
                        </div>

                        <div class="form-group flight-date">
                            <div class="col-xs-6">
                                <div class="form-flight-departure">
                                    <small>Tanggal Keberangkatan</small>
                                    <span class="date">28</span>
                                    <span class="month">Okt</span>
                                    <span class="year">2015</span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-flight-return">
                                    <small>Tanggal Pulang</small>
                                    <span class="date">28</span>
                                    <span class="month">Okt</span>
                                    <span class="year">2015</span>
                                </div>
                                <div class="form-flight-oneway">
                                    <small>Tanggal Pulang</small>
                                    <h5>SEKALI JALAN</h5>
                                </div>
                            </div>
                        </div>

                        <div class="form-group flight-class">
                            <div class="col-xs-12">
                                <div class="form-control text-center form-flight-class">
                                    <span>Kelas Ekonomi</span>
                                    <div class="option">
                                        <span class="economy" data-value="y">Kelas Ekonomi</span>
                                        <span class="business" data-value="c">Kelas Bisnis</span>
                                        <span class="first" data-value="f">Kelas Utama</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group flight-passenger">
                            <div class="col-xs-4">
                                <div class="form-flight-passenger adult" data-toggle="tooltip" data-placement="left" title="Tidak boleh kosong">
                                    <h5 class="passenger-input adult">1</h5>
                                    <small>
                                        Dewasa<br />(&gt;12th)
                                    </small>
                                    <div class="option">
                                        <span>1</span>
                                        <span>2</span>
                                        <span>3</span>
                                        <span>4</span>
                                        <span>5</span>
                                        <span>6</span>
                                        <span>7</span>
                                        <span>8</span>
                                        <span>9</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-flight-passenger child">
                                    <h5 class="passenger-input child">0</h5>
                                    <small>
                                        Anak<br />(2-12th)
                                    </small>
                                    <div class="option">
                                        <span>0</span>
                                        <span>1</span>
                                        <span>2</span>
                                        <span>3</span>
                                        <span>4</span>
                                        <span>5</span>
                                        <span>6</span>
                                        <span>7</span>
                                        <span>8</span>
                                        <span>9</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-flight-passenger infant" data-toggle="tooltip" data-placement="right" title="Tidak boleh lebih dari jumlah penumpang dewasa">
                                    <h5 class="passenger-input infant">0</h5>
                                    <small>
                                        Bayi<br />(&lt;2th)
                                    </small>
                                    <div class="option">
                                        <span>0</span>
                                        <span>1</span>
                                        <span>2</span>
                                        <span>3</span>
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group flight-submit">
                            <div class="col-xs-12">
                                <input type="text" name="info" value="" class="hidden" />
                                <input type="submit" class="btn btn-yellow block flight-submit-button" value="CARI" />
                            </div>
                        </div>

                    </form>
                </div><!-- .tab-flight -->
                <div class="tab-hotel tab-pane clearfix active" id="hotel">
                   
                    <h3 class="text-center">Cari <b>Kamar Hotel</b><br /><span class="sub-title">(Domestik &amp; Internasional)</span></h3>
                    <form class="form form-horizontal form-hotel page-hotel" ng-submit="hotel.searchHotel()" autocomplete="off">

                        <div class="form-group hotel-location ">
                            <div class="col-xs-12">
                                <input type="text" name="hotelLocation" value="" class="form-hotel-location form-control" placeholder="Kota, Wilayah atau Nama Hotel" ng-model="hotel.locationDisplay" ng-click="view.showHotelSearch = true" />
                            </div>
                        </div>
                        <div class="form-group hotel-date">
                            <div class="col-xs-6">
                                <div class="form-hotel-checkin">
                                    <small>Tanggal Checkin</small>
                                    <span class="date">28</span>
                                    <span class="month">Okt</span>
                                    <span class="year">2015</span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-hotel-checkout">
                                    <small>Tanggal Checkout</small>
                                    <span class="date">28</span>
                                    <span class="month">Okt</span>
                                    <span class="year">2015</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hotel-room-result">
                            Jumlah <span class="night"> 3</span> malam
                        </div>
                        @*<div class="form-hotel-checkin">
                            <small>Tanggal Masuk</small>
                            <span class="date-hotel">{{hotel.checkinDateDisplay}}</span>
                        </div>
                        <div class="form-group hotel-room">
                            <div class="col-xs-6">
                                <div class="form-hotel-night clearfix">
                                    <div class="col-4"><small>Malam</small></div>
                                    <div class="col-6 clearfix">
                                        <div class="col-8 input-hotel">{{hotel.nightCount}}</div>
                                        <div class="col-2 clearfix">
                                            <a href="" class="increase" ng-click="addValue('nightCount', 1)"></a>
                                            <a href="" class="decrease" ng-click="addValue('nightCount', -1)"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-hotel-room">
                                    <div class="col-4"><small>Kamar</small></div>
                                    <div class="col-6 clearfix">
                                        <div class="col-8 input-hotel">{{hotel.roomCount}}</div>
                                        <div class="col-2 clearfix">
                                            <a href="" class="increase" ng-click="addValue('roomCount', 1)"></a>
                                            <a href="" class="decrease" ng-click="addValue('roomCount', -1)"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hotel-visitor">
                            <div class="col-xs-6">
                                <div class="form-hotel-visitor adult" data-toggle="tooltip" data-placement="left" title="Tidak boleh kosong">
                                    <div class="col-4"><small>Dewasa</small></div>
                                    <div class="col-6 clearfix">
                                        <div class="col-8 input-hotel">{{hotel.adultCount}}</div>
                                        <div class="col-2 clearfix">
                                            <a href="" class="increase" ng-click="addValue('adultCount', 1)"></a>
                                            <a href="" class="decrease" ng-click="addValue('adultCount', -1)"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-hotel-visitor child">
                                    <div class="col-4"><small>Anak</small></div>
                                    <div class="col-6 clearfix">
                                        <div class="col-8 input-hotel">{{hotel.childCount}}</div>
                                        <div class="col-2 clearfix">
                                            <a href="" class="increase" ng-click="addValue('childCount', 1)"></a>
                                            <a href="" class="decrease" ng-click="addValue('childCount', -1)"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hotel-age-children" ng-show="hotel.childCount > 0">
                            <div class="btn-age">Child Ages</div>
                            <div class="age-container clearfix">
                                <div class="col-xs-3 dropdown-container" ng-show="hotel.childCount > 0">
                                    <div class="form-control select-age">
                                        <small>Child 1</small>
                                        <span>{{hotel.childrenAges[0]}}</span>
                                        <div class="option">
                                            <span data-value="" ng-repeat="age in hotel.childrenAgeList" ng-click="setChildAge(0, age)">{{age}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 dropdown-container" ng-show="hotel.childCount > 1">
                                    <div class="form-control select-age">
                                        <small>Child 2</small>
                                        <span>{{hotel.childrenAges[1]}}</span>
                                        <div class="option">
                                            <span data-value="" ng-repeat="age in hotel.childrenAgeList" ng-click="setChildAge(1, age)">{{age}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 dropdown-container" ng-show="hotel.childCount > 2">
                                    <div class="form-control select-age">

                                        <small>Child 3</small>
                                        <span>{{hotel.childrenAges[2]}}</span>
                                        <div class="option">
                                            <span data-value="" ng-repeat="age in hotel.childrenAgeList" ng-click="setChildAge(2, age)">{{age}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 dropdown-container" ng-show="hotel.childCount > 3">
                                    <div class="form-control select-age">
                                        <small>Child 4</small>
                                        <span>{{hotel.childrenAges[3]}}</span>
                                        <div class="option">
                                            <span data-value="" ng-repeat="age in hotel.childrenAgeList" ng-click="setChildAge(3, age)">{{age}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>*@
                        <div class="form-group hotel-submit">
                            <div class="col-xs-12">
                                <input type="submit" name="hotelSubmit" value="CARI" class="btn btn-yellow block form-control" />
                            </div>
                        </div>
                    </form>
                </div><!-- .tab-hotel -->
                <div class="tab-activity">
                    <hgroup>
                        <h2>Temukan Banyak<br /><b>Aktifitas Menarik</b><br />Yang Bisa Anda<br />Lakukan</h2>
                        <h4>Ribuan Aktifitas di 20+ Tempat Tujuan<br />(Domestik &amp; Internasional)</h4>
                    </hgroup>
                    <hr />
                    <h3><b>Tour &amp; Activity</b> Booking</h3>
                    <form class="form form-activity">
                        <div class="form-group">
                            <input type="text" name="activityLocation" value="" placeholder="Kota, Wilayah atau Aktifitas" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="activitySubmit" value="CARI" class="btn btn-yellow block form-control" />
                        </div>
                    </form>
                </div><!-- .tab-activity -->
            </section>

        </div><!-- .search-form -->
        @Html.Partial("/Views/Shared/Travorama20/_SearchCalendarHotel.cshtml")
        @Html.Partial("/Views/Shared/Travorama20/_SearchCalendar.cshtml")
        @Html.Partial("/Views/Shared/Travorama20/_SearchLocation.cshtml")
        @Html.Partial("/Views/Shared/Travorama20/_SearchHotel.cshtml")
    </div><!-- .container -->
    @if (ViewBag.DestinationName == null || ViewBag.DestinationName == "" )
    {
        <div class="page-slider">
            <div class="slider-wrapper" id="index-wrapper">
                <!--
                    <div class="slider">
                        <a href="@Url.Action("danamonsweetvalentine","StaticPage")">
                            <img src="/Assets/images/campaign/DanamonSweetValentine/danamonsweetvalentine-slider.jpg" alt="Danamon Sweet Valentine" />
                        </a>
                    </div>
                    -->
                <!--
                    <div class="slider">
                        <a href="@Url.Action("VisaWonderfulWednesday","StaticPage")">
                            <img src="/Assets/images/campaign/VisaWonderfulWednesday/visa-wonderful-wednesday-front.jpg" alt="Wonderful Wednesday with VISA" />
                        </a>
                    </div>
                    -->
                <!--
                    <div class="slider">
                        <a href="@Url.Action("GetCalendarTerms","StaticPage")">
                            <img src="/Assets/images/campaign/free2016calendar/campaign-2016_calendar.jpg" alt="Free 2016 Calendar" />
                        </a>
                    </div>
                    -->
                <!--
                    <div class="slider">
                        <a href="#">
                            <img src="/Assets/images/slider/slider-happy_hew_year.jpg" alt="Merry Christmas and Happy New Year" />
                        </a>
                    </div>
                    -->
                <!--
                    <div class="slider">
                        <a href="#">
                            <img src="/Assets/images/slider/slider-winner-20151002.jpg" alt="Pemenang Beta Test" />
                        </a>
                    </div>
                    -->
                <div class="slider">
                    <a href="@Url.Action("Btn","Promo")">
                        <img src="/Assets/images/campaign/PromoBTN/PromoBTN-slider-bg.jpg" alt="Promo BTN" />
                    </a>
                </div>
                <div class="slider">
                    <a href="@Url.Action("TravoramaMobileApp","StaticPage")">
                        <img src="/Assets/images/campaign/MobileApp/mobile-app-banner.jpg" alt="Download Travorama Mobile App" />
                    </a>
                </div>
                <div class="slider">
                    <a href="#">
                        <img src="/Assets/images/default-banner.jpg" alt="Travorama" />
                    </a>
                </div>
            </div>
        </div><!-- .slider -->
    }else{
        <div class="page-slider" style="background-image:url('/Assets/images/campaign/@(ViewBag.DestinationName.Replace(" ","")).jpg');">    
            <div class="slider-text hidden">
                <h1><img src="/Assets/images/enjoyyoureverymoment.png" alt="Enjoy Your Every Moment" /></h1>
                <p>Ke mana pun Anda ingin bepergian, kami menyediakan pilihan penerbangan <br /> domestik dan internasional dari 900 maskapai</p>
            </div>
        </div><!-- .slider -->
    }
        
</section><!-- .section-search -->

<section class="section-reason">
    <div class="container">
        <img src="/Assets/images/choose-travorama.png" alt="Why choose Travorama" />
    </div>
</section>
@if (ViewBag.DestinationName == null || ViewBag.Destinationname == ""){
    <section class="section-popular">
        <div class="container">
            <h2 class="section-title stripe text-center">TUJUAN <span>TERPOPULER</span></h2>

            <div class="row">
                <div class="col-xs-4 popular-left">
                    <div class="destination small">
                        <a href="/id/jakarta" data-target="jakarta">
                            <h3>
                                <small>Penerbangan ke</small> <b>Jakarta</b>
                            </h3>
                            
                        </a>
                        <img src="/Assets/images/pop-jakarta.jpg" alt="Jakarta, Indonesia" />
                    </div>
                    <div class="destination medium yellow">
                        <a href="/id/bali" data-target="bali">
                            <h3>
                                <small>Penerbangan ke</small> <b>Bali</b>
                            </h3>
                            
                        </a>
                        <img src="/Assets/images/pop-bali.jpg" alt="Bali, Indonesia" />
                    </div>
                    <div class="destination large">
                        <a href="/id/malaysia" data-target="malaysia">
                            <h3>
                                <small>Penerbangan ke</small> <b>Malaysia</b>
                            </h3>
                            
                        </a>
                        <img src="/Assets/images/pop-malaysia.jpg" alt="Malaysia" />
                    </div>
                </div>
                <div class="col-xs-4 popular-middle">
                    <div class="destination half yellow">
                        <a href="/id/yogyakarta" data-target="yogyakarta">
                            <h3>
                                <small>Penerbangan ke</small> <b>Yogyakarta</b>
                            </h3>
                            
                        </a>
                        <img src="/Assets/images/pop-yogyakarta.jpg" alt="Yogyakarta, Indonesia" />
                    </div>
                    <div class="destination half yellow">
                        <a href="/id/singapore" data-target="singapore">
                            <h3>
                                <small>Penerbangan ke</small> <b>Singapura</b>
                            </h3>
                            
                        </a>
                        <img src="/Assets/images/pop-singapore.jpg" alt="Singapore" />
                    </div>
                </div>
                <div class="col-xs-4 popular-right">
                    <div class="destination large">
                        <a href="/id/bandung" data-target="bandung">
                            <h3>
                                <small>Penerbangan ke</small> <b>Bandung</b>
                            </h3>
                            
                        </a>
                        <img src="/Assets/images/pop-bandung.jpg" alt="Bandung, Indonesia" />
                    </div>
                    <div class="destination medium yellow">
                        <a href="/id/surabaya" data-target="surabaya">
                            <h3>
                                <small>Penerbangan ke</small> <b>Surabaya</b>
                            </h3>
                            
                        </a>
                        <img src="/Assets/images/pop-surabaya.jpg" alt="Surabaya, Indonesia" />
                    </div>
                    <div class="destination small">
                        <a href="/id/hongkong" data-target="hongkong">
                            <h3>
                                <small>Penerbangan ke</small> <b>Hongkong</b>
                            </h3>

                        </a>
                        <img src="/Assets/images/pop-hongkong.jpg" alt="Hongkong" />
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- .section-popular -->
}
else
{
    <section class="section-popular">
        <div class="container">
            <h2 class="section-title stripe text-center">RUTE PENERBANGAN <span>TERPOPULER</span></h2>
            
            <div class="route-wrapper" ng-app="travorama" ng-controller="homeController">
            
                <div class="row">
                    
                    <div class="col-xs-4" ng-repeat="destination in topDestinations">
                        <div class="route">
                            <header>
                                <h5><span>Rute Penerbangan</span></h5>
                            </header>
                            <section>
                                <h4><b>{{destination.name}}</b> ke <b>{{flightDestination.name}}</b></h4>
                                <p>Harga mulai dari <b>Rp {{destination.price | number}}</b></p>
                                <a class="btn btn-yellow" href="@Url.Action("Search","Flight")?info={{ destination.origin + '' + flightDestination.code + '' + departureDate  }}-100y">LIHAT SEKARANG</a>
                            </section>
                        </div>
                    </div>

                </div>    

            </div><!-- .destination-wrapper -->

        </div>
    </section>
}

<section class="section-subscribe">
    <div class="container">

        <img class="subscribe-bg" src="/Assets/images/subscribe-bg.jpg" alt="Email" />
        
        <div class="row subscribe-after">
            <div class="col-xs-10 col-xs-offset-2">
                <div>
                    <h2><b>Terima Kasih Telah Mendaftar di Newsletter Kami</b></h2>
                </div>
            </div>
        </div>

        <div class="row subscribe-before">
            <div class="col-xs-7">
                <h2>Jadilah yang pertama tahu mengenai tujuan perjalanan serta promo penerbangan terkini!</h2>
            </div>
            <div class="col-xs-5">
                <form class="form subscribe-form">
                    <div class="form-group">
                        <input type="text" name="address" value="" class="subscribe-email form-control" placeholder="Alamat E-mail Anda" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" value="" class="subscribe-name form-control" placeholder="Nama Anda" />
                        <input type="submit" class="btn btn-yellow" value="MEMBERSHIP" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</section><!-- .section-subscribe -->

<section class="section-payment">
    <div class="container text-center">

        <h2 class="section-title stripe text-center">MENERIMA <span>PEMBAYARAN</span> MELALUI</h2>

        <p class="text-center">
            <img src="/Assets/images/payment-method.jpg" alt="Visa and Master Card, ATM Bersama, CIMB Clicks" />
        </p>

    </div>
</section><!-- .section-payment -->

<section class="section-feedback">
    <div class="container">

        <div class="row">
            <div class="col-xs-6">

                <h2 class="hidden">Pendapat Orang-Orang Mengenai Travorama</h2>
                <blockquote>
                    <p>You can never cross the ocean until you have the courage to lose sight of the shore</p>
                    <footer>Christopher Columbus</footer>
                </blockquote>

            </div>
        </div>

    </div>
</section><!-- .section-feedback -->
