@using System.Globalization
@using Lunggo.ApCommon.Hotel.Service
@model Lunggo.ApCommon.Hotel.Model.HotelDetailForDisplay
@{

    var night = (Model.CheckOutDate - Model.CheckInDate).Days;
    var hotelImg = "";
    var roomImg = "";
    var images = HotelService.GetInstance().GetHotelDetailFromDb(Model.HotelCode).ImageUrl;

    var orDefault = images.Where(i => i.Type == "GEN").ToList().FirstOrDefault();
    if (orDefault != null)
    {
        hotelImg = images == null
            ? null
            : "http://photos.hotelbeds.com/giata/" + orDefault.Path;
    }
    
    var firstOrDefault = images.Where(i => i.Type == "HAB").ToList().FirstOrDefault();
    if (firstOrDefault != null)
    {
        roomImg = images == null
            ? null
            : "http://photos.hotelbeds.com/giata/" + firstOrDefault.Path;
    }

    var listAges = new List<int>();
    var sumAdult = 0;
    var sumChild = 0;
    var orderedRooms = new List<Tuple<string, int>>();
    try
    {

        foreach (var room in Model.Rooms)
        {
            var roomName = room.RoomName;
            var sum = 0;
            foreach (var rate in room.Rates)
            {
                sum += rate.RoomCount;
                sumAdult += rate.AdultCount;
                sumChild += rate.ChildCount;
                if (rate.ChildCount <= 0)
                {
                    continue;
                }
                listAges.AddRange(rate.ChildrenAges);
            }
            orderedRooms.Add(new Tuple<string, int>(roomName, sum)); ;
        }
    }
    catch (Exception)
    {

        throw;
    }
}

@functions{

    public string ToTitleCase(string input)
    {

        var text = "";
        try
        {
            var splittedText = input.Split(' ');
            foreach (var word in splittedText)
            {
                var splittedByStrips = word.Split('-');
                var w = "";
                if (splittedByStrips.Count() != 1)
                {
                    foreach (var part in splittedByStrips)
                    {
                        w += ApplyTitleCase(part) + "-";
                    }
                    text += w.Substring(0, w.Length - 1) + " ";
                }
                else
                {
                    text += word[0] + word.Substring(1, word.Length - 1).ToLower() + " ";
                }
            }
        }
        catch { }
        return text.Length == 0 ? "" : text.Substring(0, text.Length - 1);
    }

    public string ApplyTitleCase(string input)
    {
        return input[0] + input.Substring(1, input.Length - 1).ToLower();
    }

}

<div class="hotel-detail-container">
    <div class="rh-row clearfix">
        <div class="col-sp-3">
            <div class="rh-img" style="background-image: url(@hotelImg);"></div>
        </div>
        <div class="col-7">
            <div class="blue-txt bold-txt hotel-title-lg md-txt">@ToTitleCase(Model.HotelName)</div>
            @if (Model.StarRating == 1)
            {
            <div class="star"></div>
            }
            else if (Model.StarRating == 2)
            {
            <div class="star star-2"></div>
            }
            else if (Model.StarRating == 3)
            {
            <div class="star star-3"></div>
            }
            else if (Model.StarRating == 4)
            {
            <div class="star star-4"></div>
            }
            else if (Model.StarRating == 5)
            {
            <div class="star star-5"></div>
            }
            <div class="rh-location">
                @ToTitleCase(Model.Address) @ToTitleCase(Model.ZoneName),
                @ToTitleCase(Model.DestinationName), @Model.PostalCode, @Model.CountryName
            </div>
            <div class="rh-row">
                <div class="wb-container clearfix">
                    <div class="wb-left">Check in</div>
                    <div class="wb-mid">:</div>
                    <div class="wb-right bold-txt">@Model.CheckInDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                </div>
                <div class="wb-container clearfix">
                    <div class="wb-left">Check out</div>
                    <div class="wb-mid">:</div>
                    <div class="wb-right bold-txt">@Model.CheckOutDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                </div>
                <div class="wb-container clearfix">
                    <div class="wb-left">Malam</div>
                    <div class="wb-mid">:</div>
                    <div class="wb-right bold-txt">@night Malam</div>
                </div>
                <div class="wb-container clearfix">
                    <div class="wb-left">Kamar</div>
                    <div class="wb-mid">:</div>
                    <div class="wb-right bold-txt">@Model.Rooms.Sum(r => r.Rates.Sum(c => c.RoomCount)) Kamar</div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var room in Model.Rooms)
    {
        <div class="rh-row clearfix">
            @foreach (var rate in room.Rates)
            {
                <div class="br"></div>
                <div class="clearfix">
                    <div class="col-sp-3">
                        <div class="rh-img" style="background-image: url(@roomImg);"></div>
                    </div>
                    <div class="col-7 clearfix">
                        <div class="blue-txt bold-txt rh-title">Tipe Kamar : @ToTitleCase(room.RoomName)</div>
                        <div class="rh-table clearfix">
                            <div class="cols-1 room-sort-mid clearfix">
                                <div class="cols-title">Kamar</div>
                                <div class="cols-value">@rate.RoomCount</div>
                            </div>
                            <div class="cols-2 room-sort-mid clearfix">
                                <div class="cols-title">Dewasa</div>
                                <div class="cols-value">@rate.AdultCount</div>
                            </div>
                            <div class="cols-3 clearfix">
                                <div class="cols-title">Anak</div>
                                <div class="cols-value">
                                    @if (@rate.ChildCount > 0)
                                    {
                                        <span>@rate.ChildCount</span>
                                        <span>
                                            (
                                            @for (var a = 0; a < rate.ChildrenAges.Count; a++)
                                            {
                                                if (a != rate.ChildrenAges.Count - 1)
                                                {
                                                    @rate.ChildrenAges[a]
                                                    <span>th, </span>
                                                }
                                                else
                                                {
                                                    @rate.ChildrenAges[a]
                                                    <span>th</span>
                                                }
                                            }
                                            )
                                        </span>
                                    }
                                </div>
                            </div>
                            <div class="cols-4 quarter clearfix">
                                <div class="cols-title">Board</div>
                                <div class="cols-value">@ToTitleCase(rate.BoardDescription)</div>
                            </div>
                        </div>
                    </div>

                </div>
                if (rate.TermAndCondition != null && rate.TermAndCondition.Count != 0 && !rate.TermAndCondition.Exists(r => r.Length < 3))
                {
                    <div class="rh-policy clearfix">
                        <div class="rh-title blue-txt bold-txt">Ketentuan</div>
                        <div class="" style="text-transform: capitalize">@String.Join(". ", rate.TermAndCondition)</div>
                    </div>
                }
                if (rate.Cancellation != null && rate.Cancellation.Count > 0)
                {
                    <div class="rh-cancel clearfix">
                        <div class="rh-title blue-txt bold-txt">Ketentuan Pembatalan</div>
                        <ul class="blue-list">
                            @if (rate.IsFreeCancel)
                            {
                                <li>
                                    Gratis pembatalan sebelum tanggal @rate.FreeUntil.GetValueOrDefault().AddHours(7).ToString("dd MMMM yyyy HH:mm", CultureInfo.CreateSpecificCulture("id-ID")) WIB.
                                </li>
                            }
                            @foreach (var policy in rate.Cancellation)
                            {
                                <li>
                                    Pembatalan setelah tanggal @policy.StartTime.AddHours(7).ToString("dd MMMM yyyy HH:mm", CultureInfo.CreateSpecificCulture("id-ID")) WIB akan dikenakan biaya sebesar Rp @(policy.SingleFee.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))) per kamar <br />
                                </li>
                            }
                        </ul>
                    </div>
                }
            }
        </div>
    }
</div>
