@using System.Globalization
@using Lunggo.ApCommon.Hotel.Service
@{
    string dpsUrl;
    string jktUrl;
    string jogUrl;
    string subUrl;
    string bdgUrl;
    var today = DateTime.Today;
    var days = DateTime.DaysInMonth(today.Year, today.Month);
    var lastDay = new DateTime(today.Year, today.Month, days);
    
    var denpasar = HotelService.GetInstance().PairsOfDateAndPrice("BAI", today, lastDay);
    var jakarta = HotelService.GetInstance().PairsOfDateAndPrice("JAV", today, lastDay);
    var bandung = HotelService.GetInstance().PairsOfDateAndPrice("BDO", today, lastDay);
    var surabaya = HotelService.GetInstance().PairsOfDateAndPrice( "SUB", today, lastDay);
    var yogya = HotelService.GetInstance().PairsOfDateAndPrice("JOG", today, lastDay);

    if (denpasar.CheapestPrice > 0)
    {
        var splittedDate = denpasar.CheapestDate.Split('/');
        var cheapestDate = new DateTime(Convert.ToInt32(splittedDate[0].Substring(2, 2)), Convert.ToInt32(splittedDate[1]), Convert.ToInt32(splittedDate[2]));
        var nextday = cheapestDate.AddDays(1);
        dpsUrl = "/id/hotel/cari/Indonesia/Bali/?info=Location.1316553." + splittedDate[0] + "-" + splittedDate[1] + "-"
                 + splittedDate[2] + "." + nextday.ToString("yyyy") + "-" + nextday.ToString("MM") + "-" + nextday.ToString("dd") + ".1.1.2~0";
    }
    else
    {
        dpsUrl = "/id/hotel/cari/Indonesia/Bali";
    }

    if (jakarta.CheapestPrice > 0)
    {
        var splittedDate = jakarta.CheapestDate.Split('/');
        var cheapestDate = new DateTime(Convert.ToInt32(splittedDate[0].Substring(2, 2)), Convert.ToInt32(splittedDate[1]), Convert.ToInt32(splittedDate[2]));
        var nextday = cheapestDate.AddDays(1);
        jktUrl = "/id/hotel/cari/Indonesia/Jakarta/?info=Location.1390294." + splittedDate[0] + "-" + splittedDate[1] + "-"
                 + splittedDate[2] + "." + nextday.ToString("yyyy") + "-" + nextday.ToString("MM") + "-" + nextday.ToString("dd") + ".1.1.2~0";
    }
    else
    {
        jktUrl = "/id/hotel/cari/Indonesia/Jakarta";
    }

    if (bandung.CheapestPrice > 0)
    {
        var splittedDate = bandung.CheapestDate.Split('/');
        var cheapestDate = new DateTime(Convert.ToInt32(splittedDate[0].Substring(2, 2)), Convert.ToInt32(splittedDate[1]), Convert.ToInt32(splittedDate[2]));
        var nextday = cheapestDate.AddDays(1);
        bdgUrl = "/id/hotel/cari/Indonesia/Bandung/?info=Location.1316847." + splittedDate[0] + "-" + splittedDate[1] + "-"
                 + splittedDate[2] + "." + nextday.ToString("yyyy") + "-" + nextday.ToString("MM") + "-" + nextday.ToString("dd") + ".1.1.2~0";
    }
    else
    {
        bdgUrl = "/id/hotel/cari/Indonesia/Bandung";
    }

    if (surabaya.CheapestPrice > 0)
    {
        var splittedDate = surabaya.CheapestDate.Split('/');
        var cheapestDate = new DateTime(Convert.ToInt32(splittedDate[0].Substring(2, 2)), Convert.ToInt32(splittedDate[1]), Convert.ToInt32(splittedDate[2]));
        var nextday = cheapestDate.AddDays(1);
        subUrl = "/id/hotel/cari/Indonesia/Surabaya/?info=Location.1475138." + splittedDate[0] + "-" + splittedDate[1] + "-"
                 + splittedDate[2] + "." + nextday.ToString("yyyy") + "-" + nextday.ToString("MM") + "-" + nextday.ToString("dd") + ".1.1.2~0";
    }
    else
    {
        subUrl = "/id/hotel/cari/Indonesia/Surabaya";
    }

    if (yogya.CheapestPrice > 0)
    {
        var splittedDate = yogya.CheapestDate.Split('/');
        var cheapestDate = new DateTime(Convert.ToInt32(splittedDate[0].Substring(2, 2)), Convert.ToInt32(splittedDate[1]), Convert.ToInt32(splittedDate[2]));
        var nextday = cheapestDate.AddDays(1);
        jogUrl = "/id/hotel/cari/Indonesia/Yogyakarta/?info=Location.1391623." + splittedDate[0] + "-" + splittedDate[1] + "-"
                 + splittedDate[2] + "." + nextday.ToString("yyyy") + "-" + nextday.ToString("MM") + "-" + nextday.ToString("dd") + ".1.1.2~0";
    }
    else
    {
        jogUrl = "/id/hotel/cari/Indonesia/Yogyakarta";
        
    }
}
<div class="popular-hotel">
    <div class="section-title stripe text-center xlg-txt"><h1>RUTE PENERBANGAN <span>TERPOPULER</span></h1></div>
    <div class="row">
        <div class="col-xs-6">
            <div class="pop-hotel bg" style="background-image: url('/Assets/images/index/popular-hotel-jakarta.jpg')">
                <div class="pop-inner">
                    <div class="white-txt normal-txt">Hotel di</div>
                    <div class="xlg-txt os-bold white-txt">Jakarta</div>
                    @if (jakarta.CheapestPrice > 0)
                    {
                        <div class="bottom-txt">
                            <span class="normal-txt white-txt">mulai dari</span>
                            <span class="md-txt os-bold yellow-txt">Rp @jakarta.CheapestPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</span>
                        </div>
                    }
                    
                    <div class="view-hotel">
                        <a class="btn btn-yellow sm-btn normal-txt os-bold" href="@jktUrl" data-target="jakarta">LIHAT HOTEL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="pop-hotel bg" style="background-image: url('/Assets/images/index/popular-hotel-yogyakarta.jpg')">
                <div class="pop-inner">
                    <div class="white-txt normal-txt">Hotel di</div>
                    <div class="xlg-txt os-bold white-txt">Yogyakarta</div>
                    @if (yogya.CheapestPrice > 0)
                    {
                        <div class="bottom-txt">
                            <span class="normal-txt white-txt">mulai dari</span>
                            <span class="md-txt os-bold yellow-txt">Rp @yogya.CheapestPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</span>
                        </div>
                    }
                    <div class="view-hotel">
                        <a class="btn btn-yellow sm-btn normal-txt os-bold" href="@jogUrl" data-target="jakarta">LIHAT HOTEL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="pop-hotel" style="background-image: url('/Assets/images/index/popular-hotel-surabaya.jpg')">
                <div class="pop-inner">
                    <div class="white-txt normal-txt">Hotel di</div>
                    <div class="xlg-txt os-bold white-txt">Surabaya</div>
                    @if (surabaya.CheapestPrice > 0)
                    {
                        <div class="bottom-txt">
                            <span class="normal-txt white-txt">mulai dari</span>
                            <span class="md-txt os-bold yellow-txt">Rp @surabaya.CheapestPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</span>
                        </div>
                    }
                    
                    <div class="view-hotel">
                        <a class="btn btn-yellow sm-btn normal-txt os-bold" href="@subUrl" data-target="jakarta">LIHAT HOTEL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="pop-hotel" style="background-image: url('/Assets/images/index/popular-hotel-bali.jpg')">
                <div class="pop-inner">
                    <div class="white-txt normal-txt">Hotel di</div>
                    <div class="xlg-txt os-bold white-txt">Bali</div>
                    @if (denpasar.CheapestPrice > 0)
                    {
                        <div class="bottom-txt">
                            <span class="normal-txt white-txt">mulai dari</span>
                            <span class="md-txt os-bold yellow-txt">Rp @denpasar.CheapestPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</span>
                        </div>
                    }
                    <div class="view-hotel">
                        <a class="btn btn-yellow sm-btn normal-txt os-bold" href="@dpsUrl" data-target="jakarta">LIHAT HOTEL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="pop-hotel" style="background-image: url('/Assets/images/index/popular-hotel-bandung.jpg')">
                <div class="pop-inner">
                    <div class="white-txt normal-txt">Hotel di</div>
                    <div class="xlg-txt os-bold white-txt">Bandung</div>
                    @if (bandung.CheapestPrice > 0)
                    {
                        <div class="bottom-txt">
                            <span class="normal-txt white-txt">mulai dari</span>
                            <span class="md-txt os-bold yellow-txt">Rp @bandung.CheapestPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</span>
                        </div>
                    }
                    
                    <div class="view-hotel">
                        <a class="btn btn-yellow sm-btn normal-txt os-bold" href="@bdgUrl" data-target="jakarta">LIHAT HOTEL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>