@using Lunggo.ApCommon.Identity.Users

<section ng-controller="siteHeaderController">
    @if (ViewBag.SiteHeader == "checkout")
    {
        <header class="site-header">

            <div class="container">

                <div class="row">
                    <div class="col-xs-3">
                        <a href="/" class="site-logo"><img src="/Assets/images/travorama20/travorama-logo.png" alt="TRAVORAMA" /></a>
                    </div>
                    <div class="col-xs-7 col-xs-offset-2">

                        <div class="header-ssl">
                            <div class="image-wrapper">
                                <img src="/Assets/images/ssl-image.png" alt="SSL Secured" />
                            </div>
                            <p>Travorama selalu mementingkan keamanan transaksi Anda. Semua transaksi melalui Travorama.com dijamin 100% aman.</p>
                        </div>

                    </div>
                </div>

            </div>

        </header>
    <!-- .site-header -->
    }
    else
    {
        <header class="site-header">

            <div class="container">

                <div class="row">
                    <div class="col-xs-3">
                        <a href="/" class="site-logo"><img src="/Assets/images/travorama20/travorama-logo.png" alt="TRAVORAMA" /></a>
                    </div>
                    <div class="col-xs-9">
                        <div class="menu-top">
                            <nav>
                                <ul>
                                    <li class="check-order"><a href="@Url.Action("CekPemesanan", "Home")">Cek Pemesanan</a></li>
                                    <li class="currency-select hidden"><a href="#">IDR <span class="caret"></span></a></li>
                                    <li class="language-select dropdown-wrapper hidden">
                                        <a href="#" data-trigger="dropdown"><img src="/Assets/images/flag-indonesia.png" alt="Indonesia" /> <span class="caret"></span></a>
                                        <div class="dropdown-content flag-select">
                                            <ul>
                                                <li><a href="@Html.IdLangSwitcherUrl()"><img src="/Assets/images/flag-indonesia.png" alt="Bahasa" /></a></li>
                                                <li><a href="@Html.EnLangSwitcherUrl()"><img src="/Assets/images/flag-britain.png" alt="English" /></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu-bottom page-loading" ng-class="{'page-loaded' : pageLoaded}">
                            <div class="menu-side">
                                <nav>
                                    <ul>
                                        <li class="hidden"><a href="#">Scratchpad <span class="caret"></span></a></li>
                                        <li class="dropdown-wrapper">
                                            <a href="#" data-trigger="dropdown" ng-show="isLogin && name.length > 0"> {{name}} <span class="caret"></span></a>
                                            <a href="#" data-trigger="dropdown" ng-show="isLogin && name.length == 0"> {{email}} <span class="caret"></span></a>
                                            <div ng-if="!isLogin">
                                                <ul >
                                                    <li>
                                                        <a href="@Url.Action("Login", "Account", new {ReturnUrl = Context.Request.Url.PathAndQuery}) ">
                                                            Masuk
                                                        </a>
                                                    </li>
                                                    <li><a href="@Url.Action("Register", "Account")">Daftar</a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-content my-account" ng-if="isLogin">
                                                <ul>
                                                    <li><a href="@( Url.Action("OrderHistory", "Account") + "#profile")">Profil Saya</a></li>
                                                    <li><a href="@(Url.Action("OrderHistory", "Account") + "#order")">Pesanan Saya</a></li>
                                                    <li><a href="" ng-click="logout.getLogout()">Keluar</a></li>
                                                </ul>

                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="menu-main pull-left">
                                <nav>
                                    <ul>
                                        <li ng-class="{'active' : whatpage() == 1}" id="header-flight"><a >PENERBANGAN</a></li>
                                        <li ng-class="{'active' : whatpage() == 2}" id="header-hotel"><a >HOTEL</a></li>
                                        @*<li class="hidden"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Coming soon!">HOTEL</a></li>
                        <li class="hidden"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Coming soon!">TOUR &amp; ACTIVITY</a></li>
                        <li class="hidden"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Coming soon!">PROMOTION</a></li>*@
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>
    <!-- .site-header -->
    }

</section>