<section class="site-footer-menu">
    <div class="container">
        <div class="row web-banner">
            <div class="col-xs-3 menu-about">
                <p class="list-title">Tentang Travorama</p>
                <ul>
                    <li><a href="@Url.Action("HowToOrder","StaticPage")">Cara Pesan</a></li>
                    @* <li><a href="@Url.Action("#","StaticPage")">About Us</a></li> *@
                    <li><a href="@Url.Action("Contact","StaticPage")">Contact Us</a></li>
                    <li><a href="@Url.Action("Question","StaticPage")">FAQs</a></li>
                    @* <li><a href="http://travelmadezy.com" target="_blank">Karir</a></li> *@
                </ul>
            </div>
            <div class="col-xs-3 menu-other">
                <p class="list-title">Lainnya</p>
                <ul>
                    <li><a href="@Url.Action("Privacy","StaticPage")">Kebijakan Privasi</a></li>
                    @* <li><a href="@Url.Action("#","StaticPage")">Daftarkan Activity Anda</a></li> *@
                    <li><a href="@Url.Action("Terms","StaticPage")">Terms &amp; Condition</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <div class="center-call">
                    <p class="list-title">Customer Service</p>
                    <img src="/Assets/images/cs-icon.png" alt="Customer Service" />
                    <h4>0855-7467-9737</h4>
                    <h5><a href="mailto:cs@travorama.com">cs@travorama.com</a></h5>
                    <h6>Senin - Jumat: 09:00 - 18:00</h6>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="sosmed-desktop">
                    <p class="list-title">Follow Us On</p>
                    <div class="social-link-desktop">
                        <a href="https://www.facebook.com/travorama" target="_blank"><img src="/Assets/images/social-facebook.png" alt="facebook.com/travorama" /></a>
                        <a href="https://twitter.com/travoramaid" target="_blank"><img src="/Assets/images/social-twitter.png" alt="twitter.com/travoramaid" /></a>
                        <a href="https://instagram.com/travorama" target="_blank" ><img src="/Assets/images/social-instagram.png" alt="instagram.com/travorama" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-middle clearfix">
                <div class="col-xs-8">
                    <div class="logo-footer">
                        <img src="/Assets/images/asita.png" alt="ASITA">
                    <!--
                        <img src="/Assets/images/iata.png" alt="IATA">
                        <img src="/Assets/images/kai.png" alt="KAI">
                        <img src="/Assets/images/tripadvisor.png" alt="TRIPADVISOR"><br/>
                    -->
                        <div class="payment-banner">
                            <p>Kami Menerima Pembayaran dari</p>
                            <img src="/Assets/images/payment.jpg" alt="Visa Mastercard PermataBank virtual account">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="mail-subscribe">
                        <img src="/Assets/images/subscribe-desktop.png" alt="yuk subscribe!">
                        <div class="form-subscribe-desktop">
                            <form class="subscribe-form">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-desktop-subscribe subscribe-email" placeholder="Masukkan Email Anda">
                                </div>
                                <input type="submit" class="btn-subscribe-desktop" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 menu-flight">
                <p class="list-title">Tiket Pesawat Populer</p>
                <ul>
                    <li><a href="/id/tiket-pesawat/cari/Jakarta-Denpasar--Bali-CGK-DPS">Tiket murah Jakarta-Bali</a></li>
                    <li><a href="/id/tiket-pesawat/cari/Jakarta-Singapore-JKT-SIN">Tiket murah Jakarta-Singapura</a></li>
                    <li><a href="/id/tiket-pesawat/cari/Jakarta-Medan-CGK-KNO">Tiket murah Jakarta-Medan</a></li>
                    <li><a href="/id/tiket-pesawat/cari/Jakarta-Surabaya-CGK-SUB">Tiket murah Jakarta-Surabaya</a></li>
                    <li><a href="/id/tiket-pesawat/cari/Jakarta-Lombok-CGK-LOP">Tiket murah Jakarta-Lombok</a></li>
                </ul>
            </div>
            <div class="col-xs-3 menu-flight">
                <p class="list-title">&nbsp;</p>
                <ul>
                    <li><a href="/id/tiket-pesawat/cari/Jakarta-Bangkok-CGK-DMK">Tiket murah Jakarta-Bangkok</a></li>
                    <li><a href="/id/tiket-pesawat/cari/Jakarta-Yogyakarta-CGK-JOG">Tiket murah Jakarta-Yogyakarta</a></li>
                    <li><a href="/id/tiket-pesawat/cari/Jakarta-Kuala-Lumpur-CGK-KUL">Tiket murah Jakarta-Kuala Lumpur</a></li>
                    <li><a href="/id/tiket-pesawat/cari/Jakarta-Malang-JKT-MLG">Tiket murah Jakarta-Malang</a></li>
                    <li><a href="/id/tiket-pesawat/cari/Jakarta-Makassar-CGK-UPG">Tiket murah Jakarta-Makassar</a></li>
                </ul>
            </div>
            <div class="col-xs-2 menu-hotel">
                <p class="list-title">Hotel Populer</p>
                <ul>
                    <li><a href="/id/hotel/cari/Indonesia/Bali">Hotel di Bali</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Jakarta">Hotel di Jakarta</a></li>
                    <li><a href="/id/hotel/cari/Singapura/Singapore">Hotel di Singapore</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Malang">Hotel di Malang</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Bogor">Hotel di Bogor</a></li>
                </ul>
            </div>
            <div class="col-xs-2 menu-hotel">
                <p class="list-title">&nbsp;</p>
                <ul>
                    <li><a href="/id/hotel/cari/Indonesia/Medan">Hotel di Medan</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Yogyakarta">Hotel di Yogyakarta</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Batam">Hotel di Batam</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Palembang">Hotel di Palembang</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Pekanbaru">Hotel di Pekanbaru</a></li>
                </ul>
            </div>
            <div class="col-xs-2 menu-hotel">
                <p class="list-title">&nbsp;</p>
                <ul>
                    <li><a href="/id/hotel/cari/Indonesia/Solo">Hotel di Solo</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Padang">Hotel di Padang</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Balikpapan">Hotel di Balikpapan</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Semarang">Hotel di Semarang</a></li>
                    <li><a href="/id/hotel/cari/Indonesia/Surabaya">Hotel di Surabaya</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright &copy; @DateTime.Now.Year Travel Madezy Internasional. All Rights Reserved.</p>
        </div>
    </div>
</section>@* .site-footer-menu *@