@model Lunggo.CustomerWeb.Areas.UW200.Models.UW200HotelDetailViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@Model.SearchParam.HotelName</h2>
@Model.SearchParam.CountryArea > @Model.SearchParam.ProvinceArea > @Model.SearchParam.HotelName
<div>
    <a href="@Url.RouteUrl("UW100RouteSearchHotelResult", new
    {
        CountryArea = Model.SearchParam.CountryArea,
        ProvinceArea = Model.SearchParam.ProvinceArea,
        GuestCount = Model.SearchParam.GuestCount,
        StringChkInDate = Model.SearchParam.StringChkInDate,
        StringChkOutDate = Model.SearchParam.StringChkOutDate,
        RoomCount = Model.SearchParam.RoomCount,
        Keyword = Model.SearchParam.Keyword
    });"><span class="glyphicon glyphicon-circle-arrow-left"></span>Back</a>
	<hr />
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="background-color:gray;padding:5px;border:1px solid thin">
    <div style="background-color:white;padding:10px;">
        
    </div>
</div>
<div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12" style="background-color:gray;padding:5px;border:1px solid thin">
    <div style="background-color:white;padding:10px;">

    </div>
</div>
