@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Cek Pemesanan";
    ViewBag.BodyClass = "page page-checkorder";
    ViewBag.AngularController = "CheckOrderController";
    ViewBag.CurrentPage = "checkorder";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var LoginMessage = '@ViewBag.Message';
    </script>
    <!-- angular controller -->
    <script src="/Assets/mobile/js/AccountController.js"></script>
}

<div class="container">
    
    <header class="page__header">
        <h1 class="text-center section-title stripe">Cek <span>Pemesanan</span></h1>
    </header><!-- .page__header -->
    
    <div class="page__body">
        <h4>@Html.I18NString("CW00187")</h4>
        <ul>
            <li>@Html.I18NString("CW00188")</li>
            <li>@Html.I18NString("CW00189")</li>
        </ul>
    
        @using (Html.BeginForm("CekPemesanan", "Home", FormMethod.Post, new {@class = "", role = "form", name = "CheckForm", novalidate="novalidate"}))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">@Html.I18NString("CW00190") :</label>
                <input type="number" name="" value="" class="form-control" required ng-model="Order.Number" />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.I18NString("CW00191") :</label>
                <input type="text" name="" value="" class="form-control" required ng-model="Order.Name" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-yellow btn-block" ng-disabled="CheckForm.$invalid">@Html.I18NString("CW00192")</button>
            </div>
        }

    </div><!-- .page__body -->

    
</div><!-- .container -->