@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.Title = "Cek Pemesanan";
    ViewBag.BodyClass = "page-password page-check-order";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS{
    <script>
        var langCode = 'en';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}

@*<script type="text/javascript">
        //var isRsvNull = false;
        //if (ViewBag.ErrorInfo != null) {
        //    isRsvNull = true;
        //}
        @{
            var isRsvNull = false;
            if (ViewBag.ErrorInfo != null)
            {
                isRsvNull = true;
                @:alert('@ViewBag.ErrorInfo.Message');
            }
            else
            {
                isRsvNull = false;
            }
        }
    </script>*@

@if (ViewBag.ErrorInfo != null)
{
    <section class="form-section page-loading" ng-app="travorama" ng-controller="checkController" ng-class="{'page-loaded': pageLoaded}">

        <h1 class="text-center section-title stripe">CEK <span>PEMESANAN</span></h1>

        <div class="container form-container">

            <h3>@Html.I18NString("CW00187")</h3>
            @*<ul>
                <li>@Html.I18NString("CW00188")</li>
                <li>@Html.I18NString("CW00189")</li>
            </ul>*@

            <div class="form-wrapper">
                <section class="form-content">
                    @using (Html.BeginForm("CekPemesanan", "Home", FormMethod.Post, new { @class = "form form-horizontal", role = "form", name = "checkForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xs-5">
                                <label class="control-label">@Html.I18NString("CW00190"):</label>
                                <input type="text" name="rsvNo" value="" class="form-control" placeholder="Ex : 123456789012" ng-model="form.name" required />
                            </div>
                            <div class="col-xs-5">
                                <label class="control-label">@Html.I18NString("CW00191"):</label>
                                <input type="text" name="lastName" value="" class="form-control" placeholder="Ex : Juliana" ng-model="form.lastname" required />
                            </div>
                            <div class="col-xs-2">
                                <label class="control-label">&nbsp;</label>
                                <input type="submit" value="@Html.I18NString("CW00192")" class="btn btn-yellow form-control" ng-disabled="checkForm.$invalid" />
                            </div>
                        </div>
                    }
                </section><!-- .form-content -->
            </div>

        </div><!-- .form-container -->

        <div class="bookfailed-popup" ng-show="overlay">
            <div class="overlay-content">
                <section style="padding-top:60px; padding-left:225px;">
                    <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                    <div style="padding-top:25px;"><span style="color: #15b1e4; font-size:26px"><b>Mohon maaf...</b></span></div>
                    <div style="padding-top:5px;"><span style="font-size:13px">Pemesanan tidak dapat ditemukan.</span></div>
                </section>
                <div align="right" style="padding-right:30px;padding-top:30px;">
                    <a class="btn popup-btn-yellow book-failed" ng-click="closeOverlay()"><b>Tutup</b></a>
                </div>
            </div>
        </div>

    </section><!-- .form-section -->
}
else
{
    <section class="form-section page-loading" ng-app="travorama" ng-controller="checkController" ng-class="{'page-loaded': pageLoaded}">

        <h1 class="text-center section-title stripe">CEK <span>PEMESANAN</span></h1>

        <div class="container form-container">

            <h3>@Html.I18NString("CW00187")</h3>
            <ul>
                <li>@Html.I18NString("CW00188")</li>
                <li>@Html.I18NString("CW00189")</li>
            </ul>

            <div class="form-wrapper">
                <section class="form-content">
                    @using (Html.BeginForm("CekPemesanan", "Home", FormMethod.Post, new { @class = "form form-horizontal", role = "form", name = "checkForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xs-5">
                                <label class="control-label">@Html.I18NString("CW00190"):</label>
                                <input type="text" name="rsvNo" value="" class="form-control" placeholder="Ex : 123456789012" ng-model="form.name" required />
                            </div>
                            <div class="col-xs-5">
                                <label class="control-label">@Html.I18NString("CW00191"):</label>
                                <input type="text" name="lastName" value="" class="form-control" placeholder="Ex : Juliana" ng-model="form.lastname" required />
                            </div>
                            <div class="col-xs-2">
                                <label class="control-label">&nbsp;</label>
                                <input type="submit" value="@Html.I18NString("CW00192")" class="btn btn-yellow form-control" ng-disabled="checkForm.$invalid" />
                            </div>
                        </div>
                    }
                </section><!-- .form-content -->
            </div>

        </div><!-- .form-container -->

    </section><!-- .form-section -->
}

