@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.Title = "Cek Pemesanan";
    ViewBag.BodyClass = "page-password page-check-order";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS{
    <script>
        var langCode = 'en';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}

<script type="text/javascript">
    @{
        if (ViewBag.ErrorInfo != null)
        {
            @:alert('@ViewBag.ErrorInfo.Message');       
        }
    }
</script>

<section class="form-section page-loading" ng-app="travorama" ng-controller="checkController" ng-class="{'page-loaded': pageLoaded}">

    <h1 class="text-center section-title stripe">CEK <span>PEMESANAN</span></h1>

    <div class="container form-container">

        <h3>@Html.I18NString("CW00187")</h3>
        <ul>
            <li>@Html.I18NString("CW00188")</li>
            <li>@Html.I18NString("CW00189")</li>
        </ul>

        <div class="form-wrapper">
            <section class="form-content">
                @using (Html.BeginForm("CekPemesanan", "Home", FormMethod.Post, new { @class = "form form-horizontal", role = "form", name = "checkForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="control-label">@Html.I18NString("CW00190"):</label>
                            <input type="text" name="rsvNo" value="" class="form-control" placeholder="Ex : 123456789012" ng-model="form.name" required />
                        </div>
                        <div class="col-xs-5">
                            <label class="control-label">@Html.I18NString("CW00191"):</label>
                            <input type="text" name="lastName" value="" class="form-control" placeholder="Ex : Juliana" ng-model="form.lastname" required />
                        </div>
                        <div class="col-xs-2">
                            <label class="control-label">&nbsp;</label>
                            <input type="submit" value="@Html.I18NString("CW00192")" class="btn btn-yellow form-control" ng-disabled="checkForm.$invalid" />
                        </div>
                    </div>
                }
            </section><!-- .form-content -->
        </div>

    </div><!-- .form-container -->

</section><!-- .form-section -->