@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Flight.Service
@using Lunggo.Framework.Config
@using Lunggo.ApCommon.Payment.Constant
@model Lunggo.ApCommon.Product.Model.ReservationForDisplayBase

@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Konfirmasi Pembayaran";
    ViewBag.BodyClass = "page page-confirmation";
    ViewBag.AngularController = "ConfirmationController";

    var beneficiaryBankList = new List<SelectListItem>
    {
        new SelectListItem {Text = "Mandiri", Value = "Mandiri"},
        new SelectListItem {Text = "BCA", Value = "BCA"},
    };
}
@{
    var timelimit = Model.Payment.TimeLimit.GetValueOrDefault();
    FlightSegment prevSegment = null;
}

@functions{
    public string msToTime(double duration)
    {
        var hours = Convert.ToInt32(duration) / (1000 * 60 * 60);
        var minutes = (Convert.ToInt32(duration) / (1000 * 60)) % 60;

        return hours + "j " + minutes + "m";
    }
}

@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/jquery.countdown.min.js"></script>
}
@section PageJS{
    <script>
        var langCode = 'en'; 
        var paymentTimeout = '';

        // development only start
        paymentTimeout = new Date('@timelimit.ToString("yyyy-MM-dd'T'HH:mm:ss")');
        console.log("TIME OUT: " + paymentTimeout);
        //paymentTimeout = new Date('@Model.RsvTime.AddMinutes(-30).ToString("u")');
        // countdown timer
        $('.timer').countdown(paymentTimeout, function (event) {
            $('.timer .hour').text(event.strftime('%H'));
            $('.timer .minute').text(event.strftime('%M'));
            $('.timer .second').text(event.strftime('%S'));
        });

        // date selector
        $('.date-picker').datepicker({
            minDate: new Date()
        });
    </script>

    <!-- angular controller -->
    <script src="/Assets/mobile/js/CheckoutController.js"></script>
   
    <script>
        accordionFunctions();
    </script>
}

<div class="confirmation-content">
    <div class="container-page">
        <div class="instruction">
            @if (Model.Payment.Method == PaymentMethod.VirtualAccount)
            {
                <div class="page__header">
                    <h1 class="text-center section-title stripe">Panduan <span>ATM</span></h1>
                </div>
                
                <div class="no-pemesanan">No. Pesanan: <b>@Model.RsvNo</b></div>
                
                <section class="text">
                    <div>Pemesanan dan harga sudah di konfirmasi oleh Maskapai. Setelah pembayaran diterima, e-tiket akan dikirimkan ke e-mail Anda dalam waktu maks. <b>60 menit</b></div>
                    <div class="dash-border"></div>
                    <div>Mohon selesaikan pembayaran melalui <b>ATM</b></div>
                </section>
                <section class="bank-detail">
                    <div class="bank">
                        <div class="row">
                            <p align="center"><span style="font-size: 13px;">No Virtual Account:</span> <span style="font-size: 15px;"><b>@Model.Payment.TransferAccount</b></span></p>
                        </div>
                    </div>
                </section>

                <div class="instruction-accordion">
                    <div class="accordion-content">
                        <div class="accordion-wrapper">
                            <div class="accordion-title accordion">ATM Mandiri/Jaringan ATM Bersama:</div>
                            <div class="accordion-content">
                                <ol>
                                    <li><p>Masukkan PIN Anda.</p></li>
                                    <li><p>Di Menu Utama, pilih <b>Transaksi Lainnya.</b></p></li>
                                    <li><p>Pilih <b>Transfer</b>.</p></li>
                                    <li><p>Pilih <b>Antar Bank Online</b>.</p></li>
                                    <li><p>Masukkan nomor <b>013 @Model.Payment.TransferAccount</b> (kode 013 dan 16 digit nomor akun virtual pembayaran).</p></li>
                                    <li><p>Masukkan jumlah harga tiket yang harus Anda bayar Rp. <b>@Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</b> (jika jumlah yang dimasukkan tidak sama dengan jumlah tagihan, transaksi akan ditolak).</p></li>
                                    <li><p>No. referensi dapat dikosongkan, lalu tekan <b>Benar</b>.</p></li>
                                    <li><p>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok, tekan <b>Benar</b>.</p></li>
                                    <li><p>Transaksi berhasil.</p></li>
                                </ol>
                            </div>

                            <div class="accordion-title accordion">ATM BCA/Jaringan ATM PRIMA:</div>
                            <div class="accordion-content">
                                <ol>
                                    <li><p>Masukkan PIN Anda.</p></li>
                                    <li><p>Di Menu Utama, pilih <b>Transaksi Lainnya</b>.</p></li>
                                    <li><p>Pilih <b>Transfer</b>.</p></li>
                                    <li><p>Pilih <b>Ke Rekening Bank Lain</b>.</p></li>
                                    <li><p>Masukkan kode <b>013</b> (Kode Bank Permata) lalu tekan <b>Benar</b>.</p></li>
                                    <li><p>Masukkan jumlah harga tiket yang harus Anda bayar Rp. <b>@Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</b> (jika jumlah yang dimasukkan tidak sama dengan jumlah tagihan, transaksi akan ditolak).</p></li>
                                    <li><p>Masukkan <b>@Model.Payment.TransferAccount</b> (16 digit nomor akun virtual pembayaran) lalu tekan <b>Benar</b>.</p></li>
                                    <li><p>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok, tekan <b>Benar</b>.</p></li>
                                    <li><p>Transaksi berhasil.</p></li>
                                </ol>
                            </div>

                            <div class="accordion-title accordion">ATM Bank Permata/Jaringan ATM Alto:</div>
                            <div class="accordion-content">
                                <ol>
                                    <li><p>Masukkan PIN Anda.</p></li>
                                    <li><p>Di Menu Utama, pilih <b>Transaksi Lainnya</b>.</p></li>
                                    <li><p>Pilih <b>Transaksi Pembayaran</b>.</p></li>
                                    <li><p>Pilih <b>Pembayaran Virtual Account</b>.</p></li>
                                    <li><p>Masukkan 16 digit nomor akun virtual pembayaran <b>@Model.Payment.TransferAccount</b>.</p></li>
                                    <li><p>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok, tekan <b>Benar</b>.</p></li>
                                    <li><p>Transaksi berhasil.</p></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="page__header">
                    <h1 class="text-center section-title stripe">Panduan <span>Transfer</span></h1>
                </div>
                
                <div class="no-pemesanan">No. Pesanan: <b>@Model.RsvNo</b></div>

                <div class="summary summary--price">

                    <h3 class="summary__title"><b>RINCIAN</b> HARGA</h3>
                    <div class="summary__body">
                        <dl>
                            <dt>Total Tiket</dt>
                            <dd>Rp @((Model.Payment.OriginalPrice).ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</dd>
                        </dl>
                        @if (Model.Payment.DiscountNominal != 0)
                        {
                            <dl>
                                <dt>Potongan Harga</dt>
                                <dd>Rp @Model.Payment.DiscountNominal.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</dd>
                            </dl>
                        }
                        @if (Model.Payment.UniqueCode != 0)
                        {
                            <dl>
                                <dt>Kode Unik Pembayaran</dt>
                                <dd>- Rp @(Math.Abs(Model.Payment.UniqueCode).ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</dd>
                            </dl>
                        }
                        <dl class="total-price">
                            <dt>Total</dt>
                            <dd>Rp @Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</dd>
                        </dl>
                    </div><!-- .widget.price-detail -->
                </div><!-- .widget-container -->

                <section class="text">
                    <div>Pemesanan dan harga sudah di konfirmasi oleh Maskapai. Setelah pembayaran diterima, e-tiket akan dikirimkan ke e-mail Anda dalam waktu maks. <b>60 menit</b></div>
                    <div class="dash-border"></div>
                    <div>Mohon selesaikan pembayaran melalui <b>ATM / Internet Banking / M-Banking</b></div>
                </section>
                
                <section class="bank-detail">
                    <div class="bank">
                        <div class="image-wrapper">
                            <img src="/Assets/images/Bank-Mandiri.png" alt="Bank Mandiri" />
                        </div>
                        <dl>
                            <dt>Nama Bank</dt>
                            <dd>Bank Mandiri</dd>
                        </dl>
                        <dl>
                            <dt>Cabang</dt>
                            <dd>KC Jakarta Sudirman</dd>
                        </dl>
                        <dl>
                            <dt>Atas Nama</dt>
                            <dd>TRAVEL MADEZY INTERNASIONAL</dd>
                        </dl>
                        <dl>
                            <dt>Nomor Rekening</dt>
                            <dd>1020006675802</dd>
                        </dl>
                        <dl>
                            <dt>Jumlah</dt>
                            <dd>Rp @Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</dd>
                        </dl>
                    </div><!-- .bank -->
                </section><!-- .bank-detail -->
            }
            <div class="transfer-instruction">
                <!--<section> -->
                <ol>
                    <li class="order-list">Pastikan Anda melakukan transfer ke rekening <b>Travel Madezy Internasional</b></li>
                    <li class="order-list">Transfer keseluruhan jumlah harga hingga tiga angka terakhir yang diperlukan untuk menjaga keamanan transaksi, dengan mengidentifikasi transfer yang telah Anda lakukan.</li>
                    <li class="order-list">E-tiket akan dikirimkan secara otomatis ke e-mail Anda dalam waktu 30 menit – 1 jam setelah pembayaran.</li>
                </ol>
                <!--Bagian Form Konfirmasi yang dihilangin-->
            </div>
        </div>
                        
        <div class="widget countdown">
            <h3 class="widget-title"><b>SISA</b> WAKTU</h3>
            <div class="widget-content">
                <p>Sisa waktu Anda untuk melakukan pembayaran</p>
                <div class="timer">
                    <div>
                        <h5 class="hour">00</h5>
                        <span>jam</span>
                    </div>
                    <div class="separator"><h5>:</h5></div>
                    <div>
                        <h5 class="minute">00</h5>
                        <span>menit</span>
                    </div>
                    <div class="separator"><h5>:</h5></div>
                    <div>
                        <h5 class="second">00</h5>
                        <span>detik</span>
                    </div>
                </div>
            </div>
        </div><!-- .widget.countdown -->
        <br/> 
                    
        @if (Model is FlightReservationForDisplay)
        {
            var reservation = Model as FlightReservationForDisplay;

            <div class="overlay--flight-detail">
                <div class="overlay__body overlay__content">
                    <div class=" flight-fare-wrapper">
                        <h3><b>RINCIAN</b> PENERBANGAN</h3>
                        <h3><b>DETAIL</b> PESANAN</h3>
                        <span>Nomor Reservasi: <b>@Model.RsvNo</b></span>
                        <div class="summary summary--passenger">
                            <h3><b>DAFTAR</b> PENUMPANG</h3>
                            <div class="summary__body">
                                <ol>
                                    @foreach (var passenger in Model.Pax)
                                    {
                                        <li>
                                            <b>
                                                <span>@EnumDisplay.Title(passenger.Title.GetValueOrDefault()) </span>
                                                @passenger.Name
                                            </b>
                                            <dl>
                                                <dt>Jenis Tiket</dt>
                                                @EnumDisplay.PassengerType(passenger.Type.GetValueOrDefault())
                                            </dl>
                                        </li>
                                    }
                                </ol>
                            </div><!-- .summary__body -->
                        </div><!-- .summary--passenger -->
                    
                        <h3><b>BERANGKAT</b></h3>
                        <div class="flight-title flight-title--departure">
                            <div class="flight-info">
                                <h4><b>@reservation.Itinerary.Trips[0].OriginCity</b> ke <b>@reservation.Itinerary.Trips[0].DestinationCity</b></h4>
                                <h5>@reservation.Itinerary.Trips[0].DepartureDate.GetValueOrDefault().ToString("ddd, d MMM yyyy", new CultureInfo("id-ID"))</h5>
                            </div><!-- .flight-info -->
                        </div>
                        <!-- .flight-title -->
                        @for (var segment = 0; segment < reservation.Itinerary.Trips[0].Segments.Count; segment++)
                        {
                        <div class="flight-wrapper">
                            <div class="flight">
                                <div class="flight__number">
                                    <span>@(segment + 1)</span>
                                </div><!-- .flight__number -->
                                <div class="flight__content">
                                    <div class="flight__summary">
                                        <img class="flight__image" src="@reservation.Itinerary.Trips[0].Airlines[0].LogoUrl" alt="@reservation.Itinerary.Trips[0].Airlines[0].Name">
                                        <div class="flight__airline">
                                            <h4><b>@reservation.Itinerary.Trips[0].Airlines[0].Name</b></h4>
                                            <h5>@reservation.Itinerary.Trips[0].Airlines[0].Code-@reservation.Itinerary.Trips[0].Segments[segment].FlightNumber</h5>
                                        </div>
                                    </div><!-- .flight__summary -->
                                    <div class="flight__detail">
                                        <div class="flight__departure">
                                            <h5>@reservation.Itinerary.Trips[0].Segments[segment].DepartureTime.GetValueOrDefault().ToString("d MMM yyyy", new CultureInfo("id-ID"))</h5>
                                            <h4><b>@reservation.Itinerary.Trips[0].Segments[segment].DepartureTime.GetValueOrDefault().ToString("HH:mm")</b></h4>
                                            <h5><b>@reservation.Itinerary.Trips[0].Segments[segment].DepartureCity (@reservation.Itinerary.Trips[0].Segments[segment].DepartureAirport)</b></h5>
                                            <h5>@reservation.Itinerary.Trips[0].Segments[segment].DepartureAirportName</h5>
                                        </div>
                                        <div class="flight__separator">
                                            <h5><b>Durasi: </b>@msToTime(reservation.Itinerary.Trips[0].Segments[segment].Duration.GetValueOrDefault())</h5>
                                        </div>
                                        <div class="flight__arrival">
                                            <h5>@reservation.Itinerary.Trips[0].Segments[segment].ArrivalTime.GetValueOrDefault().ToString("d MMM yyyy", new CultureInfo("id-ID"))</h5>
                                            <h4><b>@reservation.Itinerary.Trips[0].Segments[segment].ArrivalTime.GetValueOrDefault().ToString("HH:mm")</b></h4>
                                            <h5><b>@reservation.Itinerary.Trips[0].Segments[segment].ArrivalCity (@reservation.Itinerary.Trips[0].Segments[segment].ArrivalAirport)</b></h5>
                                            <h5>@reservation.Itinerary.Trips[0].Segments[segment].ArrivalAirportName</h5>
                                        </div><!-- .flight__arrival -->
                                    </div><!-- .flight__detail -->
                                </div><!-- .flight__content -->
                            </div><!-- .flight -->
                            @if (reservation.Itinerary.Trips[0].Transits.Count > 0 && segment < reservation.Itinerary.Trips[0].TotalTransit)
                            {
                                <div class="transit">
                                    <span>Transit di @reservation.Itinerary.Trips[0].Segments[segment].ArrivalCity (@reservation.Itinerary.Trips[0].Segments[segment].ArrivalAirport) selama <b>@msToTime(reservation.Itinerary.Trips[0].Transits.ElementAt(segment).Duration)</b></span>
                                </div>
                                <!-- .transit -->
                            }
                        </div>
                        <!-- .flight-wrapper -->
                        }
                    </div>
                </div>
            </div>

            if (reservation.Itinerary.Trips.Count > 1)
            {
                <div class="overlay--flight-detail">
                    <div class="overlay__body overlay__content">
                        <div class=" flight-fare-wrapper">
                            <h4><b>KEMBALI</b></h4>
                            <div class="flight-title flight-title--return">
                                <div class="flight-info">
                                    <h4><b>@reservation.Itinerary.Trips[1].OriginCity</b> ke <b>@reservation.Itinerary.Trips[1].DestinationCity</b></h4>
                                    <h5>@reservation.Itinerary.Trips[1].DepartureDate.GetValueOrDefault().ToString("ddd, d MMM yyyy", new CultureInfo("id-ID"))</h5>
                                </div><!-- .flight-info -->
                            </div><!-- .flight-title -->
                            @for (var segment = 0; segment < reservation.Itinerary.Trips[1].Segments.Count; segment++)
                            {
                                <div class="flight-wrapper">

                                    <div class="flight">
                                        <div class="flight__number">
                                            <span>@(segment + 1)</span>
                                        </div><!-- .flight__number -->
                                        <div class="flight__content">
                                            <div class="flight__summary">
                                                <img class="flight__image" src="@reservation.Itinerary.Trips[1].Airlines[0].LogoUrl" alt="@reservation.Itinerary.Trips[1].Airlines[0].Name">
                                                <div class="flight__airline">
                                                    <h4><b>@reservation.Itinerary.Trips[1].Airlines[0].Name</b></h4>
                                                    <h5>@reservation.Itinerary.Trips[1].Airlines[0].Code-@reservation.Itinerary.Trips[1].Segments[segment].FlightNumber</h5>
                                                </div>
                                            </div><!-- .flight__summary -->
                                            <div class="flight__detail">
                                                <div class="flight__departure">
                                                    <h5>@reservation.Itinerary.Trips[1].Segments[segment].DepartureTime.GetValueOrDefault().ToString("d MMM yyyy", new CultureInfo("id-ID"))</h5>
                                                    <h4><b>@reservation.Itinerary.Trips[1].Segments[segment].DepartureTime.GetValueOrDefault().ToString("HH:mm")</b></h4>
                                                    <h5><b>@reservation.Itinerary.Trips[1].Segments[segment].DepartureCity (@reservation.Itinerary.Trips[1].Segments[segment].DepartureAirport)</b></h5>
                                                    <h5>@reservation.Itinerary.Trips[1].Segments[segment].DepartureAirportName</h5>
                                                </div>
                                                <div class="flight__separator">
                                                    <h5><b>Durasi: </b>@msToTime(reservation.Itinerary.Trips[1].Segments[segment].Duration.GetValueOrDefault())</h5>
                                                </div>
                                                <div class="flight__arrival">
                                                    <h5>@reservation.Itinerary.Trips[1].Segments[segment].ArrivalTime.GetValueOrDefault().ToString("d MMM yyyy", new CultureInfo("id-ID"))</h5>
                                                    <h4><b>@reservation.Itinerary.Trips[1].Segments[segment].ArrivalTime.GetValueOrDefault().ToString("HH:mm")</b></h4>
                                                    <h5><b>@reservation.Itinerary.Trips[1].Segments[segment].ArrivalCity (@reservation.Itinerary.Trips[1].Segments[segment].ArrivalAirport)</b></h5>
                                                    <h5>@reservation.Itinerary.Trips[1].Segments[segment].ArrivalAirportName</h5>
                                                </div><!-- .flight__arrival -->
                                            </div><!-- .flight__detail -->
                                        </div><!-- .flight__content -->
                                    </div><!-- .flight -->
                                    @if (reservation.Itinerary.Trips[1].Transits.Count > 0 && segment < reservation.Itinerary.Trips[1].TotalTransit)
                                    {
                                        <div class="transit">
                                            <span>Transit di @reservation.Itinerary.Trips[1].Segments[segment].ArrivalCity (@reservation.Itinerary.Trips[1].Segments[segment].ArrivalAirport) selama <b>@msToTime(reservation.Itinerary.Trips[1].Transits.ElementAt(segment).Duration)</b></span>
                                        </div>
                                        <!-- .transit -->
                                    }
                                </div>
                                <!-- .flight-wrapper -->
                            }
                                   
                        </div>
                    </div>
                </div>
            }
        }
        <div class="col-sm-12">
            <a href="@Url.Action("Thankyou", "Payment", new { Model.RsvNo })" class="btn btn-yellow" style="width:100%"> SAYA SUDAH BAYAR</a>
        </div>
    </div>
</div><!-- .confirmation-content -->

@*<div class="overlay datepicker" ng-class="{'active' : PageConfig.Overlay == 'datepicker'}">
    <header class="overlay__header">
        <h3 class="overlay__title">
            Lorem ipsum dolor sit amet
            <span class="overlay__close" ng-click="PageConfig.SetOverlay()">X</span>
        </h3>
    </header><!-- .overlay__header -->
    <div class="overlay__body">
        <div class="ui-datepicker"></div>
    </div><!-- .overlay__body -->
    <footer class="overlay__footer hidden">
        <button class="btn btn-yellow btn-block" ng-click="PageConfig.SetOverlay('')">KONFIRMASI</button>
    </footer>
</div>*@