@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.ApCommon.Hotel.Model
@using Lunggo.ApCommon.Hotel.Service
@using Lunggo.ApCommon.Flight.Model
@using PaymentMethod = Lunggo.ApCommon.Payment.Constant.PaymentMethod
@using PaymentSubMethod = Lunggo.ApCommon.Payment.Constant.PaymentSubMethod
@model Lunggo.ApCommon.Product.Model.ReservationForDisplayBase

@{
    Layout = "/Views/Shared/Desktop/_LayoutDesktop.cshtml";
    ViewBag.BodyClass = "page-checkout page-confirmation";
    ViewBag.Title = "Instruksi Pembayaran";
    ViewBag.AngularController = "confirmationController";
    ViewBag.SiteHeader = "checkout";

    var beneficiaryBankList = new List<SelectListItem>
    {
        new SelectListItem {Text = "Mandiri", Value = "Mandiri"},
        new SelectListItem {Text = "BCA", Value = "BCA"},
    };
}
@{
    
    var timelimit = Model.Payment.TimeLimit.GetValueOrDefault();
    var images = new List<Image>();
    var hotelImg = "";
    var roomImg = "";
    var sum = 0;
    try
    {
        if (Model is HotelReservationForDisplay)
        {
            var rsv = Model as HotelReservationForDisplay;
            var rsvNo = Model.RsvNo;
            images = HotelService.GetInstance().GetHotelDetailFromDb(rsv.HotelDetail.HotelCode).ImageUrl;
            var orDefault = images.Where(i => i.Type == "GEN").ToList().FirstOrDefault();
            if (orDefault != null)
            {
                hotelImg = images == null
                    ? null
                    : "http://photos.hotelbeds.com/giata/" + orDefault.Path;
            }
            var firstOrDefault = images.Where(i => i.Type == "HAB").ToList().FirstOrDefault();
            if (firstOrDefault != null)
            {
                roomImg = images == null
                    ? null
                    : "http://photos.hotelbeds.com/giata/" + firstOrDefault.Path;
            }
        
        }
    }
    catch { }
}

@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/jquery.countdown.min.js"></script>
}
@section PageJS{
    <script>
    var langCode = 'en';
    var paymentTimeout = '';

    // development only start
    paymentTimeout = new Date('@timelimit.ToString("yyyy-MM-dd'T'HH:mm:ss")');

    // countdown timer
    $('.timer').countdown(paymentTimeout, function (event) {
        $('.timer .hour').text(event.strftime('%H'));
        $('.timer .minute').text(event.strftime('%M'));
        $('.timer .second').text(event.strftime('%S'));
    });

    // date selector
    $('.date-picker').datepicker({
        minDate: new Date()
    });
    
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/ConfirmationController.js"></script>

    <!-- accordion -->
    <script>
        accordionFunctions();
    </script>
}

<div ng-app="travorama" ng-controller="confirmationController" class="page-loading" ng-class="{'page-loaded' : pageLoaded}">

    <section class="checkout-step {{stepClass}} hidden">
        <div class="container">
            <div class="step step-1" ng-class="{'active' : currentPage == 1, 'inactive' : currentPage > 1}"><span>01. <b>Data Pesanan</b></span></div>
            <div class="step step-2" ng-class="{'active' : currentPage == 2, 'inactive' : currentPage > 2}"><span>02. <b>Data Kontak</b></span></div>
            <div class="step step-3" ng-class="{'active' : currentPage == 3, 'inactive' : currentPage > 3}"><span>03. <b>Data Penumpang</b></span></div>
            <div class="step step-4" ng-class="{'active' : currentPage == 4}"><span>04. <b>Pembayaran</b></span></div>
        </div>
    </section><!-- .checkout-step -->

    <div class="confirmation-content normal-txt">

        <div class="container">
            <div class="col-left">

                <div class="instruction">
                    @if (Model.Payment.Method == PaymentMethod.VirtualAccount)
                    {
                        <h3 class="lg-txt">PANDUAN <b>VIRTUAL ACCOUNT</b></h3>
                        <header>
                            <div class="text-right">No. Pesanan: <b>@Model.RsvNo</b></div>
                        </header>
                        if (Model is FlightReservationForDisplay)
                        {
                        <section class="pesanan-container clearfix">
                            <div class="text">
                                <p>Pemesanan dan harga sudah di konfirmasi oleh Maskapai. Setelah pembayaran diterima, e-tiket akan dikirimkan ke e-mail Anda dalam waktu maks. <b>60 menit</b></p>
                                <p>Mohon selesaikan pembayaran melalui <b>Virtual Account</b></p>
                            </div>
                        </section>
                        }
                        if (Model is HotelReservationForDisplay)
                        {
                            <section class="pesanan-container clearfix">
                                <div class="text">
                                    <p>Pemesanan dan harga sudah di konfirmasi oleh pihak Hotel. Setelah pembayaran diterima, voucher akan dikirimkan ke e-mail Anda dalam waktu maks. <b>60 menit</b></p>
                                    <p>Mohon selesaikan pembayaran melalui <b>Virtual Account</b></p>
                                </div>
                            </section>
                        }
                        <section class="bank-detail">
                            <div class="bank">
                                <div class="row">
                                    <p align="center"><span style="font-size:13px;">No Virtual Account:</span> <span style="font-size:15px;"><b>@Model.Payment.TransferAccount</b></span></p>
                                </div>
                            </div>
                        </section>
                        <div class="instruction-accordion">
                            <div class="accordion-content">
                                <div class="accordion-wrapper">
                                    @if (Model.Payment.SubMethod == PaymentSubMethod.Permata)
                                    {
                                        <div class="accordion-title accordion active">Jaringan ATM Bersama:</div>
                                        <div class="accordion-content show">
                                            <ol>
                                                <li><p>Masukkan PIN Anda.</p></li>
                                                <li><p>Di Menu Utama, pilih <b>Transaksi Lainnya.</b></p></li>
                                                <li><p>Pilih <b>Transfer</b>.</p></li>
                                                <li><p>Pilih <b>Antar Bank Online</b>.</p></li>
                                                <li><p>Masukkan nomor <b>013 @Model.Payment.TransferAccount</b> (kode 013 dan 16 digit nomor akun virtual pembayaran).</p></li>
                                                <li><p>Masukkan jumlah harga tiket yang harus Anda bayar <b>Rp @Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</b> (jika jumlah yang dimasukkan tidak sama dengan jumlah tagihan, transaksi akan ditolak).</p></li>
                                                <li><p>No. referensi dapat dikosongkan, lalu tekan <b>Benar</b>.</p></li>
                                                <li><p>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok, tekan <b>Benar</b>.</p></li>
                                                <li><p>Transaksi berhasil.</p></li>
                                            </ol>
                                        </div>

                                        <div class="accordion-title accordion active">Jaringan ATM PRIMA:</div>
                                        <div class="accordion-content show">
                                            <ol>
                                                <li><p>Masukkan PIN Anda.</p></li>
                                                <li><p>Di Menu Utama, pilih <b>Transaksi Lainnya</b>.</p></li>
                                                <li><p>Pilih <b>Transfer</b>.</p></li>
                                                <li><p>Pilih <b>Ke Rekening Bank Lain</b>.</p></li>
                                                <li><p>Masukkan kode <b>013</b> (Kode Bank Permata) lalu tekan <b>Benar</b>.</p></li>
                                                <li><p>Masukkan jumlah harga tiket yang harus Anda bayar <b>Rp @Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</b> (jika jumlah yang dimasukkan tidak sama dengan jumlah tagihan, transaksi akan ditolak).</p></li>
                                                <li><p>Masukkan <b>@Model.Payment.TransferAccount</b> (16 digit nomor akun virtual pembayaran) lalu tekan <b>Benar</b>.</p></li>
                                                <li><p>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok, tekan <b>Benar</b>.</p></li>
                                                <li><p>Transaksi berhasil.</p></li>
                                            </ol>
                                        </div>

                                        <div class="accordion-title accordion active">Jaringan ATM Alto:</div>
                                        <div class="accordion-content show">
                                            <ol>
                                                <li><p>Masukkan PIN Anda.</p></li>
                                                <li><p>Di Menu Utama, pilih <b>Transaksi Lainnya</b>.</p></li>
                                                <li><p>Pilih <b>Transaksi Pembayaran</b>.</p></li>
                                                <li><p>Pilih <b>Pembayaran Virtual Account</b>.</p></li>
                                                <li><p>Masukkan 16 digit nomor akun virtual pembayaran <b>@Model.Payment.TransferAccount</b>.</p></li>
                                                <li><p>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok, tekan <b>Benar</b>.</p></li>
                                                <li><p>Transaksi berhasil.</p></li>
                                            </ol>
                                        </div>
                                    }
                                        
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h3 class="lg-txt">PANDUAN <b>TRANSFER</b></h3>
                        <header>
                            <div class="text-right">No. Pesanan: <b>@Model.RsvNo</b></div>
                        </header>
                        if (Model is FlightReservationForDisplay)
                        {
                        <section class="pesanan-container clearfix">
                            <div class="text">
                                <p>Pemesanan dan harga sudah di konfirmasi oleh Maskapai. Setelah pembayaran diterima, e-tiket akan dikirimkan ke e-mail Anda dalam waktu maksimum <b>60 menit</b></p>
                                <p>Mohon selesaikan pembayaran melalui <b>ATM / Internet Banking / M-Banking</b></p>
                            </div>
                        </section>
                        }
                        if (Model is HotelReservationForDisplay)
                        {
                            <section class="pesanan-container clearfix">
                                <div class="text">
                                    <p>Pemesanan dan harga sudah di konfirmasi oleh Maskapai. Setelah pembayaran diterima, voucher akan dikirimkan ke e-mail Anda dalam waktu maksimum <b>60 menit</b></p>
                                    <p>Mohon selesaikan pembayaran melalui <b>ATM / Internet Banking / M-Banking</b></p>
                                </div>
                            </section>
                        }
                  
                        <section class="bank-detail">
                            <div class="bank">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="/Assets/images/Bank-Mandiri.png" alt="Bank Mandiri" />
                                    </div>
                                    <div class="col-xs-8">
                                        <dl>
                                            <dt>Nama Bank</dt>
                                            <dd>: Bank Mandiri</dd>
                                        </dl>
                                        <dl>
                                            <dt>Cabang</dt>
                                            <dd>: KC Jakarta Sudirman</dd>
                                        </dl>
                                        <dl>
                                            <dt>Atas Nama</dt>
                                            <dd>: TRAVEL MADEZY INTERNASIONAL</dd>
                                        </dl>
                                        <dl>
                                            <dt>Nomor Rekening</dt>
                                            <dd>: 1020006675802</dd>
                                        </dl>
                                        <dl>
                                            <dt>Jumlah</dt>
                                            <dd>: Rp @Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    <div class="transfer-instruction">
                        <!--<section> -->
                        <ol>
                            @if (Model is FlightReservationForDisplay)
                            {
                            <li class="order-list">Pastikan Anda melakukan transfer ke rekening <b>Travel Madezy Internasional</b></li>
                            <li class="order-list">Transfer keseluruhan jumlah harga hingga tiga angka terakhir yang diperlukan untuk menjaga keamanan transaksi, dengan mengidentifikasi transfer yang telah Anda lakukan.</li>
                            <li class="order-list">E-tiket akan dikirimkan secara otomatis ke e-mail Anda dalam waktu 30 menit – 1 jam setelah pembayaran.</li>
                            }
                            @if (Model is HotelReservationForDisplay)
                            {
                                <li class="order-list">Pastikan Anda melakukan transfer ke rekening <b>Travel Madezy Internasional</b></li>
                                <li class="order-list">Transfer keseluruhan jumlah harga hingga tiga angka terakhir yang diperlukan untuk menjaga keamanan transaksi, dengan mengidentifikasi transfer yang telah Anda lakukan.</li>
                                <li class="order-list">Voucher akan dikirimkan secara otomatis ke e-mail Anda dalam waktu 30 menit – 1 jam setelah pembayaran.</li>
                            }
                        </ol>
                        <!--Bagian Form Konfirmasi yang dihilangin-->
                    </div>

                    <!-- Kondisi nya dikasi sampai sini-->
                    <header style="margin-bottom:0px; margin-top:25px;">
                        <div>DETAIL <b>PESANAN</b></div>
                    </header>
                    <section class="confirmation-order" style="margin-top:0px;">
                        <div class="confirm-order-detail">
                            <div class="confirm-passenger">
                                @if (Model is FlightReservationForDisplay)
                                {
                                <h4><b>INFO PENUMPANG</b></h4>
                                }
                                @if (Model is HotelReservationForDisplay)
                                {
                                    <h4><b>INFO TAMU</b></h4>
                                }

                                <ol>
                                    @foreach (var passenger in Model.Pax)
                                    {
                                        <li><p>@EnumDisplay.PassengerType(passenger.Type.GetValueOrDefault()) : @EnumDisplay.Title(passenger.Title.GetValueOrDefault()) @passenger.Name</p></li>
                                    }
                                </ol>

                            </div>
                            
                            @if (Model is FlightReservationForDisplay)
                            {
                                var reservation = Model as FlightReservationForDisplay;
                                FlightSegmentForDisplay prevSegment = null;
                                
                                <div class="confirm-order">
                                    <h4><b>DETAIL PENERBANGAN</b></h4>

                                    <div class="confirm-flight departure">
                                        <p>Berangkat : </p>
                                        <div class="row">

                                            @foreach (var segment in reservation.Itinerary.Trips[0].Segments)
                                            {
                                                if (segment != reservation.Itinerary.Trips[0].Segments.First())
                                                {
                                                    var transitDuration = segment.DepartureTime - prevSegment.ArrivalTime;
                                                    <div class="col-xs-12" style="padding-top: 5px;">
                                                        <p style="width: 100%; text-align: center; border-bottom: 1px dashed #15b1e4; line-height: 0.3em; margin: 10px 0 20px;">
                                                            <span style="background: #f4f4f4; padding: 0 10px; color: #15b1e4;">Transit di @segment.DepartureCity (@segment.DepartureAirport) selama @transitDuration.ToString()</span>
                                                        </p>
                                                    </div>
                                                    <!-- .transit -->
                                                }
                                                <div class="col-xs-2">
                                                    <p><img src="@segment.AirlineLogoUrl" alt="@segment.AirlineName" class="flight-airline" /></p>
                                                    <p><span>@segment.AirlineName</span></p>
                                                </div>
                                                <div class="col-xs-10">
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-4">
                                                            <p style="text-align: left; padding: 0px; margin: 0px;">@segment.DepartureTime.GetValueOrDefault().ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</p>
                                                            <p style="font-size: 12px; text-align: left; padding: 0px; margin: 0px;"><b>@segment.DepartureTime.GetValueOrDefault().ToString("HH:mm")</b></p>
                                                            <p style="font-size: 12px; text-align: left; padding: 0px; margin: 0px;"><b>@segment.DepartureCity (@segment.DepartureAirport)</b></p>
                                                            <p style="text-align: left; padding: 0px; margin: 0px;">@segment.DepartureAirportName</p>
                                                        </div>
                                                        <div class="col-xs-4" style="align-content: center;">
                                                            <p></p>
                                                            <p style="border-bottom: 3px solid #15b1e4; padding-bottom: 5px; text-align: center;"><b>Durasi:</b> {{msToTime(@segment.Duration)}}</p>
                                                            <p></p>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <p style="text-align: left; padding: 0px; margin: 0px;">@segment.ArrivalTime.GetValueOrDefault().ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</p>
                                                            <p style="font-size: 12px; text-align: left; padding: 0px; margin: 0px;"><b>@segment.ArrivalTime.GetValueOrDefault().ToString("HH:mm")</b></p>
                                                            <p style="font-size: 12px; text-align: left; padding: 0px; margin: 0px;"><b>@segment.ArrivalCity (@segment.ArrivalAirport)</b></p>
                                                            <p style="text-align: left; padding: 0px; margin: 0px;">@segment.ArrivalAirportName</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                prevSegment = segment;
                                            }
                                        </div>
                                    </div>
                                    @if (reservation.Itinerary.Trips.Count > 1)
                                    {
                                        <div class="confirm-flight return" style="margin-top: 20px;">
                                            <p>Kembali : </p>
                                            <div class="row">
                                                @foreach (var segment in reservation.Itinerary.Trips[1].Segments)
                                                {
                                                    if (segment != reservation.Itinerary.Trips[1].Segments.First())
                                                    {
                                                        var transitDuration = segment.DepartureTime - prevSegment.ArrivalTime;
                                                        <div class="col-xs-12" style="padding-top: 5px;">
                                                            <p style="width: 100%; text-align: center; border-bottom: 1px dashed #15b1e4; line-height: 0.3em; margin: 10px 0 20px;">
                                                                <span style="background: #f4f4f4; padding: 0 10px; color: #15b1e4;">Transit di @segment.DepartureCity (@segment.DepartureAirport) selama @transitDuration.ToString()</span>
                                                            </p>
                                                        </div>

                                                        <!-- .transit -->
                                                    }
                                                    <div class="col-xs-2">
                                                        <p><img src="@segment.AirlineLogoUrl" alt="@segment.AirlineName" class="flight-airline" /></p>
                                                        <p><span>@segment.AirlineName</span></p>
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <div class="col-xs-12">
                                                            <div class="col-xs-4">
                                                                <p style="text-align: left; padding: 0px; margin: 0px;">@segment.DepartureTime.GetValueOrDefault().ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</p>
                                                                <p style="font-size: 13px; text-align: left; padding: 0px; margin: 0px;"><b>@segment.DepartureTime.GetValueOrDefault().ToString("HH:mm")</b></p>
                                                                <p style="font-size: 13px; text-align: left; padding: 0px; margin: 0px;"><b>@segment.DepartureCity (@segment.DepartureAirport)</b></p>
                                                                <p style="text-align: left; padding: 0px; margin: 0px;">@segment.DepartureAirportName</p>
                                                            </div>
                                                            <div class="col-xs-4" style="align-content: center;">
                                                                <p></p>
                                                                <p style="border-bottom: 3px solid #15b1e4; padding-bottom: 5px; text-align: center;"><b>Durasi:</b> {{msToTime(@segment.Duration)}}</p>
                                                                <p></p>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <p style="text-align: left; padding: 0px; margin: 0px;">@segment.ArrivalTime.GetValueOrDefault().ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</p>
                                                                <p style="font-size: 13px; text-align: left; padding: 0px; margin: 0px;"><b>@segment.ArrivalTime.GetValueOrDefault().ToString("HH:mm")</b></p>
                                                                <p style="font-size: 13px; text-align: left; padding: 0px; margin: 0px;"><b>@segment.ArrivalCity (@segment.ArrivalAirport)</b></p>
                                                                <p style="text-align: left; padding: 0px; margin: 0px;">@segment.ArrivalAirportName</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    prevSegment = segment;
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            @if (Model is HotelReservationForDisplay)
                            {
                                var reservation = Model as HotelReservationForDisplay;
                                
                                <div class="review-hotel page-hotel">
                                    <h4><b>DETAIL HOTEL</b></h4>
                                    <div class="rh-container">
                                        @Html.Partial("/Views/Shared/Desktop/_HotelDetail.cshtml", reservation.HotelDetail)
                                    </div>
                                </div>
                               
                            }
                        </div>
                    </section><!-- .order-detail -->
                    <!--</section>-->
                    <div class="btn-detail-penerbangan">
                        <a href="@Url.Action("Thankyou", "Payment", new { Model.RsvNo })" class="btn btn-yellow md-txt lg-btn"> SAYA SUDAH BAYAR</a>
                    </div>
                </div>
            </div>
            <div class="col-right">
                <div class="widget-container">
                    <div class="widget price-detail">
                        <h3 class="widget-title lg-txt"><b>RINCIAN</b> HARGA</h3>
                        <div class="widget-content">
                            <dl>
                                <dt>Total Tiket</dt>
                                <dd>Rp @(Model.Payment.OriginalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</dd>
                            </dl>
                            @if (Model.Payment.DiscountNominal != 0)
                            {
                                <dl>
                                    <dt>Potongan Harga</dt>
                                    <dd>- Rp @(Math.Abs(Model.Payment.DiscountNominal).ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</dd>
                                </dl>
                            }
                            @if (Model.Payment.UniqueCode != 0)
                            {
                                <dl>
                                    <dt>Kode Unik Pembayaran</dt>
                                    <dd>- Rp @(Math.Abs(Model.Payment.UniqueCode).ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</dd>
                                </dl>
                            }
                            <dl class="total-price">
                                <dt>Total</dt>
                                <dd>Rp @(Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</dd>
                            </dl>
                        </div>
                    </div><!-- .widget.price-detail -->
                    <div class="widget countdown">
                        <h3 class="widget-title lg-txt"><b>SISA</b> WAKTU</h3>
                        <div class="widget-content">
                            <p>Sisa waktu Anda untuk melakukan pembayaran</p>
                            <div class="timer">
                                <div>
                                    <h5 class="hour">00</h5>
                                    <span>jam</span>
                                </div>
                                <div class="separator"><h5>:</h5></div>
                                <div>
                                    <h5 class="minute">00</h5>
                                    <span>menit</span>
                                </div>
                                <div class="separator"><h5>:</h5></div>
                                <div>
                                    <h5 class="second">00</h5>
                                    <span>detik</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- .widget.countdown -->
                </div><!-- .widget-container -->
            </div>
        </div>


    </div><!-- .confirmation-content -->

    <div class="bookfailed-popup" ng-show="expired">
        <div class=" overlay-content">
            <section style="padding-top:60px; padding-left:225px;">
                <div><img src="/Assets/images/travorama-logo-color.png" height="30px" width="88px"></div>
                <div style="padding-top:25px;"><span style="color: #15b1e4; font-size:23px"><b>Waktu Habis</b></span></div>
                <div><img src="~/Assets/images/popup/paymentyellowstrip.png" /></div>
                <div style="padding-top:10px;">
                    <span style="font-size:12px; padding-right:10px;">
                        Maaf, waktu pembayaran Anda habis. <br />
                        Silakan klik tombol di bawah untuk kembali ke halaman utama.
                    </span>
                </div>
            </section>
            <div class="row" style="padding-top:5px;">
                <div class=" col-xs-6"></div>
                <div class="col-xs-3">
                    <a class="btn btn-grey btn-block sm-btn" href="/" style="width:100%">KEMBALI</a>
                </div>
            </div>
        </div>
    </div>
</div>