@using System.Globalization
@using Lunggo.ApCommon.Activity.Model
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Hotel.Model
@using Lunggo.ApCommon.Hotel.Service
@using Lunggo.ApCommon.Identity.Users
@using Lunggo.ApCommon.Payment.Constant
@using Lunggo.CustomerWeb.Helper
@using Lunggo.Framework.Context
@using Lunggo.Framework.Extension
@using Lunggo.Framework.Config
@using Lunggo.ApCommon.Product.Model
@model Lunggo.CustomerWeb.Models.PaymentData

@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.BodyClass = "page page-checkout";
    ViewBag.AngularController = "paymentController";
    ViewBag.SiteHeader = "Payment";
    ViewBag.Title = "Pembayaran";
}

@section AdditionalCSS {
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
    <!-- fancybox CSS-->
    <link href="/Assets/vendor/fancybox/jquery.fancybox.css" rel="stylesheet" />
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.0.4/jquery.countdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha512.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js"></script>
    <!-- veritrans JS -->
    <script src=@(EnvVariables.Get("veritrans", "endPoint") + "/v2/assets/js/midtrans.min.js")></script>
    <!-- fancybox -->
    <script type="text/javascript" src="/Assets/vendor/fancybox/jquery.fancybox.pack.js"></script>
}
@section PageJS{
    <script>
        var mdr = JSON.parse('@ViewBag.SurchargeList'.replace(/&quot;/g,'"'));
        var creditsAvailable = @ViewBag.CreditsAvailable;
        var creditsVoucherCode = '@ViewBag.CreditsVoucherCode';
        var langCode = 'en';
        // development only start
        var paymentTimeout = new Date('@Model.TimeLimit.ToString("yyyy-MM-dd'T'HH:mm:ss'Z'")');
        // countdown timer
        $('.timer').countdown(paymentTimeout, function(event) {
            $('.timer .hour').text(event.strftime('%H'));
            $('.timer .minute').text(event.strftime('%M'));
            $('.timer .second').text(event.strftime('%S'));
        });

        // date selector
        $('.date-picker').datepicker({
            minDate: new Date()
        });
        var langCode = '@OnlineContext.GetActiveLanguageCode()';
        var currentPage = 1;
        var message = '@ViewBag.Message';
        // flight detail
        //var rsvNo = '@Model.TrxId';
        var trxId = '@Model.TrxId';
        var paymentDetail = '';
        var flightDetail = '';
        var trips = '';
        var price = @Model.OriginalPrice;
        var originalPrice = @Model.OriginalPrice;
        var nights = '';
        @*@if (Model.Reservation is FlightReservationForDisplay)
        {
            var reservation = Model.Reservation as FlightReservationForDisplay;
            @:trips = @Html.Raw(reservation.Itinerary.Trips.Serialize());
            @:price = @reservation.Itinerary.NetTotalFare;
            @:originalPrice = '@reservation.Itinerary.OriginalTotalFare';
        }
        else if (Model.Reservation is HotelReservationForDisplay)
        {
            var reservation = Model.Reservation as HotelReservationForDisplay;
            @:hotelDetails = @Html.Raw(reservation.HotelDetail.Serialize());
            @:price = @reservation.HotelDetail.NetTotalFare;
            @:originalPrice = '@reservation.HotelDetail.OriginalTotalFare';
        }
        else
        {
            var reservation = Model.Reservation as ActivityReservationForDisplay;
            @:price = @reservation.ActivityDetail.Price;
            @:originalPrice = '@reservation.ActivityDetail.Price';
        }*@
        @*var redirectionUrl;
        @if (Model..PaymentDetails.RedirectionUrl != null) {
            @:redirectionUrl = '@Model.PaymentDetails.RedirectionUrl';
        }*@
        @*@if (Model.Reservation is FlightReservationForDisplay)
        {
            @:var departureDate;
            var reservation = Model.Reservation as FlightReservationForDisplay;
            if (reservation.Itinerary.Trips != null)
            {
                if (reservation.Itinerary.Trips.Count == 2)
                {
                    @:departureDate = '@reservation.Itinerary.Trips[1].DepartureDate';
                }
                else
                {
                    @:departureDate = '@reservation.Itinerary.Trips[0].DepartureDate';
                }
            }

            if (reservation.Itinerary.TripType.GetValueOrDefault() == TripType.RoundTrip)
            {
                @:var gtmReturningDepartureDate = '@reservation.Itinerary.Trips[1].DepartureDate.GetValueOrDefault().ToString("yyyyMMdd")';
                            @:var gtmReturningArrivalDate = '@reservation.Itinerary.Trips[1].Segments.Last().ArrivalTime.GetValueOrDefault().ToString("yyyyMMdd")'
                        }
            @:var gtmContentType = 'flight';
                        @:var gtmDepartingDepartureDate = '@reservation.Itinerary.Trips[0].DepartureDate.GetValueOrDefault().ToString("yyyyMMdd")';
                        @:var gtmDepartingArrivalDate = '@reservation.Itinerary.Trips[0].Segments.Last().ArrivalTime.GetValueOrDefault().ToString("yyyyMMdd")';
                        @:var gtmOriginAirport = '@reservation.Itinerary.Trips[0].OriginAirport';
                        @:var gtmDestinationAirport = '@reservation.Itinerary.Trips[0].DestinationAirport';
                        @:var gtmNumAdults = @reservation.Itinerary.AdultCount;
                        @:var gtmNumChildren = @reservation.Itinerary.ChildCount;
                        @:var gtmNumInfants = @reservation.Itinerary.InfantCount;
                        @:var gtmTravelClass = '@reservation.Itinerary.RequestedCabinClass.ToString().ToLower()';
                        @:var gtmPurchaseValue = @reservation.Itinerary.NetTotalFare;
                        @:var gtmPurchaseCurrency = 'IDR';
                        @:var gtmPageName = 'payment';
                    }
        @if (Model.Reservation is HotelReservationForDisplay)
        {
            var hotel = Model.Reservation as HotelReservationForDisplay;
            @:originalPrice = '@hotel.HotelDetail.OriginalTotalFare';
                        @:price = '@hotel.HotelDetail.NetTotalFare';
                        @:var gtmContentType = 'hotel';
                        @:var gtmCity = '@hotel.HotelDetail.DestinationName';
                        @:var gtmHotelIds = '@hotel.HotelDetail.HotelCode';
                        @:var gtmRegion = '@hotel.HotelDetail.DestinationName';
                        @:var gtmCountry = '@hotel.HotelDetail.CountryName';
                        @:var gtmCheckinDate = '@hotel.HotelDetail.CheckInDate.ToString("yyyyMMdd")';
                        @:var gtmCheckoutDate = '@hotel.HotelDetail.CheckOutDate.ToString("yyyyMMdd")';
                        @:var gtmPurchaseCurrency = 'IDR';
                        @:var gtmPurchaseValue = @hotel.HotelDetail.NetTotalFare;
                        @:var gtmPageName = 'payment';
                    }*@
        // change current page
        if (getParam('page') == 4) {
            currentPage = getParam('page');
        } else {
            currentPage = 1;
        }
        var loggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
        var buyerInfo = {
            fullname: '@(User.Identity.GetFirstName() + " " + User.Identity.GetLastName())',
            countryCode: '@User.Identity.GetCountryCd()',
            phone: '@User.Identity.GetPhoneNumber()',
            email: '@User.Identity.GetEmail()'
        };
        var langCode = '@OnlineContext.GetActiveLanguageCode()';
        var expirytime = '@Model.TimeLimit.ToString("yyyy-MM-dd'T'HH:mm:ss'Z'")';

    </script>
    <!-- angular controller -->
    <script src="@Fingerprint.Tag("/Assets/travorama20/js/paymentController.js")"></script>
}

@switch ((string)ViewBag.Message)
{
    default:
        <!-- payment start here -->

        <div ng-app="travorama" @*ng-controller="paymentController"*@ ng-class="{'page-loaded' : pageLoaded}">
            <section class="checkout-content">
                <div class="page__body">
                    @*@if (Model.Reservation is FlightReservationForDisplay)
                    {
                        Html.RenderPartial("/Views/Payment/partials/_flightDetail.mobile.cshtml");
                    }
                    else if (Model.Reservation is HotelReservationForDisplay)
                    {
                        <h3 class="lg-txt">
                            <b>RINCIAN </b><span>PEMESANAN</span>
                        </h3>
                        <div class="container-rincian-penerbangan">
                            <div class="content-right-payment">
                                <p class="timer">
                                    <b>Sisa Waktu Pembayaran </b>
                                    <span class="hour">00</span>
                                    :
                                    <span class="minute">00</span>
                                    :
                                    <span class="second">00</span>
                                </p>
                                <p><b>Nomor Reservasi : </b>@Model.RsvNo</p>
                            </div>
                            @Html.RenderPartial("/Views/Payment/partials/_hotelDetail.cshtml");}*@
                        </div>
                    <!-- ========================= PAYMENT METHOD ========================= -->
                    <div class="summary summary--payment">
                        @{Html.RenderPartial("/Views/Payment/partials/_paymentMethods.cshtml");}
                    </div><!-- .summary--payment -->

            </section><!-- .checkout-content -->
            <!-- Syarat & Ketentuan -->
            <div class="popup__wrapper" ng-class="{'active' : pay.showPopup}">
                <div class="popup">
                    <header class="popup__header">
                        <h4 class="popup__title">Syarat dan Ketentuan <br />Bank Transfer</h4>
                    </header>
                    <div class="popup__body tnc-body">
                        <div class="container_new">
                            <ol>
                                <li>Pastikan bank yang Anda pilih <b>sama</b> dengan bank yang Anda gunakan untuk membayar. Gunakan pilihan <b>"Bank Lainnya"</b> jika bank Anda tidak terdapat di pilihan</li>
                                <li>Bayar sesuai harga yang tertera <b>tidak lebih dan tidak kurang</b>, pastikan nominal persis sama hingga <b>tiga angka terakhir</b> agar pembayaran dapat diverifikasi</li>
                                <li><b>Tidak disarankan</b> melakukan transfer dengan <b>LLG/Kliring/RTGS/SKNBI</b> karena membutuhkan waktu verifikasi yang lama sehingga batas waktu terlewat</li>
                            </ol>
                        </div>
                    </div>
                    <div class="popup__footer">
                        <div class="container_new tnc">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="btn btn-grey btn-block" ng-click="pay.showPopup = false;" style="width:100%">KEMBALI</a>
                                </div>
                                <div class="col-xs-6">
                                    <input type="submit" class="btn btn-yellow" ng-click="pay.middle('transfer')" value="SETUJU">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup__wrapper" ng-class="{'active' : pay.showOtherBankPopup }">
                <div class="popup">
                    <header class="popup__header">
                        <h4 class="popup__title">Syarat dan Ketentuan Virtual Account</h4>
                    </header>
                    <div class="popup__body tnc-body">
                        <div class="container_new">
                            <ol>
                                <li>Dikenakan tambahan biaya Rp6.500-Rp7.500/transaksi (tidak termasuk di total transaksi) untuk pembayaran melalui jaringan ATM Bersama, Prima, dan Alto. Ini sesuai ketetapan ATM Bersama, Prima, dan Alto, dan dapat berubah sewaktu-waktu</li>
                                <li>Bayar sesuai harga yang tertera <b>tidak lebih dan tidak kurang</b>, pastikan nominal persis sama hingga <b>3 angka terakhir</b> agar pembayaran dapat diverifikasi</li>
                                <li><b>Tidak disarankan</b> melakukan transfer dengan <b>LLG/Kliring/RTGS/SKNBI</b> karena membutuhkan waktu verifikasi yang lama sehingga batas waktu terlewat</li>
                            </ol>
                        </div>
                    </div>
                    <div class="popup__footer">
                        <div class="container_new tnc">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="btn btn-grey btn-block" ng-click="pay.showOtherBankPopup = false;">KEMBALI</a>
                                </div>
                                <div class="col-xs-6">
                                    <input type="submit" class="btn btn-yellow" ng-click="pay.middle('transfer')" value="SETUJU">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup__wrapper" ng-class="{'active' : expired}">

                <div class="popup">
                    <header class="popup__header">
                        <h4 class="popup__title">Waktu Habis</h4>
                    </header>

                    <div class="popup__body tnc-body">
                        <h3>Maaf, waktu pembayaran Anda <b>sudah habis</b></h3>
                        <p>Silakan klik tombol di bawah untuk kembali ke halaman utama.</p>
                    </div>

                    <div class="container_new popup__footer">
                        <div class="container_new tnc">
                            <div class="row">
                                <a class="btn btn-yellow btn-block" href="/">KEMBALI</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .page-overlay -->


            <div class="popup__wrapper" ng-class="{'active' : pay.ispaying || pay.go }">
                <div class="popup">
                    <header class="popup__header">
                        <h4 class="popup__title">Mohon Tunggu</h4>
                    </header>
                    <div class="popup__body tnc-body">
                        <div class="container_new">
                            Sedang memproses pilihan Anda.
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup__wrapper" ng-class="{'active' : pay.checked && !pay.isSuccess}">
                <div class="popup">
                    <header class="popup__header">
                        <h4 class="popup__title">Mohon Maaf...</h4>
                    </header>
                    <div class="popup__body tnc-body">
                        <div class="container_new">
                            {{errorMessage}}
                        </div>
                    </div>
                    <div class="popup__footer">
                        <div class="container_new tnc">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="btn btn-grey btn-block" ng-click="pay.close()">TUTUP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup__wrapper" ng-class="{'active' : !pay.inputValid}">
                <div class="popup">
                    <header class="popup__header">
                        <h4 class="popup__title">Mohon Maaf...</h4>
                    </header>
                    <div class="popup__body tnc-body">
                        <div class="container_new">
                            Input yang Anda masukkan tidak valid. Silakan cek kembali.
                        </div>
                    </div>
                    <div class="popup__footer">
                        <div class="container_new tnc">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="btn btn-grey btn-block" ng-click="pay.inputValid = true">TUTUP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup__wrapper" ng-class="{'active' : mustSelectBank}">
                <div class="popup">
                    <header class="popup__header">
                        <h4 class="popup__title">Anda Belum Memilih Bank</h4>
                    </header>
                    <div class="popup__body tnc-body">
                        <div class="container_new">
                            Silakan pilih salah satu bank yang tersedia sebelum mengklik tombol Bayar.
                        </div>
                    </div>
                    <div class="popup__footer">
                        <div class="container_new tnc">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="btn btn-grey btn-block" ng-click="mustSelectBank = false">TUTUP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup__wrapper" ng-class="{'active' : pay.continueVoucher}">
                <div class="popup">
                    <header class="popup__header">
                        <h4 class="popup__title">Mohon Maaf...</h4>
                    </header>
                    <div class="popup__body tnc-body">
                        <div class="container_new">
                            {{errorMessage}}
                        </div>
                    </div>
                    <div class="popup__footer">
                        <div class="container_new tnc">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class=" btn btn-yellow btn-block" ng-click="pay.continuePay('voucher')" ng-show="!pay.clickpay"><b>YA</b></a>

                                </div>
                                <div class="col-xs-6">
                                    <a class="btn btn-grey btn-block" ng-click="pay.continueVoucher = false;" ng-show="!pay.clickpay"><b>TIDAK</b></a>
                                    <a class="btn btn-grey btn-block" ng-click="pay.continueVoucher = false;" ng-show="pay.clickpay"><b>TUTUP</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup__wrapper" ng-class="{'active' : pay.continueBIN}">
                <div class="popup">
                    <header class="popup__header">
                        <h4 class="popup__title">Mohon Maaf...</h4>
                    </header>
                    <div class="popup__body tnc-body">
                        <div class="container_new">
                            {{errorMessage}}
                        </div>
                    </div>
                    <div class="popup__footer">
                        <div class="container_new tnc">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="btn btn-yellow btn-block" ng-click="pay.continuePay('bin')"><b>YA</b></a>

                                </div>
                                <div class="col-xs-6">
                                    <a class="btn btn-grey btn-block" ng-click="pay.continueBIN = false;"><b>TIDAK</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup__wrapper" ng-class="{'active' : error.message}">
                <div class="popup">
                    <header class="popup__header">
                        <h4 class="popup__title">Mohon Maaf...</h4>
                    </header>
                    <div class="popup__body tnc-body">
                        <div class="container_new">
                            {{error.message}}
                        </div>
                    </div>
                    <div class="popup__footer">
                        <div class="container_new tnc">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a class="btn btn-yellow btn-block" ng-click="error.message = '' "><b>TUTUP</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- checkout end here -->
                        break;
    case "BookExpired":
    @:[Ini ceritanya page booking expired]
        break;
    case "BookError":
    @:[Ini ceritanya page kalo input datanya ga bener]
        break;
    case "NoLongerAvailable":
    @:[Ini ceritanya page kalo fare-nya uda ga available lageh]
        break;
    case "InvalidInputData":
    @:[Ini ceritanya page kalo input datanya ga bener]
        break;
}
