@using System.Globalization
@using Lunggo.ApCommon.Hotel.Service
@model Lunggo.ApCommon.Hotel.Model.HotelDetailForDisplay
@{
   
    var night = (Model.CheckOutDate - Model.CheckInDate).Days;
    var hotelImg = "";
    var roomImg = "";
    var images = HotelService.GetInstance().GetHotelDetailFromDb(Model.HotelCode).ImageUrl;
    var orDefault = images.Where(i => i.Type == "GEN").ToList().FirstOrDefault();
    if (orDefault != null)
    {
        hotelImg = images == null
            ? null
            : "http://photos.hotelbeds.com/giata/" + orDefault.Path;
    }

    var listAges = new List<int>();
    var sumAdult = 0;
    var sumChild = 0;
    var orderedRooms = new List<Tuple<string, int>>();
    
    try
    {

        foreach (var room in Model.Rooms)
        {
            var roomName = room.RoomName;
            var sum = 0;
            foreach (var rate in room.Rates)
            {
                sum += rate.RoomCount;
                sumAdult += rate.AdultCount;
                sumChild += rate.ChildCount;
                if (rate.ChildCount <= 0)
                {
                    continue;
                }
                listAges.AddRange(rate.ChildrenAges);
            }
            orderedRooms.Add(new Tuple<string, int>(roomName, sum)); ;
        }
    }
    catch (Exception)
    {

        throw;
    }
}

@functions{

    public string ToTitleCase(string input)
    {

        var text = "";
        try
        {
            var splittedText = input.Split(' ');
            foreach (var word in splittedText)
            {
                var splittedByStrips = word.Split('-');
                var w = "";
                if (splittedByStrips.Count() != 1)
                {
                    foreach (var part in splittedByStrips)
                    {
                        w += ApplyTitleCase(part) + "-";
                    }
                    text += w.Substring(0, w.Length - 1) + " ";
                }
                else
                {
                    text += word[0] + word.Substring(1, word.Length - 1).ToLower() + " ";
                }
            }
        }
        catch{}
        return text.Length == 0 ? "" : text.Substring(0, text.Length - 1);
    }
    
    public string ApplyTitleCase(string input)
    {
        return input[0] + input.Substring(1, input.Length - 1).ToLower();
    }

}

<div class="fb-hotel">
    <div class="clearfix">
        <div class="col-6 lg-txt blue-txt bold-txt">@ToTitleCase(Model.HotelName)</div>
        <div class="col-4">
            @if (Model.StarRating == 1)
            {
                <span class="star"></span>
            }
            else if (Model.StarRating == 2)
            {
                <span class="star star-2"></span>
            }
            else if (Model.StarRating == 3)
            {
                <span class="star star-3"></span>
            }
            else if (Model.StarRating == 4)
            {
                <span class="star star-4"></span>
            }
            else if (Model.StarRating == 5)
            {
                <span class="star star-5"></span>
            }           
        </div>
    </div>
    <div class="location sm-txt">@ToTitleCase(Model.Address) @ToTitleCase(Model.ZoneName),
    @ToTitleCase(Model.DestinationName), @Model.PostalCode, @Model.CountryName</div>
    <div class="fb-img" style="background-image: url(@hotelImg)"></div>
    <div class="clearfix">
        <div class="fb-row clearfix">
            <div class="col-4">Check in</div>
            <div class="col-6 bold-txt">@Model.CheckInDate.ToString("D",CultureInfo.CreateSpecificCulture("id-ID"))</div>
        </div>
        <div class="fb-row clearfix">
            <div class="col-4">Check out</div>
            <div class="col-6 bold-txt">@Model.CheckOutDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</div>
        </div>
        <div class="fb-row clearfix">
            <div class="col-4">Malam</div>
            <div class="col-6 bold-txt">@night Malam</div>
        </div>
        <div class="fb-row clearfix">
            <div class="col-4">Kamar</div>
            <div class="col-6 bold-txt">@Model.Rooms.Sum(r => r.Rates.Sum(c => c.RoomCount)) Kamar</div>
        </div>
    </div>
    <div class="fb-req" ng-show="buyerInfo.message != null && buyerInfo.message.length == 0">
        <p class="bold-txt">Permintaan khusus:</p>
        <div>{{buyerInfo.message}} </div>
    </div>
</div>