@using Lunggo.ApCommon.Identity.Users
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay

@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Profil";
    ViewBag.BodyClass = "page page-useraccount";
    ViewBag.AngularController = "UserAccountController";
    
    //var rsvs = Model.OrderByDescending(rsv => rsv.RsvTime).ToList();
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
}

@section PageJS{
    <script>
    var langCode = 'en';
    var userProfile = {
        address: '@User.Identity.GetAddress()',
        firstname: '@User.Identity.GetFirstName()',
        lastname: '@User.Identity.GetLastName()',
        phone: parseInt('@User.Identity.GetPhoneNumber()'),
        country: '@User.Identity.GetCountryCd()'
        };
    var editProfile = {
        address: '@User.Identity.GetAddress()',
        firstname: '@User.Identity.GetFirstName()',
        lastname: '@User.Identity.GetLastName()',
        phone: parseInt('@User.Identity.GetPhoneNumber()'),
        country: '@User.Identity.GetCountryCd()'
    }
        if (userProfile.phone === NaN) {
            userProfile.phone = 0;
        }
    @*//var order = '@Html.Raw(rsvs.Serialize())';*@
    </script>
    <!-- angular controller -->

    <script src="/Assets/mobile/js/AccountController.js"></script>
}
<div class="page-loading" ng-class="{'page-loaded' : pageLoaded}">
    <header class="notifbox" ng-hide="!NotifBox">
        <h3>{{formMessage}}</h3>
    </header>
    
    <section class="user-menu" ng-show="PageConfig.ActivePage == 'menu'">
        <div class="menu-user">
            <span ng-if="UserProfile.name.length != 0">{{UserProfile.name}}</span>
            <span ng-if="UserProfile.name.length == 0">{{UserProfile.email}}</span>
        </div>
       
        <div class="menu-wrapper">
            <ul>
                <li class="menu-profile">
                    <a ng-click="PageConfig.ChangePage('profile'); formMessage = ''">Ubah Profil</a>
                </li>
                <li class="menu-history">
                    <a ng-click="PageConfig.ChangePage('history')">Pesanan Saya</a>
                </li>
                <li class="menu-logout">
                    <a ng-click="logout.getLogout()">Keluar</a>
                    @*<a href="@Url.Action("Logout", "Account")">Keluar</a>*@
                </li>
            </ul>
        </div>
    </section><!-- .user-menu -->

    <section class="user-profile" ng-show="PageConfig.ActivePage == 'profile'">
        <div class="form-wrapper">
            <div class="profile-form">
                <header>
                    <span>Data Profil</span>
                </header>
                <div>
                    <form name="profileForm" novalidate class="form">
                        <div class="form-group">
                            <label class="control-label">Nama Lengkap:</label>
                            <p class="form-control-static" ng-hide="UserProfile.Editing">{{UserProfile.name}}</p>
                            <input type="text" value="" class="form-control" ng-model="EditProfile.name" ng-show="UserProfile.Editing" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">No Telepon:</label>
                            <p class="form-control-static" ng-hide="UserProfile.Editing">{{UserProfile.phone}}</p>
                            <input type="number" value="" class="form-control" ng-model="EditProfile.phone" ng-show="UserProfile.Editing" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Kode Negara:</label>
                            <p class="form-control-static" ng-hide="UserProfile.Editing">{{Countries.GetCountry(UserProfile.country)}} ({{UserProfile.country}})</p>
                            <select class="form-control" ng-model="EditProfile.country" ng-show="UserProfile.Editing" required>
                                <option ng-repeat="country in Countries.List" value="{{country.dial_code}}" ng-selected="country.dial_code == UserProfile.country">{{country.name}} ({{country.dial_code}})</option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="UserProfile.Editing">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-gray btn-block" ng-click="UserProfile.Edit()">BATAL</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-yellow btn-block" @*ng-disabled="profileForm.$invalid"*@ ng-click="EditProfile.Submit('profileSave'); UserProfile.Edit(); NotifBox = True">SIMPAN</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="UserProfile.Editing">
                            <button class="btn btn-yellow btn-block" ng-click="UserProfile.Edit()">UBAH PROFIL</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="form-wrapper">
            <div class="password-form">
                <header>
                    <span>Password</span>
                </header>
                <div>
                    <form name="passwordForm" novalidate class="form">
                        <div class="form-group" ng-hide="UserPassword.Editing">
                            <label class="control-label">Password:</label>
                            <p class="form-control-static">*****</p>
                        </div>
                        <div ng-show="UserPassword.Editing">
                            <div class="form-group">
                                <label class="control-label">Password Saat Ini:</label>
                                <input type="password" value="" class="form-control" ng-model="UserPassword.CurrentPassword" required />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password Baru:</label>
                                <input type="password" value="" class="form-control" ng-model="UserPassword.NewPassword" required />
                            </div>
                            @*<div class="form-group">
                                <label class="control-label">Konfirmasi Password Baru:</label>
                                <input type="password" value="" class="form-control" ng-model="UserPassword.ConfirmPassword" required />
                            </div>*@
                        </div>
                        <div class="form-group" ng-show="UserPassword.Editing">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-gray btn-block" ng-click="UserPassword.Edit()">BATAL</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-yellow btn-block" ng-disabled="passwordForm.$invalid" ng-click="UserPassword.Submit()">SIMPAN</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="UserPassword.Editing">
                            <a class="btn btn-yellow btn-block" ng-click="UserPassword.Edit()">UBAH PASSWORD</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- .user-profile -->

    <section class="user-history" ng-show="PageConfig.ActivePage == 'history'">
        <header class="page-title">
            <span>PESANAN SAYA</span>
        </header>
        <div class="main-tab">
            <ul class="nav nav-tabs tab-detail">
                <li class="col-xs-6 active">
                    <a class="tab-flight order" data-toggle="tab" href="#order-flight">Penerbangan</a>
                </li>
                <li class="col-xs-6">
                    <a class="tab-hotel order" data-toggle="tab" href="#order-hotel">Hotel</a>
                </li>
            </ul>
            <div ng-show="loading">
                <img src="/Assets/images/load.gif" style="width: 50px; height: 50px; margin-left: 45%; margin-top: 5%">
            </div>
            <div class="tab-content tab-order">
                <div id="order-flight" class="tab-pane tp-flight active">
                    <ul class="history-list">
                        <li class="" ng-repeat="flight in flightlist track by $index" ng-class="{'done' : flight.payment.status == 3, 'pending' : flight.payment.status == 2 ||  flight.payment.status == 6, 'canceled' : flight.payment.status == 1 || flight.payment.status == 4 || flight.payment.status == 5 || flight.payment.status == 8}">
                            <div class="row">
                                <div class="col-xs-4">
                                    <span class="blue">Nomor Pesanan</span>
                                </div>
                                <div class="col-xs-8">
                                    <span class="blue">: <b>{{flight.rsvNo}}</b></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <span>Maskapai</span>
                                </div>
                                <div class="col-xs-8">
                                    <span class="blue">: <b>{{flight.itin.trips[0].segments[0].airlineName}}</b></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <span>Tujuan</span>
                                </div>
                                <div class="col-xs-8">
                                    <span>: <b>{{flight.itin.trips[0].origin}}</b> ke <b>{{flight.itin.trips[0].destination}}</b> {{FlightType(flight.itin.type)}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <span>Berangkat</span>
                                </div>
                                <div class="col-xs-8">
                                    <span>: <b>{{flight.itin.trips[0].segments[0].departureTime | date : 'EEEE, dd MMMM yyyy , HH:mm' :'UTC'}}</b></span>
                                </div>
                            </div>
                            <div class="row" ng-show="flight.itin.trips[1].date">
                                <div class="col-xs-4">
                                    <span>Kembali</span>
                                </div>
                                <div class="col-xs-8">
                                    <span>: <b>{{flight.itin.trips[1].segments[0].departureTime | date: 'EEEE, dd MMMM yyyy , HH:mm' :'UTC'}}</b></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <span>Status</span>
                                </div>
                                <div class="col-xs-8">
                                    <span>: <b>{{OrderStatus(flight.payment.status)}}</b></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a ng-href="@Url.Action("OrderFlightHistoryDetail", "UW620OrderHistory")?rsvNo={{flight.rsvNo}}" class="btn btn-yellow">Detail</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="order-hotel" class="tab-pane tp-hotel">
                    <h3 ng-if="hotellist.length == 0">Belum ada pemesanan.</h3>
                    <div ng-if="hotellist.length > 0">
                        <ul class="history-list">
                            <li class="" ng-repeat="hotel in hotellist track by $index"
                                ng-class="{'done' : hotel.payment.status == 3, 'pending' : hotel.payment.status == 2 ||  hotel.payment.status == 6, 'canceled' : hotel.payment.status == 1 || hotel.payment.status == 4 || hotel.payment.status == 5 || hotel.payment.status == 8}">
                                <div class="order-wrapper">
                                    <div class="order hotel page-hotel">
                                        <div class="order-top">
                                            <div class="ot clearfix">
                                                <div class="col-2"><img src="{{getPhotoUrl(hotel.hotelDetail.mainImage)}}" alt="Hotel Image" /></div>
                                                <div class="col-8">
                                                    <span class="blue-txt bold-txt">{{hotel.hotelDetail.hotelName}}</span><br />
                                                    <span class="star" ng-if="hotel.hotelDetail.starRating == 1"></span>
                                                    <span class="star star-2" ng-if="hotel.hotelDetail.starRating == 2"></span>
                                                    <span class="star star-3" ng-if="hotel.hotelDetail.starRating == 3"></span>
                                                    <span class="star star-4" ng-if="hotel.hotelDetail.starRating == 4"></span>
                                                    <span class="star star-5" ng-if="hotel.hotelDetail.starRating == 5"></span>
                                                    <div class="wt-location">
                                                        {{hotel.hotelDetail.address}}{{hotel.hotelDetail.zone}}, {{hotel.hotelDetail.destination}}, {{hotel.hotelDetail.country}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="order-bottom">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <span>Check in</span>
                                                </div>
                                                <div class="col-xs-8">
                                                    <span>: <b>{{hotel.hotelDetail.checkIn | date : 'EEEE, dd MMM yyyy'}}</b></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <span>Check out</span>
                                                </div>
                                                <div class="col-xs-8">
                                                    <span>: <b>{{hotel.hotelDetail.checkOut | date : 'EEEE, dd MMM yyyy'}}</b></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <span>Malam</span>
                                                </div>
                                                <div class="col-xs-8">
                                                    <span>: <b>{{nightcount(hotel.hotelDetail)}} Malam</b></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <span>Kamar</span>
                                                </div>
                                                <div class="col-xs-8">
                                                    <span>: <b>{{sumRoom(hotel.hotelDetail)}} Kamar</b></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <span>Jenis Kamar</span>
                                                </div>
                                                <div class="col-xs-8">
                                                    <span>: <b>{{titleCase(totalRoom(hotel.hotelDetail))}}</b></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <span>Tamu per Kamar</span>
                                                </div>
                                                <div class="col-xs-8">
                                                    <span>: <b>{{totalpax(hotel.hotelDetail).totalAdult}} Dewasa, {{totalpax(hotel.hotelDetail).totalChild}} Anak</b></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <span>Status</span>
                                                </div>
                                                <div class="col-xs-8">
                                                    <span>: <b>{{OrderStatus(hotel.payment.status)}}</b></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <a ng-href="@Url.Action("OrderFlightHistoryDetail", "UW620OrderHistory")?rsvNo={{hotel.rsvNo}}" class="btn btn-yellow">Detail</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </section><!-- .user-history -->
</div>