@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Hotel.Model
@using Lunggo.ApCommon.Payment.Constant
@using Lunggo.Framework.Extension
@model Lunggo.ApCommon.Product.Model.ReservationForDisplayBase
@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Detail Reservasi";
    ViewBag.BodyClass = "page page-orderdetail";
    ViewBag.AngularController = "orderDetailController";
}

@{
    var index = 1;
}
@functions{
    public string ToTitleCase(string input)
    {

        var text = "";
        try
        {
            var splittedText = input.Split(' ');
            foreach (var word in splittedText)
            {
                var splittedByStrips = word.Split('-');
                var w = "";
                if (splittedByStrips.Count() != 1)
                {
                    foreach (var part in splittedByStrips)
                    {
                        w += ApplyTitleCase(part) + "-";
                    }
                    text += w.Substring(0, w.Length - 1) + " ";
                }
                else
                {
                    text += word[0] + word.Substring(1, word.Length - 1).ToLower() + " ";
                }
            }

        }
        catch
        {

        }
        return text.Length == 0 ? "" : text.Substring(0, text.Length - 1);
    }

    public string ApplyTitleCase(string input)
    {
        return input[0] + input.Substring(1, input.Length - 1).ToLower();
    }
    public string msToTime(double duration)
    {
        var hours = Convert.ToInt32(duration) / (1000 * 60 * 60);
        var minutes = (Convert.ToInt32(duration) / (1000 * 60)) % 60;

        return hours + "j " + minutes + "m";
    }
}
@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS{
    <script>
        var langCode = 'en';
        var orderDate = '@Model.RsvTime.ToString("u")';
        @*var refundDate = '@(Model.Payment.Refund != null ? Model.Payment.Refund.Time.ToString("u") : "")';*@
        var rsvNo = @Model.RsvNo;
        var rsvStatus = '@Convert.ToInt32(Model.RsvDisplayStatus)';
        var paymentMethod = '@Convert.ToInt32(Model.Payment.Method)';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/AccountController.js"></script>
}

<section class="account-content page-loading" ng-class="{'page-loaded' : pageLoaded}">

    <div class="page-overlay" ng-show="datafailed">
        <div class="overlay-content">
            <div ng-show="errormsg == 'No Reservation Matched'">
                <header>
                    <h4>Mohon Maaf</h4>
                </header>
                <img src="/Assets/images/sad-image.png" alt="Registered">
                <section>
                    <p>
                        Mohon maaf, pesanan dengan nomor {{rsvNo}} tidak ditemukan.
                    </p>
                </section>
                <div class="text-center">
                    <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                </div>
            </div>
            <div ng-show="errormsg == 'No Reservation Matched'">
                <header>
                    <h4>Mohon Maaf</h4>
                </header>
                <img src="/Assets/images/sad-image.png" alt="Not Found">
                <section>
                    <p>
                        Mohon maaf, pesanan dengan nomor {{rsvNo}} tidak ditemukan.
                    </p>
                </section>
                <div class="text-center">
                    <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                </div>
            </div>
            <div ng-show="errormsg == 'Not Authorised'">
                <header>
                    <h4>Mohon Maaf</h4>
                </header>
                <img src="/Assets/images/sad-image.png" alt="Not authorised">
                <section>
                    <p>
                        Mohon maaf, Anda tidak dapat melihat pesanan dengan nomor {{rsvNo}}.
                    </p>
                </section>
                <div class="text-center">
                    <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                </div>
            </div>
            <div ng-show="errormsg == 'Problem on Server'">
                <header>
                    <h4>Mohon Maaf</h4>
                </header>
                <img src="/Assets/images/sad-image.png" alt="Problem">
                <section>
                    <p>
                        Mohon maaf, Anda tidak dapat melihat pesanan dengan nomor {{rsvNo}}.
                    </p>
                </section>
                <div class="text-center">
                    <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                </div>
            </div>
        </div>
    </div>

    <div class="order-detail">
        <header class="content-header">
            <span>NOMOR PESANAN: <b>@Model.RsvNo</b></span>
        </header>
        <section class="content-body">

            <div class="info-buyer">
                <header>
                    <form action="" method="post" name="submitForm" id="rsvno" class="hidden">
                        <input type="text" name="RsvNo" value="" id="rsvno-input" />
                        <input type="text" name="Status" value="" id="message-input" />
                    </form>
                    <h4>
                        <b>INFO PEMESANAN</b>
                        @if (Model is FlightReservationForDisplay)
                        {
                            <button class="pull-right btn btn-yellow" ng-click="submitRsvNo(@Model.RsvNo, @Model.RsvDisplayStatus)">
                                {{ButtonText(rsvStatus, paymentMethod, 'flight')}}
                            </button>
                        }
                        @if (Model is HotelReservationForDisplay)
                        {
                            <button class="pull-right btn btn-yellow" ng-click="submitRsvNo(@Model.RsvNo, @Model.RsvDisplayStatus)">
                                {{ButtonText(rsvStatus, paymentMethod, 'hotel')}}
                            </button>
                        }
                       
                        @*<span ng-if="flight.payment.status == 2">
                            <button href="@Url.Action("Eticket", "Flight", new {rsvNo = Model.RsvNo})" class="pull-right btn btn-yellow" disabled>@Html.I18NString("CW00198")</button>
                        </span>

                        <span ng-if="flight.payment.status != 2 && flight.payment.status != 3">
                            <button href="@Url.Action("Eticket", "Flight", new {rsvNo = Model.RsvNo})" class="pull-right btn btn-yellow hidden">@Html.I18NString("CW00198")</button>
                        </span>*@
                    </h4>
                </header>

                <section class="oh-container">
                    <div class="form form-horizontal">
                        
                        <div class="form-group">
                            <label class="control-label col-xs-5">Nama Pemesan</label>
                            <div class="col-xs-7">
                                <p class="form-control-static">@Model.Contact.Name</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Tanggal Pemesanan</label>
                            <div class="col-xs-7">
                                <p class="form-control-static">@Model.RsvTime.AddHours(7).ToString("f", CultureInfo.CreateSpecificCulture("id-ID")) WIB</p>
                            </div>
                        </div>
                        @if (Model is FlightReservationForDisplay)
                        {
                            <div class="form-group">
                                <label class="control-label col-xs-5">Tipe</label>
                                <div class="col-xs-7">
                                    <p class="form-control-static">Penerbangan</p>
                                </div>
                            </div>
                        }
                        @if (Model is HotelReservationForDisplay)
                        {
                            <div class="form-group">
                                <label class="control-label col-xs-5">Tipe</label>
                                <div class="col-xs-7">
                                    <p class="form-control-static">Hotel</p>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="control-label col-xs-5">Harga Pesanan</label>
                            <div class="col-xs-7">
                                <p class="form-control-static">Rp @Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="flight.payment.method">
                            <label class="control-label col-xs-5">Metode Pembayaran</label>
                            <div class="col-xs-7">
                                <p class="form-control-static">@Model.Payment.Method</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Status Pembayaran</label>
                            <div class="col-xs-7">
                                <p class="form-control-static">@EnumDisplay.PaymentStatus(Model.Payment.Status)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            @if (Model is FlightReservationForDisplay)
                            {
                                <label class="control-label col-xs-5">Penumpang</label>
                            }
                            @if (Model is HotelReservationForDisplay)
                            {
                                <label class="control-label col-xs-5">Tamu </label>
                            }
                            <div class="col-xs-7">
                                <ol class="passenger-list">
                                    @foreach (var pax in Model.Pax)
                                    {
                                        <li>
                                            <div>
                                                <p>@EnumDisplay.Title(pax.Title) @pax.Name</p>
                                            </div>
                                            <div>
                                                <span>@EnumDisplay.PassengerType(pax.Type)</span>
                                            </div>
                                        </li>
                                    }
                                    
                                </ol>
                            </div>
                        </div>
                     </div>
                </section>
            </div><!-- .info-buyer -->
            
            @if (Model is FlightReservationForDisplay)
            {
                var rsv = Model as FlightReservationForDisplay;
                <div class="info-flight">
                    <header>
                        <h4><b>@Html.I18NString("CW00199")</b></h4>
                    </header>
                    <section>
                        @foreach (var trip in rsv.Itinerary.Trips)
                        {
                            <div >
                                <div class="flight departure">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img ng-src="@trip.Segments[0].AirlineLogoUrl" alt="@trip.Segments[0].AirlineName" class="flight__airline__image" />
                                        </div>
                                        <div class="col-xs-9">
                                            <p class="flight__airline__name"><span>@trip.Segments[0].AirlineName</span> </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p>@trip.OriginCity - @trip.DestinationCity</p>
                                            <p>@trip.DepartureDate.GetValueOrDefault().ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</p>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        }
                        
                    </section>

                </div><!-- .info-flight -->
            }
            
            @if (Model is HotelReservationForDisplay)
            {
                var reservation = Model as HotelReservationForDisplay;

                <div class=" page-hotel review-hotel" style="background:#f9f9f9">
                    <div class="review-room clearfix">
                        <h3 class="summary__title"><b>REVIEW</b> PESANAN</h3>
                        <div class="rr-detail">
                            <div class="rr-title semibold-txt lg-txt">Hotel @reservation.HotelDetail.HotelName</div>

                            @if (reservation.HotelDetail.StarRating == 1)
                            {
                                <div class="star"></div>
                            }

                            @if (reservation.HotelDetail.StarRating == 2)
                            {
                                <div class="star star-2"></div>
                            }
                            @if (reservation.HotelDetail.StarRating == 3)
                            {
                                <div class="star star-3"></div>
                            }
                            @if (reservation.HotelDetail.StarRating == 4)
                            {
                                <div class="star star-4"></div>
                            }
                            @if (reservation.HotelDetail.StarRating == 5)
                            {
                                <div class="star star-5"></div>
                            }

                            <div class="rr-row clearfix">
                                <div class="col-2">Alamat</div>
                                <div class="col-8">
                                    @ToTitleCase(reservation.HotelDetail.Address) @ToTitleCase(reservation.HotelDetail.ZoneName),
                                    @ToTitleCase(reservation.HotelDetail.DestinationName), @reservation.HotelDetail.PostalCode, @reservation.HotelDetail.CountryName
                                </div>
                            </div>
                            <div class="rr-row clearfix">
                                <div class="col-2">Check-in</div>
                                <div class="col-8">@reservation.HotelDetail.CheckInDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                            </div>
                            <div class="rr-row clearfix">
                                <div class="col-2">Check-out</div>
                                <div class="col-8">@reservation.HotelDetail.CheckOutDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                            </div>
                            <div class="rr-row clearfix">
                                <div class="col-2">Jumlah Malam</div>
                                <div class="col-8">@((reservation.HotelDetail.CheckOutDate - reservation.HotelDetail.CheckInDate).Days) Malam</div>
                            </div>
                        </div>

                        <div class="rr-title semibold-txt lg-txt">Kamar</div>

                        @foreach (var room in reservation.HotelDetail.Rooms)
                        {
                            foreach (var rate in room.Rates)
                            {
                                var pol = 1;
                                <div class="rr-detail">
                                    <div class="rr-title semibold-txt lg-txt">@index. @rate.RoomCount @ToTitleCase(room.RoomName)</div>
                                    <div class="rr-row">
                                        <div class="col-2">Board</div>
                                        <div class="col-8">
                                            @ToTitleCase(rate.BoardDescription)
                                        </div>

                                    </div>
                                    <div class="rr-row">
                                        <div class="col-2">
                                            <span>Tamu</span>
                                        </div>
                                        <div class="col-8">
                                            @rate.AdultCount Dewasa @if (rate.ChildCount > 0)
                                            {
                                                <span>, @rate.ChildCount Anak </span>
                                                <span>
                                                    (
                                                    @for (var a = 0; a < rate.ChildrenAges.Count; a++)
                                                    {
                                                        if (a != rate.ChildrenAges.Count - 1)
                                                        {
                                                            @rate.ChildrenAges[a]
                                                            <span>Tahun, </span>
                                                        }
                                                        else
                                                        {
                                                            @rate.ChildrenAges[a] <span>Tahun</span>
                                                        }
                                                    }
                                                    )
                                                </span>
                                            }
                                        </div>
                                    </div>

                                    @if (!rate.TermAndCondition.Exists(r => r.Length < 3))
                                    {
                                        <div class="rr-row">
                                            <div class="col-2">
                                                <span>Ketentuan</span>
                                            </div>
                                            <div class="col-8">
                                                @String.Join(". ", rate.TermAndCondition)
                                            </div>
                                        </div>
                                    }

                                    <div class="rr-row">
                                        <div class="col-2">
                                            <span></span>
                                        </div>
                                        <div class="col-8">
                                            @foreach (var policy in rate.Cancellation)
                                            {
                                                <div>
                                                    @pol.
                                                    Biaya pembatalan: Rp @(policy.Fee.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))<br />
                                                    Mulai berlaku: @policy.StartTime.ToString("D", CultureInfo.CreateSpecificCulture("id-ID")) <br />
                                                </div>
                                                pol++;
                                            }
                                        </div>
                                    </div>
                                </div>
                                            index++;
                            }
                        }
                    </div>
                </div>
            }
            <div class="refund-detail hidden">
                <header>
                    <h4><b>@Html.I18NString("CW00199")</b></h4>
                </header>
                <section>
                    <div class="form form-horizontal">
                        @*<div class="form-group">
                            <label class="control-label col-xs-3">No Refund</label>
                            <div class="col-xs-9">
                                <p class="form-control-static">
                                    <span>
                                        @(Model.Payment.Refund != null ?
                                            Model.Payment.Refund.Amount.ToString() : "-")
                                    </span>
                                </p>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="control-label col-xs-3">Tgl Pengajuan</label>
                            <div class="col-xs-9">
                                <p class="form-control-static">
                                    <span>{{refundDate | date : 'dd MMMM yyyy , HH:mm' : 'UTC'}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Status Refund</label>
                            <div class="col-xs-9">
                                <p class="form-control-static">-</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!-- .refund-detail -->

        </section>
    </div><!-- .history-content -->

</section><!-- .account-content -->