@using System.Data.Entity.ModelConfiguration.Conventions
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Identity.User
@model List<Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay>

@{
    Layout = "/Views/Shared/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-account page-account-profile";
    ViewBag.PageActiveSection = "profile";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS{
    <script>
    var langCode = 'en';
    var userProfile = {
        email: '@User.Identity.GetEmail()',
        firstname: '@User.Identity.GetFirstName()',
        lastname: '@User.Identity.GetLastName()',
        phone: '@User.Identity.GetPhoneNumber()',
        country: '@User.Identity.GetCountryCd()'
    };
</script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}


<div class="container page-loading" ng-controller="accountController" ng-app="travorama" ng-class="{'page-loaded' : pageLoaded}">
    <div class="row">

        <div class="col-xs-3">
            @Html.Partial("/Views/Shared/travorama20/_SectionUserMenu.cshtml")
        </div>
        <!-- ******************** -->

        <div class="col-xs-9">
            <section class="account-content">

                <div class="profile-content" ng-show="currentSection == 'profile'">
                    <header class="content-header">
                        <h2><b>@Html.I18NString("CW00168")</b> @Html.I18NString("CW00158")</h2>
                    </header>
                    <section class="content-body">

                        <form name="profileForm" class="form form-horizontal" novalidate="">
                            <header>
                                <h4>
                                    <b>LOGIN ID</b>
                                    <span class="pull-right" ng-hide="userProfile.edit">
                                        <a class="btn btn-yellow" ng-click="editForm('profile')">@Html.I18NString("CW00194")</a>
                                    </span>
                                    <span class="pull-right" ng-show="userProfile.edit">
                                        <a class="btn btn-grey" ng-click="editForm('profile')">CANCEL</a>
                                        <a class="btn btn-yellow" ng-click="editForm('profile')">SIMPAN</a>
                                    </span>
                                </h4>
                            </header>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">@Html.I18NString("CW00094")</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static" ng-hide="userProfile.edit">{{userProfile.email}}</p>
                                    <input type="email" name="email" ng-model="userProfile.email" class="form-control" ng-show="userProfile.edit" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">@Html.I18NString("CW00100")</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static" ng-hide="userProfile.edit">{{userProfile.firstname}}</p>
                                    <input type="text" name="firstname" ng-model="userProfile.firstname" class="form-control" ng-show="userProfile.edit" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">@Html.I18NString("CW00101")</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static" ng-hide="userProfile.edit">{{userProfile.lastname}}</p>
                                    <input type="text" name="lastname" ng-model="userProfile.lastname" class="form-control" ng-show="userProfile.edit" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">@Html.I18NString("CW00093")</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static" ng-hide="userProfile.edit">{{userProfile.phone}}</p>
                                    <input type="text" name="phone" ng-model="userProfile.phone" value="" class="form-control" ng-show="userProfile.edit" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">>@Html.I18NString("CW00193")</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static" ng-hide="userProfile.edit">{{userProfile.country}}</p>
                                    <select class="form-control" ng-show="userProfile.edit" ng-model="userProfile.country">
                                        <option ng-repeat="country in countries" value="{{country}}" ng-selected="country == userProfile.country">{{country}}</option>
                                    </select>
                                </div>
                            </div>
                        </form>

                        <form name="passwordForm" class="form form-horizontal" novalidate>
                            <header>
                                <h4>
                                    <b>@Html.I18NString("CW00164")</b>
                                    <span class="pull-right" ng-hide="password.edit">
                                        <a class="btn btn-yellow" ng-click="editForm('password')">@Html.I18NString("CW00194")</a>
                                    </span>
                                    <span class="pull-right" ng-show="password.edit">
                                        <a class="btn btn-grey" ng-click="editForm('password')">CANCEL</a>
                                        <a class="btn btn-yellow" ng-click="editForm('password')">SIMPAN</a>
                                    </span>
                                </h4>
                            </header>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">@Html.I18NString("CW00144")</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static" ng-hide="password.edit">**********</p>
                                    <input type="password" name="passwordNew" value="" class="form-control" ng-show="password.edit" placeholder="Input your new password" />
                                </div>
                            </div>
                        </form>

                    </section>
                </div><!-- .profile-content -->
                <!-- ***** -->

                <div class="history-content" ng-show="currentSection == 'order'">
                    <header class="content-header">
                        <h2><b>@Html.I18NString("CW00195")</b> @Html.I18NString("CW00196")</h2>
                    </header>
                    <section class="content-body">

                        @foreach(var flight in Model)
                        { 
                            <div class="order-wrapper">
                                <div class="order flight">
                                    <header>
                                        <span>Order ID : @flight.RsvNo</span>
                                    </header>
                                    <section class="container">
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <div class="detail">
                                                    <p>@Html.I18NString("CW00197") : <b>@flight.Itinerary.Trips[0].OriginAirport</b> to <b>@flight.Itinerary.Trips[0].DestinationAirport</b> (@flight.TripType.ToString())</p>
                                                    @if (flight.Itinerary.Trips.Count > 1)
                                                    {
                                                        <p>@Html.I18NString("CW00057"): @flight.Itinerary.Trips[0].DepartureDate.ToString("dd MMM yyyy") | @Html.I18NString("CW00058"): @flight.Itinerary.Trips[1].DepartureDate.ToString("dd MMM yyyy")</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@Html.I18NString("CW00057"): @flight.Itinerary.Trips[0].DepartureDate.ToString("dd MMM yyyy")</p>
                                                    }
                                                    <p>Status : <span class="success">@flight.Payment.Status</span></p>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="action">
                                                    <a href="@Url.Action("OrderFlightHistoryDetail", "UW620OrderHistory", new {rsvNo = flight.RsvNo})" class="btn btn-yellow">@Html.I18NString("CW00175")</a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div><!-- .order-wrapper -->
                        }

                    </section>
                </div><!-- .history-content -->

            </section><!-- .account-content -->
        </div>

    </div>
</div>