@using System.Globalization
@using Lunggo.ApCommon.Dictionary
@using Lunggo.ApCommon.Flight.Constant
@model List<Lunggo.ApCommon.Flight.Model.FlightReservation>

@{
    Layout = "/Views/Shared/_Layout_account.cshtml";
    ViewBag.Title = "Hotel Detail";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travorama</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/application.css">

</head>
<body>
    <!-- page start -->
    <div class="page user-account">

        <header id="site-header" class="site-header">
            @{ Html.RenderPartial("_Mainmenu"); }
        </header>

        <!-- site content start -->
        <div id="site-content" class="site-content">


            <header class="page-header">
                <div class="container">
                    <div class="site-nav"> <a href="#">Beranda</a> / <strong>User Account</strong></div>
                    <hr>
                    <h2 class="page-title"><b>SEARCH</b> RESULT</h2>
                </div>
            </header><!-- .page-header -->

            <section class="page-content">
                <div class="container">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="/id/Uw600/UW610ChangeProfile" aria-controls="profile"><span class="fa fa-users"></span> Profile</a></li>
                        <li role="presentation" class="active"><a href="#history" aria-controls="history" role="tab" data-toggle="tab"><span class="fa fa-history"></span> Order History</a></li>
                        <li role="presentation"><a href="#password" aria-controls="password" role="tab" data-toggle="tab"><span class="fa fa-lock"></span> Password</a></li>
                    </ul>

                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="history">
                            <h4><b>HISTORY</b> ORDER</h4>

                            <div class="history-wrapper">
                                <ul class="history-list">
                                    @foreach (var rsv in Model)
                                    {
                                        <li class="history">
                                            <div class="history-content-wrapper">
                                                <div class="history-id">
                                                    <div class="row">
                                                        <div class="col-sm-5"><b>Reservation Number</b></div>
                                                        <div class="col-sm-7">@rsv.RsvNo</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5"><b>Payment</b></div>
                                                        <div class="col-sm-7">@rsv.PaymentInfo.Method.ToString()</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5"><b>Status</b></div>
                                                        <div class="col-sm-7">@rsv.PaymentInfo.Status.ToString()</div>
                                                    </div>
                                                </div>
                                                <div class="history-detail">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col-sm-6">@rsv.Itinerary.FlightTrips[0].OriginCity (@rsv.Itinerary.FlightTrips[0].OriginAirport) - rsv.Itinerary.FlightTrips[0].DestinationCity (@rsv.Itinerary.FlightTrips[0].DestinationAirport)</div>
                                                            <div class="col-sm-4 col-sm-offset-2"><b>Depart </b>@rsv.Itinerary.FlightTrips[0].DepartureDate.ToString("d MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                                                        </div>
                                                        <div class="row">
                                                            @if (rsv.TripType == TripType.OneWay)
                                                            {
                                                                <div class="col-sm-6"><b>One-Way Trip</b></div>
                                                            }
                                                            else if (rsv.TripType == TripType.Return)
                                                            {
                                                                <div class="col-sm-6"><b>Return Trip</b></div>
                                                                <div class="col-sm-4 col-sm-offset-2"><b>Return </b>@rsv.Itinerary.FlightTrips[1].DepartureDate.ToString("d MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="history-action">
                                                        <a href="#" class="btn btn-primary">DETAIL</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <nav class="row text-center">
                                <ul class="pagination">
                                    <li><a href="#">&lt;</a></li>
                                    <li><a href="#" class="active">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </nav>

                        </div>

                    </div>


                </div>
            </section><!-- .page-content -->


        </div>
        <!-- site content end -->
    </div>
