
@model Lunggo.CustomerWeb.Models.CalendarRecipientData

@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.BodyClass = "page-static page-contact";
    ViewBag.Title = "Get 2016 Calendar Campaign";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/homeController.js"></script>
}


@if (ViewBag.Message == null)
{
    <div class="container" ng-app="travorama" ng-controller="campaignController">

        <h1 class="text-center section-title stripe">GET <span>2016</span> CALENDAR</h1>

        <p class="text-center">Silahkan isi data alamat pengiriman kalender ekslusif berikut :</p>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                @using (Html.BeginForm("GetCalendar", "StaticPage", FormMethod.Post, new { novalidate = "novalidate" , name = "userForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Email)
                        <div class="form-group">
                            <label class="control-label col-sm-3">Nama</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", ng_model = "user.name", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Nomor Telepon</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", ng_model = "user.phone", required = "required" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Alamat</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", ng_model = "user.address", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Kode Pos</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", ng_model = "user.zip", required = "required" } })
                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Kota</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", ng_model = "user.city", required = "required" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <p>Pastikan data diisi dengan lengkap untuk memastikan kalender terkirim ke alamat Anda.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <input type="submit" value="Submit" class="btn btn-yellow btn-block" ng-disabled="!userForm.$valid" />
                            </div>
                        </div>

                    </div><!-- .form-horizontal -->
                }
            </div><!-- .col -->
        </div><!-- .row -->

    </div><!-- .container -->

}
else if (ViewBag.Message == "InputSuccess")
{
    <div class="container">
        <h1 class="text-center section-title stripe">TERIMA KASIH</h1>

        <div class="col-sm-8 col-sm-offset-2">
            <h3 class="text-center">Terima kasih,Kami akan mengirimkan kalendar ke alamat yang telah anda masukkan</h3>
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-yellow btn-block" href="/">KE HALAMAN DEPAN</a>
            </div>
        </div>
    </div>
}
else if (ViewBag.Message == "MasaBerlakuTelahHabis")
{
    <div class="container">
        <h1 class="text-center section-title stripe">TERIMA KASIH</h1>

        <div class="col-sm-8 col-sm-offset-2">
            <h3 class="text-center">Maaf, event ini telah habis masa berlakunya</h3>
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-yellow btn-block" href="/">KE HALAMAN DEPAN</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <h1 class="text-center section-title stripe">TERIMA KASIH</h1>

        <div class="col-sm-8 col-sm-offset-2">
            <h3 class="text-center">Anda telah terdaftar dalam sistem kami.</h3>
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-yellow btn-block" href="/">KE HALAMAN DEPAN</a>
            </div>
        </div>
    </div>
}

