<div class="container promo-tab-content">
    @if (DateTime.UtcNow.AddHours(7).Date <= new DateTime(2017, 09, 30))
    {
        <div class="promo-list">
            <a href="@Url.Action("HoreGajian", "Promo")">
                <h3>Hore Gajian</h3>
                <img src="/Assets/images/campaign/2017HoreGajian/homepagepromo_mobile.jpg" alt="Hore Gajian" />
            </a>
        </div>
    }@*
    @if (DateTime.UtcNow.AddHours(7).DayOfWeek == DayOfWeek.Thursday)
    { *@
        <div class="promo-list">
            <a href="@Url.Action("GoodMonday", "Promo")">
                <h3>Good Monday</h3>
                <img src="/Assets/images/campaign/2017GoodMonday/homepagepromo_mobile.jpg" alt="Good Monday"/>
            </a>
        </div>
        <div class="promo-list">
            <a href="@Url.Action("PromoRabu", "Promo")">
                <h3>Promo Rabu</h3>
                <img src="/Assets/images/campaign/2017PromoRabu/homepagepromo_mobile.jpg" alt="Promo Rabu"/>
            </a>
        </div>
        <div class="promo-list">
            <a href="@Url.Action("KamisCeria", "Promo")">
                <h3>Kamis Ceria</h3>
                <img src="/Assets/images/campaign/2017KamisCeria/homepagepromo_mobile.jpg" alt="Kamis Ceria"/>
            </a>
        </div>
        <div class="promo-list">
            <a href="@Url.Action("JalanJalanSabtu", "Promo")">
                <h3>Jalan Jalan Sabtu</h3>
                <img src="/Assets/images/campaign/2017JalanJalanSabtu/homepagepromo_mobile.jpg" alt="Jalan Jalan Sabtu"/>
            </a>
        </div>
</div>