@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Promo";
    ViewBag.BodyClass = "page page-promo";
    ViewBag.AngularController = "PromoController";
    ViewBag.CurrentPage = "promo";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/mobile/js/StaticController.js"></script>
}

@*<section>
    <div class="container">

        <header class="page__header">
            <h1 class="text-center section-title stripe">Promo</h1>
        </header><!-- .page__header -->

        <p class="page__content">

            <p>
                <a href="@Url.Action("danamonsweetvalentine","StaticPage")">
                    <img src="/Assets/images/campaign/DanamonSweetValentine/danamonsweetvalentine-slider.jpg" alt="Danamon Sweet Valentine" />
                </a>
            </p>
            <p>
                <img src="/Assets/images/campaign/VisaWonderfulWednesday/visa-wonderful-wednesday-front.jpg" alt="Wonderful Wednesday with VISA" />
                <br /><br/>
                Untuk pemegang kartu berlogo Visa, dapatkan diskon sebesar Rp 50.000 setiap hari Rabu!
                <br/>
                <a href="@Url.Action("VisaWonderfulWednesday","StaticPage")">
                    Lihat promo ini selengkapnya
                </a>
                <br /><br />
            </p>
            <p>
                <img src="/Assets/images/campaign/free2016calendar/campaign-2016_calendar.jpg" alt="Free 2016 Calendar" />
                <br/><br/>
                Dapatkan kalender 2016 dengan mendaftarkan diri di Travorama!
                <br/>
                <a href="@Url.Action("GetCalendarTerms","StaticPage")">
                    Lihat promo ini selengkapnya
                </a>
                <br /><br />
            </p>
            <p>
                <a href="#">
                    <img src="/Assets/images/default-banner.jpg" alt="Travorama" />
                </a>
            </p>

        </p>

    </div>
</section>*@

<section class="site-content">
    <header class="page_header">
        <h1 class="text-center section-title stripe">Promo</h1>
    </header>
    <div class=" container-page">
        @*<p>
            <a href="@Url.Action("danamonsweetvalentine","StaticPage")">
                <img src="/Assets/images/campaign/DanamonSweetValentine/danamonsweetvalentine-slider.jpg" alt="Danamon Sweet Valentine" />
            </a>
        </p>
        <p>
            <img src="/Assets/images/campaign/VisaWonderfulWednesday/visa-wonderful-wednesday-front.jpg" alt="Wonderful Wednesday with VISA" />
            <br /><br />
            Untuk pemegang kartu berlogo Visa, dapatkan diskon sebesar Rp 50.000 setiap hari Rabu!
            <br />
            <a href="@Url.Action("VisaWonderfulWednesday","StaticPage")">
                Lihat promo ini selengkapnya
            </a>
            <br /><br />
        </p>
        <p>
            <img src="/Assets/images/campaign/free2016calendar/campaign-2016_calendar.jpg" alt="Free 2016 Calendar" />
            <br /><br />
            Dapatkan kalender 2016 dengan mendaftarkan diri di Travorama!
            <br />
            <a href="@Url.Action("GetCalendarTerms","StaticPage")">
                Lihat promo ini selengkapnya
            </a>
            <br /><br />
        </p>
        <p>
            <a href="#">
                <img src="/Assets/images/default-banner.jpg" alt="Travorama" />
            </a>*@
        </p>
    </div><!-- .section-search -->
</section><!-- .home-page -->