@using System.Globalization
@using Lunggo.ApCommon.Payment.Constant
@model Lunggo.BackendWeb.Models.CheckPaymentViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Check Payment";
}


<h2>Check Payment</h2>

@using (Html.BeginForm("CheckPayment", "Flight", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>RsvNo</td>
                            <td>Date</td>
                            <td>Name</td>
                            <td>Bank</td>
                            <td>Account No.</td>
                            <td>Price</td>
                            <td>Confirmed Amount</td>
                            <td>Actual Amount</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var reports = Model.Reports;
                            var rsvs = Model.ReportedReservations;
                        }
                        @for (var i = 0; i < Model.Reports.Count; i++)
                        {
                            <tr>
                                <td>@reports[i].RsvNo</td>
                                <td>@reports[i].PaymentTime.ToString("dd MMM yy")</td>
                                <td>@reports[i].RemitterName</td>
                                <td>@reports[i].RemitterBank</td>
                                <td>@reports[i].RemitterAccount</td>
                                <td>Rp @rsvs[i].Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                <td>Rp @reports[i].Amount.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                <td>
                                    <input type="hidden" name="[@i].RsvNo" value="@reports[i].RsvNo"/>
                                    Rp <input type="number" name="[@i].Amount"/>
                                </td>
                                <td>
                                    @Html.DropDownList("[" + i + "].Status", new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "Uncheck", Value = TransferConfirmationReportStatus.Unchecked.ToString()},
                                        new SelectListItem {Text = "Confirmed", Value = TransferConfirmationReportStatus.Confirmed.ToString()},
                                        new SelectListItem {Text = "Invalid", Value = TransferConfirmationReportStatus.Invalid.ToString()},
                                    })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel1 row">
        <div class="col-md-offset-11 col-md-1">
            <input type="submit" value="Submit" />
        </div>
    </div>
}