@using System.Globalization
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Payment.Constant
@model List<FlightReservationForDisplay>

@{
    ViewBag.Title = "Flight Reservation List";
}

<h3><i class="fa fa-angle-right"></i> Flight Reservation</h3>
<div class="row">

    <div class="col-md-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Flight Reservation List</h4>
            <hr>
            <table class="table table-hover table-flight-booking">
                <thead>
                    <tr>
                        <th>Reservation</th>
                        <th>Contact Name</th>
                        <th>Reservation Time</th>
                        <th>Flight</th>
                        <th>Type</th>
                        <th>Departure Date</th>
                        <th>Return Date</th>
                        <th>Passenger</th>
                        <th>Total Price</th>
                        <th>Payment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rsv in Model)
                    {
                        var trip = rsv.Itinerary.Trips.FirstOrDefault();
                        <tr>
                            <td>
                                <a href="@Url.Action("Detail", "Flight", new { RsvNo = rsv.RsvNo})">@rsv.RsvNo</a>
                            </td>
                            <td>
                                @rsv.Contact.Name
                            </td>
                            <td>
                                @rsv.RsvTime.AddHours(7).ToString("d MMM yyyy")<br />
                                @rsv.RsvTime.AddHours(7).ToString("HH:mm:ss")
                            </td>
                            <td>
                                @trip.OriginAirport - @trip.DestinationAirport
                            </td>
                            <td>
                                @if (@rsv.OverallTripType == TripType.RoundTrip)
                                {
                                    @Html.Raw("RETURN");
                                }
                                else
                                {
                                    @Html.Raw("ONE-WAY");
                                }
                            </td>
                            <td>
                                @trip.DepartureDate.ToString("d MMM yyyy")
                            </td>
                            <td>
                                @if (rsv.OverallTripType == TripType.RoundTrip)
                                {
                                    @rsv.Itinerary.Trips.Last().DepartureDate.ToString("d MMM yyyy")
                                }
                                else
                                {
                                    <span style="align-content:center"> - </span><br />
                                }
                            </td>
                            <td>
                                @if (ViewData["Name"] == null)
                                {
                                    @Html.Raw(String.Format("({0} people)", rsv.Passengers.Count));
                                }
                                else
                                {
                                    var passenger = rsv.Passengers.First(p => (p.FirstName + " " + p.LastName).ToLower().Contains(ViewData["Name"].ToString().ToLower()));
                                    @passenger.FirstName<wbr/>
                                    @passenger.LastName<br/>
                                    if (rsv.Passengers.Count > 1)
                                    {
                                        @Html.Raw(String.Format("et. al. ({0} more)", rsv.Passengers.Count - 1));
                                    }
                                }
                            </td>
                            <td>
                                @rsv.Payment.FinalPrice.ToString("Rp 0,0", CultureInfo.CreateSpecificCulture("id-ID"))
                            </td>
                            <td>
                                @switch (rsv.Payment.Status)
                                {
                                    case PaymentStatus.Pending:
                                        <span class="label label-default" style="font-size:14px">Pending</span><br />
                                        <span>by @rsv.Payment.Method.ToString()</span>
                                        break;
                                    case PaymentStatus.Settled:
                                    <span class="label label-success" style="font-size:14px">Complete</span><br />
                                        <span>by @rsv.Payment.Method.ToString()</span>
                                        break;
                                    case PaymentStatus.Cancelled:
                                    <span class="label label-danger" style="font-size:14px">Cancelled</span><br />
                                        <span>by @rsv.Payment.Method.ToString()</span>
                                        break;
                                    case PaymentStatus.Denied:
                                    <span class="label label-danger" style="font-size:14px">Denied</span><br />
                                        <span>by @rsv.Payment.Method.ToString()</span>
                                        break;
                                    case PaymentStatus.Verifying:
                                    <span class="label label-default" style="font-size:14px">Verifying</span><br />
                                        <span>by @rsv.Payment.Method.ToString()</span>
                                        break;
                                    case PaymentStatus.Undefined:
                                    <span class="label label-default" style="font-size:14px">Undefined</span><br />
                                        <span>by @rsv.Payment.Method.ToString()</span>
                                        break;
                                    case PaymentStatus.Challenged:
                                    <span class="label label-default" style="font-size:14px">Challenged</span><br />
                                        <span>by @rsv.Payment.Method.ToString()</span>
                                        break;
                                    case PaymentStatus.Expired:
                                    <span class="label label-danger" style="font-size:14px">Expired</span><br />
                                        <span>by @rsv.Payment.Method.ToString()</span>
                                        break;
                                }
                            </td>

                            <td>
                                <a href="@Url.Action("Detail", "Flight", new {rsv.RsvNo})" class="btn btn-xs btn-info"><span class="fa fa-eye"> view</span></a><br />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div><!--/content-panel -->
    </div><!-- /col-md-12 -->

</div><!-- row -->
