@using System.Globalization
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Payment.Constant
@model List<FlightReservationForDisplay>

@{
    ViewBag.Title = "Flight Reservation List";
}

<h3><i class="fa fa-angle-right"></i> Flight Reservation</h3>
<div class="row">

    <div class="col-md-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Flight Reservation List</h4>
            <h4>
                <a>Total @ViewBag.Month/@ViewBag.Year : @ViewBag.MonthTotal.ToString("Rp 0,0") </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("List", new {month = ViewBag.Month, year = ViewBag.Year, hideExpired = true})">Hide Expired</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("List", new {month = ViewBag.Month, year = ViewBag.Year, completedOnly = true})">Show Only Completed</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("List", new {month = ViewBag.Month, year = ViewBag.Year})">Show All</a>
            </h4>
            <hr>
            <table class="table table-hover table-flight-booking">
                <thead>
                    <tr>
                        <th>No. Reservasi</th>
                        <th>Nama Kontak</th>
                        <th>Waktu Reservasi</th>
                        <th>Rute</th>
                        <th>Tipe Penerbangan</th>
                        <th>Tgl Pergi</th>
                        <th>Tgl Pulang</th>
                        <th>Jlh Penumpang</th>
                        <th>Harga</th>
                        <th>Status Pembayaran</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rsv in Model)
                    {
                        var trip = rsv.Itinerary.Trips.FirstOrDefault();
                        <tr>
                            <td>
                                <a href="@Url.Action("Detail", "Flight", new { RsvNo = rsv.RsvNo})">@rsv.RsvNo</a>
                            </td>
                            <td>
                                @rsv.Contact.Name
                            </td>
                            <td>
                                @rsv.RsvTime.AddHours(7).ToString("d MMM yyyy")<br />
                                @rsv.RsvTime.AddHours(7).ToString("HH:mm:ss")
                            </td>
                            <td>
                                @trip.OriginAirport - @trip.DestinationAirport
                            </td>
                            <td>
                                @if (@rsv.Itinerary.TripType == TripType.RoundTrip)
                                {
                                    @Html.Raw("RETURN");
                                }
                                else
                                {
                                    @Html.Raw("ONE-WAY");
                                }
                            </td>
                            <td>
                                @trip.DepartureDate.GetValueOrDefault().ToString("d MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))
                            </td>
                            <td>
                                @if (rsv.Itinerary.TripType == TripType.RoundTrip)
                                {
                                    @rsv.Itinerary.Trips.Last().DepartureDate.GetValueOrDefault().ToString("d MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))
                                }
                                else
                                {
                                    <span style="align-content:center"> - </span><br />
                                }
                            </td>
                            <td>
                                @if (ViewData["Name"] == null)
                                {
                                    @Html.Raw(String.Format("({0} people)", rsv.Pax.Count));
                                }
                                else
                                {
                                    var passenger = rsv.Pax.First(p => (p.Name).ToLower().Contains(ViewData["Name"].ToString().ToLower()));
                                    @passenger.Name<wbr/>
                                    
                                    if (rsv.Pax.Count > 1)
                                    {
                                        @Html.Raw(String.Format("et. al. ({0} more)", rsv.Pax.Count - 1));
                                    }
                                }
                            </td>
                            <td>
                                @rsv.Payment.FinalPrice.ToString("Rp 0,0", CultureInfo.CreateSpecificCulture("id-ID"))
                            </td>
                            @if (rsv.Payment.Method == PaymentMethod.Undefined)
                            {
                                <td>
                                    <span class="label label-default" style="font-size: 14px">Belum Memilih</span>
                                    <br />
                                    <span>Metode Pembayaran</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @switch (rsv.Payment.Status)
                                    {
                                        case PaymentStatus.Pending:
                                            <span class="label label-default" style="font-size: 14px">Pending</span>
                                            <br />
                                            <span>by @rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Settled:
                                            <span class="label label-success" style="font-size: 14px">Complete</span>
                                            <br />
                                            <span>by @rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Cancelled:
                                            <span class="label label-danger" style="font-size: 14px">Cancelled</span>
                                            <br />
                                            <span>by @rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Denied:
                                            <span class="label label-danger" style="font-size: 14px">Denied</span>
                                            <br />
                                            <span>by @rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Verifying:
                                            <span class="label label-default" style="font-size: 14px">Verifying</span>
                                            <br />
                                            <span>by @rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Undefined:
                                            <span class="label label-default" style="font-size: 14px">Undefined</span>
                                            <br />
                                            <span>by @rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Challenged:
                                            <span class="label label-default" style="font-size: 14px">Challenged</span>
                                            <br />
                                            <span>by @rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Expired:
                                            <span class="label label-danger" style="font-size: 14px">Expired</span>
                                            <br />
                                            <span>by @rsv.Payment.Method.ToString()</span>
                                            break;
                                    }
                                </td>
                            }

                            <td>
                                <a href="@Url.Action("Detail", "Flight", new {rsv.RsvNo})" class="btn btn-xs btn-info"><span class="fa fa-eye"> view</span></a><br />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div><!--/content-panel -->
    </div><!-- /col-md-12 -->

</div><!-- row -->
