@using System.Globalization
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Payment.Constant
@model List<FlightReservation>

@{
    ViewBag.Title = "Flight Reservation List";
}

<h3><i class="fa fa-angle-right"></i> Flight Reservation</h3>
<div class="row">

    <div class="col-md-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Flight Reservation List</h4>
            @if (ViewBag.Month != null && ViewBag.Year != null)
            {
                <h4>
                    <a>Total @ViewBag.Month/@ViewBag.Year : @ViewBag.MonthTotal.ToString("Rp 0,0", new CultureInfo("id-ID")) </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("List", new {month = ViewBag.Month, year = ViewBag.Year, hideExpired = true})">Hide Expired</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("List", new {month = ViewBag.Month, year = ViewBag.Year, completedOnly = true})">Show Only Completed</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("List", new {month = ViewBag.Month, year = ViewBag.Year})">Show All</a>
                </h4>
            }
            <hr>
            <table class="table table-hover table-flight-booking">
                <thead>
                    <tr>
                        <th>No. Reservasi</th>
                        <th>Nama Kontak</th>
                        <th>Waktu Reservasi</th>
                        <th>Rute</th>
                        <th>Tipe Penerbangan</th>
                        <th>Tgl Pergi</th>
                        <th>Tgl Pulang</th>
                        <th>Jlh Penumpang</th>
                        <th>Harga</th>
                        <th>Status Pembayaran</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rsv in Model)
                    {
                        var trip = rsv.Itineraries.SelectMany(i => i.Trips).FirstOrDefault();
                        <tr>
                            <td>
                                <a href="@Url.Action("Detail", "Flight", new { RsvNo = rsv.RsvNo})">@rsv.RsvNo</a>
                            </td>
                            <td>
                                @rsv.Contact.Name
                            </td>
                            <td>
                                @rsv.RsvTime.AddHours(7).ToString("d MMM yyyy")<br />
                                @rsv.RsvTime.AddHours(7).ToString("HH:mm:ss")
                            </td>
                            <td>
                                @trip.OriginAirport - @trip.DestinationAirport
                            </td>
                            <td>
                                @if (@rsv.Itineraries.SelectMany(i => i.Trips).Count() > 1)
                                {
                                    @Html.Raw("RETURN");
                                }
                                else
                                {
                                    @Html.Raw("ONE-WAY");
                                }
                            </td>
                            <td>
                                @trip.DepartureDate.ToString("d MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))
                            </td>
                            <td>
                                @if (rsv.Itineraries.SelectMany(i => i.Trips).Count() > 1)
                                {
                                    @rsv.Itineraries.SelectMany(i => i.Trips).Last().DepartureDate.ToString("d MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))
                                }
                                else
                                {
                                    <span style="align-content:center"> - </span><br />
                                }
                            </td>
                            <td>
                                @if (ViewData["Name"] == null)
                                {
                                    @Html.Raw(String.Format("({0} people)", rsv.Pax.Count));
                                }
                                else
                                {
                                    var passenger = rsv.Pax.First(p => (p.FirstName + " " + p.LastName).ToLower().Contains(ViewData["Name"].ToString().ToLower()));
                                    @passenger.FirstName @passenger.LastName<wbr />

                                    if (rsv.Pax.Count > 1)
                                    {
                                        @Html.Raw(String.Format("et. al. ({0} more)", rsv.Pax.Count - 1));
                                    }
                                }
                            </td>
                            <td>
                                @(rsv.Payment.FinalPriceIdr == 0 ? rsv.Payment.OriginalPriceIdr.ToString("Rp 0,0", CultureInfo.CreateSpecificCulture("id-ID")) : rsv.Payment.FinalPriceIdr.ToString("Rp 0,0", CultureInfo.CreateSpecificCulture("id-ID")))
                                @if (rsv.Payment.DiscountNominal != 0)
                                {
                                    <br/>
                                    <span class="badge bg-info" style="font-size: 10px" title="@rsv.Payment.Discount.Name">V</span><span style="font-size: 10px">@rsv.Payment.DiscountNominal.ToString("Rp 0,0", CultureInfo.CreateSpecificCulture("id-ID"))</span>
                                }
                            </td>
                            <td>
                                @if (rsv.Payment.Method != PaymentMethod.Undefined)
                                {
                                    switch (rsv.Payment.Status)
                                    {
                                        case PaymentStatus.Pending:
                                            <span class="label label-primary" style="font-size: 14px">Pending</span>
                                            <br />
                                            <span>@rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Settled:
                                            <span class="label label-success" style="font-size: 14px">Complete</span>
                                            <br />
                                            <span>@rsv.Payment.Method.ToString()</span>
                                            if (rsv.Itineraries.All(i => i.BookingStatus != BookingStatus.Ticketed))
                                            {
                                                <span class="label label-danger" style="font-size: 14px">Not Issued</span>
                                            }
                                            break;
                                        case PaymentStatus.Cancelled:
                                        <span class="label label-danger" style="font-size: 14px">Cancelled</span>
                                        <br />
                                        <span>@rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Denied:
                                        <span class="label label-danger" style="font-size: 14px">Denied</span>
                                        <br />
                                        <span>@rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Verifying:
                                        <span class="label label-default" style="font-size: 14px">Verifying</span>
                                        <br />
                                        <span>@rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.MethodNotSet:
                                        <span class="label label-default" style="font-size: 14px">Undefined</span>
                                        <br />
                                        <span>@rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Challenged:
                                        <span class="label label-default" style="font-size: 14px">Challenged</span>
                                        <br />
                                        <span>@rsv.Payment.Method.ToString()</span>
                                            break;
                                        case PaymentStatus.Expired:
                                        <span class="label label-default" style="font-size: 14px">Expired</span>
                                        <br />
                                        <span>@rsv.Payment.Method.ToString()</span>
                                            break;
                                    }
                                }
                                else
                                {
                                    if (rsv.Payment.Status == PaymentStatus.Expired)
                                    {
                                        <span class="label label-default" style="font-size: 14px">Expired</span>
                                    }
                                    if (rsv.Payment.Status == PaymentStatus.Settled)
                                    {
                                        <span class="label label-success" style="font-size: 14px">Complete</span>
                                    }
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div><!--/content-panel -->
    </div><!-- /col-md-12 -->

</div><!-- row -->
