@using Lunggo.ApCommon.Autocomplete
@model IEnumerable<Lunggo.ApCommon.Flight.Model.FlightSegment>

@{
    var dict = AutocompleteManager.GetInstance();
    var prevArrivalTime = new DateTime();
}

@foreach (var segment in Model)
{
    if (segment == Model.First())
    {
        <tr>
            <td>
                @segment.DepartureCity<br />
                (@segment.DepartureAirport)
            </td>
            <td>
                @segment.DepartureTime.ToString("d MMM yy")<br />
                @segment.DepartureTime.ToString("hh:mm")
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                @segment.DepartureCity<br />
                (@segment.DepartureAirport)
            </td>
            <td>
                @prevArrivalTime.ToString("d MMM yy")<br />
                @prevArrivalTime.ToString("hh:mm")<br /><br />
                @segment.DepartureTime.ToString("d MMM yy")<br />
                @segment.DepartureTime.ToString("hh:mm")
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td>
            @segment.AirlineName<br />
            @segment.AirlineCode@segment.FlightNumber<br />
            @if (segment.Pnr != null)
            {
                <b>PNR : @segment.Pnr</b>
            }
        </td>
    </tr>
    if (segment == Model.Last())
    {
        <tr>
            <td>
                @segment.ArrivalCity<br />
                (@segment.ArrivalAirport)
            </td>   
            <td>
                @segment.ArrivalTime.ToString("d MMM yy")<br />
                @segment.ArrivalTime.ToString("hh:mm")
            </td>
        </tr>
    }
    prevArrivalTime = segment.ArrivalTime;
}
