@using System.Globalization
@using Lunggo.ApCommon.Payment.Constant
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay

<div class="col-md-6">
    <div class="showback">
        <h4>Reservation Detail</h4>
        <hr />
        <table class="table table-hover table-no-border">
            <tbody>
                <tr>
                    <td>Reservation Number</td>
                    <td>@Model.RsvNo</td>
                </tr>
                <tr>
                    <td>Reservation Time</td>
                    <td>@Model.RsvTime.AddHours(7).ToString("d MMM yyyy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td>Contact Name</td>
                    <td>@Model.Contact.Name</td>
                </tr>
                <tr>
                    <td>Contact E-mail</td>
                    <td>@Model.Contact.Email</td>
                </tr>
                <tr>
                    <td>Contact Phone</td>
                    <td>@Model.Contact.Phone</td>
                </tr>
                <tr>
                    <td>Contact Address</td>
                    <td>@Model.Contact.Address</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-6">
    <div class="showback">
        <h4>Payment Detail</h4>
        <hr />
        <table class="table table-hover table-no-border">
            <tbody>
                <tr>
                    <td>Total Price</td>
                    <td>@Model.Payment.FinalPrice.ToString("Rp 0,0", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                </tr>
                <tr>
                    <td>Payment Method</td>
                    <td>@Model.Payment.Method.ToString()</td>
                </tr>
                <tr>
                    <td>Payment Status</td>
                    <td>
                        @switch (Model.Payment.Status)
                        {
                            case PaymentStatus.Pending:
                                <span class="label label-default">Incomplete</span><br />
                                break;
                            case PaymentStatus.Settled:
                                <span class="label label-success">Complete</span><br />
                                break;
                            case PaymentStatus.Cancelled:
                                <span class="label label-danger">Cancelled</span><br />
                                break;
                            case PaymentStatus.Denied:
                                <span class="label label-danger">Denied</span><br />
                                break;
                            case PaymentStatus.Expired:
                                <span class="label label-danger">Expired</span><br />
                                break;
                        }
                    </td>
                </tr>
                @if (Model.Payment.Refund != null)
                {
                    <tr>
                        <td>Refund Time</td>
                        <td>@Model.Payment.Refund.Time.AddHours(7).ToString("d MMM yyyy HH:mm:ss")</td>
                    </tr>
                    <tr>
                        <td>Refund Amount</td>
                        <td>@Model.Payment.Refund.Amount.ToString("Rp 0,0", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                    </tr>
                    <tr>
                        <td>Refund Bank</td>
                        <td>@Model.Payment.Refund.TargetBank</td>
                    </tr>
                    <tr>
                        <td>Refund Account</td>
                        <td>@Model.Payment.Refund.TargetAccount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>