@model IEnumerable<Lunggo.ApCommon.Product.Model.Pax>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-12">
        <div class="showback">

            <h4><b>Passenger List</b></h4>
            <hr />
            <table class="table table-hover table-no-border">
                <tbody>
                    <tr>
                        <th><b>NO</b></th>
                        <th><b>GELAR</b></th>
                        <th><b>NAMA</b></th>
                        <th><b>TIPE</b></th>
                        <th><b>TANGGAL LAHIR</b></th>
                        <th><b>KEBANGSAAN</b></th>
                        <th><b>NOMOR PASPOR</b></th>
                        <th><b>TGL KADALUARSA PASPOR</b></th>
                        <th><b>NEGARA PENERBIT PASPOR</b></th>
                    </tr>
                    @{var count = 1;}
                    @foreach (var passenger in Model)
                    {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @passenger.Title
                            </td>
                            <td>
                                @passenger.FirstName @passenger.LastName
                            </td>
                            <td>
                                @passenger.Type.ToString()
                            </td>
                            <td>
                                @if (@passenger.DateOfBirth != DateTime.MinValue)
                                {
                                    @passenger.DateOfBirth.GetValueOrDefault().ToString("d MMM yyyy")
                                }
                            </td>
                            <td>
                                @passenger.Nationality
                            </td>
                            <td>
                                @passenger.PassportNumber
                            </td>
                            <td>
                                @passenger.PassportExpiryDate
                            </td>
                            <td>
                                @passenger.PassportCountry
                            </td>
                            @{
                                count += 1;
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>