@model Lunggo.ApCommon.Flight.Model.FlightTripForDisplay
@using System.Globalization

<div class="showback">
    <h4>Trip Detail</h4>
    <hr />
    <table class="table table-hover table-no-border">
        <tbody>
            <tr>
                <td>Origin</td>
                <td>
                    @Model.OriginCity (@Model.OriginAirport)
                </td>
            </tr>
            <tr>
                <td>Destination</td>
                <td>
                    @Model.DestinationCity (@Model.DestinationAirport)
                </td>
            </tr>
            <tr>
                <td>Departure Date</td>
                <td>
                    @Model.DepartureDate.ToString("dddd, d MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))
                </td>
            </tr>
            @{ Html.RenderPartial("RenderSegment", Model.Segments); }
        </tbody>
    </table>
</div>
