@using Lunggo.Framework.Util
@model IEnumerable<Lunggo.ApCommon.Flight.Model.PassengerInfoDetails>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-12">
        <div class="showback">

            <h4>Passenger List</h4>
            <hr />
            <table class="table table-hover table-no-border">
                <tbody>
                    <tr>
                        <td>Title</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Type</td>
                        <td>Birth Date</td>
                        <td>Passport Number</td>
                    </tr>
                    @foreach (var passenger in Model)
                    {
                        <tr>
                            <td>
                                @passenger.Title.ToString()
                            </td>
                            <td>
                                @passenger.FirstName
                            </td>
                            <td>
                                @passenger.LastName
                            </td>
                            <td>
                                @passenger.Type.ToString()
                            </td>
                            <td>
                                @if (@passenger.DateOfBirth != DateTime.MinValue)
                                {
                                    @passenger.DateOfBirth.GetValueOrDefault().ToString("d MMM yyyy")
                                }
                            </td>
                            <td>
                                @passenger.PassportNumber
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>