@using Lunggo.ApCommon.Autocomplete
@using Lunggo.ApCommon.Dictionary
@model Lunggo.ApCommon.Flight.Model.FlightTripForDisplay

<div class="showback">
    <h4>Trip Detail</h4>
    <hr />
    <table class="table table-hover table-no-border">
        <tbody>
            <tr>
                <td>Origin</td>
                <td>
                    @Model.OriginCity (@Model.OriginAirport)
                </td>
            </tr>
            <tr>
                <td>Destination</td>
                <td>
                    @Model.DestinationCity (@Model.DestinationAirport)
                </td>
            </tr>
            <tr>
                <td>Departure Date</td>
                <td>
                    @Model.DepartureDate
                </td>
            </tr>
            @{ Html.RenderPartial("RenderSegment", Model.FlightSegments); }
        </tbody>
    </table>
</div>
