@model IEnumerable<Lunggo.ApCommon.Flight.Model.FlightPassenger>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-12">
        <div class="showback">

            <h4><b>Passenger List</b></h4>
            <hr />
            <table class="table table-hover table-no-border">
                <tbody>
                    <tr>
                        <th><b>NO</b></th>
                        <th><b>TITLE</b></th>
                        <th><b>FIRST NAME</b></th>
                        <th><b>LAST NAME</b></th>
                        <th><b>TYPE</b></th>
                        <th><b>BIRTH DATE</b></th>
                        <th><b>PASPORT NUMBER</b></th>
                    </tr>
                    @{var count = 1;}
                    @foreach (var passenger in Model)
                    {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @passenger.Title.ToString()
                            </td>
                            <td>
                                @passenger.FirstName
                            </td>
                            <td>
                                @passenger.LastName
                            </td>
                            <td>
                                @passenger.Type.ToString()
                            </td>
                            <td>
                                @if (@passenger.DateOfBirth != DateTime.MinValue)
                                {
                                    @passenger.DateOfBirth.GetValueOrDefault().ToString("d MMM yyyy")
                                }
                            </td>
                            <td>
                                @passenger.PassportNumber
                            </td>
                            @{
                                count += 1;
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>