@using Lunggo.ApCommon.Autocomplete
@model IEnumerable<Lunggo.ApCommon.Flight.Model.FlightSegment>

@{
    var dict = AutocompleteManager.GetInstance();
    //var prevArrivalTime = new DateTime();
    //var prevStringDate = new String();
    
}

@foreach (var segment in Model)
{
            <tr>
                <td class="dep-city">
                    @segment.DepartureCity<br />
                    (@segment.DepartureAirport)
                </td>
                <td class="dep-time">
                    @segment.DepartureTime.ToString("d MMM yy")<br />
                    @segment.DepartureTime.ToString("hh:mm")
                </td>
                <td class="airline">
                    @segment.AirlineName<br />
                    @segment.AirlineCode@segment.FlightNumber<br />
                    @if (segment.Pnr != null)
                    {
                        <b>PNR : @segment.Pnr</b>
                    }
                </td>
                <td class="arr-time">
                    @segment.ArrivalTime.ToString("d MMM yy")<br />
                    @segment.ArrivalTime.ToString("hh:mm")
                </td>
                <td class="arr-city">
                    @segment.ArrivalCity<br />
                    (@segment.ArrivalAirport)
                </td>
            </tr>
}
