@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Helper
@using Lunggo.ApCommon.Model
@using Lunggo.BackendWeb.Controllers
@using RestSharp.Extensions
@model Lunggo.ApCommon.Flight.Model.FlightReservationSearch

@{
    ViewBag.Title = "Flight Reservation Search";
}

<h2>Flight Reservation Search</h2>

@{
    var monthList = new List<object>
    {
        new { Value = 1, Text = "January"},
        new { Value = 2, Text = "February"},
        new { Value = 3, Text = "March"},
        new { Value = 4, Text = "April"},
        new { Value = 5, Text = "May"},
        new { Value = 6, Text = "June"},
        new { Value = 7, Text = "July"},
        new { Value = 8, Text = "August"},
        new { Value = 9, Text = "September"},
        new { Value = 10, Text = "October"},
        new { Value = 11, Text = "November"},
        new { Value = 12, Text = "December"},
    };
    var yearList = new List<int>
    {
        2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040
    };
}

@using (Html.BeginForm("List", "Flight", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Reservation Number</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.RsvNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RsvNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2">Origin Airport</label>
            <div class="col-md-3">
                @Html.AutocompleteFor(m => m.AirportOrigin, "", @Url.Action("Airport", "api/AutoComplete"), AutoCompleteType.Airport, new Dictionary<string, object> { { "class", "form-control" } })
                @Html.ValidationMessageFor(model => model.AirportOrigin, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Destination Airport</label>
            <div class="col-md-3">
                @Html.AutocompleteFor(m => m.AirportDestination, "", @Url.Action("Airport", "api/AutoComplete"), AutoCompleteType.Airport, new Dictionary<string, object> { { "class", "form-control" } })
                @Html.ValidationMessageFor(model => model.AirportDestination, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Reservation Date</label>
            <label class="control-label col-md-2">@Html.RadioButtonFor(model => model.RsvDateSelection, FlightReservationSearch.DateSelectionType.Specific) Specific Date</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.RsvDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RsvDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-off-2 col-md-2">@Html.RadioButtonFor(model => model.RsvDateSelection, FlightReservationSearch.DateSelectionType.Span) Date Range</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.RsvDateStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RsvDateStart, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-1">To</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.RsvDateEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RsvDateEnd, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-off-2 col-md-2">@Html.RadioButtonFor(model => model.RsvDateSelection, FlightReservationSearch.DateSelectionType.MonthYear) Specific Month</label>c
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.RsvDateMonth, new SelectList(monthList, "Value", "Text"))
                @Html.ValidationMessageFor(model => model.RsvDateMonth, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-1">Year</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.RsvDateYear, new SelectList(yearList))
                @Html.ValidationMessageFor(model => model.RsvDateYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Airline</label>
            <div class="col-md-3">
                @Html.AutocompleteFor(m => m.Airline, "", @Url.Action("Airline", "api/AutoComplete"), AutoCompleteType.Airline, new Dictionary<string, object> { { "class", "form-control" } })
                @Html.ValidationMessageFor(model => model.Airline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">DepartureDate Date</label>
            <label class="control-label col-md-2">@Html.RadioButtonFor(model => model.DepartureDateSelection, FlightReservationSearch.DateSelectionType.Specific) Specific Date</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-off-2 col-md-2">@Html.RadioButtonFor(model => model.DepartureDateSelection, FlightReservationSearch.DateSelectionType.Span) Date Range</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.DepartureDateStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartureDateStart, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-1">To</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.DepartureDateEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartureDateEnd, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-off-2 col-md-2">@Html.RadioButtonFor(model => model.DepartureDateSelection, FlightReservationSearch.DateSelectionType.MonthYear) Specific Month</label>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.DepartureDateMonth, new SelectList(monthList, "Value", "Text"))
                @Html.ValidationMessageFor(model => model.DepartureDateMonth, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-1">Year</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.DepartureDateYear, new SelectList(yearList))
                @Html.ValidationMessageFor(model => model.DepartureDateYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Return Date</label>
            <label class="control-label col-md-2">@Html.RadioButtonFor(model => model.ReturnDateSelection, FlightReservationSearch.DateSelectionType.Specific) Specific Date</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.ReturnDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReturnDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-off-2 col-md-2">@Html.RadioButtonFor(model => model.ReturnDateSelection, FlightReservationSearch.DateSelectionType.Span) Date Range</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.ReturnDateStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReturnDateStart, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-1">To</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.ReturnDateEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReturnDateEnd, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-off-2 col-md-2">@Html.RadioButtonFor(model => model.ReturnDateSelection, FlightReservationSearch.DateSelectionType.MonthYear) Specific Month</label>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.ReturnDateMonth, new SelectList(monthList, "Value", "Text"))
                @Html.ValidationMessageFor(model => model.ReturnDateMonth, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-1">Year</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.ReturnDateYear, new SelectList(yearList))
                @Html.ValidationMessageFor(model => model.ReturnDateYear, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <label class="control-label col-md-2">Contact Name</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Passenger Name</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.PassengerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PassengerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-off-2 col-md-2">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}