@model Lunggo.CustomerWeb.Models.ForgotPasswordViewModel

@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Lupa Password";
    ViewBag.BodyClass = "page page-account page-forgotpassword";
    ViewBag.AngularController = "ForgotpasswordController";
    var lalala = ViewBag.Message;
    var loginProviders = Context.GetOwinContext().Authentication.GetAuthenticationTypes();
    var facebookProvider = loginProviders.First();
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/mobile/js/AccountController.js"></script>
}


@*@switch ((string)ViewBag.Message)
{
    case "InvalidInputData":
        <div class="bg-danger">Email format invalid!</div>
        break;
    case "NotRegistered":
    <div class="bg-warning">Email not yet registered. Please<a href="@Url.Action("Register", "Account")">register</a>.</div>
        break;
    case "AlreadyRegisteredButUnconfirmed":
    <div class="bg-warning">Email already registered but not confirmed. Please confirm.</div>
        break;
    case "Success":
    <div class="bg-success">Reset email sent. Please check.</div>
        @lalala;
        break;
}*@



<div class="page-loaded">
    <header class="page__header">
        <h1 class="text-center section-title stripe">Lupa <span>Password</span></h1>
    </header>

    <!-- .page__body -->
    
    <div class="page__body">
        <div class="container">
            <div ng-show="EmailForm.Sent">
                <div class="form-content email-sent" ng-show="EmailForm.ReturnData.Found && EmailForm.ReturnData.EmailConfirmed">
                    <div>
                        <h3>Pengiriman e-mail reset password berhasil</h3>
                        <p>Pesan verifikasi telah dikirimkan ke alamat email Anda. Klik link yang telah dikirimkan ke e-mail Anda untuk melanjutkan proses reset password Anda.</p>
                    </div>
                    <div class="text-center">
                        <a href="/" class="btn btn-yellow">KEMBALI KE HALAMAN DEPAN</a>
                    </div>
                </div>
                <div class="form-content" ng-show="!EmailForm.ReturnData.Found && EmailForm.ReturnData.EmailConfirmed">
                    <div>
                        <h3>E-mail Anda Belum Terdaftar</h3>
                        <p><a href="@Url.Action("Register", "Account")">Klik di sini untuk mendaftar.</a></p>
                    </div>
                </div>
                <div class="form-content" ng-show="EmailForm.ReturnData.Found && !EmailForm.ReturnData.EmailConfirmed">
                    <div>
                        <h3>E-mail Belum Terkonfirmasi</h3>
                        <p>E-mail Anda sudah terdaftar, namun belum dikonfirmasi. Silakan cek e-mail Anda untuk konfirmasi</p>
                    </div>
                    <div class="text-center">
                        <a href="/" class="btn btn-yellow">KEMBALI KE HALAMAN DEPAN</a>
                    </div>
                </div>
                <div class="form-content" ng-show="!EmailForm.ReturnData.EmailConfirmed && !EmailForm.ReturnData.Found">
                    <div>
                        <h3>Format E-mail Salah</h3>
                        <p>Format e-mail Anda tidak tepat. Silakan masukan e-mail Anda dengan format <i>nama@domain.com</i>nama@domain.com</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div ng-show="!EmailForm.Sent || (!EmailForm.ReturnData.Found && !EmailForm.ReturnData.EmailConfirmed)">
            <div class="container">
                <p>Masukan alamat email Anda dan kami akan mengirimkan email instruksi untuk mengganti password Anda.</p>
            </div>
            <div class="container">
                <form name="ForgotPasswordForm" novalidate>
                    <div class="form-group">
                        <label class="control-label">Alamat Email Anda :</label>
                        <input class="form-control" type="email" value="" ng-model="EmailForm.Email" required />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-yellow" ng-click="EmailForm.SendForm()" ng-disabled="ForgotPasswordForm.$invalid || EmailForm.Sending">
                            <span ng-hide="EmailForm.Sending">KIRIM</span>
                            <span ng-show="EmailForm.Sending">MENGIRIM</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- .page__body -->
</div>

<!--
<section class="page register-page auth-page">

    <section class="login-form-section container">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="@Html.I18NString("CW00150")" />
                </div>
            </div>
        }

    </section>

</section><!-- .login-page
-->