@model Lunggo.CustomerWeb.Models.ForgotPasswordViewModel

@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Lupa Password";
    ViewBag.BodyClass = "page page-forgotpassword";
    ViewBag.AngularController = "ForgotpasswordController";
    var lalala = ViewBag.Message;
    var loginProviders = Context.GetOwinContext().Authentication.GetAuthenticationTypes();
    var facebookProvider = loginProviders.First();
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/mobile/js/AccountController.js"></script>
}


@*@switch ((string)ViewBag.Message)
{
    case "InvalidInputData":
        <div class="bg-danger">Email format invalid!</div>
        break;
    case "NotRegistered":
    <div class="bg-warning">Email not yet registered. Please<a href="@Url.Action("Register", "Account")">register</a>.</div>
        break;
    case "AlreadyRegisteredButUnconfirmed":
    <div class="bg-warning">Email already registered but not confirmed. Please confirm.</div>
        break;
    case "Success":
    <div class="bg-success">Reset email sent. Please check.</div>
        @lalala;
        break;
}*@


<div class = "forgotpasswordform" class="page-loading" ng-class="{'page-loaded' : pageLoaded}">
    <header class="page__header">
        <h1 class="text-center section-title stripe">Ganti <span>Password</span></h1>
    </header>

    <!-- .page__body -->

    <div class="page__body page-loading" ng-class="{'page-loaded' : pageLoaded}">
        <div class="page-overlay" ng-show="EmailForm.Sent">
            <div class="overlay-content">
                <div ng-show="EmailForm.ReturnData.Found && EmailForm.ReturnData.EmailConfirmed">
                    <header>
                        <h4>Pengiriman E-mail Reset Password Berhasil</h4>
                    </header>

                    <img src="/Assets/images/email-send-icon.png" alt="Sent">
                    <section>
                        <p>
                            Pesan untuk reset password telah dikirimkan ke alamat e-mail Anda.
                            <br />Klik link yang telah dikirimkan ke e-mail Anda untuk melanjutkan proses reset password Anda.
                        </p>
                    </section>
                    <div class="text-center">
                        <a href="@Url.Action("Login", "Account")" class="btn btn-yellow">LOGIN</a>
                    </div>
                </div>
                
                <div ng-show="!EmailForm.ReturnData.Found && EmailForm.ReturnData.EmailConfirmed">
                    <header>
                        <h4>E-mail Belum Terdaftar</h4>
                    </header>

                    <img src="/Assets/images/sad-image.png" alt="Not Registered">
                    <section>
                        <p>
                            E-mail Anda belum terdaftar dalam sistem kami. 
                            <a href="@Url.Action("Register", "Account")">Klik di sini untuk mendaftar.</a>
                        </p>
                    </section>
                    <div class="text-center">
                        <a ng-click="closeOverlay()" class= "btn btn-yellow">KEMBALI</a>
                    </div>
                </div>
                
                <div ng-show="EmailForm.ReturnData.Found && !EmailForm.ReturnData.EmailConfirmed">
                    <header>
                        <h4>E-mail Belum Terkonfirmasi</h4>
                    </header>

                    <img src="/Assets/images/sad-image.png" alt="Not Registered">
                    <section>
                        <p>
                            E-mail Anda sudah terdaftar, namun belum dikonfirmasi. Silakan cek e-mail Anda untuk konfirmasi.
                            <a ng-click="form.resubmit()">Klik disini</a> untuk mengirim kembali e-mail konfirmasi.
                        </p>
                    </section>
                    <div class="text-center">
                        <a ng-click="closeOverlay()" class= "btn btn-yellow">KEMBALI</a>
                    </div>
                </div>
                
                <div ng-show="!EmailForm.ReturnData.EmailConfirmed && !EmailForm.ReturnData.Found">
                    <header>
                        <h4>Format E-mail Salah</h4>
                    </header>

                    <img src="/Assets/images/smile-image.png" alt="Not Confirmed">
                    <section>
                        <p>
                            Format e-mail Anda tidak tepat. Silakan masukan e-mail Anda dengan format <i>nama@domain.com</i>
                        </p>
                    </section>
                    <div class="text-center">
                        <a ng-click="closeOverlay()" class="btn btn-yellow">KEMBALI</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-loading" ng-class="{'page-loaded' : pageLoaded}" @*ng-show="!EmailForm.Sent || (!EmailForm.ReturnData.Found)*@">
            <div @*class = "forgotpasswordtext"*@>
                <p><b>Masukkan alamat e-mail Anda dan kami akan mengirimkan e-mail instruksi untuk mengganti password Anda.</b></p>
            </div>
            <div>
                <form name="ForgotPasswordForm" novalidate>
                    <div class="form-group">
                        <label class="control-label">Alamat E-mail Anda :</label>
                        <input class="form-control" type="email" value="" ng-model="EmailForm.Email" required />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-yellow" ng-click="EmailForm.SendForm(); EmailForm.Email = ''" ng-disabled="ForgotPasswordForm.$invalid || EmailForm.Sending">
                            <span ng-hide="EmailForm.Sending">KIRIM</span>
                            <span ng-show="EmailForm.Sending">MENGIRIM</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- .page__body -->
</div>

<!--
<section class="page register-page auth-page">

    <section class="login-form-section container">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="@Html.I18NString("CW00150")" />
                </div>
            </div>
        }

    </section>

</section><!-- .login-page
-->