@model Lunggo.CustomerWeb.Models.ForgotPasswordViewModel

@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "Forgot Password";
    var loginProviders = Context.GetOwinContext().Authentication.GetAuthenticationTypes();
    var facebookProvider = loginProviders.First();
}

@switch ((string)ViewBag.Message)
{
    case "InvalidInputData":
        <div class="bg-danger">Email format invalid!</div>
        break;
    case "NotRegistered":
    <div class="bg-warning">Email not yet registered. Please<a href="@Url.Action("Register", "Account")">register</a>.</div>
        break;
    case "AlreadyRegisteredButUnconfirmed":
    <div class="bg-warning">Email already registered but not confirmed. Please confirm.</div>
        break;
    case "Success":
    <div class="bg-success">Reset email sent. Please check.</div>
        break;
}

<section class="page register-page auth-page">

    <section class="login-form-section container">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="@Html.I18NString("CW00150")" />
                </div>
            </div>
        }

    </section>

</section><!-- .login-page -->
