@{
    Layout = "/Views/Shared/_Layout20150929.cshtml";
    ViewBag.Title = "Login";
    ViewBag.BodyClass = "page-account page-account-login";
    var loginProviders = Context.GetOwinContext().Authentication.GetAuthenticationTypes();
    var facebookProvider = loginProviders.First();
}
@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var langCode = 'en';
        var loginMessage = '@ViewBag.Message';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}
<section class="form-section" ng-app="travorama" ng-controller="authController">

    <div class="container">

        <div class="row">
            <div class="col-xs-4 col-xs-offset-7">
                @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form form form-horizontal", role = "form", name = "loginForm", ng_submit= "form.submit()" }))
                {
                    @Html.AntiForgeryToken()
                    <hgroup>
                        <h1>@Html.I18NString("CW00129")</h1>
                        <h4>@Html.I18NString("CW00122")</h4>
                    </hgroup>

                    <div class="form-group">
                        <input type="email" name="Email" value="" placeholder="@Html.I18NString("CW00123")" ng-model="form.email" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <input type="password" name="Password" value="" placeholder="@Html.I18NString("CW00124")" ng-model="form.password" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="@Html.I18NString("CW00130")" class="btn btn-yellow form-control" ng-disabled="loginForm.$invalid || form.submitting " />
                    </div>

                    <div class="form-group text-right">
                        <label class="control-label"><input type="checkbox" name="RememberMe" value="true" /> <span>@Html.I18NString("CW00125")</span></label>
                    </div>

                    <div class="form-group text-right">
                        <a href="@Url.Action("ForgotPassword", "Account")">@Html.I18NString("CW00126")</a> | <a href="@Url.Action("Register", "Account")">@Html.I18NString("CW00127")</a>
                    </div>

                }

            </div>
        </div>

    </div>
    
    <div class="page-overlay" ng-show="overlay">
        <div class="overlay-content">
            <header>
                <h4>LOGIN GAGAL</h4>
            </header>
            <section>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 text-align">
                                <img src="/Assets/images/sad-image.png" alt="Smile" />
                            </div>
                            <div class="col-sm-8">
                                <div ng-show="message == 'NotRegistered'">
                                    <h3>Anda belum terdaftar di Travorama</h3>
                                    <p><a href="@Url.Action("Register", "Account")">Klik disini</a> untuk mendaftar di Travorama.</p>
                                </div>
                                <div ng-show="message == 'InvalidInputData'">
                                    <h3>Email / Password Salah</h3>
                                    <p>Cek kembali alamat email dan password Anda.</p>
                                </div>
                                <div ng-show="message == 'Failed'">
                                    <h3>Email / Password Salah</h3>
                                    <p>Cek kembali alamat email dan password Anda.</p>
                                </div>
                                <div ng-show="message == 'AlreadyRegisteredButUnconfirmed'">
                                    <h3>Akun Belum Aktif</h3>
                                    <p>Cek kembali alamat email Anda untuk mengaktifkan akun Anda.</p>
                                </div>
                                <div ng-show="message == 'AlreadyConfirmed'">
                                    <h3>Akun Anda Telah Aktif</h3>
                                    <p>Silahkan login menggunakan email dan password Anda.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <a class="btn btn-yellow btn-block" ng-click="closeOverlay()">TUTUP</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div><!-- .page-overlay -->

</section><!-- .form-section -->
@Html.Partial("/Views/Shared/_SectionBenefit.cshtml")


