@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "Login Page";
    var loginProviders = Context.GetOwinContext().Authentication.GetAuthenticationTypes();
    var facebookProvider = loginProviders.First();
}

@switch ((string)ViewBag.Message)
{
    case "InvalidInputData":
        <div class="bg-danger">Email format or password invalid!</div>
        break;
    case "NotRegistered":
    <div class="bg-warning">Email not yet registered. Please<a href="@Url.Action("Register", "Account")">register</a>.</div>
        break;
    case "AlreadyRegisteredButUnconfirmed":
    <div class="bg-warning">Email already registered but not confirmed. Please confirm.</div>
        break;
    case "Failed":
    <div class="bg-danger">Wrong password!</div>
        break;
}

<section class="page login-page auth-page">

    <h1 class="text-center page-title"><b>LOG</b> IN</h1>
    <h5 class="text-center page-subtitle">Login with your Travorama Account</h5>

    <section class="login-form-section container">

        @using (Html.BeginForm("Login", "Account", new {returnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "login-form form-horizontal"}))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <span class="fa fa-envelope-o col-xs-2"></span>
                <div class="col-xs-10 col-xs-offset-1">
                    <input type="text" name="Email" placeholder="Enter your email" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <span class="fa fa-lock col-xs-2"></span>
                <div class="col-xs-10 col-xs-offset-1">
                    <input type="password" name="Password" value="" placeholder="Enter your password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                    <input type="submit" name="submit" value="LOGIN" class="btn btn-yellow submit-button btn-block-lg" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                    <a href="@Url.Action("Register", "Account")" class="pull-right">Sign up</a>
                    <a href="@Url.Action("ForgotPassword", "Account")">Forgot password</a>
                </div>
            </div>
        }
@*
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                    <p class="text-center or-border">OR</p>
                </div>
            </div>
        
        @using (Html.BeginForm("ExternalLogin", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                    <button type="submit" name="provider" value="@facebookProvider.AuthenticationType" class="btn-facebook btn btn-block-lg"><span class="fa fa-facebook"></span> Login with Facebook</button>
                </div>
            </div>
        }
*@


    </section>

</section><!-- .login-page -->
