@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Masuk";
    ViewBag.BodyClass = "page page-account page-login";
    ViewBag.AngularController = "LoginController";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var LoginMessage = '@ViewBag.Message';
    </script>
    <!-- angular controller -->

<script src="/Assets/travorama20/angularDirectory/search/hotelSearch.service.js"></script>
    <script src="/Assets/mobile/js/AccountController.js"></script>
}
<div class="page-loading" ng-class="{'page-loaded' : pageLoaded}">
    <header class="page__header">
        <h1 class="text-center section-title stripe">Masuk</h1>
    </header>

    <div class="page__body page-loading" ng-class="{'page-loaded' : pageLoaded}">
        <div class="page-overlay" ng-show="User.Message">
            <div class="overlay-content">
                <div class="overlay-container" ng-show="User.Message == 'NotRegistered'">
                    <header class="overlay-header">
                        <span>Anda Belum Terdaftar di Travorama</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/sad-image.png" alt="Registered"></div>
                        <div class="col-xs-8">
                            <span>
                                Alamat e-mail Anda belum terdaftar dalam sistem kami.
                                <a href="@Url.Action("Register", "Account")">Klik di sini</a> untuk mendaftar di Travorama.
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                    </div>
                </div>
                
                <div class="overlay-container" ng-show="User.Message == 'InvalidInputData' || User.Message == 'Failed'">
                    <header class="overlay-header">
                        <span>Email / Password Salah</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/sad-image.png" alt="Registered"></div>
                        <div class="col-xs-8">
                            <span>
                                Cek kembali alamat e-mail dan password Anda.
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                    </div>
                </div>

                <div class="overlay-container" ng-show="User.Message == 'AlreadyRegisteredButUnconfirmed' && !User.Resubmitted">
                    <header class="overlay-header">
                        <span>Akun Anda Belum Aktif</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/sad-image.png" alt="Registered"></div>
                        <div class="col-xs-8">
                            <span>
                                Cek kembali alamat e-mail Anda untuk mengaktifkan akun atau
                                <a ng-click="User.Reconfirm()">klik untuk kirim pesan konfirmasi</a>.
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                    </div>
                </div>

                <div class="overlay-container" ng-show="User.Resubmitted">
                    <header class="overlay-header">
                        <span>E-mail Konfirmasi Berhasil Dikirim</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/sad-image.png" alt="Registered"></div>
                        <div class="col-xs-8">
                            <span>
                                Pesan untuk konfirmasi ulang telah terkirim ke e-mail Anda.
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" ng-click="closeOverlay(); User.Email = '';  User.Resubmitted = false;">TUTUP</a>
                    </div>
                </div>
                
                <div class="overlay-container" ng-show="User.Message == 'AlreadyConfirmed'">
                    <header class="overlay-header">
                        <span>Akun Anda Telah Aktif</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/smile-image.png" alt="Registered"></div>
                        <div class="col-xs-8">
                            <span>
                                Silakan masuk menggunakan e-mail dan password Anda.
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-wrapper form-wrapper--login">
        <header class="form-wrapper__header">
            <h1 class="form-wrapper__title">Masuk</h1>
            <p>Dengan Akun Travorama Anda</p>
        </header><!-- .form-wrapper__header -->

        <div class="form-wrapper__body">
            @*@using (Html.BeginForm("Login", "Account", new {returnUrl = ViewBag.ReturnUrl},
                FormMethod.Post, new
                {
                    @class = "login-form form form-horizontal",
                    role = "form",
                    name = "LoginForm",
                    ng_submit = "User.Send()"
                }))
            {
                @Html.AntiForgeryToken()*@
                <div class="form-group">
                    <label class="control-label">Alamat E-mail Anda :</label>
                    <input type="email" value="" name="Email" class="form-control" ng-model="User.Email" required />
                </div>
                <div class="form-group">
                    <label class="control-label">Password :</label>
                    <input type="password" value="" name="Password" class="form-control" ng-model="User.Password" required />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-yellow btn-block" ng-click ="User.Send()" ng-disabled="LoginForm.$invalid || User.Sending">MASUK</button>
                </div>
                <div class="form-group">
                    <a href="@Url.Action("ForgotPassword", "Account")">Lupa Password</a> | <a href="@Url.Action("Register", "Account")">Belum Memiliki Akun?</a>
                </div>
            @*}*@
        </div><!-- .form-wrapper__body -->

    </div><!-- .form-wrapper -->
</div>
