@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Hotel.Model
@model Lunggo.ApCommon.Product.Model.ReservationForDisplayBase
@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = "Detail Reservasi";
    ViewBag.BodyClass = "page page-orderdetail page-checkout";
    ViewBag.AngularController = "OrderDetailController";
}


@functions{
    public string ToTitleCase(string input)
    {

        var text = "";
        try
        {
            var splittedText = input.Split(' ');
            foreach (var word in splittedText)
            {
                var splittedByStrips = word.Split('-');
                var w = "";
                if (splittedByStrips.Count() != 1)
                {
                    foreach (var part in splittedByStrips)
                    {
                        w += ApplyTitleCase(part) + "-";
                    }
                    text += w.Substring(0, w.Length - 1) + " ";
                }
                else
                {
                    text += word[0] + word.Substring(1, word.Length - 1).ToLower() + " ";
                }
            }

        }
        catch { }
        return text.Length == 0 ? "" : text.Substring(0, text.Length - 1);
    }

    public string ApplyTitleCase(string input)
    {
        return input[0] + input.Substring(1, input.Length - 1).ToLower();
    }
    public string msToTime(double duration)
    {
        var hours = Convert.ToInt32(duration) / (1000 * 60 * 60);
        var minutes = (Convert.ToInt32(duration) / (1000 * 60)) % 60;

        return hours + "j " + minutes + "m";
    }
}
@section AdditionalJS{
    <!-- additional Angular JS-->
}

@section PageJS{
    <script>
        var langCode = 'en';
        var rsvNo = @Model.RsvNo;
        var rsvStatus = '@Convert.ToInt32(Model.RsvDisplayStatus)';
        var paymentMethod = '@Convert.ToInt32(Model.Payment.Method)';
    </script>
    <!-- angular controller -->
    <script src="/Assets/mobile/js/AccountController.js"></script>
}

<section class="account-content page-loading" ng-class="{'page-loaded' : pageLoaded}">
    <div class="page-overlay" ng-show="datafailed">
        <div class="overlay-content">
            <div ng-show="errormsg == 'No Reservation Matched'">
                <header>
                    <h4>Mohon Maaf</h4>
                </header>
                <img src="/Assets/images/sad-image.png" alt="Registered">
                <section>
                    <p>
                        Mohon maaf, pesanan dengan nomor {{rsvNo}} tidak ditemukan.
                    </p>
                </section>
                <div class="text-center">
                    <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                </div>
            </div>
            <div ng-show="errormsg == 'No Reservation Matched'">
                <header>
                    <h4>Mohon Maaf</h4>
                </header>
                <img src="/Assets/images/sad-image.png" alt="Not Found">
                <section>
                    <p>
                        Mohon maaf, pesanan dengan nomor {{rsvNo}} tidak ditemukan.
                    </p>
                </section>
                <div class="text-center">
                    <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                </div>
            </div>
            <div ng-show="errormsg == 'Not Authorised'">
                <header>
                    <h4>Mohon Maaf</h4>
                </header>
                <img src="/Assets/images/sad-image.png" alt="Not authorised">
                <section>
                    <p>
                        Mohon maaf, Anda tidak dapat melihat pesanan dengan nomor {{rsvNo}}.
                    </p>
                </section>
                <div class="text-center">
                    <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                </div>
            </div>
            <div ng-show="errormsg == 'Problem on Server'">
                <header>
                    <h4>Mohon Maaf</h4>
                </header>
                <img src="/Assets/images/sad-image.png" alt="Problem">
                <section>
                    <p>
                        Mohon maaf, Anda tidak dapat melihat pesanan dengan nomor {{rsvNo}}.
                    </p>
                </section>
                <div class="text-center">
                    <a class="btn btn-yellow" ng-click="closeOverlay()">TUTUP</a>
                </div>
            </div>
        </div>
    </div>
    <div class="order-detail">
        <header class="content-header">
            <span>NOMOR PESANAN: <b>@Model.RsvNo</b></span>
        </header>
        <section class="content-body">
            <div class="info-buyer">
                <header>
                    <form action="" method="post" name="submitForm" id="rsvno" class="hidden">
                        <input type="text" name="RsvNo" value="" id="rsvno-input" />
                        <input type="text" name="Status" value="" id="message-input" />
                    </form>
                    <h4>
                        <b>INFO PEMESANAN</b>
                        @if (Model is FlightReservationForDisplay)
                        {
                            <button class="pull-right btn btn-yellow" ng-click="submitRsvNo(@Model.RsvNo, @Model.RsvDisplayStatus)">
                                {{ButtonText(rsvStatus, paymentMethod, 'flight')}}
                            </button>
                        }
                        @if (Model is HotelReservationForDisplay)
                        {
                            <button class="pull-right btn btn-yellow" ng-click="submitRsvNo(@Model.RsvNo, @Model.RsvDisplayStatus)">
                                {{ButtonText(rsvStatus, paymentMethod, 'hotel')}}
                            </button>
                        }
                    </h4>
                </header>
                <div class="container-page">
                    <div class="oh-form page-hotel clearfix">
                        <div class="oh-row clearfix">
                            <div class="col-4">Nama Pemesan</div>
                            <div class="col-6">@Model.Contact.Name</div>
                        </div>
                        <div class="oh-row clearfix">
                            <div class="col-4">Tanggal Pemesanan</div>
                            <div class="col-6">@Model.RsvTime.AddHours(7).ToString("f", CultureInfo.CreateSpecificCulture("id-ID")) WIB</div>
                        </div>
                        @if (Model is FlightReservationForDisplay)
                        {
                            <div class="oh-row clearfix">
                                <div class="col-4">Tipe</div>
                                <div class="col-6">Penerbangan</div>
                            </div>
                        }
                        @if (Model is HotelReservationForDisplay)
                        {
                            <div class="oh-row clearfix">
                                <div class="col-4">Tipe</div>
                                <div class="col-6">Hotel</div>
                            </div>
                        }
                        <div class="oh-row clearfix">
                            <div class="col-4">Harga Pesanan</div>
                            <div class="col-6">Rp @Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                        </div>
                        <div class="oh-row clearfix" ng-show="flight.payment.method">
                            <div class=" col-4">Metode Pembayaran</div>
                            <div class="col-6">@Model.Payment.Method</div>
                        </div>
                        <div class="oh-row clearfix">
                            <div class="col-4">Status Pembayaran</div>
                            <div class="col-6">@EnumDisplay.PaymentStatus(Model.Payment.Status)</div>
                        </div>
                        <div class="oh-row clearfix">
                            @if (Model is FlightReservationForDisplay)
                            {
                                <div class="col-4">Penumpang</div>
                            }
                            @if (Model is HotelReservationForDisplay)
                            {
                                <div class="col-4">Tamu</div>
                            }
                            <div class="col-6">
                                <ol class="passenger-list">
                                    @foreach (var pax in Model.Pax)
                                    {
                                        <li>
                                            <div>
                                                <p>@EnumDisplay.Title(pax.Title) @pax.Name</p>
                                            </div>
                                            <div>
                                                <span>@EnumDisplay.PassengerType(pax.Type)</span>
                                            </div>
                                        </li>
                                    }

                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    @if (Model is FlightReservationForDisplay)
                    {
                        var rsv = Model as FlightReservationForDisplay;
                        <div class="info-flight">
                            <header>
                                <h4><b>@Html.I18NString("CW00199")</b></h4>
                            </header>
                            <section>
                                @foreach (var trip in rsv.Itinerary.Trips)
                                {
                                <div>
                                    <div class="flight departure">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <img ng-src="@trip.Segments[0].AirlineLogoUrl" alt="@trip.Segments[0].AirlineName" class="flight__airline__image" />
                                            </div>
                                            <div class="col-xs-9">
                                                <p class="flight__airline__name"><span>@trip.Segments[0].AirlineName</span> </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p>@trip.OriginCity - @trip.DestinationCity</p>
                                                <p>@trip.DepartureDate.GetValueOrDefault().ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </section>
                        </div>
                    }

                    @if (Model is HotelReservationForDisplay)
                    {
                        var reservation = Model as HotelReservationForDisplay;

                        <div class=" page-hotel review-hotel" style="background:#f9f9f9;">
                            <div class="review-room clearfix">
                                <h3 class="summary__title"><b>REVIEW</b> PESANAN</h3>

                                <div class="form-group">
                                    @Html.Partial("/Views/Shared/Mobile/_HotelDetail.cshtml", reservation.HotelDetail)
                                </div>
                                @Html.Partial("/Views/Shared/Mobile/_RoomDetail.cshtml", reservation.HotelDetail)
                            </div>
                        </div>
                    }
                    <div class="refund-detail hidden">
                        <header>
                            <h4><b>@Html.I18NString("CW00199")</b></h4>
                        </header>
                        <section>
                            <div class="form form-horizontal">
                                @*<div class="form-group">
                                        <label class="control-label col-xs-3">No Refund</label>
                                        <div class="col-xs-9">
                                            <p class="form-control-static">
                                                <span>
                                                    @(Model.Payment.Refund != null ?
                                                        Model.Payment.Refund.Amount.ToString() : "-")
                                                </span>
                                            </p>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="control-label col-xs-3">Tgl Pengajuan</label>
                                    <div class="col-xs-9">
                                        <p class="form-control-static">
                                            <span>{{refundDate | date : 'dd MMMM yyyy , HH:mm' : 'UTC'}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-3">Status Refund</label>
                                    <div class="col-xs-9">
                                        <p class="form-control-static">-</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>