@{
    Layout = "/Views/Shared/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-account page-account-register";
    ViewBag.Title = "Registrasi Akun Travorama";
    var loginProviders = Context.GetOwinContext().Authentication.GetAuthenticationTypes();
    var facebookProvider = loginProviders.First();
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var langCode = 'en';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}
<section class="form-section" ng-app="travorama" ng-controller="authController">

    <div class="container">

        <div class="row">
            <div class="col-xs-7 col-xs-offset-4">
                <hgroup>
                    <h1>@Html.I18NString("CW00179")</h1>
                    <h4>@Html.I18NString("CW00180")</h4>
                </hgroup>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-xs-offset-7">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "register-form form form-horizontal", role = "form", name="registerForm" }))
                {
                @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="email" name="Email" value="" placeholder="@Html.I18NString("CW00123")" class="form-control" ng-model="form.email" required />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="@Html.I18NString("CW00127")" class="btn btn-yellow form-control" ng-disabled="registerForm.$invalid" />
                    </div>

                }

            </div>
        </div>

    </div>

</section><!-- .form-section -->
@Html.Partial("/Views/Shared/_SectionBenefit.cshtml")


