@model  String
@using Lunggo.ApCommon.Constant
@using Lunggo.Framework.Config
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="/Assets/teaserpage/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Assets/css/landingpage.css" rel="stylesheet">

</head>

<body>


    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4" style="text-align: center; margin-top: 30px"><img src="/Assets/images/logo-baru2.png"></div>
            <div class="col-12 col-md-4"></div>
        </div>

        <div class="row">
            <div style="height: 1px; background:#eaeaea; width:90%; margin: 0 auto; margin-top: 20px; margin-bottom: 20px;"></div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4">
                <div class="judul-referral" style="font-size:26px; margin-top:10px; padding-bottom:10px;">Kamu mendapatkan bonus kredit Rp 100000 dari @ViewBag.ReferrerName!</div>
                <div class="desc-landing-page">
                    Segera daftar dan download aplikasinya untuk menggunakannya. Nikmati berbagai perjalanan menyenangkan di Travorama.
                </div>
            </div>
            <div class="col-12 col-md-4"></div>
        </div>

        <div class="row" style="margin:0 !important">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4 container-form">
                <div class="judul-landing-page" style="font-size:26px; margin-top:0; padding-bottom:20px; text-align:center;">Register</div>
                <form method="post" action="@(EnvVariables.Get("general", "rootUrl") + "/id/account/registerreferral")">
                    <div class="form-group">
                        <label style="font-family: hind-semibold">Nama Lengkap</label>
                        <input type="text" name="Name" class="form-control form-input" value="@ViewBag.Name">
                    </div>
                    <div class="form-group">
                        <label style="font-family: hind-semibold">Email</label>
                        <input type="email" name="Email" class="form-control form-input" value="@ViewBag.Email">
                    </div>
                    <div class="form-group">
                        <label style="font-family: hind-semibold">No Telepon</label>
                        <input type="number" name="Phone" class="form-control form-input" value="@ViewBag.Phone">
                    </div>
                    <div class="form-group">
                        <label style="font-family: hind-semibold">Password</label>
                        <input type="password" name="Password" class="form-control form-input">
                    </div>
                    <input type="hidden" name="ReferrerCode" class="form-control form-input" value="@Model">
                    <input type="hidden" name="ReferrerName" class="form-control form-input" value="@ViewBag.ReferrerName">
                    <p style="color:red">@ViewBag.Message </p>
                    <div style="margin-top: 40px">
                        <button type="submit" class="btn btn-gradient">Submit</button>
                    </div>
                </form>
            </div> <!-- /.container form -->
            <div class="col-12 col-md-4"></div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
