@model Lunggo.CustomerWeb.Models.ResetPasswordViewModel
@{
    Layout = "/Views/Shared/_Layout_account.cshtml";
    ViewBag.Title = "Reset password";
}

@switch ((string)ViewBag.Message)
{
    case "InvalidInputData":
        <div class="bg-danger">Password does not match!</div>
        break;
    case "NotRegistered":
    <div class="bg-warning">Email not registered.</div>
        break;
    case "AlreadyRegisteredButUnconfirmed":
    <div class="bg-warning">Email already registered but not confirmed. Please confirm.</div>
        break;
    case "Failed":
    <div class="bg-danger">There is an error. Please try again later.</div>
        break;
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(m => m.Email, new { @class = "form-control" })
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>
}
