@model Lunggo.CustomerWeb.Models.ResetPasswordViewModel
@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.Title = "Ganti Password";
    ViewBag.BodyClass = "page-password page-password-reset";
    var buttonText = Model.Code == null ? "SET PASSWORD" : "RESET PASSWORD";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS{
    <script>
        var langCode = 'en';
        var userEmail = '@Model.Email';
        var code = '@Model.Code';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}

<section class="form-section page-loading" ng-app="travorama" ng-controller="resetController" ng-class="{'page-loaded' : pageLoaded}">

    @if (Model.Code == null)
    {
        <h1 class="text-center section-title stripe">SET <span>PASSWORD</span></h1>
    }
    else
    {
        <h1 class="text-center section-title stripe">RESET <span>PASSWORD</span></h1>
    }

    <div class="container form-container" ng-hide="form.submitted">

        <p>@Html.I18NString("CW00146") : <b>{{form.userEmail}}</b></p>

        <div class="form-wrapper">
            <header>
                @if (Model.Code == null)
                {
                    <h4 class="header-title">@Html.I18NString("CW00200")</h4>
                }
                else
                {
                    <h4 class="header-title">@Html.I18NString("CW00182")</h4>
                }
            </header>
            <section class="form-content">
                    <form class="form form-horizontal" name="resetForm" ng-submit="form.submit()" novalidate>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4">

                            <div class="form-group">
                                <input type="hidden" value="{{form.code}}" name="code" />
                                <label class="control-label">@Html.I18NString("CW00166"):</label>
                                <input type="password" name="password" value="" ng-model="form.password" placeholder="@Html.I18NString("CW00181")" class="form-control" ng-disabled="form.submitting" required />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="{{ form.submitting? 'LOADING' : '@buttonText' }}" class="btn btn-yellow form-control" ng-disabled="form.submitting || (resetForm.$invalid)" />
                            </div>

                        </div>
                    </div>
                    </form>
            </section><!-- .form-content -->
        </div>

    </div><!-- .form-container -->

    <div class="form-container-sent" ng-show="form.submitted">

        <div class="container">
            <div class="text-center">
                <img src="/Assets/images/lock-image.jpg" alt="Password Reset Success" />
            </div>
            <h3 class="text-center">Reset Password Anda telah <b>berhasil.</b></h3>
            <p class="text-center"></p>
            <div class="text-center">
                <a href="/" class="btn btn-yellow">KEMBALI KE HALAMAN DEPAN</a>
            </div>

        </div>

    </div><!-- .form-sent -->


</section><!-- .form-section -->
