@model Lunggo.CustomerWeb.Models.ResetPasswordViewModel
@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = Model.Code == null ? "SET PASSWORD" : "RESET PASSWORD";
    ViewBag.BodyClass = "page-resetpassword page-password";
    ViewBag.AngularController = "ResetpasswordController";
    var buttonText = Model.Code == null ? "SET PASSWORD" : "RESET PASSWORD";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/mobile/js/AccountController.js"></script>
    <script>
        var langCode = 'en';
        var userEmail = '@Model.Email';
        var code = '@Model.Code';

    </script>
}

<div class="page-loading" ng-class="{'page-loaded' : pageLoaded}">

    @if (Model.Code == null)
    {
        <h1 class="text-center section-title stripe">Set <span>Password</span></h1>
    }
    else
    {
        <h1 class="text-center section-title stripe">Reset <span>Password</span></h1>
    }

    <div ng-show="form.succeed && form.submitted">
        <div class="reset-success">
            <div class="text-center">
                <img class="lock" src="/Assets/images/lock-image.png" alt="Password Reset Berhasil" />
            </div>
            <div class="text-center success-txt">Reset password Anda telah <b>berhasil</b></div>
            <div class="text-center">
                <a href="/" class="btn btn-yellow">KEMBALI KE HALAMAN DEPAN</a>
            </div>
        </div>
    </div>

    <div class="passwordform" ng-show="form.start || !form.succeed">

        <div>@Html.I18NString("CW00146") : <b>{{form.userEmail}}</b></div>

        <div class="resetpassword">
            <header>
                @if (Model.Code == null)
                {
                    <span>@Html.I18NString("CW00200")</span>
                }

                else
                {
                    <span>@Html.I18NString("CW00182")</span>
                }
            </header>
            <section class="content">
                <form name="resetForm" ng-submit="submit()" novalidate>
                    <div>
                        <div class="form-group">
                            <input type="hidden" value="{{form.code}}" name="code" />
                            <label class="control-label">@Html.I18NString("CW00166"):</label>
                            <input type="password" name="password" value="" ng-model="form.password" placeholder="Password Baru" class="form-control text" ng-disabled="form.submitting" required />
                            <small><span class="red-text">*</span>Minimal 6 karakter</small>
                        </div>


                        <div class="form-group">
                            <input type="submit" value="{{ form.submitting? 'LOADING' : '@buttonText' }}" class="btn btn-yellow form-control" ng-disabled="form.submitting || (resetForm.$invalid)" />
                        </div>
                        <span id="characters" class="red-text"></span>
                        <div ng-show="!form.succeed && form.submitted" class="red-text">
                            {{errorMessage}}
                        </div>
                    </div>
                </form>
            </section><!-- .form-content -->
        </div>

        @if (ViewBag.NotRegistered != null)
        {
            <div class="page-overlay">
                <div class="overlay-content">
                    <div class="overlay-container">
                        <header class="overlay-header">
                            <span>E-mail Belum Terdaftar</span>
                        </header>
                        <div class="overlay-body clearfix">
                            <div class="col-xs-4"><img src="/Assets/images/sad-image.png" alt="Registered"></div>
                            <div class="col-xs-8">
                                <span>
                                    E-mail ini belum terdaftar di Travorama.
                                </span>
                            </div>
                        </div>
                        <div class="overlay-footer text-center">
                            <a class="btn btn-yellow" href="@Url.Action("Register")">DAFTAR</a>
                        </div>
                    </div>
                </div>
            </div>

        }
        else if (ViewBag.NotConfirmed == true)
        {
            <div class="page-overlay" ng-hide="form.resubmitted">
                <div class="overlay-content">
                    <div class="overlay-container">
                        <header class="overlay-header">
                            <span>Akun Anda Belum Terkonfirmasi</span>
                        </header>
                        <div class="overlay-body clearfix">
                            <div class="col-xs-4"><img src="/Assets/images/smile-image.png" alt="Registered"></div>
                            <div class="col-xs-8">
                                <span>
                                    E-mail Anda Belum Terkonfirmasi pada Sistem Kami. 
                                    Silakan Klik tombol di bawah untuk mengirim ulang e-mail konfirmasi.
                                </span>
                            </div>
                        </div>
                        <div class="overlay-footer text-center">
                            <a class="btn btn-yellow" ng-click="reconfirm()">KIRIM ULANG</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div><!-- .form-container -->
</div>