@model Lunggo.CustomerWeb.Models.ResetPasswordViewModel
@{
    Layout = "/Views/Shared/Desktop/_LayoutDesktop.cshtml";
    ViewBag.Title = "Ganti Password";
    ViewBag.BodyClass = "page-password page-password-reset";
    var buttonText = Model.Code == null ? "SET PASSWORD" : "RESET PASSWORD";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
}

@section PageJS{
    <script>
        var langCode = 'en';
        var userEmail = '@Model.Email';
        var code = '@Model.Code';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}

<section class="form-section page-loading container" ng-app="travorama" ng-controller="resetController" ng-class="{'page-loaded' : pageLoaded}">

    @if (Model.Code == null)
    {
        <h1 class="text-center section-title stripe xlg-txt">SET <span>PASSWORD</span></h1>
    }
    else
    {
        <h1 class="text-center section-title stripe xlg-txt">RESET <span>PASSWORD</span></h1>
    }

    <div class="form-container" ng-hide="form.submitted">

        <p class="md-txt">@Html.I18NString("CW00146") : <b>{{form.userEmail}}</b></p>

        <div class="form-wrapper normal-txt">
            @*<header>
                    @if (Model.Code == null)
                    {
                        <h4 class="header-title">@Html.I18NString("CW00200")</h4>
                    }
                    else
                    {
                        <h4 class="header-title">@Html.I18NString("CW00182")</h4>
                    }
                </header>*@
            <section class="form-content">
                <form class="form form-horizontal" name="resetForm" ng-submit="form.submit()" novalidate>
                    <div class="row">
                        <div class="col-xs-2 text-right">
                            <input type="hidden" value="{{form.code}}" name="code" />
                            <label class="control-label">@Html.I18NString("CW00166"):</label>
                        </div>
                        <div class="col-xs-7">
                            <input type="password" name="password" value="" ng-model="form.password" placeholder="@Html.I18NString("CW00181")" class="form-control" ng-disabled="form.submitting" required />
                        </div>
                        <div class="col-xs-3">
                            <input type="submit" value="{{ form.submitting? 'LOADING' : '@buttonText' }}" class="btn btn-yellow form-control md-txt lg-txt" ng-disabled="form.submitting || (resetForm.$invalid)" />
                        </div>
                    </div>
                </form>
            </section><!-- .form-content -->
        </div>

    </div><!-- .form-container -->

    <div class="form-container-sent" ng-show="form.submitted && form.isSuccess">

        <div class="container">
            <div class="text-center">
                <img src="/Assets/images/lock-image.png" alt="Password Reset Success" />
            </div>
            <h3 class="text-center md-txt">Reset Password Anda telah <b>berhasil.</b></h3>
            <p class="text-center"></p>
            <div class="text-center">
                <a href="/" class="btn btn-yellow md-txt lg-btn">KEMBALI KE HALAMAN DEPAN</a>
            </div>

        </div>

    </div><!-- .form-sent -->
    @if (ViewBag.NotRegistered != null)
    {
        <div class="page-overlay">
            <div class="overlay-content">
                <header>
                    <h4>Belum Terdaftar</h4>
                </header>
                <section>
                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 text-align">
                                    <img src="/Assets/images/sad-image.png" alt="Sad" />
                                </div>
                                <div class="col-sm-8">
                                    <h3>E-mail Belum Terdaftar</h3>
                                    <p>Silakan daftar melalui link di bawah ini.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6">
                                <a class="btn btn-yellow btn-block sm-btn" href="@Url.Action("Register")">DAFTAR</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- .page-overlay -->
    }
    else if (ViewBag.NotConfirmed == true)
    {
        <div class="page-overlay" ng-hide="form.resubmitted">
            <div class="overlay-content">
                <header>
                    <h4>Akun Anda Belum Terkonfirmasi</h4>
                </header>
                <section>
                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 text-align">
                                    <img src="/Assets/images/sad-image.png" alt="Sad" />
                                </div>
                                <div class="col-sm-8">
                                    <h3>E-mail Anda Belum Terkonfirmasi pada Sistem Kami.</h3>
                                    <p style="font-size:12px">Silakan klik tombol di bawah untuk mengirim ulang e-mail konfirmasi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6">
                                <a class="btn btn-yellow btn-block sm-btn" ng-click="reconfirm()">KIRIM ULANG</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    }

</section><!-- .form-section -->
