@model Lunggo.CustomerWeb.Models.ResetPasswordViewModel
@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = Model.Code == null ? "SET PASSWORD" : "RESET PASSWORD";
    ViewBag.BodyClass = "page-resetpassword page-password";
    ViewBag.AngularController = "ResetpasswordController";
    var buttonText = Model.Code == null ? "SET PASSWORD" : "RESET PASSWORD";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/mobile/js/AccountController.js"></script>
    <script>
        var langCode = 'en';
        var userEmail = '@Model.Email';
        var code = '@Model.Code';
    </script>

}

<div class="page-loading" ng-class="{'page-loaded' : pageLoaded}">
    
    @if (Model.Code == null)
    {
        <h1 class="text-center section-title stripe">SET <span>PASSWORD</span></h1>
    }
    else
    {
        <h1 class="text-center section-title stripe">RESET <span>PASSWORD</span></h1>
    }

    <div class = "passwordform" ng-hide="form.submitted">

        <p>@Html.I18NString("CW00146") : <b>{{form.userEmail}}</b></p>

        <div class="resetpassword">
            <header>
                @if (Model.Code == null)
                {
                    <h4 class="header-title">@Html.I18NString("CW00200")</h4>
                }
                else
                {
                    <h4 class="header-title">@Html.I18NString("CW00182")</h4>
                }
            </header>
            <section class="content">
                    <form name="resetForm" ng-submit="submit()" novalidate>
                        <div>
                            <div class="form-reset">
                                <input type="hidden" value="{{form.code}}" name="code" />
                                <label class="control-label">@Html.I18NString("CW00166"):</label>
                                <input type="password" name="password" value="" ng-model="form.password" placeholder="Password Baru" class="form-control" ng-disabled="form.submitting" required />
                            </div>
                            <p>*Minimal 6 karakter</p>
                            <div class="form-reset">
                                <input type="submit" value="{{ form.submitting? 'LOADING' : '@buttonText' }}" class="btn btn-yellow form-control" ng-disabled="form.submitting || (resetForm.$invalid)" />
                            </div>
                        </div>
                    </form>
                }
            </section><!-- .form-content -->
        </div>

    </div><!-- .form-container -->
        

    <div class="form-container-sent" ng-show="form.submitted && !form.lala">
        <div class="container">
            <div class="text-center">
                <img src="/Assets/images/lock-image.jpg" alt="Password Reset Berhasil" />
            </div>
            <h3 class="text-center">Reset Password Anda telah <b>berhasil.</b></h3>
            <p class="text-center"></p>
            <div class="text-center">
                <a href="/" class="btn btn-yellow">KEMBALI KE HALAMAN DEPAN</a>
            </div>
        </div>
    </div><!-- .form-sent -->

    <div class="form-container-sent" ng-show="form.lala">
        <div class="container">
            <div class="text-center">
                <img src="/Assets/images/lock-image.jpg" alt="Password Reset Gagal" />
            </div>
            <h3 class="text-center">Reset Password Anda <b>tidak berhasil.</b></h3>
            <p class="text-center"></p>
            <div class="text-center">
                <a href="/" class="btn btn-yellow">KEMBALI KE HALAMAN DEPAN</a>
            </div>
        </div>
    </div>
    @*</div>*@<!-- .page__body -->
</div>
