@model IEnumerable<Lunggo.Flight.Model.FlightTicket>
@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
Depart
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirlineCode)
        </th>
        <th>
            Airline
        </th>
        <th>
            Flight
        </th>
        <th>
            Durasi
        </th>
        <th>
            Price
        </th>
    </tr>

@foreach (var item in Model.Where(x=>x.returning==false)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AirlineCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirlineName)
        </td>
        <td>
            @item.ListDepartDetail.First().DepartTime - @item.ListDepartDetail.Last().ArrivedTime
        </td>
        <td>
            @(item.ListDepartDetail.Last().ArrivedTime.Subtract(item.ListDepartDetail.First().DepartTime).ToString("hh'j 'mm'm'"))<br />
            @(item.ListDepartDetail.Count() == 1 ? "Langsung" : (item.ListDepartDetail.Count()-1) + " Transit")
        </td>
        <td>
            @(item.AdultTicket.PromoPrice ?? item.AdultTicket.EconomicPrice ?? item.AdultTicket.BusinessPrice)
        </td>
    </tr>
}

</table>
Returning
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirlineCode)
        </th>
        <th>
            Airline
        </th>
        <th>
            Flight
        </th>
        <th>
            Durasi
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model.Where(x => x.returning == true))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirlineCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirlineName)
            </td>
            <td>
                @item.ListDepartDetail.First().DepartTime - @item.ListDepartDetail.Last().ArrivedTime
            </td>
            <td>
                @(item.ListDepartDetail.Last().ArrivedTime.Subtract(item.ListDepartDetail.First().DepartTime).ToString("hh'j 'mm'm'"))<br />
                @(item.ListDepartDetail.Count() == 1 ? "Langsung" : (item.ListDepartDetail.Count() - 1) + " Transit")
            </td>
            <td>
                @(item.AdultTicket.PromoPrice ?? item.AdultTicket.EconomicPrice ?? item.AdultTicket.BusinessPrice)
            </td>
        </tr>
    }

</table>
