@model Lunggo.CustomerWeb.WebSrc.UW600.UW610.Model.Uw610ChangePofile

@{
    Layout = "/Views/Shared/_Layout_account.cshtml";
    ViewBag.Title = "Hotel Detail";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travorama</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/application.css">

</head>
<body>
    <!-- page start -->
    <div class="page user-account">

        <header id="site-header" class="site-header">
            @{ Html.RenderPartial("_Mainmenu"); }
        </header>

        <!-- site content start -->
        <div id="site-content" class="site-content">


            <header class="page-header">
                <div class="container">
                    <div class="site-nav"> <a href="#">Beranda</a> / <strong>User Account</strong></div>
                    <hr>
                    <h2 class="page-title"><b>SEARCH</b> RESULT</h2>
                </div>
            </header><!-- .page-header -->

            <section class="page-content">
                <div class="container">


                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><span class="fa fa-users"></span> Profile</a></li>
                        <li role="presentation"><a href="/Uw600/UW620OrderHistory?idMember=@Model.IdMember" aria-controls="history"><span class="fa fa-history"></span> Order History</a></li>
                        <li role="presentation"><a href="#password" aria-controls="password" role="tab" data-toggle="tab"><span class="fa fa-lock"></span> Password</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="profile">
                            <h4><b>USER</b> PROFILE</h4>

                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-1">


                                    <form class="user-account-form form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">ID Member</label>
                                            <div class="col-sm-8">
                                                <input type="email" class="form-control" placeholder="Email" value="@Model.IdMember" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Nama</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="Nama" value="@Model.Name" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Alamat</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="Alamat" value="@Model.Address" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Negara</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="Negara" value="@Model.Country" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Telepon</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="Telephone" value="@Model.PhoneNumber" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Email</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="email" value="@Model.Email" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Tempat Tanggal Lahir</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" placeholder="Tempat Lahir" value="@Model.BirthPlace" />
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" placeholder="Tanggal Lahir" value="@Model.BornDate.ToString("d")" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-4">
                                                <button class="btn btn-primary">UPDATE</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>

                        </div>
                        
                    </div>


                </div>
            </section><!-- .page-content -->

            </div>
        </div>
        <!-- site content end -->
