@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.Framework.Environment.Variables
@model dynamic



<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color:#F4F4F4; color:#535353; font-family:arial, helvetica, sans-serif; font-size:12px;">


    <table style="margin-left:auto; margin-right:auto; width:100%; max-width:700px; display:block; background:#ffffff;">
        <thead width="100%">
            <tr width="100%">
                <th width="5%"></th>
                <th colspan="2" width="90%" style="padding-top:30px;">
                    <p style="text-align:right;">
                        <a href="http://travorama.com" style="text-decoration:none;">
                            <img src="@(EnvVariables.Get("general", "rootUrl") + @"/Assets/images/travorama-logo-color.png")" alt="Travorama" />
                        </a>
                        <br />
                        <a href="https://www.facebook.com/travorama" style="text-decoration:none;">
                            <img src="@(EnvVariables.Get("general", "rootUrl") + @"/Assets/images/email-facebook.jpg")" alt="Travorama on Facebook" />
                        </a>
                        <a href="https://twitter.com/travoramaid" style="text-decoration:none;">
                            <img src="@(EnvVariables.Get("general", "rootUrl") + @"/Assets/images/email-twitter.jpg")" alt="Travorama on Twitter" />
                        </a>
                        <a href="https://instagram.com/travorama" style="text-decoration:none;">
                            <img src="@(EnvVariables.Get("general", "rootUrl") + @"/Assets/images/email-instagram.jpg")" alt="Travorama on Instagram" />
                        </a>
                    </p>
                </th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody width="100%">
            <tr width="100%">
                <td width="5%"></td>
                <td colspan="2" width="90%">

                    <!-- CONTENT  -->
                    <p>
                    Terima kasih, Anda baru saja memesan penerbangan dari Travorama
                    </p>
                        <table width="100%" style="border-top: 2px #15b1e4 solid; border-bottom: 2px #15b1e4 solid; margin-bottom: 25px ">
                            <tr>
                                <td>
                                    <p style="color: #15b1e4; text-align: center">Metode Pembayaran : @Model.Payment.Method </p>
                                </td>
                            </tr>
                        </table>
                        <p>Lakukan pembayaran sesuai langkah berikut:</p>

                        <table width="100%" style="margin-bottom: 0px;">
                            <tr>
                                @{ var jamTimeLimit = Model.Payment.TimeLimit.AddHours(7);}
                                <td>
                                    <p style="font-style: italic; font-size: 11px; margin-bottom: 0px;margin-top:2px;">Batas waktu pembayaran anda adalah sebelum <span style="color: #15b1e4">@Model.Payment.TimeLimit.ToString("dddd", CultureInfo.CreateSpecificCulture("id-ID")), @jamTimeLimit.ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID")) - Pk @jamTimeLimit.ToString("HH:mm") WIB</span>.</p>
                                    <p style="font-size: 10px; opacity: 0.5; font-style: italic;margin-top: 1px; margin-bottom: 20px;">Jika lewat, booking Anda akan dibatalkan otomatis oleh sistem kami. Untuk booking yang sama, Anda harus melakukan pemesanan ulang dan harga kemungkinan besar akan berubah.</p>
                                </td>
                            </tr>
                        </table>
                    <table>
                        @foreach (var inst in Model.Instruction)
                        {
                            <tr>
                                <td>
                                    <p style="margin-left: 4px;">@inst.Item1:</p>
                                    <ol>
                                        @foreach (var inst2 in inst.Item2)
                                        {
                                            <li><p>@inst2</p></li>
                                        }
                                    </ol>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <p style="margin-bottom:10px">Setelah itu, mohon tunggu untuk verifikasi pembayaran maks. 10 menit</p>
                            </td>
                        </tr>
                    </table>

                        <p style="opacity: 0.8; font-size: 10px; font-style: italic; margin-bottom: 40px;">Jika ada pertanyaan dapat mengirimkan email ke <span style="color: #15b1e4"> cs@travorama.com </span> dengan mencantumkan <span style="color: #15b1e4">No. Pesanan Travorama </span></p>
                        <hr style="border-color: #15b1e4; border-style: dotted; margin-bottom: 20px;" width="100%" />
                        <p>E-mail tagihan ini bukan merupakan bukti pembayaran yang sah dan tidak dapat ditukar menjadi tiket apapun.</p>
                        <p style=" font-size: 11px; font-style: italic; margin-bottom: 50px;">E-mail ini ditujukan hanya untuk @Model.Contact.Name, karena Anda telah melakukan pemesanan melalui Travorama</p>

                        </td>
                        <td width="5%"></td>
                        </tr>
                        </tbody>
                        <tfoot width="100%">
                            <tr>
                                <td></td>
                                <td style="width: 60%;"><img style="width: 100%;" src="@(EnvVariables.Get("general", "rootUrl") + @"/Assets/images/email/plane-email-bg.jpg")" /></td>
                                <td style="padding-bottom:40px;">

                                    <address style="font-style:normal; float:right; width:240px; margin-right:0; margin-left:auto; font-size:12px;">

                                        <h4 style="color:#1daee5; margin-bottom:5px;">PT. Travel Madezy International</h4>
                                        <p style="margin-top:0; margin-bottom:5px;">
                                            <span style="color:#1daee5;">A.</span> Equity Tower 25th Floor, SCBD lot 9<br />Jl. Jenderal Sudirman Kav.52-53<br />Jakarta 12190
                                        </p>
                                        <p style="margin-top:0;">
                                            <!--<span style="color:#1daee5;">T.</span> 021 724 808 48-->
                                        </p>

                                    </address>

                                </td>

                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                        </table>


                    </body>
                </html>