@using System.Globalization
@model Lunggo.ApCommon.Flight.Model.FlightReservation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Eticket - Travorama</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
        .din,body{font-family:'din',helvetica,arial,sans-serif}h2{font-size:18px}h3{font-size:14px;margin:5px 0}h4{font-size:12px}h5{font-size:11px}p{font-size:11px}.ticket-wrapper .doc-header .doc-logo{text-align:right}.flight-section .flight-detail{border:1px solid #2CB3E6;padding:5px}.flight-section .flight-detail .booking-code{text-align:center}.flight-section .flight-detail .booking-code img{height:50px}.flight-section .flight-detail .flight-number{margin:0;padding:5px 0;border-bottom:1px solid #ddd}.flight-section .flight-detail .flight-origin h3{font-weight:bold}.flight-section .flight-detail .flight-origin h4{margin:5px 0}.flight-section .flight-detail .flight-destination h3{font-weight:bold}.flight-section .flight-detail .flight-destination h4{margin:5px 0}.flight-section .flight-note p{margin-bottom:0}.passenger-detail table{border:1px solid #2CB3E6;font-size:11px}.passenger-detail table thead th{border-color:#2CB3E6;background-color:#2CB3E6!important;color:#fff;-webkit-print-color-adjust:exact}
    </style>
</head>
    <body>


        <div class="ticket-wrapper ticket-flight">

            <header class="doc-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <h1 class="doc-title">Etiket</h1>
                        </div>
                        <div class="col-xs-6">
                            <div class="doc-logo">
                                <img src="http://travorama.com/Assets/images/logo-color.png" alt="Travorama" />
                            </div>
                        </div>
                    </div>
                </div>
            </header><!-- .ticket-header -->

            <section class="doc-content">
                <div class="container">
                    <section class="departure-flight flight-section">
                        <h2 class="section-title">Penerbangan Pergi</h2>
                        @foreach (var segment in Model.Itinerary.FlightTrips[0].FlightSegments)
                        {
                            <div class="flight-detail">
                                <div class="row">
                                    <div class="col-xs-3 booking-code">
                                        <img src="http://travorama.com@(segment.AirlineLogoUrl)" />
                                        <h4>Kode booking :</h4>
                                        <h3>@segment.Pnr</h3>
                                        @if (segment.AirlineCode != segment.OperatingAirlineCode)
                                        {
                                            <h5>Dioperasikan oleh @segment.OperatingAirlineName</h5>
                                        }
                                    </div>
                                    <div class="col-xs-9">
                                        <h3 class="flight-number">@segment.AirlineName - @segment.AirlineCode@segment.FlightNumber</h3>
                                        <div class="row">
                                            <div class="col-xs-6 flight-origin">
                                                <h3>Dari :</h3>
                                                <h4>@segment.DepartureTime.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</h4>
                                                <h4>@segment.DepartureTime.ToString("hh:mm")</h4>
                                                @if (segment.DepartureTerminal != "")
                                                {
                                                    <h4>Terminal @segment.DepartureTerminal</h4>
                                                }
                                                <h4>(@segment.DepartureAirport) @segment.DepartureAirportName</h4>
                                                <h4>@segment.DepartureCity</h4>
                                            </div>
                                            <div class="col-xs-6 flight-destination">
                                                <h3>Tujuan:</h3>
                                                <h4>@segment.ArrivalTime.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</h4>
                                                <h4>@segment.ArrivalTime.ToString("hh:mm")</h4>
                                                @if (segment.ArrivalTerminal != "")
                                                {
                                                    <h4>Terminal @segment.ArrivalTerminal</h4>
                                                }
                                                <h4>(@segment.ArrivalAirport) @segment.ArrivalAirportName</h4>
                                                <h4>@segment.ArrivalCity</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="flight-note">
                            <h3>catatan:</h3>
                            <ul>
                                <li><p>Semua waktu tertera adalah waktu bandara setempat</p></li>
                                <li><p>Mohon lakukan check-in minimal 2 jam sebelum keberangkatan</p></li>
                                <li><p>Penerbangan antar negara memerlukan passport</p></li>
                            </ul>
                        </div>
                    </section>
                    @if (Model.Itinerary.FlightTrips.Count > 1)
                    {
                        <section class="departure-flight flight-section">
                            <h2 class="section-title">Penerbangan Kembali</h2>
                            @foreach (var segment in Model.Itinerary.FlightTrips[0].FlightSegments)
                            {
                                <div class="flight-detail">
                                    <div class="row">
                                        <div class="col-xs-3 booking-code">
                                            <img src="http://travorama.com@(segment.AirlineLogoUrl)" />
                                            <h4>Kode booking :</h4>
                                            <h3>@segment.Pnr</h3>
                                            @if (segment.AirlineCode != segment.OperatingAirlineCode)
                                            {
                                                <h5>Dioperasikan oleh @segment.OperatingAirlineName</h5>
                                            }
                                        </div>
                                        <div class="col-xs-9">
                                            <h3 class="flight-number">@segment.AirlineName - @segment.AirlineCode@segment.FlightNumber</h3>
                                            <div class="row">
                                                <div class="col-xs-6 flight-origin">
                                                    <h3>Dari :</h3>
                                                    <h4>@segment.DepartureTime.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</h4>
                                                    <h4>@segment.DepartureTime.ToString("hh:mm")</h4>
                                                    @if (segment.DepartureTerminal != "")
                                                    {
                                                        <h4>Terminal @segment.DepartureTerminal</h4>
                                                    }
                                                    <h4>(@segment.DepartureAirport) @segment.DepartureAirportName</h4>
                                                    <h4>@segment.DepartureCity</h4>
                                                </div>
                                                <div class="col-xs-6 flight-destination">
                                                    <h3>Tujuan:</h3>
                                                    <h4>@segment.ArrivalTime.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</h4>
                                                    <h4>@segment.ArrivalTime.ToString("hh:mm")</h4>
                                                    @if (segment.ArrivalTerminal != "")
                                                    {
                                                        <h4>Terminal @segment.ArrivalTerminal</h4>
                                                    }
                                                    <h4>(@segment.ArrivalAirport) @segment.ArrivalAirportName</h4>
                                                    <h4>@segment.ArrivalCity</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="flight-note">
                                <h3>catatan:</h3>
                                <ul>
                                    <li><p>Semua waktu tertera adalah waktu bandara setempat</p></li>
                                    <li><p>Mohon lakukan check-in minimal 2 jam sebelum keberangkatan</p></li>
                                    <li><p>Penerbangan antar negara memerlukan passport</p></li>
                                </ul>
                            </div>
                        </section>
                    }
                    <section class="passenger-detail">
                        <h2 class="section-title">Detail Penumpang</h2>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="passenger-no">No</th>
                                    <th class="passenger-title">Title</th>
                                    <th class="passenger-name">Nama Penumpang</th>
                                    <th class="passenger-ticket">Jenis Tiket</th>
                                    <th class="passenger-luggage">Bagasi Terdaftar</th>
                                </tr>
                            </thead>
                            @for (var i = 0; i < Model.Passengers.Count; i++)
                            {
                                var passenger = Model.Passengers[i];
                                <tr>
                                    <td class="passenger-no">@(i + 1)</td>
                                    <td class="passenger-title">@passenger.Title.ToString()</td>
                                    <td class="passenger-name">@passenger.FirstName @passenger.LastName</td>
                                    <td class="passenger-ticket">@passenger.Type.ToString()</td>
                                    @if (passenger.Baggage != "")
                                    {
                                        <td class="passenger-luggage">@passenger.Baggage</td>
                                    }
                                    else
                                    {
                                        <td class="passenger-luggage">-</td>
                                    }
                                </tr>
                            }
                        </table>
                    </section><!-- .passenger-detail -->
                </div>
            </section><!-- .doc-content -->


            <footer class="doc-footer"></footer><!-- .ticket-footer -->

        </div><!-- .ticket-wrapper -->


    </body>

</html>
