@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay

@{
    FlightSegment prevSegment = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/ico" href="http://travorama.com/Assets/images/favico.ico" />

    <title>Travorama - eTicket</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="http://travorama.com/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://travorama.com/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://travorama.com/Assets/css/eticket.css">

</head>
<body class="eticket">

    @for (var i = 0; i < Model.Itinerary.Trips.Count; i++)
    {
        var trip = Model.Itinerary.Trips[i];
        <div class="page" style="page-break-after: always">
            <header class="page-header">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="http://travorama.com/Assets/images/logo-color.png" alt="Travorama" />
                    </div>
                    <div class="col-xs-8">
                        <div class="page-header-right">
                            <div class="page-title"><h3>E-TICKET</h3></div>
                            <div class="page-help">
                                <p>Any Problem? Contact Us :</p>
                                <p><span>T.</span>0838 7808 1993 <span>E.</span>help@travorama.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </header><!-- .page-header -->
            <section class="page-content">

                <div class="flight-list-wrapper departure-flight">

                    @if (i == 0)
                    {
                        <h2 class="flight-title"><span>PENERBANGAN PERGI</span></h2>
                    }
                    else
                    {
                        <h2 class="flight-title"><span>PENERBANGAN KEMBALI</span></h2>
                    }
                    <div class="flight-list">
                        @foreach (var segment in trip.Segments)
                        {
                            if (segment != trip.Segments.First())
                            {
                                var transitDuration = prevSegment.DepartureTime - segment.ArrivalTime;
                                <div class="transit">
                                    <p><b>Transit Duration :</b> @transitDuration.ToString(@"h\h m\m")</p>
                                </div>
                             <!-- .transit -->
                            }
                            <div class="flight">
                                <div class="flight-icon">
                                    <img src="@("http://travorama.com" + segment.AirlineLogoUrl)" alt="@segment.AirlineName" class="flight-airline" />
                                    <h5 class="flight-pnr">PNR : @segment.Pnr</h5>
                                </div><!-- .flight-icon -->
                                <div class="flight-detail">
                                    <div class="flight-number"><p>@segment.AirlineName @segment.AirlineCode@segment.FlightNumber <span></span></p></div>
                                    <div class="flight-route">
                                        <div class="departure-airline">
                                            <h3>@segment.DepartureAirport</h3>
                                            <h3>@segment.DepartureCity</h3>
                                            <h3>@segment.DepartureAirportName</h3>
                                        </div>
                                        <div class="departure-date">
                                            <h3>@segment.DepartureTime.ToString("hh:mm")</h3>
                                            <h3>@segment.DepartureTime.ToString("d MMMM yyyy")</h3>
                                        </div>
                                        <div class="duration">
                                            <h3>Duration - @segment.Duration.ToString("g")</h3>
                                        </div>
                                        <div class="arrival-date">
                                            <h3>@segment.ArrivalTime.ToString("hh:mm")</h3>
                                            <h3>@segment.ArrivalTime.ToString("d MMMM yyyy")</h3>
                                        </div>
                                        <div class="arrival-airport">
                                            <h3>@segment.ArrivalAirport</h3>
                                            <h3>@segment.ArrivalCity</h3>
                                            <h3>@segment.ArrivalAirportName</h3>
                                        </div>
                                    </div><!-- .flight-route -->
                                </div><!-- .flight-detail -->
                            </div>
                        <!-- .flight -->
                            if (segment != trip.Segments.Last())
                            {
                                prevSegment = segment;
                            }
                        }
                    </div>


                </div><!-- .flight.flight-list.departure-flight -->

                <table class="passenger-wrapper">
                    <thead>
                        <tr>
                            <th class="no">NO</th>
                            <th class="name">NAMA PENUMPANG</th>
                            <th class="type">JENIS TIKET</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var j = 0; j < Model.Passengers.Count; j++)
                        {
                            var passenger = Model.Passengers[j];
                            <tr>
                                <td class="no">@(j + 1)</td>
                                <td class="name">@passenger.Title @passenger.FirstName @passenger.LastName</td>
                                <td class="type">@passenger.Type</td>
                            </tr>
                        }
                    </tbody>
                </table><!-- .passenger-wrapper -->
            </section><!-- .page-content -->
            <footer class="page-footer">
                <div class="row">
                    <div class="col-xs-10">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate lectus sapien, at blandit justo cursus id. Aliquam at accumsan libero, nec vulputate erat. Mauris venenatis nibh sed tortor congue, eu volutpat diam luctus. Suspendisse non mauris tristique, vehicula nisl sit amet, sodales nisl. Integer dapibus sapien augue, in accumsan orci ornare vel. Integer a ultricies augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </footer><!-- .page-footer -->
        </div>
    <!-- .page -->
    }

</body>
</html>