@using System.Globalization
@using Lunggo.Framework.Config
@model Lunggo.ApCommon.Flight.Model.FlightNotifDeveloper
@{ var env = ConfigManager.GetInstance().GetConfigValue("general", "environment"); }
<html>
<head>
    <title>
        Failed Issue in Travorama
    </title>
</head>
<body>
    <p>@(env != "production" ? "THIS IS A TEST EMAIL. PLEASE IGNORE THIS DREADED EMAIL. SORRY FOR THE INCONVENIENCE." : "")</p>
    <p>Reservation Number : @Model.RsvNo</p>
    @if (Model.FlightIssueData.Count > 1)
    {
        <p>Itinerary : 1</p>
        <p>Airline Agent : @Model.FlightIssueData[0].SupplierName</p>
        <p>Reservation Price : @Model.FlightIssueData[0].SupplierPrice</p>
        <p>Current Deposit : @Model.FlightIssueData[0].CurentDeposit</p>

        <p>Itinerary : 2</p>
        <p>Airline Agent : @Model.FlightIssueData[1].SupplierName</p>
        <p>Reservation Price : @Model.FlightIssueData[1].SupplierPrice</p>
        <p>Current Deposit : @Model.FlightIssueData[1].CurentDeposit</p>
    }
    else
    {
        <p>Airline Agent : @Model.FlightIssueData[0].SupplierName</p>
        <p>Reservation Price : @Model.FlightIssueData[0].SupplierPrice</p>
        <p>Current Deposit : @Model.FlightIssueData[0].CurentDeposit</p>
    }

    </body>

</html>