@using System.Globalization
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Travorama </title>
</head>
<body style="font-size:14px;">

    <table style="border-collapse:collapse; width:600px; margin-left:auto; margin-right:auto; font-family:helvetica, 'myriad pro', arial, sans-serif;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="600px" style="text-align:center; border-bottom:1px solid #ccc;">
                <br />
                <img src="http://travorama.com/Assets/images/email/travorama-logo.jpg" alt="Travorama" />
                <br />
                <br />
            </td>
        </tr>
    </table>

    <table style="border-collapse:collapse; width:600px; margin-left:auto; margin-right:auto; font-family:helvetica, 'myriad pro', arial, sans-serif;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="3" width="600px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="50px"></td>
            <td width="500px" style="vertical-align:top;">

                <p style="text-align:right;">NO. PESANAN : @Model.RsvNo</p>

                <p>Dear @Model.Contact.Name</p>
                <p>Terima kasih atas pemesanan tiket pesawat Anda melalui Travorama. </p>
                <p>Lakukan pembayaran sebesar total tagihan: <b>Rp @Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</b> ke nomor <b>virtual account : @Model.Payment.TargetAccount</b></p>
                <p>Setelah melakukan pembayaran, e-tiket Anda akan diterbitkan dan dikirimkan ke email Anda.</p>
                <p><b>Penting!</b></p>
                <p>Lakukan pembayaran sebelum melewati batas waktu. Jika melewati batas waktu maka booking Anda akan dibatalkan otomatis oleh sistem kami. Anda harus melakukan pemesanan ulang dan terdapat kemungkinan perubahan harga.</p>
                <p>Jika ada pertanyaan, kirimkan email ke <a href="mailto:customercare@travorama.com" style="color:#0050ef; text-decoration:none;">customercare@travorama.com</a> atau hubungi CS kami di <b>1 500 650</b> dengan mencantumkan no. pesanan Anda.</p>
                <p>Email ini adalah email tagihan, BUKAN merupakan bukti pembayaran dan tidak dapat ditukar menjadi tiket penerbangan.</p>

                <hr />
                <p>Berikut adalah cara pembayaran melalui jaringan ATM :</p>
                <p>Cara Pembayaran melalui <b>ATM Mandiri/Jaringan ATM Bersama :</b></p>
                <ol>
                    <li>Masukkan PIN Anda.</li>
                    <li>Di Menu utama, pilih <b>Transaksi Lainnya.</b></li>
                    <li>Pilih <b>Transfer.</b></li>
                    <li>Pilih <b>Antar Bank Online.</b></li>
                    <li>Masukkan nomor <b>@Model.Payment.TargetAccount</b> (kode 013 dan 16 digit <i>Virtual account</i>).</li>
                    <li>No. referensi dapat dikosongkan, lalu tekan <b>Benar</b>.</li>
                    <li>Masukkan jumlah harga tiket yang akan Anda bayar secara lengkap (tanpa pembulatan). Pembayaran untuk dua kode booking harus dilakukan secara terpisah. Setelah itu tekan <b>Benar</b>.</li>
                    <li>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok tekan <b>Benar</b>.</li>
                    <li>Transaksi Berhasil.</li>
                </ol>
                <p>Cara Pembayaran melalui <b>ATM BCA/Jaringan ATM PRIMA </b>:</p>
                <ol>
                    <li>Masukkan PIN Anda.</li>
                    <li>Di Menu utama, pilih <b>Transaksi Lainnya.</b></li>
                    <li>Pilih <b>Transfer.</b></li>
                    <li>Pilih <b>ke Rek Bank Lain.</b></li>
                    <li>Masukkan kode <b>013</b> untuk Bank Permata lalu tekan <b>Benar</b>.</li>
                    <li>Masukkan jumlah harga tiket yang akan Anda bayar secara lengkap (tanpa pembulatan). Pembayaran untuk dua atau lebih pesanan harus dilakukan secara terpisah. Setelah itu tekan <b>Benar</b>.</li>
                    <li>Masukkan <b>@Model.Payment.TargetAccount</b> (16 digit no. <i>virtual account</i> pembayaran) lalu tekan <b>Benar</b>.</li>
                    <li>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok tekan <b>Benar</b>.</li>
                    <li>Transaksi berhasil.</li>
                </ol>
                <p>Cara Pembayaran melalui <b>ATM Bank Permata</b>:</p>
                <ol>
                    <li>Masukkan PIN Anda.</li>
                    <li>Di Menu utama, pilih <b>Transaksi Lainnya.</b></li>
                    <li>Pilih <b>Transaksi Pembayaran.</b></li>
                    <li>Pilih <b>Lain-lain</b>.</li>
                    <li>Pilih <b>Pembayaran Virtual Account</b>.</li>
                    <li>Masukkan 16 digit no. Virtual Account <b>@Model.Payment.TargetAccount</b></li>
                    <li>Di halaman konfirmasi akan muncul no. <i>virtual account</i>, lalu tekan <b>Benar</b>.</li>
                    <li>Pilih rekening pembayaran Anda dan tekan <b>Benar</b>.</li>
                    <li>Transaksi Berhasil.</li>
                </ol>
                <p>Cara Pembayaran melalui <b>ATM Alto</b> :</p>
                <ol>
                    <li>Masukkan PIN Anda.</li>
                    <li>Di Menu utama, pilih <b>Transaksi Lainnya.</b></li>
                    <li>Pilih <b>Transfer</b>.</li>
                    <li>Pilih Ke <b>Rek Bank Lain</b>.</li>
                    <li>Masukkan kode <b>013</b> untuk Bank Permata lalu tekan <b>Benar</b>.</li>
                    <li>Masukkan jumlah harga tiket yang akan Anda bayar secara lengkap (tanpa pembulatan). Pembayaran untuk dua atau lebih pesanan harus dilakukan secara terpisah. Setelah itu tekan <b>Benar</b>.</li>
                    <li>Masukkan <b>@Model.Payment.TargetAccount</b> (16 digit no. <i>virtual account</i> pembayaran) lalu tekan <b>Benar</b>.</li>
                    <li>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok tekan <b>Benar</b>.</li>
                    <li>Transaksi berhasil.</li>
                </ol>
            </td>
            <td width="50px"></td>
        </tr>
        <tr>
            <td colspan="3" width="500px" style="padding-bottom:10px;">
                &nbsp;
            </td>
        </tr>

    </table>

    <table style="border-collapse:collapse; width:600px; margin-left:auto; margin-right:auto; font-family:helvetica, 'myriad pro', arial, sans-serif;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="50px" style="background-color:#f2f2f2; background:#f2f2f2;">&nbsp;</td>
            <td width="500px" style="background-color:#f2f2f2; background:#f2f2f2;">
                <p style="font-size:12px;">Email ini ditujukan untuk @Model.Contact.Name karena Anda telah melakukan pemesanan dari PT Travel Madezy Internasional melalui Travorama © 2015.</p>
            </td>
            <td width="50px" style="background-color:#f2f2f2; background:#f2f2f2;">&nbsp;</td>
        </tr>
        <tr>
            <td width="50px" style="background-color:#f2f2f2; background:#f2f2f2;">&nbsp;</td>
            <td width="500px" style="background-color:#f2f2f2; background:#f2f2f2;">
                <p style="text-align:center; font-size:12px; padding-top:10px; padding-right:0; padding-bottom:10px; padding-left:0;">Travorama, equity tower 25th floor, scbd lot 9, jl. jendral sudirman kav 52 -53</p>
                <p style="text-align:center; font-size:12px; margin-bottom:5px;"><b>Layanan Customer:</b></p>
                <p style="text-align:center; font-size:12px; margin-top:0;"><a href="#" style="color:#0050ef; text-decoration:none;"> <img src="http://travorama.com/Assets/images/email/mail-icon.png" alt="M" /> customercare@travorama.com</a>  | <img src="http://travorama.com/Assets/images/email/phone-icon.png" alt="F" /> 1500650</p>
                <p style="text-align:center; font-size:12px; margin-bottom:5px;"><b>Follow kami di :</b></p>
                <p style="text-align:center; font-size:12px; margin-top:0;">
                    <a href="http://www.facebook.com/travorama" style="color:#0050ef; text-decoration:none;"> <img src="http://travorama.com/Assets/images/email/facebook-icon.png" alt="F" /> www.facebook.com/travorama</a>  | <a href="http://twitter.com/travoramaid" style="color:#0050ef; text-decoration:none;"> <img src="http://travorama.com/Assets/images/email/twitter-icon.png" alt="T" /> &#64;travoramaid</a>  | <a href="http://instagram.com/travorama" style="color:#0050ef; text-decoration:none;"><img src="http://travorama.com/Assets/images/email/instagram-icon.png" alt="I" /> &#64;travorama</a>
                </p>
            </td>
            <td width="50px" style="background-color:#f2f2f2; background:#f2f2f2;">&nbsp;</td>
        </tr>
    </table>

</body>
</html>