@using System.Globalization
@using Lunggo.Framework.Config
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color:#F4F4F4; color:#535353; font-family:arial, helvetica, sans-serif; font-size:12px;">


    <table style="margin-left:auto; margin-right:auto; width:100%; max-width:700px; display:block; background:#ffffff;">
        <thead width="100%">
            <tr width="100%">
                <th width="5%"></th>
                <th colspan="2" width="90%" style="padding-top:30px;">
                    <p style="text-align:right;">
                        <a href="http://travorama.com" style="text-decoration:none;">
                            <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/travorama-logo-color.png")" alt="Travorama" />
                        </a>
                        <br />
                        <a href="https://www.facebook.com/travorama" style="text-decoration:none;">
                            <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/email-facebook.jpg")" alt="Travorama on Facebook" />
                        </a>
                        <a href="https://twitter.com/travoramaid" style="text-decoration:none;">
                            <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/email-twitter.jpg")" alt="Travorama on Twitter" />
                        </a>
                        <a href="https://instagram.com/travorama" style="text-decoration:none;">
                            <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/email-instagram.jpg")" alt="Travorama on Instagram" />
                        </a>
                    </p>
                </th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody width="100%">
            <tr width="100%">
                <td width="5%"></td>
                <td colspan="2" width="90%">

                    <!-- CONTENT  -->

                    <p style="font-size: 12px">Dear <span style="color: #15b1e4">@Model.Contact.Name,</span></p>
                    <p style="font-size: 12px">Terima Kasih telah mempercayai <b>Travorama</b> dalam pemesanan tiket pesawat Anda.  <br /> Pemesanan Anda telah dikonfirmasi dengan sukses.</p>
                    <p style="font-size: 12px">E-tiket Anda terdapat di attachment atau klik tombol berikut untuk mendownload e-ticket Anda :</p>

                    <a style="background-color: #ffd632; border: #e9d14d; display: inline-block; margin-left:15%; text-decoration: none; font-family:arial, helvetica, sans-serif;
                            width: 70%; padding-top: 17px; padding-bottom: 17px; text-align: center; font-size: 11px; color: #333333; margin-top: 10px;"
                       href="https://lunggostorageqa.blob.core.windows.net/eticket/@(Model.RsvNo).pdf" target="_blank"><b>DOWNLOAD E-TICKET</b></a>

                    <p style="font-size: 9px; text-align: center; margin-bottom: 30px;"><b>Print e-tiket Anda di atas kertas ukuran A4 untuk ditunjukkan pada proses check-in di bandara.</b></p>
                    <p style="font-size: 9px; text-align: center; ">*(Invoice / kwitansi pembayaran juga telah disertakan sebagai attachment)</p>
                    <p style="font-size: 12px;">Ringkasan penerbangan Anda sebagai berikut :</p>
                    <table width="100%" style="margin-bottom: 10px;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <hr style="border-color: #f5f5f5; " />
                            </td>
                            <td width="5%"></td>
                            <td>
                                <hr style="border-color: #f5f5f5; " />
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <p style="opacity: 0.5">Maskapai</p>
                                @if (@Model.Itinerary.Trips.Count > 1)
                                {
                                    <p style=""><b>@Model.Itinerary.Trips[0].Segments[0].AirlineName (@Model.Itinerary.Trips[0].Segments[0].AirlineCode-@Model.Itinerary.Trips[0].Segments[0].FlightNumber)</b></p>
                                    <p style=""><b>@Model.Itinerary.Trips[1].Segments[0].AirlineName (@Model.Itinerary.Trips[1].Segments[0].AirlineCode-@Model.Itinerary.Trips[1].Segments[0].FlightNumber)</b></p>
                                }
                                else
                                {
                                    <p style=""><b>@Model.Itinerary.Trips[0].Segments[0].AirlineName (@Model.Itinerary.Trips[0].Segments[0].AirlineCode-@Model.Itinerary.Trips[0].Segments[0].FlightNumber)</b></p>
                                }
                            </td>
                            <td width="5%"></td>
                            <td width="20%">
                                <p style="opacity: 0.5">Rute</p>
                                @if (@Model.Itinerary.Trips.Count > 1)
                                {
                                    <p style=""><b>@Model.Itinerary.Trips[0].OriginAirport - @Model.Itinerary.Trips[0].DestinationAirport</b></p>
                                    <p style=""><b>@Model.Itinerary.Trips[1].OriginAirport - @Model.Itinerary.Trips[1].DestinationAirport</b></p>
                                }
                                else
                                {
                                    <p style=""><b>@Model.Itinerary.Trips[0].OriginAirport - @Model.Itinerary.Trips[0].DestinationAirport</b></p>
                                }

                            </td>
                        </tr>
                    </table>
                    <table width="100%" style="margin-bottom: 30px;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <hr style="border-color: #f5f5f5; " />
                            </td>
                            <td width="5%"></td>
                            <td>
                                <hr style="border-color: #f5f5f5; " />
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <p style="opacity: 0.5">Waktu Penerbangan</p>
                                @if (@Model.Itinerary.Trips.Count > 1)
                                {
                                    var jamBerangkat = @Model.Itinerary.Trips[0].Segments[0].DepartureTime;
                                    var jamKembali = @Model.Itinerary.Trips[1].Segments[0].DepartureTime;
                                    <p style=""><b>@Model.Itinerary.Trips[0].DepartureDate.ToString("dddd", CultureInfo.CreateSpecificCulture("id-ID")), @Model.Itinerary.Trips[0].DepartureDate.ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID")) - Pk @jamBerangkat.ToString("hh:mm")</b></p>
                                    <p style=""><b>@Model.Itinerary.Trips[1].DepartureDate.ToString("dddd", CultureInfo.CreateSpecificCulture("id-ID")), @Model.Itinerary.Trips[1].DepartureDate.ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID")) - Pk @jamKembali.ToString("hh:mm")</b></p>
                                }
                                else
                                {
                                    var jamBerangkat = @Model.Itinerary.Trips[0].Segments[0].DepartureTime;
                                    <p style=""><b>@Model.Itinerary.Trips[0].DepartureDate.ToString("dddd", CultureInfo.CreateSpecificCulture("id-ID")), @Model.Itinerary.Trips[0].DepartureDate.ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID")) - Pk @jamBerangkat.ToString("hh:mm")</b></p>
                                }

                            </td>
                            <td width="5%"></td>
                            <td width="20%">
                                <p style="opacity: 0.5">Kode Booking Maskpai (PNR)</p>
                                @if (@Model.Itinerary.Trips.Count > 1)
                                {
                                    <p style=""><b>@Model.Itinerary.Trips[0].Segments[0].Pnr</b></p>
                                    <p style=""><b>@Model.Itinerary.Trips[1].Segments[0].Pnr</b></p>
                                }
                                else
                                {
                                    <p style=""><b>@Model.Itinerary.Trips[0].Segments[0].Pnr</b></p>
                                }

                            </td>
                        </tr>
                    </table>
                    <table width="100%" cellpadding="0" cellspacing="0" style="border-top: 3px #15b1e4 solid; margin-bottom: 10px; ">
                        <thead>
                            <tr>
                                <th colspan="6" solid=solid style="color: #15b1e4; border-bottom: 3px solid; ">
                                    <p style="color: #15b1e4; text-align: left"><b>Penumpang yang terdaftar :</b></p>
                                </th>
                            </tr>
                        </thead>
                        @{ var i = @Model.Passengers.Count; }
                        @{ var j = 1; }
                        <tr>
                            <td width="18.2%" rowspan="@i">
                                <p style="color: #15b1e4; text-align: right;">Guest Name</p>
                            </td>
                            <td width="11%">
                                <p style="color: #15b1e4; text-align: center;">:</p>
                            </td>
                            <td>
                                <p style="color: #15b1e4; text-align: left;">1. @Model.Passengers[0].FirstName @Model.Passengers[0].LastName</p>
                            </td>
                            <td width="20%"></td>
                            <td width="5%" style="padding-right: 1%;">
                                <hr style="border-color:#15b1e4;" />
                            </td>
                            <td width="7%">
                                @Model.Passengers[0].Type
                            </td>
                        </tr>
                        @for (int k = 1; k < i; k++)
                        {
                            <tr>
                                <td width="11%">
                                    <p style="color: #15b1e4; text-align: center;">:</p>
                                </td>
                                <td>
                                    <p style="color: #15b1e4; text-align: left;">@(k + 1). @Model.Passengers[k].FirstName @Model.Passengers[k].LastName</p>
                                </td>
                                <td width="20%"></td>
                                <td width="5%" style="padding-right: 1%;">
                                    <hr style="border-color:#15b1e4;" />
                                </td>
                                <td width="7%">
                                    @Model.Passengers[k].Type
                                </td>
                            </tr>
                        }
                    </table>
                    <p style="color: #15b1e4; font-size: 10px; font-style: italic;">*Sertakan juga dokumen yang diperlukan, seperti kartu identitas Anda berupa KTP/SIM (rute domestik), Paspor (rute Internasional).</p>
                    <p style="color: #15b1e4; font-size: 10px; margin-bottom: 20px; font-style: italic;">*Harap tiba di bandara 1 jam sebelum waktu keberangkatan. Waktu yang tertera adalah waktu lokal bandara setempat..</p>
                    <hr style="border-color: #15b1e4; border-style: dotted; margin-bottom: 3%;" width="100%" />
                    <p style="font-size: 10px; font-style: italic; margin-bottom: 30px;">Email ini ditujukan hanya untuk @Model.Contact.Name, karena Anda telah melakukan pemesanan melalui Travorama</p>

                </td>
                <td width="5%"></td>
            </tr>
        </tbody>
        <tfoot width="100%">
            <tr>
                <td></td>
                <td style="width: 60%;"><img style="width: 100%;" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/email/plane-email-bg.jpg")" /></td>
                <td style="padding-bottom:40px;">

                    <address style="font-style:normal; float:right; width:240px; margin-right:0; margin-left:auto; font-size:12px;">

                        <h4 style="color:#1daee5; margin-bottom:5px;">PT. Travel Madezy International</h4>
                        <p style="margin-top:0; margin-bottom:5px;">
                            <span style="color:#1daee5;">A.</span> Equity Tower 25th Floor, SCBD lot 9<br />Jl. Jenderal Sudirman Kav.52-53<br />Jakarta 12190
                        </p>
                        <p style="margin-top:0;">
                            <span style="color:#1daee5;">T.</span> 021 724 808 48
                        </p>

                    </address>

                </td>

                <td>
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>


</body>
</html>