@using System.Globalization
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay
@using Lunggo.ApCommon.Constant
@using Lunggo.Framework.Config

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/ico" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/favico.ico")" />

    <title>Travorama - eTicket</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/invoice.min.css")">

</head>
<body class="eticket">

    <div class="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/travelmadezy-logo.jpg")" alt="Travelmadezy" />
                        <address>
                            <p><b>pt. travelmadezy internasional</b></p>
                            <p>equity tower 25th ﬂoor, scbd lot 9, jl. jendral sudirman kav. 52 - 53</p>
                            <!-- <p>p. +62 21 29035088  / +62 21 29035089 | f. +62 21 29035099 </p> -->
                        </address>
                    </div>
                </div>
            </div>
        </header><!-- .page-header -->
        <section class="page-content">

            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="invoice-detail">
                            <h3>INVOICE</h3>
                            <table>
                                <tr>
                                    <td>Number</td>
                                    <td>@Model.RsvNo</td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td>@Model.Payment.Time.GetValueOrDefault().ToString("dddd"), @Model.Payment.Time.GetValueOrDefault().ToString("dd MMM yyy")</td>
                                </tr>
                                <tr>
                                    <td>Time</td>
                                    <td>Pk @Model.Payment.Time.GetValueOrDefault().AddHours(7).ToString("HH:mm") WIB</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="customer-detail">
                            <h3>Customer Detail</h3>
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>@Model.Contact.Name</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>@Model.Contact.Email</td>
                                </tr>
                                <tr>
                                    <td>Contact Number</td>
                                    <td>@Model.Contact.Phone</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="payment-detail">
                    <h3>Payment Detail</h3>
                    <table>
                        <thead>
                            <tr>
                                <th class="number">P.O NUMBER</th>
                                <th class="payment-method">PEMBELIAN MELALUI</th>
                                <th class="payment-status">DETAIL TRANSAKSI</th>
                                <th class="terms">TERMS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="number">@Model.RsvNo</td>
                                <td class="payment-method">@EnumDisplay.PaymentMethod(Model.Payment.Method)</td>
                                <td class="payment-status">Lunas</td>
                                <td class="terms">Due on Receipt</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container">
                <div class="purchase-detail">
                    <h3>Puchase Detail</h3>
                    <table>
                        <thead>
                            <tr>
                                <th class="no">NO.</th>
                                <th class="item">JENIS ITEM</th>
                                <th class="description">DESKRIPSI</th>
                                <th class="qty">QTY</th>
                                <th class="price"></th>
                                <th class="total-price">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = Model.Itinerary.Trips.Count;}
                            @for (int k = 0; k < i; k++)
                            {
                                <tr>
                                    <td class="no">@(k + 1).</td>
                                    <td class="item">Tiket Pesawat</td>
                                    <td class="description">@Model.Itinerary.Trips[k].Segments[0].AirlineName @Model.Itinerary.Trips[k].OriginAirport-@Model.Itinerary.Trips[k].DestinationAirport @Model.Itinerary.Trips[k].DepartureDate.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                    <td class="qty">@Model.Passengers.Count</td>
                                    <td class="price"></td>
                                    <td class="total">@((Model.Payment.FinalPrice + Model.Discount).ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</td>
                                </tr>
                            }
                            @if (Model.VoucherCode != null)
                            {
                                <tr>
                                    <td class="no"></td>
                                    <td class="item">Voucher</td>
                                    <td class="description">@Model.VoucherCode</td>
                                    <td class="qty">1</td>
                                    <td class="price"></td>
                                    <td class="total">-@Model.Discount.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"></td>
                                <td colspan="2"><strong>TOTAL</strong></td>
                                <td>@Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td colspan="2"><strong>ADMINISTRATION FEE</strong></td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td colspan="2"><strong>PAYMENT AMOUNT</strong></td>
                                <td>@Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </section><!-- .page-content -->
    </div><!-- .page -->
    

    <!-- ****************************** -->
    <!-- javascripts -->
    <script src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/js/jquery.min.js")"></script>

    @if (IsSectionDefined("AdditionalPageJavascript"))
    {
        @RenderSection("AdditionalPageJavascript");
    }

    @if (IsSectionDefined("PageJavascript"))
    {
        @RenderSection("PageJavascript");
    }


</body>
</html>


