@using System.Globalization
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay

Dear @Model.Contact.Name,

Jadwal Penerbangan Anda Berubah!!!

Ringkasan penerbangan Anda:
@foreach (var segment in Model.Itinerary.Trips.SelectMany(trip => trip.Segments))
{
    <div>
        =============================|===============================
        Maskapai                     : @segment.AirlineName (@segment.AirlineCode@segment.FlightNumber)
        Rute                         : @segment.DepartureAirport - @segment.ArrivalAirport
        Waktu penerbangan            : @segment.DepartureTime.ToString("d MMMM yyyy, HH:mm (dddd)", CultureInfo.CreateSpecificCulture("id-ID"))
        Kode booking maskapai (PNR)  : @segment.Pnr

    </div>
}
=============================|===============================
Penumpang yang terdaftar di tiket:
<ol>
    @foreach (var passenger in Model.Pax)
    {
        <li>@passenger.Title.ToString() @passenger.FirstName @passenger.LastName (Jenis tiket: @passenger.Type.ToString())</li>
    }
</ol>
Sertakan juga dokumen yang diperlukan maupun kartu identitas Anda berupa KTP/SIM (rute domestik), Paspor (rute internasional).
Harap tiba di bandara 2 jam sebelum waktu keberangkatan.
Waktu yang tertera adalah waktu lokal bandara setempat.
Terima kasih.

==================================|==================================

E-mail ini ditujukan untuk @Model.Contact.Name, karena Anda telah melakukan
pemesanan dari PT Travel Madezy Internasional melalui Travorama.com.
© 2015, PT Travel Madezy Internasional.