@using System.Globalization
@model Lunggo.ApCommon.Flight.Model.FlightReservation

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Travorama </title>
</head>
<body style="font-size:14px;">

    <table style="border-collapse:collapse; width:600px; margin-left:auto; margin-right:auto; font-family:helvetica, 'myriad pro', arial, sans-serif;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="600px" style="text-align:center; border-bottom:1px solid #ccc;">
                <br />
                <img src="http://travorama.com/Assets/images/email/travorama-logo.jpg" alt="Travorama" />
                <br />
                <br />
            </td>
        </tr>
    </table>

    <table style="border-collapse:collapse; width:600px; margin-left:auto; margin-right:auto; font-family:helvetica, 'myriad pro', arial, sans-serif;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="3" width="600px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="50px"></td>
            <td width="500px" style="vertical-align:top;">

                <p style="text-align:right;">NO. PESANAN : @Model.RsvNo</p>

                <p>Dear @Model.Contact.Name</p>
                <p>Terima kasih atas pemesanan tiket pesawat Anda melalui Travorama. </p>
                <p>Tiket pesawat Anda telah dikonfirmasi. </p>
                <p>Attachment berikut adalah e-tiket dan e-invoice Anda. Anda dapat menunjukkan e-tiket atau hasil print e-tiket tersebut pada saat proses check-in di bandara.</p>
                Ringkasan penerbangan Anda:
                @foreach (var segment in Model.Itinerary.FlightTrips.SelectMany(trip => trip.FlightSegments))
                {
                    <div>
                        =============================|===============================
                        Maskapai                     : @segment.AirlineName (@segment.AirlineCode@segment.FlightNumber)
                        Rute                         : @segment.DepartureAirport - @segment.ArrivalAirport
                        Waktu penerbangan            : @segment.DepartureTime.ToString("d MMMM yyyy, hh:mm (dddd)", CultureInfo.CreateSpecificCulture("id-ID"))
                        Kode booking maskapai (PNR)  : @segment.Pnr

                    </div>
                }
                =============================|===============================
                Penumpang yang terdaftar di tiket:
                <ol>
                    @foreach (var passenger in Model.Passengers)
                    {
                        <li>@passenger.Title.ToString() @passenger.FirstName @passenger.LastName (Jenis tiket: @passenger.Type.ToString())</li>
                    }
                </ol>
                <p><b>Penting!</b></p>
                <p>Sertakan dokumen yang diperlukan serta kartu identitas Anda seperti KTP/SIM (rute domestik) dan paspor (rute internasional).</p>
                <p>Harap tiba di bandara minimal 1 jam sebelum keberangkatan. Waktu yang tertera adalah waktu lokal bandara setempat.</p>

            </td>
            <td width="50px"></td>
        </tr>
        <tr>
            <td colspan="3" width="500px" style="padding-bottom:10px;">
                &nbsp;
            </td>
        </tr>

    </table>

    <table style="border-collapse:collapse; width:600px; margin-left:auto; margin-right:auto; font-family:helvetica, 'myriad pro', arial, sans-serif;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="50px" style="background-color:#f2f2f2; background:#f2f2f2;">&nbsp;</td>
            <td width="500px" style="background-color:#f2f2f2; background:#f2f2f2;">
                <p style="font-size:12px;">Email ini ditujukan untuk @Model.Contact.Name karena Anda telah melakukan pemesanan dari PT Travel Madezy Internasional melalui Travorama © 2015.</p>
            </td>
            <td width="50px" style="background-color:#f2f2f2; background:#f2f2f2;">&nbsp;</td>
        </tr>
        <tr>
            <td width="50px" style="background-color:#f2f2f2; background:#f2f2f2;">&nbsp;</td>
            <td width="500px" style="background-color:#f2f2f2; background:#f2f2f2;">
                <p style="text-align:center; font-size:12px; padding-top:10px; padding-right:0; padding-bottom:10px; padding-left:0;">Travorama, equity tower 25th floor, scbd lot 9, jl. jendral sudirman kav 52 -53</p>
                <p style="text-align:center; font-size:12px; margin-bottom:5px;"><b>Layanan Customer:</b></p>
                <p style="text-align:center; font-size:12px; margin-top:0;"><a href="mailto:customercare@travorama.com" style="color:#0050ef; text-decoration:none;"> <img src="http://travorama.com/Assets/images/email/mail-icon.png" alt="M" /> customercare@travorama.com</a>  | <img src="http://travorama.com/Assets/images/email/phone-icon.png" alt="F" /> 1500650</p>
                <p style="text-align:center; font-size:12px; margin-bottom:5px;"><b>Follow kami di :</b></p>
                <p style="text-align:center; font-size:12px; margin-top:0;">
                    <a href="http://www.facebook.com/travorama" style="color:#0050ef; text-decoration:none;"> <img src="http://travorama.com/Assets/images/email/facebook-icon.png" alt="F" /> www.facebook.com/travorama</a>  | <a href="http://twitter.com/travoramaid" style="color:#0050ef; text-decoration:none;"> <img src="http://travorama.com/Assets/images/email/twitter-icon.png" alt="T" /> &#64;travoramaid</a>  | <a href="http://instagram.com/travorama" style="color:#0050ef; text-decoration:none;"><img src="http://travorama.com/Assets/images/email/instagram-icon.png" alt="I" /> &#64;travorama</a>
                </p>
            </td>
            <td width="50px" style="background-color:#f2f2f2; background:#f2f2f2;">&nbsp;</td>
        </tr>
    </table>

</body>
</html>