@using System.Globalization
@using Lunggo.Framework.Config
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay
@{ var env = ConfigManager.GetInstance().GetConfigValue("general", "environment"); }
<html>
<head>
    <title>
        Failed Issue in Travorama
    </title>
</head>
<body>
    <p>@(env != "production" ? "THIS IS A TEST EMAIL. PLEASE IGNORE THIS DREADED EMAIL. SORRY FOR THE INCONVENIENCE." : "")</p>
    <p>Reservation Number : @Model.RsvNo</p>
    @for (int i = 0; i < Model.ItinCount; i++)
    {
        <p>Itinerary : @i</p>
        <p>Airline Agent : @Model.SupplierName[i]</p>
        <p>Reservation Price : @Model.LocalPrice[i]</p>
        <p>Current Deposit : @Model.CurrentDeposit[i]</p>
    }

</body>

</html>