@using System.Globalization
@using Lunggo.ApCommon.Hotel.Service
@using Lunggo.Framework.Config
@using Lunggo.ApCommon.Constant
@model Lunggo.ApCommon.Hotel.Model.HotelReservationForDisplay
@{
    ViewBag.SiteHeader = "header-email";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/ico" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/favico.ico")" />

    <title>Travorama - eTicket</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/css/neweticket.css")" />

</head>
<body class="eticket">
    <div class="page page-hotel-voucher">
        <header class="page-header">
            <div class="row">
                <div class="col-xs-4">
                    <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/travorama-logo-color.png")" />
                </div>
                <div class="col-xs-8">
                    <div class="page-header-right pull-right">
                        <div class="page-title"><h3><span class="black-txt">HOTEL</span> VOUCHER</h3></div>
                    </div>
                </div>
            </div>
        </header>
        <section class="page-content">
            <div class="hotel-wrapper">
                <div class="hotel-top">
                    <p>
                        <img class="img-phone" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/phone.png")" /><span class="blue-txt">021 1234 5678</span>
                        <img class="img-email" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/email/mail.png")" /><span class="blue-txt">cs@travorama.com</span>
                    </p>
                    <img class="img-hotel" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/voucher-hotel-bg.jpg")" />
                </div>
                <div class="hotel-middle">
                    <div class="row">
                        <div class="col-xs-2">
                            <h4>
                                Nomor Reservasi
                                <h4 class="blue-txt"><b>@Model.RsvNo</b></h4>
                            </h4>
                        </div>
                        <div class="col-xs-10">
                            <div class="right-side">
                                <h4 class="blue-txt uppercase"><b>@Model.HotelDetail.HotelName</b></h4>
                                <p><img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/hotel-star-4.png")" /></p>
                                <p class="grey-txt">
                                    <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/location.png")" /> @Model.HotelDetail.Address, @Model.HotelDetail.City
                                </p>
                                <p class="grey-txt">
                                    <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/phone.png")" /> @Model.HotelDetail.PhonesNumbers[0]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hotel-bottom">
                    <h3><b>DETAIL PEMESANAN</b></h3>
                    <div class="hotel-detail">
                        <div class="row">
                            <div class="col-xs-3">
                                <p style=""><b>Nomor Reservasi</b></p>
                            </div>
                            <div class="col-xs-9">
                                <p style="">: <b>@Model.RsvNo</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <p style=""><b>Nama Tamu</b></p>
                            </div>
                            <div class="col-xs-9">
                                <p style="">: <b>@Model.Pax[0].Title @Model.Pax[0].Name</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-9">
                                <div class="hotel-booked">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <span class="blue-txt">Check-in from</span>
                                        </div>
                                        <div class="col-xs-3">
                                            <span>.........................</span>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="blue-txt">Check-out until</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <span class="blue-txt md-txt"><b>@Model.HotelDetail.CheckInDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</b></span>
                                        </div>
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-3">
                                            <span class="blue-txt md-txt"><b>@Model.HotelDetail.CheckOutDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</b></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <span class="grey-txt">14.00</span>
                                        </div>
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-3">
                                            <span class="grey-txt">12.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Jumlah Tamu per Kamar</p>
                            </div>
                            <div class="col-xs-9">
                                <p>: @(Model.HotelDetail.Rooms[0].Rates[0].AdultCount + Model.HotelDetail.Rooms[0].Rates[0].ChildCount) orang</p>
                            </div>
                        </div>
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Tipe Kamar</p>
                            </div>
                            <div class="col-xs-9">
                                <p>: @HotelService.GetInstance().GetHotelRoom(Model.HotelDetail.Rooms[0].RoomCode).RoomDescId @HotelService.GetInstance().GetHotelBoardDescId(Model.HotelDetail.Rooms[0].Rates[0].Boards)</p>
                            </div>
                        </div>
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Jumlah Kamar</p>
                            </div>
                            <div class="col-xs-9">
                                <p>: @Model.HotelDetail.Rooms[0].Rates[0].RoomCount</p>
                            </div>
                        </div>

                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Rate Comment</p>
                            </div>
                            <div class="col-xs-9">
                                <p>: @String.Join(". ", Model.HotelDetail.Rooms[0].Rates[0].TermAndCondition)</p>
                            </div>
                        </div>

                        @if (Model.HotelDetail.SpecialRequest != null && Model.HotelDetail.SpecialRequest.Length != 0)
                        {
                            <tr>
                                <td width="160px" style="">
                                    <p style="color: #525252;">Permintaan Khusus</p>
                                </td>
                                <td width="480px" style="padding-left: 30px;">
                                    <p style="">: @Model.HotelDetail.SpecialRequest</p>
                                </td>
                            </tr>
                        }
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Termasuk Sarapan?</p>
                            </div>
                            <div class="col-xs-9">
                                @if (Model.HotelDetail.Rooms[0].Rates[0].Boards != "RO")
                                {
                                    <p> : Ya</p>
                                }
                                @if (Model.HotelDetail.Rooms[0].Rates[0].Boards == "RO")
                                {
                                    <p> : Tidak</p>
                                }
                            </div>
                        </div>
                        @if (Model.HotelDetail.SpecialRequest != null && Model.HotelDetail.SpecialRequest.Length != 0)
                        {
                            <div class="row grey-txt">
                                <div class="col-xs-3">
                                    <p>Special Request</p>
                                </div>
                                <div class="col-xs-9">
                                    <p>: @Model.HotelDetail.SpecialRequest</p>
                                </div>
                            </div>
                        }
                        @if (Model.HotelDetail.IsRestaurantAvailable || Model.HotelDetail.IsWifiAccessAvailable)
                        {
                            <div class="row grey-txt">
                                <div class="col-xs-3">
                                    <p>Fasilitas</p>
                                </div>
                                <div class="col-xs-9">
                                    <p>
                                        @if (Model.HotelDetail.IsWifiAccessAvailable)
                                        {
                                            <span><img class="img-wifi" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/wifi.png")" />Free Wifi</span>
                                        }
                                        @if (Model.HotelDetail.IsRestaurantAvailable)
                                        {
                                            <span><img class="img-swim" src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/swim.png")" />Kolam Renang</span>
                                        }
                                    </p>
                                    @foreach (var facility in Model.HotelDetail.Facilities.Other)
                                    {
                                        <p> @facility <br /> </p>
                                    }
                                </div>
                            </div>
                        }
                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Fasilitas</p>
                            </div>
                            <div class="col-xs-9">
                                @foreach (var facility in Model.HotelDetail.Facilities.Other)
                                {
                                    <p> @facility <br /> </p>
                                }
                            </div>
                        </div>

                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p></p>
                            </div>
                            <div class="col-xs-9">
                                <p>
                                    &quot;Payable through @Model.HotelDetail.SupplierName, acting as agent for the service operating

                                    company, details of which can be provided upon request&quot;. VAT: @Model.HotelDetail.SupplierVat

                                    Reference: @Model.HotelDetail.BookingReference
                                </p>
                            </div>
                        </div>

                        <div class="row grey-txt">
                            <div class="col-xs-3">
                                <p>Client Reference</p>
                            </div>
                            <div class="col-xs-9">
                                <p>: @Model.HotelDetail.ClientReference</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>