@using Lunggo.Framework.Config

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color:#F4F4F4; color:#535353; font-family:arial, helvetica, sans-serif; font-size:14px;">


    <table style="margin-left:auto; margin-right:auto; width:100%; max-width:700px; display:block; background:#ffffff;">
        <thead width="100%">
            <tr width="100%">
                <th width="5%"></th>
                <th width="90%" style="padding-top:30px;">
                    <p style="text-align:right;">
                        <a href="http://travorama.com" style="text-decoration:none;">
                            <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/travorama-logo-color.png")" alt="Travorama" />
                        </a>
                        <br />
                        <a href="https://www.facebook.com/travorama" style="text-decoration:none;">
                            <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/email-facebook.jpg")" alt="Travorama on Facebook" />
                        </a>
                        <a href="https://twitter.com/travoramaid" style="text-decoration:none;">
                            <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/email-twitter.jpg")" alt="Travorama on Twitter" />
                        </a>
                        <a href="https://instagram.com/travorama" style="text-decoration:none;">
                            <img src="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/Assets/images/email-instagram.jpg")" alt="Travorama on Instagram" />
                        </a>
                    </p>
                </th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody width="100%">
            <tr width="100%">
                <td width="5%"></td>
                <td width="90%">

                    <!-- CONTENT  -->

                    <p style="font-size: 12px;">Dear Traveler,</p>
                    <p style="font-size: 12px; ">You are a lucky person.</p>
                    <p style="font-size: 12px">Berikut kode voucher Rp @Model.Amount kamu :</p>

                    <div style="background-color: #ffd632; border: #e9d14d; display: inline-block; margin-left:20%; text-decoration: none; font-family:arial, helvetica, sans-serif; width: 60%; padding-top: 17px; padding-bottom: 17px; text-align: center; margin-top: 18px; margin-bottom: 18px; font-size: 11px; color: #333333;">
                        <b>@Model.Code</b>
                    </div>

                    <p style="font-size: 12px;">Gunakan kode voucher pada saat melakukan transaksi pembelian di <a href="http://www.travorama.com" style="color: #15b1e4"> www.travorama.com </a>.</p>
                    <p style="font-size: 12px;">Happy Chinese New Year 2567. Semoga di tahun Monyet Api peruntungan kamu semakin baik.</p>
                    <table width="100%" style="border-top:1px solid #15b1e4 ; margin-top: 30px; margin-bottom: 20px">
                        <tr></tr>
                    </table>
                    <p style="font-size: 12px;">Cara menggunakan voucher :</p>
                    <p style="font-size: 12px;">1. Buka <a href="http://www.travorama.com" style="color: #15b1e4"> www.travorama.com </a> dan pilih penerbangan yang Anda inginkan, klik "PESAN" dan klik "LANJUTKAN".</p>
                    <p style="font-size: 12px;">2. Isi data pesanan, data kontak dan data penumpang.</p>
                    <p style="font-size: 12px;">3. Pada "METODE PEMBAYARAN" pilih metode pembayaran yang akan digunakan.</p>
                    <p style="font-size: 12px;">4. Pada bagian "Kode Voucher" masukkan Kode Voucher Anda. Lalu klik "Redeem".</p>
                    <p style="font-size: 12px;">5. Selesaikan transaksi belanja Anda dengan klik "BAYAR".</p>
                    <table width="100%" style="border-bottom:1px solid #15b1e4 ; margin-top: 10px; margin-bottom: 20px;">
                        <tr></tr>
                    </table>
                    <p style="font-size: 12px;">Syarat & Ketentuan Voucher :</p>
                    <p style="font-size: 12px;">1. Voucher berlaku hingga 31 Mei 2016</p>
                    <p style="font-size: 12px;">2. Tanpa minimum pembelian</p>
                    <p style="font-size: 12px;">3. Satu kode voucher hanya bisa digunakan untuk 1x transaksi</p>
                    <p style="font-size: 12px;">4. Voucher hanya bisa digunakan dengan alamat email yang telah terdaftar</p>
                    <p style="font-size: 12px;">5. Voucher berlaku untuk semua pembelian di www.travorama.com</p>
                    <p style="font-size: 12px;">6. Voucher tidak dapat digabung dengan promo lain</p>
                    <p style="font-size: 12px;">7. Voucher tidak dapat diuangkan</p>
                    <table width="100%" style="border-bottom:1px solid #15b1e4 ; margin-top: 10px; margin-bottom: 20px;">
                        <tr></tr>
                    </table>
                    <p style="font-size: 12px;  opacity: 0.7">Jika ada pertanyaan, silahkan kirim email Anda ke <span style="color: #15b1e4"> cs@travorama.com </span>.</p>
                    <p style="font-size: 12px;  opacity: 0.7">Travorama, Enjoy your every moment!</p>
                </td>
                <td width="5%"></td>
            </tr>
        </tbody>
        <tfoot width="100%">
            <tr>
                <td></td>
                <td style="padding-bottom:30px;">

                    <address style="font-style:normal; float:right; width:240px; margin-right:0; margin-left:auto; font-size:12px;">

                        <h4 style="color:#1daee5; margin-bottom:5px;">PT. Travel Madezy International</h4>
                        <p style="margin-top:0; margin-bottom:5px;">
                            <span style="color:#1daee5;">A.</span> Equity Tower 25th Floor, SCBD lot 9<br />Jl. Jenderal Sudirman Kav.52-53<br />Jakarta 12190
                        </p>
                        <p style="margin-top:0;">
                            <!--<span style="color:#1daee5;">T.</span> 021 724 808 48-->
                        </p>

                    </address>

                </td>

                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>


</body>
</html>