@using HtmlParserSharp.Core
@model Lunggo.Flight.Model.FlightReservationIntegrated

@{
    ViewBag.Title = "Flight Reservation Edit";
    var trip = Model.Trip.FirstOrDefault();
    var tripId = trip.TripId.GetValueOrDefault();
}

@if (Model != null)
{
    <h3>
        <i class="fa fa-angle-right"></i> Edit Flight Reservation <small> > @Model.Reservation.RsvNo</small>
    </h3>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.Reservation.RsvNo)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-12 showback">
                <h4>Reservation</h4>
                <hr />
                <div class="row">
                    <div class="col-md-2 control-label">Contact Name</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.ContactName, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.ContactName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 control-label">Wholesaler</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.WholesalerCd, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.WholesalerCd, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 control-label">Customer Fee</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.PaymentFeeForCust, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.PaymentFeeForCust, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 control-label">Contact E-mail</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.ContactEmail, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 control-label">Wholesaler Price</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.WholesalerPrice, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.WholesalerPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 control-label">Our Fee</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.PaymentFeeForUs, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.PaymentFeeForUs, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 control-label">Contact Phone</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.ContactPhone, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.ContactPhone, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 control-label">Gross Profit</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.GrossProfit, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.GrossProfit, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 control-label">USD Rate</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.UsdExchangeRate, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.UsdExchangeRate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 control-label">Contact Address</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.ContactAddress, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.ContactAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 control-label">Final Price</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Reservation.FinalPrice, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Reservation.FinalPrice, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">

                </div>
            </div>

            <div id="trip">
                <div class="row">
                    @Html.HiddenFor(model => Model.Trip[0].TripId)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-4">
                        <div class="showback">
                            <h4>Trip 1</h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">Booking Number</div>
                                <div class="col-md-6">Final Price</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.EditorFor(model => Model.Trip[0].BookingNumber, new { htmlAttributes = new { @class = "form-control" } })<br />
                                    @Html.ValidationMessageFor(model => Model.Trip[0].BookingNumber, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6">
                                    @Html.EditorFor(model => Model.Trip[0].FinalPrice, new { htmlAttributes = new { @class = "form-control" } })<br />
                                    @Html.ValidationMessageFor(model => Model.Trip[0].FinalPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-offset-1 col-md-11">
                        <div class="showback added-set" id="sequence">
                            <h4>Trip Sequence</h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-2">Airline</div>
                                <div class="col-md-2">Flight Number</div>
                                <div class="col-md-2">Departure Airport</div>
                                <div class="col-md-2">Departure Time</div>
                                <div class="col-md-2">Arrival Airport</div>
                                <div class="col-md-2">Arrival Time</div>
                            </div>
                            @Html.HiddenFor(model => Model.TripDetail[tripId])
                            @for (var i = 0; i < Model.TripDetail[tripId].Count; i++)
                            {
                                @Html.HiddenFor(model => Model.TripDetail[tripId][i].TripId)
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.TripDetail[tripId][i].CarrierCd, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.TripDetail[tripId][i].CarrierCd, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.TripDetail[tripId][i].FlightNumber, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.TripDetail[tripId][i].FlightNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.TripDetail[tripId][i].DepartureAirportCd, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.TripDetail[tripId][i].DepartureAirportCd, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.TripDetail[tripId][i].DepartureTime, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.TripDetail[tripId][i].DepartureTime, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.TripDetail[tripId][i].ArrivalAirportCd, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.TripDetail[tripId][i].ArrivalAirportCd, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.TripDetail[tripId][i].ArrivalTime, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.TripDetail[tripId][i].ArrivalTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                            @Html.ActionLink("Add another...", "RenderTripDetailInput", null, new { @id = "sequence", @class = "adder" })
                        </div>

                        <div class="showback">
                            <h4>Passenger</h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-2">First Name</div>
                                <div class="col-md-2">Last Name</div>
                                <div class="col-md-1">Gender</div>
                                <div class="col-md-2">Birth Date</div>
                                <div class="col-md-1">Type</div>
                                <div class="col-md-2">ID Number</div>
                                <div class="col-md-1">Country</div>
                            </div>
                            @for (var i = 0; i < Model.Passenger[tripId].Count; i++)
                            {
                                @Html.HiddenFor(model => Model.Passenger[tripId][i].PassengerId)
                                <div class="row" id="passenger">
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.Passenger[tripId][i].FirstName, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.Passenger[tripId][i].FirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.Passenger[tripId][i].LastName, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.Passenger[tripId][i].LastName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.EditorFor(model => Model.Passenger[tripId][i].Gender, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.Passenger[tripId][i].Gender, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.Passenger[tripId][i].BirthDate, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.Passenger[tripId][i].BirthDate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.EditorFor(model => Model.Passenger[tripId][i].PassengerTypeCd, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.Passenger[tripId][i].PassengerTypeCd, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.Passenger[tripId][i].IdCardNo, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.Passenger[tripId][i].IdCardNo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => Model.Passenger[tripId][i].CountryCd, new { htmlAttributes = new { @class = "form-control" } })<br />
                                        @Html.ValidationMessageFor(model => Model.Passenger[tripId][i].CountryCd, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Detail", Model)">
                    <div class="btn btn-default">
                        Cancel
                    </div>
                </a>
            </div>

        </div>
    }
}
else
{
    <h3><i class="fa fa-angle-right"></i> Edit Flight Reservation <h1> > NOT FOUND</h1></h3>
}