@using CsQuery.ExtensionMethods.Internal
@using Lunggo.Flight.Model
@using Lunggo.Repository.TableRecord
@using Microsoft.Ajax.Utilities
@model List<Lunggo.Flight.Model.FlightReservationIntegrated>

@{
    ViewBag.Title = "Flight Reservation List";
}

<h3><i class="fa fa-angle-right"></i> Flight Reservation</h3>
<div class="row">

    <div class="col-md-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Flight Reservation List</h4>
            <hr>
            <table class="table table-hover table-flight-booking">
                <thead>
                    <tr>
                        <th>Reservation</th>
                        <th>Status</th>
                        <th>Contact Name</th>
                        <th>Reservation Time</th>
                        <th>Flight</th>
                        <th>Type</th>
                        <th>Departure Time</th>
                        <th>Return Time</th>
                        <th>Passenger</th>
                        <th>Total Price</th>
                        <th>Payment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var integrated in Model)
                    {
                        var trip = integrated.Trip.FirstOrDefault();
                        var tripId = trip.TripId.GetValueOrDefault();
                        <tr>
                            <td>
                                <a href="@Url.Action("Detail", new FlightReservationSearch(integrated.Reservation.RsvNo))">@integrated.Reservation.RsvNo</a>
                            </td>
                            <td>
                                @if (integrated.Reservation.RsvStatusCd == "COM")
                                {
                                    <span class="label label-success">Complete</span><br />
                                }
                                else
                                {
                                    <span class="label label-danger">Incomplete</span><br />
                                }
                            </td>
                            <td>
                                @integrated.Reservation.ContactName
                            </td>
                            <td>
                                @integrated.Reservation.RsvTime.GetValueOrDefault().ToString("d MMM yyyy")<br />
                                @integrated.Reservation.RsvTime.GetValueOrDefault().ToString("HH:mm:ss")
                            </td>
                            <td>
                                @trip.OriginAirportCd - @trip.DestinationAirportCd
                            </td>
                            <td>
                                @if (@trip.TripTypeCd == "RET")
                                {
                                    @Html.Raw("RETURN");
                                }
                                else
                                {
                                    @Html.Raw("ONE-WAY");
                                }
                            </td>
                            <td>
                                @trip.DepartureTime.GetValueOrDefault().ToString("d MMM yyyy")<br />
                                @trip.DepartureTime.GetValueOrDefault().ToString("HHmm")
                            </td>
                            <td>
                                @if (trip.ReturnTime == null)
                                {
                                    <span class="label label-default">Not Applicable</span><br />
                                }
                                else
                                {
                                    @trip.ReturnTime.GetValueOrDefault().ToString("d MMM yyyy")<br />
                                    @trip.ReturnTime.GetValueOrDefault().ToString("HHmm")
                                }
                            </td>
                            <td>
                                @if (ViewData["Name"] == null)
                                {
                                    @Html.Raw(String.Format("({0} people)", integrated.Passenger[tripId].Count));
                                }
                                else
                                {
                                    var passenger = integrated.Passenger[tripId].First(p => (p.FirstName + " " + p.LastName).ToLower().Contains(ViewData["Name"].ToString().ToLower()));
                                    @passenger.FirstName<wbr/>
                                    @passenger.LastName<br/>
                                    if (integrated.Passenger[tripId].Count > 1)
                                    {
                                        @Html.Raw(String.Format("et. al. ({0} more)", integrated.Passenger[tripId].Count - 1));
                                    }
                                }
                            </td>
                            <td>
                                @integrated.Reservation.FinalPrice.GetValueOrDefault().ToString("Rp0,0")
                            </td>
                            <td>
                                @if (integrated.Reservation.PaymentStatusCd == "YES")
                                {
                                    <span class="label label-success">Complete</span><br />
                                }
                                else
                                {
                                    <span class="label label-danger">Incomplete</span><br />
                                }
                                by @integrated.Reservation.PaymentMethodCd
                            </td>

                            <td>
                                <a href="@Url.Action("Detail", new FlightReservationSearch(integrated.Reservation.RsvNo))" class="btn btn-xs btn-info"><span class="fa fa-eye"> view</span></a><br />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div><!--/content-panel -->
    </div><!-- /col-md-12 -->

</div><!-- row -->
