@model Lunggo.Repository.TableRecord.FlightReservationsTableRecord

<div class="showback">
    <h4>Reservation Detail</h4>
    <hr />
    <table class="table table-hover table-no-border">
        <tbody>
            <tr>
                <td>Reservation Number</td>
                <td>@Model.RsvNo</td>
            </tr>
            <tr>
                <td>Reservation Time</td>
                <td>@Model.RsvTime.GetValueOrDefault().ToString("d MMM yyyy HH:mm:ss")</td>
            </tr>
            <tr>
                <td>Reservation Status</td>
                <td>
                    @if (Model.RsvStatusCd == "COM")
                    {
                        <span class="label label-success">Complete</span><br />
                    }
                    else
                    {
                        <span class="label label-danger">Incomplete</span><br />
                    }
                </td>
            </tr>
            <tr>
                <td>Total Price</td>
                <td>@Model.FinalPrice.GetValueOrDefault().ToString("Rp0,0")</td>
            </tr>
            <tr>
                <td>Payment Method</td>
                <td>@Model.PaymentMethodCd</td>
            </tr>
            <tr>
                <td>Payment Status</td>
                <td>
                    @if (Model.PaymentStatusCd == "YES")
                    {
                        <span class="label label-success">Complete</span><br />
                    }
                    else
                    {
                        <span class="label label-danger">Incomplete</span><br />
                    }
                </td>
            </tr>
            <tr>
                <td>Contact Name</td>
                <td>@Model.ContactName</td>
            </tr>
            <tr>
                <td>Contact E-mail</td>
                <td>@Model.ContactEmail</td>
            </tr>
            <tr>
                <td>Contact Phone</td>
                <td>@Model.ContactPhone</td>
            </tr>
            <tr>
                <td>Contact Address</td>
                <td>@Model.ContactAddress</td>
            </tr>
            <tr>
                <td>Membership</td>
                <td>
                    @if (Model.MemberCd == "YES")
                    {
                        <span class="label control-label label-success">Member</span>
                    }
                    else
                    {
                        <span class="label control-label label-default">Not Member</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <div class="flipped" id="reservation-detail">
        <table class="table table-hover table-no-border">
            <tbody>
                <tr>
                    <td>Cancelled</td>
                    <td>
                        @if (Model.CancellationTypeCd == "NO")
                        {
                            <span class="label label-success">No</span><br />
                        }
                        else
                        {
                            <span class="label label-danger">YES</span><br />
                        }
                    </td>
                </tr>
                <tr>
                    <td>Cancellation Time</td>
                    <td>@Model.CancellationTime.GetValueOrDefault().ToString("d MMM yyyy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td>@Model.LangCd</td>
                </tr>
                <tr>
                    <td>Wholesaler</td>
                    <td>@Model.WholesalerCd</td>
                </tr>
                <tr>
                    <td>Wholesaler Price</td>
                    <td>@Model.WholesalerPrice.GetValueOrDefault().ToString("Rp0,0")</td>
                </tr>
                <tr>
                    <td>Gross Profit</td>
                    <td>@Model.GrossProfit.GetValueOrDefault().ToString("Rp0,0")</td>
                </tr>
                <tr>
                    <td>Customer Fee</td>
                    <td>@Model.PaymentFeeForCust.GetValueOrDefault().ToString("Rp0,0")</td>
                </tr>
                <tr>
                    <td>Our Fee</td>
                    <td>@Model.PaymentFeeForUs.GetValueOrDefault().ToString("Rp0,0")</td>
                </tr>
                <tr>
                    <td>USD Rate</td>
                    <td>@Model.UsdExchangeRate.GetValueOrDefault().ToString("Rp0,0")</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flipper" id="reservation-detail" align="center">
        Show More
    </div>
</div>