@model Lunggo.CustomerWeb.WebSrc.UW200.Object.Uw200HotelDetailResponse

@{
    ViewBag.Title = "GetHotelDetail";

    Layout = "/Views/Shared/_layout_20150506.cshtml";
}

@section AdditionalPageJavascript {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
}

@section PageJavascript {
    <script>

        // start google maps
        function initialize() {
            var hotelLat = $('.hotel-map').attr('data-lat');
            var hotelLng = $('.hotel-map').attr('data-lng');
            var myLatlng = new google.maps.LatLng(hotelLat, hotelLng);
            var mapOptions = {
                zoom: 16,
                scrollwheel: false,
                mapTypeControl: false,
                streetViewControl: false,
                center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
}


<!-- .search-page content start -->
<div class="detail-page hotel-detail-page">

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="site-nav"> <a href="/">Beranda</a> / <strong>Hotel List</strong></div>
                    <hr>
                    <h1 class="hotel-name">@Model.HotelDetail.HotelName <span class="hotel-star" data-generateStar="@Model.HotelDetail.StarRating">  <span class="star star-4"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></span> </span></h1>
                </div>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="hotel-image">
                    
                    <div class="hotel-main-image" style="background-image:url(@Model.HotelDetail.ImageUrlList.First().FullSizeUrl);"></div>
                    <div class="hotel-thumb">
                        @foreach (var imgList in Model.HotelDetail.ImageUrlList)
                        {
                            <a href="#"><img src="@imgList.ThumbSizeUrl" alt="Hotel Image" data-image-url="@imgList.FullSizeUrl"></a>
                        }
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="hotel-map" data-lng="@Model.HotelDetail.Longitude" data-lat="@Model.HotelDetail.Latitude" data-location="@Model.HotelDetail.IsLatLongSet">
                    <div class="hotel-address">
                        @{
                            String fullAddress = "";
                            
                            if (@Model.HotelDetail.Address != null)
                            {
                                fullAddress = @Model.HotelDetail.Address;
                            }
                            
                            if (@Model.HotelDetail.Area != null)
                            {
                                fullAddress += ", " + @Model.HotelDetail.Area;
                            }

                            if (@Model.HotelDetail.Province != null)
                            {
                                fullAddress += ", " + @Model.HotelDetail.Province;
                            }

                            if (@Model.HotelDetail.Country != null)
                            {
                                fullAddress += ", " + @Model.HotelDetail.Country;
                            }
                        }
                        <p>@(fullAddress)</p>
                    </div>
                    <div class="hotel-map-placeholder" id="map-canvas"></div>
                </div>
            </div>
        </div>
    </section><!-- .container -->

    <section class="room-search container">
        <div class="row">
            <div class="col-sm-12">
                <header>
                    <form action="#" class="form form-inline" id="form-room" data-hotelId="@Model.HotelDetail.HotelId">
                        <div class="form-group checkin">
                            <label for="form-room-checkin" class="control-label">Check In:</label>

                            <input type="text" class="form-control" id="form-room-checkin" value="@Model.StayDate.ToString("yyyy-MM-dd")">

                        </div>
                        @{
                            var dataDate = Model.StayDate.ToString("dd");
                            var dataStay = Model.StayLength;

                            var getCheckOutDate = Convert.ToInt32(dataDate) + Convert.ToInt32(dataStay);    
                            
                        }
                        <div class="form-group checkout">
                            <label for="form-room-checkout" class="control-label">Check Out:</label>
                            <input type="text" class="form-control" id="form-room-checkout" value="@Model.StayDate.ToString("yyyy MM") @getCheckOutDate">
                        </div>
                        <div class="form-group duration">
                            <label for="form-room-duration" class="control-label">Duration:</label>

                            <input type="text" class="form-control" id="form-room-length" value="@Model.StayLength">

                        </div>
                        <div class="form-group qty">
                            <label for="form-room-qty" class="control-label">Rooms:</label>
                            <input type="text" class="form-control" id="form-room-qty" value="@Model.RoomOccupants.Count()">
                        </div>
                        <div class="form-action">
                            <input type="image" src="/assets/images/search.png" class="btn btn-yellow">
                        </div>
                    </form>
                </header>
                <section ng-controller="RoomController as room_list">
                    <h3 class="section-title"><b>ROOM</b> PACKAGE</h3>

                    <section class="room-loading" ng-if="!loaded">
                        <img src="/Assets/images/loading-image-dark.gif"/>
                    </section>

                    <section class="room-list" ng-if="loaded">
                        <!-- Loop start here -->
                        <article class="room" ng-repeat="room in room_list.rooms">
                            <div class="room-image">
                                <img src="/assets/images/_sample/room-thumb.jpg" alt="Room">
                            </div>
                            <div class="room-detail">
                                <h2 class="room-name">
                                    <span ng-repeat="singleRoom in room.RoomList">{{singleRoom.RoomName}} {{$last ? '' : ' + '}}</span>
                                </h2>
                                <div class="room-content">
                                    <div class="room-desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cum sapiente, explicabo reprehenderit est obcaecati id porro, voluptas odit illo amet, necessitatibus labore optio minima quasi molestiae libero. Quas, facilis.</p>
                                    </div>
                                    <div class="room-facilities">
                                        <h3>Facilities:</h3>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <ul>
                                                    <li>Lorem ipsum</li>
                                                    <li>Lorem ipsum</li>
                                                    <li>Lorem ipsum</li>
                                                    <li>Lorem ipsum</li>
                                                    <li>Lorem ipsum</li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-6">
                                                <ul>
                                                    <li>Lorem ipsum</li>
                                                    <li>Lorem ipsum</li>
                                                    <li>Lorem ipsum</li>
                                                    <li>Lorem ipsum</li>
                                                    <li>Lorem ipsum</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="room-price">
                                        <h3>Final Price:</h3>
                                        <h5 class="room-price-was"><del>Rp 500.000</del></h5>
                                        <h2 class="room-price-now">{{room.FinalPackagePrice.Currency}} {{room.FinalPackagePrice.Value | number}}</h2>
                                        <small>Harga sudah termasuk pajak</small>
                                        <a href="/Uw300/Uw300HotelBookingForm" class="btn btn-primary room-book" data-packageId="{{room.PackageId}}">Book now !</a>
                                        <a href="#">Terms &amp; Conditions</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                        <!-- Loop end here -->
                    </section>

                </section>
            </div>
        </div>
    </section><!-- .room-search -->
    <section class="hotel-text container">
        <div class="row">
            <div class="col-sm-6">
                <div class="hotel-description">
                    <h3 class="section-title"><b>HOTEL</b> DESCRIPTION</h3>
                    @{
                        foreach (var textDesc in (Model.HotelDetail.HotelDescription))
                        {
                            <p>@textDesc.Description.Value</p>
                        }
                    }
                    
                    <a class="btn btn-primary no-radius"> <img src="/assets/images/terms-icon.png" alt="Terms and Conditions"> Terms &amp; Conditions</a>
                </div>
            </div>
            
            
            <div class="col-sm-6">
                <div class="hotel-facilities">
                    <h3 class="section-title"><b>HOTEL</b> FACILITIES</h3>
                    <div class="row">
                        @{
                            double faciLength = Model.HotelDetail.Facilities.Count();

                            var leftSection = Math.Ceiling(faciLength / 2);
                            //var rightSection = Math.Floor(faciLength / 2);
                            var i = 0;
                            <div class="col-xs-6">
                                <ul>
                                    @foreach (var faciLeft in (Model.HotelDetail.Facilities))
                                    {
                                        if (i != leftSection)
                                        {
                                            <li>@faciLeft.FacilityName</li>
                                            i++;
                                        }
                                    }
                                </ul>
                            </div>
                            
                            <div class="col-xs-6">
                                <ul>
                                    @foreach (var faciRight in (Model.HotelDetail.Facilities))
                                    {
                                        if (i != faciLength)
                                        {
                                            <li>@faciRight.FacilityName</li>
                                            i++;
                                        }
                                    }
                                </ul>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section><!-- .hotel-text -->
    <section class="hotel-review container hide">
        <h3 class="section-title"><b>HOTEL</b> REVIEW</h3>
        <section class="review-sum">
            <div class="row">
                <div class="col-sm-2"><img src="/assets/images/hotel-review-header.png" alt="Hotel review"></div>
                <div class="col-sm-10">
                    <p>Sleep Quality </p> <img src="/assets/images/_sample/bar-1.png" alt=""> <br>
                    <p>Location </p> <img src="/assets/images/_sample/bar-2.png" alt=""> <br>
                    <p>Rooms </p> <img src="/assets/images/_sample/bar-3.png" alt=""> <br>
                    <p>Service </p> <img src="/assets/images/_sample/bar-4.png" alt=""> <br>
                    <p>Cleanliness </p> <img src="/assets/images/_sample/bar-5.png" alt="">
                </div>
            </div>
        </section>
        <section class="review-list">
            <!-- loop start here -->
            <article class="review">
                <div class="row">
                    <div class="col-sm-10 review-left">
                        <header>
                            <a href="#" class="review-user"><span class="fa fa-user"></span> Rama Adhitia</a>
                            <span class="review-date pull-right"><span class="fa fa-calendar"></span> 2015 Februari 30</span>
                        </header>
                        <h3 class="review-title">Thank you AMARIS HOTEL</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel deserunt consequuntur voluptas neque fugiat porro quas accusamus blanditiis. Porro officiis a quas accusamus repellat, saepe atque libero non nesciunt aliquid.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vero labore ab maxime animi impedit velit ducimus deleniti, quod hic omnis voluptatum deserunt ex incidunt placeat. Incidunt amet culpa, ratione?</p>
                    </div><!-- .col-sm-9 -->
                    <div class="col-sm-2 review-right">
                        <summary>
                            <p>SCORE:</p>
                            <span class="score">
                                7.8
                            </span>
                            <span class="max-score">
                                / 10
                            </span>
                            <p class="score-circle">
                                <span class="fa fa-circle"></span>
                                <span class="fa fa-circle"></span>
                                <span class="fa fa-circle"></span>
                                <span class="fa fa-circle"></span>
                                <span class="fa fa-circle-o"></span>
                            </p>
                        </summary>
                    </div><!-- .col-sm-3 -->
                </div>
            </article>
            <!-- loop end here -->
        </section>
    </section><!-- .hotel-review -->
    <section class="location container hide">
        <h3 class="section-title"><b>SUGGESTION</b> &amp; INFORMATION</h3>
        <img src="/assets/images/_sample/sample-tab.jpg" alt="">
    </section><!-- .location -->
    <section class="suggestion container">
        <h3 class="section-title"><b>YOU MAY</b> ALSO LIKE</h3>
        <div class="row">

            <!-- hotel suggestion loop start here -->

            <div class="col-sm-3">
                <div class="hotel">
                    <a href="#">
                        <img src="/assets/images/_sample/hotel-image.jpg" alt="Hotel thumb">
                        <h2>HILTON HOTEL</h2>
                    </a>
                </div>
            </div>

            <!-- hotel suggestion loop end here -->

        </div>
    </section><!-- .suggestion -->


</div>
<!-- .search-page content end -->