@using System.Globalization
@using Lunggo.ApCommon.Hotel.Model
@using Lunggo.ApCommon.Hotel.Service
@model Lunggo.ApCommon.Hotel.Model.HotelDetailForDisplay
@{

    var night = (Model.CheckOutDate - Model.CheckInDate).Days;
    var hotelImg = "";
    var images = HotelService.GetInstance().GetHotelDetailFromDb(Model.HotelCode).ImageUrl ?? new List<Image>();
    var orDefault = images.Where(i => i.Type == "GEN").ToList().FirstOrDefault();
    hotelImg = orDefault == null
        ? "/Assets/travorama20/images/Hotel/no-hotel.png"
        : "https://photos.hotelbeds.com/giata/" + orDefault.Path;

    new List<int>();
    new List<Tuple<string, int>>();
    var totalRoom = 0;

    try
    {
        totalRoom += Model.Rooms.Sum(room => room.Rates.Sum(rate => rate.Breakdowns.Sum(config => config.RateCount)));
    }
    catch (Exception)
    { }
}

<div class="fb-hotel">
    <div class="clearfix">
        <div class="col-6 lg-txt blue-txt bold-txt">@ToTitleCase.ConvertToTitleCase(Model.HotelName)</div>
        <div class="col-4">
            @if (Model.StarRating == 1)
            {
                <span class="star pull-right"></span>
            }
            else if (Model.StarRating == 2)
            {
                <span class="star star-2 pull-right"></span>
            }
            else if (Model.StarRating == 3)
            {
                <span class="star star-3 pull-right"></span>
            }
            else if (Model.StarRating == 4)
            {
                <span class="star star-4 pull-right"></span>
            }
            else if (Model.StarRating == 5)
            {
                <span class="star star-5 pull-right"></span>
            }
        </div>
    </div>
    <div class="location sm-txt" style="text-transform: capitalize">
        @ToTitleCase.ConvertToTitleCase(Model.Address) @ToTitleCase.ConvertToTitleCase(Model.ZoneName),
        @ToTitleCase.ConvertToTitleCase(Model.DestinationName), @Model.PostalCode, @Model.CountryName
    </div>
    <div class="fb-img" style="background-image: url(@hotelImg)"></div>
    <div class="clearfix">
        <div class="fb-row clearfix">
            <div class="col-4">Check in</div>
            <div class="col-6 bold-txt">@Model.CheckInDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</div>
        </div>
        <div class="fb-row clearfix">
            <div class="col-4">Check out</div>
            <div class="col-6 bold-txt">@Model.CheckOutDate.ToString("D", CultureInfo.CreateSpecificCulture("id-ID"))</div>
        </div>
        <div class="fb-row clearfix">
            <div class="col-4">Malam</div>
            <div class="col-6 bold-txt">@night Malam</div>
        </div>
        <div class="fb-row clearfix">
            <div class="col-4">Kamar</div>
            <div class="col-6 bold-txt">@totalRoom Kamar</div>
        </div>
        @if (Model.Policy != null && Model.Policy.Count > 0)
        {
            <div class="fb-row clearfix">
                <div class="col-4">Catatan Khusus</div>
                <div class="col-6 bold-txt">@String.Join(". ", Model.Policy)</div>
            </div>
        }
    </div>
    <div class="fb-req" ng-show="buyerInfo.message != null && buyerInfo.message.length == 0">
        <p class="bold-txt">Permintaan Khusus</p>
        <div>@Model.SpecialRequest</div>
    </div>
</div>