<!DOCTYPE html>
<html lang="en">
<head>
        
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/ico" href="/Assets/images/favico.ico" />
        
    @{ Html.RenderPartial("_openGraph"); }

    <title>@ViewBag.Title | Travorama</title>

    <!-- stylesheets -->
    <!-- <link rel="stylesheet" href="/Assets/css/bootstrap.min.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="/Assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Assets/bootstrap/bootstrap.min.css" rel="stylesheet" />
        
    @if (IsSectionDefined("AdditionalCSS"))
    {
        @RenderSection("AdditionalCSS");
    }

    <link rel="stylesheet" href="/Assets/mobile/css/application.css">

    @*<script type="text/javascript">
      (function(h,l,i,n,k,s){
        s=h.createElement(i);s.type="text/javascript";s.async=1;
        s.src=l+n+".js";k=h.getElementsByTagName(i)[0];k.parentNode.insertBefore(s,k);
      })(document,"//cdn.hokolinks.com/banner/v1/","script","7ebdfcd03161adc9");
    </script>*@
</head>
    <body class="@ViewBag.BodyClass" @(ViewBag.AngularController != null ? "ng-app=Travorama ng-controller="+ViewBag.AngularController+" ng-class={'no-scroll':PageConfig.BodyNoScroll,'burger-shown':PageConfig.BurgerShown}" : "")>
        @Html.Partial("/Views/Shared/_googleTag.cshtml")

        <!--********************-->
        @if (ViewBag.SiteHeader != "header-contact-us" && ViewBag.SiteHeader != "header-promo-btn")
        {
            @Html.Partial("/Views/Shared/mobile/_SiteHeader.cshtml")

        }
        <!--********************-->
        <section class="site-content">
            @RenderBody()
        </section><!-- .site-content -->
        <!--********************-->
        @if(ViewBag.SiteHeader == "mobile-home-page")
        {
            @Html.Partial("/Views/Shared/mobile/_SiteFooter.cshtml")

        }
        <!--********************-->

        <!-- Javascripts -->
        <script src="/Assets/js/jquery.min.js"></script>
        <script src="/Assets/js/jquery-ui.min.js"></script>
        <script src="/Config/JsConfig.js"></script>

        @if (IsSectionDefined("AdditionalJS"))
        {
            @RenderSection("AdditionalJS");
        }

        <script src="/Assets/mobile/js/application.js"></script>
        <script src="/Assets/mobile/js/AccountController.js"></script>
        @if (IsSectionDefined("PageJS"))
        {
            @RenderSection("PageJS");
        }

    </body>
</html>
