<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/ico" href="/Assets/images/favico.ico" />

    @{ Html.RenderPartial("_openGraph"); }
    @{ Html.RenderPartial("_metaTag"); }

    @if (ViewBag.Title == null || ViewBag.Title != "")
    {
        <title>@ViewBag.Title | Travorama: Pesan Promo Tiket Pesawat dan Hotel Murah</title>
    }
    else
    {
        <title>Travorama: Pesan Promo Tiket Pesawat dan Hotel Murah</title>
    }

    <!-- stylesheets -->
    <link href="/Assets/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    @*
    <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>-->
    *@

    @if (IsSectionDefined("AdditionalCSS"))
    {
        @RenderSection("AdditionalCSS");
    }

    <link rel="stylesheet" href="/Assets/css/common.css">
    <link rel="stylesheet" href="/Assets/mobile/css/style_mobile.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.6/angular-locale_id-id.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>

    @*
<!--
    <script type="text/javascript">
        (function(h,l,i,n,k,s){
        s=h.createElement(i);s.type="text/javascript";s.async=1;
        s.src=l+n+".js";k=h.getElementsByTagName(i)[0];k.parentNode.insertBefore(s,k);
        })(document,"//cdn.hokolinks.com/banner/v1/","script","7ebdfcd03161adc9");
    </script>
-->
    *@

</head>
<body class="@ViewBag.BodyClass" @(ViewBag.AngularController != null ? "ng-app=travoramaMobile ng-controller=" + ViewBag.AngularController + " ng-class={'no-scroll':PageConfig.BodyNoScroll,'burger-shown':PageConfig.BurgerShown}" : "") ng-cloak>
    @Html.Partial("/Views/Shared/_googleTag.cshtml")

    <!--********************-->
    @if (ViewBag.SiteHeader != "header-contact-us" && ViewBag.SiteHeader != "header-promo-btn" && ViewBag.SiteHeader != "header-global-error")
    {
        @Html.Partial("/Views/Shared/mobile/_SiteHeader.cshtml")
    }

    <section class="site-content">
        @RenderBody()
    </section><!-- .site-content -->
    <!--********************-->
    
    @*
<!--

    @if (ViewBag.Platform != PlatformType.IosApp && ViewBag.Platform != PlatformType.AndroidApp){
    @if(ViewBag.SiteHeader == "mobile-home-page")
        {
            @Html.Partial("/Views/Shared/mobile/_SiteFooter.cshtml")

        }
    }

-->
    *@
    
    <!-- Javascripts -->
    <script src="/Assets/js/moment.min.js"></script>
    <script src="/Assets/js/moment-with-locales.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/Config/JsConfig.js"></script>

    @if (IsSectionDefined("AdditionalJS"))
    {
        @RenderSection("AdditionalJS");
    }

    <script src="/Assets/mobile/js/application.js"></script>
    <script src="/Assets/travorama20/js/app.config.js"></script>
    <script src="/Assets/mobile/js/AccountController.js"></script>
    @if (IsSectionDefined("PageJS"))
    {
        @RenderSection("PageJS");
    }
</body>
</html>