@using System.Globalization
@model Lunggo.ApCommon.Hotel.Model.HotelReservationForDisplay
@{
    var night = (Model.HotelDetail.CheckOutDate - Model.HotelDetail.CheckInDate).Days;
}

<div class="price-detail clearfix">
    <h3 class="summary__title"><b>RINCIAN</b> HARGA</h3>
    @foreach (var room in Model.HotelDetail.Rooms)
    {
        foreach (var rate in room.Rates)
        {
            foreach (var config in rate.Breakdowns)
            {
                <div class="rr-row clearfix">
                    <div class="col-half">@config.RateCount @ToTitleCase.ConvertToTitleCase(room.RoomName) @ToTitleCase.ConvertToTitleCase(config.BoardDescription) x @night Malam</div>
                    <div class="col-half right-txt semibold-txt">Rp @(config.OriginalTotalFare.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</div>
                </div>
            }

        }
    }
    
    @{
        var oriTotal = Model.HotelDetail.Rooms.Sum(ro => ro.Rates.Sum(ra => ra.Breakdowns.Sum(b => b.OriginalTotalFare)));
        var netTotal = Model.HotelDetail.Rooms.Sum(ro => ro.Rates.Sum(ra => ra.Breakdowns.Sum(b => b.NetTotalFare)));   
    }
    
    @if (Model.Payment != null)
    {
        <div class="rr-row clearfix subtotal">
            <div class="col-half bold-txt lg-txt">Harga Subtotal</div>
            <div class="col-half bold-txt lg-txt right-txt orange-txt">Rp @oriTotal.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</div>
        </div>

        if (oriTotal != netTotal)
        {
            <div class="rr-row clearfix">
                <div class="col-half">Diskon Travorama</div>
                <div class="col-half right-txt semibold-txt">- Rp @((oriTotal - netTotal).ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</div>
            </div>
        }

        if (Model.Payment.DiscountNominal > 0)
        {
            <div class="rr-row clearfix">
                <div class="col-half">@Model.Payment.DiscountName</div>
                <div class="col-half right-txt semibold-txt">- Rp @Model.Payment.DiscountNominal.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</div>
            </div>
        }

        <div class="rr-row clearfix">
            <div class="col-half">Kode Unik Pembayaran</div>
            <div class="col-half right-txt semibold-txt">- Rp @(Math.Abs(Model.Payment.UniqueCode).ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</div>
        </div>
        <div class="rr-row clearfix total">
            <div class="col-half bold-txt lg-txt">Total</div>
            <div class="col-half bold-txt lg-txt right-txt orange-txt">Rp @Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</div>
        </div>
    }
    else
    {
        <div class="rr-row clearfix subtotal">
            <div class="col-half bold-txt lg-txt">Harga Subtotal</div>
            <div class="col-half bold-txt lg-txt right-txt orange-txt">Rp @oriTotal.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</div>
        </div>
        <div class="rr-row clearfix">
            <div class="col-half">Diskon Travorama</div>
            <div class="col-half right-txt semibold-txt">- Rp @((oriTotal - netTotal).ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</div>
        </div>
        <div class="rr-row clearfix total">
            <div class="col-half bold-txt lg-txt">Total</div>
            <div class="col-half bold-txt lg-txt right-txt orange-txt">Rp @Model.HotelDetail.NetTotalFare.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</div>
        </div>
    }

</div>