@using System.Globalization
@using Lunggo.ApCommon.Hotel.Model
@using Lunggo.ApCommon.Hotel.Service
@model Lunggo.ApCommon.Hotel.Model.HotelDetailForDisplay
@{

    var night = (Model.CheckOutDate - Model.CheckInDate).Days;
    var hotelImg = "";
    var roomImg = "";
    var images = HotelService.GetInstance().GetHotelDetailFromDb(Model.HotelCode).ImageUrl ?? new List<Image>();

    var firstOrDefault = images.Where(i => i.Type == "HAB").ToList().FirstOrDefault();
    roomImg = firstOrDefault == null
        ? "/Assets/travorama20/images/Hotel/no-hotel.png"
        : "https://photos.hotelbeds.com/giata/" + firstOrDefault.Path;

    var listAges = new List<int>();
    var sumAdult = 0;
    var sumChild = 0;
    var orderedRooms = new List<Tuple<string, int>>();


        foreach (var room in Model.Rooms)
        {
            var roomName = room.RoomName;
            var sum = 0;
            foreach (var rate in room.Rates)
            {
                //sum += rate.RateCount;
                //sumAdult += rate.AdultCount;
                //sumChild += rate.ChildCount;
                //if (rate.ChildCount <= 0)
                //{
                //    continue;
                //}
                //listAges.AddRange(rate.ChildrenAges);
            }
            orderedRooms.Add(new Tuple<string, int>(roomName, sum)); ;
        }
    

}

<div class="form-group">
    <div class="form-box">
        <div class="fb-header"><b>Detail Kamar</b></div>
        <div class="fb-body">
            @foreach (var room in Model.Rooms)
            {
                foreach (var rate in room.Rates)
                {
                    <div class="fb-room">
                        <div class="clearfix">
                            <div class="col-8"><div class="blue-txt bold-txt lg-txt" style="text-transform: capitalize">@ToTitleCase.ConvertToTitleCase(room.RoomName) Kamar Saja</div></div>
                            @*<div class="col-2"><span class="meal-icon pull-right"></span><span class="wifi-icon pull-right"></span></div>*@
                        </div>
                        <div class="fb-img" style="background-image: url(@roomImg)"></div>
                        <div class="rh-table clearfix">
                            <div class="cols-1 col-2 clearfix">
                                <div class="cols-title bold-txt white-txt">Kamar</div>
                                @foreach (var config in rate.Breakdowns)
                                {
                                    <div class="cols-value semibold-txt">@config.RateCount</div>
                                }
                            </div>
                            <div class="cols-2 col-2 clearfix">
                                <div class="cols-title bold-txt white-txt">Dewasa</div>
                                @foreach (var config in rate.Breakdowns)
                                {
                                    <div class="cols-value semibold-txt">@config.AdultCount</div>
                                }
                            </div>
                            <div class="cols-3 col-4 clearfix">
                                <div class="cols-title bold-txt white-txt">Anak</div>
                                @foreach (var config in rate.Breakdowns)
                                {
                                    <div class="cols-value semibold-txt">
                                        @if (@config.ChildCount > 0)
                                        {
                                            <span>@config.ChildCount </span>
                                            <span>
                                                (@for (var a = 0; a < config.ChildrenAges.Count; a++)
                                                {
                                                    if (a != config.ChildrenAges.Count - 1)
                                                    {
                                                        @config.ChildrenAges[a]
                                                        <span>th, </span>
                                                    }
                                                    else
                                                    {
                                                        @config.ChildrenAges[a]
                                                        <span>th)</span>
                                                    }
                                                }
                                            </span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </div>
                                }

                            </div>
                            <div class="cols-4 col-2 clearfix">
                                <div class="cols-title bold-txt white-txt">Board</div>
                                @foreach (var config in rate.Breakdowns)
                                {
                                    <div class="cols-value semibold-txt">@ToTitleCase.ConvertToTitleCase(config.BoardDescription)</div>
                                }
                            </div>
                        </div>
                        <ul class="blue-list blue-txt">
                            @if (rate.IsFreeCancel)
                            {
                                <li>
                                    Gratis pembatalan sebelum tanggal
                                    <span style="color:#1daee4">
                                        @rate.FreeUntil.GetValueOrDefault().AddHours(7).ToString("dd MMMM yyyy HH:mm", CultureInfo.CreateSpecificCulture("id-ID"))
                                    </span> WIB.
                                </li>
                            }

                            @foreach (var cancellation in rate.Cancellation)
                            {
                                <li>
                                    Pembatalan setelah tanggal <span style="color:#1daee4">@cancellation.StartTime.AddHours(7).ToString("dd MMMM yyyy HH:mm", CultureInfo.CreateSpecificCulture("id-ID")) WIB</span>
                                    akan dikenakan biaya pembatalan sebesar <span style="color:#ff7200">@((cancellation.FeePercentage * 100).ToString("####"))%</span>
                                </li>
                            }

                        </ul>
                        @if ((rate.TermAndCondition != null && rate.TermAndCondition.Count > 0) || (Model.Policy != null && Model.Policy.Count > 0))
                        {
                            <div class="fb-note">
                                <div>Catatan Khusus:</div>
                                @if (rate.TermAndCondition != null && rate.TermAndCondition.Count > 0)
                                {
                                    <ul class="sqr-blue-list">
                                        @foreach (var tnc in rate.TermAndCondition)
                                        {
                                            <li>
                                                <div class="blue-txt semibold-txt">Ketentuan Kamar</div>
                                                <div class="grey-txt">@tnc</div>
                                            </li>
                                        }
                                    </ul>
                                }
                                @if (Model.Policy != null && Model.Policy.Count > 0)
                                {
                                    <ul class="sqr-blue-list">
                                        @foreach (var policy in Model.Policy)
                                        {
                                            <li>
                                                <div class="blue-txt semibold-txt">Perlu Diingat</div>
                                                <div class="grey-txt">@policy</div>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>