@using Lunggo.ApCommon.Identity.Users
@using Lunggo.ApCommon.Product.Constant

@section PageJS{
    <!-- angular controller -->
    <script>
        var firstName = '@User.Identity.GetFirstName()';
        var lastName = '@User.Identity.GetLastName()';
        var email = '@User.Identity.Name';
    </script>

}
<header class="site-header" ng-controller="siteHeaderController">

    <div class="header-display">
        @*

            TODO : benerin cara nampilin icon, jgn kyk gini!
        
        *@
        @if (ViewBag.Platform == PlatformType.IosApp){
        <a ng-click="window.history.back()" class="site-menu" style="background: url(/Assets/mobile/images/back-button.png) no-repeat;"></a>
        } else {
        <a ng-click="PageConfig.ToggleBurger()" class="site-menu"></a>
        }
        
        <a href="/">
            <img src="/Assets/images/travorama-logo-color.png" alt="Travorama" class="site-logo" />
        </a>

        @if (ViewBag.CurrentPage == "home")
        {
            

        }
        @if (ViewBag.FlightSwap == "true")
        {
            <a class="flight-swap" ng-click="FlightFunctions.SwapFlight()"></a>
        }

    </div>

    <div class="burger-content" ng-class="{'active' : PageConfig.BurgerShown}">
        <div class="burger-content__header">
            @*<ul>
                <li class="site-logo">
                    <a href="#">
                        
                    </a>
                </li>
                @*<li class="currency">
                    <a href="#">IDR</a>
                </li>
            </ul>*@
            <img src="/Assets/images/travorama-logo.png" alt="Alternate Text" style="width:40%;padding-top: 10px; margin-left: 13%" />
            <a class="burger-content__close" ng-click="PageConfig.ToggleBurger()">X</a>
        </div><!-- .border-content-header -->
        <div class="burger-content__body">
            <ul>
                <section ng-if="isLogin">

                    <div>
                        <li class="account @(ViewBag.CurrentPage == "Profile" ? "active" : "")" ng-if="name.length != 0">
                            <a href="/id/Account/OrderHistory">{{name}}</a>
                        </li>
                        <li class="account @(ViewBag.CurrentPage == "Profile" ? "active" : "")" ng-if="name.length == 0">
                            <a href="/id/Account/OrderHistory">{{email}}</a>
                        </li>
                    </div>

                    <li class="logout hidden @(ViewBag.CurrentPage == "Log Out" ? "active" : "") ">
                        <a href="/id/Account/Logout">Keluar</a>
                    </li>
                   
                </section>

                <section ng-if="!isLogin">
                    <li class="login">
                        <a href="@("/id/Account/Login?returnUrl" + Context.Request.Url.PathAndQuery)">Masuk</a>
                    </li>
                    <li class="register">
                        <a href="/id/Account/Register">Daftar</a>
                    </li>
                </section>
                <li class="home @(ViewBag.CurrentPage == "home" ? "active" : "") ">
                    <a href="/">Home</a>
                </li>
                <li class="order-check @(ViewBag.CurrentPage == "checkorder" ? "active" : "")">
                    <a href="/id/Home/CekPemesanan">Cek Pemesanan</a>
                </li>
                <li class="promo @(ViewBag.CurrentPage == "promo" ? "active" : "")">
                    <a href="/id/StaticPage/Promo">Promo Berlangsung</a>
                </li>
                <li class="contact @(ViewBag.CurrentPage == "contact" ? "active" : "")">
                    <a href="/id/StaticPage/Contact">Hubungi Kami</a>
                </li>
                <li class="newsletter @(ViewBag.CurrentPage == "newsletter" ? "active" : "")">
                    <a href="/id/StaticPage/Newsletter">Newsletter</a>
                </li>
                <li class="faq @(ViewBag.CurrentPage == "question" ? "active" : "")">
                    <a href="/id/StaticPage/Question">FAQ</a>
                </li>
                <li class="howto-order @(ViewBag.CurrentPage == "howtoorder" ? "active" : "")">
                    <a href="/id/StaticPage/HowToOrder">Cara Pesan</a>
                </li>
                <li class="hidden howto-order @(ViewBag.CurrentPage == "howtopay" ? "active" : "")">
                    <a href="/id/StaticPage/HowToPay">Cara Bayar</a>
                </li>
                @*<li class="newsletter">
                        <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br/> <br />
                    </li>*@

                @*<li class="about">
                        <a href="#">Tentang Kami</a>
                    </li>*@
            </ul>
        </div><!-- .border-content-body -->
    </div><!-- .burger-content -->

    <div class="burger-overlay" ng-class="{'active' : PageConfig.BurgerShown}" ng-click="PageConfig.ToggleBurger()"></div><!-- .burger-overlay -->

</header><!-- .site-header -->