@using Lunggo.ApCommon.Identity.Users

@section PageJS{
    <!-- angular controller -->
    <script>
        var firstName = '@User.Identity.GetFirstName()';
        var lastName = '@User.Identity.GetLastName()';
        var email = '@User.Identity.Name';
    </script>

}
<header class="site-header" ng-controller="siteHeaderController">

    <div class="header-display">
        <a ng-click="PageConfig.ToggleBurger()" class="site-menu"></a>
        <a href="/">
            <img src="/Assets/images/travorama-logo-color.png" alt="Travorama" class="site-logo" />
        </a>

        @*<a href="#" @*class="user-menu hidden"></a>*@
        @if (ViewBag.CurrentPage == "home")
        {
            <a class="promo" href="@Url.Action("Promo","StaticPage")"><span class="number-promo">1</span></a>
        }
        @if (ViewBag.FlightSwap == "true")
        {
            <a class="flight-swap" ng-click="FlightFunctions.SwapFlight()"></a>
        }
        @if (ViewBag.CurrentPage == "search-hotel")
        {
            <a class="change-hotel"></a>
        }
        @if (ViewBag.CurrentPage == "detail-hotel")
        {
            <a class="login-hotel"></a>
        }
        @*@if (ViewBag.FlightDetail == "true")
            {
                <a class="flight-detail" ng-click="PageConfig.SetOverlay('flight-detail')">Detail</a>
            }*@
    </div>

    <div class="burger-content" ng-class="{'active' : PageConfig.BurgerShown}">
        <div class="burger-content__header">
            <ul>
                <li class="language">
                    <a href="#">
                        <img src="/Assets/images/flag-indonesia.png" alt="Alternate Text" />
                    </a>
                </li>
                <li class="currency">
                    <a href="#">IDR</a>
                </li>
            </ul>
            <a class="burger-content__close" ng-click="PageConfig.ToggleBurger()">X</a>
        </div><!-- .border-content-header -->
        <div class="burger-content__body">
            <ul>
                <section ng-if="isLogin == true">
                    
                    @*<div ng-if ="name != null">
                        <li class="account" >
                            <a ng-click="PageConfig.ToggleBurger()" href="@Url.Action("OrderHistory", "UW620OrderHistory")">{{name}}</a>
                        </li>
                    </div>*@
                    
                    <div>
                        <li class="account" ng-if="name.length != 0">
                            <a href="@Url.Action("OrderHistory", "UW620OrderHistory")">{{name}}</a>
                        </li>
                        <li class="account" ng-if="name.length == 0">
                            <a href="@Url.Action("OrderHistory", "UW620OrderHistory")">{{email}}</a>
                        </li>
                        @*<li class="account" ng-if="name.length == 0">
                            <a ng-click="PageConfig.ToggleBurger()" href="@Url.Action("OrderHistory", "UW620OrderHistory")">{{email}}</a>
                        </li>*@
                    </div>

                    <li class="logout hidden @(ViewBag.CurrentPage == "Log Out" ? "active" : "") ">
                        <a href="@Url.Action("Logout","Account")">Keluar</a>
                    </li>
                   
                </section>

                <section ng-if ="!isLogin">
                    <li class="login">
                        <a href="@Url.Action("Login","Account")">Masuk</a>
                    </li>
                    <li class="register">
                        <a href="@Url.Action("Register","Account")">Daftar</a>
                    </li>
                </section>
                <li class="home @(ViewBag.CurrentPage == "home" ? "active" : "") ">
                    <a href="/">Home</a>
                </li>
                <li class="order-check @(ViewBag.CurrentPage == "checkorder" ? "active" : "")">
                    <a href="@Url.Action("CekPemesanan","Home")">Cek Pemesanan</a>
                </li>
                <li class="promo @(ViewBag.CurrentPage == "promo" ? "active" : "")">
                    <a href="@Url.Action("Promo","StaticPage")">Promo Berlangsung</a>
                </li>
                <li class="contact @(ViewBag.CurrentPage == "contact" ? "active" : "")">
                    <a href="@Url.Action("Contact","StaticPage")">Hubungi Kami</a>
                </li>
                <li class="newsletter @(ViewBag.CurrentPage == "newsletter" ? "active" : "")">
                    <a href="@Url.Action("Newsletter", "StaticPage")">Newsletter</a>
                </li>
                <li class="faq @(ViewBag.CurrentPage == "question" ? "active" : "")">
                    <a href="@Url.Action("Question","StaticPage")">FAQ</a>
                </li>
                <li class="howto-order @(ViewBag.CurrentPage == "howtoorder" ? "active" : "")">
                    <a href="@Url.Action("HowToOrder","StaticPage")">Cara Pesan</a>
                </li>
                <li class="hidden howto-order @(ViewBag.CurrentPage == "howtopay" ? "active" : "")">
                    <a href="@Url.Action("HowToPay","StaticPage")">Cara Bayar</a>
                </li>
                @*<li class="newsletter">
                        <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br/> <br />
                    </li>*@

                @*<li class="about">
                        <a href="#">Tentang Kami</a>
                    </li>*@
            </ul>
        </div><!-- .border-content-body -->
    </div><!-- .burger-content -->

    <div class="burger-overlay" ng-class="{'active' : PageConfig.BurgerShown}" ng-click="PageConfig.ToggleBurger()"></div><!-- .burger-overlay -->

</header><!-- .site-header -->