@using Lunggo.ApCommon.Identity.Users
@using Lunggo.ApCommon.Payment.Constant
@using Lunggo.Framework.Context
@using Lunggo.Framework.Extension
@using Lunggo.Framework.Config
@model Lunggo.CustomerWeb.Models.FlightCheckoutData

@{

    var adultCount = 0;
    var childCount = 0;
    var infantCount = 0;
    var passengerCount = 0;
    var needBirthDate = false;
    var needPassport = false;
    var needNationality = false;
    var token = "";
    var savedPassengers = Model.SavedPassengers;
    var savedCreditCards = Model.SavedCreditCards;
   

    try
    {
        adultCount = Model.Itinerary.AdultCount.GetValueOrDefault();
        childCount = Model.Itinerary.ChildCount.GetValueOrDefault();
        infantCount = Model.Itinerary.InfantCount.GetValueOrDefault();
        passengerCount = adultCount + childCount + infantCount;
        needBirthDate = Model.Itinerary.RequireBirthDate.GetValueOrDefault();
        needPassport = Model.Itinerary.RequirePassport.GetValueOrDefault();
        needNationality = Model.Itinerary.RequireNationality.GetValueOrDefault();
        token = Model.Token;
        
    }
    catch
    {
        ViewBag.Message = "BookExpired";
    }

    

}

@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-checkout page-checkout-flight";

    ViewBag.SiteHeader = "checkout";
    ViewBag.Title = "Checkout";
}
@section AdditionalCSS {
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
    <!-- fancybox CSS-->
    <link href="/Assets/vendor/fancybox/jquery.fancybox.css" rel="stylesheet" />
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <!-- veritrans JS -->
    <script src="https://api.sandbox.veritrans.co.id/v2/assets/js/veritrans.min.js"></script>
    <!-- fancybox -->
    <script type="text/javascript" src="/Assets/vendor/fancybox/jquery.fancybox.pack.js"></script>
}
@section PageJS{
    <script>
        var langCode = '@OnlineContext.GetActiveLanguageCode()';
        var currentPage = 1;
        var transferWindow = ['@ConfigManager.GetInstance().GetConfigValue("general","bankTransferStartTime")', '@ConfigManager.GetInstance().GetConfigValue("general","bankTransferEndTime")'];
        //var transferWindow = [ '1100', '1124' ];
        // messages
        var message = '@ViewBag.Message';
        // flight detail
        var token = @Model.Token;
        var paymentDetail = '';
        var flightDetail = '';
        var expiryDate = '@Model.ExpiryTime.ToString("o")';
        var trips = @Html.Raw(Model.Itinerary.Trips.Serialize());

        // passenger number
        var adultPassenger = @Model.Itinerary.AdultCount;
        var adultFare = @Model.Itinerary.NetAdultFare;
        var adultTypeName = 'Dewasa';

        var childPassenger = @Model.Itinerary.ChildCount;
        var childFare = @Model.Itinerary.NetChildFare;
        var childTypeName = 'Anak';

        var infantPassenger = @Model.Itinerary.InfantCount;
        var infantFare = @Model.Itinerary.NetInfantFare;
        var infantTypeName = 'Bayi';
        //var monthNames = ["Januari", "Februari", "Maret","April", "Mei", "Juni", "Juli","Agustus", "September", "Oktober","November", "Desember"];
        // passport or id requirement
        var passportRequired = @Model.Itinerary.RequirePassport.ToString().ToLower();
        var idRequired = false;
        var nationalityRequired = @Model.Itinerary.RequireNationality.ToString().ToLower();
        var birthDateRequired = @Model.Itinerary.RequireBirthDate.ToString().ToLower();
        var departureDate = '@Model.Itinerary.Trips.Last().DepartureDate';
        var beforeDepartureDate = '@Model.Itinerary.Trips.Last().DepartureDate.GetValueOrDefault().AddDays(-1)';
        var passportDate = '@Model.Itinerary.Trips.Last().DepartureDate.GetValueOrDefault().AddMonths(6)';
        var price = '@Model.Itinerary.NetTotalFare';
        //var trips = '@Model.Itinerary.Trips';
        // change current page
        if (getParam('page') == 2) {
            currentPage = getParam('page');
        } else {
            currentPage = 1;
        }
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/checkoutController.js"></script>
}

@switch ((string)ViewBag.Message)
{
    default:
        <!-- checkout start here -->
        
        <div ng-app="travorama" ng-controller="checkoutController" class="page-loading" ng-class="{'page-loaded' : pageLoaded}">
            <section class="checkout-step {{stepClass}}">
                <div class="container">
                    <div class="step step-1" ng-class="{'active' : currentPage == 1, 'inactive' : currentPage > 1}"><span>01. <b>Data Kontak</b></span></div>
                    <div class="step step-2" ng-class="{'active' : currentPage == 2, 'inactive' : currentPage > 2}"><span>02. <b>Data Penumpang</b></span></div>
                    <div class="step step-3" ng-class="{'active' : currentPage == 3}"><span>03. <b>Review Pesanan</b></span></div>
                </div>
            </section><!-- .checkout-step -->

            <section class="checkout-content">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-8">

                            <div class="content-step" id="step-1" ng-show="currentPage == 1">

                                <h3><b>DETAIL</b> PEMESAN</h3>
                            
                                <div class="travorama-login" ng-class="{'active' : loginShown}" ng-if="!loggedIn">
                                    <a class="login-toggle" ng-click="toggleLogin()"><b>Masuk</b> dengan akun <b>TRAVORAMA</b><span class="caret"></span></a>
                                    <div class="login-content">
                                        <form class="form register-form form-horizontal" name="loginForm" novalidate ng-submit="form.submit()">
                                            <div class="form-group">
                                                <div class="col-xs-5">
                                                    <input type="text" class="form-control" ng-model="form.email" name="Email" id="login-username" value="" placeholder="Alamat e-mail" />
                                                </div>
                                                <div class="col-xs-5">
                                                    <input type="password" class="form-control" name="Password" ng-model="form.password" id="login-password" value="" placeholder="Password" />
                                                </div>
                                                <div class="col-xs-2">
                                                    <input type="submit" value="MASUK" class="btn btn-yellow form-control" ng-disabled="form.submitting" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-10 text-right">
                                                    <a href="@Url.Action("ForgotPassword", "Account")">Lupa Password?</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div><!-- .travorama-login -->
                            
                                <form class="form" id="buyer-form" name="buyerForm" novalidate>

                                    <div class="form-group" ng-class="{'has-error' : buyerForm.title.$touched && buyerForm.title.$invalid}">
                                        <label class="control-label important">Titel:</label>
                                        <div>
                                            <select class="form-control" id="buyer-title" name="title" ng-model="buyerInfo.title" ng-init="buyerInfo.title = titles[0].value">
                                                <option ng-repeat="title in titles" value="{{title.value}}">{{title.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error' : buyerForm.name.$touched && buyerForm.name.$invalid}">
                                        <label class="control-label important">Nama Lengkap :</label>
                                        <div ng-hide="loggedIn">
                                            <input type="text" class="form-control" value="" id="buyer-name" placeholder="Nama Lengkap" name="name" ng-model="buyerInfo.name" required />
                                        </div>
                                        <div ng-hide="!loggedIn">
                                            <!--Jika udah Login-->
                                            <input type="text" class="form-control" value=buyerInfo.name id="buyer-name" placeholder="Nama Lengkap" name="name" ng-model="buyerInfo.name" required />
                                        </div>
                                    </div>
                                   
                                    <div class="form-group" ng-class="{'has-error' : (buyerForm.phone.$touched && buyerForm.phone.$invalid) || (buyerForm.countryCode.$touched && buyerForm.countryCode.$invalid)}">
                                        <label class="control-label important">Nomor Telepon:</label>
                                        <div class="row">
                                            <div class="col-xs-7" ng-hide="loggedIn">
                                                <p>Kode Negara</p>
                                                <select class="form-control" name="countryCode" ng-model="buyerInfo.countryCode" ng-init="buyerInfo.countryCode = '62'">
                                                    <option ng-repeat="country in countries" ng-selected="country.dial_code == '62'" value="{{country.dial_code}}">{{country.name}} ({{country.dial_code}})</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-7" ng-hide="!loggedIn">
                                                <!--Jika udah Login-->
                                                <p>Kode Negara</p>
                                                <select class="form-control" name="countryCode" ng-model="buyerInfo.countryCode">
                                                    <option ng-repeat="country in countries" ng-selected="country.dial_code == buyerInfo.countryCode" value="{{country.dial_code}}">{{country.name}} ({{country.dial_code}})</option>
                                                </select>

                                                @*<input type="number" name="countryCode" value=buyerInfo.countryCode class="form-control" placeholder="ex : 62 for Indonesia" required ng-model="buyerInfo.countryCode" maxlength="5" />*@
                                            </div>
                                            <div class="col-xs-5" ng-hide="loggedIn">
                                                <p>Nomor Telepon (Tanpa Kode Negara)</p>
                                                <input type="number" class="form-control" value="" id="buyer-phone" placeholder="Ex: 821 2345 6789 (Tanpa Kode Negara)" name="phone" ng-model="buyerInfo.phone" required />
                                            </div>
                                            <div class="col-xs-5" ng-hide="!loggedIn">
                                                <!--Jika udah Login-->
                                                <p>Nomor Telepon (Tanpa Kode Negara)</p>
                                                <input type="number" class="form-control" value=buyerInfo.phone id="buyer-phone" placeholder="Ex: 821 2345 6789 (Tanpa Kode Negara)" name="phone" ng-model="buyerInfo.phone" required />
                                            </div>
                                    </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error' : buyerForm.email.$touched && buyerForm.email.$invalid}">
                                        <label class="control-label important">Masukkan Alamat E-mail Anda:</label>
                                        <div ng-hide="loggedIn">
                                            <input type="email" class="form-control" value="" id="buyer-email" placeholder="Ex: name@domain.com" name="email" ng-model="buyerInfo.email" required />
                                        </div>
                                        <div ng-hide="!loggedIn">
                                            <!--Jika udah Login-->
                                            <input type="email" class="form-control" value=buyerInfo.email id="buyer-email" placeholder="Ex: name@domain.com" name="email" ng-model="buyerInfo.email" required />
                                    </div>
                                    </div>

                                </form><!-- #buyer-form -->

                                <div class="step-button">
                                    <button class="btn btn-yellow" ng-click="changePage(2)" ng-disabled="buyerForm.$invalid || buyerInfo.title == titles[0].value || buyerInfo.countryCode == 'xx'">LANJUTKAN</button>
                                </div>

                            </div><!-- .content-step#step-1 -->
                            <!-- ******************** -->

                            <div class="content-step" id="step-2" ng-show="currentPage == 2">

                                <h3><b>DETAIL</b> PENUMPANG</h3>

                                <div class="passenger-detail">

                                    <form novalidate name="passengersForm">
                                        <div class="passenger-form" id="passenger-{{$index}}" ng-repeat="passenger in passengers track by $index" ng-init="initPassenger(passenger)">
                                            <header>
                                                <span>Penumpang {{$index + 1}} ({{passenger.typeName}}) <span ng-show="passenger.name"> : {{ changeTitle(passenger.title) + ' ' + passenger.name}}</span></span>
                                                <span class="toggle hidden"></span>
                                            </header>
                                            <div class="passenger-content">

                                                <div class="form-group">
                                                    <label class="control-label">Titel</label>
                                                    <select class="form-control" name="passenger_{{$index}}_title" ng-model="passenger.title" ng-init="passenger.title = titles[0].value" required>
                                                        <option ng-repeat="title in titles" value="{{title.value}}" ng-selected="title.value == ''" ng-if="!(title.value == 'Mistress' && passenger.type != 'adult')">{{title.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group" ng-class="{'has-error': passengerForm_{{$index}}.name.$invalid && passengerForm_{{$index}}.name.$touched }">
                                                    <label class="control-label important">Nama Lengkap :</label>
                                                    <input type="text" value="" name="passenger_{{$index}}_name" class="form-control" placeholder="Nama Lengkap" ng-model="passenger.name" required />
                                                </div>
                                                <div class="form-group" ng-if="birthDateRequired || passenger.type == 'child' || passenger.type == 'infant'">
                                                    <label class="control-label important">Tanggal Lahir :</label>
                                                    <div class="row">
                                                        <div class="col-xs-4"> 
                                                            <select class="form-control" name="passenger_{{$index}}_birthDate" ng-model="passenger.birth.date" ng-change="validateBirthday(passenger)"
                                                                    ng-init="passenger.birth.date = 'Tanggal'" ng-required="birthDateRequired || passenger.type == 'child' || passenger.type == 'infant'">
                                                                <option value="{{date}}" ng-repeat="date in dates(passenger.birth.month, passenger.birth.year)" ng-selected="date == 'Tanggal'" ng-if="passenger.type == 'adult'">{{date}}</option>
                                                                <option value="{{date}}" ng-repeat="date in dates(passenger.birth.month, passenger.birth.year)" ng-selected="date == 'Tanggal'" ng-if="passenger.type == 'child'">{{date}}</option>
                                                                <option value="{{date}}" ng-repeat="date in dates(passenger.birth.month, passenger.birth.year)" ng-selected="date == 'Tanggal'" ng-if="passenger.type == 'infant'">{{date}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-4"> 
                                                            <select class="form-control" name="passenger_{{$index}}_birthMonth" ng-model="passenger.birth.month"
                                                                    ng-init="passenger.birth.month = '12'" ng-change="validateBirthday(passenger)" ng-required="birthDateRequired || passenger.type == 'child' || passenger.type == 'infant'">
                                                                <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == '12'" ng-if="passenger.type == 'adult'">{{month.name}}</option>
                                                                <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == '12'" ng-if="passenger.type == 'child'">{{month.name}}</option>
                                                                <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == '12'" ng-if="passenger.type == 'infant'">{{month.name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-4"> 
                                                            <select class="form-control" name="passenger_{{$index}}_birthYear" ng-model="passenger.birth.year" ng-change="validateBirthday(passenger)" ng-required="birthDateRequired || passenger.type == 'child' || passenger.type == 'infant'">
                                                                <option value="{{year}}" ng-repeat="year in generateYear(passenger.type)" ng-selected="year == 'Tahun'">{{year}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- passport detail for international flight -->
                                                <div class="form-group" ng-if="passportRequired">
                                                    <label class="control-label important">Paspor</label>
                                                    <div class="row">
                                                        <div class="col-xs-6" ng-class="{'has-error' : passengerForm_{{$index}}.passportNumber.$invalid && passengerForm_{{$index}}.passportNumber.$touched}">
                                                            <label class="control-label"><small>No. Paspor</small></label>
                                                            <input type="text" value="" class="form-control" name="passenger_{{$index}}_passportNumber" ng-model="passenger.passport.number" ng-required="passportRequired" />
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <label class="control-label"><small>Negara Penerbit Paspor</small></label>
                                                            <select class="form-control" name="passenger_{{$index}}_passportCountry" ng-model="passenger.passport.country" ng-init="passenger.passport.country = 'ID'" ng-required="passportRequired">
                                                                <option ng-repeat="country in countries" value="{{country.code}}" ng-selected="country.code == 'ID'">{{country.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label class="control-label"><small>Tanggal Kadaluarsa Paspor</small></label>
                                                            <div class="row">
                                                                <div class="col-xs-4">
                                                                    <select class="form-control" name="passenger_{{$index}}_expiryDate" ng-model="passenger.passport.expire.date" ng-required="passportRequired" ng-change="validatePassport(passenger)">
                                                                        <option value="{{date}}" ng-repeat="date in dates(passenger.passport.expire.month, passenger.passport.expire.year)"
                                                                                ng-selected="date == 'Tanggal'">{{date}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <select class="form-control" name="passenger_{{$index}}_expiryMonth" ng-model="passenger.passport.expire.month" ng-required="passportRequired" ng-change="validatePassport(passenger)">
                                                                        <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == '12'">{{month.name}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <select class="form-control" name="passenger_{{$index}}_expiryYear" ng-model="passenger.passport.expire.year" ng-required="passportRequired" ng-change="validatePassport(passenger)">
                                                                        <option value="{{year}}" ng-repeat="year in generateYear('passport')" ng-selected="year == 'Tahun'">{{year}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="idRequired" ng-class="{'has-error': passengerForm_{{$index}}.idNumber.$invalid && passengerForm_{{$index}}.idNumber.$touched }">
                                                    <label class="control-label important">Nomor KTP / SIM</label>
                                                    <input type="text" class="form-control" name="passenger_{{$index}}_idNumber" ng-model="passenger.idNumber" value="" ng-required="idRequired" ng-change="passenger.idNumber = passenger.idNumber.split(' ').join('')" />
                                                </div>
                                                <div class="form-group" ng-if="nationalityRequired">
                                                    <label class="control-label">Kewarganegaraan</label>
                                                    <select class="form-control" name="passenger_{{$index}}_nationality" ng-model="passenger.nationality" ng-init="passenger.nationality= 'ID'" ng-required="nationalityRequired">
                                                        <option ng-repeat="country in countries" value="{{country.code}}" ng-selected="country.code == 'ID'">{{country.name}}</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div><!-- .passenger-form -->

                                    </form>

                                </div><!-- .passengerdetail -->
                                    
                                <div class="step-button">
                                    <button class="btn btn-grey" ng-click="changePage(1)">KEMBALI</button>
                                    <button class="btn btn-yellow" ng-click="changePage(3)" ng-disabled="passengersForm.$invalid || !CheckTitle(passengers) || (birthDateRequired && !CheckDate(passengers))
                                             || (passportRequired && !CheckPassportDate(passengers))">
                                        LANJUTKAN
                                    </button>
                                </div>
                                <h4 style="padding:15px;" class="bg-danger" ng-show="!passengersForm.valid && passengersForm.checked">Periksa kembali form Anda.</h4>
                                
                            </div><!-- .content-step#step-2 -->
                            <!-- ******************** -->
                            <div class="content-step" id="step-3" ng-show="currentPage > 2">

                                <h3><b>RINCIAN</b> PESANAN</h3>
                                <!--Info Pemesan-->
                                <div class="buyer-review">
                                                <header>
                                        <span>Data Kontak</span>
                                                </header>
                                    <section class="buyer-content">
                                        <div class="buyer-list-item">
                                            <h3 class="buyer-list-heading"><b>{{changeTitle(buyerInfo.title)}} {{buyerInfo.name}}</b></h3>
                                            <div class="buyer-list-content">
                                                <p>
                                                    <span class="buyer-label">No. Telepon</span>
                                                    <span class="buyer-data">+{{buyerInfo.countryCode}}{{buyerInfo.phone}}</span>
                                                </p>
                                                <p>
                                                    <span class="buyer-label">E-mail</span>
                                                    <span class="buyer-data">{{buyerInfo.email}}</span>
                                                </p>
                                            </div>
                                        </div>
                                                </section>
                                </div><!--Info Pemesan-->
                                <!--Info Penumpang-->
                                <div class="passenger-review">
                                    <header>
                                        <span>Daftar Penumpang</span>
                                    </header>
                                    
                                    <section class="review-content clearfix" ng-repeat="passenger in passengers track by $index">
                                        <div class="passenger-list-item">
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <h3 class="passenger-list-heading">
                                                        <b> {{$index+1}}. {{changeTitle(passenger.title)}} {{passenger.name}} </b>
                                                        <medium> ({{passenger.typeName}}) </medium>
                                                    </h3>
                                                </div>
                                                <div ng-if ="passenger.typeName == 'Dewasa'"class="col-md-4 total-price text-right">
                                                    <medium> Rp {{adultFare | number:0}}</medium>
                                                </div>
                                                <div ng-if="passenger.typeName == 'Anak'" class="col-md-4 total-price text-right">
                                                    <medium> Rp {{childFare | number:0}}</medium>
                                                </div>
                                                <div ng-if="passenger.typeName == 'Bayi'" class="col-md-4 total-price text-right">
                                                    <medium> Rp {{infantFare | number:0}}</medium>
                                                </div>
                                            </div>
                                            
                                            <div class="passenger-list-content">
                                                <p ng-if="birthDateRequired">
                                                    <span class="passenger-label">Tgl. Lahir</span>
                                                    <span class="passenger-data">{{passenger.birth.date}} {{months[passenger.birth.month].name}} {{passenger.birth.year}}</span>
                                                </p>
                                                <p ng-if="passportRequired">
                                                    <span class="passenger-label">Nomor Paspor</span>
                                                    <span class="passenger-data">{{passenger.passport.number}}</span>
                                                </p>
                                                <p ng-if="passportRequired">
                                                    <span class="passenger-label">Tgl. Kadaluarsa Paspor</span>
                                                    <span class="passenger-data">{{passenger.passport.expire.date}} {{months[passenger.passport.expire.month].name}} {{passenger.passport.expire.year}}</span>
                                                </p>
                                                <p ng-if="passportRequired">
                                                    <span class="passenger-label">Negara Penerbit Paspor</span>
                                                    <span class="passenger-data">{{displayCountry(passenger.passport.country)}}</span>
                                                <p ng-if="nationalityRequired">
                                                    <span class="passenger-label">Kewarganegaraan</span>
                                                    <span class="passenger-data">{{displayCountry(passenger.nationality)}}</span>
                                                </p>
                                            </div>
                                        </div>
                                                </section>
                                </div><!--Info Penumpang-->
                                <div class="flight-detail" id="departure-flight" ng-if="trips[0]">
                                    <header>
                                        <span>Penerbangan Pergi</span>
                                        <div class="fare-detail">
                                            <b>{{trips[0].origin}}</b> ke <b>{{trips[0].destination}}</b> | {{trips[0].segments[0].departureTime | date: 'dd-MM-yyyy' : 'UTC'}}
                                                    </div>
                                    </header>
                                    <section class="detail-content">
                                        <div ng-repeat="segment in trips[0].segments track by $index">
                                            <div class="transit" ng-if="$index > 0">
                                                <p>Transit di {{segment.departureCity}} ({{segment.departure}}) selama {{msToTime(trips[0].transits[ $index - 1 ].duration)}}</p>
                                            </div>
                                            <div class="segment">
                                                <h5 class="segment-airline-name">{{segment.airlineName}} {{segment.airlineCd}}-{{segment.flightNo}} <span class="pull-right"></span></h5>
                                                <div class="segment-number">
                                                    <span ng-if="$index == 0">1<sup>st</sup></span>
                                                    <span ng-if="$index == 1">2<sup>nd</sup></span>
                                                    <span ng-if="$index == 2">3<sup>rd</sup></span>
                                                    <span ng-if="$index > 2">{{$index}}<sup>th</sup></span>
                                                </div>
                                                <div class="segment-left">
                                                    <img ng-src="{{segment.airlineLogoUrl}}" alt="{{airlineName}}" class="segment-airline-logo" />
                                                </div>
                                                <div class="segment-right">
                                                    <div class="segment-departure">
                                                        <h5>{{segment.departureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{segment.departureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{segment.departureCity}} ({{segment.departure}})</h4>
                                                        <h5>{{segment.departureName}}</h5>
                                                    </div>
                                                    <div class="segment-duration">
                                                        <h5><span>Durasi :</span> {{msToTime(segment.duration)}}</h5>
                                                    </div>
                                                    <div class="segment-arrival">
                                                        <h5>{{segment.arrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{segment.arrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{segment.arrivalCity}} ({{segment.arrival}})</h4>
                                                        <h5>{{segment.arrivalName}}</h5>
                                                    </div>
                                                </div><!-- .payment -->
                                                <div class="segment-operator" ng-if="segment.airlineCd != segment.opAirlineCd">
                                                    <p>Penerbangan ini dioperasikan oleh <img ng-src="{{segment.OpAirlineLogoUrl}}" /> <span>{{segment.opAirlineName}}</span></p>
                                                 </div>
                                           </div>
                                        </div>
                                    </section>
                                </div><!-- .flight-detail -->
                                            
                                <div class="flight-detail" id="return-flight" ng-if="trips[1]">
                                    <header>
                                        <span>Penerbangan Pulang</span>
                                        <div class="fare-detail">
                                            <b>{{trips[1].origin}}</b> ke <b>{{trips[1].destination}}</b> | {{trips[1].segments[0].departureTime | date: 'dd-MM-yyyy' : 'UTC'}}
                                        </div>
                                    </header>
                                    <section class="detail-content">
                                        <div ng-repeat="segment in trips[1].segments track by $index">
                                            <div class="transit" ng-if="$index > 0">
                                                <p>Transit di {{segment.departureCity}} selama {{msToTime(trips[1].transits[ $index - 1 ].duration)}}</p>
                                            </div>
                                            <div class="segment">
                                                <h5 class="segment-airline-name">{{segment.airlineName}} {{segment.airlineCd}}-{{segment.flightNo}} <span class="pull-right"></span></h5>
                                                <div class="segment-number">
                                                    <span ng-if="$index == 0">1<sup>st</sup></span>
                                                    <span ng-if="$index == 1">2<sup>nd</sup></span>
                                                    <span ng-if="$index == 2">3<sup>rd</sup></span>
                                                    <span ng-if="$index > 2">{{$index}}<sup>th</sup></span>
                                                </div>
                                                <div class="segment-left">
                                                    <img ng-src="{{segment.airlineLogoUrl}}" alt="{{airlineName}}" class="segment-airline-logo" />
                                                        </div>
                                                <div class="segment-right">
                                                    <div class="segment-departure">
                                                        <h5>{{segment.departureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{segment.departureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{segment.departureCity}} ({{segment.departure}})</h4>
                                                        <h5>{{segment.departureName}}</h5>
                                                        </div>
                                                    <div class="segment-duration">
                                                        <h5><span>Durasi:</span> {{msToTime(segment.duration)}}</h5>
                                                        </div>
                                                    <div class="segment-arrival">
                                                        <h5>{{segment.arrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{segment.arrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{segment.arrivalCity}} ({{segment.arrival}})</h4>
                                                        <h5>{{segment.arrivalName}}</h5>
                                                    </div>
                                                </div>
                                                <div class="segment-operator" ng-if="segment.airlineCd != segment.opAirlineCd">
                                                    <p>Penerbangan ini di operasikan oleh <img ng-src="{{segment.opAirlineLogoUrl}}" /> <span>{{segment.opAirlineName}}</span></p>
                                                </div>
                                            </div>
                                    </div>
                                    </section>
                                </div><!-- .flight-detail -->

                                <div class="step-button">

                                    <form name="finalForm" id="finalForm" ng-submit="book.send()">

                                        <div class="hidden">
                                            <input type="text" name="Token" value="" ng-model="token" />
                                            <input type="text" name="Language" value="" ng-model="language" />

                                            <p>Buyer Info</p>
                                            <input type="text" name="Contact.Name" value="" ng-model="buyerInfo.name" />
                                            <input type="text" name="Contact.CountryCode" value="" ng-model="buyerInfo.countryCode" />
                                            <input type="text" name="Contact.Phone" value="" ng-model="buyerInfo.phone" />
                                            <input type="text" name="Contact.Email" value="" ng-model="buyerInfo.email" />

                                            <p>Passenger Info</p>
                                            <div ng-repeat="passenger in passengers track by $index">

                                                <input type="text" name="Passengers[{{$index}}].Type" value="" ng-model="passenger.type" />
                                                <input type="text" name="Passengers[{{$index}}].Title" value="" ng-model="passenger.title" />
                                                <input type="text" name="Passengers[{{$index}}].Name" value="" ng-model="passenger.name" />
                                                <input type="text" name="Passengers[{{$index}}].BirthDate.Year" value="" ng-model="passenger.birth.year" />
                                                <input type="text" name="Passengers[{{$index}}].BirthDate.Month" value="" ng-model="passenger.birth.month" />
                                                <input type="text" name="Passengers[{{$index}}].BirthDate.Date" value="" ng-model="passenger.birth.date" />

                                                <input type="text" name="Passengers[{{$index}}].PassportNumber" value="" ng-model="passenger.passport.number" />
                                                <input type="text" name="Passengers[{{$index}}].PassportExpiryDate.Year" value="" ng-model="passenger.passport.expire.year" />
                                                <input type="text" name="Passengers[{{$index}}].PassportExpiryDate.Month" value="" ng-model="passenger.passport.expire.month" />
                                                <input type="text" name="Passengers[{{$index}}].PassportExpiryDate.Date" value="" ng-model="passenger.passport.expire.date" />
                                                <input type="text" name="Passengers[{{$index}}].PassportCountry" value="" ng-model="passenger.passport.country" />
                                                <input type="text" name="Passengers[{{$index}}].idNumber" value="" ng-model="passenger.idNumber" />
                                                <input type="text" name="Passengers[{{$index}}].Country" value="" ng-model="passenger.nationality" />

                                            </div>

                                            <p>Voucher Code</p>
                                            <input type="text" name="DiscountCode" value="" ng-model="voucher.confirmedCode" />

                                            <p>Payment Method</p>
                                            <input type="text" name="Payment.Method" value="" ng-model="paymentMethod" />
                                        </div>

                                        <a class="btn btn-grey" ng-click="changePage(2)" ng-disabled="checkoutForm.loading">KEMBALI</a>
                                        <input type="submit" ng-disabled="finalForm.$invalid" class="btn btn-yellow" value="{{ !checkoutForm.loading? 'PESAN' : 'MEMPROSES' }}">

                                    </form>

                                    <form action="" method="post" name="submitForm" id="rsvno" class="hidden">
                                        <input type="text" name="RsvNo" value="" id="rsvno-input" />
                                    </form>

                                </div>


                            </div><!-- .content-step#step-3 -->
                            <!-- ******************** -->

                        </div>
                        <div class="col-sm-4">

                            <div class="widget-container">
                                <div class="widget price-detail">
                                    <h3 class="widget-title"><b>RINCIAN</b> HARGA</h3>
                                    
                                    <div class="widget-content">
                                        <dl>
                                            <dt>Tiket Dewasa x{{adultCount}}</dt>
                                            <dd>Rp {{adultFare * adultPassenger | number:0}}</dd>
                                        </dl>
                                        <dl ng-if="childCount > 0">
                                            <dt>Tiket Anak x{{childCount}}</dt>
                                            <dd>Rp {{childFare * childPassenger | number:0}}</dd>
                                        </dl>
                                        <dl ng-if="infantCount > 0">
                                            <dt>Tiket Bayi x{{infantCount}}</dt>
                                            <dd>Rp {{infantFare * infantPassenger | number:0}}</dd>
                                        </dl>
                                        <dl class="total-price">
                                            <dt>Total</dt>
                                            <dd>Rp {{totalPrice | number}}</dd>
                                        </dl>
                                    </div>
                                    <footer>
                                        <small>*Harga akan dikonfirmasi kembali sebelum proses pembayaran</small>
                                    </footer>
                                </div><!-- .widget.price-detail -->
                                <div class="widget flight" @*ng-show="currentPage > 1"*@>
                                    <div class="flight-detail" id="departure-flight" ng-if="trips[0]">
                                        <h3 class="widget-title"><b>RINCIAN</b> PENERBANGAN</h3>
                                        <div>
                                            <header><span>PENERBANGAN PERGI</span></header>
                                            <div class="widget-content">
                                                <div class="airline">
                                                    <img ng-src="{{trips[0].segments[0].airlineLogoUrl}}" alt="{{trips[0].segments[0].airlineName}}" class="airline-image" />
                                                    <h4 class="airline-name">{{trips[0].segments[0].airlineName}}</h4>
                                                </div>
                                                <div class="route">
                                                    <div class="origin">
                                                        <h5>{{trips[0].segments[0].departureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{trips[0].segments[0].departureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{trips[0].segments[0].departureCity}} ({{trips[0].segments[0].departure}})</h4>
                                                        <h5>{{trips[0].segments[0].departureName}}</h5>
                                                    </div>
                                                    <div class="duration"></div>
                                                    <div class="destination">
                                                        <h5>{{trips[0].segments[ trips[0].segments.length - 1 ].arrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{trips[0].segments[ trips[0].segments.length - 1 ].arrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{trips[0].segments[ trips[0].segments.length - 1 ].arrivalCity}} ({{trips[0].segments[ trips[0].segments.length - 1 ].arrival}})</h4>
                                                        <h5>{{trips[0].segments[ trips[0].segments.length - 1 ].arrivalName}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .widget.flight-detail -->
                                    <div class="flight-detail" id="return-flight" ng-if="trips[1]">
                                        <div>
                                            <header><span>PENERBANGAN PULANG</span></header>
                                            <div class="widget-content">
                                                <div class="airline">
                                                    <img ng-src="{{trips[1].segments[0].airlineLogoUrl}}" alt="{{trips[1].segments[0].airlineName}}" class="airline-image" />
                                                    <h4 class="airline-name">{{trips[1].segments[0].airlineName}}</h4>
                                                </div>
                                                <div class="route">
                                                    <div class="origin">
                                                        <h5>{{trips[1].segments[0].departureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{trips[1].segments[0].departureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{trips[1].segments[0].departureCity}} ({{trips[1].segments[0].departure}})</h4>
                                                        <h5>{{trips[1].segments[0].departureName}}</h5>
                                                    </div>
                                                    <div class="duration"></div>
                                                    <div class="destination">
                                                        <h5>{{trips[1].segments[ trips[0].segments.length - 1 ].arrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{trips[1].segments[ trips[0].segments.length - 1 ].arrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{trips[1].segments[ trips[0].segments.length - 1 ].arrivalCity}} ({{trips[1].segments[ trips[0].segments.length - 1 ].arrival}})</h4>
                                                        <h5>{{trips[1].segments[ trips[0].segments.length - 1 ].arrivalName}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .widget.flight-detail -->
                                </div>
                                <div class="widget passenger-detail"></div><!-- .widget.passenger-detail -->
                            </div><!-- .widget-container -->

                        </div>

                    </div>

                </div>

            </section><!-- .checkout-content -->

            <!--<div class="page-overlay flight-expired" ng-show="expired">
                <div class="overlay-content">
                    <header>
                        <h4>Checkout Kadaluarsa</h4>
                    </header>
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 text-align">
                                    <img src="/Assets/images/expired-clock.jpg" alt="Expired" />
                                </div>
                                <div class="col-sm-8">
                                    <h3>Maaf, waktu pembayaran Anda <b>sudah habis</b></h3>
                                    <p>Silahkan klik tombol dibawah untuk kembali ke halaman pencarian.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn btn-yellow btn-block" href="{{returnUrl}}">KEMBALI</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>--><!-- .page-overlay -->
            <div class="bookfailed-popup" ng-show="expired">
                <div class="overlay-content">
                    <section style="padding-top:60px; padding-left:225px;">
                        <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                        <div style="padding-top:25px;"><span style="color: #15b1e4; font-size:26px"><b>Mohon maaf...</b></span></div>
                        <div style="padding-top:5px;"><span style="font-size:13px">Waktu pembayaran Anda<span style="color: #15b1e4;font-size:13px"><b> sudah habis</b></span>.</span></div>
                        <div><span style="font-size:13px">Silakan klik tombol di bawah untuk kembali ke halaman pencarian.</span></div>
                    </section>
                    <div align="right" style="padding-right:30px;padding-top:30px;">
                        <a class="btn popup-btn-yellow book-failed" href="{{returnUrl}}"><b>CARI ULANG</b></a>
                    </div>
                </div>
            </div>

            <!--<div class="page-overlay booking-flight" ng-hide="book.checked || !book.booking">
                <div class="overlay-content">
                    <header>
                        <h4>Mohon Tunggu</h4>
                    </header>
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 text-align">
                                    <img src="/Assets/images/expired-clock.jpg" alt="Expired" />
                                </div>
                                <div class="col-sm-8">
                                    <p>Sedang memproses pemesanan Anda ke maskapai. Proses ini dapat berlangsung hingga 5 (lima) menit.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div> -->
            <div class="loading-popup" ng-hide="book.checked || !book.booking">
                <div class="overlay-content">
                    <section style="padding-top:40px; padding-left:190px;">
                        <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                        <div style="padding-top:20px;"><span style="color: #15b1e4; font-size:17px"><i><b>Mohon Tunggu...</b></i></span></div>
                        <div><img src="/Assets/images/popup/loading-strip2.png"></div>
                        <div style="padding-top:15px;"><span style="font-size:14px"><b>Kami sedang</b></span></div>
                        <span style="color: #15b1e4; font-size:14px"><b>memproses*</b></span>
                        <div><span style="font-size:14px"><b>pemesanan Anda</b></span></div>
                        <div><span style="font-size:14px"><b>ke maskapai</b></span></div>
                        <div style="padding-right:8px;padding-top:20px"><span style="font-size:9px"><b>*Dapat berlangsung hingga 5(lima) menit</b></span></div>
                        <div style="padding-top:20px"><img src="/Assets/images/popup/quotation1.png"><span style="font-size:12px;">Oh the Places</span></div>
                        <div><span style="font-size:12px;">You'll go<img src="/Assets/images/popup/quotation2.png"></span></div>
                        <div><span><i>-Dr. Seuss</i></span></div>
                    </section>
                </div>
            </div>

            <!--<div class="page-overlay booking-flight" ng-show="book.checked && book.isSuccess">
                <div class="overlay-content">
                    <header>
                        <h4>Pemesanan Berhasil</h4>
                    </header>
                    <section>
                        <p>Penerbangan Tersedia. Mengalihkan Anda ke halaman pembayaran.</p>
                    </section>
                </div>
            </div>-->

            <div class="bookfailed-popup" ng-show="book.checked && book.isSuccess">
                <div class=" overlay-content">
                <section style="padding-top:60px; padding-left:225px;">
                    <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                    <div style="padding-top:20px;"><span style="color: #15b1e4; font-size:20px"><b>Pemesanan Berhasil</b></span></div>
                    <div><img src="~/Assets/images/popup/paymentyellowstrip.png" /></div>
                    <div style="padding-top:5px;"><span style="font-size:14px">Penerbangan Tersedia.</span></div>
                    <div style="padding-top:5px;"><span style="font-size:14px">Mengalihkan Anda ke halaman pembayaran.</span></div>
                </section>
            </div>
            </div>

            <!--<div class="page-overlay booking-flight" ng-show="book.checked && !book.isSuccess">
                <div class="overlay-content">
                    <header>
                        <h4>Pemesanan Gagal</h4>
                    </header>
                    <section>
                        <p>Mohon Maaf, pemesanan Anda gagal di proses.</p>
                    </section>
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn btn-yellow btn-block" href="{{returnUrl}}">KEMBALI</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>-->

            <div class="bookfailed-popup" ng-show="book.checked && !book.isSuccess && !book.isPriceChanged">
                <div class="overlay-content">
                    <section style="padding-top:60px; padding-left:225px;">
                        <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                        <div style="padding-top:25px;"><span style="color: #15b1e4; font-size:26px"><b>Mohon maaf...</b></span></div>
                        <div style="padding-top:5px;"><span style="font-size:13px">Tiket penerbangan tidak dapat diproses karena kursi <span style="color: #15b1e4;font-size:13px"><b>telah terisi penuh</b></span></span></div>
                        <div align="right" style="padding-right:50px"><img src="/Assets/images/popup/smallyellowstrip.png"></div>
                    </section>
                    <div align="right" style="padding-right:30px;padding-top:30px;">
                        <a class="btn popup-btn-yellow book-failed" href="{{returnUrl}}"><b>CARI LAGI</b></a>
                    </div>
                </div>
            </div>

            <!--<div class="page-overlay booking-flight" ng-show="book.isPriceChanged">
                <div class="overlay-content">
                    <header>
                        <h4>Harga Berubah</h4>
                    </header>
                    <section>
                        <p>
                            Harga tiket untuk penerbangan ini berubah menjadi Rp {{book.newPrice | number : fractionSize}} disebabkan
                            perubahan dari sistem maskapai.
                        </p>
                    </section>
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-grey btn-block" href="{{returnUrl}}">KEMBALI</a>
                                </div> 
                                <form name="finalForm" id="finalForm" ng-submit="book.send()">
                                    <input type="submit" class="btn btn-yellow" value="PESAN PENERBANGAN INI" ng-disabled="(checkoutForm.loading)">
                                </form>
                            </div>
                        </div>
                    </footer>

                </div>
            </div> -->

            <div class="priceChaged-popup" ng-show="book.priceChanged">
                <div class="overlay-content">
                    <section style="padding-top:45px; padding-left:200px;padding-bottom:0px;margin-bottom:0px;">
                        <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                        <div style="padding-top:5px;"><span style="color: #15b1e4; font-size:26px"><b>Harga berubah*</b></span></div>
                        <div style="padding-top:5px;"><span style="font-size:13px">Maskapai baru saja mengupdate harga tiket dari <span style="color: #15b1e4;font-size:13px"><b>Rp {{totalPrice | number : fractionSize}}</b></span> menjadi <span style="color: #15b1e4;font-size:13px"><b>Rp {{book.newPrice | number : fractionSize}}</b></span></span></div>
                        <div align="right" style="padding-right:10px"><img src="/Assets/images/popup/paymentyellowstrip.png"></div>
                        <div style="padding-right:5px;padding-top:5px;padding-bottom:0px;margin-bottom:0px;"><span style="font-size:10px"><b>*Dapat berlangsung hingga 5(lima) menit</b></span></div>
                        <div style="padding-top:0px;margin-top:0px"><hr style="color:#15b1e4;padding-bottom:15px;margin-bottom:0px;padding-top:0px;margin-top:3px;margin-right:75px;" /></div>
                        
                        <footer>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-grey btn-block" href="{{returnUrl}}">CARI ULANG</a>
                                    </div>
                                    <form name="finalForm" id="finalForm" ng-submit="book.send()">
                                        <input type="submit" class="btn btn-yellow" value="LANJUTKAN" ng-disabled="(checkoutForm.loading)">
                                    </form>
                                </div>
                            </div>
                        </footer>
                        <!--<div style="padding-top:0px;margin-top:0px;">
                            <span style="padding-bottom:10px;padding-top:0px;margin-top:0px;margin-bottom:0px;"><a class="btn popup-btn-yellow price-changed" href="{{returnUrl}}">CARI ULANG</a></span>
                            <span style="padding-left:40px;padding-bottom:10px;padding-top:0px;margin-top:0px;margin-bottom:0px;">
                                <form name="finalForm" id="finalForm" ng-submit="book.send()">
                                    <span style="padding-left:40px;padding-bottom:10px;padding-top:0px;margin-top:0px;margin-bottom:0px;"><a class="btn popup-btn-yellow price-changed" href="#"><b>LANJUTKAN</b></a></span>
                                </form>
                            </span>   
                        </div>-->
                    </section>
                </div>
            </div>
        </div>
@*</div>*@
        <!-- checkout end here -->
                                break;
    case "BookExpired":
    @:[Ini ceritanya page booking expired]
        break;
    case "BookError":
    @:[Ini ceritanya page kalo input datanya ga bener]
        break;
    case "NoLongerAvailable":
    @:[Ini ceritanya page kalo fare-nya uda ga available lageh]
        break;
    case "InvalidInputData":
    @:[Ini ceritanya page kalo input datanya ga bener]
        break;
}
