@using System.Globalization
@using Lunggo.ApCommon.Flight.Constant
@model Lunggo.CustomerWeb.Models.FlightCheckoutData

@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "Home Page";
}

@{
    var titleList = new List<Object>
        {
            new {Value = Title.Mister, Text = "Mr"},
            new {Value = Title.Mistress, Text = "Mrs"},
            new {Value = Title.Miss, Text = "Ms"}
        };

    var childTitleList = new List<Object>
        {
            new {Value = Title.Mister, Text = "Mr"},
            new {Value = Title.Miss, Text = "Ms"}
        };

    var adultCount = 0;
    var childCount = 0;
    var infantCount = 0;
    var needPassport = false;
    var hashKey = "";

    try
    {
        adultCount = Model.Itinerary.AdultCount;
        childCount = Model.Itinerary.ChildCount;
        infantCount = Model.Itinerary.InfantCount;
        needPassport = Model.Itinerary.RequirePassport;
        hashKey = Model.HashKey;
    }
    catch
    {

    }
}

@section PageJavascript{
    <script>
        // goto page (pageNumber)
        var gotoPage = function (pageNumber) {
            // show and hide page
            $('.checkout-page').hide();
            $('.checkout-page.step-' + pageNumber).show();
            // animate scrolltop to 0
            $('html, body').stop().animate({
                scrollTop: 0
            });
            // update checkout bar progress
            $('.checkout-bar .checkout-current-progress').attr('class', 'checkout-current-progress step-' + pageNumber);
            $('.checkout-bar [class^="bar"]').each(function () {
                $(this).removeClass('active');
                if ($(this).attr('data-step') <= pageNumber) {
                    $(this).addClass('active');
                }
            });


        }

    </script>
}

<form action="" class="form" id="flight-customer-form" method="post">
    <section class="page group-checkout group-flight-checkout customer-detail-page">
        <section class="checkout-progress">
            <div class="checkout-step">
                <div>Customer Detail</div>
                <div>Passenger Detail</div>
                <div>Review</div>
                <div>Payment</div>
                <div>Ticket</div>
            </div>
            <div class="checkout-bar">
                <div class="checkout-current-progress"></div>
                <div data-step="1" class="bar-1 active"></div>
                <div data-step="2" class="bar-2"></div>
                <div data-step="3" class="bar-3"></div>
                <div data-step="4" class="bar-4"></div>
                <div data-step="5" class="bar-5"></div>
            </div>
        </section><!-- .checkout-progress -->
        <section class="customer-detail step-1 checkout-page">
            <h1 class="section-title">CUSTOMER DETAIL</h1>
            <div class="section-content container">
                <form class="form form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-12">Name (Buyer):</label>
                        <div class="col-xs-12">
                            <input type="text" name="ContactData.Name" value="" class="form-control" placeholder="Enter your full name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12">Phone number:</label>
                        <div class="col-xs-12">
                            <input type="number" name="ContactData.Phone" value="" class="form-control" placeholder="ex: 08212345678" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12">Email address:</label>
                        <div class="col-xs-12">
                            <input type="email" name="ContactData.Email" value="" class="form-control" placeholder="ex: your_mail@domain.com" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="btn btn-yellow btn-block-lg" onclick="gotoPage(2)">CONTINUE</button>
                        </div>
                    </div>
                </form>
            </div><!-- .section-content -->
        </section><!-- .checkout-page.step-1 -->
        <section class="passenger-detail step-2 checkout-page">
            <h1 class="section-title">PASSENGER DETAIL</h1>
            <div class="section-content container">
                <form class="form form-horizontal">
                    @for (var i = 1; i <= adultCount; i++)
                    {
                        <div class="passenger">
                            <h2 class="passenger-detail-title">Adult Passenger ( > 12 years old)</h2>
                            <div class="form-group">
                                <label class="control-label col-xs-12">Title</label>
                                <div class="col-xs-12">
                                    <select class="form-control" name="AdultPassengerData[@(i-1)].Title">
                                        <option value="Title.Mister">Mr</option>
                                        <option value="Title.Mistress">Mrs</option>
                                        <option value="Title.Miss">Ms</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12">First Name</label>
                                <div class="col-xs-12">
                                    <input type="text" name="AdultPassengerData[@(i-1)].FirstName" value="" placeholder="Full Name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12">Last Name</label>
                                <div class="col-xs-12">
                                    <input type="text" name="AdultPassengerData[@(i-1)].LastName" value="" placeholder="Full Name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12">Birthday</label>
                                <div class="col-xs-3">
                                    <select class="form-control" name="AdultPassengerData[@(i-1)].BirthDate.Date">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="9">8</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="19">18</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="29">28</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class="col-xs-5">
                                    <select class="form-control" name="AdultPassengerData[@(i-1)].BirthDate.Month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" name="AdultPassengerData[@(i-1)].BirthDate.Year">
                                        <option value="2000">2000</option>
                                    </select>
                                </div>
                            </div>
                            @if (needPassport)
                            {
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Passport Number</label>
                                    <div class="col-xs-12">
                                        <input type="text" name="AdultPassengerData[@(i-1)].PassportNumber" value="" class="form-control" placeholder="Passport Number" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Birthday</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" name="AdultPassengerData[@(i-1)].PassportExpiryDate.Date">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="9">8</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="19">18</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="29">28</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-5">
                                        <select class="form-control" name="AdultPassengerData[@(i-1)].PassportExpiryDate.Month">
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control" name="AdultPassengerData[@(i-1)].PassportExpiryDate.Year">
                                            <option value="2000">2000</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <input type="hidden" class="form-control" name="AdultPassengerData[@(i-1)].Country" placeholder="" value="ID">
                        </div>
                        <!-- .passenger -->
                    }
                    @if (childCount > 0)
                    {
                        for (var i = 1; i <= childCount; i++)
                        {
                            <div class="passenger">
                                <h2 class="passenger-detail-title">Child Passenger ( 2-12 years old)</h2>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Title</label>
                                    <div class="col-xs-12">
                                        <select class="form-control" name="ChildPassengerData[@(i - 1)].Title">
                                            <option value="Title.Mister">Mr</option>
                                            <option value="Title.Miss">Ms</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">First Name</label>
                                    <div class="col-xs-12">
                                        <input type="text" name="ChildPassengerData[@(i - 1)].FirstName" value="" placeholder="Full Name" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Last Name</label>
                                    <div class="col-xs-12">
                                        <input type="text" name="ChildPassengerData[@(i - 1)].LastName" value="" placeholder="Full Name" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Birthday</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" name="ChildPassengerData[@(i - 1)].BirthDate.Date">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="9">8</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="19">18</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="29">28</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-5">
                                        <select class="form-control" name="ChildPassengerData[@(i - 1)].BirthDate.Month">
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control" name="ChildPassengerData[@(i - 1)].BirthDate.Year">
                                            <option value="2000">2000</option>
                                        </select>
                                    </div>
                                </div>
                                @if (needPassport)
                                {
                                    <div class="form-group">
                                        <label class="control-label col-xs-12">Passport Number</label>
                                        <div class="col-xs-12">
                                            <input type="text" name="ChildPassengerData[@(i - 1)].PassportNumber" value="" class="form-control" placeholder="Passport Number" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12">Birthday</label>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="ChildPassengerData[@(i - 1)].PassportExpiryDate.Date">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="9">8</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="19">18</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="29">28</option>
                                                <option value="30">30</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-5">
                                            <select class="form-control" name="ChildPassengerData[@(i - 1)].PassportExpiryDate.Month">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="ChildPassengerData[@(i - 1)].PassportExpiryDate.Year">
                                                <option value="2000">2000</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                                <input type="hidden" class="form-control" name="ChildPassengerData[@(i - 1)].Country" placeholder="" value="ID">
                            </div>
                            <!-- .passenger -->
                        }
                    }
                    @if (infantCount > 0)
                    {
                        for (var i = 1; i <= infantCount; i++)
                        {
                            <div class="passenger">
                                <h2 class="passenger-detail-title">Infant Passenger ( < 2 years old)</h2>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Title</label>
                                    <div class="col-xs-12">
                                        <select class="form-control" name="InfantPassengerData[@(i - 1)].Title">
                                            <option value="Title.Mister">Mr</option>
                                            <option value="Title.Miss">Ms</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">First Name</label>
                                    <div class="col-xs-12">
                                        <input type="text" name="InfantPassengerData[@(i - 1)].FirstName" value="" placeholder="Full Name" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Last Name</label>
                                    <div class="col-xs-12">
                                        <input type="text" name="InfantPassengerData[@(i - 1)].LastName" value="" placeholder="Full Name" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Birthday</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" name="InfantPassengerData[@(i - 1)].BirthDate.Date">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="9">8</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="19">18</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="29">28</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-5">
                                        <select class="form-control" name="InfantPassengerData[@(i - 1)].BirthDate.Month">
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control" name="InfantPassengerData[@(i - 1)].BirthDate.Year">
                                            <option value="2000">2000</option>
                                        </select>
                                    </div>
                                </div>
                                @if (needPassport)
                                {
                                    <div class="form-group">
                                        <label class="control-label col-xs-12">Passport Number</label>
                                        <div class="col-xs-12">
                                            <input type="text" name="InfantPassengerData[@(i - 1)].PassportNumber" value="" class="form-control" placeholder="Passport Number" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12">Birthday</label>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="InfantPassengerData[@(i - 1)].PassportExpiryDate.Date">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="9">8</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="19">18</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="29">28</option>
                                                <option value="30">30</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-5">
                                            <select class="form-control" name="InfantPassengerData[@(i - 1)].PassportExpiryDate.Month">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4">
                                            <select class="form-control" name="InfantPassengerData[@(i - 1)].PassportExpiryDate.Year">
                                                <option value="2000">2000</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                                <input type="hidden" class="form-control" name="InfantPassengerData[@(i - 1)].Country" placeholder="" value="ID">
                            </div>
                            <!-- .passenger -->
                        }
                    }
                    <!-- continue -->
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="btn btn-yellow btn-block-lg" onclick="gotoPage(3)">REVIEW ORDER</button>
                            <button class="btn btn-back" onclick="gotoPage(1)">BACK</button>
                        </div>
                    </div>
                </form>
            </div><!-- .section-content -->
        </section><!-- .checkout-page.step-3 -->
        <section class="review-detail step-3 checkout-page">

            <p class="container">Please review your order before make a payment</p>

            <section class="flight-detail">
                <h3 class="text-center">DEPARTURE FLIGHT</h3>
                <h5 class="airline-name">
                    <img src="@Model.Itinerary.FlightTrips.First().Airlines[0].LogoUrl" alt="Alternate Text" class="airline-logo" /> @Model.Itinerary.FlightTrips.First().Airlines[0].Name
                </h5>
                <div class="row flight-route">
                    <div class="col-sm-6 text-right flight-origin">
                        <h5>@Model.Itinerary.FlightTrips.First().FlightSegments.First().DepartureTime.ToString("dd-MMM-yyyy")</h5>
                        <h5>@Model.Itinerary.FlightTrips.First().FlightSegments.First().DepartureTime.ToString("HH : mm")</h5>
                        <h5><strong>@Model.Itinerary.FlightTrips.First().FlightSegments.First().DepartureAirport</strong></h5>
                        <h5>@Model.Itinerary.FlightTrips.First().OriginAirportName</h5>
                        <h5>@Model.Itinerary.FlightTrips.First().OriginCity</h5>
                    </div>
                    <div class="separator">to</div>
                    <div class="col-sm-6 text-left flight-destination">
                        <h5>@Model.Itinerary.FlightTrips.First().FlightSegments.Last().ArrivalTime.ToString("dd-MMM-yyyy")</h5>
                        <h5>@Model.Itinerary.FlightTrips.First().FlightSegments.Last().ArrivalTime.ToString("HH : mm")</h5>
                        <h5><strong>@Model.Itinerary.FlightTrips.First().FlightSegments.Last().ArrivalAirport</strong></h5>
                        <h5>@Model.Itinerary.FlightTrips.First().DestinationAirportName</h5>
                        <h5>@Model.Itinerary.FlightTrips.First().DestinationCity</h5>
                    </div>
                </div>
            </section><!-- .flight-detail -->
            @if (@Model.Itinerary.TripType == TripType.Return)
            {
                <section class="flight-detail">
                    <h3 class="text-center">RETURN FLIGHT</h3>
                    <h5 class="airline-name"><img src="@Model.Itinerary.FlightTrips.Last().Airlines[0].LogoUrl" alt="Alternate Text" class="airline-logo" /> @Model.Itinerary.FlightTrips.Last().Airlines[0].Name</h5>
                    <div class="row flight-route">
                        <div class="col-sm-6 text-right flight-origin">
                            <h5>@Model.Itinerary.FlightTrips.Last().FlightSegments.First().DepartureTime.ToString("dd-MMM-yyyy")</h5>
                            <h5>@Model.Itinerary.FlightTrips.Last().FlightSegments.First().DepartureTime.ToString("HH : mm")</h5>
                            <h5><strong>@Model.Itinerary.FlightTrips.Last().FlightSegments.First().DepartureAirport</strong></h5>
                            <h5>@Model.Itinerary.FlightTrips.Last().OriginAirportName</h5>
                            <h5>@Model.Itinerary.FlightTrips.Last().OriginCity</h5>
                        </div>
                        <div class="separator">to</div>
                        <div class="col-sm-6 text-left flight-destination">
                            <h5>@Model.Itinerary.FlightTrips.Last().FlightSegments.Last().ArrivalTime.ToString("dd-MMM-yyyy")</h5>
                            <h5>@Model.Itinerary.FlightTrips.Last().FlightSegments.Last().ArrivalTime.ToString("HH : mm")</h5>
                            <h5><strong>@Model.Itinerary.FlightTrips.Last().FlightSegments.Last().ArrivalAirport</strong></h5>
                            <h5>@Model.Itinerary.FlightTrips.Last().DestinationAirportName</h5>
                            <h5>@Model.Itinerary.FlightTrips.Last().DestinationCity</h5>
                        </div>
                    </div>
                </section>
                <!-- .flight-detail -->
            }

            <section class="flight-passenger">
                <h2 class="section-title">Passenger Detail</h2>
                <div class="section-content container">
                    <ol>
                        @foreach (var adultPassenger in Model.AdultPassengerData)
                        {
                            <li>
                                <p>@adultPassenger.Title @adultPassenger.FirstName @adultPassenger.LastName</p>
                                <table>
                                    <tr>
                                        <td>Birth Day</td>
                                        <td>@adultPassenger.BirthDate.ToString("dd MMM yyyy")</td>
                                    </tr>
                                    @if (needPassport)
                                    {
                                        <tr>
                                            <td>Passport No</td>
                                            <td>@adultPassenger.PassportNumber</td>
                                        </tr>
                                        <tr>
                                            <td>Passport Expiry Date</td>
                                            <td>@adultPassenger.PassportExpiryDate.GetValueOrDefault().ToString("dd MMM yyyy")</td>
                                        </tr>
                                        <tr>
                                            <td>Passport Country</td>
                                            <td>@adultPassenger.Country</td>
                                        </tr>
                                    }
                                </table>
                            </li>
                        }
                        @if (childCount > 0)
                        {
                            foreach (var childPassenger in Model.ChildPassengerData)
                            {
                                <li>
                                    <p>@childPassenger.Title @childPassenger.FirstName @childPassenger.LastName</p>
                                    <table>
                                        <tr>
                                            <td>Birth Day</td>
                                            <td>@childPassenger.BirthDate.ToString("dd MMM yyyy")</td>
                                        </tr>
                                        @if (needPassport)
                                        {
                                            <tr>
                                                <td>Passport No</td>
                                                <td>@childPassenger.PassportNumber</td>
                                            </tr>
                                            <tr>
                                                <td>Passport Expiry Date</td>
                                                <td>@childPassenger.PassportExpiryDate.GetValueOrDefault().ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>Passport Country</td>
                                                <td>@childPassenger.Country</td>
                                            </tr>
                                        }
                                    </table>
                                </li>
                            }
                        }
                        @if (infantCount > 0)
                        {
                            foreach (var infantPassenger in Model.InfantPassengerData)
                            {
                                <li>
                                    <p>@infantPassenger.Title @infantPassenger.FirstName @infantPassenger.LastName</p>
                                    <table>
                                        <tr>
                                            <td>Birth Day</td>
                                            <td>@infantPassenger.BirthDate.ToString("dd MMM yyyy")</td>
                                        </tr>
                                        @if (needPassport)
                                        {
                                            <tr>
                                                <td>Passport No</td>
                                                <td>@infantPassenger.PassportNumber</td>
                                            </tr>
                                            <tr>
                                                <td>Passport Expiry Date</td>
                                                <td>@infantPassenger.PassportExpiryDate.GetValueOrDefault().ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>Passport Country</td>
                                                <td>@infantPassenger.Country</td>
                                            </tr>
                                        }
                                    </table>
                                </li>
                            }
                        }
                    </ol>
                </div>
            </section><!-- .flight-passenger -->

            <section class="flight-price">
                <h2 class="section-title">Price Detail</h2>
                <div class="section-content container">

                    <table>
                        <tbody>
                            <tr>
                                <td>Total Fare</td>
                                <td>IDR @Model.Itinerary.TotalFare.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                            </tr>
                            <tr>
                                <td>Tax and Service</td>
                                <td>Included</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total Price</td>
                                <td>IDR @Model.Itinerary.TotalFare.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </section><!-- .flight-price -->

            <section class="container">
                <button class="btn btn-yellow btn-block-lg" onclick="gotoPage(4)">CHOOSE PAYMENT METHOD</button>
                <button class="btn btn-back" onclick="gotoPage(2)">BACK</button>
            </section>

        </section><!-- .checkout-page.step-3 -->
        <section class="payment-option step-4 checkout-page">

            <h1 class="section-title">Payment Method</h1>

            <div class="section-content container">

                <div class="payment row">
                    <div class="payment-name col-xs-7">
                        <h2>Transfer</h2>
                        <img src="//placehold.it/120x40" alt="Alternate Text" />
                    </div>
                    <div class="payment-button col-xs-5">
                        <button type="submit" value="submit" class="btn btn-yellow">Pay Now</button>
                    </div>
                </div>

                <div class="payment row">
                    <div class="payment-name col-xs-7">
                        <h2>Credit Card</h2>
                        <img src="//placehold.it/120x40" alt="Alternate Text" />
                    </div>
                    <div class="payment-button col-xs-5">
                        <button type="submit" value="submit" class="btn btn-yellow">Pay Now</button>
                    </div>
                </div>

                <div class="payment row">
                    <div class="payment-name col-xs-7">
                        <h2>CIMB Click</h2>
                        <img src="//placehold.it/120x40" alt="Alternate Text" />
                    </div>
                    <div class="payment-button col-xs-5">
                        <button type="submit" value="submit" class="btn btn-yellow">Pay Now</button>
                    </div>
                </div>

                <div class="payment row">
                    <div class="payment-name col-xs-7">
                        <h2>BCA Klikpay</h2>
                        <img src="//placehold.it/120x40" alt="Alternate Text" />
                    </div>
                    <div class="payment-button col-xs-5">
                        <button type="submit" value="submit" class="btn btn-yellow">Pay Now</button>
                    </div>
                </div>

                <div class="payment row">
                    <div class="payment-name col-xs-7">
                        <h2>Mandiri Clickpay</h2>
                        <img src="//placehold.it/120x40" alt="Alternate Text" />
                    </div>
                    <div class="payment-button col-xs-5">
                        <button type="submit" value="submit" class="btn btn-yellow">Pay Now</button>
                    </div>
                </div>

            </div><!-- .section-content -->

            <div class="container">
                <button class="btn btn-back" onclick="gotoPage(3)">BACK</button>
            </div>

        </section><!-- .checkout-page.step-4 -->
    </section><!-- .checkout-page -->
</form>