@using Lunggo.ApCommon.Identity.User
@using Lunggo.ApCommon.Payment.Constant
@using Lunggo.Framework.Context
@using Lunggo.Framework.Extension
@model Lunggo.CustomerWeb.Models.FlightCheckoutData

@{

    var adultCount = 0;
    var childCount = 0;
    var passengerCount = 0;
    var needBirthDate = false;
    var needPassport = false;
    var needNationality = false;
    var token = "";
    var savedPassengers = Model.SavedPassengers;

    try
    {
        adultCount = Model.Itinerary.AdultCount;
        childCount = Model.Itinerary.ChildCount;
        var infantCount = Model.Itinerary.InfantCount;
        passengerCount = adultCount + childCount + infantCount;
        needBirthDate = Model.Itinerary.RequireBirthDate;
        needPassport = Model.Itinerary.RequirePassport;
        needNationality = Model.Itinerary.RequireNationality;
        token = Model.Token;
    }
    catch
    {
        ViewBag.Message = "BookExpired";
    }
}

@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-checkout page-checkout-flight";

    ViewBag.SiteHeader = "checkout";
    ViewBag.Title = "Checkout";
}
@section AdditionalCSS {
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var langCode = '@OnlineContext.GetActiveLanguageCode()';
        var currentPage = 1;
        // flight detail
        var token = @Model.Token;
        var paymentDetail = '';
        var flightDetail = '';
        var expiryDate = '@Model.ExpiryTime.ToString("o")';
        var trips = @Html.Raw(Model.Itinerary.Trips.Serialize());
        var price = @Model.Itinerary.TotalFare;
        // passenger number
        var adultPassenger = @Model.Itinerary.AdultCount;
        var adultTypeName = 'Dewasa';
        var childPassenger = @Model.Itinerary.ChildCount;
        var childTypeName = 'Anak';
        var infantPassenger = @Model.Itinerary.InfantCount;
        var infantTypeName = 'Bayi';
        // passport or id requirement
        var passportRequired = @Model.Itinerary.RequirePassport.ToString().ToLower();
        var idRequired = false;
        var nationalityRequired = @Model.Itinerary.RequireNationality.ToString().ToLower();
        var departureDate;
        @if (Model.Itinerary.Trips != null)
        {
            if (Model.Itinerary.Trips.Count == 2)
             {
                 @:departureDate = '@Model.Itinerary.Trips[1].DepartureDate.ToString("dd/MM/yyyy")';
             }
             else
             {
                 @:departureDate = '@Model.Itinerary.Trips[0].DepartureDate.ToString("dd/MM/yyyy")';
             }
        }
        
        // change current page
        if (getParam('page') == 2) {
            currentPage = getParam('page');
        } else {
            currentPage = 1;
        }

    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/checkoutController.js"></script>
}

@switch ((string) ViewBag.Message)
{
    default:
        <!-- checkout start here -->

        <div ng-app="travorama" ng-controller="checkoutController" class="page-loading" ng-class="{'page-loaded' : pageLoaded}">

            <section class="checkout-step {{stepClass}}">
                <div class="container">
                    <div class="step step-1" ng-class="{'active' : currentPage == 1, 'inactive' : currentPage > 1}"><span>01. <b>Data Pesanan</b></span></div>
                    <div class="step step-2" ng-class="{'active' : currentPage == 2, 'inactive' : currentPage > 2}"><span>02. <b>Data Kontak</b></span></div>
                    <div class="step step-3" ng-class="{'active' : currentPage == 3, 'inactive' : currentPage > 3}"><span>03. <b>Data Penumpang</b></span></div>
                    <div class="step step-4" ng-class="{'active' : currentPage == 4}"><span>04. <b>Pembayaran</b></span></div>
                </div>
            </section><!-- .checkout-step -->

            <section class="checkout-content">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-8">

                            <div class="content-step" id="step-1" ng-show="currentPage == 1">

                                <h3><b>RINCIAN</b> PENERBANGAN</h3>
                                <div class="flight-detail" id="departure-flight" ng-if="trips[0]">
                                    <header>
                                        <span>Penerbangan Pergi</span>
                                        <div class="fare-detail">
                                            <b>{{trips[0].OriginAirport}}</b> to <b>{{trips[0].DestinationAirport}}</b> | {{trips[0].Segments[0].DepartureTime | date: 'dd-MM-yyyy' : 'UTC'}}
                                        </div>
                                    </header>
                                    <section class="detail-content">
                                        <div ng-repeat="segment in trips[0].Segments track by $index">
                                            <div class="transit" ng-if="$index > 0">
                                                <p>Transit di {{segment.DepartureCity}} selama {{trips[0].Transits[ $index - 1 ].Duration}}</p>
                                            </div>
                                            <div class="segment">
                                                <h5 class="segment-airline-name">{{segment.AirlineName}} {{segment.AirlineCode}}-{{segment.FlightNumber}} <span class="pull-right"></span></h5>
                                                <div class="segment-number">
                                                    <span ng-if="$index == 0">1<sup>st</sup></span>
                                                    <span ng-if="$index == 1">2<sup>nd</sup></span>
                                                    <span ng-if="$index == 2">3<sup>rd</sup></span>
                                                    <span ng-if="$index > 2">{{$index}}<sup>th</sup></span>
                                                </div>
                                                <div class="segment-left">
                                                    <img ng-src="{{segment.AirlineLogoUrl}}" alt="{{AirlineName}}" class="segment-airline-logo" />
                                                </div>
                                                <div class="segment-right">
                                                    <div class="segment-departure">
                                                        <h5>{{segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{segment.DepartureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{segment.DepartureCity}} ({{segment.DepartureAirport}})</h4>
                                                        <h5>{{segment.DepartureAirportName}}</h5>
                                                    </div>
                                                    <div class="segment-duration">
                                                        <h5><span>Duration :</span> {{segment.Duration}}</h5>
                                                    </div>
                                                    <div class="segment-arrival">
                                                        <h5>{{segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{segment.ArrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{segment.ArrivalCity}} ({{segment.ArrivalAirport}})</h4>
                                                        <h5>{{segment.ArrivalAirportName}}</h5>
                                                    </div>
                                                </div>
                                                <div class="segment-operator" ng-if="segment.AirlineCode != segment.OperatingAirlineCode">
                                                    <p>Penerbangan ini di operasikan oleh <img ng-src="{{segment.OperatingAirlineLogoUrl}}" /> <span>{{segment.OperatingAirlineName}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div><!-- .flight-detail -->

                                <div class="flight-detail" id="return-flight" ng-if="trips[1]">
                                    <header>
                                        <span>Penerbangan Pulang</span>
                                        <div class="fare-detail">
                                            <b>{{trips[1].OriginAirport}}</b> to <b>{{trips[1].DestinationAirport}}</b> | {{trips[1].Segments[0].DepartureTime | date: 'dd-MM-yyyy' : 'UTC'}}
                                        </div>
                                    </header>
                                    <section class="detail-content">
                                        <div ng-repeat="segment in trips[1].Segments track by $index">
                                            <div class="transit" ng-if="$index > 0">
                                                <p>Transit di {{segment.DepartureCity}} selama {{trips[1].Transits[ $index - 1 ].Duration}}</p>
                                            </div>
                                            <div class="segment">
                                                <h5 class="segment-airline-name">{{segment.AirlineName}} {{segment.AirlineCode}}-{{segment.FlightNumber}} <span class="pull-right"></span></h5>
                                                <div class="segment-number">
                                                    <span ng-if="$index == 0">1<sup>st</sup></span>
                                                    <span ng-if="$index == 1">2<sup>nd</sup></span>
                                                    <span ng-if="$index == 2">3<sup>rd</sup></span>
                                                    <span ng-if="$index > 2">{{$index}}<sup>th</sup></span>
                                                </div>
                                                <div class="segment-left">
                                                    <img ng-src="{{segment.AirlineLogoUrl}}" alt="{{AirlineName}}" class="segment-airline-logo" />
                                                </div>
                                                <div class="segment-right">
                                                    <div class="segment-departure">
                                                        <h5>{{segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{segment.DepartureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{segment.DepartureCity}} ({{segment.DepartureAirport}})</h4>
                                                        <h5>{{segment.DepartureAirportName}}</h5>
                                                    </div>
                                                    <div class="segment-duration">
                                                        <h5><span>Duration :</span> {{segment.Duration}}</h5>
                                                    </div>
                                                    <div class="segment-arrival">
                                                        <h5>{{segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{segment.ArrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{segment.ArrivalCity}} ({{segment.ArrivalAirport}})</h4>
                                                        <h5>{{segment.ArrivalAirportName}}</h5>
                                                    </div>
                                                </div>
                                                <div class="segment-operator" ng-if="segment.AirlineCode != segment.OperatingAirlineCode">
                                                    <p>Penerbangan ini di operasikan oleh <img ng-src="{{segment.OperatingAirlineLogoUrl}}" /> <span>{{segment.OperatingAirlineName}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div><!-- .flight-detail -->

                                <div class="step-button">
                                    <button class="btn btn-yellow" ng-click="changePage(2)">LANJUTKAN</button>
                                </div>

                            </div><!-- .content-step#step-1 -->
                            <!-- ******************** -->

                            <div class="content-step" id="step-2" ng-show="currentPage == 2">

                                <h3><b>DETAIL</b> PEMESAN</h3>

                                <div class="travorama-login" ng-class="{'active' : loginShown}">
                                    <a class="login-toggle" ng-click="toggleLogin()"><b>Login</b> with your <b>TRAVORAMA</b> Account <span class="caret"></span></a>
                                    <div class="login-content">
                                        @using (Html.BeginForm("Login", "Account", new{returnUrl = HttpContext.Current.Request.Url},FormMethod.Post, new {@class = "form form-horizontal"}))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="form-group">
                                                <div class="col-xs-5">
                                                    <input type="text" class="form-control" name="Email" id="login-username" value="" placeholder="Email Address" />
                                                </div>
                                                <div class="col-xs-5">
                                                    <input type="password" class="form-control" name="Password" id="login-password" value="" placeholder="Password" />
                                                </div>
                                                <div class="col-xs-2">
                                                    <input type="submit" value="LOG IN" class="btn btn-yellow form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-10 text-right">
                                                    <a href="@Url.Action("ForgotPassword", "Account")">Lupa Password?</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div><!-- .travorama-login -->

                                <form class="form" id="buyer-form" name="buyerForm" novalidate>

                                    <div class="form-group">
                                        <label class="control-label">Title:</label>
                                        <div>
                                            <select class="form-control" id="buyer-title" name="title" ng-model="buyerInfo.title" ng-init="buyerInfo.title = titles[0].value">
                                                <option ng-repeat="title in titles" value="{{title.value}}">{{title.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error' : buyerForm.fullname.$touched && buyerForm.fullname.$invalid}">
                                        <label class="control-label important">Nama Lengkap :</label>
                                        <div>
                                            <input type="text" class="form-control" value="" id="buyer-fullname" placeholder="Full Name" name="fullname" ng-model="buyerInfo.fullname" required />
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error' : (buyerForm.phone.$touched && buyerForm.phone.$invalid) || (buyerForm.countryCode.$touched && buyerForm.countryCode.$invalid)}">
                                        <label class="control-label important">Nomor Telepon:</label>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <p>Country Code</p>
                                                <input type="number" name="countryCode" value="" class="form-control" placeholder="ex : 62 for Indoneisa" required ng-model="buyerInfo.countryCode" maxlength="3" />
                                            </div>
                                            <div class="col-xs-9">
                                                <p>Nomor Telepon (Tanpa Kode Negara)</p>
                                                <input type="number" class="form-control" value="" id="buyer-phone" placeholder="Ex: 821 2345 6789 (without Country Code)" name="phone" ng-model="buyerInfo.phone" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error' : buyerForm.email.$touched && buyerForm.email.$invalid}">
                                        <label class="control-label important">Masukan Alamat Email Anda:</label>
                                        <div>
                                            <input type="email" class="form-control" value="" id="buyer-email" placeholder="Ex: Email@travelmadezy.com" name="email" ng-model="buyerInfo.email" required />
                                        </div>
                                    </div>

                                </form><!-- #buyer-form -->

                                <div class="step-button">
                                    <button class="btn btn-grey" ng-click="changePage(1)">KEMBALI</button>
                                    <button class="btn btn-yellow" ng-click="changePage(3)" ng-disabled="buyerForm.$invalid">LANJUTKAN</button>
                                </div>

                            </div><!-- .content-step#step-2 -->
                            <!-- ******************** -->
                            <div class="content-step" id="step-3" ng-show="currentPage == 3">
                                <h3><b>DETAIL</b> PENUMPANG</h3>

                                <div class="passenger-detail">
                                
                                <form novalidate name="passengersForm">
                                    <div class="passenger-form" id="passenger-{{$index}}" ng-repeat="passenger in passengers track by $index" ng-init="initPassenger(passenger)">
                                        <header>
                                            <span>Penumpang {{$index + 1}} ({{passenger.typeName}}) <span ng-show="passenger.firstname || passenger.lastname"> : {{ passenger.title + ' ' + passenger.firstname + ' ' + passenger.lastname}}</span></span>
                                            <span class="toggle hidden"></span>
                                        </header>
                                        <div class="passenger-content">

                                                <div class="form-group">
                                                    <label class="control-label">Title</label>
                                                    <select class="form-control" name="passenger_{{$index}}_title" ng-model="passenger.title" ng-init="passenger.title = titles[0].value" required>
                                                        <option ng-repeat="title in titles" value="{{title.value}}" ng-selected="title.value == 'Mister'" ng-if="!(title.value == 'Mistress' && passenger.type != 'adult')">{{title.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group" ng-class="{'has-error': passengerForm_{{$index}}.firstname.$invalid && passengerForm_{{$index}}.firstname.$touched }">
                                                    <label class="control-label important">Nama Depan (dan Nama Tengah) :</label>
                                                    <input type="text" value="" name="passenger_{{$index}}_firstname" class="form-control" placeholder="First Name" ng-model="passenger.firstname" required />
                                                </div>
                                                <div class="form-group" ng-class="{'has-error': passengerForm_{{$index}}.lastname.$invalid && passengerForm_{{$index}}.lastname.$touched }">
                                                    <label class="control-label important">Nama Belakang / Nama Keluarga :</label>
                                                    <input type="text" value="" name="passenger_{{$index}}_lastname" class="form-control" placeholder="Last Name" ng-model="passenger.lastname" required />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label important">Tanggal Lahir :</label>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <select class="form-control" name="passenger_{{$index}}_birthDate" ng-model="passenger.birth.date" required ng-change="validateBirthday(passenger)">
                                                                <option value="{{date}}" ng-repeat="date in dates(passenger.birth.month, passenger.birth.year)" ng-selected="date == passenger.birth.date" ng-if="passenger.type == 'adult'">{{date}}</option>
                                                                <option value="{{date}}" ng-repeat="date in dates(passenger.birth.month, passenger.birth.year)" ng-selected="date == passenger.birth.date" ng-if="passenger.type == 'child' && !( passenger.birth.year == flightDetail.minYearChild && passenger.birth.month == flightDetail.departureMonth && date < flightDetail.departureDate )">{{date}}</option>
                                                                <option value="{{date}}" ng-repeat="date in dates(passenger.birth.month, passenger.birth.year)" ng-selected="date == passenger.birth.date" ng-if="passenger.type == 'infant' && !( (passenger.birth.year == flightDetail.minYearInfant && passenger.birth.month == flightDetail.departureMonth && date < flightDetail.departureDate))">{{date}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <select class="form-control" name="passenger_{{$index}}_birthMonth" ng-model="passenger.birth.month" required ng-change="validateBirthday(passenger)">
                                                                <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == passenger.birth.month" ng-if="passenger.type == 'adult'">{{month.name}}</option>
                                                                <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == passenger.birth.month" ng-if="passenger.type == 'child' && (!(passenger.birth.year == flightDetail.minYearChild && month.value < flightDetail.departureMonth) && !(passenger.birth.year == bookingDate.getFullYear() && month.value > bookingDate.getMonth()))">{{month.name}}</option>
                                                                <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == passenger.birth.month" ng-if="passenger.type == 'infant' && (!(passenger.birth.year == flightDetail.minYearInfant && month.value < flightDetail.departureMonth) && !(passenger.birth.year == bookingDate.getFullYear() && month.value > bookingDate.getMonth()))">{{month.name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <select class="form-control" name="passenger_{{$index}}_birthYear" ng-model="passenger.birth.year" required ng-change="validateBirthday(passenger)">
                                                                <option value="{{year}}" ng-repeat="year in generateYear(passenger.type)" ng-selected="year == passenger.birth.year">{{year}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- passport detail for international flight -->
                                                <div class="form-group" ng-if="passportRequired">
                                                    <label class="control-label important">Passport</label>
                                                    <div class="row">
                                                        <div class="col-xs-6" ng-class="{'has-error' : passengerForm_{{$index}}.passportNumber.$invalid && passengerForm_{{$index}}.passportNumber.$touched}">
                                                            <label class="control-label"><small>No. Passport</small></label>
                                                            <input type="text" value="" class="form-control" name="passenger_{{$index}}_passportNumber" ng-model="passenger.passport.number" ng-required="passportRequired" />
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <label class="control-label"><small>Passport Country</small></label>
                                                            <select class="form-control" name="passenger_{{$index}}_passportCountry" ng-model="passenger.passport.country" ng-init="passenger.passport.country = 'ID'" ng-required="passportRequired">
                                                                <option ng-repeat="country in countries" value="{{country.code}}" ng-selected="country.code == 'ID'">{{country.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label class="control-label"><small>Passport Expires</small></label>
                                                            <div class="row">
                                                                <div class="col-xs-4">
                                                                    <select class="form-control" name="passenger_{{$index}}_expiryDate" ng-model="passenger.passport.expire.date" ng-required="passportRequired" ng-change="validatePassport(passenger)">
                                                                        <option value="{{date}}" ng-repeat="date in dates(passenger.passport.expire.month, passenger.passport.expire.year)" ng-selected="date == passenger.passport.expire.date" ng-if="!(passenger.passport.expire.year == flightDetail.passportYear && passenger.passport.expire.month == flightDetail.passportMonth && date < flightDetail.passportDate)">{{date}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <select class="form-control" name="passenger_{{$index}}_expiryMonth" ng-model="passenger.passport.expire.month" ng-required="passportRequired" ng-change="validatePassport(passenger)">
                                                                        <option value="{{month.value}}" ng-repeat="month in months" ng-if="!(passenger.passport.expire.year == flightDetail.passportYear && month.value < flightDetail.passportMonth)">{{month.name}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <select class="form-control" name="passenger_{{$index}}_expiryYear" ng-model="passenger.passport.expire.year" ng-required="passportRequired" ng-change="validatePassport(passenger)">
                                                                        <option value="{{year}}" ng-repeat="year in generateYear('passport')">{{year}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="idRequired" ng-class="{'has-error': passengerForm_{{$index}}.idNumber.$invalid && passengerForm_{{$index}}.idNumber.$touched }">
                                                    <label class="control-label important">Nomer KTP / SIM</label>
                                                    <input type="text" class="form-control" name="passenger_{{$index}}_idNumber" ng-model="passenger.idNumber" value="" ng-required="idRequired" ng-change="passenger.idNumber = passenger.idNumber.split(' ').join('')" />
                                                </div>
                                                <div class="form-group" ng-if="nationalityRequired">
                                                    <label class="control-label">Kewarganegaraan</label>
                                                    <select class="form-control" name="passenger_{{$index}}_nationality" ng-model="passenger.nationality" ng-init="passenger.nationality = 'ID'" ng-required="nationalityRequired">
                                                        <option ng-repeat="country in countries" value="{{country.code}}" ng-selected="country.code == 'ID'">{{country.name}}</option>
                                                    </select>
                                                </div>

                                        </div>
                                    </div><!-- .passenger-form -->
                                
                                </form>

                                </div><!-- .passengerdetail -->

                                <div class="step-button">
                                    <a class="btn btn-grey" ng-click="changePage(2)">KEMBALI</a>
                                    <button class="btn btn-yellow" ng-click="changePage(4)" ng-disabled="passengersForm.$invalid">LANJUTKAN</button>
                                    <a class="btn btn-yellow" ng-click="printScope()">$SCOPE</a>
                                </div>
                                <h4 style="padding:15px;" class="bg-danger" ng-show="!passengersForm.valid && passengersForm.checked">Perika kembali form Anda.</h4>

                            </div><!-- .content-step#step-3 -->
                            <!-- ******************** -->
                            <div class="content-step" id="step-4" ng-show="currentPage == 4">
                                <h3><b>METODE</b> PEMBAYARAN</h3>

                                <hr />
                                <p>Silahkan pilih <b>metode pembayaran</b> dibawah ini yang ingin Anda gunakan:</p>

                                <div class="payment-wrapper">

                                    <div class="row">

                                        <div class="payment transfer col-xs-4">
                                            <label>
                                                <header>
                                                    <div class="input-wrapper">
                                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.BankTransfer" ng-model="paymentMethod" checked />
                                                    </div>
                                                    <h5>Bank Transfer</h5>
                                                </header>
                                                <section>
                                                    <img src="/Assets/images/payment-atm.jpg" alt="Bank Transfer" />
                                                </section>
                                            </label>
                                        </div><!-- .payment -->

                                        <div class="payment creditcard col-xs-4">
                                            <label>
                                                <header>
                                                    <div class="input-wrapper">
                                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.CreditCard" ng-model="paymentMethod" />
                                                    </div>
                                                    <h5>Kartu Kredit</h5>
                                                </header>
                                                <section>
                                                    <img src="/Assets/images/payment-cc.jpg" alt="kartu Kredit" />
                                                </section>
                                            </label>
                                        </div><!-- .payment -->

                                        <div class="payment virtualAccount col-xs-4">
                                            <label>
                                                <header>
                                                    <div class="input-wrapper">
                                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.VirtualAccount" ng-model="paymentMethod" />
                                                    </div>
                                                    <h5>Virtual Account</h5>
                                                </header>
                                                <section>
                                                    <img src="/Assets/images/payment-atm.jpg" alt="Virtual Account" />
                                                </section>
                                            </label>
                                        </div><!-- .payment -->

                                    </div>

                                    <div class="row">
                                        <div class="payment mandiri col-xs-4">
                                            <label>
                                                <header>
                                                    <div class="input-wrapper">
                                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.MandiriClickPay" ng-model="paymentMethod" />
                                                    </div>
                                                    <h5>Mandiri Clickpay</h5>
                                                </header>
                                                <section>
                                                    <img src="/Assets/images/payment-mandiri.jpg" alt="Bank Transfer" />
                                                </section>
                                            </label>
                                        </div><!-- .payment -->
                                    </div>

                                </div><!-- .payment-wrapper -->

                                <div class="step-button">
                                    
                                    <form name="finalForm" id="finalForm" ng-submit="book.send()">
                                        
                                        <div class="hidden">
                                            <input type="text" name="Token" value="" ng-model="token" />
                                            <input type="text" name="Payment.Currency" value="IDR" ng-model="currency" />
                                            <input type="type" name="Language" value="" ng-model="language" />

                                            <p>Buyer Info</p>
                                            <input type="text" name="Contact.Name" value="@(User.Identity.IsAuthenticated ? User.Identity.GetFirstName() + User.Identity.GetLastName() : "")" ng-model="buyerInfo.fullname" />
                                            <input type="text" name="Contact.CountryCode" value="@(User.Identity.IsAuthenticated ? User.Identity.GetCountryCd() : "")" ng-model="buyerInfo.countryCode" />
                                            <input type="text" name="Contact.Phone" value="@(User.Identity.IsAuthenticated ? User.Identity.GetPhoneNumber() : "")" ng-model="buyerInfo.phone" />
                                            <input type="text" name="Contact.Email" value="@(User.Identity.IsAuthenticated ? User.Identity.GetEmail() : "")" ng-model="buyerInfo.email" />

                                            <p>Passenger Info</p>
                                            <div ng-repeat="passenger in passengers track by $index">

                                                <input type="text" name="Passengers[{{$index}}].Type" value="" ng-model="passenger.type" />
                                                <input type="text" name="Passengers[{{$index}}].Title" value="" ng-model="passenger.title" />
                                                <input type="text" name="Passengers[{{$index}}].FirstName" value="" ng-model="passenger.firstname" />
                                                <input type="text" name="Passengers[{{$index}}].LastName" value="" ng-model="passenger.lastname" />
                                                <input type="text" name="Passengers[{{$index}}].BirthDate.Year" value="" ng-model="passenger.birth.year" />
                                                <input type="text" name="Passengers[{{$index}}].BirthDate.Month" value="" ng-model="passenger.birth.month" />
                                                <input type="text" name="Passengers[{{$index}}].BirthDate.Date" value="" ng-model="passenger.birth.date" />

                                                <input type="text" name="Passengers[{{$index}}].PassportNumber" value="" ng-model="passenger.passport.number" />
                                                <input type="text" name="Passengers[{{$index}}].PassportExpiryDate.Year" value="" ng-model="passenger.passport.expire.year" />
                                                <input type="text" name="Passengers[{{$index}}].PassportExpiryDate.Month" value="" ng-model="passenger.passport.expire.month" />
                                                <input type="text" name="Passengers[{{$index}}].PassportExpiryDate.Date" value="" ng-model="passenger.passport.expire.date" />
                                                <input type="text" name="Passengers[{{$index}}].idNumber" value="" ng-model="passenger.idNumber" />
                                                <input type="text" name="Passengers[{{$index}}].Country" value="" ng-model="passenger.nationality" />

                                            </div>
                                            
                                            <p>Voucher Code</p>
                                            <input type="text" name="DiscountCode" value="" ng-model="voucher.confirmedCode" />

                                            <p>Payment Method</p>
                                            <input type="text" name="Payment.Method" value="" ng-model="paymentMethod" />
                                        </div>

                                        <p>*Dengan klik tombol ‘Bayar’, Anda telah setuju dengan <a href="@Url.Action("Terms","StaticPage")">syarat &amp; ketentuan</a> dan <a href="@Url.Action("Privacy","StaticPage")">kebijakan privasi</a></p>
                                        <a class="btn btn-grey" ng-click="changePage(3)" ng-disabled="checkoutForm.loading">KEMBALI</a>
                                        <input type="submit" class="btn btn-yellow" value="{{ !checkoutForm.loading? 'BAYAR' : 'MEMPROSES' }}" ng-disabled="checkoutForm.loading || !paymentMethod">
                                        
                                    </form>
                                    
                                    <form action="" method="post" name="submitForm" id="rsvno" class="hidden">
                                        <input type="text" name="RsvNo" value="" id="rsvno-input" />
                                    </form>

                                </div>

                            </div><!-- .content.step#step-4 -->


                        </div>
                        <div class="col-sm-4">

                            <div class="widget-container">
                                <div class="widget price-detail">
                                    <h3 class="widget-title"><b>RINCIAN</b> HARGA</h3>
                                    <div class="widget-content">
                                        <dl>
                                            <dt>Total Tiket</dt>
                                            <dd><sup>Rp</sup> {{initialPrice | number}}</dd>
                                        </dl>
                                        <dl ng-if="voucher.confirmedCode">
                                            <dt>Potongan Harga</dt>
                                            <dd><sup>Rp</sup>- {{voucher.amount | number}}</dd>
                                        </dl>
                                        <dl class="total-price">
                                            <dt>Total</dt>
                                            <dd><sup>Rp</sup> {{totalPrice - voucher.amount | number}}</dd>
                                        </dl>
                                    </div>
                                    <footer>
                                        <small>* Harga ini masih bisa berubah, harga final maskapai akan dikonfirmasi kembali pada proses pembayaran</small>
                                    </footer>
                                </div><!-- .widget.price-detail -->
                                <div class="widget voucher" ng-show="currentPage == 4">
                                    <h3 class="widget-title"><b>KODE</b> VOUCHER</h3>
                                    <div class="widget-content">
                                        <span><b>Punya Kupon Travorama ?</b></span>
                                        <p>Masukan disini</p>
                                        <form class="form" name="voucherForm" novalidate>
                                            <div class="form-group">
                                                <input type="text" name="code" value="" class="form-control" ng-model="voucher.code" ng-disabled="voucher.checking" />
                                                <p class="bg-danger" ng-show="voucher.amount == 0 && voucher.checked">Kode voucher salah</p>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-6 col-xs-offset-6">
                                                        <input type="submit" value="REDEEM" class="btn btn-yellow form-control" ng-click="voucher.check()" ng-disabled="!voucher.code || voucher.checking" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div><!-- .widget.voucher -->
                                <div class="widget flight" ng-show="currentPage > 1">
                                    <div class="flight-detail" id="departure-flight" ng-if="trips[0]">
                                        <h3 class="widget-title"><b>RINCIAN</b> PENERBANGAN</h3>
                                        <div>
                                            <header><span>PENERBANGAN PERGI</span></header>
                                            <div class="widget-content">
                                                <div class="airline">
                                                    <img ng-src="{{trips[0].Segments[0].AirlineLogoUrl}}" alt="{{trips[0].Segments[0].AirlineName}}" class="airline-image" />
                                                    <h4 class="airline-name">{{trips[0].Segments[0].AirlineName}}</h4>
                                                </div>
                                                <div class="route">
                                                    <div class="origin">
                                                        <h5>{{trips[0].Segments[0].DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{trips[0].Segments[0].DepartureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{trips[0].Segments[0].DepartureCity}} ({{trips[0].Segments[0].DepartureAirport}})</h4>
                                                        <h5>{{trips[0].Segments[0].DepartureAirportName}}</h5>
                                                    </div>
                                                    <div class="duration"></div>
                                                    <div class="destination">
                                                        <h5>{{trips[0].Segments[ trips[0].Segments.length - 1 ].ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{trips[0].Segments[ trips[0].Segments.length - 1 ].ArrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{trips[0].Segments[ trips[0].Segments.length - 1 ].ArrivalCity}} ({{trips[0].Segments[ trips[0].Segments.length - 1 ].ArrivalAirport}})</h4>
                                                        <h5>{{trips[0].Segments[ trips[0].Segments.length - 1 ].ArrivalAirportName}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .widget.flight-detail -->
                                    <div class="flight-detail" id="return-flight" ng-if="trips[1]">
                                        <div>
                                            <header><span>PENERBANGAN PULANG</span></header>
                                            <div class="widget-content">
                                                <div class="airline">
                                                    <img ng-src="{{trips[1].Segments[0].AirlineLogoUrl}}" alt="{{trips[1].Segments[0].AirlineName}}" class="airline-image" />
                                                    <h4 class="airline-name">{{trips[1].Segments[0].AirlineName}}</h4>
                                                </div>
                                                <div class="route">
                                                    <div class="origin">
                                                        <h5>{{trips[1].Segments[0].DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{trips[1].Segments[0].DepartureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{trips[1].Segments[0].DepartureCity}} ({{trips[1].Segments[0].DepartureAirport}})</h4>
                                                        <h5>{{trips[1].Segments[0].DepartureAirportName}}</h5>
                                                    </div>
                                                    <div class="duration"></div>
                                                    <div class="destination">
                                                        <h5>{{trips[1].Segments[ trips[0].Segments.length - 1 ].ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{trips[1].Segments[ trips[0].Segments.length - 1 ].ArrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{trips[1].Segments[ trips[0].Segments.length - 1 ].ArrivalCity}} ({{trips[1].Segments[ trips[0].Segments.length - 1 ].ArrivalAirport}})</h4>
                                                        <h5>{{trips[1].Segments[ trips[0].Segments.length - 1 ].ArrivalAirportName}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .widget.flight-detail -->
                                </div>
                                <div class="widget passenger-detail"></div><!-- .widget.passenger-detail -->
                            </div><!-- .widget-container -->

                        </div>

                    </div>

                </div>

            </section><!-- .checkout-content -->
            
            <div class="page-overlay flight-expired" ng-show="expired">
                <div class="overlay-content">
                    <header>
                        <h4>Pencarian Kadaluarsa</h4>
                    </header>
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 text-align">
                                    <img src="/Assets/images/expired-clock.jpg" alt="Expired" />
                                </div>
                                <div class="col-sm-8">
                                    <h3>Halaman Pencarian Anda <b>Sudah Kadaluarsa</b></h3>
                                    <p>Silahkan klik tombol di bawah ini untuk memparbaharui halaman pencarian Anda.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn btn-yellow btn-block" onclick="window.history.back()">KEMBALI</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div><!-- .page-overlay -->
            
            <div class="page-overlay booking-flight" ng-show="book.booking">
                <div class="overlay-content" ng-hide="book.checked">
                    <header>
                        <h4>Mohon Tunggu</h4>
                    </header>
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 text-align">
                                    <img src="/Assets/images/expired-clock.jpg" alt="Expired" />
                                </div>
                                <div class="col-sm-8">
                                    <p>Sedang memproses pemesanan Anda ke maskapai. Proses ini dapat berlangsung hingga 5 (lima) menit.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="overlay-content" ng-show="book.checked && book.isSuccess">
                    <header>
                        <h4>Pemesanan Berhasil</h4>
                    </header>
                    <section>
                        <p>Penerbangan Tersedia. Mengalihkan Anda ke halaman pembayaran.</p>
                    </section>
                </div>
                <div class="overlay-content" ng-show="book.checked && !book.isSuccess">
                    <header>
                        <h4>Pemesanan Gagal</h4>
                    </header>
                    <section>
                        <p>Mohon Maaf, pemesanan Anda gagal di proses.</p>
                    </section>
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn btn-yellow btn-block" onclick="window.history.back();">KEMBALI</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div><!-- .page-overlay -->

        </div>


        <!-- checkout end here -->
        break;
    case "BookExpired":
        @:[Ini ceritanya page booking expired]
        break;
    case "NoLongerAvailable":
        @:[Ini ceritanya page kalo fare-nya uda ga available lageh]
        break;
    case "InvalidInputData":
        @:[Ini ceritanya page kalo input datanya ga bener]
        break;
}
