@using Lunggo.ApCommon.Identity.User
@using Lunggo.ApCommon.Payment.Constant
@using Lunggo.Framework.Context
@using Lunggo.Framework.Extension
@model Lunggo.CustomerWeb.Models.FlightCheckoutData

@{

    var adultCount = 0;
    var childCount = 0;
    var passengerCount = 0;
    var needBirthDate = false;
    var needPassport = false;
    var needNationality = false;
    var token = "";
    var savedPassengers = Model.SavedPassengers;

    try
    {
        adultCount = Model.Itinerary.AdultCount;
        childCount = Model.Itinerary.ChildCount;
        var infantCount = Model.Itinerary.InfantCount;
        passengerCount = adultCount + childCount + infantCount;
        needBirthDate = Model.Itinerary.RequireBirthDate;
        needPassport = Model.Itinerary.RequirePassport;
        needNationality = Model.Itinerary.RequireNationality;
        token = Model.Token;
    }
    catch
    {
        ViewBag.Message = "BookExpired";
    }
}

@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Checkout Page";
    ViewBag.BodyClass = "page page-checkout page-flight-checkout";
    ViewBag.AngularController = "CheckoutController";
}
@section AdditionalCSS {
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var langCode = '@OnlineContext.GetActiveLanguageCode()';
        // Checkout Detail
        var CheckoutDetail = {
            Token: '@Model.Token',
            ExpiryDate: '@Model.ExpiryTime.ToString("o")',
            Trips: @Html.Raw(Model.Itinerary.Trips.Serialize()),
            Price: @Model.Itinerary.TotalFare,
            // passenger
            Passenger: [@Model.Itinerary.AdultCount, @Model.Itinerary.ChildCount, @Model.Itinerary.InfantCount],
            PassengerName: ['Dewasa', 'Anak', 'Bayi'],
            // identity requirement
            PassportRequired: @Model.Itinerary.RequirePassport.ToString().ToLower(),
            IdRequired: false,
            NationalityRequired: @Model.Itinerary.RequireNationality.ToString().ToLower(),
            // departure date
            DepartureDate: '',
            // buyer info
            BuyerInfo: {
                LoggedIn : @User.Identity.IsAuthenticated.ToString().ToLower(),
                FirstName: '@User.Identity.GetFirstName()',
                LastName: '@User.Identity.GetLastName()',
                FullName : '@(User.Identity.GetFirstName() + " " + User.Identity.GetLastName())',
                CountryCode : '@User.Identity.GetCountryCd()',
                Phone: '@User.Identity.GetPhoneNumber()',
                Email: '@User.Identity.GetEmail()'
            }
        };

        @if (Model.Itinerary.Trips != null){
            if (Model.Itinerary.Trips.Count == 2){
                @:CheckoutDetail.DepartureDate = '@Model.Itinerary.Trips[1].DepartureDate';
            } else {
                @:CheckoutDetail.DepartureDate = '@Model.Itinerary.Trips[0].DepartureDate';
            }
        }

    </script>
    <!-- angular controller -->
    <script src="/Assets/mobile/js/checkoutController.js"></script>
}

@switch ((string)ViewBag.Message)
{
default:
<!-- page start -->
        
    <div class="page-loaded">
    
        <header class="page__header step__wrapper">
            <div class="step step-1" ng-class="{'active' : PageConfig.ActivePage == 1, 'inactive' : PageConfig.ActivePage > 1}"><span>01</span></div>
            <div class="step step-2" ng-class="{'active' : PageConfig.ActivePage == 2, 'inactive' : PageConfig.ActivePage > 2}"><span>02</span></div>
            <div class="step step-3" ng-class="{'active' : PageConfig.ActivePage == 3, 'inactive' : PageConfig.ActivePage > 3}"><span>03</span></div>
        </header><!-- .page-header -->
    
        <div class="page__body">
            <div class="page-step-1" ng-show="PageConfig.ActivePage == 1">
                <div class="form-wrapper">
                    
                    <h3><b>DATA</b> KONTAK</h3>
                    
                    <form name="BuyerForm" novalidate>

                        <div class="form-group">
                            <label class="control-label">Title : </label>
                            <select class="form-control" name="title" ng-model="CheckoutConfig.BuyerInfo.Title" ng-init="CheckoutConfig.BuyerInfo.Title = titles[0].value">
                                <option ng-repeat="title in titles" value="{{title.value}}">{{title.name}}</option>
                            </select>
                        </div>

                        <div class="form-group important">
                            <label class="control-label">Nama Depan (dan Nama Tengah) : </label>
                            <input type="text" value="" ng-model="CheckoutConfig.BuyerInfo.FirstName" name="FirstName" class="form-control" required />
                        </div>

                        <div class="form-group important">
                            <label class="control-label">Nama Belakang / Nama Keluarga: </label>
                            <input type="text" value="" ng-model="CheckoutConfig.BuyerInfo.LastName" name="LastName" class="form-control" required />
                        </div>

                        <div class="form-group important">
                            <label class="control-label">Nomor Telepon : </label>
                            <input type="number" value="" ng-model="CheckoutConfig.BuyerInfo.Phone" name="Phone" class="form-control" required />
                        </div>

                        <div class="form-group important">
                            <label class="control-label">Masukan alamat email Anda : </label>
                            <input type="email" value="" ng-model="CheckoutConfig.BuyerInfo.Email" name="Email" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-yellow form-control" ng-click="PageConfig.ChangePage(2)" ng-disabled="BuyerForm.$invalid">LANJUT</button>
                        </div>

                    </form>

                </div>
            </div><!-- .page-step-1 -->

            <div class="page-step-2" ng-show="PageConfig.ActivePage == 2">
                <h3><b>DATA</b> PENUMPANG</h3>
            
                <form novalidate name="PassengerForm">
                    <div class="passenger passenger-{{$index}}" id="passenger-{{$index}}" ng-repeat="Passenger in CheckoutConfig.Passengers track by $index">
                        <header class="passenger__header">
                            <h4 class="passenger__title">Penumpang Dewasa</h4>
                        </header><!-- .passenger__header -->
                        <div class="passenger__body">
                            <div class="form-group">
                                <label class="control-label">Title : </label>
                                <select class="form-control" required ng-model="Passenger.Title" name="passenger_{{$index}}_title" ng-init="Passenger.Title = titles[0].value">
                                    <option ng-repeat="title in titles" value="{{title.value}}">{{title.name}}</option>
                                </select>
                            </div>

                            <div class="form-group important">
                                <label class="control-label">Nama Depan (dan Nama Tengah) : </label>
                                <input type="text" value="" class="form-control" required name="passenger_{{$index}}_firstname" ng-model="Passenger.FirstName" />
                            </div>

                            <div class="form-group important">
                                <label class="control-label">Nama Belakang / Nama Keluarga: </label>
                                <input type="text" value="" class="form-control" required name="passenger_{{$index}}_lastname" ng-model="Passenger.LastName" />
                            </div>
                        
                            <!-- passenger birth date start -->
                            <div class="form-group important">
                                <label class="control-label">Tanggal Lahir: </label>
                                <div class="row">
                                        <div class="col-xs-4">
                                            <select class="form-control" required name="passenger_{{$index}}_birthDate" ng-model="Passenger.Birth.Date" ng-change="ValidateBirthday(Passenger)">
                                                <option value="{{date}}" ng-repeat="date in dates(Passenger.Birth.Month, Passenger.Birth.Year)" ng-selected="date == passenger.Birth.Date" ng-if="Passenger.type == 'adult'">{{date}}</option>
                                                <option value="{{date}}" ng-repeat="date in dates(Passenger.Birth.Month, Passenger.Birth.Year)" ng-selected="date == passenger.Birth.Date" ng-if="Passenger.type == 'child' && !( Passenger.Birth.Year == flightDetail.minYearChild && Passenger.Birth.Month == flightDetail.departureMonth && date < flightDetail.departureDate )">{{date}}</option>
                                                <option value="{{date}}" ng-repeat="date in dates(Passenger.Birth.Month, Passenger.Birth.Year)" ng-selected="date == passenger.Birth.Date" ng-if="Passenger.type == 'infant' && !( (Passenger.Birth.Year == flightDetail.minYearInfant && Passenger.Birth.Month == flightDetail.departureMonth && date < flightDetail.departureDate))">{{date}}</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4">
                                            <select class="form-control" required name="passenger_{{$index}}_birthMonth" ng-model="Passenger.Birth.Month" ng-change="ValidateBirthday(Passenger)">
                                                <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == Passenger.Birth.Month" ng-if="Passenger.type == 'adult'">{{month.name}}</option>
                                                <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == Passenger.Birth.Month" ng-if="Passenger.type == 'child' && (!(passenger.Birth.Year == flightDetail.minYearChild && month.value < flightDetail.departureMonth))">{{month.name}}</option>
                                                <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == Passenger.Birth.Month" ng-if="Passenger.type == 'infant' && (!(passenger.Birth.Year == flightDetail.minYearInfant && month.value < flightDetail.departureMonth))">{{month.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4">
                                            <select class="form-control" required name="passenger_{{$index}}_birthYear" ng-model="Passenger.Birth.Year" ng-change="ValidateBirthday(Passenger)">
                                                <option value="{{year}}" ng-repeat="year in generateYear(Passenger.type)" ng-selected="year == Passenger.Birth.Year">{{year}}</option>
                                            </select>
                                        </div>
                                </div>
                            </div>
                            <!-- passenger birth date end-->
                            
                            <!-- passenger passport start -->
                            <div class="form-group" ng-if="CheckoutConfig.PassportRequired">
                                <label class="control-label">No. Passport</label>
                                <input type="text" value="" class="form-control" name="passenger_{{$index}}_passportNumber" ng-model="Passenger.Passport.Number" ng-required="CheckoutConfig.PassportRequired" />
                            </div>

                            <div class="form-group important" ng-if="CheckoutConfig.PassportRequired">
                                <label class="control-label">Tanggal Kadaluarsa Passport: </label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select class="form-control" name="passenger_{{$index}}_expiryDate" ng-model="Passenger.Passport.Expire.date" ng-required="CheckoutConfig.PassportRequired" ng-change="validatePassport(Passenger)">
                                            <option value="{{date}}" ng-repeat="date in dates(Passenger.Passport.Expire.Month, Passenger.Passport.Expire.Year)" ng-selected="date == Passenger.Passport.Expire.Date" ng-if="!(Passenger.Passport.Expire.Year == flightDetail.passportYear && Passenger.Passport.Expire.Month == flightDetail.passportMonth && date < flightDetail.passportDate)">{{date}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control" name="passenger_{{$index}}_expiryMonth" ng-model="Passenger.Passport.Expire.Month" ng-required="CheckoutConfig.PassportRequired" ng-change="validatePassport(Passenger)">
                                            <option value="{{month.value}}" ng-repeat="month in months" ng-if="!(Passenger.Passport.Expire.year == flightDetail.passportYear && month.value < flightDetail.passportMonth)">{{month.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control" name="passenger_{{$index}}_expiryYear" ng-model="Passenger.Passport.Expire.Year" ng-required="CheckoutConfig.PassportRequired" ng-change="validatePassport(Passenger)">
                                            <option value="{{year}}" ng-repeat="year in generateYear('passport')">{{year}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- passenger passport end -->
                        
                            <!-- passenger nationality start -->
                            <div class="form-group" ng-show="CheckoutConfig.NationalityRequired || CheckoutConfig.PassportRequired">
                                <label class="control-label"><span ng-show="CheckoutConfig.NationalityRequired">Nationality:</span><span ng-show="CheckoutConfig.PassportRequired">Passport Country</span></label>
                                <select class="form-control" ng-name="passenger_{{$index}}_passportCountry" ng-model="Passenger.Passport.Country" ng-required="CheckoutConfig.NationalityRequired">
                                    <option ng-repeat="country in Countries" value="{{country.code}}" ng-selected="country.code == 'ID'">{{country.name}}</option>
                                </select>
                            </div>
                            <!-- passenger nationality end -->

                        </div><!-- .passenger__body -->

                    </div><!-- .passenger -->
                    
                    <div class="form-group">
                        <button class="btn btn-yellow form-control" ng-disabled="PassengerForm.$invalid" ng-click="PageConfig.ChangePage(3)">LANJUT</button>
                    </div>

                    <div class="form-group">
                        <button ng-click="PrintScope()" class="btn btn-block">PRINT $SCOPE</button>
                        <button ng-click="PrintForm()" class="btn btn-block">PRINT FORM</button>
                    </div>

                </form>

            </div><!-- .page-step-2 -->
        
            <div class="page-step-3" ng-show="PageConfig.ActivePage == 3">
            
                <div class="summary summary--payment">
                    <h3 class="summary__title"><b>METODE</b> PEMBAYARAN</h3>
                    <div class="summary__body">
                    
                        <form>
                            
                            <label>
                                <header>
                                    <div class="input-wrapper">
                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.BankTransfer" checked />
                                    </div>
                                    <h5>Bank Transfer</h5>
                                </header>
                                <section>
                                    <img src="/Assets/images/payment-atm.jpg" alt="Bank Transfer" />
                                </section>
                            </label>
                            <label>
                                <header>
                                    <div class="input-wrapper">
                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.CreditCard"/>
                                    </div>
                                    <h5>Kartu Kredit</h5>
                                </header>
                                <section>
                                    <img src="/Assets/images/payment-cc.jpg" alt="Credit Card" />
                                </section>
                            </label>
                            <label>
                                <header>
                                    <div class="input-wrapper">
                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.VirtualAccount"/>
                                    </div>
                                    <h5>Virtual Account</h5>
                                </header>
                                <section>
                                    <img src="/Assets/images/payment-atm.jpg" alt="Virtual Account" />
                                </section>
                            </label>
                            <label>
                                <header>
                                    <div class="input-wrapper">
                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.MandiriClickPay"/>
                                    </div>
                                    <h5>Mandiri ClickPay</h5>
                                </header>
                                <section>
                                    <img src="/Assets/images/payment-mandiri.jpg" alt="Bank Transfer" />
                                </section>
                            </label>

                        </form>    

                    </div><!-- .summary__body -->
                </div><!-- .summary--payment -->

                <div class="summary summary--price">
                    <h3 class="summary__title"><b>RINCIAN</b> HARGA</h3>
                    <div class="summary__body">
                        <dl>
                            <dt>Total Tiket</dt>
                            <dd><sup>Rp</sup> {{CheckoutConfig.Price | number}}</dd>
                        </dl>
                        <dl ng-show="CheckoutConfig.Voucher.Validated && CheckoutConfig.Voucher.Valid">
                            <dt>Potongan Harga</dt>
                            <dd><sup>Rp</sup>- {{CheckoutConfig.Voucher.Amount | number}}</dd>
                        </dl>
                        <dl class="total-price">
                            <dt>Total</dt>
                            <dd><sup>Rp</sup> {{CheckoutConfig.Price - CheckoutConfig.Voucher.Amount | number}}</dd>
                        </dl>
                    </div><!-- .summary__body -->
                </div><!-- .summar--price -->
                <div class="summary summary--voucher">
                    <div class="container">
                        <h4>Punya kupon Travorama</h4>
                        <form class="form form-horizontal">
                            <div class="form-group">
                                <input type="text" value="" class="form-control" ng-model="CheckoutConfig.Voucher.Code" ng-disabled="CheckoutConfig.Voucher.Validated && CheckoutConfig.Voucher.Valid" />
                                <p class="form-control-static" ng-show="CheckoutConfig.Voucher.Validated && !CheckoutConfig.Voucher.Valid">{{CheckoutConfig.Voucher.Status}}</p>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6 col-xs-offset-6">
                                    <input type="button" class="btn btn-grey btn-block" ng-click="CheckoutConfig.Voucher.Reset()" ng-show="CheckoutConfig.Voucher.Validated && CheckoutConfig.Voucher.Valid" value="RESET">
                                    <button class="btn btn-yellow btn-block" ng-click="CheckoutConfig.Voucher.Check()" ng-disabled="!CheckoutConfig.Voucher.Code || CheckoutConfig.Voucher.Validating" ng-hide="CheckoutConfig.Voucher.Validated && CheckoutConfig.Voucher.Valid" >REDEEM</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div><!-- .summary--voucher-->
                <div class="summary summary--passenger">
                    <h3 class="summary__title"><b>DAFTAR</b> PENUMPANG</h3>
                    <div class="summary__body">
                    
                        <ol>
                            <li ng-repeat="Passenger in CheckoutConfig.Passengers">
                                <h4>
                                    <span ng-show="Passenger.Title == 0">Tuan</span>
                                    <span ng-show="Passenger.Title == 1">Nyonya</span>
                                    {{Passenger.FirstName}} {{Passenger.LastName}}
                                </h4>
                                <dl>
                                    <dt>Jenis Tiket</dt>
                                    <dd>{{Passenger.typeName}}</dd>
                                </dl>
                                <dl>
                                    <dt>Tanggal Lahir</dt>
                                    <dd>03 / 04 / 90</dd>
                                </dl>
                            </li>
                        </ol>

                    </div><!-- .summary__body -->
                </div><!-- .summary--passenger -->

                <a class="btn btn-yellow form-control">LANJUT</a>


            </div><!-- .page-step-3 -->

        </div><!-- .page-body -->
    
        <!-- additional overlay page start -->
        <div class="overlay datepicker overlay--theme--blue" id="calendar-overlay">
            <div class="overlay__header">
                <h3 class="overlay__title">Tanggal Lahir <span class="overlay__close" ng-click="PageConfig.SetOverlay()">X</span></h3>
            </div><!-- .overlay__header -->
            <div class="overlay__body">
                <div class="ui-datepicker"></div>
            </div><!-- .overlay__body -->
        </div>
        <!-- additional overlay page end -->
    
        <!-- popup expired -->
        <div class="popup__wrapper" ng-class="{'active':PageConfig.ExpiryDate.Expired}">
            <div class="popup">
                <header class="popup__header">
                    <h4 class="popup__title">Checkout Kadaluarsa</h4>
                </header>
                <div class="popup__body">
                    <div class="container">
                        <p>Maaf, waktu pembayaran Anda sudah habis. Silahkan klik tombol dibawah untuk kembali ke halaman pencarian.</p>
                    </div>
                </div>
                <div class="popup__footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="btn btn-block btn-yellow" href="{{PageConfig.ReturnUrl}}">KEMBALI</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- .page-loaded -->
        
<!-- page end -->
break;
case "BookExpired":
@:[Ini ceritanya page booking expired]
break;
case "NoLongerAvailable":
@:[Ini ceritanya page kalo fare-nya uda ga available lageh]
break;
case "InvalidInputData":
@:[Ini ceritanya page kalo input datanya ga bener]
break;
}
