@using System.Globalization
@using Lunggo.ApCommon.Flight.Constant
@model Lunggo.CustomerWeb.Models.FlightCheckoutData

@{
    ViewBag.Title = "FlightCheckout";

    Layout = "/Views/Shared/_layout_20150506.cshtml";
}

@{
    var titleList = new List<Object>
        {
            new {Value = Title.Mister, Text = "Mr"},
            new {Value = Title.Mistress, Text = "Mrs"},
            new {Value = Title.Miss, Text = "Ms"}
        };

    var childTitleList = new List<Object>
        {
            new {Value = Title.Mister, Text = "Mr"},
            new {Value = Title.Miss, Text = "Ms"}
        };

    var adultCount = 0;
    var childCount = 0;
    var infantCount = 0;
    var needPassport = false;
    var hashKey = "";

    try
    {
        adultCount = Model.Itinerary.AdultCount;
        childCount = Model.Itinerary.ChildCount;
        infantCount = Model.Itinerary.InfantCount;
        needPassport = Model.Itinerary.RequirePassport;
        hashKey = Model.HashKey;
    }
    catch
    {

    }
}

<!-- .checkout-page content start -->
<div class="checkout-page hotel-checkout-page">

    <header class="page-header">
        <div class="container">
            <div class="site-nav"> <a href="#">Beranda</a> / <strong>Flight List</strong></div>
            <hr>
            <h1><b>@Model.Message</b></h1>
            <h1><b>CUSTOMER</b> DETAIL</h1>
        </div>
    </header>

    <div class="container">
        <div class="row">

            <div class="col-sm-8">
                <section class="customer-detail">
                    <section class="customer-form">
                        <form action="" class="form" id="flight-customer-form" method="post">
                            <input type="text" class="hidden" name="HashKey" value="@Model.HashKey" />
                            <div class="form-group">
                                <label for="" class="control-label">Name (Buyer) :</label>
                                <input type="text" class="form-control" name="ContactData.Name" placeholder="Nama sesuai KTP / SIM">
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-inline">
                                        <div class="form-group" style="width:34%;">
                                            <label for="">Country Code :</label>
                                            <input type="text" class="form-control" style="width:100%;" name="ContactData.CountryCode" placeholder="ex : 62">
                                        </div>
                                        <div class="form-group" style="width:64%;">
                                            <label for="">Phone Number :</label>
                                            <input type="text" class="form-control" style="width:100%;" name="ContactData.Phone" placeholder="ex : 81234567890">
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="control-label">Email :</label>
                                        <input type="text" class="form-control" name="ContactData.Email" placeholder="ex : nama@email.com">
                                    </div>  
                                </div>
                            </div>
                            @for (var i = 1; i <= Model.Itinerary.AdultCount; i++)
                            {
                                <h5 class="control-label"><b>Passenger Adult @i</b></h5>
                                <div class="form-inline">
                                    <div class="form-group" style="width:20%;">
                                        <label for="">Title :</label>
                                        @Html.DropDownListFor(model => model.AdultPassengerData[i - 1].Title, new SelectList(titleList, "Value", "Text"), new{@class = "form-control user-title"})
                                    </div>
                                    <div class="form-group" style="width:39%;">
                                        <label for="">First Name :</label>
                                        <input type="text" class="form-control" style="width:100%;" name="AdultPassengerData[@(i-1)].FirstName" placeholder="">
                                    </div>
                                    <div class="form-group" style="width:39%;">
                                        <label for="">Last Name :</label>
                                        <input type="text" class="form-control" style="width:100%;" name="AdultPassengerData[@(i-1)].LastName" placeholder="">
                                    </div>
                                </div><br />
                                <div class="form-group">
                                    <label for="" class="control-label">Birth Date :</label>
                                    <input type="date" class="form-control" name="AdultPassengerData[@(i-1)].BirthDate" placeholder="">
                                </div>
                                <div class="form-group">
                                    @if (needPassport)
                                    {
                                        <label for="" class="control-label">Passport Number :</label>
                                    }
                                    else
                                    {
                                        <label for="" class="control-label">ID Number :</label>
                                    }
                                    <input type="text" class="form-control" name="AdultPassengerData[@(i-1)].IdNumber" placeholder="">
                                </div>
                                if (needPassport)
                                {
                                    <div class="form-group">
                                        <label for="" class="control-label">Passport Expiry Date:</label>
                                        <input type="date" class="form-control" name="AdultPassengerData[@(i-1)].PassportExpiryDate" placeholder="">
                                    </div>
                                }
                                <input type="hidden" class="form-control" name="AdultPassengerData[@(i-1)].Country" placeholder="" value="ID">
                            }

                            @if (Model.Itinerary.ChildCount > 0)
                            {
                                for (var i = 1; i <= Model.Itinerary.ChildCount; i++)
                                {
                                    <h5 class="control-label"><b>Passenger Child @i</b></h5>
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label for="" class="control-label">Title :</label>
                                            @Html.DropDownListFor(model => model.ChildPassengerData[i - 1].Title, new SelectList(childTitleList, "Value", "Text"), new { @class = "form-control user-title" })
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="control-label">First Name :</label>
                                            <input type="text" class="form-control" name="ChildPassengerData[@(i - 1)].FirstName" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="control-label">Last Name :</label>
                                            <input type="text" class="form-control" name="ChildPassengerData[@(i - 1)].LastName" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Birth Date :</label>
                                        <input type="date" class="form-control" name="ChildPassengerData[@(i - 1)].BirthDate" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        @if (needPassport)
                                        {
                                            <label for="" class="control-label">Passport Number :</label>
                                        }
                                        else
                                        {
                                            <label for="" class="control-label">ID Number :</label>
                                        }
                                        <input type="text" class="form-control" name="ChildPassengerData[@(i - 1)].IdNumber" placeholder="">
                                    </div>
                                    if (needPassport)
                                    {
                                        <div class="form-group">
                                            <label for="" class="control-label">Passport Expiry Date:</label>
                                            <input type="date" class="form-control" name="ChildPassengerData[@(i - 1)].PassportExpiryDate" placeholder="">
                                        </div>
                                    }
                                    <input type="hidden" class="form-control" name="ChildPassengerData[@(i - 1)].Country" placeholder="" value="ID">
                                }
                            }

                            @if (Model.Itinerary.InfantCount > 0)
                            {
                                for (var i = 1; i <= Model.Itinerary.InfantCount; i++)
                                {
                                    <h5 class="control-label"><b>Passenger Infant @i</b></h5>
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label for="" class="control-label">Title :</label>
                                            @Html.DropDownListFor(model => model.InfantPassengerData[i - 1].Title, new SelectList(childTitleList, "Value", "Text"), new { @class = "form-control user-title" })
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="control-label">First Name :</label>
                                            <input type="text" class="form-control" name="InfantPassengerData[@(i - 1)].FirstName" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="control-label">Last Name :</label>
                                            <input type="text" class="form-control" name="InfantPassengerData[@(i - 1)].LastName" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Birth Date :</label>
                                        <input type="date" class="form-control" name="InfantPassengerData[@(i - 1)].BirthDate" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        @if (needPassport)
                                        {
                                            <label for="" class="control-label">Passport Number :</label>
                                        }
                                        else
                                        {
                                            <label for="" class="control-label">ID Number :</label>
                                        }
                                        <input type="text" class="form-control" name="InfantPassengerData[@(i - 1)].IdNumber" placeholder="">
                                    </div>
                                    if (needPassport)
                                    {
                                        <div class="form-group">
                                            <label for="" class="control-label">Passport Expiry Date:</label>
                                            <input type="date" class="form-control" name="InfantPassengerData[@(i - 1)].PassportExpiryDate" placeholder="">
                                        </div>
                                    }
                                    <input type="hidden" class="form-control" name="InfantPassengerData[@(i - 1)].Country" placeholder="" value="ID">
                                }
                            }
                        </form>
                    </section><!-- .customer-form -->
                    <section class="payment-form hidden">
                        <h2><b>PAYMENT</b> METHOD</h2>

                        <section class="payment-option">
                            <form action="#" class="form">
                                <label class="payment-transfer active" for="payment-transfer">
                                    <input type="radio" name="payment-option" id="payment-transfer" checked>
                                    <span>Transfer Bank</span>
                                </label>
                                <label class="payment-credit" for="payment-credit">
                                    <input type="radio" name="payment-option" id="payment-credit">
                                    <span>Kartu Kredit</span>
                                </label>
                                <label class="payment-bca" for="payment-bca">
                                    <input type="radio" name="payment-option" id="payment-bca">
                                    <span>BCA KlikPay</span>
                                </label>
                                <label class="payment-mandiri" for="payment-mandiri">
                                    <input type="radio" name="payment-option" id="payment-mandiri">
                                    <span>Mandiri ClickPay</span>
                                </label>
                                <label class="payment-cimb" for="payment-cimb">
                                    <input type="radio" name="payment-option" id="payment-cimb">
                                    <span>CIMB Click</span>
                                </label>
                            </form>
                        </section><!-- .payment-option -->
                        <section class="payment-detail">
                            <section class="payment-transfer-detail active">
                                <h4>Transfer</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur inventore assumenda laboriosam nulla quis necessitatibus nam iure, dicta dignissimos soluta sequi reiciendis, ipsa deleniti illo, voluptate! Magnam id veritatis accusamus.</p>
                            </section>
                            <section class="payment-credit-detail">
                                <h4>Credit Card</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae expedita magni a id assumenda dolor tempore, fugiat nulla at, mollitia odio quos officiis distinctio nostrum. Illum eaque, dolorem labore.</p>
                            </section>
                            <section class="payment-bca-detail">
                                <h4>BCA KlikPay</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, beatae magni sit et, accusantium quo reprehenderit temporibus consectetur, nihil voluptatibus laborum vel numquam repellat excepturi modi mollitia doloremque voluptate. Sapiente.</p>
                            </section>
                            <section class="payment-mandiri-detail">
                                <h4>Mandiri ClickPay</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quibusdam, tempora numquam pariatur sit saepe magnam assumenda voluptates rem rerum nesciunt facilis nisi esse modi totam ipsum, quaerat vitae reprehenderit?</p>
                            </section>
                            <section class="payment-cimb-detail">
                                <h4>CIMB</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis doloremque iusto in, sunt vero voluptas voluptate! Perferendis, distinctio aliquid, voluptate vero reiciendis laudantium dolorem laboriosam ipsam ad. Dolorum, id, nostrum.</p>
                            </section>
                        </section><!-- .payment-detail -->

                    </section><!-- .payment-form -->
                    <section class="payment-button">
                        <button class="btn btn-primary btn-yellow validate-fare" data-hashkey="@hashKey">BAYAR</button>
                    </section><!-- .payment-button -->
                </section><!-- .customer-detail -->
            </div><!-- .col-sm-8 -->

            <div class="col-sm-4">
                <section class="order-detail">
                    <h2><b>ORDER</b> DETAILS</h2>
                    <section class="flight-detail">
                        <h3 class="text-center">DEPARTURE FLIGHT</h3>
                        <h5 class="airline-name"><img src="/Assets/images/airlines/GA.png" alt="Alternate Text" class="airline-logo" /> Garuda Indonesia - GA 1234</h5>
                        <div class="row flight-route">
                            <div class="col-sm-6 text-right flight-origin">
                                <h5>25 May 2015</h5>
                                <h5>13:00</h5>
                                <h5>Soekarno Hatta inlt.</h5>
                                <h5>Jakarta</h5>
                                <h5>Indonesia</h5>
                            </div>
                            <div class="separator">to</div>
                            <div class="col-sm-6 flight-destination">
                                <h5>25 May 2015</h5>
                                <h5>13:00</h5>
                                <h5>Soekarno Hatta inlt.</h5>
                                <h5>Jakarta</h5>
                                <h5>Indonesia</h5>
                            </div>
                        </div>
                    </section><!-- .flight-detail -->
                    <section class="flight-detail">
                        <h3 class="text-center">RETURN FLIGHT</h3>
                        <h5 class="airline-name"><img src="/Assets/images/airlines/GA.png" alt="Alternate Text" class="airline-logo" /> Garuda Indonesia - GA 1234</h5>
                        <div class="row flight-route">
                            <div class="col-sm-6 text-right flight-origin">
                                <h5>25 May 2015</h5>
                                <h5>13:00</h5>
                                <h5>Soekarno Hatta inlt.</h5>
                                <h5>Jakarta</h5>
                                <h5>Indonesia</h5>
                            </div>
                            <div class="separator">to</div>
                            <div class="col-sm-6 flight-destination">
                                <h5>25 May 2015</h5>
                                <h5>13:00</h5>
                                <h5>Soekarno Hatta inlt.</h5>
                                <h5>Jakarta</h5>
                                <h5>Indonesia</h5>
                            </div>
                        </div>
                    </section><!-- .flight-detail -->
                    <section class="price-detail">
                        <h2><b>PRICE</b> DETAIL</h2>
                        <div class="content-wrapper">
                            <div class="row">
                                <div class="col-sm-6">@(Model.Itinerary.InfantCount + @Model.Itinerary.ChildCount + @Model.Itinerary.AdultCount) Person</div>
                                <div class="col-sm-6">IDR @Model.Itinerary.TotalFare.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">Tax</div>
                                <div class="col-sm-6">INCLUDED</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">Travorama Fee</div>
                                <div class="col-sm-6">FREE</div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">TOTAL</div>
                                <div class="col-sm-6">IDR @Model.Itinerary.TotalFare.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</div>
                            </div>
                        </div>
                    </section><!-- .price-detail -->
                </section><!-- .order-detail -->
            </div><!-- .col-sm-4 -->

        </div>
    </div>





</div>
<!-- .checkout-page content end -->

<div class="modal-wrapper" id="redirectModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                
                <h4>Please Wait</h4>
                <p>Redirecting you to the payment gateway</p>

            </div>
        </div>
    </div>
</div>