@using Lunggo.ApCommon.Identity.Users
@using Lunggo.ApCommon.Payment.Constant
@using Lunggo.Framework.Context
@using Lunggo.Framework.Extension
@using Lunggo.Framework.Config
@model Lunggo.CustomerWeb.Models.FlightPaymentData

@{

    var rsvNo = "";
    var savedCreditCards = Model.SavedCreditCards;

    try
    {
        rsvNo = Model.RsvNo;
    }
    catch
    {
        ViewBag.Message = "BookExpired";
    }
}

@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-checkout page-checkout-flight";

    ViewBag.SiteHeader = "checkout";
    ViewBag.Title = "Pembayaran";
}
@section AdditionalCSS {
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
    <!-- fancybox CSS-->
    <link href="/Assets/vendor/fancybox/jquery.fancybox.css" rel="stylesheet" />
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/jquery.countdown.min.js"></script>
    <!-- veritrans JS -->
    <script src="https://api.sandbox.veritrans.co.id/v2/assets/js/veritrans.min.js"></script>
    <!-- fancybox -->
    <script type="text/javascript" src="/Assets/vendor/fancybox/jquery.fancybox.pack.js"></script>
}
@section PageJS{
    <script>
        var langCode = 'en';
        var paymentTimeout = '';
        // development only start
        paymentTimeout = new Date('@Model.TimeLimit.GetValueOrDefault().AddMinutes(-30).ToString("u")');
        console.log("TIME OUT"+paymentTimeout);
        // countdown timer
        $('.timer').countdown(paymentTimeout, function(event) {
            $('.timer .hour').text(event.strftime('%H'));
            $('.timer .minute').text(event.strftime('%M'));
            $('.timer .second').text(event.strftime('%S'));
        });

        // date selector
        $('.date-picker').datepicker({
            minDate: new Date()
        });
        var langCode = '@OnlineContext.GetActiveLanguageCode()';
        var currentPage = 1;
        var transferWindow = ['@ConfigManager.GetInstance().GetConfigValue("general","bankTransferStartTime")', '@ConfigManager.GetInstance().GetConfigValue("general","bankTransferEndTime")'];
        //var transferWindow = [ '1100', '1124' ];
        // messages
        var message = '@ViewBag.Message';
        // flight detail
        var rsvNo = @Model.RsvNo;
        var paymentDetail = '';
        var flightDetail = '';
        var trips = @Html.Raw(Model.Reservation.Itinerary.Trips.Serialize());
        var price = @Model.Reservation.Itinerary.NetTotalFare;

        var departureDate;
        @if (Model.Reservation.Itinerary.Trips != null)
        {
            if (Model.Reservation.Itinerary.Trips.Count == 2)
            {
                @:departureDate = '@Model.Reservation.Itinerary.Trips[1].DepartureDate';
                                                    }
            else
            {
                @:departureDate = '@Model.Reservation.Itinerary.Trips[0].DepartureDate';
                                                    }
        }

        // change current page
        if (getParam('page') == 4) {
            currentPage = getParam('page');
        } else {
            currentPage = 1;
        }
        var loggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
        var buyerInfo = {
            fullname : '@(User.Identity.GetFirstName() + " " + User.Identity.GetLastName())',
            countryCode : '@User.Identity.GetCountryCd()',
            phone: '@User.Identity.GetPhoneNumber()',
            email: '@User.Identity.GetEmail()'
        };

    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/paymentController.js"></script>
}

@switch ((string)ViewBag.Message)
{
    default:
        <!-- payment start here -->

        <div ng-app="travorama" ng-controller="paymentController" class="page-loading" ng-class="{'page-loaded' : pageLoaded}">
            <section class="checkout-content">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-8">
                            <!-- ******************** -->
                            <div class="content-step" id="step-4">
                                <h3><b>METODE</b> PEMBAYARAN</h3>


                                <p>Silakan pilih <b>metode pembayaran</b> di bawah ini yang ingin Anda gunakan:</p>

                                <div class="payment-wrapper">

                                    <div class="row">

                                        <div class="payment transfer col-xs-4">
                                            <label ng-class="{ 'disabled' : !transferWindowOpen }">
                                                <header>
                                                    <div class="input-wrapper">
                                                        <input ng-disabled="!transferWindowOpen" type="radio" name="paymentMethod" value="@PaymentMethod.BankTransfer" ng-model="paymentMethod" checked ng-change="CreditCardPromo.Check(CreditCard.Number)" />
                                                    </div>
                                                    <h5>Bank Transfer</h5>
                                                </header>
                                                <section>
                                                    <img src="/Assets/images/payment-atm.jpg" alt="Bank Transfer" />
                                                </section>
                                            </label>
                                        </div><!-- .payment -->

                                        <div class="payment creditcard col-xs-4">
                                            <label>
                                                <header>
                                                    <div class="input-wrapper">
                                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.CreditCard" ng-model="paymentMethod" ng-change="CreditCardPromo.Check(CreditCard.Number)" />
                                                    </div>
                                                    <h5>Kartu Kredit</h5>
                                                </header>
                                                <section>
                                                    <img src="/Assets/images/payment-cc.jpg" alt="kartu Kredit" />
                                                </section>
                                            </label>
                                        </div><!-- .payment -->

                                        <div class="payment virtualAccount col-xs-4">
                                            <label>
                                                <header>
                                                    <div class="input-wrapper">
                                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.VirtualAccount" ng-model="paymentMethod" ng-change="CreditCardPromo.Check(CreditCard.Number)" />
                                                    </div>
                                                    <h5>ATM</h5>
                                                </header>
                                                <section>
                                                    <img src="/Assets/images/payment-atm.jpg" alt="Virtual Account" />
                                                </section>
                                            </label>
                                        </div><!-- .payment -->

                                    </div>

                                    <div class="row">
                                        <div class="payment mandiri col-xs-4">
                                            <label>
                                                <header>
                                                    <div class="input-wrapper">
                                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.MandiriClickPay" ng-model="paymentMethod" ng-change="CreditCardPromo.Check(CreditCard.Number)" />
                                                    </div>
                                                    <h5>Mandiri Clickpay</h5>
                                                </header>
                                                <section>
                                                    <img src="/Assets/images/payment-mandiri.jpg" alt="Mandiri Click Pay" />
                                                </section>
                                            </label>
                                        </div><!-- .payment -->

                                        <div class="payment cimbClicks col-xs-4">
                                            <label>
                                                <header>
                                                    <div class="input-wrapper">
                                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.CimbClicks" ng-model="paymentMethod" />
                                                    </div>
                                                    <h5>CIMB Clicks</h5>
                                                </header>
                                                <section>
                                                    <img src="/Assets/images/cimb-clicks.jpg" alt="CIMB Clicks" />
                                                </section>
                                            </label>
                                        </div><!-- .payment -->

                                        <div class="payment MandiriBillPayment col-xs-4">
                                            <label>
                                                <header>
                                                    <div class="input-wrapper">
                                                        <input type="radio" name="paymentMethod" value="@PaymentMethod.MandiriBillPayment" ng-model="paymentMethod" />
                                                    </div>
                                                    <h5>Mandiri Bill Payment</h5>
                                                </header>
                                                <section>
                                                    <img src="/Assets/images/Bank-Mandiri-small.jpg" alt="Mandiri Bill Payment" />
                                                </section>
                                            </label>
                                        </div><!-- .payment -->

                                    </div>

                                </div><!-- .payment-wrapper -->
                                @if (!User.Identity.IsAuthenticated || (User.Identity.IsAuthenticated && true /*tambah kredit kart baru*/ ))
                                {

                                    <div class="credit-card-form" ng-show="paymentMethod == '@PaymentMethod.CreditCard'">

                                        <form name="creditCardForm" novalidate>
                                            <h3 class="no-spacing">Detail <b>Kartu Kredit</b></h3>

                                            @*<!-- credit card selector start -->
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <label>Pilih kartu kredit :</label>
                                                            <select class="form-control" ng-model="CreditCard.TwoClickToken" ng-required="paymentMethod == '@PaymentMethod.CreditCard'">
                                                                <option value="false" selected="selected">Tambah Baru</option>
                                                                @foreach (var savedCreditCard in savedCreditCards)
                                                                {
                                                                    <option value="@savedCreditCard.Token">@savedCreditCard.CardHolderName - @savedCreditCard.MaskedCardNumber</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4" ng-if="CreditCard.TwoClickToken != 'false'">
                                                            <label class="control-label">CVV Kartu</label>
                                                            <input type="password" value="" class="form-control" placeholder="XXX" maxlength="3" ng-model="CreditCard.Cvv" ng-required="paymentMethod == '@PaymentMethod.CreditCard'" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- credit card selector end -->*@
                                            <!-- new credit card start -->
                                            <div ng-if="CreditCard.TwoClickToken == 'false'">
                                                <div class="form-group">
                                                    <label class="control-label">Nomor Kartu</label>
                                                    <input type="text" value="" class="form-control cc-number" maxlength="16" ng-model="CreditCard.Number" ng-change="CreditCardPromo.Check(CreditCard.Number)" ng-class="{'visa' : (CreditCardPromo.Type == 'visa') , 'mastercard' : (CreditCardPromo.Type == 'mastercard') }" ng-required="(paymentMethod == '@PaymentMethod.CreditCard') && (CreditCard.TwoClick == 'false')" />
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Kadaluarsa</label>
                                                            <!-- <input type="number" value="" class="form-control" placeholder="MM" maxlength="2" ng-model="CreditCard.Month" ng-required="paymentMethod == '@PaymentMethod.CreditCard'" /> -->
                                                            <select class="form-control" ng-model="CreditCard.Month">
                                                                <option value="01" selected="selected">Januari</option>
                                                                <option value="02">Februari</option>
                                                                <option value="03">Maret</option>
                                                                <option value="04">April</option>
                                                                <option value="05">Mei</option>
                                                                <option value="06">Juni</option>
                                                                <option value="07">Juli</option>
                                                                <option value="08">Agustus</option>
                                                                <option value="09">September</option>
                                                                <option value="10">Oktober</option>
                                                                <option value="11">November</option>
                                                                <option value="12">Desember</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">&nbsp;</label>
                                                            <select class="form-control" ng-model="CreditCard.Year">
                                                                <option value="2016" selected="selected">
                                                                    2016
                                                                </option>
                                                                <option value="2017">2017</option>
                                                                <option value="2018">2018</option>
                                                                <option value="2019">2019</option>
                                                                <option value="2020">2020</option>
                                                                <option value="2021">2021</option>
                                                                <option value="2022">2022</option>
                                                                <option value="2023">2023</option>
                                                                <option value="2024">2024</option>
                                                                <option value="2025">2025</option>
                                                                <option value="2026">2026</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">CVV Kartu</label>
                                                            <input type="password" value="" class="form-control" placeholder="XXX" maxlength="3" ng-model="CreditCard.Cvv" ng-required="paymentMethod == '@PaymentMethod.CreditCard'" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Nama Pemegang Kartu</label>
                                                    <input type="text" value="" class="form-control" size="16" ng-model="CreditCard.Name" ng-required="paymentMethod == '@PaymentMethod.CreditCard'" />
                                                </div>
                                            </div>
                                            <!-- new credit card end -->

                                        </form>
                                    </div>
                                    <!-- .credit-card-form -->
                                }
                                <form name="mandiriClickPayForm" novalidate>
                                    <div class="mandiri-clikpay-form" ng-show="paymentMethod == '@PaymentMethod.MandiriClickPay'">
                                        <h3 class="no-spacing">Detail <b>Kartu</b></h3>
                                        <div class="form-group">
                                            <label class="control-label">Nomor Kartu</label>
                                            <input type="text" value="" class="form-control" maxlength="16" ng-model="MandiriClickPay.CardNo" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Input 1    : </label>
                                            <label class="control-label" ng-show="MandiriClickPay.CardNo">{{MandiriClickPay.CardNo | limitTo:-10}}</label>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Input 2    : </label>
                                            <label class="control-label">{{totalPrice - voucher.amount}}</label> <!-- Harga Final -->
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Input 3    : </label>
                                            <label class="control-label">{{rsvNo | limitTo:-5}}</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">CVV Kartu</label>
                                            <input type="password" value="" class="form-control" placeholder="XXXXXX" maxlength="6" ng-model="MandiriClickPay.Token" ng-required="paymentMethod == '@PaymentMethod.MandiriClickPay'" />
                                        </div>
                                    </div>
                                </form>
                                <!-- start CIMB Clicks Instruction -->
                                @*<div ng-show="paymentMethod == '@PaymentMethod.CimbClicks'">
                                        <h3 class="no-spacing">Instruksi <b>Pembayaran Cimb Clicks</b></h3>
                                        <div class="mandiri-clikpay-form">
                                            <div class="form-group">
                                                <label class="control-label">Nomor Kartu</label>
                                                <input type="text" value="" class="form-control" maxlength="16" ng-model="MandiriClickPay.CardNo" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">CVV Kartu</label>
                                                <input type="password" value="" class="form-control" placeholder="XXXXXX" maxlength="6" ng-model="MandiriClickPay.Token" ng-required="paymentMethod == '@PaymentMethod.MandiriClickPay'" />
                                            </div>
                                        </div>
                                    </div>*@
                                <!--end CIMB Clicks Instruction -->
                                <!--start Mandiri Bill Payment-->
                                @*<div ng-show="paymentMethod == '@PaymentMethod.MandiriBillPayment'">
                                        <h3 class="no-spacing">Instruksi <b>Pembayaran Mandiri Bill Payment</b></h3>
                                        <div class="mandiri-clikpay-form">
                                            <div class="form-group">
                                                <label class="control-label">Nomor Kartu</label>
                                                <input type="text" value="" class="form-control" maxlength="16" ng-model="MandiriClickPay.CardNo" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">CVV Kartu</label>
                                                <input type="password" value="" class="form-control" placeholder="XXXXXX" maxlength="6" ng-model="MandiriClickPay.Token" ng-required="paymentMethod == '@PaymentMethod.MandiriClickPay'" />
                                            </div>
                                        </div>
                                    </div>*@
                                <!--end Mandiri Bill Payment-->


                                <div class="step-button">

                                    <form name="finalForm" id="finalForm" ng-submit="pay.setPaymentMethod()">

                                        <div class="hidden">
                                            <input type="text" name="RsvNo" value="" ng-model="rsvNo" />
                                            <input type="text" name="Payment.Currency" value="IDR" ng-model="currency" />
                                            <input type="text" name="Language" value="" ng-model="language" />

                                            <p>Payment Method</p>
                                            <input type="text" name="Payment.Method" value="" ng-model="paymentMethod" />

                                            <p>Voucher Code</p>
                                            <input type="text" name="DiscountCode" value="" ng-model="voucher.confirmedCode" />

                                            <input type="text" name="Payment.Data0" id="vt-token" value="" ng-model="CreditCard.Token" />

                                        </div>

                                        <p>*Dengan klik tombol ‘Bayar’, Anda telah setuju dengan <a href="@Url.Action("Terms","StaticPage")" target="_blank">syarat &amp; ketentuan</a> dan <a href="@Url.Action("Privacy","StaticPage")" target="_blank">kebijakan privasi</a></p>

                                        <input type="submit" class="btn btn-yellow" value="{{ !checkoutForm.loading? 'BAYAR' : 'MEMPROSES' }}" ng-disabled="(checkoutForm.loading || !paymentMethod) || !creditCardForm.$valid">

                                    </form>

                                    <form action="" method="post" name="submitForm" id="rsvno" class="hidden">
                                        <input type="text" name="RsvNo" value="" id="rsvno-input" />
                                        <input type="text" name="PaymentUrl" value="" id="url-input" />
                                    </form>

                                </div>

                            </div><!-- .content.step#step-4 -->


                        </div>
                        <div class="col-sm-4">

                            <div class="widget-container">
                                <div class="widget price-detail">
                                    <h3 class="widget-title"><b>RINCIAN</b> HARGA</h3>
                                    <div class="widget-content">
                                        <dl>
                                            <dt>Harga Tiket</dt>
                                            <dd>Rp {{initialPrice | number}}</dd>
                                        </dl>
                                        <dl ng-if="voucher.confirmedCode">
                                            <dt>{{voucher.displayName}}</dt>
                                            <dd>- Rp {{voucher.amount | number}}</dd>
                                        </dl>
                                        <dl ng-if="CreditCardPromo.Valid">
                                            <dt>{{CreditCardPromo.PromoName}}</dt>
                                            <dd>- Rp {{CreditCardPromo.Amount | number}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>Kode Unik Pembayaran</dt>
                                            <dd>Rp {{UniqueCodePaymentConfig.UniqueCode}}</dd>
                                        </dl>
                                        <dl class="total-price">
                                            <dt>Total</dt>
                                            <dd>Rp {{totalPrice - voucher.amount - CreditCardPromo.Amount + UniqueCodePaymentConfig.UniqueCode | number}}</dd>
                                        </dl>
                                    </div>
                                    <!--<footer>
                                            <small>* Harga ini masih bisa berubah, harga final maskapai akan dikonfirmasi kembali pada proses pembayaran</small>
                                        </footer> -->
                                </div><!-- .widget.price-detail -->
                                <div class="widget countdown">
                                    <h3 class="widget-title"><b>SISA</b> WAKTU</h3>
                                    <div class="widget-content">
                                        <p>Sisa waktu Anda untuk melakukan pembayaran</p>
                                        <div class="timer">
                                            <div>
                                                <h5 class="hour">00</h5>
                                                <span>jam</span>
                                            </div>
                                            <div class="separator"><h5>:</h5></div>
                                            <div>
                                                <h5 class="minute">00</h5>
                                                <span>menit</span>
                                            </div>
                                            <div class="separator"><h5>:</h5></div>
                                            <div>
                                                <h5 class="second">00</h5>
                                                <span>detik</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .widget.countdown -->
                                <div class="widget voucher" ng-class="{'hide' : CreditCardPromo.Valid}">
                                    <h3 class="widget-title"><b>KODE</b> VOUCHER</h3>
                                    <div class="widget-content">
                                        <span><b>Punya Kupon Travorama ?</b></span>
                                        <p>Masukkan di sini</p>
                                        <form class="form" name="voucherForm" novalidate>
                                            <div class="form-group">
                                                <input type="text" name="code" value="" class="form-control" ng-model="voucher.code" ng-disabled="voucher.checking || voucher.confirmedCode" />
                                                <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERVCHE02'">Kode voucher salah</p>
                                                <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERVCHE01'">Voucher tidak dapat digunakan</p>
                                                <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERVCHE03'">Voucher sudah habis</p>
                                                <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERVCHE04'">Minimum Pembelian Voucher tidak memenuhi</p>
                                                <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERVCHE05'">Voucher tidak dapat digunakan</p>
                                                <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERVCHE06'">Voucher sudah digunakan</p>
                                                <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERRGEN99'">Voucher tidak dapat digunakan</p>
                                                <p class="bg-success" ng-show="voucher.checked && voucher.status == 'Success'">Voucher valid</p>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-6 col-xs-offset-6">
                                                        <input type="submit" value="CEK" class="btn btn-yellow form-control" ng-click="voucher.check()" ng-disabled="!voucher.code || voucher.checking" ng-hide="voucher.checked" />
                                                        <input type="submit" value="RESET" class="btn btn-yellow form-control" ng-click="voucher.reset()" ng-show="voucher.checked" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div><!-- .widget.voucher -->
                                <div class="widget flight">
                                    <div class="flight-detail" id="departure-flight" ng-if="trips[0]">
                                        <h3 class="widget-title"><b>RINCIAN</b> PENERBANGAN</h3>
                                        <div>
                                            <header><span>PENERBANGAN PERGI</span></header>
                                            <div class="widget-content">
                                                <div class="airline">
                                                    <img ng-src="{{trips[0].segments[0].airlineLogoUrl}}" alt="{{trips[0].segments[0].airlineName}}" class="airline-image" />
                                                    <h4 class="airline-name">{{trips[0].segments[0].airlineName}}</h4>
                                                </div>
                                                <div class="route">
                                                    <div class="origin">
                                                        <h5>{{trips[0].segments[0].departureTime | date: 'dd MMM yyyy'}}</h5>
                                                        <h3>{{trips[0].segments[0].departureTime | date: 'HH:mm'}}</h3>
                                                        <h4>{{trips[0].segments[0].departureCity}} ({{trips[0].segments[0].departure}})</h4>
                                                        <h5>{{trips[0].segments[0].departureName}}</h5>
                                                    </div>
                                                    <div class="duration"></div>
                                                    <div class="destination">
                                                        <h5>{{trips[0].segments[ trips[0].segments.length - 1 ].arrivalTime | date: 'dd MMM yyyy'}}</h5>
                                                        <h3>{{trips[0].segments[ trips[0].segments.length - 1 ].arrivalTime | date: 'HH:mm'}}</h3>
                                                        <h4>{{trips[0].segments[ trips[0].segments.length - 1 ].arrivalCity}} ({{trips[0].segments[ trips[0].segments.length - 1 ].arrival}})</h4>
                                                        <h5>{{trips[0].segments[ trips[0].segments.length - 1 ].arrivalName}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .widget.flight-detail -->
                                    <div class="flight-detail" id="return-flight" ng-if="trips[1]">
                                        <div>
                                            <header><span>PENERBANGAN PULANG</span></header>
                                            <div class="widget-content">
                                                <div class="airline">
                                                    <img ng-src="{{trips[1].segments[0].airlineLogoUrl}}" alt="{{trips[1].segments[0].airlineName}}" class="airline-image" />
                                                    <h4 class="airline-name">{{trips[1].segments[0].airlineName}}</h4>
                                                </div>
                                                <div class="route">
                                                    <div class="origin">
                                                        <h5>{{trips[1].segments[0].departureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{trips[1].segments[0].departureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{trips[1].segments[0].departureCity}} ({{trips[1].segments[0].departure}})</h4>
                                                        <h5>{{trips[1].segments[0].departureName}}</h5>
                                                    </div>
                                                    <div class="duration"></div>
                                                    <div class="destination">
                                                        <h5>{{trips[1].segments[ trips[0].segments.length - 1 ].arrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                        <h3>{{trips[1].segments[ trips[0].segments.length - 1 ].arrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                        <h4>{{trips[1].segments[ trips[0].segments.length - 1 ].arrivalCity}} ({{trips[1].segments[ trips[0].segments.length - 1 ].arrival}})</h4>
                                                        <h5>{{trips[1].segments[ trips[0].segments.length - 1 ].arrivalName}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .widget.flight-detail -->
                                </div>
                                <div class="widget passenger-detail"></div><!-- .widget.passenger-detail -->
                            </div><!-- .widget-container -->

                        </div>

                    </div>

                </div>

            </section><!-- .checkout-content -->

            <div class="page-overlay flight-expired" ng-show="expired">
                <div class="overlay-content">
                    <header>
                        <h4>Checkout Kadaluarsa</h4>
                    </header>
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 text-align">
                                    <img src="/Assets/images/expired-clock.jpg" alt="Expired" />
                                </div>
                                <div class="col-sm-8">
                                    <h3>Maaf, waktu pembayaran Anda <b>sudah habis</b></h3>
                                    <p>Silakan klik tombol di bawah untuk kembali ke halaman pencarian.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn btn-yellow btn-block" href="{{returnUrl}}">KEMBALI</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div><!-- .page-overlay -->
            <!--<div class="page-overlay booking-flight" ng-hide="!pay.paying">
                <div class="overlay-content" >
                    <header>
                        <h4>Mohon Tunggu</h4>
                    </header>
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 text-align">
                                    <img src="/Assets/images/expired-clock.jpg" alt="Expired" />
                                </div>
                                <div class="col-sm-8">
                                    <p>Sedang memproses pilihan Anda.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>-->

            <div class="bookfailed-popup" ng-if="pay.checked && !pay.isSuccess">
                <div class=" overlay-content">
                    <section style="padding-top:60px; padding-left:225px;">
                        <!-- Ini untuk yg gagal -->
                        <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                        <div style="padding-top:20px;"><span style="color: #15b1e4; font-size:20px"><b>Mohon Maaf...</b></span></div>
                        <div><img src="~/Assets/images/popup/paymentyellowstrip.png" /></div>
                        <div style="padding-top:5px;"><span style="font-size:14px">{{errorMessage}}</span></div>
                    </section>
                    <div align="right" style="padding-right:30px;padding-top:30px;">
                        <a class="btn popup-btn-yellow book-failed" ng-click="pay.close()"><b>Tutup</b></a>
                    </div>
                </div>
            </div>

            <div class="bookfailed-popup" ng-if="pay.checking">
                <div class=" overlay-content">
                    <section style="padding-top:60px; padding-left:225px;">
                        <div><img src="/Assets/images/travorama-logo-color.png" height="30px" width="88px"></div>
                        <div style="padding-top:25px;"><span style="color: #15b1e4; font-size:23px"><b>Mohon tunggu...</b></span></div>
                        <div><img src="~/Assets/images/popup/paymentyellowstrip.png" /></div>
                        <div style="padding-top:10px;"><span style="font-size:14px">Sedang memproses pilihan Anda</span></div>
                    </section>
                </div>
            </div>

        </div>



        <!-- checkout end here -->
                                break;
    case "BookExpired":
    @:[Ini ceritanya page booking expired]
        break;
    case "BookError":
    @:[Ini ceritanya page kalo input datanya ga bener]
        break;
    case "NoLongerAvailable":
    @:[Ini ceritanya page kalo fare-nya uda ga available lageh]
        break;
    case "InvalidInputData":
    @:[Ini ceritanya page kalo input datanya ga bener]
        break;
}
