@using System.Globalization
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Flight.Service
@using Lunggo.CustomerWeb.Models
@using Newtonsoft.Json
@model FlightSearchData

@{
    bool isValid;

    List<FlightTrip> trips = null;
    FlightSearchData.Complete data = null;
    var originAirportNames = new List<string>();
    var destinationAirportNames = new List<string>();
    var originCityNames = new List<string>();
    var destinationCityNames = new List<string>();
    var originCountryNames = new List<string>();
    var destinationCountryNames = new List<string>();

    String tripType = "aaa";
    try
    {
        var parts = Model.info.Split('-');
        var tripPart = parts.First();
        var infoPart = parts.Last();
        isValid = ((tripPart.Length + 1) % 13 == 0) && (infoPart.Length == 4);

        trips = tripPart.Split('.').Select(info => new FlightTrip
        {
            OriginAirport = info.Substring(0, 3),
            OriginCity = FlightService.GetInstance().GetAirportCity(info.Substring(0, 3)),
            DestinationAirport = info.Substring(3, 3),
            DestinationCity = FlightService.GetInstance().GetAirportCity(info.Substring(3, 3)),
            DepartureDate = new DateTime(
                2000 + int.Parse(info.Substring(10, 2)),
                int.Parse(info.Substring(8, 2)),
                int.Parse(info.Substring(6, 2)))
        }).ToList();

        
        foreach (var trip in trips)
        {
            originAirportNames.Add(FlightService.GetInstance().GetAirportName(trip.OriginAirport));
            destinationAirportNames.Add(FlightService.GetInstance().GetAirportName(trip.DestinationAirport));
            originCityNames.Add(FlightService.GetInstance().GetAirportCity(trip.OriginAirport));
            destinationCityNames.Add(FlightService.GetInstance().GetAirportCity(trip.DestinationAirport));
            originCountryNames.Add(FlightService.GetInstance().GetAirportCountry(trip.OriginAirport));
            destinationCountryNames.Add(FlightService.GetInstance().GetAirportCountry(trip.DestinationAirport));
        }

        data = new FlightSearchData.Complete
        {
            AdultCount = int.Parse(infoPart.Substring(0, 1)),
            ChildCount = int.Parse(infoPart.Substring(1, 1)),
            InfantCount = int.Parse(infoPart.Substring(2, 1)),
            CabinClass = FlightService.GetInstance().ParseCabinClass(infoPart.Substring(3, 1)),
            Trips = trips,
            TripType = FlightService.GetInstance().ParseTripType(trips)
        };

        tripType = data.TripType == TripType.OneWay ? "single" : "return";
    }
    catch
    {
        isValid = false;
    }

}

@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = "Tiket Pesawat Promo dari " + originCityNames.First() + " ke " + destinationCityNames.First() + " Tanggal " + trips.First().DepartureDate.ToString("d MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"));
    ViewBag.BodyClass = "page page-flight single-flight";
    ViewBag.AngularController = "SingleFlightController";
    ViewBag.Page = "FlightSearchSingle";
}

@section AdditionalCSS{
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}
@section AdditionalJS {
    <script src="/Assets/mobile/js/application.js"></script>
    <script src="/Config/JsConfig.js"></script>
    <script src="/Assets/js/jquery-ui.min.js"></script> 
    <script type="text/javascript" src="/Assets/js/jquery.ui.datepicker-id.js"></script>
    <script src="/Assets/js/bootstrap.min.js"></script>
    <script src="/Assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/Assets/js/js.cookie.js"></script>
}
@section PageJS{
    
    <script>
        FlightSearchConfig.flightForm = {
            cabin: '@data.CabinClass',
            departureDate: '@trips[0].DepartureDate',
            origin: '@trips[0].OriginAirport',
            destination: '@trips[0].DestinationAirport',
            passenger: {
                adult: @data.AdultCount,
                child: @data.ChildCount,
                infant: @data.InfantCount,
            },
            type: '@data.TripType',
            trips: @Html.Raw(JsonConvert.SerializeObject(trips)),
            Requests:[],
            SecureCode: '@ViewBag.RequestId'
        };
    </script>
    <script src="/Assets/mobile/js/singleFlightController.js"></script>
    <script src="/Assets/travorama20/angularDirectory/priceDetail/priceDetailDirMobile.js"></script>
    <script>
        var gtmContentType = 'flight';
        var gtmDepartingDepartureDate = '@trips[0].DepartureDate.ToString("yyyyMMdd")';
        var gtmReturningDepartureDate = null;
        var gtmOriginAirport = '@trips[0].OriginAirport';
        var gtmDestinationAirport = '@trips[0].DestinationAirport';
        var gtmDepartingArrivalDate = null;
        var gtmReturningArrivalDate = null;
        var gtmNumAdults = @data.AdultCount;
        var gtmNumChildren = @data.ChildCount;
        var gtmNumInfants = @data.InfantCount;
        var gtmTravelClass = '@data.CabinClass.ToString().ToLower()';
        var gtmPurchaseValue = '';
        var gtmPurchaseCurrency = 'IDR';
    </script>

}

<div class="page-loading" ng-class="{'page-loaded':PageConfig.Loaded}">
    
    
    <form class="hidden push-token" id="pushToken" action="/id/Flight/Select" method="post">
        <input type="text" name="Token" id="fareToken" value="" />
    </form>

    <div class="flight-loading" ng-hide="FlightConfig[0].FlightRequest.Progress == 100">
        <div class="flight-progress" style="width:{{FlightConfig[0].FlightRequest.Progress}}%;"></div>
    </div><!-- .flight-loading -->

    <section class="flight-summary">
        <div class="summary-left">
            <p>
                <b>Penerbangan Pergi</b><br />
                <b>{{FlightConfig[0].FlightRequest.Trips[0].OriginCity}}</b> ke <b>{{FlightConfig[0].FlightRequest.Trips[0].DestinationCity}}</b> - {{FlightConfig[0].FlightRequest.Trips[0].DepartureDate | date:'EEE, dd MMM yyyy'}}
            </p>
        </div>
        <a ng-click="PageConfig.SetOverlay('flight-form');" class="summary-right"><span>GANTI</span></a>
    </section><!-- .flight-summary -->

    <section class="flight-sort-filter" @*ng-show="FlightConfig[0].FlightRequest.Progress == 100"*@>
        <div class="flight-sort-filter-action">
            <a ng-click="PageConfig.SetOverlay('flight-filter')">FILTER</a>
            <a ng-click="PageConfig.SetOverlay('flight-sort')">SORTIR</a>
        </div>
    </section><!-- .flight-sort -->
    <section class="flight-notice" ng-show="FlightConfig[0].FlightList.length > 0" hidden>
        <p>
            Hasil Pencarian untuk <b>{{ FlightConfig[0].FlightRequest.AdultCount + FlightConfig[0].FlightRequest.ChildCount + FlightConfig[0].FlightRequest.InfantCount | number }} Orang</b>
            ({{FlightConfig[0].FlightRequest.AdultCount}} Dewasa<span ng-if="FlightConfig[0].FlightRequest.ChildCount > 0">
                ,
                {{FlightConfig[0].FlightRequest.ChildCount}} Anak
            </span><span ng-if="FlightConfig[0].FlightRequest.InfantCount">
                ,
                {{FlightConfig[0].FlightRequest.InfantCount}} Bayi
            </span>)
        </p>
    </section><!-- .flight-notice -->

    <section class="container_new flight-list" ng-show="FlightConfig[0].FlightList.length == 0 && !(!departureFlight.length && FlightConfig[0].FlightRequest.Progress == 100)">
        <img class="loading-image" src="/Assets/images/load.gif" width="40px" height="40px" alt="Loading" />
    </section>

    <section class="flight-list">

        <div ng-show="!departureFlight.length && FlightConfig[0].FlightRequest.Progress == 100">
            <div class="container">
                <h3 class="text-center">Penerbangan tidak ditemukan.<br /> Silakan mencari di tanggal atau rute penerbangan lainnya.</h3>
            </div>
        </div>

        <div class="flight" ng-repeat="flight in departureFlight =
            FlightConfig[0].FlightList | filter:FlightFiltering.AirlineFilter('departure') | filter: FlightFiltering.TransitFilter('departure')
             | filter: FlightFiltering.PriceFilter() | filter:FlightFiltering.DepartureTimeFilter('departure') |
             filter:FlightFiltering.ArrivalTimeFilter('arrival') | orderBy:FlightConfig[0].FlightSort.Value:FlightConfig[0].FlightSort.Invert"
             id="flight-{{flight.IndexNo}}" ng-click="FlightFunctions.SetActiveFlight(flight.IndexNo)">
            <div class="flight-header col-xs-8">
                <h4 class="flight-airline ">
                    <img ng-src="{{flight.trips[0].airlines[0].logoUrl}}" alt="{{flight.trips[0].airlines[0].name}}" class="flight-airline-image" />
                    <span>{{flight.trips[0].airlines[0].name}}</span>
                </h4>

            </div>
           
            <div align="right" class="flight-facility col-xs-4" ng-show="checkMeal(flight.trips[0]) || !checkBaggageNaN(minBaggage(flight.trips[0]))
                     || checkTax(flight.trips[0])">
                <span ng-show="checkMeal(flight.trips[0])" class="flight-meal"></span>
                <span ng-show="!checkBaggageNaN(minBaggage(flight.trips[0])) &&  minBaggage(flight.trips[0]) > 0" class="flight-baggage">{{minBaggage(flight.trips[0])}}</span>
                <span ng-show="checkTax(flight.trips[0])" class="flight-tax"></span>
            </div>
            
            <div class="flight-content">
                <div class="content-left">
                    <h4 class="flight-time">
                        <span class="departure">{{flight.trips[0].segments[0].departureTime | date: 'HH:mm' :'UTC'}}</span>
                        <span class="separator"></span>
                        <span class="arrival">{{flight.trips[0].segments[flight.trips[0].segments.length - 1 ].arrivalTime | date: 'HH:mm' : 'UTC'}}</span>
                        <span class="overday" ng-show="(getOverdayDate(flight.trips[0].segments[0].departureTime,
                              flight.trips[0].segments[flight.trips[0].segments.length - 1 ].arrivalTime) != 0)">
                            {{getOverdayDate(flight.trips[0].segments[0].departureTime, flight.trips[0].segments[flight.trips[0].segments.length - 1 ].arrivalTime)}}
                        </span>
                    </h4>
                    <h5 class="flight-duration">
                        {{msToTime(flight.trips[0].totalDuration)}},
                        <span ng-show="flight.trips[0].transitCount == 0">Langsung</span>
                        <span ng-show="flight.trips[0].transitCount > 0">{{flight.trips[0].transitCount}} Transit</span>
                    </h5>
                </div>
                <div class="content-right">
                    <label>Harga per Orang :</label>
                    <h5 class="flight-price-was" ng-show="flight.originalAdultFare">Rp {{flight.originalAdultFare | number}}</h5>
                    <h4 class="flight-price">Rp {{flight.netAdultFare | number}}<span style="font-size: 10px"> /pax</span></h4>
                </div>
            </div>
            <div class="flight-footer">
                <a class="flight-detail-button">Lihat Detail</a>
                <a class="btn btn-yellow pull-right flight-order" ng-click="$event.stopPropagation(); FlightConfig[0].ActiveFlight = flight.IndexNo;
                FlightFunctions.Revalidate(FlightConfig[0].ActiveFlight)">PESAN</a>
            </div>
        </div>

    </section><!-- .flight-list -->
    <!-- overlays -->
    <!-- overlay - flight detail -->
    <div class="overlay overlay--theme--blue overlay--flight-detail" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-detail')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                DETAIL
                <span class="overlay__close" ng-click="FlightFunctions.SetActiveFlight()" ng-hide="PageConfig.Validating">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="container-detail">
                <ul class="nav nav-tabs tab-detail">
                    <li class="col-xs-6 active"><a data-toggle="tab" href="#flight">Penerbangan</a></li>
                    <li class="col-xs-6"><a data-toggle="tab" href="#price-detail">Rincian Harga</a></li>
                </ul>
                <div class="tab-content">
                    <div id="flight" class="tab-pane active">
                        <div class="flight-title flight-title--departure">
                            <div class="flight-info">
                                <h4><b>{{FlightConfig[0].FlightRequest.Trips[0].OriginCity}}</b> ke <b>{{FlightConfig[0].FlightRequest.Trips[0].DestinationCity}}</b></h4>
                                <h5>{{FlightConfig[0].FlightRequest.Trips[0].DepartureDate | date:'EEE, dd MMM yyyy'}}</h5>
                            </div>
                            <a href="#" class="flight-change" ng-hide="PageConfig.Validating"><span ng-click="FlightFunctions.SetActiveFlight()">GANTI</span></a>
                        </div><!-- .flight-title -->

                        <div class="flight-notice" ng-hide="FlightConfig[0].ActiveFlightAvailable">
                            <p ng-show="FlightConfig[0].ActiveFlightNewPrice > 0">Harga berubah menjadi <b>Rp {{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].originalAdultFare | number}}</b></p>
                            <p ng-show="FlightConfig[0].ActiveFlightNewPrice < 0">Penerbangan tidak tersedia</p>
                        </div><!-- .flight-notice -->

                        <div class="flight-wrapper" ng-repeat="segment in FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].trips[0].segments track by $index">
                            <div class="transit" ng-if="$index > 0">
                                <span>Transit di {{segment.departureCity}} ({{segment.departure}}) selama <b>{{msToTime(FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].trips[0].transits[$index-1].duration) | date : 'HH:mm'}}</b></span>
                            </div>
                            <div class="flight">
                                <div class="flight__number">
                                    <span>{{$index + 1}}</span>
                                </div>
                                <div class="flight__content">
                                    <div class="flight__summary col-xs-8">
                                        <img ng-src="{{segment.airlineLogoUrl}}" alt="{{segment.airlineName}}" class="flight__image" />
                                        <div class="flight__airline">
                                            <h4><b>{{segment.airlineName}}</b></h4>
                                            <h5>{{segment.airlineCd}}-{{segment.flightNo}}</h5>
                                        </div>
                                    </div>
                                    <div class="flight-facility col-xs-4" ng-show="{{segment.hasMeal || segment.isBaggageIncluded || segment.includingPsc}}">
                                        <span ng-show="segment.hasMeal" class="flight-meal"></span>
                                        <span ng-show="segment.isBaggageIncluded && segment.baggageCapacity > 0" class="flight-baggage">{{segment.baggageCapacity}}</span>
                                        <span ng-show="segment.includingPsc" class="flight-tax"></span>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="flight__detail">
                                            <div class="flight__departure">
                                                <h5>{{segment.departureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                <h4><b>{{segment.departureTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                                <h5><b>{{segment.departureCity}} ({{segment.departure}}) </b></h5>
                                                <h5>{{segment.departureName}}</h5>
                                            </div>
                                            <div class="flight__separator">
                                                <h5><b>Durasi: </b>{{msToTime(segment.duration)}}</h5>
                                            </div>
                                            <div class="flight__arrival">
                                                <h5>{{segment.arrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                <h4><b>{{segment.arrivalTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                                <h5><b>{{segment.arrivalCity}} ({{segment.arrival}})</b></h5>
                                                <h5>{{segment.arrivalName}}</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!-- .flight-wrapper -->
                    </div>
                    <div id="price-detail" class="tab-pane">
                        <div class="price-detail-mobile">
                            <price-detail-directive flight="FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ]"></price-detail-directive>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- .overlay__content -->
        <footer class="overlay__footer">
            <div class="container_new">
                <div class="row1">
                    <div class="col-xs-6">
                        <h5>Harga Tiket per Orang:</h5>
                        <h4><b>Rp {{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].netAdultFare | number}}</b></h4>
                        <h6>*Harga Sudah Termasuk Pajak dan Service Charges</h6>
                    </div>
                    <div class="col-xs-6">
                        <a ng-click="FlightFunctions.Revalidate(FlightConfig[0].ActiveFlight)" class="btn btn-yellow btn-block" ng-disabled="PageConfig.Validating">{{PageConfig.Validating ? 'MEMESAN' : 'PESAN'}}</a>
                    </div>
                    
                </div>
            </div>
        </footer><!-- .overlay__footer -->
    </div><!-- .overlay - flight detail-->
    <!-- overlay - filter -->
    <div class="overlay overlay--flight-filter overlay--theme--blue" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-filter')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                FILTER PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="filter-group filter-group--price">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Harga:</h4>
                 </div>
                <div class="filter-group__content">
                    <div class="slider-price price-slider" id="price-slider"></div>
                    <div class="slider-minmax">
                        <span>Rp {{priceFilterParam.current[0] | number}}</span>
                        <span class="pull-right">Rp {{priceFilterParam.current[1] | number}}</span>
                    </div>
                    <div class="hidden">
                        <input type="text" name="priceSliderValueMin" value="" class="price-slider-min" ng-model="priceFilterParam.current[0]" />
                        <input type="text" name="priceSliderValueMax" value="" class="price-slider-max" ng-model="priceFilterParam.current[1]" />
                    </div>

                </div>
            </div>
            <div class="filter-group filter-group--transit">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Transit:</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{ 'active' : FlightConfig[0].FlightFilter.Transit[0]}">
                        <div class="switch"></div>
                        <span>Langsung</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.Transit[0]" />
                    </label>
                    <label ng-class="{ 'active' : FlightConfig[0].FlightFilter.Transit[1]}">
                        <div class="switch"></div>
                        <span>1 Stop</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.Transit[1]" />
                    </label>
                    <label ng-class="{ 'active' : FlightConfig[0].FlightFilter.Transit[2]}">
                        <div class="switch"></div>
                        <span>2 atau lebih</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.Transit[2]" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--departure">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Jam Berangkat:</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{'active' : (FlightConfig[0].FlightFilter.DepartureTime[0])}">
                        <div class="switch"></div>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[0]" />
                        <span>Pagi<br />(04.00 - 11:00)</span>
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.DepartureTime[1] }">
                        <div class="switch"></div>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[1]" />
                        <span>Siang<br />(11.00 - 15:00)</span>
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.DepartureTime[2] }">
                        <div class="switch"></div>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[2]" />
                        <span>Sore<br />(15.00 - 19:00)</span>
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.DepartureTime[3] }">
                        <div class="switch"></div>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[3]" />
                        <span>Malam<br />(19.00 - 04:00)</span>
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--arrival">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Jam Tiba:</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[0]}">
                        <div class="switch"></div>
                        <span>Pagi<br />(04.00 - 11:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[0]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[1]}">
                        <div class="switch"></div>
                        <span>Siang<br />(11.00 - 15:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[1]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[2]}">
                        <div class="switch"></div>
                        <span>Sore<br />(15.00 - 19:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[2]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[3]}">
                        <div class="switch"></div>
                        <span>Malam<br />(19.00 - 04:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[3]" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--airline">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Maskapai:</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-repeat="Airline in FlightConfig[0].FlightFilter.Airline" ng-class="{'active' : Airline.Checked}">
                        <div class="switch"></div>
                        <span><img ng-src="{{Airline.logoUrl}}" alt="{{Airline.name}}" /> {{Airline.name}}</span>
                        <input type="checkbox" value="false" ng-model="Airline.Checked" ng-change="FlightFiltering.AirlineCheck('departure')" />
                    </label>
                </div>
            </div>
            <div class="reset">
                <button class="btn btn-reset" value="Reset" ng-click="resetFilter()">Reset</button>
            </div>
        </section><!-- .overlay__content -->
    </div><!-- .overlay -->
    <!-- .overlay - sort -->
    <div class="overlay overlay--flight-sort overlay--theme--blue" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-sort')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                SORTIR PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'price' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('price',false)">Harga - Rendah ke Tinggi</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'price' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('price',true)">Harga - Tinggi ke Rendah</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'airline' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('airline',false)"> Nama Maskapai - A ke Z</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'airline' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('airline',true)">Nama Maskapai - Z ke A</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'duration' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('duration',false)">Durasi - Singkat ke Lama</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'duration' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('duration',true)">Durasi - Lama ke Singkat</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'departure' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('departure',false)">Waktu Berangkat - Terawal ke Terakhir</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'departure' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('departure',true)">Waktu Berangkat - Terakhir ke Terawal</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'arrival' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('arrival',false)">Waktu Kedatangan - Terawal ke Terakhir</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'arrival' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('arrival',true)">Waktu Kedatangan - Terakhir ke Terawal</span>
        </section>
        <section class="overlay__content hidden">
            <label>
                Harga - Rendah ke Tinggi
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Harga - Tinggi ke Rendah
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Nama Maskapai - A ke Z
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Nama Maskapai - Z ke A
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Durasi - Singkat ke Lama
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Durasi - Lama ke Singkat
                <input type="radio" name="name" value="" />
            </label>
        </section><!-- .overlay__content -->
    </div>

    <!-- .overlay - change flight -->
    <div class="overlay overlay--theme--blue overlay--flight-form" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-form')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                <b>GANTI PENERBANGAN</b>
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="form-wrapper">
                <form class="flight-form" name="flight-form" ng-submit="FlightSearchForm.Submit()" novalidate>
                    <div class="top-form row">
                        <div class="col-xs-5">
                            <div class="form-group form__origin">
                                <div class="title-destination">Asal</div>
                                <p class="form-control" ng-init="initAirport('departure', FlightConfig[0].FlightRequest.Trips[0].OriginAirport, FlightConfig[0].FlightRequest.Trips[0].OriginCity)"
                                   ng-click="FlightSearchForm.AutoComplete.Reset('departure'); PageConfig.SetOverlay('airport-select')">
                                    <span class="code-airport">{{FlightSearchForm.AirportOrigin.Code}}</span><br /><span class="city">{{FlightSearchForm.AirportOrigin.City}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="flip-container">
                                <a class="flip" href="#" ng-click="flip()">
                                    <span class="icon-flip"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group form__destination">
                                <div class="title-destination">Tujuan</div>
                                <p class="form-control"
                                   ng-init="initAirport('return', FlightConfig[0].FlightRequest.Trips[0].DestinationAirport, FlightConfig[0].FlightRequest.Trips[0].DestinationCity)"
                                  ng-click="FlightSearchForm.AutoComplete.Reset('return'); PageConfig.SetOverlay('airport-select')">
                                    <span class="code-airport">{{FlightSearchForm.AirportDestination.Code}}</span><br /><span class="city">{{FlightSearchForm.AirportDestination.City}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="middle-form">
                        <div class="form-group form__departure">
                            <span class="icon-pp"></span>
                            <div class="field-container">
                                <p class="form-control" ng-init="FlightSearchForm.DepartureDate = FlightConfig[0].FlightRequest.Trips[0].DepartureDate;" ng-click="DatePicker.SetOption({Target : 'departure'}, ' ', 'search-single'); PageConfig.SetOverlay('datepicker-departure')">
                                    Berangkat <span>{{FlightSearchForm.DepartureDate | date : 'EEE, dd MMM yyyy'}}</span>
                                </p>
                            </div>
                            <input type="text" value="" ng-model="FlightSearchForm.DepartureDate" class="flight-search-form-departure hidden" />
                        </div>
                        <div class="form-group form__roundtrip">
                            <span class="icon-return"></span>
                            <div class="field-container">
                                <p class="os-bold">Pulang Pergi ?</p>
                                <label class="switch">
                                    <input type="checkbox" ng-model="val" ng-true-value="true" ng-false-value="false" ng-click="DatePicker.SetDefaultReturnDate(val)">
                                    <div class="slider round"></div>
                                </label>
                            </div>
                        </div>
                        <div class="form-group form__return" ng-show="val">
                            <span class="icon-pp"></span>
                            <div class="field-container">
                                <p class="form-control" ng-init="FlightSearchForm.ReturnDate = FlightConfig[0].FlightRequest.Trips[0].DepartureDate;" ng-click="DatePicker.SetOption({Target : 'return'}, ' ', 'search-single'); PageConfig.SetOverlay('datepicker-return')">
                                    Kembali <span>{{FlightSearchForm.ReturnDate | date : 'EEE, dd MMM yyyy'}}</span>
                                    <input type="text" value="" ng-model="FlightSearchForm.ReturnDate" class="flight-search-form-return hidden" />
                                </p>
                            </div>
                        </div>
                        <div class="form-group form__flightclass">
                            <span class="icon-fc"></span>
                            <div class="field-container">
                                <select class="form-control" name="cabinclass" ng-model="FlightSearchForm.Cabin" ng-init="FlightSearchForm.Cabin = flightclass[0].value">
                                    <option ng-repeat="cabin in flightclass" value="{{cabin.value}}">{{cabin.name}}</option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                         
                        <div class="form-group form__passenger clearfix">
                            <div class="col-custom-logo icon-adult"></div>
                            <div class="field-container form-adult col-custom-field">
                                <div class="field-wrapper">
                                    <p class="form-control" ng-click="FlightSearchForm.PassengerPicker.Reset('adult'); PageConfig.SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[0]}} Dewasa</p>
                                </div>
                            </div>
                            <div class="col-custom-logo icon-child"></div>
                            <div class="field-container form-child col-custom-field">
                                <div class="field-wrapper">
                                    <p class="form-control" ng-click="FlightSearchForm.PassengerPicker.Reset('children'); PageConfig.SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[1]}} Anak</p>
                                </div>
                            </div>
                            <div class="col-custom-logo icon-infant"></div>
                            <div class="field-container form-infant col-custom-field">
                                <div class="field-wrapper">
                                    <p class="form-control" ng-click="FlightSearchForm.PassengerPicker.Reset('infant'); PageConfig.SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[2]}} Bayi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form__submit">
                        <button class="btn btn-yellow btn-block btn-lg btnSubmit"> CARI PENERBANGAN</button>
                    </div>
                </form><!-- .flight-form -->
            </div><!-- .form-wrapper -->
        </section><!-- .overlay__content -->
    </div><!-- .overlay--flight-form-->
    <!-- overlay airport selector -->
    <div class="overlay overlay--theme--blue overlay--airport-select" ng-class="{'active' : (PageConfig.ActiveOverlay == 'airport-select')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                <small>PILIH TUJUAN PENERBANGAN</small>
                <span class="overlay__close" ng-click="PageConfig.SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">

            <div class="autocomplete-input">
                <input type="text" class="form-control" name="name" value="" placeholder="Masukkan lokasi tujuan penerbangan" ng-model="FlightSearchForm.AutoComplete.Keyword" ng-change="FlightSearchForm.AutoComplete.GetAirport()" />
            </div><!-- .autocomplete-input -->

            <div class="autocomplete-preload" ng-show="FlightSearchForm.AutoComplete.Keyword.length < FlightSearchForm.AutoComplete.MinLength">
                <div class="list__header">
                    <h4>TUJUAN TERPOPULER</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Popular">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>INDONESIA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Indonesia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>ASIA TENGGARA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.SouthEastAsia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>ASIA TIMUR</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.EastAsia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>EROPA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Europe">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>OSEANIA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Oceania">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>DESTINASI LAINNYA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Others">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
            </div><!-- .autocomplete-preload -->

            <div class="autocomplete-loading">
                <h4 class="text-center text-loading">Mencari Bandara</h4>
            </div>

            <div class="autocomplete-no-result">
                <h4 class="text-center">Hasil tidak ditemukan</h4>
            </div>

            <div class="autocomplete-result">
                <ul class="result" ng-click="PageConfig.SetOverlay('flight-form')"></ul>
            </div>
        </section><!-- .overlay__content -->
    </div><!-- .overlay--airport-select -->
    <!-- overlay date picker -->
    <div class="overlay overlay--theme--blue overlay--datepicker overlay--datepicker--departure" ng-class="{ 'active' : (PageConfig.ActiveOverlay == 'datepicker-departure') }">
        <header class="overlay__header">
            <h3 class="overlay__title">
                <span ng-show="DatePicker.Settings.Target == '.flight-search-form-departure'">Pilih Tanggal Keberangkatan</span>
                <span ng-show="DatePicker.Settings.Target == '.flight-search-form-return'">Pilih Tanggal Pulang</span>
                <span class="overlay__close" ng-click="SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="ui-datepicker departure-date"></div>
        </section>
    </div><!-- .overlay--datepicker-->
    <!-- overlay date picker -->
    <div class="overlay overlay--theme--blue overlay--datepicker overlay--datepicker--return" ng-class="{ 'active' : (PageConfig.ActiveOverlay == 'datepicker-return') }">
        <header class="overlay__header">
            <h3 class="overlay__title">
                Pilih Tanggal Pulang
                <span class="overlay__close" ng-click="SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="ui-datepicker departure-date"></div>
        </section>
    </div><!-- .overlay--datepicker-->
    <!-- overlay passenger picker -->
    <div class="overlay overlay--theme--blue overlay--passenger-selector" ng-class="{'active' : (PageConfig.ActiveOverlay == 'passenger-select')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                Jumlah Penumpang
                <span class="overlay__close" ng-click="SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="passenger-selector">
                <div class="passenger-selector__header">
                    <ul>
                        <li><a class="adult" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'adult'}" ng-click="FlightSearchForm.PassengerPicker.Reset('adult')"></a></li>
                        <li><a class="children" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'children'}" ng-click="FlightSearchForm.PassengerPicker.Reset('children')"></a></li>
                        <li><a class="infant" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'infant'}" ng-click="FlightSearchForm.PassengerPicker.Reset('infant')"></a></li>
                    </ul>
                </div>
                <div class="passenger-selector__body">
                    <div class="selected">
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'adult'">
                            <span class="number">{{FlightSearchForm.Passenger[0]}}</span>
                            <span class="description"><b>Dewasa</b><br />(&gt; 12 Tahun)</span>
                        </p>
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'children'">
                            <span class="number">{{FlightSearchForm.Passenger[1]}}</span>
                            <span class="description"><b>Anak</b><br />(2-12 Tahun)</span>
                        </p>
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">
                            <span class="number">{{FlightSearchForm.Passenger[2]}}</span>
                            <span class="description"><b>Bayi</b><br />(&lt; 2 Tahun)</span>
                        </p>
                    </div>
                    <div class="selector" ng-show="FlightSearchForm.PassengerPicker.ActiveType != 'infant'">
                        <span ng-repeat="number in FlightSearchForm.PassengerPicker.List" ng-click="FlightSearchForm.PassengerPicker.Set(number)" ng-class="{'disabled' : (number > (FlightSearchForm.PassengerPicker.TotalMaxPassenger - FlightSearchForm.PassengerPicker.TotalCurrentPassenger) )}">{{number}}</span>
                    </div>
                    <div class="selector" ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">
                        <span ng-repeat="number in FlightSearchForm.PassengerPicker.List" ng-click="FlightSearchForm.PassengerPicker.Set(number)" ng-class="{'disabled' : (number > (FlightSearchForm.PassengerPicker.TotalMaxPassenger - FlightSearchForm.PassengerPicker.TotalCurrentPassenger) || ( number > FlightSearchForm.Passenger[0] ) )}">{{number}}</span>
                    </div>
                    <div class="note">
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">Jumlah bayi tidak boleh lebih dari jumlah penumpang dewasa</p>
                        <p>Jumlah total penumpang tidak boleh lebih dari 9 orang</p>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- .overlay--passenger-selector -->
    <!-- popups -->
    <!-- popup revalidate -->
    <div class="popup__wrapper popup--revalidate" ng-class="{'active':PageConfig.Validating}">
        <div class="popup">
            
            <div class="revalidate-image">
                <img src="/assets/mobile/images/revalidate-plane.png" alt="Revalidating" />
            </div>
            
            <div class="revalidate-anim">
                
            </div>

            <p>Sedang Memvalidasi<br />Penerbangan Anda</p>

        </div>
    </div>
    
    <!-- popup expired -->
    <div class="popup__wrapper" ng-class="{'active':PageConfig.ExpiryDate.Expired}">
        <div class="popup">
            <header class="popup__header">
                <h4 class="popup__title">Pencarian Kadaluarsa</h4>
            </header>
            <div class="popup__body">
                <div class="container_new">
                    <span>Hasil pencarian Anda kadaluarsa. Silakan klik tombol di bawah untuk kembali ke halaman pencarian.</span>
                </div>
            </div>
            <div class="popup__footer">
                <div class="container_new">
                    <div class="row">
                        <div class="col-xs-12 hidden">
                            <a href="/" class="btn btn-block btn-gray">HOME</a>
                        </div>
                        <div class="col-xs-12">
                            <button class="btn btn-block btn-yellow" ng-click="PageConfig.RefreshPage()" ng-disabled="PageConfig.Refreshing">KEMBALI</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- popup -->
    <div class="popup__wrapper">
        <div class="popup">
            <header class="popup__header">
                <h4 class="popup__title">Penerbangan Pulang Pergi<span class="close-modal pull-right">X</span></h4>
            </header>
            <div class="popup__body">
                <div class="container_new">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="padding-top:12px;">
                            <img src="/Assets/images/airplane-image.jpg" alt="Airplane" />
                        </div>
                        <div class="col-xs-8">
                            <span>Anda telah memilih penerbangan pergi. <b>Silakan lanjutkan dengan memilih penerbangan pulang</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="popup__footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="btn btn-grey btn-block">KEMBALI</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="btn btn-yellow btn-block">LANJUT</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div><!-- .modal-wrapper -->
</div>
