@using Lunggo.ApCommon.Dictionary
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Flight.Service
@using Lunggo.CustomerWeb.Models
@using Newtonsoft.Json
@model FlightSearchData

@{
    bool isValid;

    List<FlightTrip> trips = null;
    FlightSearchData.Complete data = null;
    var originAirportNames = new List<string>();
    var destinationAirportNames = new List<string>();
    var originCityNames = new List<string>();
    var destinationCityNames = new List<string>();
    var originCountryNames = new List<string>();
    var destinationCountryNames = new List<string>();

    String tripType = "aaa";
    try
    {
        var parts = Model.info.Split('-');
        var tripPart = parts.First();
        var infoPart = parts.Last();
        isValid = ((tripPart.Length + 1) % 13 == 0) && (infoPart.Length == 4);

        trips = tripPart.Split('.').Select(info => new FlightTrip
        {
            OriginAirport = info.Substring(0, 3),
            DestinationAirport = info.Substring(3, 3),
            DepartureDate = new DateTime(
                2000 + int.Parse(info.Substring(10, 2)),
                int.Parse(info.Substring(8, 2)),
                int.Parse(info.Substring(6, 2)))
        }).ToList();

        foreach (var trip in trips)
        {
            originAirportNames.Add(DictionaryService.GetInstance().GetAirportName(trip.OriginAirport));
            destinationAirportNames.Add(DictionaryService.GetInstance().GetAirportName(trip.DestinationAirport));
            originCityNames.Add(DictionaryService.GetInstance().GetAirportCity(trip.OriginAirport));
            destinationCityNames.Add(DictionaryService.GetInstance().GetAirportCity(trip.DestinationAirport));
            originCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(trip.OriginAirport));
            destinationCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(trip.DestinationAirport));
        }

        data = new FlightSearchData.Complete
        {
            AdultCount = int.Parse(infoPart.Substring(0, 1)),
            ChildCount = int.Parse(infoPart.Substring(1, 1)),
            InfantCount = int.Parse(infoPart.Substring(2, 1)),
            CabinClass = FlightService.ParseCabinClass(infoPart.Substring(3, 1)),
            Trips = trips,
            TripType = FlightService.ParseTripType(trips)
        };

        tripType = data.TripType == TripType.OneWay ? "single" : "return";
    }
    catch
    {
        isValid = false;
    }

}

@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Flight Search Page";
    ViewBag.BodyClass = "page page-flight single-flight";
    ViewBag.AngularController = "SingleFlightController";
}

@section AdditionalJS {
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    
    <script>
        FlightSearchConfig.flightForm = {
            cabin: '@data.CabinClass',
            departureDate: '@trips[0].DepartureDate',
            origin: '@trips[0].OriginAirport',
            destination: '@trips[0].DestinationAirport',
            passenger: {
                adult: @data.AdultCount,
                child: @data.ChildCount,
                infant: @data.InfantCount,
            },
            type: '@data.TripType',
            trips: @Html.Raw(JsonConvert.SerializeObject(trips)),
            Requests:[],
            SecureCode: '@ViewBag.RequestId'
        };
    </script>

    <script src="/Assets/mobile/js/singleFlightController.js"></script>
}
<div class="page-loading" ng-class="{'page-loaded':PageConfig.Loaded}">
    <form class="hidden push-token" id="pushToken" action="/id/Flight/Select" method="post">
        <input type="text" name="Token" id="fareToken" value="" />
    </form>

    <section class="flight-summary">
        <div class="summary-left">
            <p>
                <b>Penerbangan Pergi</b><br />
                <b>{{FlightConfig[0].FlightRequest.Trips[0].OriginAirport}}</b> to <b>{{FlightConfig[0].FlightRequest.Trips[0].DestinationAirport}}</b> - {{FlightConfig[0].FlightRequest.Trips[0].DepartureDate | date:'dd MMM yyyy'}}
            </p>
        </div>
        <a ng-click="SetOverlay('flight-form')" class="summary-right"><span>GANTI</span></a>
    </section><!-- .flight-summary -->
    
    <div class="flight-loading" ng-hide="FlightConfig[0].FlightRequest.Progress == 100">
        <div class="flight-progress" style="width:{{FlightConfig[0].FlightRequest.Progress}}%;"></div>
    </div><!-- .flight-loading -->

    <section class="flight-sort-filter" ng-show="FlightConfig[0].FlightRequest.Progress == 100">
        <div class="flight-sort-filter-action">
            <a ng-click="SetOverlay('flight-filter')">FILTER</a>
            <a ng-click="SetOverlay('flight-sort')">SORT</a>
        </div>
    </section><!-- .flight-sort -->
    
    <section class="flight-notice" ng-show="FlightConfig[0].FlightList.length > 0">
        <p>Tampilan harga untuk <b>{{ FlightConfig[0].FlightRequest.AdultCount + FlightConfig[0].FlightRequest.ChildCount + FlightConfig[0].FlightRequest.InfantCount | number }} orang</b><br/>({{FlightConfig[0].FlightRequest.AdultCount}} Dewasa<span ng-if="FlightConfig[0].FlightRequest.ChildCount > 0">, {{FlightConfig[0].FlightRequest.ChildCount}} Anak</span><span ng-if="FlightConfig[0].FlightConfig.InfantCount">, {{FlightConfig[0].FlightRequest.InfantCount}} Bayi</span>)</p>
    </section><!-- .flight-notice -->

    <section class="flight-list">

        <div class="flight" ng-repeat="Flight in FlightConfig[0].FlightList | orderBy:FlightConfig[0].FlightSort.Value:FlightConfig[0].FlightSort.Invert" id="flight-{{Flight.IndexNo}}">
            <div class="flight-header">
                <h4 class="flight-airline">
                    <img ng-src="{{Flight.Trips[0].Segments[0].AirlineLogoUrl}}" alt="{{Flight.Trips[0].Segments[0].AirlineName}}" class="flight-airline-image" />
                    <span>{{Flight.Trips[0].Segments[0].AirlineName}}</span>
                </h4>
            </div>
            <div class="flight-content">
                <div class="content-left">
                    <h4 class="flight-time">
                        <span class="departure">{{Flight.Trips[0].Segments[0].DepartureTime | date: 'HH:mm' :'UTC'}}</span>
                        <span class="separator"></span>
                        <span class="arrival">{{Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime | date: 'HH:mm' : 'UTC'}}</span>
                        <span class="overday" ng-show="(getOverdayDate(Flight.Trips[0].Segments[0].DepartureTime,Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime) != 0)">{{getOverdayDate(Flight.Trips[0].Segments[0].DepartureTime,Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime)}}</span>
                    </h4>
                    <h5 class="flight-duration">
                        {{msToTime( Flight.Trips[0].TotalDuration )}},
                        <span ng-show="Flight.Trips[0].TotalTransit == 0">Langsung</span>
                        <span ng-show="Flight.Trips[0].TotalTransit > 0">{{Flight.Trips[0].TotalTransit}} Transit</span>
                    </h5>
                </div>
                <div class="content-right">
                    <label>Harga Total :</label>
                    <h4 class="flight-price">Rp {{Flight.TotalFare | number}}</h4>
                </div>
            </div>
            <div class="flight-footer">
                <a ng-click="FlightFunctions.SetActiveFlight(Flight.IndexNo)" class="flight-detail-button">Lihat Detail &gt;</a>
                <a ng-click="FlightFunctions.SetActiveFlight(Flight.IndexNo)" class="btn btn-yellow pull-right flight-order">PESAN</a>
            </div>
        </div>

    </section><!-- .flight-list -->
    

    <!-- overlays -->
    <!-- overlay - flight detail -->
    <div class="overlay overlay--theme--blue overlay--flight-detail" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-detail')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                DETAIL PENERBANGAN
                <span class="overlay__close" ng-click="FlightFunctions.SetActiveFlight()" ng-hide="PageConfig.Validating">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="flight-title flight-title--departure">
                <div class="flight-info">
                    <h4><b>{{FlightConfig[0].FlightRequest.Trips[0].OriginAirport}}</b> to <b>{{FlightConfig[0].FlightRequest.Trips[0].DestinationAirport}}</b></h4>
                    <h5>{{FlightConfig[0].FlightRequest.Trips[0].DepartureDate | date:'dd MMM yyyy'}}</h5>
                </div>
                <a href="#" class="flight-change" ng-hide="PageConfig.Validating"><span ng-click="FlightFunctions.SetActiveFlight()">GANTI</span></a>
            </div><!-- .flight-title -->
        
            <div class="flight-notice" ng-hide="FlightConfig[0].ActiveFlightAvailable">
                <p ng-show="FlightConfig[0].ActiveFlightNewPrice > 0">Harga berubah menjadi <b>Rp {{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].TotalFare | number}}</b></p>
                <p ng-show="FlightConfig[0].ActiveFlightNewPrice < 0">Penerbangan tidak tersedia</p>
            </div><!-- .flight-notice -->

            <div class="flight-wrapper" ng-repeat="Segment in FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].Trips[0].Segments track by $index">
                <div class="transit" ng-if="$index > 0">
                    <span>Transit di {{Segment.DepartureCity}} selama <b>{{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].Trips[0].Transits[$index-1].Duration}}</b></span>
                </div>
                <div class="flight">
                    <div class="flight__number">
                        <span>{{$index + 1}}</span>
                    </div>
                    <div class="flight__content">
                        <div class="flight__summary">
                            <img ng-src="{{Segment.AirlineLogoUrl}}" alt="{{Segment.AirlineName}}" class="flight__image" />
                            <div class="flight__airline">
                                <h4><b>{{Segment.AirlineName}}</b></h4>
                                <h5>{{Segment.AirlineCode}}-{{Segment.FlightNumber}}</h5>
                            </div>
                        </div>
                        <div class="flight__detail">
                            <div class="flight__departure">
                                <h5>{{Segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                <h4><b>{{Segment.DepartureTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                <h5><b>({{Segment.DepartureAirport}}) {{Segment.DepartureCity}}</b></h5>
                                <h5>{{Segment.DepartureAirportName}}</h5>
                            </div>
                            <div class="flight__separator"></div>
                            <div class="flight__arrival">
                                <h5>{{Segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                <h4><b>{{Segment.ArrivalTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                <h5><b>({{Segment.ArrivalAirport}}) {{Segment.ArrivalCity}}</b></h5>
                                <h5>{{Segment.ArrivalAirportName}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .flight-wrapper -->

        </section><!-- .overlay__content -->
        <footer class="overlay__footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <h5>Harga Total:</h5>
                        <h4><b>Rp {{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].TotalFare | number}}</b></h4>
                    </div>
                    <div class="col-xs-6">
                        <a ng-click="FlightFunctions.Revalidate(FlightConfig[0].ActiveFlight)" class="btn btn-yellow btn-block" ng-disabled="PageConfig.Validating">{{PageConfig.Validating ? 'MEMESAN' : 'PESAN'}}</a>
                    </div>
                </div>
            </div>
        </footer><!-- .overlay__footer -->
    </div><!-- .overlay - flight detail-->
    
    <!-- overlay - filter -->
    <div class="overlay overlay--flight-filter" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-filter')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                FILTER PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="filter-group filter-group--price">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Harga</h4>
                </div>
                <div class="filter-group__content"></div>
            </div>
            <div class="filter-group filter-group--transit">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Transit</h4>
                </div>
                <div class="filter-group__content">
                    <label>
                        Langsung
                        <input type="checkbox" value="true" />
                    </label>
                    <label>
                        1 kali Transit
                        <input type="checkbox" value="true" />
                    </label>
                    <label class="control-label">
                        Lebih dari 1
                        <input type="checkbox" value="true" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--departure">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Jam Berangkat</h4>
                </div>
                <div class="filter-group__content">
                    <label>
                        Pagi &nbsp; (04.00 - 11:00)
                        <input type="checkbox" value="true" />
                    </label>
                    <label>
                        Siang &nbsp; (11.00 - 15:00)
                        <input type="checkbox" value="true" />
                    </label>
                    <label>
                        Sore &nbsp; (15.00 - 19:00)
                        <input type="checkbox" value="true" />
                    </label>
                    <label>
                        Malam &nbsp; (19.00 - 04:00)
                        <input type="checkbox" value="true" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--arrival">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Jam Tiba</h4>
                </div>
                <div class="filter-group__content">
                    <label>
                        Pagi &nbsp; (04.00 - 11:00)
                        <input type="checkbox" value="true" />
                    </label>
                    <label>
                        Siang &nbsp; (11.00 - 15:00)
                        <input type="checkbox" value="true" />
                    </label>
                    <label>
                        Sore &nbsp; (15.00 - 19:00)
                        <input type="checkbox" value="true" />
                    </label>
                    <label>
                        Malam &nbsp; (19.00 - 04:00)
                        <input type="checkbox" value="true" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--airline">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Maskapai</h4>
                </div>
                <div class="filter-group__content">
                    <label>
                        <span><img src="/Assets/images/airlines/GA.png" alt="" /> Garuda Indonesia</span>
                        <input type="checkbox" value="true" />
                    </label>
                </div>
            </div>
        </section><!-- .overlay__content -->
    </div><!-- .overlay -->
    <!-- .overlay - sort -->
    <div class="overlay overlay--flight-sort" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-sort')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                SORTIR PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'price' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('price',false)">Harga - Rendah ke Tinggi</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'price' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('price',true)">Harga - Tinggi ke Rendah</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'airline' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('airline',false)"> Nama Maskapai - A ke Z</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'airline' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('airline',true)">Nama Maskapai - Z ke A</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'duration' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('duration',false)">Durasi - Singkat ke Lama</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'duration' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('duration',true)">Durasi - Lama ke Singkat</span>
        </section>
        <section class="overlay__content hidden">
            <label>
                Harga - Rendah ke Tinggi
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Harga - Tinggi ke Rendah
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Nama Maskapai - A ke Z
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Nama Maskapai - Z ke A
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Durasi - Singkat ke Lama
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Durasi - Lama ke Singkat
                <input type="radio" name="name" value="" />
            </label>
        </section><!-- .overlay__content -->
    </div>

    <!-- .overlay - change flight -->
    <div class="overlay overlay--theme--blue overlay--flight-form" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-form')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                GANTI PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <form>
                <div class="form-group origin">
                    <input type="text" value="" class="form-control" placeholder="Asal" />
                </div>
                <div class="form-group destination">
                    <input type="text" value="" class="form-control" placeholder="Tujuan" />
                </div>
                <div class="form-group departure">
                    <input type="text" value="" class="form-control" placeholder="Tanggal Pergi" />
                </div>
                <div class="form-group switch-wrapper">
                    <span>Pulang Pergi?</span>
                    <div class="switch">
                        <label class="control-label active">Ya</label>
                        <label class="control-label">Tidak</label>
                    </div>
                </div>
                <div class="form-group return">
                    <input type="text" value="" class="form-control" placeholder="Tanggal Pulang" />
                </div>
                <div class="form-group passenger">
                    <input type="text" value="" class="form-control" placeholder="Penumpang" />
                </div>
                <div class="form-group submit">
                    <button class="btn btn-yellow btn-block">CARI PENERBANGAN</button>
                </div>
            </form>
        </section><!-- .overlay__content -->
    </div><!-- .overlay--flight-form-->
    
    <!-- popups -->
    <!-- popup revalidate -->
    <div class="popup__wrapper" ng-class="{'active':PageConfig.Validating}">
        <div class="popup">
            <header class="popup__header">
                <h4 class="popup__title">Membooking Penerbangan</h4>
            </header>
            <div class="popup__body">
                <div class="container">
                    <p>Membooking penerbangan Anda. Mohon tunggu.</p>    
                </div>
            </div>
        </div>
    </div>
    
    <!-- popup expired -->
    <div class="popup__wrapper" ng-class="{'active':PageConfig.ExpiryDate.Expired}">
        <div class="popup">
            <header class="popup__header">
                <h4 class="popup__title">Pencarian Kadaluarsa</h4>
            </header>
            <div class="popup__body">
                <div class="container">
                    <p>Hasil pencarian Anda kadaluarsa. Silahkan klik tombol dibawah untuk refesh halaman pencarian.</p>
                </div>
            </div>
            <div class="popup__footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 hidden">
                            <a href="/" class="btn btn-block btn-gray">HOME</a>
                        </div>
                        <div class="col-xs-12">
                            <button class="btn btn-block btn-yellow" ng-click="PageConfig.RefreshPage()" ng-disabled="PageConfig.Refreshing">REFRESH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- popup -->
    <div class="popup__wrapper">
        <div class="popup">
            <header class="popup__header">
                <h4 class="popup__title">Roundtrip Flight <span class="close-modal pull-right">X</span></h4>
            </header>
            <div class="popup__body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="padding-top:12px;">
                            <img src="/Assets/images/airplane-image.jpg" alt="Airplane" />
                        </div>
                        <div class="col-xs-8">
                            <p>Anda telah memilih penerbangan pergi. <b>Silahkan lanjutkan dengan memilih penerbangan pulang</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="popup__footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="btn btn-grey btn-block">KEMBALI</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="btn btn-yellow btn-block">LANJUT</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div><!-- .modal-wrapper -->
</div>
