@using Lunggo.ApCommon.Dictionary
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Flight.Service
@using Lunggo.CustomerWeb.Models
@using Newtonsoft.Json
@model FlightSearchData

@{
    bool isValid;
    
    List<FlightTrip> trips = null;
    FlightSearchData.Complete data = null;
    var originAirportNames = new List<string>();
    var destinationAirportNames = new List<string>();
    var originCityNames = new List<string>();
    var destinationCityNames = new List<string>();
    var originCountryNames = new List<string>();
    var destinationCountryNames = new List<string>();

    String tripType="aaa";
    try
    {
        var parts = Model.info.Split('-');
        var tripPart = parts.First();
        var infoPart = parts.Last();
        isValid = ((tripPart.Length + 1) % 13 == 0) && (infoPart.Length == 4);
        
        trips = tripPart.Split('.').Select(info => new FlightTrip
        {
            OriginAirport = info.Substring(0, 3),
            DestinationAirport = info.Substring(3, 3),
            DepartureDate = new DateTime(
                2000 + int.Parse(info.Substring(10, 2)),
                int.Parse(info.Substring(8, 2)),
                int.Parse(info.Substring(6, 2)))
        }).ToList();

        foreach (var trip in trips)
        {
            originAirportNames.Add(DictionaryService.GetInstance().GetAirportName(trip.OriginAirport));
            destinationAirportNames.Add(DictionaryService.GetInstance().GetAirportName(trip.DestinationAirport));
            originCityNames.Add(DictionaryService.GetInstance().GetAirportCity(trip.OriginAirport));
            destinationCityNames.Add(DictionaryService.GetInstance().GetAirportCity(trip.DestinationAirport));
            originCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(trip.OriginAirport));
            destinationCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(trip.DestinationAirport));
        }

        data = new FlightSearchData.Complete
        {
            AdultCount = int.Parse(infoPart.Substring(0, 1)),
            ChildCount = int.Parse(infoPart.Substring(1, 1)),
            InfantCount = int.Parse(infoPart.Substring(2, 1)),
            CabinClass = FlightService.ParseCabinClass(infoPart.Substring(3, 1)),
            Trips = trips,
            TripType = FlightService.ParseTripType(trips)
        };

        tripType = data.TripType == TripType.OneWay ? "single" : "return";
    }
    catch
    {
        isValid = false;
    }

}

@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-flight page-flight-oneway";
    ViewBag.Title = "Pencarian Penerbangan Sejalan";
}

@section AdditionalCSS{
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/js.cookie.js"></script>
}

@section PageJS{
    <script>
        var langCode = 'en';
        flightPageFunctions();
        FlightSearchConfig.flightForm = {
            cabin: '@data.CabinClass',
            departureDate: '@trips[0].DepartureDate.ToString("yyyy/MM/dd")',
            origin: '@trips[0].OriginAirport',
            destination: '@trips[0].DestinationAirport',
            passenger: {
                adult: @data.AdultCount,
                child: @data.ChildCount,
                infant: @data.InfantCount,
            },
            type: '@data.TripType',
            trips: @Html.Raw(JsonConvert.SerializeObject(trips)),
            Requests: [],
            SecureCode: '@ViewBag.RequestId'
        };
        FlightData = {
            Cabin: '@data.CabinClass',
            Origin: '@trips[0].OriginAirport',
            OriginCity: '@originCityNames[0]',
            Destination: '@trips[0].DestinationAirport',
            DestinationCity: '@destinationCityNames[0]',
            Type: 'OneWay',
            Passenger: [@data.AdultCount, @data.ChildCount, @data.InfantCount],
            DepartureDate: '@trips[0].DepartureDate.ToString("yyyy/MM/dd")'
        };
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/singleFlightController.js"></script>
}

@if (isValid)
{

    <section class="page-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="section-title stripe small-stripe">Experience The <b>Easy Way</b><br />of Flight Booking</h2>
                </div>
            </div>
        </div>
    </section><!-- .page-slider -->
    <section class="search-result-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="result-form-left">
                        <h3><b>@originCityNames[0]</b> (@data.Trips[0].OriginAirport) ke <b>@destinationCityNames[0]</b> (@data.Trips[0].DestinationAirport) </h3>
                        <h4><b>@data.Trips[0].DepartureDate.ToString("dd-MMM-yyyy")</b> | <b>@(data.AdultCount + data.ChildCount + data.InfantCount) Orang</b> (@data.AdultCount Dewasa, @data.ChildCount Anak, @data.InfantCount Bayi)</h4>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="result-form-right">
                        <a class="btn btn-yellow block search-result-form-trigger">UBAH PENCARIAN</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="search-result-form-content">
                @Html.Partial("/Views/Flight/FlightSearchForm.cshtml")
            </div><!-- .search-result-form-content -->
            @Html.Partial("/Views/Shared/Travorama20/_SearchLocation.cshtml")
            @Html.Partial("/Views/Shared/Travorama20/_SearchCalendar.cshtml")
        </div>
    </section><!-- .search-result-form -->
    <section class="search-result one-way page-loading" ng-app="travorama" ng-controller="singleFlightController" ng-class="{'page-loaded': pageLoaded}">
    
        <div class="page-progress" ng-show="loading && loadingFlight && flightRequest.FinalProgress < 100">
            <div class="container">
                <b>Mencari Penerbangan...</b>
                <div class="progress-wrapper">

                    <div class="progress-bar" style="width:{{flightRequest.FinalProgress}}%;">
                        <div class="plane">
                            <span>{{flightRequest.FinalProgress | number:0}} %</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-overlay" ng-show="expiry.expired">
            <div class="overlay-content validating-flight">
                <header>
                    <h4>Pencarian Kadaluarsa</h4>
                </header>
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 text-align">
                                <img src="/Assets/images/expired-clock.jpg" alt="Expired" />
                            </div>
                            <div class="col-sm-8">
                                <h3>Halaman Pencarian Anda <b>Sudah Kadaluarsa</b></h3>
                                <p>Silakan klik tombol di bawah ini untuk memparbaharui halaman pencarian Anda.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-yellow btn-block" onclick="location.reload();">REFRESH</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div><!-- .page-overlay -->


        <form action="@Url.Action("Select", "Flight")" method="POST" class="hidden push-token">
            <input type="text" name="token" value="" class="token" />
        </form>    
    
        <!-- ****************************** -->
    
        <div class="no-flight" ng-show="!loading && !loadingFlight && !flightList.length">
            <h3 class="text-center">Penerbangan tidak ditemukan.<br/> Silakan mencari mengganti tanggal penerbangan atau rute Anda.</h3>
        </div>

        <div ng-hide="!loading && !loadingFlight && !flightList.length">
            
            <div class="container" ng-hide="!flightList.length && loading && loadingFlight">
                <h3><b>HASIL</b> PENCARIAN</h3>
            </div>
            <div class="search-result-filter" ng-show="flightRequest.Progress > 0">
                <div class="container">
                    <div class="filter-left">
                        <span>FILTER:</span>
                    </div>
                    <div class="filter-right">

                        <div class="filter-trigger">
                            <div class="filter-stop"><span class="switch-filter" data-target="filter-transit">Pemberhentian</span></div>
                            <div class="filter-price"><span class="switch-filter" data-target="filter-price">Harga</span></div>
                            <div class="filter-airline"><span class="switch-filter" data-target="filter-airline">Maskapai</span></div>
                            <div class="filter-time"><span class="switch-filter" data-target="filter-time">Waktu Penerbangan</span></div>
                        </div>
                        <div class="filter-content">
                            <div id="filter-transit" class="filter-transit">
                                <div class="close-filter">X</div>
                                <h3>Saring Berdasarkan Pemberhentian 
                                    <span class="pull-right">
                                        <label class="select-all" ng-click="stopFilterParam.direct = true; stopFilterParam.one = true; stopFilterParam.two = true">Pilih Semua</label>
                                        <label class="select-none" ng-click="stopFilterParam.direct = false; stopFilterParam.one = false; stopFilterParam.two = false">Nihil</label>
                                    </span>
                                </h3>
                                <div class="tab-detail">
                                    <label><input type="checkbox" value="" ng-model="stopFilterParam.direct" /> Penerbangan Langsung</label>
                                    <label><input type="checkbox" value="" ng-model="stopFilterParam.one" /> 1x Transit</label>
                                    <label><input type="checkbox" value="" ng-model="stopFilterParam.two" /> Lebih Dari 1x Transit</label>
                                </div>
                            </div>
                            <div id="filter-price" class="filter-price">
                                <div class="close-filter">X</div>
                                <h3>Saring Berdasarkan Harga</h3>
                                <div class="slider price-slider" id="price-slider"></div>
                                <div class="slider-minmax">
                                    <span>Rp {{priceFilterParam.current[0] | number}}</span>
                                    <span class="pull-right">Rp {{priceFilterParam.current[1] | number}}</span>
                                </div>
                                <div class="hidden">
                                    <input type="text" name="priceSliderValueMin" value="" class="price-slider-min" ng-model="priceFilterParam.current[0]" />
                                    <input type="text" name="priceSliderValueMax" value="" class="price-slider-max" ng-model="priceFilterParam.current[1]" />
                                </div>
                            </div>
                            <div id="filter-airline" class="filter-airline">
                                <div class="close-filter">X</div>
                                <h3>Saring Berdasarkan Maskapai
                                    <span class="pull-right">
                                        <label class="select-all" ng-click="setAirlineFilter('all')">Pilih Semua</label>
                                        <label class="select-none" ng-click="setAirlineFilter('none')">Nihil</label>
                                    </span>
                                </h3>
                                <div class="tab-detail">
                                    <div class="row" ng-repeat="airline in airlineFilterParam.airlines" ng-if="$index % 4 == 0">
                                        <div class="col-sm-3">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{airlineFilterParam.airlines[$index].Name}}" ng-init="airlineFilterParam.airlines[$index].checked = true" value="{{airlineFilterParam.airlines[$index].Code}}" ng-model="airlineFilterParam.airlines[$index].checked" ng-click="checkAirline()" /> <img ng-src="{{airlineFilterParam.airlines[$index].LogoUrl}}" alt="{{airlineFilterParam.airlines[$index].Name}}" /><span>{{airlineFilterParam.airlines[$index].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-if="airlineFilterParam.airlines[$index + 1] != null">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{airlineFilterParam.airlines[$index + 1].Name}}" ng-init="airlineFilterParam.airlines[$index + 1].checked = true" value="{{airlineFilterParam.airlines[$index + 1].Code}}" ng-model="airlineFilterParam.airlines[$index + 1].checked" ng-click="checkAirline()" /> <img ng-src="{{airlineFilterParam.airlines[$index + 1].LogoUrl}}" alt="{{airlineFilterParam.airlines[$index + 1].Name}}" /><span>{{airlineFilterParam.airlines[$index + 1].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-if="airlineFilterParam.airlines[$index + 2] != null">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{airlineFilterParam.airlines[$index + 2].Name}}" ng-init="airlineFilterParam.airlines[$index + 2].checked = true" value="{{airlineFilterParam.airlines[$index + 2].Code}}" ng-model="airlineFilterParam.airlines[$index + 2].checked" ng-click="checkAirline()" /> <img ng-src="{{airlineFilterParam.airlines[$index + 2].LogoUrl}}" alt="{{airlineFilterParam.airlines[$index + 2].Name}}" /><span>{{airlineFilterParam.airlines[$index + 2].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-if="airlineFilterParam.airlines[$index + 3] != null">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{airlineFilterParam.airlines[$index + 3].Name}}" ng-init="airlineFilterParam.airlines[$index + 3].checked = true" value="{{airlineFilterParam.airlines[$index + 3].Code}}" ng-model="airlineFilterParam.airlines[$index + 3].checked" ng-click="checkAirline()" /> <img ng-src="{{airlineFilterParam.airlines[$index + 3].LogoUrl}}" alt="{{airlineFilterParam.airlines[$index + 3].Name}}" /><span>{{airlineFilterParam.airlines[$index + 3].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="filter-time" class="filter-time">
                                <div class="close-filter">X</div>
                                <h3>Saring Berdasarkan Waktu</h3>
                                <div class="tab-detail">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="departure">
                                                <h5>Waktu keberangkatan</h5>
                                                <div class="slider departure-slider"></div>
                                                <div class="slider-minmax">
                                                    <span>{{timeFilterParam.departure[0]}}:00</span>
                                                    <span class="pull-right">{{timeFilterParam.departure[1]}}:00</span>
                                                </div>
                                                <div class="hidden">
                                                    <input type="text" name="departureMin" value="" class="departure-slider-min" ng-model="timeFilterParam.departure[0]" />
                                                    <input type="text" name="departureMax" value="" class="departure-slider-max" ng-model="timeFilterParam.departure[1]" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="arrival">
                                                <h5>Waktu kedatangan</h5>
                                                <div class="slider arrival-slider"></div>
                                                <div class="slider-minmax">
                                                    <span>{{timeFilterParam.arrival[0]}}:00</span>
                                                    <span class="pull-right">{{timeFilterParam.arrival[1]}}:00</span>
                                                </div>
                                                <div class="hidden">
                                                    <input type="text" name="arrivalMin" value="" class="arrival-slider-min" ng-model="timeFilterParam.arrival[0]" />
                                                    <input type="text" name="arrivalMax" value="" class="arrival-slider-max" ng-model="timeFilterParam.arrival[1]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- .flight-result-filter -->
            <div class="search-result-warning" ng-show="flightList.length && notice">
                <div class="container">
                    <div class="notice">
                        <p>Tampilan harga untuk <b>{{flightRequest.AdultCount + flightRequest.ChildCount + flightRequest.InfantCount}} orang</b> ( <span ng-show="flightRequest.AdultCount > 0">{{flightRequest.AdultCount}} dewasa</span> <span ng-show="flightRequest.ChildCount">, {{flightRequest.ChildCount}} anak</span> <span ng-show="flightRequest.InfantCount"> , {{flightRequest.InfantCount}} bayi</span> ) <span class="close-notice pull-right" ng-click="closeNotice()">X</span> </p>
                    </div>
                </div>
            </div><!-- .search-result-warning -->
            <div class="search-result-sort" ng-hide="!flightList.length">
                <div class="container">
                    <div class="sort-airline">
                        <span ng-click="setSort('airline')" ng-class="{'active' : sort.label == 'airline'}">Maskapai</span>
                    </div>
                    <div class="sort-departure">
                        <span ng-click="setSort('departure')" ng-class="{'active' : sort.label == 'departure'}">Berangkat</span>
                    </div>
                    <div class="sort-duration">
                        <span ng-click="setSort('duration')" ng-class="{'active' : sort.label == 'duration'}">Durasi</span>
                    </div>
                    <div class="sort-arrival">
                        <span ng-click="setSort('arrival')" ng-class="{'active' : sort.label == 'arrival'}">Tiba</span>
                    </div>
                    <div class="sort-price">
                        <span ng-click="setSort('price')" ng-class="{'active' : sort.label == 'price'}">Harga Total</span>
                    </div>
                </div>
            </div><!-- .flight-result-sort -->
            <div class="search-result-list">
                <div class="container">

                    <div class="flight flight-{{flight.IndexNo}}" ng-class="{'active': (flightActive == flight.IndexNo) }" id="flight-{{flight.IndexNo}}" ng-repeat="flight in flightList | filter:availableFilter | filter:stopFilter | filter:priceFilter | filter:airlineFilter | filter:timeFilter | orderBy:sort.value:sort.reverse">
                        <div class="flight-summary">
                            <div class="flight-summary-left">
                                <div class="summary-top">
                                    <div class="summary-top-left flight-airline">
                                        <h5>{{flight.Trips[0].Segments[0].AirlineName}}</h5>
                                        <img ng-src="{{flight.Trips[0].Segments[0].AirlineLogoUrl}}" alt="flight.Trips[0].Segments[0].AirlineName" />
                                    </div><!-- .flight-airline -->
                                    <div class="summary-top-right flight-date">
                                        <div class="summary-top-right-top">
                                            <div class="flight-date-departure">
                                                <h4>{{flight.Trips[0].Segments[0].DepartureAirport}} <span>{{flight.Trips[0].Segments[0].DepartureTime | date :'HH:mm' : 'UTC'}}</span></h4>
                                                <h5>{{flight.Trips[0].Segments[0].DepartureTime | date : 'dd - MMM - yyyy' : 'UTC'}}</h5>
                                            </div>
                                            <div class="flight-date-duration">
                                                <h5 class="time"><span>{{msToTime(flight.Trips[0].TotalDuration)}}</span></h5>
                                                <h5 class="transit">
                                                    <span ng-if="flight.Trips[0].TotalTransit == 0">Langsung</span>
                                                    <span ng-if="flight.Trips[0].TotalTransit > 0">{{flight.Trips[0].TotalTransit}} Transit</span>
                                                </h5>
                                            </div>
                                            <div class="flight-date-arrival">
                                                <h4>{{flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].ArrivalAirport}} <span>{{flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].ArrivalTime | date : 'HH:mm' : 'UTC'}}</span><span class="overday" ng-if="getFullDate(flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].ArrivalTime) != getFullDate(flight.Trips[0].Segments[0].DepartureTime)">{{getOverdayDate((flight.Trips[0].Segments[0].DepartureTime),(flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].ArrivalTime))}}</span></h4>
                                                <h5>{{flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].ArrivalTime | date : 'dd - MMM - yyyy' : 'UTC'}}</h5>
                                            </div>
                                        </div>
                                        <div class="summary-top-right-bottom flight-button">
                                            <a ng-click="setFlightActive(flight.IndexNo)" class="flight-detail-trigger">Detail Penerbangan <span class="caret"></span></a>
                                            <!-- <a class="flight-rules-trigger">Syarat &amp; Ketentuan <span class="caret"></span></a> -->
                                        </div><!-- .flight-button -->
                                    </div><!-- .flight-date -->
                                </div><!-- .summary-top -->
                            </div>
                            <div class="flight-summary-right">
                                <h4 class="flight-price"><sup>Rp</sup> {{flight.TotalFare | number}}</h4>
                                <small>Sudah Termasuk Pajak &amp; Service Charge</small>
                                <a class="btn btn-yellow" ng-click="revalidateFlight(flight.IndexNo);">PESAN</a>
                            </div>
                        </div><!-- .flight-summary -->
                        <div class="flight-detail">
                            <h3>Detail Penerbangan <span class="close-flight-detail pull-right" ng-click="setFlightActive(-1)">X</span></h3>
                            <div ng-repeat="segment in flight.Trips[0].Segments track by $index">
                                <div class="transit" ng-if="$index > 0">
                                    <p>Transit di {{segment.DepartureCity}} selama {{flight.Trips[0].Transits[ $index - 1 ].Duration}}</p>
                                </div>
                                <div class="segment">
                                    <div class="segment-number">
                                        <span ng-if="$index == 0">1<sup>st</sup></span>
                                        <span ng-if="$index == 1">2<sup>nd</sup></span>
                                        <span ng-if="$index == 2">3<sup>rd</sup></span>
                                        <span ng-if="$index > 2">{{$index}}<sup>th</sup></span>
                                    </div>
                                    <div class="segment-left">
                                        <img ng-src="{{segment.AirlineLogoUrl}}" alt="{{segment.AirlineName}}" class="segment-airline-logo" />
                                            <h5 class="segment-airline-name">{{segment.AirlineName}}</h5>
                                        <h5 class="segment-airline-number">{{segment.AirlineCode}}-{{segment.FlightNumber}}</h5>
                                        <div class="segment-detail flight-facility" ng-show="{{segment.Meal || segment.Baggage || segment.Tax}}">
                                            <span ng-show="segment.Meal" class="flight-meal"></span>
                                            <span ng-show="segment.Baggage" class="flight-baggage">{{segment.Baggage}}</span>
                                            <span ng-show="segment.Tax" class="flight-tax"></span>
                                        </div>
                                    </div>
                                    <div class="segment-right">
                                        <div class="segment-departure">
                                            <h5>{{segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                            <h3>{{segment.DepartureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                            <h4>{{segment.DepartureCity}} ({{segment.DepartureAirport}})</h4>
                                            <h5>{{segment.DepartureAirportName}}</h5>
                                        </div>
                                        <div class="segment-duration">
                                            <h5><span>Durasi :</span> {{segment.Duration}}</h5>
                                        </div>
                                        <div class="segment-arrival">
                                            <h5>{{segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                            <h3>{{segment.ArrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                            <h4>{{segment.ArrivalCity}} ({{segment.ArrivalAirport}})</h4>
                                            <h5>{{segment.ArrivalAirportName}}</h5>
                                        </div>
                                    </div>
                                    <div class="segment-operator" ng-if="segment.AirlineCode != segment.OperatingAirlineCode">
                                        <p>Penerbangan ini dioperasikan oleh <img ng-src="{{segment.OperatingAirlineLogoUrl}}" /> <span>{{segment.OperatingAirlineName}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .flight-detail -->
                    </div><!-- .flight-->

                </div>
            </div><!-- .search-result-list -->

        </div>
    
        <!-- flight review -->
        <div class="flight-review-wrapper" ng-show="overviewDetailShown" ng-class="{'active': overviewDetailShown}">
            <div class="container">
                <div class="flight-review">
                    <header class="flight-review-header">
                        <h3>Rincian Penerbangan <span class="pull-right close-review" ng-click="closeOverview()" @*ng-hide="(revalidateFlightParam.validating || revaldiateFlightParam.proceed)"*@>X</span></h3>
                    </header>
                    <section class="flight-review-summary">
                        <div class="summary-left">

                            <section class="summary-flight flight-departure" ng-class="{'warning' : (revalidateFlightParam.validated && !revalidateFlightParam.available)}">
                                <header class="flight-header">
                                    <h3>
                                        Penerbangan Pergi
                                        <span class="warning" ng-disabled="revalidateFlightParam.validating" ng-if="revalidateFlightParam.validated && revalidateFlightParam.newFare && !revalidateFlightParam.available">Harga Penerbangan Berubah - Harga Baru Rp. {{flightList[flightSelected].TotalFare | number}}</span>
                                        <span class="warning" ng-if="revalidateFlightParam.validated && !revalidateFlightParam.newFare && !revalidateFlightParam.available">Penerbangan Pergi Tidak Tersedia</span>
                                    </h3>
                                </header>
                                <div class="flight-content">
                                    <div class="flight-airline">
                                        <h5>{{flightList[flightSelected].Trips[0].Segments[0].AirlineName}}</h5>
                                        <img ng-src="{{flightList[flightSelected].Trips[0].Segments[0].AirlineLogoUrl}}" alt="flightList[flightSelected].Trips[0].Segments[0].AirlineName" />
                                    </div>
                                    <div class="flight-date">
                                        <div class="flight-date-departure">
                                            <h4>{{flightList[flightSelected].Trips[0].OriginAirport}} <span>{{flightList[flightSelected].Trips[0].Segments[0].DepartureTime | date :'HH:mm' : 'UTC'}}</span></h4>
                                            <h5>{{flightList[flightSelected].Trips[0].Segments[0].DepartureTime | date :'dd - MMM - yyyy' : 'UTC'}}</h5>
                                        </div>
                                        <div class="flight-date-duration">
                                            <h5 class="time"><span>{{msToTime(flightList[flightSelected].Trips[0].TotalDuration)}}</span></h5>
                                            <h5 class="transit">
                                                <span ng-if="flightList[flightSelected].Trips[0].TotalTransit == 0">Langsung</span>
                                                <span ng-if="flightList[flightSelected].Trips[0].TotalTransit > 0">{{flightList[flightSelected].Trips[0].TotalTransit}} Transit</span>
                                            </h5>
                                        </div>
                                        <div class="flight-date-arrival">
                                            <h4>{{flightList[flightSelected].Trips[0].Segments[ flightList[flightSelected].Trips[0].Segments.length - 1 ].ArrivalAirport}} <span>{{flightList[flightSelected].Trips[0].Segments[ flightList[flightSelected].Trips[0].Segments.length - 1 ].ArrivalTime | date : 'HH:mm' : 'UTC'}}</span></h4>
                                            <h5>{{flightList[flightSelected].Trips[0].Segments[ flightList[flightSelected].Trips[0].Segments.length - 1 ].ArrivalTime | date : 'dd - MMM - yyyy' : 'UTC'}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="flight-button">
                                <a class="flight-detail-trigger" ng-click="toggleOverviewDetail()">Detail Penerbangan <span class="caret"></span></a>
                                <!-- <a href="#" class="flight-rules-trigger">Syarat &amp; Ketentuan <span class="caret"></span></a> -->
                            </section>

                        </div>
                        <div class="summary-right">
                            <label>Harga Total:</label>
                            <h3><sup>Rp</sup> {{flightList[flightSelected].TotalFare | number}}</h3>
                            <p>*Harga termasuk Pajak &amp; Service Charge</p>
                            @*<input type="submit" class="btn btn-yellow" value="PESAN" ng-click="revalidateFlight(flightSelected)" ng-hide="revalidateFlightParam.validating || revalidateFlightParam.validated" />*@
                            <input type="submit" class="btn btn-yellow" value="LANJUTKAN" ng-click="revalidateSubmit()" ng-disabled="!revalidateFlightParam.validated" />
                            @*<div ng-show="revalidateFlightParam.validated && !revalidateFlightParam.available">
                                <input type="submit" class="btn btn-yellow" value="LANJUTKAN" ng-show="revalidateFlightParam.newFare" ng-click="revalidateFlight(flightSelected)" ng-disabled="revalidateFlightParam.proceed" />
                                <input type="submit" class="btn btn-yellow" value="PILIH KEMBALI" ng-hide="revalidateFlightParam.newFare" ng-click="closeOverview()" />
                            </div>*@
                        </div>
                    </section>
                    <footer class="flight-review-detail">
                        <h3>Detail Penerbangan <span class="pull-right close close-review-detail" ng-click="toggleOverviewDetail()">X</span></h3>
                        <section class="detail-flight flight-departure">
                            <header class="flight-header">
                                <h3>Penerbangan Pergi</h3>
                            </header>

                            <section class="flight-detail">
                                <div ng-repeat="segment in flightList[flightSelected].Trips[0].Segments track by $index">
                                    <div class="transit" ng-if="$index > 0">
                                        <p>Transit di {{segment.DepartureCity}} selama {{flightList[flightSelected].Trips[0].Transits[ $index - 1 ].Duration}}</p>
                                    </div>
                                    <div class="segment">
                                        <div class="segment-number">
                                            <span ng-if="$index == 0">1<sup>st</sup></span>
                                            <span ng-if="$index == 1">2<sup>nd</sup></span>
                                            <span ng-if="$index == 2">3<sup>rd</sup></span>
                                            <span ng-if="$index > 2">{{$index}}<sup>th</sup></span>
                                        </div>
                                        <div class="segment-left">
                                            <img ng-src="{{segment.AirlineLogoUrl}}" alt="{{segment.AirlineName}}" class="segment-airline-logo" />
                                            <h5 class="segment-airline-name">{{segment.AirlineName}}</h5>
                                            <h5 class="segment-airline-number">{{segment.AirlineCode}}-{{segment.FlightNumber}}</h5>
                                            <div class="segment-detail flight-facility" ng-show="{{segment.Meal || segment.Baggage || segment.Tax}}">
                                                <span ng-show="segment.Meal" class="flight-meal"></span>
                                                <span ng-show="segment.Baggage" class="flight-baggage">{{segment.Baggage}}</span>
                                                <span ng-show="segment.Tax" class="flight-tax"></span>
                                            </div>
                                        </div>
                                        <div class="segment-right">
                                            <div class="segment-departure">
                                                <h5>{{segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                <h3>{{segment.DepartureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                <h4>{{segment.DepartureCity}} ({{segment.DepartureAirport}})</h4>
                                                <h5>{{segment.DepartureAirportName}}</h5>
                                            </div>
                                            <div class="segment-duration">
                                                <h5><span>Durasi :</span> {{segment.Duration}}</h5>
                                            </div>
                                            <div class="segment-arrival">
                                                <h5>{{segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                                <h3>{{segment.ArrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                                <h4>{{segment.ArrivalCity}} ({{segment.ArrivalAirport}})</h4>
                                                <h5>{{segment.ArrivalAirportName}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </section>
                    </footer>
                </div><!-- .flight-review -->
            </div>
        </div><!-- .flight-review-wrapper -->

    </section><!-- .search-result.one-way -->
    
}
