@using System.Globalization
@using Lunggo.ApCommon.Autocomplete
@using Lunggo.ApCommon.Dictionary
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Trie
@using Lunggo.CustomerWeb.Models
@using Newtonsoft.Json
@model FlightSearchData


@{
    ViewBag.Title = "Hotel Search List";

    Layout = "/Views/Shared/_layout_20150506.cshtml";
}

@{
    bool isValid;
    
    List<FlightTripInfo> tripInfos = null;
    FlightSearchData.Complete data = null;
    var originAirportNames = new List<string>();
    var destinationAirportNames = new List<string>();
    var originCityNames = new List<string>();
    var destinationCityNames = new List<string>();
    var originCountryNames = new List<string>();
    var destinationCountryNames = new List<string>();

    String tripType="aaa";
    try
    {
        var parts = Model.info.Split('-');
        var tripPart = parts.First();
        var infoPart = parts.Last();
        isValid = ((tripPart.Length + 1) % 13 == 0) && (infoPart.Length == 4);
        
        tripInfos = tripPart.Split('.').Select(info => new FlightTripInfo
        {
            OriginAirport = info.Substring(0, 3),
            DestinationAirport = info.Substring(3, 3),
            DepartureDate = new DateTime(
                2000 + int.Parse(info.Substring(10, 2)),
                int.Parse(info.Substring(8, 2)),
                int.Parse(info.Substring(6, 2)))
        }).ToList();

        foreach (var tripInfo in tripInfos)
        {
            originAirportNames.Add(DictionaryService.GetInstance().GetAirportName(tripInfo.OriginAirport));
            destinationAirportNames.Add(DictionaryService.GetInstance().GetAirportName(tripInfo.DestinationAirport));
            originCityNames.Add(DictionaryService.GetInstance().GetAirportCity(tripInfo.OriginAirport));
            destinationCityNames.Add(DictionaryService.GetInstance().GetAirportCity(tripInfo.DestinationAirport));
            originCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(tripInfo.OriginAirport));
            destinationCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(tripInfo.DestinationAirport));
        }

        data = new FlightSearchData.Complete
        {
            AdultCount = int.Parse(infoPart.Substring(0, 1)),
            ChildCount = int.Parse(infoPart.Substring(1, 1)),
            InfantCount = int.Parse(infoPart.Substring(2, 1)),
            CabinClass = FlightSearchData.ParseCabinClass(infoPart.Substring(3, 1)),
            TripInfos = tripInfos,
            TripType = FlightSearchData.ParseTripType(tripInfos)
        };

        tripType = data.TripType == TripType.OneWay ? "single" : "return";
    }
    catch
    {
        isValid = false;
    }

}

@section AdditionalPageJavascript {
    <script src="/Assets/js/jquery.sticky.js"></script>
}

@section PageJavascript {
    <script>
        $('.flight-search-filter').sticky({topSpacing : 20});
    </script>
}

@if (isValid)
{
  

    <div class="search-page flight-search-page" ng-controller="FlightController as flight_list" data-flight-search-params='{ "TripType": "@data.TripType" , "TripInfos" : @JsonConvert.SerializeObject(tripInfos), "AdultCount" : "@data.AdultCount" , "ChildCount" : "@data.ChildCount" , "InfantCount" : "@data.InfantCount", "CabinClass" : "@data.CabinClass", "Currency" : "IDR" }'>

        <header class="page-header">
            <div class="container">
                <div class="site-nav"> <a href="#">Beranda</a> / <strong>Flight List</strong></div>
                <hr>
                <b>@data.TripInfos[0].OriginAirport</b> to <b>@data.TripInfos[0].DestinationAirport</b> on @data.TripInfos[0].DepartureDate.ToString("dd-MMMM-yyyy") @if (data.TripType == TripType.Return)
                                                                                                                                                                    {
                                                                                                                                                                        <span>&lt;&lt; round-trip &gt;&gt;</span>
                                                                                                                                                                        <span>@data.TripInfos[1].DepartureDate.ToString("dd-MMMM-yyyy")</span>
                                                                                                                                                                    } for @data.AdultCount Adult, @data.ChildCount Child, @data.InfantCount Infant <a href="#" class="btn btn-yellow btn-sm show-flight-search-form">CHANGE</a>
            </div>
        </header><!-- .page-header -->

        <section class="flight-search-form form-flight-search">
            <div class="container">
                <form class="form-inline" action="/id/Flight/SearchResultList" data-flighttype="round-trip">
                    <div class="row flight-type-wrapper">
                        <div class="col-sm-12">
                            <label for="round-trip" class="active"><input type="radio" name="flight-type" value="RET" id="round-trip" checked /> Round-Trip</label>
                            <label for="one-way"><input type="radio" name="flight-type" value="ONE" id="one-way" /> One-Way</label>
                        </div>
                    </div>
                    <div class="row airport-wrapper">
                        <div class="col-sm-12">
                            <input type="text" class="form-control flight-airport-origin flight-origin autocomplete" placeholder="Origin Airport" value="@originAirportNames[0], @originCityNames[0], @originCountryNames[0] " />
                            <input type="text" class="form-control flight-airport-destination flight-destination autocomplete" placeholder="Destination Airport" value="@destinationAirportNames[0], @destinationCityNames[0], @destinationCountryNames[0]" />
                            <select class="flight-cabin form-control">
                                <option value="y">Economy Class</option>
                                <option value="c">Business Class</option>
                                <option value="f">First Class</option>
                            </select>
                        </div>
                    </div>

                    <div class="row passenger-wrapper">
                        <div class="col-sm-12">
                            <input type="text" class="form-control flight-departure-date date-picker " placeholder="Departure Date" value="@data.TripInfos[0].DepartureDate.ToString("dd-MMMM-yyyy")" />
                            <span class="separator">-</span>
                            <input type="text" class="form-control flight-return-date date-picker" placeholder="Return Date" value="@if (data.TripType == TripType.Return) { @data.TripInfos[1].DepartureDate.ToString("dd-MMMM-yyyy")  }" />

                            <input type="text" class="form-control flight-return-disable" placeholder="One way" disabled />
                            <select class="form-control flight-adult">
                                <option value="1">1 Adult</option>
                                <option value="2">2 Adults</option>
                                <option value="3">3 Adults</option>
                                <option value="4">4 Adults</option>
                            </select>
                            <select class="form-control flight-child">
                                <option value="0">0 Child</option>
                                <option value="1">1 Child</option>
                                <option value="2">2 Childs</option>
                                <option value="3">3 Childs</option>
                                <option value="4">4 Childs</option>
                            </select>
                            <select class="form-control flight-infant">
                                <option value="0">0 Child</option>
                                <option value="1">1 Infant</option>
                                <option value="2">2 Infants</option>
                                <option value="3">3 Infants</option>
                                <option value="4">4 Infants</option>
                            </select>
                            <input type="text" class="hidden flight-departure-date-real" value="@data.TripInfos[0].DepartureDate.ToString("dd-MM-yyyy")" />
                            <input type="text" class="hidden flight-return-date-real" value="@if (data.TripType == TripType.Return) { @data.TripInfos[1].DepartureDate.ToString("dd-MM-yyyy")  }" />
                            <input type="text" class="hidden flight-origin-airport-real" value="@data.TripInfos[0].OriginAirport" />
                            <input type="text" class="hidden flight-destination-airport-real" value="@data.TripInfos[0].DestinationAirport" />
                            <input type="text" id="flight-data-info" name="info" class="hidden" />
                            <a href="#" class="btn btn-yellow submit-button flight-submit-button">SEARCH</a>
                        </div>
                    </div>
                </form>
            </div>
        </section><!-- .flight-search-form -->

        <div class="container" ng-if="loaded && !noFlight">
            <h2 class="page-title"><b>SEARCH</b> RESULT</h2>
        </div>

        <section class="flight-search-filter">
            <div class="filter price" data-min="{{FlightSearchFilter.PriceFilter.min}}" data-max="{{FlightSearchFilter.PriceFilter.max}}">
                <a href="#" class="toggle"><img src="http://placehold.it/50.jpg" alt="Alternate Text" /> Price</a>
                <div class="filter-container">
                    <h3>Price Filter</h3>
                    <div class="filter-content">

                        <div class="price-slider"></div>
                        <div class="price-slider-text">
                            <br/>
                            <span>Min Price</span>
                            <span class="pull-right">Max Price</span>
                        </div>
                        <div class="price-slider-text">
                            <span>IDR {{FlightSearchFilter.PriceFilter.currentMin | number}}</span>
                            <span class="pull-right">IDR {{FlightSearchFilter.PriceFilter.currentMax | number}}</span>
                        </div>
                        <input class="price-slider-min hidden" type="text" ng-model="FlightSearchFilter.PriceFilter.currentMin"/>
                        <input class="price-slider-max hidden" type="text" ng-model="FlightSearchFilter.PriceFilter.currentMax" />

                    </div>
                </div>
            </div>
            <div class="filter airlines">
                <a href="#" class="toggle"><img src="http://placehold.it/50.jpg" alt="Alternate Text" /> Airlines</a>
                <div class="filter-container">
                    <h3>Airline Filter</h3>
                    <div class="filter-content">
                        <label ng-repeat="airline in FlightSearchFilter.Airlines">
                            <input type="checkbox" value="{{airline.Code}}" ng-model="airline.checked" ng-click="checkAirline()" />
                            <img ng-src="{{airline.LogoUrl}}" alt="{{airline.Name}}" />
                            <span>{{airline.Name}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="filter stops">
                <a href="#" class="toggle"><img src="http://placehold.it/50.jpg" alt="Alternate Text" /> Stops</a>
                <div class="filter-container">
                    <h3>Stops Filter</h3>
                    <div class="filter-content">
                        <p>Show flight with :</p>
                        <label for="flight-stop-0">
                            <input value="0" id="flight-stop-0" type="checkbox" ng-model="FlightSearchFilter.StopFilter.direct" /> Direct Flight
                        </label>
                        <label for="flight-stop-1">
                            <input value="1" id="flight-stop-1" type="checkbox" ng-model="FlightSearchFilter.StopFilter.one" /> 1 stop
                        </label>
                        <label for="flight-stop-2">
                            <input value="2" id="flight-stop-2" type="checkbox" ng-model="FlightSearchFilter.StopFilter.two" /> more than 1 stop
                        </label>
                    </div>
                </div>
            </div>
        </section><!-- .flight-search-filter -->

        <div class="container">

            <section class="flight-loading" ng-if="!loaded">
                <img src="/Assets/images/loading-image-dark.gif" class="hidden" />
            </section>
        
            <div class="search-flight-loading" ng-if="!loaded">

                <div class="loading-image-wrapper">
                    <img src="/Assets/images/loading-sample.png" alt="Loading" />
                    <div class="loading-text">
                        <h2>Please Wait</h2>
                        <h4>While we searching for the best fare deal for you</h4>
                    </div>
                </div>

            </div><!-- . search-flight-loading -->
        
            <section class="flight-noflight text-center" ng-if="noFlight">
                <h1>Sorry, No flight available</h1>
                <h2>Please refine your flight search</h2>
            </section>

            <section class="flight-list horizontal" ng-if="loaded">

                <!-- Loop start here -->
                <article class="flight flight-@tripType" id="itemNumber-{{flight.SequenceNo}}" ng-class="{ 'active': flight.SequenceNo == selectedItem , 'active-rules' : flight.SequenceNo == selectedRules , 'hidden' : flight.hidden == true }" ng-repeat="flight in flight_list.list | filter:priceFilter | filter:stopFilter | filter:airlineFilter">

                    <div class="flight-main">
                        <!-- start here if Single Flight Type -->
                        <div class="flight-left" ng-if="'@tripType' == 'single'">
                            <div class="flight-header">
                                <div class="flight-airline">
                                    <h4>{{flight.FlightTrips[0].Airlines[0].Name}}</h4>
                                </div>
                            </div><!-- .flight-header -->
                            <div class="flight-content">

                                <div class="flight-airline-image">
                                    <img ng-src="{{flight.FlightTrips[0].Airlines[0].LogoUrl}}" alt="{{flight.FlightTrips[0].Airlines[0].Name}}" />
                                </div><!-- .flight-airline-image -->

                                <div class="flight-route">

                                    <div class="departure">
                                        <h2>{{ getDateTime( flight.FlightTrips[0].FlightSegments[0].DepartureTime ) | date: 'HH : mm' }}</h2>
                                        <h3>{{ getDateTime( flight.FlightTrips[0].FlightSegments[0].DepartureTime ) | date: 'd-MMMM-yyyy' }}</h3>
                                        <h2>{{flight.FlightTrips[0].OriginAirport}}</h2>
                                        <!-- <h3>Jakarta</h3> -->
                                    </div><!-- .departure -->

                                    <div class="duration">
                                        <h5>duration <br /> {{flight.FlightTrips[0].TotalDuration}}</h5>
                                        <hr />
                                        <h5 ng-if="flight.FlightTrips[0].TotalTransit == 0">Direct Flight</h5>
                                        <h5 ng-if="flight.FlightTrips[0].TotalTransit > 0">{{flight.FlightTrips[0].TotalTransit}} stop</h5>
                                    </div><!-- .duration -->

                                    <div class="arrival">
                                        <h2>{{ getDateTime( flight.FlightTrips[0].FlightSegments[(flight.FlightTrips[0].FlightSegments.length-1)].ArrivalTime ) | date: 'HH : mm' }}</h2>
                                        <h3>{{ getDateTime( flight.FlightTrips[0].FlightSegments[(flight.FlightTrips[0].FlightSegments.length-1)].ArrivalTime ) | date: 'd-MMMM-yyyy' }}</h3>
                                        <h2>{{flight.FlightTrips[0].DestinationAirport}}</h2>
                                        <!-- <h3>Tokyo</h3> -->
                                    </div><!-- .arrival -->

                                </div><!-- .flight-route -->

                            </div><!-- .flight-content -->
                            <div class="flight-action">
                                <a ng-click="clickedItem(flight.SequenceNo)"><img src="/Assets/images/paperplane-icon.png" alt="Flight Details" /> Flight Details</a>
                                <a ng-click="getRules(flight.SequenceNo)"><img src="/Assets/images/paperplane-icon.png" alt="Fares Rules" /> Fares Rules</a>
                            </div><!-- .flight-action -->
                        </div><!-- .flight-left -->
                        <!-- end if single flight type -->
                        <!-- start here if Return Flight Type-->
                        <div class="flight-left" ng-if="'@tripType' == 'return'">
                            <div class="flight-departure">
                                <div class="flight-header">
                                    <span>berangkat</span>
                                    <span class="pull-right flight-cabin hidden"><i>economy</i></span>
                                </div><!-- .flight-header -->
                                <div class="flight-content">
                                    <div class="flight-airline">
                                        <img ng-src="{{flight.FlightTrips[0].Airlines[0].LogoUrl}}" alt="{{flight.FlightTrips[0].Airlines[0].Name}}" />
                                        <span>{{flight.FlightTrips[0].Airlines[0].Name}}</span>
                                    </div>
                                    <div class="flight-route">
                                        <div class="route-wrapper">
                                            <div class="departure">
                                                <h4>{{flight.FlightTrips[0].FlightSegments[0].DepartureAirport}}</h4>
                                                <h5>{{getDateTime( flight.FlightTrips[0].FlightSegments[0].DepartureTime ) | date: 'dd-MMM-yyyy'}}</h5>
                                                <h5>{{getDateTime( flight.FlightTrips[0].FlightSegments[0].DepartureTime ) | date: 'HH : mm'}}</h5>
                                            </div>
                                            <div class="to">to</div>
                                            <div class="arrival">
                                                <h4>{{flight.FlightTrips[0].FlightSegments[(flight.FlightTrips[0].FlightSegments.length-1)].ArrivalAirport}}</h4>
                                                <h5>{{getDateTime( flight.FlightTrips[0].FlightSegments[(flight.FlightTrips[0].FlightSegments.length-1)].ArrivalTime ) | date: 'dd-MMM-yyyy'}}</h5>
                                                <h5>{{getDateTime( flight.FlightTrips[0].FlightSegments[(flight.FlightTrips[0].FlightSegments.length-1)].ArrivalTime ) | date: 'HH : mm'}}</h5>
                                            </div>
                                        </div>
                                        <h5 class="duration" ng-if="flight.FlightTrips[0].TotalTransit == 0">Direct Flight - {{flight.FlightTrips[0].TotalDuration}}</h5>
                                        <h5 class="duration" ng-if="flight.FlightTrips[0].TotalTransit > 0">{{flight.FlightTrips[0].TotalTransit}} stop - {{flight.FlightTrips[0].TotalDuration}}</h5>
                                    </div>
                                </div><!-- .flight-content -->
                            </div><!-- .flight-departure -->
                            <div class="flight-return">
                                <div class="flight-header">
                                    <span>kembali</span>
                                    <span class="pull-right flight-cabin hidden"><i>economy</i></span>
                                </div><!-- .flight-header -->
                                <div class="flight-content">
                                    <div class="flight-airline">
                                        <img ng-src="{{flight.FlightTrips[1].Airlines[0].LogoUrl}}" alt="{{flight.FlightTrips[1].Airlines[0].Name}}" />
                                        <span>{{flight.FlightTrips[1].Airlines[0].Name}}</span>
                                    </div>
                                    <div class="flight-route">
                                        <div class="route-wrapper">
                                            <div class="departure">
                                                <h4>{{flight.FlightTrips[1].FlightSegments[0].DepartureAirport}}</h4>
                                                <h5>{{getDateTime( flight.FlightTrips[1].FlightSegments[0].DepartureTime ) | date: 'dd-MMM-yyyy'}}</h5>
                                                <h5>{{getDateTime( flight.FlightTrips[1].FlightSegments[0].DepartureTime ) | date: 'HH : mm'}}</h5>
                                            </div>
                                            <div class="to">to</div>
                                            <div class="arrival">
                                                <h4>{{flight.FlightTrips[1].FlightSegments[(flight.FlightTrips[1].FlightSegments.length-1)].ArrivalAirport}}</h4>
                                                <h5>{{getDateTime( flight.FlightTrips[1].FlightSegments[(flight.FlightTrips[1].FlightSegments.length-1)].ArrivalTime ) | date: 'dd-MMM-yyyy'}}</h5>
                                                <h5>{{getDateTime( flight.FlightTrips[1].FlightSegments[(flight.FlightTrips[1].FlightSegments.length-1)].ArrivalTime ) | date: 'HH : mm'}}</h5>
                                            </div>
                                        </div>
                                        <h5 class="duration" ng-if="flight.FlightTrips[1].TotalTransit == 0">Direct Flight - {{flight.FlightTrips[1].TotalDuration}}</h5>
                                        <h5 class="duration" ng-if="flight.FlightTrips[1].TotalTransit > 0">{{flight.FlightTrips[1].TotalTransit}} stop - {{flight.FlightTrips[1].TotalDuration}}</h5>
                                    </div>
                                </div><!-- .flight-content -->
                            </div><!-- .flight-return -->
                            <div class="flight-action">
                                <a ng-click="clickedItem(flight.SequenceNo)"><img src="/Assets/images/paperplane-icon.png" /> Flight Details</a>
                                <a ng-click="getRules(flight.SequenceNo)"><img src="/Assets/images/paperplane-icon.png" /> Fares Rules</a>
                            </div><!-- .flight-action -->
                        </div><!-- .flight-left -->
                        <!-- end if Return Flight Type -->
                        <div class="flight-right">
                            <form ng-submit="revalidate($index)">
                                <span class="tag red hidden">Disc 20%</span>
                                <p>Total Fare:</p>
                                <h5 class="price-was"><!-- <del>Rp 1.800.000</del> --></h5>
                                <h4 class="price-now">{{flight.Currency || 'IDR'}} {{flight.TotalFare | number:0}}</h4>
                                <small>harga sudah termasuk <b>pajak</b></small>
                                <input class="hidden" type="text" name="itinIndex" value="{{flight.SequenceNo}}" />
                                <input class="hidden" type="text" name="searchId" value="{{FlightSearchParams.SearchId}}" />
                                <button type="submit" class="btn btn-blue">Book now !</button>
                            </form>
                        </div><!-- .flight-right -->
                    </div><!-- .flight-main -->

                    <div class="flight-detail">
                        <div class="flight-detail-content">
                            <h4 class="detail-title" ng-if="'@tripType' == 'single'"> <b>FLIGHT</b> DETAILS</h4>
                            <h4 class="detail-title" ng-if="'@tripType' == 'return'"> <b>DEPARTURE</b> FLIGHTS</h4>
                            <ol>
                                <li class="route" ng-repeat="trip in flight.FlightTrips[0].FlightSegments">
                                    <div class="flight-airline">
                                        <img ng-src="{{trip.AirlineLogoUrl}}" />
                                        <h5>{{trip.AirlineCode}} {{trip.FlightNumber}}</h5>
                                    </div><!-- .flight-airline-->
                                    <div class="flight-route">
                                        <div class="flight-departure-airport">
                                            <h4>{{trip.DepartureAirport}}</h4>
                                            <h5>{{trip.DepartureCity}}</h5>
                                            <h5>{{trip.DepartureAirportName}}</h5>
                                        </div><!-- .flight-departure-airport -->
                                        <div class="flight-departure-time">
                                            <h4>{{getDateTime(trip.DepartureTime) | date:'HH:mm'}}</h4>
                                            <h5>{{getDateTime(trip.DepartureTime) | date:'d-MMMM-yyyy'}}</h5>
                                        </div><!-- .flight-departure-time -->
                                        <div class="flight-duration">
                                            <h5>Duration<br />{{trip.Duration}}</h5>
                                            <hr />
                                        </div><!-- .flight-departure-duration -->
                                        <div class="flight-arrival-time">
                                            <h4>{{getDateTime(trip.ArrivalTime) | date:'HH:mm'}}</h4>
                                            <h5>{{getDateTime(trip.ArrivalTime) | date:'d-MMMM-yyyy'}}</h5>
                                        </div><!-- .flight-arrival-time -->
                                        <div class="flight-arrival-airport">
                                            <h4>{{trip.ArrivalAirport}}</h4>
                                            <h5>{{trip.ArrivalCity}}</h5>
                                            <h5>{{trip.ArrivalAirportName}}</h5>
                                        </div><!-- .flight-departure-airport -->
                                    </div>
                                    <div class="flight-operator" ng-class=" ('{{trip.OperatingAirlineCode}}' == '{{trip.AirlineCode}}') ? 'hidden' : 'show'">
                                        <h5>This flight is operated by {{trip.OperatingAirlineName}}</h5>
                                    </div>
                                </li>
                            </ol>
                            <div ng-if="'@tripType' == 'return'" class="return-flight-detail">
                                <h4 class="detail-title"> <b>RETURN</b> FLIGHTS</h4>
                                <ol>
                                    <li class="route" ng-repeat="trip in flight.FlightTrips[1].FlightSegments">
                                        <div class="flight-airline">
                                            <img ng-src="{{trip.AirlineLogoUrl}}" />
                                            <h5>{{trip.AirlineCode}} {{trip.FlightNumber}}</h5>
                                        </div><!-- .flight-airline-->
                                        <div class="flight-route">
                                            <div class="flight-departure-airport">
                                                <h4>{{trip.DepartureAirport}}</h4>
                                                <h5>{{trip.DepartureCity}}</h5>
                                                <h5>{{trip.DepartureAirportName}}</h5>
                                            </div><!-- .flight-departure-airport -->
                                            <div class="flight-departure-time">
                                                <h4>{{getDateTime(trip.DepartureTime) | date:'HH:mm'}}</h4>
                                                <h5>{{getDateTime(trip.DepartureTime) | date:'d-MMMM-yyyy'}}</h5>
                                            </div><!-- .flight-departure-time -->
                                            <div class="flight-duration">
                                                <h5>Duration<br />{{trip.Duration}}</h5>
                                                <hr />
                                            </div><!-- .flight-departure-duration -->
                                            <div class="flight-arrival-time">
                                                <h4>{{getDateTime(trip.ArrivalTime) | date:'HH:mm'}}</h4>
                                                <h5>{{getDateTime(trip.ArrivalTime) | date:'d-MMMM-yyyy'}}</h5>
                                            </div><!-- .flight-arrival-time -->
                                            <div class="flight-arrival-airport">
                                                <h4>{{trip.ArrivalAirport}}</h4>
                                                <h5>{{trip.ArrivalCity}}</h5>
                                                <h5>{{trip.ArrivalAirportName}}</h5>
                                            </div><!-- .flight-departure-airport -->
                                        </div>
                                        <div class="flight-operator" ng-class=" ('{{trip.OperatingAirlineCode}}' == '{{trip.AirlineCode}}') ? 'hidden' : 'show'">
                                            <h5>This flight is operated by {{trip.OperatingAirlineName}}</h5>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- .flight-details -->
                
                    <div class="flight-rules">
                        <div class="flight-rules-content">
                            <div class="text-center rules-loading" ng-if="flight.FareLoaded == false">
                                <img src="/assets/images/loading-image-dark.gif" alt="Loading" />
                            </div>
                            <div ng-if="flight.FareLoaded == true">
                                <div class="no-rules" ng-if="flight.FareRules.BaggageRules.length == 0 && flight.FareRules.AirlineRules.length == 0">
                                    <p>No rules for this fare</p>
                                </div>
                                <div class="baggage-rules" ng-if="flight.FareRules.BaggageRules.length > 0">
                                    <h4><b>BAGGAGE</b> RULES</h4>
                                    <div class="rules-content">
                                        <ul>
                                            <li ng-repeat="rule in flight.FareRules.BaggageRules">
                                                <h4>{{rule.AirlineName}} - {{rule.AirlineCode}} {{rule.FlightNumber}}</h4>
                                                <p>Flight from {{rule.DepartureAirportName}},{{rule.DepartureCity}},{{rule.DepartureCountry}} to {{rule.ArrivalAirportName}},{{rule.ArrivalCity}},{{rule.ArrivalCountry}}</p>
                                                <p>Maximum baggage : {{rule.Baggage}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="airline-rules" ng-if="flight.FareRules.AirlineRules.length > 0">
                                    <h4><b>AIRLINE</b> RULES</h4>
                                    <div class="rules-content">
                                        <div ng-repeat="airlineRules in flight.FareRules.AirlineRules">
                                            <p>Rules for : {{airlineRules.AirlineName}} <br/>Flight from {{airlineRules.DepartureAirportName}},{{airlineRules.DepartureCity}}, {{airlineRules.DepartureCountry}} to {{airlineRules.ArrivalAirportName}},{{airlineRules.ArrivalCity}},{{airlineRules.ArrivalCountry}}</p>
                                            <ul>
                                                <li ng-repeat="rule in airlineRules.Rules">{{rule}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .flight-rules -->

                </article><!-- .flight -->
                <!-- loop end here -->

            </section><!-- .flght-list -->

        </div><!-- .container -->


    </div>
    <!-- .search-flight -->

    
}
else
{
    <div class="search-page flight-search-page" ng-controller="FlightController as flight_list">

        <header class="page-header">
            <div class="container">
                <div class="site-nav"> <a href="#">Beranda</a> / <strong>Flight List</strong></div>
                <hr>
                Data invalid, please change your data <a href="#" class="btn btn-yellow btn-sm show-flight-search-form">CHANGE</a>
            </div>
        </header><!-- .page-header -->
        
        <section class="flight-search-form form-flight-search">
            <div class="container">
                <form class="form-inline" action="/id/Flight/SearchResultList" data-flighttype="round-trip">
                    <div class="row flight-type-wrapper">
                        <div class="col-sm-12">
                            <label for="round-trip" class="active"><input type="radio" name="flight-type" value="RET" id="round-trip" checked /> Round-Trip</label>
                            <label for="one-way"><input type="radio" name="flight-type" value="ONE" id="one-way" /> One-Way</label>
                        </div>
                    </div>
                    <div class="row airport-wrapper">
                        <div class="col-sm-12">
                            <input type="text" class="form-control flight-airport-origin flight-origin autocomplete" placeholder="Origin Airport" />
                            <input type="text" class="form-control flight-airport-destination flight-destination autocomplete" placeholder="Destination Airport" />
                            <select class="flight-cabin form-control">
                                <option value="y">Economy Class</option>
                                <option value="c">Business Class</option>
                                <option value="f">First Class</option>
                            </select>
                        </div>
                    </div>
                    <div class="row passenger-wrapper">
                        <div class="col-sm-12">
                            <input type="text" class="form-control flight-departure-date date-picker " placeholder="Departure Date" />
                            <span class="separator">-</span>
                            <input type="text" class="form-control flight-return-date date-picker" placeholder="Return Date" />
                            <input type="text" class="form-control flight-return-disable" placeholder="One way" disabled />
                            <select class="form-control flight-adult">
                                <option value="1">1 Adult</option>
                                <option value="2">2 Adults</option>
                                <option value="3">3 Adults</option>
                                <option value="4">4 Adults</option>
                            </select>
                            <select class="form-control flight-child">
                                <option value="0">0 Child</option>
                                <option value="1">1 Child</option>
                                <option value="2">2 Childs</option>
                                <option value="3">3 Childs</option>
                                <option value="4">4 Childs</option>
                            </select>
                            <select class="form-control flight-infant">
                                <option value="0">0 Child</option>
                                <option value="1">1 Infant</option>
                                <option value="2">2 Infants</option>
                                <option value="3">3 Infants</option>
                                <option value="4">4 Infants</option>
                            </select>
                            <input type="text" class="hidden flight-departure-date-real" value="" />
                            <input type="text" class="hidden flight-return-date-real" value="" />
                            <input type="text" class="hidden flight-origin-airport-real" value="" />
                            <input type="text" class="hidden flight-destination-airport-real" value="" />
                            <input type="text" id="flight-data-info" name="info" class="hidden" />
                            <a href="#" class="btn btn-yellow submit-button flight-submit-button">SEARCH</a>
                        </div>
                    </div>
                </form>
            </div>
        </section><!-- .flight-search-form -->

        <div class="container">
            <h2 class="page-title"><b>SEARCH</b> RESULT</h2>
        </div>
        
        <div class="container">

            <section class="flight-noflight text-center">
                <h1>Sorry, No flight available</h1>
                <h2>Please refine your flight search</h2>
            </section>

        </div>

        </div>
    
}
