@using Lunggo.ApCommon.Dictionary
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Flight.Service
@using Lunggo.CustomerWeb.Models
@using Newtonsoft.Json
@model FlightSearchData

@{
    bool isValid;

    List<FlightTrip> trips = null;
    List<FlightTrip> departTrip = null;
    List<FlightTrip> returnTrip = null;
    FlightSearchData.Complete data = null;
    var originAirportNames = new List<string>();
    var destinationAirportNames = new List<string>();
    var originCityNames = new List<string>();
    var destinationCityNames = new List<string>();
    var originCountryNames = new List<string>();
    var destinationCountryNames = new List<string>();

    String tripType = "aaa";
    try
    {
        var parts = Model.info.Split('-');
        var tripPart = parts.First();
        var infoPart = parts.Last();
        isValid = ((tripPart.Length + 1) % 13 == 0) && (infoPart.Length == 4);

        trips = tripPart.Split('.').Select(info => new FlightTrip
        {
            OriginAirport = info.Substring(0, 3),
            DestinationAirport = info.Substring(3, 3),
            DepartureDate = new DateTime(
                2000 + int.Parse(info.Substring(10, 2)),
                int.Parse(info.Substring(8, 2)),
                int.Parse(info.Substring(6, 2)))
        }).ToList();

        foreach (var trip in trips)
        {
            originAirportNames.Add(DictionaryService.GetInstance().GetAirportName(trip.OriginAirport));
            destinationAirportNames.Add(DictionaryService.GetInstance().GetAirportName(trip.DestinationAirport));
            originCityNames.Add(DictionaryService.GetInstance().GetAirportCity(trip.OriginAirport));
            destinationCityNames.Add(DictionaryService.GetInstance().GetAirportCity(trip.DestinationAirport));
            originCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(trip.OriginAirport));
            destinationCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(trip.DestinationAirport));
        }

        data = new FlightSearchData.Complete
        {
            AdultCount = int.Parse(infoPart.Substring(0, 1)),
            ChildCount = int.Parse(infoPart.Substring(1, 1)),
            InfantCount = int.Parse(infoPart.Substring(2, 1)),
            CabinClass = FlightService.ParseCabinClass(infoPart.Substring(3, 1)),
            Trips = trips,
            TripType = FlightService.ParseTripType(trips)
        };

        tripType = data.TripType == TripType.OneWay ? "single" : "return";

        departTrip = new List<FlightTrip> { trips[0] };
        returnTrip = new List<FlightTrip> { trips[1] };
    }
    catch
    {
        isValid = false;
    }

}


@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Flight Search Page";
    ViewBag.BodyClass = "page page-flight single-flight";
    ViewBag.AngularController = "ReturnFlightController";
    ViewBag.FlightSwap = "true";
}

@section AdditionalJS {
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{

    <script>
    FlightSearchConfig.flightForm = {
        cabin: '@data.CabinClass',
        departureDate: '@trips[0].DepartureDate',
        origin: '@trips[0].OriginAirport',
        destination: '@trips[0].DestinationAirport',
        passenger: {
            adult: @data.AdultCount,
            child: @data.ChildCount,
            infant: @data.InfantCount,
        },
        type: 'OneWay',
        trips: [@Html.Raw(JsonConvert.SerializeObject(departTrip)),@Html.Raw(JsonConvert.SerializeObject(returnTrip)) ],
            Requests:[],
            SecureCode: '@ViewBag.RequestId'
    };
    </script>

    <script src="/Assets/mobile/js/returnFlightController.js"></script>
}

<div class="page-loading" ng-class="{'page-loaded':PageConfig.Loaded}">
    <form class="hidden push-token pushToken" id="pushToken" action="/id/Flight/Select" method="post">
        <input type="text" name="Token" id="fareToken" class="fareToken" value="" />
    </form>
    
    <div class="flight-loading" ng-hide="( (FlightConfig[0].FlightRequest.Progress + FlightConfig[1].FlightRequest.Progress) / 2 ) == 100">
        <div class="flight-progress" style="width:{{(FlightConfig[0].FlightRequest.Progress + FlightConfig[1].FlightRequest.Progress) / 2}}%;"></div>
    </div><!-- .flight-loading -->

    <section class="flight-summary">
        <div class="summary-left">
            <p ng-show="PageConfig.ActiveSection == 'departure'">
                <b>Penerbangan Pergi</b><br />
                <b>{{FlightConfig[0].FlightRequest.Trips[0].OriginAirport}}</b> to <b>{{FlightConfig[0].FlightRequest.Trips[0].DestinationAirport}}</b> - {{FlightConfig[0].FlightRequest.Trips[0].DepartureDate | date:'EEE,dd MMM yyyy'}}
            </p>
            <p ng-show="PageConfig.ActiveSection == 'return'">
                <b>Penerbangan Pulang</b><br />
                <b>{{FlightConfig[1].FlightRequest.Trips[0].OriginAirport}}</b> to <b>{{FlightConfig[1].FlightRequest.Trips[0].DestinationAirport}}</b> - {{FlightConfig[1].FlightRequest.Trips[0].DepartureDate | date:'EEE,dd MMM yyyy'}}
            </p>
        </div>
        <a ng-click="SetOverlay('flight-form')" class="summary-right"><span>GANTI</span></a>
    </section><!-- .flight-summary -->

    <section class="flight-sort-filter flight-sort-filter--departure" ng-show="FlightConfig[0].FlightRequest.Progress == 100 && PageConfig.ActiveSection == 'departure'">
        <div class="flight-sort-filter-action">
            <a ng-click="SetOverlay('flight-filter-departure')">FILTER</a>
            <a ng-click="SetOverlay('flight-sort-departure')">SORT</a>
        </div>
    </section><!-- .flight-sort -->
    <section class="flight-sort-filter flight-sort-filter--return" ng-show="FlightConfig[1].FlightRequest.Progress == 100 && PageConfig.ActiveSection == 'return'">
        <div class="flight-sort-filter-action">
            <a ng-click="SetOverlay('flight-filter-return')">FILTER</a>
            <a ng-click="SetOverlay('flight-sort-return')">SORT</a>
        </div>
    </section><!-- .flight-sort -->

    <section class="flight-list" id="departure-flight" ng-show="PageConfig.ActiveSection == 'departure'">
    
        <div class="flight-selection" ng-show="FlightConfig[1].ActiveFlight >= 0">
            <div class="flight-info flight-info--return">
                <span>pulang : <br/> {{FlightConfig[1].FlightList[FlightConfig[1].ActiveFlight].Trips[0].Segments[0].AirlineName}} (Rp {{FlightConfig[1].FlightList[FlightConfig[1].ActiveFlight].TotalFare | number}})</span>
            </div>
            <a ng-click="FlightFunction.SetActiveFlight('return',-1); SetSection('return');" class="change-departure"><span>Ganti</span></a>
        </div><!-- .flight-selection -->

        <div class="flight" ng-click="FlightFunctions.ShowDetail('departure',Flight.IndexNo);" ng-repeat="Flight in departureFlight = (FlightConfig[0].FlightList | filter:FlightFiltering.AirlineFilter('departure') | filter:FlightFiltering.TransitFilter('departure') | filter:FlightFiltering.DepartureTimeFilter('departure') | filter:FlightFiltering.ArrivalTimeFilter('departure') | orderBy:FlightConfig[0].FlightSort.Value:FlightConfig[0].FlightSort.Invert)" id="flight-{{Flight.IndexNo}}">
            <div class="flight-header">
                <h4 class="flight-airline">
                    <img ng-src="{{Flight.Trips[0].Segments[0].AirlineLogoUrl}}" alt="{{Flight.Trips[0].Segments[0].AirlineName}}" class="flight-airline-image" />
                    <span>{{Flight.Trips[0].Segments[0].AirlineName}}</span>
                </h4>
            </div>
            <div class="flight-content">
                <div class="content-left">
                    <h4 class="flight-time">
                        <span class="departure">{{Flight.Trips[0].Segments[0].DepartureTime | date: 'HH:mm' :'UTC'}}</span>
                        <span class="separator"></span>
                        <span class="arrival">{{Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime | date: 'HH:mm' : 'UTC'}}</span>
                        <span class="overday" ng-show="(getOverdayDate(Flight.Trips[0].Segments[0].DepartureTime,Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime) != 0)">{{getOverdayDate(Flight.Trips[0].Segments[0].DepartureTime,Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime)}}</span>
                    </h4>
                    <h5 class="flight-duration">
                        {{msToTime( Flight.Trips[0].TotalDuration )}},
                        <span ng-show="Flight.Trips[0].TotalTransit == 0">Langsung</span>
                        <span ng-show="Flight.Trips[0].TotalTransit > 0">{{Flight.Trips[0].TotalTransit}} Transit</span>
                    </h5>
                </div>
                <div class="content-right">
                    <label>Harga Total :</label>
                    <h5 class="flight-price-was" ng-show="Flight.OriginalFare">Rp {{Flight.OriginalFare | number}}</h5>
                    <h4 class="flight-price">Rp {{Flight.TotalFare | number}}</h4>
                </div>
            </div>
            <div class="flight-footer">
                <a class="flight-detail-button">Lihat Detail &gt;</a>
                <a ng-click="FlightFunctions.SetActiveFlight('departure',Flight.IndexNo); $event.stopPropagation();" class="btn btn-yellow pull-right flight-order">PESAN</a>
            </div>
        </div>

    </section><!-- .flight-list#departure-flight -->
    
    <section class="flight-list" id="return-flight" ng-show="PageConfig.ActiveSection == 'return'">
    
        <div class="flight-selection" ng-show="FlightConfig[0].ActiveFlight >= 0">
            <div class="flight-info">
                <span>Pergi : <br/> {{FlightConfig[0].FlightList[FlightConfig[0].ActiveFlight].Trips[0].Segments[0].AirlineName}} (Rp {{FlightConfig[0].FlightList[FlightConfig[0].ActiveFlight].TotalFare | number}})</span>
            </div>
            <a ng-click="FlightFunction.SetActiveFlight('departure',-1); SetSection('departure');" class="change-departure"><span>Ganti</span></a>
        </div><!-- .flight-selection -->

        <div class="flight" ng-click="FlightFunctions.ShowDetail('return',Flight.IndexNo);" ng-repeat="Flight in returnFlight = (FlightConfig[1].FlightList | filter:FlightFiltering.AirlineFilter('return') | filter:FlightFiltering.TransitFilter('return') | filter:FlightFiltering.DepartureTimeFilter('return') | filter:FlightFiltering.ArrivalTimeFilter('return') | orderBy:FlightConfig[1].FlightSort.Value:FlightConfig[1].FlightSort.Invert)" id="flight-{{Flight.IndexNo}}">
            <div class="flight-header">
                <h4 class="flight-airline">
                    <img ng-src="{{Flight.Trips[0].Segments[0].AirlineLogoUrl}}" alt="{{Flight.Trips[0].Segments[0].AirlineName}}" class="flight-airline-image" />
                    <span>{{Flight.Trips[0].Segments[0].AirlineName}}</span>
                </h4>
            </div>
            <div class="flight-content">
                <div class="content-left">
                    <h4 class="flight-time">
                        <span class="departure">{{Flight.Trips[0].Segments[0].DepartureTime | date: 'HH:mm' :'UTC'}}</span>
                        <span class="separator"></span>
                        <span class="arrival">{{Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime | date: 'HH:mm' : 'UTC'}}</span>
                        <span class="overday" ng-show="(getOverdayDate(Flight.Trips[0].Segments[0].DepartureTime,Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime) != 0)">{{getOverdayDate(Flight.Trips[0].Segments[0].DepartureTime,Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime)}}</span>
                    </h4>
                    <h5 class="flight-duration">
                        {{msToTime( Flight.Trips[0].TotalDuration )}},
                        <span ng-show="Flight.Trips[0].TotalTransit == 0">Langsung</span>
                        <span ng-show="Flight.Trips[0].TotalTransit > 0">{{Flight.Trips[0].TotalTransit}} Transit</span>
                    </h5>
                </div>
                <div class="content-right">
                    <label>Harga Total :</label>
                    <h4 class="flight-price">Rp {{Flight.TotalFare | number}}</h4>
                </div>
            </div>
            <div class="flight-footer">
                <a class="flight-detail-button">Lihat Detail &gt;</a>
                <a ng-click="FlightFunctions.SetActiveFlight('return',Flight.IndexNo); $event.stopPropagation();" class="btn btn-yellow pull-right flight-order">PESAN</a>
            </div>
        </div>

    </section><!-- .flight-list#return-flight -->


    <!-- overlay - flight detail -->
    <div class="overlay overlay--theme--blue overlay--flight-detail" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-detail')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                DETAIL PENERBANGAN
                <span class="overlay__close" ng-click="FlightFunctions.SetActiveFlight(); SetOverlay();" ng-hide="PageConfig.Validating">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div ng-if="PageConfig.ActiveSection == 'departure'">
                <div class="flight-title flight-title--departure">
                    <div class="flight-info">
                        <h4><b>{{FlightConfig[0].FlightRequest.Trips[0].OriginAirport}}</b> to <b>{{FlightConfig[0].FlightRequest.Trips[0].DestinationAirport}}</b></h4>
                        <h5>{{FlightConfig[0].FlightRequest.Trips[0].DepartureDate | date: 'EEE,dd MMM yyyy'}}</h5>
                    </div>
                    <a href="#" class="flight-change" ng-hide="PageConfig.Validating"><span ng-click="FlightFunctions.SetActiveFlight('departure',-1); SetOverlay();">GANTI</span></a>
                </div>

                <div class="flight-wrapper" ng-repeat="Segment in FlightConfig[0].FlightList[ FlightConfig[0].DetailFlight ].Trips[0].Segments track by $index">
                    <div class="transit" ng-if="$index > 0">
                        <span>Transit di {{Segment.DepartureCity}} selama <b>{{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].Trips[0].Transits[$index-1].Duration}}</b></span>
                    </div>
                    <div class="flight">
                        <div class="flight__number">
                            <span>{{$index + 1}}</span>
                        </div>
                        <div class="flight__content">
                            <div class="flight__summary">
                                <img ng-src="{{Segment.AirlineLogoUrl}}" alt="{{Segment.AirlineName}}" class="flight__image" />
                                <div class="flight__airline">
                                    <h4><b>{{Segment.AirlineName}}</b></h4>
                                    <h5>{{Segment.AirlineCode}}-{{Segment.FlightNumber}}</h5>
                                </div>
                            </div>
                            <div class="flight__detail">
                                <div class="flight__departure">
                                    <h5>{{Segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                    <h4><b>{{Segment.DepartureTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                    <h5><b>({{Segment.DepartureAirport}}) {{Segment.DepartureCity}}</b></h5>
                                    <h5>{{Segment.DepartureAirportName}}</h5>
                                </div>
                                <div class="flight__separator"></div>
                                <div class="flight__arrival">
                                    <h5>{{Segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                    <h4><b>{{Segment.ArrivalTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                    <h5><b>({{Segment.ArrivalAirport}}) {{Segment.ArrivalCity}}</b></h5>
                                    <h5>{{Segment.ArrivalAirportName}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div ng-if="PageConfig.ActiveSection == 'return'">
                <div class="flight-title flight-title--return">
                    <div class="flight-info">
                        <h4><b>{{FlightConfig[1].FlightRequest.Trips[0].OriginAirport}}</b> to <b>{{FlightConfig[1].FlightRequest.Trips[0].DestinationAirport}}</b></h4>
                        <h5>{{FlightConfig[1].FlightRequest.Trips[0].DepartureDate | date: 'EEE,dd MMM yyyy'}}</h5>
                    </div>
                    <a href="#" class="flight-change" ng-hide="PageConfig.Validating"><span ng-click="FlightFunctions.SetActiveFlight('return',-1); SetOverlay();">GANTI</span></a>
                </div>

                <div class="flight-wrapper" ng-repeat="Segment in FlightConfig[1].FlightList[ FlightConfig[1].DetailFlight ].Trips[0].Segments track by $index">
                    <div class="transit" ng-if="$index > 0">
                        <span>Transit di {{Segment.DepartureCity}} selama <b>{{FlightConfig[1].FlightList[ FlightConfig[1].ActiveFlight ].Trips[0].Transits[$index-1].Duration}}</b></span>
                    </div>
                    <div class="flight">
                        <div class="flight__number">
                            <span>{{$index + 1}}</span>
                        </div>
                        <div class="flight__content">
                            <div class="flight__summary">
                                <img ng-src="{{Segment.AirlineLogoUrl}}" alt="{{Segment.AirlineName}}" class="flight__image" />
                                <div class="flight__airline">
                                    <h4><b>{{Segment.AirlineName}}</b></h4>
                                    <h5>{{Segment.AirlineCode}}-{{Segment.FlightNumber}}</h5>
                                </div>
                            </div>
                            <div class="flight__detail">
                                <div class="flight__departure">
                                    <h5>{{Segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                    <h4><b>{{Segment.DepartureTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                    <h5><b>({{Segment.DepartureAirport}}) {{Segment.DepartureCity}}</b></h5>
                                    <h5>{{Segment.DepartureAirportName}}</h5>
                                </div>
                                <div class="flight__separator"></div>
                                <div class="flight__arrival">
                                    <h5>{{Segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                    <h4><b>{{Segment.ArrivalTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                    <h5><b>({{Segment.ArrivalAirport}}) {{Segment.ArrivalCity}}</b></h5>
                                    <h5>{{Segment.ArrivalAirportName}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- .overlay__content -->
        <footer class="overlay__footer">
            <div class="container" ng-show="PageConfig.ActiveSection == 'departure'">
                <div class="row">
                    <div class="col-xs-6">
                        <h5>Harga Total:</h5>
                        <h4><b>Rp {{FlightConfig[0].FlightList[ FlightConfig[0].DetailFlight ].TotalFare | number}}</b></h4>
                        <h6>*Harga Sudah Termasuk Pajak dan Service Charges</h6>
                    </div>
                    <div class="col-xs-6">
                        <a ng-click="FlightFunctions.SetActiveFlight('departure',FlightConfig[0].DetailFlight); SetSection('return'); SetOverlay();" class="btn btn-yellow btn-block">PESAN</a>
                    </div>
                </div>
            </div>
            <div class="container" ng-show="PageConfig.ActiveSection == 'return'">
                <div class="row">
                    <div class="col-xs-6">
                        <h5>Harga Total:</h5>
                        <h4><b>Rp {{FlightConfig[1].FlightList[ FlightConfig[1].DetailFlight ].TotalFare | number}}</b></h4>
                        <h6>*Harga Sudah Termasuk Pajak dan Service Charges</h6>
                    </div>
                    <div class="col-xs-6">
                        <a ng-click="FlightFunctions.SetActiveFlight('return',FlightConfig[1].DetailFlight)" class="btn btn-yellow btn-block">PESAN</a>
                    </div>
                </div>
            </div>
        </footer><!-- .overlay__footer -->
    </div>
    
    <!-- overlay - flight summary -->
    <div class="overlay overlay--theme--blue overlay--flight-detail" ng-class="{'active' : (PageConfig.ActiveOverlay == 'summary')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                DETAIL PENERBANGAN
                <span class="overlay__close hidden" ng-click="FlightFunctions.SetActiveFlight(); SetOverlay();" ng-hide="PageConfig.Validating">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div>
                <div class="flight-title flight-title--departure">
                    <div class="flight-info">
                        <h4><b>{{FlightConfig[0].FlightRequest.Trips[0].OriginAirport}}</b> to <b>{{FlightConfig[0].FlightRequest.Trips[0].DestinationAirport}}</b></h4>
                        <h5>{{FlightConfig[0].FlightRequest.Trips[0].DepartureDate | date: 'EEE,dd MMM yyyy'}}</h5>
                    </div><!-- .flight-info -->
                    <a href="#" class="flight-change" ng-hide="PageConfig.Validating"><span ng-click="FlightFunctions.SetActiveFlight('departure',-1); FlightFunctions.ResetValidation(); SetSection('departure'); SetOverlay();">GANTI</span></a>
                </div><!-- .flight-title -->
                
                <div class="flight-notice" ng-show="FlightConfig[0].FlightValidated && !FlightConfig[0].FlightAvailable">
                    <div class="fare-changed" ng-show="FlightConfig[0].FlightNewPrice">Harga berubah menjadi <b>Rp {{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].TotalFare | number}}</b></div>
                    <div class="fare-unavailable" ng-hide="FlightConfig[0].FlightNewPrice">Penerbangan tidak tersedia.</div>
                </div><!-- .flight-notice -->

                <div class="flight-wrapper" ng-repeat="Segment in FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].Trips[0].Segments track by $index">
                    <div class="transit" ng-if="$index > 0">
                        <span>Transit di {{Segment.DepartureCity}} selama <b>{{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].Trips[0].Transits[$index-1].Duration}}</b></span>
                    </div><!-- .transit -->
                    <div class="flight">
                        <div class="flight__number">
                            <span>{{$index + 1}}</span>
                        </div><!-- .flight__number -->
                        <div class="flight__content">
                            <div class="flight__summary">
                                <img ng-src="{{Segment.AirlineLogoUrl}}" alt="{{Segment.AirlineName}}" class="flight__image" />
                                <div class="flight__airline">
                                    <h4><b>{{Segment.AirlineName}}</b></h4>
                                    <h5>{{Segment.AirlineCode}}-{{Segment.FlightNumber}}</h5>
                                </div>
                            </div><!-- .flight__summary -->
                            <div class="flight__detail">
                                <div class="flight__departure">
                                    <h5>{{Segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                    <h4><b>{{Segment.DepartureTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                    <h5><b>({{Segment.DepartureAirport}}) {{Segment.DepartureCity}}</b></h5>
                                    <h5>{{Segment.DepartureAirportName}}</h5>
                                </div>
                                <div class="flight__separator"></div>
                                <div class="flight__arrival">
                                    <h5>{{Segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                    <h4><b>{{Segment.ArrivalTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                    <h5><b>({{Segment.ArrivalAirport}}) {{Segment.ArrivalCity}}</b></h5>
                                    <h5>{{Segment.ArrivalAirportName}}</h5>
                                </div><!-- .flight__arrival -->
                            </div><!-- .flight__detail -->
                        </div><!-- .flight__content -->
                    </div><!-- .flight -->
                </div><!-- .flight-wrapper -->
            </div>

            <div>
                <div class="flight-title flight-title--return">
                    <div class="flight-info">
                        <h4><b>{{FlightConfig[1].FlightRequest.Trips[0].OriginAirport}}</b> to <b>{{FlightConfig[1].FlightRequest.Trips[0].DestinationAirport}}</b></h4>
                        <h5>{{FlightConfig[1].FlightRequest.Trips[0].DepartureDate | date: 'EEE,dd MMM yyyy'}}</h5>
                    </div><!-- .flight-info -->
                    <a href="#" class="flight-change" ng-hide="PageConfig.Validating"><span ng-click="FlightFunctions.SetActiveFlight('return',-1); FlightFunctions.ResetValidation(); SetOverlay(); SetSection('return')">GANTI</span></a>
                </div><!-- .flight-title -->
                
                <div class="flight-notice" ng-show="FlightConfig[1].FlightValidated && !FlightConfig[1].FlightAvailable">
                    <div class="fare-changed" ng-show="FlightConfig[1].FlightNewPrice">Harga berubah menjadi <b>Rp {{FlightConfig[1].FlightList[ FlightConfig[1].ActiveFlight ].TotalFare | number}}</b></div>
                    <div class="fare-unavailable" ng-hide="FlightConfig[1].FlightNewPrice">Penerbangan tidak tersedia.</div>
                </div><!-- .flight-notice -->

                <div class="flight-wrapper" ng-repeat="Segment in FlightConfig[1].FlightList[ FlightConfig[1].ActiveFlight ].Trips[0].Segments track by $index">
                    <div class="transit" ng-if="$index > 0">
                        <span>Transit di {{Segment.DepartureCity}} selama <b>{{FlightConfig[1].FlightList[ FlightConfig[1].ActiveFlight ].Trips[0].Transits[$index-1].Duration}}</b></span>
                    </div><!-- .transit -->
                    <div class="flight">
                        <div class="flight__number">
                            <span>{{$index + 1}}</span>
                        </div><!-- .flight__number-->
                        <div class="flight__content">
                            <div class="flight__summary">
                                <img ng-src="{{Segment.AirlineLogoUrl}}" alt="{{Segment.AirlineName}}" class="flight__image" />
                                <div class="flight__airline">
                                    <h4><b>{{Segment.AirlineName}}</b></h4>
                                    <h5>{{Segment.AirlineCode}}-{{Segment.FlightNumber}}</h5>
                                </div>
                            </div><!-- .flight__summary -->
                            <div class="flight__detail">
                                <div class="flight__departure">
                                    <h5>{{Segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                    <h4><b>{{Segment.DepartureTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                    <h5><b>({{Segment.DepartureAirport}}) {{Segment.DepartureCity}}</b></h5>
                                    <h5>{{Segment.DepartureAirportName}}</h5>
                                </div>
                                <div class="flight__separator"></div>
                                <div class="flight__arrival">
                                    <h5>{{Segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                    <h4><b>{{Segment.ArrivalTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                    <h5><b>({{Segment.ArrivalAirport}}) {{Segment.ArrivalCity}}</b></h5>
                                    <h5>{{Segment.ArrivalAirportName}}</h5>
                                </div>
                            </div><!-- .flight__detail-->
                        </div><!-- .flight-content -->
                    </div><!-- .flight -->
                </div><!-- .flight-wrapper -->
            </div>

        </section><!-- .overlay__content -->
        <footer class="overlay__footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <h5>Harga Total:</h5>
                        <h4 ng-hide="( (FlightConfig[0].FlightValidated && !FlightConfig[0].FlightAvailable && !FlightConfig[0].FlightNewPrice) || (FlightConfig[1].FlightValidated && !FlightConfig[1].FlightAvailable && !FlightConfig[1].FlightNewPrice) )"><b>Rp {{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].TotalFare + FlightConfig[1].FlightList[ FlightConfig[1].ActiveFlight ].TotalFare | number}}</b></h4>
                        <h4 ng-show="( (FlightConfig[0].FlightValidated && !FlightConfig[0].FlightAvailable && !FlightConfig[0].FlightNewPrice) || (FlightConfig[1].FlightValidated && !FlightConfig[1].FlightAvailable && !FlightConfig[1].FlightNewPrice) )"><b>Unavailable</b></h4>
                    </div>
                    <div class="col-xs-6">
                        <button ng-click="FlightFunctions.Revalidate(FlightConfig[0].ActiveFlight, FlightConfig[1].ActiveFlight)" class="btn btn-yellow btn-block" ng-disabled="(PageConfig.Validating || ((FlightConfig[0].FlightValidated && !FlightConfig[0].FlightAvailable && !FlightConfig[0].FlightNewPrice) || (FlightConfig[1].FlightValidated && !FlightConfig[1].FlightAvailable && !FlightConfig[1].FlightNewPrice) ) )">{{PageConfig.Validating ? 'MEMVALIDASI' : 'PESAN'}}</button>
                    </div>
                </div>
            </div>
        </footer><!-- .overlay__footer -->
    </div>
    

    <!-- overlay - filter -->
    <div class="overlay overlay--flight-filter overlay--theme--blue" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-filter-departure')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                FILTER PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="filter-group filter-group--price hidden">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Harga</h4>
                </div>
                <div class="filter-group__content"></div>
            </div>
            <div class="filter-group filter-group--transit">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Transit</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.Transit[0]}">
                        <div class="switch"></div>
                        <span>Langsung</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.Transit[0]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.Transit[1]}">
                        <div class="switch"></div>
                        <span>1 Stop</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.Transit[1]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.Transit[2]}">
                        <div class="switch"></div>
                        <span>2 atau lebih</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.Transit[2]" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--departure">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Jam Berangkat</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.DepartureTime[0]}">
                        <div class="switch"></div>
                        <span>Pagi<br />(04.00 - 11:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[0]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.DepartureTime[1]}">
                        <div class="switch"></div>
                        <span>Siang<br />(11.00 - 15:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[1]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.DepartureTime[2]}">
                        <div class="switch"></div>
                        <span>Sore<br />(15.00 - 19:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[2]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.DepartureTime[3]}">
                        <div class="switch"></div>
                        <span>Malam<br />(19.00 - 04:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[3]" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--arrival">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Jam Tiba</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[0]}">
                        <div class="switch"></div>
                        <span>Pagi<br />(04.00 - 11:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[0]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[1]}">
                        <div class="switch"></div>
                        <span>Siang<br />(11.00 - 15:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[1]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[2]}">
                        <div class="switch"></div>
                        <span>Sore<br />(15.00 - 19:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[2]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[3]}">
                        <div class="switch"></div>
                        <span>Malam<br />(19.00 - 04:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[3]" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--airline">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Maskapai</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-repeat="Airline in FlightConfig[0].FlightFilter.Airline" ng-class="{'active' : !Airline.Checked}">
                        <div class="switch"></div>
                        <span><img ng-src="{{Airline.LogoUrl}}" alt="{{Airline.Name}}" /> {{Airline.Name}}</span>
                        <input type="checkbox" value="false" ng-model="Airline.Checked" ng-change="FlightFiltering.AirlineCheck('departure')" />
                    </label>
                </div>
            </div>
        </section><!-- .overlay__content -->
    </div><!-- .overlay--flight-filter -->
    <!-- .overlay - sort -->
    <div class="overlay overlay--flight-sort overlay--theme--blue" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-sort-departure')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                SORTIR PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'price' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('price',false)">Harga - Rendah ke Tinggi</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'price' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('price',true)">Harga - Tinggi ke Rendah</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'airline' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('airline',false)"> Nama Maskapai - A ke Z</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'airline' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('airline',true)">Nama Maskapai - Z ke A</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'duration' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('duration',false)">Durasi - Singkat ke Lama</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'duration' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('duration',true)">Durasi - Lama ke Singkat</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'departure' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('departure',false)">Waktu Berangkat - Terawal ke Terakhir</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'departure' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('departure',true)">Waktu Berangkat - Terakhir ke Terawal</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'arrival' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('arrival',false)">Waktu Kedatangan - Terawal ke Terakhir</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'arrival' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('arrival',true)">Waktu Kedatangan - Terakhir ke Terawal</span>
        </section>
    </div><!-- .overlay--flight-sort -->
    
    <!-- overlay - filter -->
    <div class="overlay overlay--flight-filter overlay--theme--blue" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-filter-return')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                FILTER PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="filter-group filter-group--price hidden">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Harga</h4>
                </div>
                <div class="filter-group__content"></div>
            </div>
            <div class="filter-group filter-group--transit">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Transit</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.Transit[0]}">
                        <div class="switch"></div>
                        <span>Langsung</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.Transit[0]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.Transit[1]}">
                        <div class="switch"></div>
                        <span>1 Stop</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.Transit[1]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.Transit[2]}">
                        <div class="switch"></div>
                        <span>2 atau lebih</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.Transit[2]" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--departure">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Jam Berangkat</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.DepartureTime[0]}">
                        <div class="switch"></div>
                        <span>Pagi<br />(04.00 - 11:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.DepartureTime[0]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.DepartureTime[1]}">
                        <div class="switch"></div>
                        <span>Siang<br />(11.00 - 15:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.DepartureTime[1]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.DepartureTime[2]}">
                        <div class="switch"></div>
                        <span>Sore<br />(15.00 - 19:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.DepartureTime[2]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.DepartureTime[3]}">
                        <div class="switch"></div>
                        <span>Malam<br />(19.00 - 04:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.DepartureTime[3]" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--arrival">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Jam Tiba</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.ArrivalTime[0]}">
                        <div class="switch"></div>
                        <span>Pagi<br />(04.00 - 11:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.ArrivalTime[0]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.ArrivalTime[1]}">
                        <div class="switch"></div>
                        <span>Siang<br />(11.00 - 15:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.ArrivalTime[1]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.ArrivalTime[2]}">
                        <div class="switch"></div>
                        <span>Sore<br />(15.00 - 19:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.ArrivalTime[2]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[1].FlightFilter.ArrivalTime[3]}">
                        <div class="switch"></div>
                        <span>Malam<br />(19.00 - 04:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[1].FlightFilter.ArrivalTime[3]" />
                    </label>
                </div>
            </div>
            @*<div class="filter-group filter-group--airline">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Maskapai</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-repeat="Airline in FlightConfig[0].FlightFilter.Airline" ng-class="{'active' : !Airline.Checked}">
                        <div class="switch"></div>
                        <span><img ng-src="{{Airline.LogoUrl}}" alt="{{Airline.Name}}" /> {{Airline.Name}}</span>
                        <input type="checkbox" value="false" ng-model="Airline.Checked" ng-change="FlightFiltering.AirlineCheck('return')" />
                    </label>
                </div>
            </div>*@
        </section><!-- .overlay__content -->
    </div><!-- .overlay--flight-filter -->
    <!-- .overlay - sort -->
    <div class="overlay overlay--flight-sort overlay--theme--blue" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-sort-return')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                SORTIR PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <span ng-class="{'active' : FlightConfig[1].FlightSort.Label == 'price' && FlightConfig[1].FlightSort.Invert == false}" ng-click="FlightConfig[1].FlightSort.Set('price',false)">Harga - Rendah ke Tinggi</span>
            <span ng-class="{'active' : FlightConfig[1].FlightSort.Label == 'price' && FlightConfig[1].FlightSort.Invert == true}" ng-click="FlightConfig[1].FlightSort.Set('price',true)">Harga - Tinggi ke Rendah</span>
            <span ng-class="{'active' : FlightConfig[1].FlightSort.Label == 'airline' && FlightConfig[1].FlightSort.Invert == false}" ng-click="FlightConfig[1].FlightSort.Set('airline',false)"> Nama Maskapai - A ke Z</span>
            <span ng-class="{'active' : FlightConfig[1].FlightSort.Label == 'airline' && FlightConfig[1].FlightSort.Invert == true}" ng-click="FlightConfig[1].FlightSort.Set('airline',true)">Nama Maskapai - Z ke A</span>
            <span ng-class="{'active' : FlightConfig[1].FlightSort.Label == 'duration' && FlightConfig[1].FlightSort.Invert == false}" ng-click="FlightConfig[1].FlightSort.Set('duration',false)">Durasi - Singkat ke Lama</span>
            <span ng-class="{'active' : FlightConfig[1].FlightSort.Label == 'duration' && FlightConfig[1].FlightSort.Invert == true}" ng-click="FlightConfig[1].FlightSort.Set('duration',true)">Durasi - Lama ke Singkat</span>
            <span ng-class="{'active' : FlightConfig[1].FlightSort.Label == 'departure' && FlightConfig[1].FlightSort.Invert == false}" ng-click="FlightConfig[1].FlightSort.Set('departure',false)">Waktu Berangkat - Terawal ke Terakhir</span>
            <span ng-class="{'active' : FlightConfig[1].FlightSort.Label == 'departure' && FlightConfig[1].FlightSort.Invert == true}" ng-click="FlightConfig[1].FlightSort.Set('departure',true)">Waktu Berangkat - Terakhir ke Terawal</span>
            <span ng-class="{'active' : FlightConfig[1].FlightSort.Label == 'arrival' && FlightConfig[1].FlightSort.Invert == false}" ng-click="FlightConfig[1].FlightSort.Set('arrival',false)">Waktu Kedatangan - Terawal ke Terakhir</span>
            <span ng-class="{'active' : FlightConfig[1].FlightSort.Label == 'arrival' && FlightConfig[1].FlightSort.Invert == true}" ng-click="FlightConfig[1].FlightSort.Set('arrival',true)">Waktu Kedatangan - Terakhir ke Terawal</span>
        </section>
    </div><!-- .overlay--flight-sort -->

    <!-- .overlay - change flight -->
    <div class="overlay overlay--theme--blue overlay--flight-form" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-form')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                GANTI PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <form class="form form-horizontal" ng-submit="FlightSearchForm.Submit()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label><b>Roundtrip ?</b></label>
                        </div>
                        <div class="col-xs-6 text-right">
                            <label class="flight-trip" ng-class="{'active' : FlightSearchForm.Trip == 'false'}"><input type="radio" name="roundtrip" value="false" ng-model="FlightSearchForm.Trip" class="hidden" />No</label>
                            <label class="flight-trip" ng-class="{'active' : FlightSearchForm.Trip == 'true'}"><input type="radio" name="roundtrip" value="true" ng-model="FlightSearchForm.Trip" class="hidden" />Yes</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p class="form-control form-origin" ng-click="FlightSearchForm.AutoComplete.Reset('departure');SetOverlay('airport-select')">{{FlightSearchForm.AirportOrigin.City}} ({{FlightSearchForm.AirportOrigin.Code}}), {{FlightSearchForm.AirportOrigin.Country}}</p>
                </div>
                <div class="form-group">
                    <p class="form-control form-destination" ng-click="FlightSearchForm.AutoComplete.Reset('return');SetOverlay('airport-select')">{{FlightSearchForm.AirportDestination.City}} ({{FlightSearchForm.AirportDestination.Code}}), {{FlightSearchForm.AirportDestination.Country}}</p>
                </div>
                <div class="form-group">
                    <p class="form-control form-date form-departure-date" ng-click="DatePicker.SetOption({Target: 'departure'}); SetOverlay('datepicker-departure')"><b>Departure Date : </b> {{FlightSearchForm.DepartureDate | date: 'EEE,d-MMM-yyyy'}}</p>
                    <input type="text" value="" ng-model="FlightSearchForm.DepartureDate" class="flight-search-form-departure hidden" />
                </div>
                <div class="form-group" ng-hide="FlightSearchForm.Trip == 'false'">
                    <p class="form-control form-date form-return-date" ng-click="DatePicker.SetOption({Target: 'return'}); SetOverlay('datepicker-departure')"><b>Return Date : </b> {{FlightSearchForm.ReturnDate | date : 'EEE,d-MMM-yyyy'}}</p>
                    <input type="text" value="" ng-model="FlightSearchForm.ReturnDate" class="flight-search-form-return hidden" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <p class="form-control form-passenger form-adult" ng-click="FlightSearchForm.PassengerPicker.Reset('adult'); SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[0]}}</p>
                        </div>
                        <div class="col-xs-4">
                            <p class="form-control form-passenger form-children" ng-click="FlightSearchForm.PassengerPicker.Reset('children'); SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[1]}}</p>
                        </div>
                        <div class="col-xs-4">
                            <p class="form-control form-passenger form-infant" ng-click="FlightSearchForm.PassengerPicker.Reset('infant'); SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[2]}}</p>
                        </div>
                    </div>
                </div>
                <div class="hidden">

                </div>
                <div class="form-group">
                    <button class="btn btn-yellow text-center btn-block btn-lg">SEARCH</button>
                </div>
            </form>
            <form class="hidden">
                <div class="form-group origin">
                    <input type="text" value="" class="form-control" placeholder="Asal" />
                </div>
                <div class="form-group destination">
                    <input type="text" value="" class="form-control" placeholder="Tujuan" />
                </div>
                <div class="form-group departure">
                    <input type="text" value="" class="form-control" placeholder="Tanggal Pergi" />
                </div>
                <div class="form-group switch-wrapper">
                    <span>Pulang Pergi?</span>
                    <div class="switch">
                        <label class="control-label active">Ya</label>
                        <label class="control-label">Tidak</label>
                    </div>
                </div>
                <div class="form-group return">
                    <input type="text" value="" class="form-control" placeholder="Tanggal Pulang" />
                </div>
                <div class="form-group passenger">
                    <input type="text" value="" class="form-control" placeholder="Penumpang" />
                </div>
                <div class="form-group submit">
                    <button class="btn btn-yellow btn-block">CARI PENERBANGAN</button>
                </div>
            </form>
        </section><!-- .overlay__content -->
    </div><!-- .overlay--flight-form-->
    <!-- overlay airport selector -->
    <div class="overlay overlay--theme--blue overlay--airport-select" ng-class="{'active' : (PageConfig.ActiveOverlay == 'airport-select')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                <small>PILIH TUJUAN PENERBANGAN</small>
                <span class="overlay__close" ng-click="PageConfig.SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">

            <div class="autocomplete-input">
                <input type="text" class="form-control" name="name" value="" placeholder="Masukan lokasi tujuan penerbangan" ng-model="FlightSearchForm.AutoComplete.Keyword" ng-change="FlightSearchForm.AutoComplete.GetAirport()" />
            </div><!-- .autocomplete-input -->

            <div class="autocomplete-preload" ng-show="FlightSearchForm.AutoComplete.Keyword.length < FlightSearchForm.AutoComplete.MinLength">
                <div class="list__header">
                    <h4>POPULAR DESTINATION</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Popular">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>INDONESIA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Indonesia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>ASIA TENGGARA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.SouthEastAsia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>ASIA TIMUR</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.EastAsia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>EROPA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Europe">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>OSEANIA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Oceania">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>DESTINASI LAINNYA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Others">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>

            </div><!-- .autocomplete-preload -->

            <div class="autocomplete-loading" ng-show="FlightSearchForm.AutoComplete.Loading">
                <h4>Mencari Bandara</h4>
            </div><!-- .autocomplete-loading -->

            <div class="autocomplete-result" ng-hide="FlightSearchForm.AutoComplete.Loading">
                <ul class="result" ng-show="FlightSearchForm.AutoComplete.Keyword.length >= FlightSearchForm.AutoComplete.MinLength">
                    <li class="airport" ng-repeat="result in FlightSearchForm.AutoComplete.Result">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
            </div><!-- .autocomplete-result -->
        </section><!-- .overlay__content -->
    </div><!-- .overlay--airport-select -->
    <!-- overlay date picker -->
    <div class="overlay overlay--theme--blue overlay--datepicker overlay--datepicker--departure" ng-class="{ 'active' : (PageConfig.ActiveOverlay == 'datepicker-departure') }">
        <header class="overlay__header">
            <h3 class="overlay__title">
                <span ng-show="DatePicker.Settings.Target == 'departure'">Pilih Tanggal Keberangkatan</span>
                <span ng-show="DatePicker.Settings.Target == 'return'">Pilih Tanggal Pulang</span>
                <span class="overlay__close" ng-click="SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="ui-datepicker departure-date"></div>
        </section>
    </div><!-- .overlay--datepicker-->
    <!-- overlay date picker -->
    <div class="overlay overlay--theme--blue overlay--datepicker overlay--datepicker--return" ng-class="{ 'active' : (PageConfig.ActiveOverlay == 'datepicker-return') }">
        <header class="overlay__header">
            <h3 class="overlay__title">
                Pilih Tanggal Keberangkatan
                <span class="overlay__close" ng-click="SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="ui-datepicker departure-date"></div>
        </section>
    </div><!-- .overlay--datepicker-->
    <!-- overlay passenger picker -->
    <div class="overlay overlay--theme--blue overlay--passenger-selector" ng-class="{'active' : (PageConfig.ActiveOverlay == 'passenger-select')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                Jumlah Penumpang
                <span class="overlay__close" ng-click="SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="passenger-selector">
                <div class="passenger-selector__header">
                    <ul>
                        <li><a class="adult" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'adult'}" ng-click="FlightSearchForm.PassengerPicker.Reset('adult')"></a></li>
                        <li><a class="children" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'children'}" ng-click="FlightSearchForm.PassengerPicker.Reset('children')"></a></li>
                        <li><a class="infant" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'infant'}" ng-click="FlightSearchForm.PassengerPicker.Reset('infant')"></a></li>
                    </ul>
                </div>
                <div class="passenger-selector__body">
                    <div class="selected">
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'adult'">
                            <span class="number">{{FlightSearchForm.Passenger[0]}}</span>
                            <span class="description"><b>Dewasa</b><br />(&gt; 12 Tahun)</span>
                        </p>
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'children'">
                            <span class="number">{{FlightSearchForm.Passenger[1]}}</span>
                            <span class="description"><b>Anak</b><br />(2-12 Tahun)</span>
                        </p>
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">
                            <span class="number">{{FlightSearchForm.Passenger[2]}}</span>
                            <span class="description"><b>Bayi</b><br />(&lt; 2 Tahun)</span>
                        </p>
                    </div>
                    <div class="selector" ng-show="FlightSearchForm.PassengerPicker.ActiveType != 'infant'">
                        <span ng-repeat="number in FlightSearchForm.PassengerPicker.List" ng-click="FlightSearchForm.PassengerPicker.Set(number)" ng-class="{'disabled' : (number > (FlightSearchForm.PassengerPicker.TotalMaxPassenger - FlightSearchForm.PassengerPicker.TotalCurrentPassenger) )}">{{number}}</span>
                    </div>
                    <div class="selector" ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">
                        <span ng-repeat="number in FlightSearchForm.PassengerPicker.List" ng-click="FlightSearchForm.PassengerPicker.Set(number)" ng-class="{'disabled' : (number > (FlightSearchForm.PassengerPicker.TotalMaxPassenger - FlightSearchForm.PassengerPicker.TotalCurrentPassenger) || ( number > FlightSearchForm.Passenger[0] ) )}">{{number}}</span>
                    </div>
                    <div class="note">
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">Jumlah bayi tidak boleh lebih dari jumlah penumpang dewasa</p>
                        <p>Jumlah total penumpang tidak boleh lebih dari 9 orang</p>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- .overlay--passenger-selector -->

    <!-- popup revalidate -->
    <div class="popup__wrapper popup--revalidate" ng-class="{'active':PageConfig.Validating}">
        <div class="popup">

            <div class="revalidate-image">
                <img src="/assets/mobile/images/revalidate-plane.png" alt="Revalidating" />
            </div>

            <div class="revalidate-anim">

            </div>

            <p>Sedang Memvalidasi<br />Penerbangan Anda</p>

        </div>
    </div>

    <!-- popup roundtrip selection -->
    <div class="popup__wrapper" ng-class="{'active':PageConfig.ActivePopup == 'roundtrip-return'}">
        <div class="popup">
            <header class="popup__header">
                <h4 class="popup__title">Roundtrip Flight <span ng-click="SetPopup()" class="close-modal pull-right">X</span></h4>
            </header>
            <div class="popup__body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="padding-top:12px;">
                            <img src="/Assets/images/airplane-image.jpg" alt="Airplane" />
                        </div>
                        <div class="col-xs-8">
                            <p ng-if="FlightConfig[0].ActiveFlight >= 0">Anda telah memilih penerbangan pergi. <b>Silahkan lanjutkan dengan memilih penerbangan pulang</b></p>
                            <p ng-if="FlightConfig[0].ActiveFlight < 0">Anda akan memilih penerbangan pulang.</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="popup__footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <a ng-click="SetPopup(); SetSection('departure'); SetActiveFlight('departure',-1)" class="btn btn-grey btn-block">KEMBALI</a>
                        </div>
                        <div class="col-xs-6">
                            <a ng-click="SetPopup(); SetSection('return');" class="btn btn-yellow btn-block">LANJUT</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div><!-- .modal-wrapper -->
    
    <!-- popup roundtrip selection -->
    <div class="popup__wrapper" ng-class="{'active':PageConfig.ActivePopup == 'roundtrip-departure'}">
        <div class="popup">
            <header class="popup__header">
                <h4 class="popup__title">Roundtrip Flight <span ng-click="SetPopup()" class="close-modal pull-right">X</span></h4>
            </header>
            <div class="popup__body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="padding-top:12px;">
                            <img src="/Assets/images/airplane-image.jpg" alt="Airplane" />
                        </div>
                        <div class="col-xs-8">
                            <p ng-if="FlightConfig[1].ActiveFlight >= 0">Anda telah memilih penerbangan pulang. <b>Silahkan lanjutkan dengan memilih penerbangan pergi</b></p>
                            <p ng-if="FlightConfig[1].ActiveFlight < 0">Anda akan memilih penerbangan pergi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="popup__footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <a ng-click="SetPopup(); SetSection('return'); SetActiveFlight('return',-1)" class="btn btn-grey btn-block">KEMBALI</a>
                        </div>
                        <div class="col-xs-6">
                            <a ng-click="SetPopup(); SetSection('departure');" class="btn btn-yellow btn-block">LANJUT</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div><!-- .modal-wrapper -->
    
    <!-- popup expired -->
    <div class="popup__wrapper" ng-class="{'active':PageConfig.ExpiryDate.Expired}">
        <div class="popup">
            <header class="popup__header">
                <h4 class="popup__title">Pencarian Kadaluarsa</h4>
            </header>
            <div class="popup__body">
                <div class="container">
                    <p>Hasil pencarian Anda kadaluarsa. Silahkan klik tombol dibawah untuk refesh halaman pencarian.</p>
                </div>
            </div>
            <div class="popup__footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 hidden">
                            <a href="/" class="btn btn-block btn-gray">HOME</a>
                        </div>
                        <div class="col-xs-12">
                            <button class="btn btn-block btn-yellow" ng-click="PageConfig.RefreshPage()" ng-disabled="PageConfig.Refreshing">REFRESH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
