@using System.Globalization
@using Lunggo.ApCommon.Autocomplete
@using Lunggo.ApCommon.Dictionary
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Flight.Service
@using Lunggo.ApCommon.Trie
@using Lunggo.CustomerWeb.Models
@using Newtonsoft.Json
@model FlightSearchData

@{
    bool isValid;

    List<FlightTrip> trips = null;
    List<FlightTrip> departTrip = null;
    List<FlightTrip> returnTrip = null;
    FlightSearchData.Complete data = null;
    var originAirportNames = new List<string>();
    var destinationAirportNames = new List<string>();
    var originCityNames = new List<string>();
    var destinationCityNames = new List<string>();
    var originCountryNames = new List<string>();
    var destinationCountryNames = new List<string>();

    String tripType = "aaa";
    try
    {
        var parts = Model.info.Split('-');
        var tripPart = parts.First();
        var infoPart = parts.Last();
        isValid = ((tripPart.Length + 1) % 13 == 0) && (infoPart.Length == 4);

        trips = tripPart.Split('.').Select(info => new FlightTrip
        {
            OriginAirport = info.Substring(0, 3),
            DestinationAirport = info.Substring(3, 3),
            DepartureDate = new DateTime(
                2000 + int.Parse(info.Substring(10, 2)),
                int.Parse(info.Substring(8, 2)),
                int.Parse(info.Substring(6, 2)))
        }).ToList();

        foreach (var trip in trips)
        {
            originAirportNames.Add(DictionaryService.GetInstance().GetAirportName(trip.OriginAirport));
            destinationAirportNames.Add(DictionaryService.GetInstance().GetAirportName(trip.DestinationAirport));
            originCityNames.Add(DictionaryService.GetInstance().GetAirportCity(trip.OriginAirport));
            destinationCityNames.Add(DictionaryService.GetInstance().GetAirportCity(trip.DestinationAirport));
            originCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(trip.OriginAirport));
            destinationCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(trip.DestinationAirport));
        }

        data = new FlightSearchData.Complete
        {
            AdultCount = int.Parse(infoPart.Substring(0, 1)),
            ChildCount = int.Parse(infoPart.Substring(1, 1)),
            InfantCount = int.Parse(infoPart.Substring(2, 1)),
            CabinClass = FlightService.ParseCabinClass(infoPart.Substring(3, 1)),
            Trips = trips,
            TripType = FlightService.ParseTripType(trips)
        };

        tripType = data.TripType == TripType.OneWay ? "single" : "return";

        departTrip = new List<FlightTrip> { trips[0] };
        returnTrip = new List<FlightTrip> { trips[1] };
    }
    catch
    {
        isValid = false;
    }

}


@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-flight page-flight-return";
}

@section AdditionalCSS {
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}

@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var langCode = 'en';
        flightPageFunctions();
        FlightSearchConfig.flightForm = {
            departureFlightParam: {
                TripType: "@TripType.OneWay",
                trips: @Html.Raw(JsonConvert.SerializeObject(departTrip)),
                AdultCount: "@data.AdultCount",
                ChildCount: "@data.ChildCount",
                InfantCount: "@data.InfantCount",
                CabinClass: "@data.CabinClass",
                Requests: [],
                Completed: [],
                Progress: 0
            },
            returnFlightParam: {
                TripType: "@TripType.OneWay",
                trips: @Html.Raw(JsonConvert.SerializeObject(returnTrip)),
                AdultCount: "@data.AdultCount",
                ChildCount: "@data.ChildCount",
                InfantCount: "@data.InfantCount",
                CabinClass: "@data.CabinClass",
                Requests: [],
                Completed: [],
                Progress: 0
            }
        };
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/returnFlightController.js"></script>
}
<section class="page-slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="section-title stripe small-stripe">Experience<br />The <b>Easy Way</b><br />of Flight Booking</h2>
            </div>
        </div>
    </div>
</section><!-- .page-slider -->
<section class="search-result-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="result-form-left">
                    <h3><b>@originCityNames[0]</b> (@data.Trips[0].OriginAirport) to <b>@originCityNames[1]</b> (@data.Trips[0].DestinationAirport) </h3>
                    <h4><b>@data.Trips[0].DepartureDate.ToString("ddd, dd-MM-yyyy") - @data.Trips[1].DepartureDate.ToString("ddd, dd-MM-yyyy")</b> | <b>@(data.AdultCount + data.ChildCount + data.InfantCount) People</b> (@data.AdultCount adult, @data.ChildCount child, @data.InfantCount infant)</h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="result-form-right">
                    <a class="btn btn-yellow block search-result-form-trigger">UBAH PENCARIAN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="search-result-form-content">
            <form method="GET" class="change-flight form-flight form" action="/id/Flight/SearchResultList">
                <div class="form-group">
                    <label class="change-flight-type"><input type="radio" name="flightType" value="return" checked /> Pulang Pergi</label> <label class="change-flight-type"><input type="radio" name="flightType" value="oneWay" /> Sekali Jalan</label>
                </div>
                <div class="change-flight-left">
                    <div>
                        <input type="text" class="form-flight-origin form-flight-location change-flight-origin form-control" value="" placeholder="Bandara Asal" />
                    </div>
                    <div>
                        <div class="change-flight-date form-flight-departure change-flight-departure">
                            <small>Tanggal<br />Keberangkatan</small>
                            <span class="date">01</span>
                            <span class="month">Jul</span>
                            <span class="year">2015</span>
                        </div>
                        <div class="change-flight-date form-flight-return change-flight-return">
                            <small>Tanggal<br />Pulang</small>
                            <span class="date">01</span>
                            <span class="month">Jul</span>
                            <span class="year">2015</span>
                        </div>
                    </div>
                </div>
                <div class="switch-flight">
                    <span class="change-flight-switch switch-destination"></span>
                </div>
                <div class="change-flight-right">
                    <div>
                        <input type="text" value="" class="form-flight-destination form-flight-location change-flight-destination form-control" placeholder="Bandara Tujuan" />
                        <div class="change-flight-class form-control form-flight-class">
                            <span>Kelas Penerbangan</span>
                            <div class="option">
                                <span data-value="y">Kelas Ekonomi</span>
                                <span data-value="c">Kelas Bisnis</span>
                                <span data-value="f">Kelas Utama</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="change-flight-passenger form-flight-passenger adult change-flight-adult">
                            <small>Dewasa<br />(&gt; 12th)</small>
                            <h5 class="passenger-input adult">1</h5>
                            <div class="option">
                                <span>1</span>
                                <span>2</span>
                                <span>3</span>
                                <span>4</span>
                                <span>5</span>
                                <span>6</span>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                            </div>
                        </div>
                        <div class="change-flight-passenger form-flight-passenger child change-flight-child">
                            <small>Anak<br />(2 - 12th)</small>
                            <h5 class="passenger-input child">0</h5>
                            <div class="option">
                                <span>0</span>
                                <span>1</span>
                                <span>2</span>
                                <span>3</span>
                                <span>4</span>
                                <span>5</span>
                                <span>6</span>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                            </div>
                        </div>
                        <div class="change-flight-passenger form-flight-passenger infant change-flight-infant" data-toggle="tooltip" data-placement="right" title="Tidak boleh lebih dari jumlah penumpang dewasa">
                            <small>Bayi<br />(&lt; 2th)</small>
                            <h5 class="passenger-input infant">0</h5>
                            <div class="option">
                                <span>0</span>
                                <span>1</span>
                                <span>2</span>
                                <span>3</span>
                                <span>4</span>
                            </div>
                        </div>
                        <div>
                            <input type="text" name="info" value="" class="hidden" />
                            <input type="submit" value="SEARCH" class="btn btn-yellow block flight-submit-button" />
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- .search-result-form-content -->
        @Html.Partial("/Views/Shared/Travorama20/_SearchLocation.cshtml")
        @Html.Partial("/Views/Shared/Travorama20/_SearchCalendar.cshtml")
    </div>
</section><!-- .search-result-form -->
<section class="search-result return page-loading" ng-app="travorama" ng-controller="returnFlightController" ng-class="{'page-loaded': pageLoaded}">
    
    <!-- 
        <p>Departure Flight completeness : {{departureFlightConfig.flightSearchParams.Completeness}}</p>
        <p>Departure flight length : {{departureFlightConfig.flightList.length}}</p>
        <p>Return Flight completeness : {{returnFlightConfig.flightSearchParams.Completeness}}</p>
        <p>Return flight length : {{returnFlightConfig.flightList.length}}</p>
        -->

    <form class="hidden pushToken" action="@Url.Action("Select", "Flight")" method="post">
        <input type="text" name="token" value="" class="fareToken" />
    </form>
    
    <div class="page-progress" ng-show="(departureFlightConfig.flightSearchParams.Progress < 100) && (returnFlightConfig.flightSearchParams.Progress < 100)">
        <div class="container">
            <b>Mencari Penerbangan...</b>
            <div class="progress-wrapper">

                <div class="progress-bar" style="width:{{ ( departureFlightConfig.flightSearchParams.Progress + returnFlightConfig.flightSearchParams.Progress ) / 2 | number:0 }}%;">
                    <div class="plane">
                        <span>{{ ( departureFlightConfig.flightSearchParams.Progress + returnFlightConfig.flightSearchParams.Progress ) / 2  | number:0}} %</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="page-overlay" ng-show="pageConfig.expiry.expired">
        <div class="overlay-content validating-flight">
            <header>
                <h4>Pencarian Kadaluarsa</h4>
            </header>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 text-align">
                            <img src="/Assets/images/expired-clock.jpg" alt="Expired" />
                        </div>
                        <div class="col-sm-8">
                            <h3>Halaman Pencarian Anda <b>Sudah Kadaluarsa</b></h3>
                            <p>Silahkan klik tombol di bawah ini untuk memparbaharui halaman pencarian Anda.</p>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-yellow btn-block" onclick="location.reload();">REFRESH</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div><!-- .page-overlay -->

    <div class="container">
        <h3><b>HASIL</b> PENCARIAN</h3>
    </div>

    <div class="container search-result-container">

        <div class="search-result-departure" ng-class="{'active': (pageConfig.activeFlightSection == 'departure'), 'inactive': (pageConfig.activeFlightSection != 'departure'), 'selected': (departureFlightConfig.chosenFlight > -1) }" ng-click="setPageActiveSection('departure')">
            <div class="search-result-title">
                <h4>01</h4>
                <div>
                    <h5>Penerbangan Pergi</h5>
                    <p>@originCityNames[0] <span class="separator"></span> @originCityNames[1] , <span class="route-date">@data.Trips[0].DepartureDate.ToString("dddd, dd-MMMM-yyyy")</span> </p>
                </div>
            </div><!-- .search-result-title -->

            <div class="search-result-selected">
                <div class="flight-airline">
                    <h3><img ng-src="{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineLogoUrl}}" alt="departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineName" /> <span>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineName}}</span>  </h3><div class="flight-facilities hidden"><span class="flight-baggage">15</span><span class="flight-tax"></span></div>
                </div>
                <div class="flight-date">
                    <div class="flight-date-departure">
                        <h4>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].OriginAirport}} <span>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime | date :'HH:mm' : 'UTC'}}</span></h4>
                    </div>
                    <div class="flight-date-duration">
                        <h5 class="time"><span>{{msToTime(departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].TotalDuration)}}</span></h5>
                        <h5 class="transit">
                            <span ng-if="departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].TotalTransit == 0">Langsung</span>
                            <span ng-if="departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].TotalTransit > 0">{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].TotalTransit}} Transit</span>
                        </h5>
                    </div>
                    <div class="flight-date-arrival">
                        <h4>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].DestinationAirport}} <span>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[ departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].ArrivalTime | date : 'HH:mm' : 'UTC'}} <span class="overday" ng-if="getDate(departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[ departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].DepartureTime) > getDate(departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime)">+{{getDate(departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[ departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].DepartureTime) - getDate(departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime)}}</span></span></h4>
                    </div>
                </div>
                <div class="flight-button">
                    <a href="#" class="flight-detail-trigger">Detail Penerbangan</a>
                    <a href="#" class="flight-rules-trigger">Syarat &amp; Ketentuan</a>
                </div>
                <div class="flight-price">
                    <label>Harga Total:</label>
                    <h3><sup>Rp</sup>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].TotalFare | number}}</h3>
                    <p>Termasuk Pajak &amp; Service Charge</p>
                    <input type="submit" value="GANTI PENERBANGAN PERGI" class="btn btn-grey block" ng-click="setChosenFlight('departure',-1)" />
                </div>
            </div><!-- .search-result-selected -->
            <div class="search-result-filter" ng-hide="departureFlightConfig.loading && departureFlightConfig.loadingFlight">
                <div class="container">
                    <div class="filter-left">
                        <span>FILTER:</span>
                    </div>
                    <div class="filter-right">
                        <div class="filter-trigger">
                            <div class="filter-stop"><span class="switch-filter" data-target="filter-departure-transit">Pemberhentian</span></div>
                            <div class="filter-price"><span class="switch-filter" data-target="filter-departure-price">Harga</span></div>
                            <div class="filter-airline"><span class="switch-filter" data-target="filter-departure-airline">Maskapai</span></div>
                            <div class="filter-duration"><span class="switch-filter" data-target="filter-departure-duration">Waktu Penerbangan</span></div>
                        </div>
                        <div class="filter-content">
                            <div id="filter-departure-transit" class="filter-transit">
                                <div class="tab-detail">
                                    <label><input type="checkbox" value="" ng-model="departureFlightConfig.flightFilter.transit[0]" /> Penerbangan Langsung</label>
                                    <label><input type="checkbox" value="" ng-model="departureFlightConfig.flightFilter.transit[1]" /> 1x Transit</label>
                                    <label><input type="checkbox" value="" ng-model="departureFlightConfig.flightFilter.transit[2]" /> Lebih Dari 1x Transit</label>
                                </div>
                                <div class="tab-option">
                                    <label class="select-all" ng-click="setTransitFilter('departure','all')">Pilih Semua</label>
                                    <label class="select-none" ng-click="setTransitFilter('departure','none')">Nihil</label>
                                </div>
                            </div>
                            <div id="filter-departure-price" class="filter-price">
                                <h3>Saring Berdasarkan Harga</h3>
                                <div class="slider-value">
                                    <span>Rp {{departureFlightConfig.flightFilter.price.current[0] | number}}</span>
                                    <span class="pull-right">Rp {{departureFlightConfig.flightFilter.price.current[1] | number}}</span>
                                </div>
                                <div class="slider departure-price-slider" id="departure-price-slider"></div>
                                <div class="slider-minmax">
                                    <span>Rp {{departureFlightConfig.flightFilter.price.initial[0] | number}}</span>
                                    <span class="pull-right">Rp {{departureFlightConfig.flightFilter.price.initial[1] | number}}</span>
                                </div>
                                <div class="hidden">
                                    <input type="text" name="priceSliderValueMin" value="" class="departure-price-slider-min" ng-model="departureFlightConfig.flightFilter.price.current[0]" />
                                    <input type="text" name="priceSliderValueMax" value="" class="departure-price-slider-max" ng-model="departureFlightConfig.flightFilter.price.current[1]" />
                                </div>
                            </div>
                            <div id="filter-departure-airline" class="filter-airline">
                                <h3>Saring Berdasarkan Maskapai</h3>
                                <div class="tab-detail">
                                    <div class="row" ng-repeat="airline in departureFlightConfig.flightFilter.airline.list" ng-if="$index % 4 == 0">
                                        <div class="col-sm-3">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{departureFlightConfig.flightFilter.airline.list[$index].Name}}" ng-init="departureFlightConfig.flightFilter.airline.list[$index].checked = true" value="{{departureFlightConfig.flightFilter.airline.list[$index].Code}}" ng-model="departureFlightConfig.flightFilter.airline.list[$index].checked" ng-click="checkAirline('departure')" /> <img ng-src="{{departureFlightConfig.flightFilter.airline.list[$index].LogoUrl}}" alt="{{departureFlightConfig.flightFilter.airline.list[$index].Name}}" /><span>{{departureFlightConfig.flightFilter.airline.list[$index].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-if="departureFlightConfig.flightFilter.airline.list[$index + 1] != null">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{departureFlightConfig.flightFilter.airline.list[$index + 1].Name}}" ng-init="departureFlightConfig.flightFilter.airline.list[$index + 1].checked = true" value="{{departureFlightConfig.flightFilter.airline.list[$index + 1].Code}}" ng-model="departureFlightConfig.flightFilter.airline.list[$index + 1].checked" ng-click="checkAirline('departure')" /> <img ng-src="{{departureFlightConfig.flightFilter.airline.list[$index + 1].LogoUrl}}" alt="{{departureFlightConfig.flightFilter.airline.list[$index + 1].Name}}" /><span>{{departureFlightConfig.flightFilter.airline.list[$index + 2].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-if="departureFlightConfig.flightFilter.airline.list[$index + 2] != null">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{departureFlightConfig.flightFilter.airline.list[$index + 2].Name}}" ng-init="departureFlightConfig.flightFilter.airline.list[$index + 2].checked = true" value="{{departureFlightConfig.flightFilter.airline.list[$index + 2].Code}}" ng-model="departureFlightConfig.flightFilter.airline.list[$index + 2].checked" ng-click="checkAirline('departure')" /> <img ng-src="{{departureFlightConfig.flightFilter.airline.list[$index + 2].LogoUrl}}" alt="{{departureFlightConfig.flightFilter.airline.list[$index + 2].Name}}" /><span>{{departureFlightConfig.flightFilter.airline.list[$index + 2].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-if="departureFlightConfig.flightFilter.airline.list[$index + 3] != null">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{departureFlightConfig.flightFilter.airline.list[$index + 3].Name}}" ng-init="departureFlightConfig.flightFilter.airline.list[$index + 3].checked = true" value="{{departureFlightConfig.flightFilter.airline.list[$index + 3].Code}}" ng-model="departureFlightConfig.flightFilter.airline.list[$index + 3].checked" ng-click="checkAirline('departure')" /> <img ng-src="{{departureFlightConfig.flightFilter.airline.list[$index + 3].LogoUrl}}" alt="{{departureFlightConfig.flightFilter.airline.list[$index + 3].Name}}" /><span>{{departureFlightConfig.flightFilter.airline.list[$index + 3].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-option">
                                    <label class="select-all" ng-click="setAirlineFilter('departure','all')">Pilih Semua</label>
                                    <label class="select-none" ng-click="setAirlineFilter('departure','none')">Nihil</label>
                                </div>
                            </div>
                            <div id="filter-departure-duration" class="filter-duration">
                                <h3>Saring Berdasarkan Waktu</h3>
                                <div class="tab-detail">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="departure">
                                                <h5>Waktu keberangkatan</h5>
                                                <div class="slider-value">
                                                    <span>{{departureFlightConfig.flightFilter.time.departure[0]}}:00</span>
                                                    <span class="pull-right">{{departureFlightConfig.flightFilter.time.departure[1]}}:00</span>
                                                </div>
                                                <div class="slider departure-departure-slider"></div>
                                                <div class="slider-minmax">
                                                    <span>00:00</span>
                                                    <span class="pull-right">24:00</span>
                                                </div>
                                                <div class="hidden">
                                                    <input type="text" name="departureMin" value="" class="departure-departure-slider-min" ng-model="departureFlightConfig.flightFilter.time.departure[0]" />
                                                    <input type="text" name="departureMax" value="" class="departure-departure-slider-max" ng-model="departureFlightConfig.flightFilter.time.departure[1]" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="arrival">
                                                <h5>Waktu kedatangan</h5>
                                                <div class="slider-value">
                                                    <span>{{departureFlightConfig.flightFilter.time.arrival[0]}}:00</span>
                                                    <span class="pull-right">{{departuerFlightConfig.flightFilter.time.arrival[1]}}:00</span>
                                                </div>
                                                <div class="slider departure-arrival-slider"></div>
                                                <div class="slider-minmax">
                                                    <span>00:00</span>
                                                    <span class="pull-right">24:00</span>
                                                </div>
                                                <div class="hidden">
                                                    <input type="text" name="arrivalMin" value="" class="departure-arrival-slider-min" ng-model="departureFlightConfig.flightFilter.time.arrival[0]" />
                                                    <input type="text" name="arrivalMax" value="" class="departure-arrival-slider-max" ng-model="departureFlightConfig.flightFilter.time.arrival[1]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .search-result-filter -->
            <div class="search-result-sort" ng-hide="!departureFlightConfig.flightList.length">
                <div class="container">
                    <div class="sort-airline">
                        <span ng-click="setSort('departure','airline')">Maskapai</span>
                    </div>
                    <div class="sort-departure">
                        <span ng-click="setSort('departure','departure')">Berangkat</span>
                    </div>
                    <div class="sort-duration">
                        <span ng-click="setSort('departure','duration')">Durasi</span>
                    </div>
                    <div class="sort-arrival">
                        <span ng-click="setSort('departure','arrival')">Tiba</span>
                    </div>
                    <div class="sort-price">
                        <span ng-click="setSort('departure','price')">Harga Total</span>
                    </div>
                </div>
            </div><!-- .search-result-sort -->
            <div class="search-result-list">
                <div class="container">

                    <div class="flight flight-{{flight.IndexNo}}" ng-class="{'active': (departureFlightConfig.activeFlight == flight.IndexNo) }" ng-repeat="flight in departureFlight = (departureFlightConfig.flightList | filter:availableFilter() | filter:transitFilter('departure') | filter:airlineFilter('departure') | filter:priceFilter('departure') | filter:timeFilter('departure') | orderBy:departureFlightConfig.flightSort.value:departureFlightConfig.flightSort.reverse)" id="flight-{{flight.IndexNo}}">
                        <div class="flight-summary">
                            <div class="flight-summary-left">
                                <div class="summary-top">
                                    <div class="summary-top-left flight-airline">
                                        <h5>{{flight.Trips[0].Segments[0].AirlineName}}</h5>
                                        <img ng-src="{{flight.Trips[0].Segments[0].AirlineLogoUrl}}" alt="flight.Trips[0].Segments[0].AirlineName" />
                                    </div><!-- .flight-airline -->
                                    <div class="summary-top-right flight-date">
                                        <div class="flight-date-departure">
                                            <h4>{{flight.Trips[0].OriginAirport}} <span>{{flight.Trips[0].Segments[0].DepartureTime | date :'HH:mm' : 'UTC'}}</span></h4>
                                        </div>
                                        <div class="flight-date-duration">
                                            <h5 class="time">{{msToTime(flight.Trips[0].TotalDuration)}}</h5>
                                            <h5 class="transit">
                                                <span ng-if="flight.Trips[0].TotalTransit == 0">Langsung</span>
                                                <span ng-if="flight.Trips[0].TotalTransit > 0">{{flight.Trips[0].TotalTransit}} Transit</span>
                                            </h5>
                                        </div>
                                        <div class="flight-date-arrival">
                                            <h4>{{flight.Trips[0].DestinationAirport}} <span>{{flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].ArrivalTime | date : 'HH:mm' : 'UTC'}} <span class="overday" ng-if="getDate(flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].DepartureTime) > getDate(flight.Trips[0].Segments[0].DepartureTime)">+{{getDate(flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].DepartureTime) - getDate(flight.Trips[0].Segments[0].DepartureTime)}}</span></span></h4>
                                        </div>
                                    </div><!-- .flight-date -->
                                </div><!-- .summary-top -->
                                <div class="summary-bottom">
                                    <div class="summary-bottom-left flight-facilities hidden">
                                        <span class="flight-baggage">15</span>
                                        <span class="flight-tax"></span>
                                        <span class="flight-meal"></span>
                                    </div><!-- .flight-facilities -->
                                    <div class="summary-bottom-right flight-button">
                                        <a class="flight-detail-trigger" ng-click="setActiveFlight('departure',flight.IndexNo)">Detail Penerbangan <span class="caret"></span></a>
                                        <a class="flight-rules-trigger">Syarat &amp; Ketentuan <span class="caret"></span></a>
                                    </div><!-- .flight-button -->
                                    <div class="summary-bottom-right flight-duration">
                                        <div class="duration">{{msToTime(flight.Trips[0].TotalDuration)}}</div>
                                        <div class="transit">
                                            <span ng-if="flight.Trips[0].TotalTransit == 0">Langsung</span>
                                            <span ng-if="flight.Trips[0].TotalTransit > 0">{{flight.Trips[0].TotalTransit}} Transit</span>
                                        </div>
                                    </div>
                                </div><!-- .summar-bottom -->
                            </div>
                            <div class="flight-summary-right">
                                <h4 class="flight-price"><sup>Rp</sup> {{flight.TotalFare | number}}</h4>
                                <small>*Termasuk Pajak &amp; Service Charge</small>
                                <a class="btn btn-yellow" ng-click="setChosenFlight('departure',flight.IndexNo)">PESAN</a>
                            </div>
                        </div><!-- .flight-summary -->
                        <div class="flight-detail">
                            <h3>Detail Penerbangan <span class="close-flight-detail pull-right" ng-click="setActiveFlight('departure',-1)">X</span></h3>
                            <div ng-repeat="segment in flight.Trips[0].Segments track by $index">
                                <div class="transit" ng-if="$index > 0">
                                    <p>Transit di {{segment.DepartureCity}} selama {{flight.Trips[0].Transits[ $index - 1 ].Duration}}</p>
                                </div>
                                <div class="segment">
                                    <div class="segment-number">
                                        <span ng-if="$index == 0">1<sup>st</sup></span>
                                        <span ng-if="$index == 1">2<sup>nd</sup></span>
                                        <span ng-if="$index == 2">3<sup>rd</sup></span>
                                        <span ng-if="$index > 2">{{$index}}<sup>th</sup></span>
                                    </div>
                                    <div class="segment-left">
                                        <img ng-src="{{segment.AirlineLogoUrl}}" alt="{{segment.AirlineName}}" class="segment-airline-logo" />
                                        <h5 class="segment-airline-name">{{segment.AirlineName}} {{segment.AirlineCode}}-{{segment.FlightNumber}}</h5>
                                    </div>
                                    <div class="segment-right">
                                        <div class="segment-departure">
                                            <h5>{{segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                            <h3>{{segment.DepartureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                            <h4>{{segment.DepartureCity}} ({{segment.DepartureAirport}})</h4>
                                            <h5>{{segment.DepartureAirportName}}</h5>
                                        </div>
                                        <div class="segment-duration">
                                            <h5><span>Duration :</span> {{segment.Duration}}</h5>
                                        </div>
                                        <div class="segment-arrival">
                                            <h5>{{segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                            <h3>{{segment.ArrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                            <h4>{{segment.ArrivalCity}} ({{segment.ArrivalAirport}})</h4>
                                            <h5>{{segment.ArrivalAirportName}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .flight-detail -->
                    </div><!-- .flight-->

                </div>
            </div><!-- .search-result-list -->
        </div><!-- .search-result-departure -->

        <div class="search-result-return" ng-class="{'active': (pageConfig.activeFlightSection == 'return'), 'inactive': (pageConfig.activeFlightSection != 'return'), 'selected': (returnFlightConfig.chosenFlight > -1) }" ng-click="setPageActiveSection('return')">
            <div class="search-result-title">
                <h4>02</h4>
                <div>
                    <h5>Penerbangan Pulang</h5>
                    <p>@originCityNames[1] <span class="separator"></span> @originCityNames[0] , <span class="route-date">@data.Trips[1].DepartureDate.ToString("dddd, dd-MMMM-yyyy")</span> </p>
                </div>
            </div><!-- .search-result-title -->

            <div class="search-result-selected">
                <div class="flight-airline">
                    <h3><img ng-src="{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineLogoUrl}}" alt="returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineName" /> <span>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineName}}</span>  </h3><div class="flight-facilities hidden"><span class="flight-baggage">15</span><span class="flight-tax"></span></div>
                </div>
                <div class="flight-date">
                    <div class="flight-date-departure">
                        <h4>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].OriginAirport}} <span>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime | date :'HH:mm' : 'UTC'}}</span></h4>
                    </div>
                    <div class="flight-date-duration">
                        <h5 class="time"><span>{{msToTime(returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].TotalDuration)}}</span></h5>
                        <h5 class="transit">
                            <span ng-if="returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].TotalTransit == 0">Langsung</span>
                            <span ng-if="returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].TotalTransit > 0">{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].TotalTransit}} Transit</span>
                        </h5>
                    </div>
                    <div class="flight-date-arrival">
                        <h4>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].DestinationAirport}} <span>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[ returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].ArrivalTime | date : 'HH:mm' : 'UTC'}} <span class="overday" ng-if="getDate(returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[ returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].DepartureTime) > getDate(returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime)">+{{getDate(returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[ returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].DepartureTime) - getDate(returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime)}}</span></span></h4>
                    </div>
                </div>
                <div class="flight-button">
                    <a href="#" class="flight-detail-trigger">Detail Penerbangan</a>
                    <a href="#" class="flight-rules-trigger">Syarat &amp; Ketentuan</a>
                </div>
                <div class="flight-price">
                    <label>Harga Total:</label>
                    <h3><sup>Rp</sup>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].TotalFare | number}}</h3>
                    <p>Termasuk Pajak &amp; Service Charge</p>
                    <input type="submit" value="GANTI PENERBANGAN PULANG" class="btn btn-grey block" ng-click="setChosenFlight('return',-1)" />
                </div>
            </div><!-- .search-result-selected -->
            <div class="search-result-filter" ng-hide="returnFlightConfig.loading && returnFlightConfig.loadingFlight">
                <div class="container">
                    <div class="filter-left">
                        <span>FILTER:</span>
                    </div>
                    <div class="filter-right">
                        <div class="filter-trigger">
                            <div class="filter-stop"><span class="switch-filter" data-target="filter-return-transit">Pemberhentian</span></div>
                            <div class="filter-price"><span class="switch-filter" data-target="filter-return-price">Harga</span></div>
                            <div class="filter-airline"><span class="switch-filter" data-target="filter-return-airline">Maskapai</span></div>
                            <div class="filter-duration"><span class="switch-filter" data-target="filter-return-duration">Waktu Penerbangan</span></div>
                        </div>
                        <div class="filter-content">
                            <div id="filter-return-transit" class="filter-transit">
                                <div class="tab-detail">
                                    <label><input type="checkbox" value="" ng-model="returnFlightConfig.flightFilter.transit[0]" /> Penerbangan Langsung</label>
                                    <label><input type="checkbox" value="" ng-model="returnFlightConfig.flightFilter.transit[1]" /> 1x Transit</label>
                                    <label><input type="checkbox" value="" ng-model="returnFlightConfig.flightFilter.transit[2]" /> Lebih Dari 1x Transit</label>
                                </div>
                                <div class="tab-option">
                                    <label class="select-all" ng-click="setTransitFilter('return','all')">Pilih Semua</label>
                                    <label class="select-none" ng-click="setTransitFilter('return','none')">Nihil</label>
                                </div>
                            </div>
                            <div id="filter-return-price" class="filter-price">
                                <h3>Saring Berdasarkan Harga</h3>
                                <div class="slider-value">
                                    <span>Rp {{returnFlightConfig.flightFilter.price.current[0] | number}}</span>
                                    <span class="pull-right">Rp {{returnFlightConfig.flightFilter.price.current[1] | number}}</span>
                                </div>
                                <div class="slider return-price-slider" id="return-price-slider"></div>
                                <div class="slider-minmax">
                                    <span>Rp {{returnFlightConfig.flightFilter.price.initial[0] | number}}</span>
                                    <span class="pull-right">Rp {{returnFlightConfig.flightFilter.price.initial[1] | number}}</span>
                                </div>
                                <div class="hidden">
                                    <input type="text" name="priceSliderValueMin" value="" class="return-price-slider-min" ng-model="returnFlightConfig.flightFilter.price.current[0]" />
                                    <input type="text" name="priceSliderValueMax" value="" class="return-price-slider-max" ng-model="returnFlightConfig.flightFilter.price.current[1]" />
                                </div>
                            </div>
                            <div id="filter-return-airline" class="filter-airline">
                                <div class="tab-detail">
                                    <div class="row" ng-repeat="airline in returnFlightConfig.flightFilter.airline.list" ng-if="$index % 4 == 0">
                                        <div class="col-sm-3">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{returnFlightConfig.flightFilter.airline.list[$index].Name}}" ng-init="returnFlightConfig.flightFilter.airline.list[$index].checked = true" value="{{returnFlightConfig.flightFilter.airline.list[$index].Code}}" ng-model="returnFlightConfig.flightFilter.airline.list[$index].checked" ng-click="checkAirline('return')" /> <img ng-src="{{returnFlightConfig.flightFilter.airline.list[$index].LogoUrl}}" alt="{{returnFlightConfig.flightFilter.airline.list[$index].Name}}" /><span>{{returnFlightConfig.flightFilter.airline.list[$index].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-if="returnFlightConfig.flightFilter.airline.list[$index + 1] != null">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{returnFlightConfig.flightFilter.airline.list[$index + 1].Name}}" ng-init="returnFlightConfig.flightFilter.airline.list[$index + 1].checked = true" value="{{returnFlightConfig.flightFilter.airline.list[$index + 1].Code}}" ng-model="returnFlightConfig.flightFilter.airline.list[$index + 1].checked" ng-click="checkAirline('return')" /> <img ng-src="{{returnFlightConfig.flightFilter.airline.list[$index + 1].LogoUrl}}" alt="{{returnFlightConfig.flightFilter.airline.list[$index + 1].Name}}" /><span>{{returnFlightConfig.flightFilter.airline.list[$index + 2].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-if="returnFlightConfig.flightFilter.airline.list[$index + 2] != null">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{returnFlightConfig.flightFilter.airline.list[$index + 2].Name}}" ng-init="returnFlightConfig.flightFilter.airline.list[$index + 2].checked = true" value="{{returnFlightConfig.flightFilter.airline.list[$index + 2].Code}}" ng-model="returnFlightConfig.flightFilter.airline.list[$index + 2].checked" ng-click="checkAirline('return')" /> <img ng-src="{{returnFlightConfig.flightFilter.airline.list[$index + 2].LogoUrl}}" alt="{{returnFlightConfig.flightFilter.airline.list[$index + 2].Name}}" /><span>{{returnFlightConfig.flightFilter.airline.list[$index + 2].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" ng-if="returnFlightConfig.flightFilter.airline.list[$index + 3] != null">
                                            <div class="airline">
                                                <label>
                                                    <input type="checkbox" name="{{returnFlightConfig.flightFilter.airline.list[$index + 3].Name}}" ng-init="returnFlightConfig.flightFilter.airline.list[$index + 3].checked = true" value="{{returnFlightConfig.flightFilter.airline.list[$index + 3].Code}}" ng-model="returnFlightConfig.flightFilter.airline.list[$index + 3].checked" ng-click="checkAirline('return')" /> <img ng-src="{{returnFlightConfig.flightFilter.airline.list[$index + 3].LogoUrl}}" alt="{{returnFlightConfig.flightFilter.airline.list[$index + 3].Name}}" /><span>{{returnFlightConfig.flightFilter.airline.list[$index + 3].Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-option">
                                    <label class="select-all" ng-click="setAirlineFilter('return','all')">Pilih Semua</label>
                                    <label class="select-none" ng-click="setAirlineFilter('return','none')">Nihil</label>
                                </div>
                            </div>
                            <div id="filter-return-duration" class="filter-duration">
                                <h3>Saring Berdasarkan Waktu</h3>
                                <div class="tab-detail">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="departure">
                                                <h5>Waktu keberangkatan</h5>
                                                <div class="slider-value">
                                                    <span>{{returnFlightConfig.flightFilter.time.departure[0]}}:00</span>
                                                    <span class="pull-right">{{returnFlightConfig.flightFilter.time.departure[1]}}:00</span>
                                                </div>
                                                <div class="slider return-departure-slider"></div>
                                                <div class="slider-minmax">
                                                    <span>00:00</span>
                                                    <span class="pull-right">24:00</span>
                                                </div>
                                                <div class="hidden">
                                                    <input type="text" name="departureMin" value="" class="return-departure-slider-min" ng-model="returnFlightConfig.flightFilter.time.departure[0]" />
                                                    <input type="text" name="departureMax" value="" class="return-departure-slider-max" ng-model="returnFlightConfig.flightFilter.time.departure[1]" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="arrival">
                                                <h5>Waktu kedatangan</h5>
                                                <div class="slider-value">
                                                    <span>{{returnFlightConfig.flightFilter.time.arrival[0]}}:00</span>
                                                    <span class="pull-right">{{returnFlightConfig.flightFilter.time.arrival[1]}}:00</span>
                                                </div>
                                                <div class="slider return-arrival-slider"></div>
                                                <div class="slider-minmax">
                                                    <span>00:00</span>
                                                    <span class="pull-right">24:00</span>
                                                </div>
                                                <div class="hidden">
                                                    <input type="text" name="arrivalMin" value="" class="return-arrival-slider-min" ng-model="returnFlightConfig.flightFilter.time.arrival[0]" />
                                                    <input type="text" name="arrivalMax" value="" class="return-arrival-slider-max" ng-model="returnFlightConfig.flightFilter.time.arrival[1]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .search-result-filter -->
            <div class="search-result-sort" ng-hide="!returnFlightConfig.flightList.length">
                <div class="container">
                    <div class="sort-airline">
                        <span ng-click="setSort('return','airline')">Maskapai</span>
                    </div>
                    <div class="sort-departure">
                        <span ng-click="setSort('return','departure')">Berangkat</span>
                    </div>
                    <div class="sort-duration">
                        <span ng-click="setSort('return','duration')">Durasi</span>
                    </div>
                    <div class="sort-arrival">
                        <span ng-click="setSort('return','arrival')">Tiba</span>
                    </div>
                    <div class="sort-price">
                        <span ng-click="setSort('return','price')">Harga Total</span>
                    </div>
                </div>
            </div><!-- .search-result-sort -->
            <div class="search-result-list">
                <div class="container">

                    <div class="flight flight-{{flight.IndexNo}}" ng-class="{'active': (returnFlightConfig.activeFlight == flight.IndexNo) }" ng-repeat="flight in returnFlight = (returnFlightConfig.flightList | filter:availableFilter() | filter:transitFilter('return') | filter:airlineFilter('return') | filter:priceFilter('return') | filter:timeFilter('return') | orderBy:returnFlightConfig.flightSort.value:returnFlightConfig.flightSort.reverse)" id="flight-{{flight.IndexNo}}">
                        <div class="flight-summary">
                            <div class="flight-summary-left">
                                <div class="summary-top">
                                    <div class="summary-top-left flight-airline">
                                        <h5>{{flight.Trips[0].Segments[0].AirlineName}}</h5>
                                        <img ng-src="{{flight.Trips[0].Segments[0].AirlineLogoUrl}}" alt="flight.Trips[0].Segments[0].AirlineName" />
                                    </div><!-- .flight-airline -->
                                    <div class="summary-top-right flight-date">
                                        <div class="flight-date-departure">
                                            <h4>{{flight.Trips[0].OriginAirport}} <span>{{flight.Trips[0].Segments[0].DepartureTime | date :'HH:mm' : 'UTC'}}</span></h4>
                                        </div>
                                        <div class="flight-date-duration">
                                            <h5 class="time">{{msToTime(flight.Trips[0].TotalDuration)}}</h5>
                                            <h5 class="transit">
                                                <span ng-if="flight.Trips[0].TotalTransit == 0">Langsung</span>
                                                <span ng-if="flight.Trips[0].TotalTransit > 0">{{flight.Trips[0].TotalTransit}} Transit</span>
                                            </h5>
                                        </div>
                                        <div class="flight-date-arrival">
                                            <h4>{{flight.Trips[0].DestinationAirport}} <span>{{flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].ArrivalTime | date : 'HH:mm' : 'UTC'}} <span class="overday" ng-if="getDate(flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].DepartureTime) > getDate(flight.Trips[0].Segments[0].DepartureTime)">+{{getDate(flight.Trips[0].Segments[ flight.Trips[0].Segments.length - 1 ].DepartureTime) - getDate(flight.Trips[0].Segments[0].DepartureTime)}}</span></span></h4>
                                        </div>
                                    </div><!-- .flight-date -->
                                </div><!-- .summary-top -->
                                <div class="summary-bottom">
                                    <div class="summary-bottom-left flight-facilities hidden">
                                        <span class="flight-baggage">15</span>
                                        <span class="flight-tax"></span>
                                        <span class="flight-meal"></span>
                                    </div><!-- .flight-facilities -->
                                    <div class="summary-bottom-right flight-button">
                                        <a class="flight-detail-trigger" ng-click="setActiveFlight('return',flight.IndexNo)">Detail Penerbangan <span class="caret"></span></a>
                                        <a class="flight-rules-trigger">Syarat &amp; Ketentuan <span class="caret"></span></a>
                                    </div><!-- .flight-button -->
                                    <div class="summary-bottom-right flight-duration">
                                        <div class="duration">{{msToTime(flight.Trips[0].TotalDuration)}}</div>
                                        <div class="transit">
                                            <span ng-if="flight.Trips[0].TotalTransit == 0">Langsung</span>
                                            <span ng-if="flight.Trips[0].TotalTransit > 0">{{flight.Trips[0].TotalTransit}} Transit</span>
                                        </div>
                                    </div>
                                </div><!-- .summar-bottom -->
                            </div>
                            <div class="flight-summary-right">
                                <h4 class="flight-price"><sup>Rp</sup> {{flight.TotalFare | number}}</h4>
                                <small>*Harga Sudah Termasuk Pajak &amp; Service Charge</small>
                                <a class="btn btn-yellow" ng-click="setChosenFlight('return',flight.IndexNo)">PESAN</a>
                            </div>
                        </div><!-- .flight-summary -->
                        <div class="flight-detail">
                            <h3>Detail Penerbangan <span class="close-flight-detail pull-right" ng-click="setActiveFlight('return',-1)">X</span></h3>
                            <div ng-repeat="segment in flight.Trips[0].Segments track by $index">
                                <div class="transit" ng-if="$index > 0">
                                    <p>Transit di {{segment.DepartureCity}} selama {{flight.Trips[0].Transits[ $index - 1 ].Duration}}</p>
                                </div>
                                <div class="segment">
                                    <div class="segment-number">
                                        <span ng-if="$index == 0">1<sup>st</sup></span>
                                        <span ng-if="$index == 1">2<sup>nd</sup></span>
                                        <span ng-if="$index == 2">3<sup>rd</sup></span>
                                        <span ng-if="$index > 2">{{$index}}<sup>th</sup></span>
                                    </div>
                                    <div class="segment-left">
                                        <img ng-src="{{segment.AirlineLogoUrl}}" alt="{{segment.AirlineName}}" class="segment-airline-logo" />
                                        <h5 class="segment-airline-name">{{segment.AirlineName}} {{segment.AirlineCode}}-{{segment.FlightNumber}}</h5>
                                    </div>
                                    <div class="segment-right">
                                        <div class="segment-departure">
                                            <h5>{{segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                            <h3>{{segment.DepartureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                            <h4>{{segment.DepartureCity}} ({{segment.DepartureAirport}})</h4>
                                            <h5>{{segment.DepartureAirportName}}</h5>
                                        </div>
                                        <div class="segment-duration">
                                            <h5><span>Duration :</span> {{segment.Duration}}</h5>
                                        </div>
                                        <div class="segment-arrival">
                                            <h5>{{segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                            <h3>{{segment.ArrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                            <h4>{{segment.ArrivalCity}} ({{segment.ArrivalAirport}})</h4>
                                            <h5>{{segment.ArrivalAirportName}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .flight-detail -->
                    </div><!-- .flight-->

                </div>
            </div><!-- .search-result-list -->
        </div><!-- .search-result-return -->
    </div><!-- .search-result-container -->
    
    <!-- FLIGHT RETURN CONTAINER -->
    <div class="flight-review-wrapper" ng-show="departureFlightConfig.chosenFlight > -1 && returnFlightConfig.chosenFlight > -1" ng-class="{'active': pageConfig.overviewDetailShown}">
        <div class="container">
            <div class="flight-review">
                <header class="flight-review-header">
                    <h3>Rincian Penerbangan Pulang dan Pergi <span class="pull-right close-review" ng-click="closeOverview()" ng-hide="(departureFlightConfig.validating || returnFlightConfig.validating)">X</span></h3>
                </header>
                <section class="flight-review-summary">
                    <div class="summary-left">

                        <section class="summary-flight flight-departure" ng-class="{'warning' : (pageConfig.flightsValidated && !departureFlightConfig.validateAvailable)}">
                            <header class="flight-header">
                                <h3>
                                    Penerbangan Pergi
                                    <span class="warning" ng-if="pageConfig.flightsValidated && departureFlightConfig.validateNewfare && !departureFlightConfig.validateAvailable">Harga Pergi Berubah - Harga Baru Rp. {{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].TotalFare | number}}</span>
                                    <span class="warning" ng-if="pageConfig.flightsValidated && !departureFlightConfig.validateNewfare && !departureFlightConfig.validateAvailable">Penerbangan Pergi Tidak Tersedia</span>
                                </h3>
                            </header>
                            <div class="flight-content">
                                <div class="flight-airline">
                                    <h5>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineName}}</h5>
                                    <img ng-src="{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineLogoUrl}}" alt="departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineName" />
                                </div>
                                <div class="flight-date">
                                    <div class="flight-date-departure">
                                        <h4>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].OriginAirport}} <span>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime | date :'HH:mm' : 'UTC'}}</span></h4>
                                        <h5>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime | date :'dd - MM - yyyy' : 'UTC'}}</h5>
                                    </div>
                                    <div class="flight-date-duration">
                                        <h5 class="time"><span>{{msToTime(departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].TotalDuration)}}</span></h5>
                                        <h5 class="transit">
                                            <span ng-if="departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].TotalTransit == 0">Langsung</span>
                                            <span ng-if="departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].TotalTransit > 0">{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].TotalTransit}} Transit</span>
                                        </h5>
                                    </div>
                                    <div class="flight-date-arrival">
                                        <h4>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].DestinationAirport}} <span>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[ departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].ArrivalTime | date : 'HH:mm' : 'UTC'}} <span class="overday" ng-if="getDate(departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[ departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].DepartureTime) > getDate(departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime)">+{{getDate(departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[ departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].DepartureTime) - getDate(departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime)}}</span></span></h4>
                                        <h5>{{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments[ departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].ArrivalTime | date : 'dd - MM - yyyy' : 'UTC'}}</h5>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="summary-flight flight-return" ng-class="{'warning' : (pageConfig.flightsValidated && !returnFlightConfig.validateAvailable)}">
                            <header class="flight-header">
                                <h3>
                                    Penerbangan Pulang
                                    <span class="warning" ng-if="pageConfig.flightsValidated && returnFlightConfig.validateNewfare && !returnFlightConfig.validateAvailable">Harga Pulang Berubah - Harga Baru Rp. {{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].TotalFare | number}}</span>
                                    <span class="warning" ng-if="pageConfig.flightsValidated && !returnFlightConfig.validateNewfare && !returnFlightConfig.validateAvailable">Penerbangan Pulang Tidak Tersedia</span>
                                </h3>
                            </header>
                            <div class="flight-content">
                                <div class="flight-airline">
                                    <h5>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineName}}</h5>
                                    <img ng-src="{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineLogoUrl}}" alt="returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].AirlineName" />
                                </div>
                                <div class="flight-date">
                                    <div class="flight-date-departure">
                                        <h4>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].OriginAirport}} <span>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime | date :'HH:mm' : 'UTC'}}</span></h4>
                                        <h5>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime | date :'dd - MM - yyyy' : 'UTC'}}</h5>
                                    </div>
                                    <div class="flight-date-duration">
                                        <h5 class="time">{{msToTime(returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].TotalDuration)}}</h5>
                                        <h5 class="transit">
                                            <span ng-if="returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].TotalTransit == 0">Langsung</span>
                                            <span ng-if="returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].TotalTransit > 0">{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].TotalTransit}} Transit</span>
                                        </h5>
                                    </div>
                                    <div class="flight-date-arrival">
                                        <h4>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].DestinationAirport}} <span>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[ returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].ArrivalTime | date : 'HH:mm' : 'UTC'}} <span class="overday" ng-if="getDate(returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[ returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].DepartureTime) > getDate(returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime)">+{{getDate(returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[ returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].DepartureTime) - getDate(returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[0].DepartureTime)}}</span></span></h4>
                                        <h5>{{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments[ returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments.length - 1 ].ArrivalTime | date : 'dd - MM - yyyy' : 'UTC'}}</h5>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="flight-button">
                            <a class="flight-detail-trigger" ng-click="toggleOverviewDetail()">Detail Penerbangan <span class="caret"></span></a>
                            <a href="#" class="flight-rules-trigger">Syarat &amp; Ketentuan <span class="caret"></span></a>
                        </section>

                    </div>
                    <div class="summary-right">
                        <label>Harga Total:</label>
                        <h3><sup>Rp</sup> {{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].TotalFare + returnFlightConfig.flightList[returnFlightConfig.chosenFlight].TotalFare | number}}</h3>
                        <p>*Harga termasuk Pajak &amp; Service Charge</p>
                        <input type="submit" class="btn btn-yellow" value="PESAN" ng-click="revalidateFlight(departureFlightConfig.chosenFlight, returnFlightConfig.chosenFlight)" ng-hide="departureFlightConfig.validating || returnFlightConfig.validating || pageConfig.flightsValidated" ng-disabled="pageConfig.redirectingPage" />
                        <input type="submit" class="btn btn-yellow" value="MEMVALIDASI" disabled ng-show="departureFlightConfig.validating || returnFlightConfig.validating" />
                        <div ng-show="pageConfig.flightsValidated && (!departureFlightConfig.validateAvailable || !returnFlightConfig.validateAvailable )">
                            <input type="submit" class="btn btn-yellow" value="LANJUTKAN" ng-show="(departureFlightConfig.validateNewfare || returnFlightConfig.validateNewfare)" ng-click="revalidateFlight(departureFlightConfig.chosenFlight, returnFlightConfig.chosenFlight)" ng-disabled="pageConfig.redirectingPage" />
                            <input type="submit" class="btn btn-yellow" value="PILIH KEMBALI" ng-hide="(departureFlightConfig.validateNewfare || returnFlightConfig.validateNewfare)" ng-click="closeOverview()" />
                        </div>
                    </div>
                </section>
                <footer class="flight-review-detail">
                    <h3>Detail Penerbangan <span class="pull-right close close-review-detail" ng-click="toggleOverviewDetail()">X</span></h3>
                    <section class="detail-flight flight-departure">
                        <header class="flight-header">
                            <h3>Penerbangan Pergi</h3>
                        </header>

                        <section class="flight-detail">
                            <div ng-repeat="segment in departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Segments track by $index">
                                <div class="transit" ng-if="$index > 0">
                                    <p>Transit di {{segment.DepartureCity}} selama {{departureFlightConfig.flightList[departureFlightConfig.chosenFlight].Trips[0].Transits[ $index - 1 ].Duration}}</p>
                                </div>
                                <div class="segment">
                                    <div class="segment-number">
                                        <span ng-if="$index == 0">1<sup>st</sup></span>
                                        <span ng-if="$index == 1">2<sup>nd</sup></span>
                                        <span ng-if="$index == 2">3<sup>rd</sup></span>
                                        <span ng-if="$index > 2">{{$index}}<sup>th</sup></span>
                                    </div>
                                    <div class="segment-left">
                                        <img ng-src="{{segment.AirlineLogoUrl}}" alt="{{segment.AirlineName}}" class="segment-airline-logo" />
                                        <h5 class="segment-airline-name">{{segment.AirlineName}}</h5>
                                        <h5 class="segment-airline-number">{{segment.AirlineCode}}-{{segment.FlightNumber}}</h5>
                                        <div class="flight-facilities hidden">
                                            <span class="flight-baggage">15</span>
                                            <span class="flight-tax"></span>
                                            <span class="flight-meal"></span>
                                        </div>
                                    </div>
                                    <div class="segment-right">
                                        <div class="segment-departure">
                                            <h5>{{segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                            <h3>{{segment.DepartureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                            <h4>{{segment.DepartureCity}} ({{segment.DepartureAirport}})</h4>
                                            <h5>{{segment.DepartureAirportName}}</h5>
                                        </div>
                                        <div class="segment-duration">
                                            <h5><span>Duration :</span> {{segment.Duration}}</h5>
                                        </div>
                                        <div class="segment-arrival">
                                            <h5>{{segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                            <h3>{{segment.ArrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                            <h4>{{segment.ArrivalCity}} ({{segment.ArrivalAirport}})</h4>
                                            <h5>{{segment.ArrivalAirportName}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </section>
                    <section class="detail-flight flight-return">
                        <header class="flight-header">
                            <h3>Penerbangan Pergi</h3>
                        </header>

                        <section class="flight-detail">
                            <div ng-repeat="segment in returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Segments">
                                <div class="transit" ng-if="$index > 0">
                                    <p>Transit di {{segment.DepartureCity}} selama {{returnFlightConfig.flightList[returnFlightConfig.chosenFlight].Trips[0].Transits[ $index - 1 ].Duration}}</p>
                                </div>
                                <div class="segment">
                                    <div class="segment-number">
                                        <span ng-if="$index == 0">1<sup>st</sup></span>
                                        <span ng-if="$index == 1">2<sup>nd</sup></span>
                                        <span ng-if="$index == 2">3<sup>rd</sup></span>
                                        <span ng-if="$index > 2">{{$index}}<sup>th</sup></span>
                                    </div>
                                    <div class="segment-left">
                                        <img ng-src="{{segment.AirlineLogoUrl}}" alt="{{segment.AirlineName}}" class="segment-airline-logo" />
                                        <h5 class="segment-airline-name">{{segment.AirlineName}}</h5>
                                        <h5 class="segment-airline-number">{{segment.AirlineCode}}-{{segment.FlightNumber}}</h5>
                                        <div class="flight-facilities hidden">
                                            <span class="flight-baggage">15</span>
                                            <span class="flight-tax"></span>
                                            <span class="flight-meal"></span>
                                        </div>
                                    </div>
                                    <div class="segment-right">
                                        <div class="segment-departure">
                                            <h5>{{segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                            <h3>{{segment.DepartureTime | date: 'HH:mm' : 'UTC'}}</h3>
                                            <h4>{{segment.DepartureCity}} ({{segment.DepartureAirport}})</h4>
                                            <h5>{{segment.DepartureAirportName}}</h5>
                                        </div>
                                        <div class="segment-duration">
                                            <h5><span>Duration :</span> {{segment.Duration}}</h5>
                                        </div>
                                        <div class="segment-arrival">
                                            <h5>{{segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                            <h3>{{segment.ArrivalTime | date: 'HH:mm' : 'UTC'}}</h3>
                                            <h4>{{segment.ArrivalCity}} ({{segment.ArrivalAirport}})</h4>
                                            <h5>{{segment.ArrivalAirportName}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </section>
                </footer>
            </div><!-- .flight-review -->
        </div>
    </div><!-- .flight-review-wrapper -->


</section><!-- .search-result.return -->
