@using System.Globalization
@using Lunggo.ApCommon.Dictionary
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Flight.Service
@using Lunggo.CustomerWeb.Models
@using Newtonsoft.Json
@model FlightSearchData

@{
    bool isValid;

    List<FlightTrip> trips = null;
    FlightSearchData.Complete data = null;
    var originAirportNames = new List<string>();
    var destinationAirportNames = new List<string>();
    var originCityNames = new List<string>();
    var destinationCityNames = new List<string>();
    var originCountryNames = new List<string>();
    var destinationCountryNames = new List<string>();

    String tripType = "aaa";
    try
    {
        var parts = Model.info.Split('-');
        var tripPart = parts.First();
        var infoPart = parts.Last();
        isValid = ((tripPart.Length + 1) % 13 == 0) && (infoPart.Length == 4);

        trips = tripPart.Split('.').Select(info => new FlightTrip
        {
            OriginAirport = info.Substring(0, 3),
            OriginCity = DictionaryService.GetInstance().GetAirportCity(info.Substring(0, 3)),
            DestinationAirport = info.Substring(3, 3),
            DestinationCity = DictionaryService.GetInstance().GetAirportCity(info.Substring(3, 3)),
            DepartureDate = new DateTime(
                2000 + int.Parse(info.Substring(10, 2)),
                int.Parse(info.Substring(8, 2)),
                int.Parse(info.Substring(6, 2)))
        }).ToList();

        
        foreach (var trip in trips)
        {
            originAirportNames.Add(DictionaryService.GetInstance().GetAirportName(trip.OriginAirport));
            destinationAirportNames.Add(DictionaryService.GetInstance().GetAirportName(trip.DestinationAirport));
            originCityNames.Add(DictionaryService.GetInstance().GetAirportCity(trip.OriginAirport));
            destinationCityNames.Add(DictionaryService.GetInstance().GetAirportCity(trip.DestinationAirport));
            originCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(trip.OriginAirport));
            destinationCountryNames.Add(DictionaryService.GetInstance().GetAirportCountry(trip.DestinationAirport));
        }

        data = new FlightSearchData.Complete
        {
            AdultCount = int.Parse(infoPart.Substring(0, 1)),
            ChildCount = int.Parse(infoPart.Substring(1, 1)),
            InfantCount = int.Parse(infoPart.Substring(2, 1)),
            CabinClass = FlightService.ParseCabinClass(infoPart.Substring(3, 1)),
            Trips = trips,
            TripType = FlightService.ParseTripType(trips)
        };

        tripType = data.TripType == TripType.OneWay ? "single" : "return";
    }
    catch
    {
        isValid = false;
    }

}

@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Pencarian Penerbangan Sejalan";
    ViewBag.BodyClass = "page page-flight single-flight";
    ViewBag.AngularController = "SingleFlightController";
}

@section AdditionalCSS{
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}
@section AdditionalJS {
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    
    <!-- jquery datepicker -->
    <script src="/Assets/js/jquery-ui.min.js"></script>

}
@section PageJS{
    
    <script>
        FlightSearchConfig.flightForm = {
            cabin: '@data.CabinClass',
            departureDate: '@trips[0].DepartureDate',
            origin: '@trips[0].OriginAirport',
            destination: '@trips[0].DestinationAirport',
            passenger: {
                adult: @data.AdultCount,
                child: @data.ChildCount,
                infant: @data.InfantCount,
            },
            type: '@data.TripType',
            trips: @Html.Raw(JsonConvert.SerializeObject(trips)),
            Requests:[],
            SecureCode: '@ViewBag.RequestId'
        };
    </script>

    <script src="/Assets/mobile/js/singleFlightController.js"></script>
}

<div class="page-loading" ng-class="{'page-loaded':PageConfig.Loaded}">
    
    
        <form class="hidden push-token" id="pushToken" action="/id/Flight/Select" method="post">
            <input type="text" name="Token" id="fareToken" value="" />
        </form>

        <div class="flight-loading" ng-hide="FlightConfig[0].FlightRequest.Progress == 100">
            <div class="flight-progress" style="width:{{FlightConfig[0].FlightRequest.Progress}}%;"></div>
        </div><!-- .flight-loading -->

        <section class="flight-summary">
            <div class="summary-left">
                <p>
                    <b>Penerbangan Pergi</b><br />
                    <b>{{FlightConfig[0].FlightRequest.Trips[0].OriginCity}}</b> ke <b>{{FlightConfig[0].FlightRequest.Trips[0].DestinationCity}}</b> - {{FlightConfig[0].FlightRequest.Trips[0].DepartureDate | date:'EEE, dd MMM yyyy'}}
                </p>
            </div>
            <a ng-click="PageConfig.SetOverlay('flight-form')" class="summary-right"><span>GANTI</span></a>
        </section><!-- .flight-summary -->

        <section class="flight-sort-filter" ng-show="FlightConfig[0].FlightRequest.Progress == 100">
            <div class="flight-sort-filter-action">
                <a ng-click="PageConfig.SetOverlay('flight-filter')">FILTER</a>
                <a ng-click="PageConfig.SetOverlay('flight-sort')">SORTIR</a>
            </div>
        </section><!-- .flight-sort -->
        <section class="flight-notice" ng-show="FlightConfig[0].FlightList.length > 0">
            <p>Tampilan harga untuk <b>{{ FlightConfig[0].FlightRequest.AdultCount + FlightConfig[0].FlightRequest.ChildCount + FlightConfig[0].FlightRequest.InfantCount | number }} orang</b> 
                ({{FlightConfig[0].FlightRequest.AdultCount}} Dewasa<span ng-if="FlightConfig[0].FlightRequest.ChildCount > 0">, 
                                                                        {{FlightConfig[0].FlightRequest.ChildCount}} Anak</span><span ng-if="FlightConfig[0].FlightRequest.InfantCount">, 
                                                                                                                                    {{FlightConfig[0].FlightRequest.InfantCount}} Bayi</span>)
            </p>
        </section><!-- .flight-notice -->

        <section class="container_new flight-list" ng-show="FlightConfig[0].FlightList.length == 0 && !(!departureFlight.length && FlightConfig[0].FlightRequest.Progress == 100)">
            <img class="loading-image" src="/Assets/images/load.gif" alt="Loading" />
        </section>

        <section class="flight-list">

            <div ng-show="!departureFlight.length && FlightConfig[0].FlightRequest.Progress == 100">
                <div class="container">
                    <h3>Penerbangan tidak ditemukan.</h3>
                </div>
            </div>

            <div class="flight" ng-repeat="Flight in departureFlight =
             (FlightConfig[0].FlightList |filter : FlightFiltering.PriceFilter() | filter:FlightFiltering.AirlineFilter('departure') | filter: FlightFiltering.TransitFilter('departure') | filter:FlightFiltering.DepartureTimeFilter('departure') | filter:FlightFiltering.ArrivalTimeFilter('arrival') | orderBy:FlightConfig[0].FlightSort.Value:FlightConfig[0].FlightSort.Invert)"
                 id="flight-{{Flight.IndexNo}}" ng-click="FlightFunctions.SetActiveFlight(Flight.IndexNo)">
                <div class="flight-header">
                    <h4 class="flight-airline">
                        <img ng-src="{{Flight.Trips[0].Segments[0].AirlineLogoUrl}}" alt="{{Flight.Trips[0].Segments[0].AirlineName}}" class="flight-airline-image" />
                        <span>{{Flight.Trips[0].Segments[0].AirlineName}}</span>
                    </h4>
                </div>
                <div class="flight-content">
                    <div class="content-left">
                        <h4 class="flight-time">
                            <span class="departure">{{Flight.Trips[0].Segments[0].DepartureTime | date: 'HH:mm' :'UTC'}}</span>
                            <span class="separator"></span>
                            <span class="arrival">{{Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime | date: 'HH:mm' : 'UTC'}}</span>
                            <span class="overday" ng-show="(getOverdayDate(Flight.Trips[0].Segments[0].DepartureTime,Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime) != 0)">{{getOverdayDate(Flight.Trips[0].Segments[0].DepartureTime,Flight.Trips[0].Segments[ Flight.Trips[0].Segments.length - 1 ].ArrivalTime)}}</span>
                        </h4>
                        <h5 class="flight-duration">
                            {{msToTime( Flight.Trips[0].TotalDuration)}},
                            <span ng-show="Flight.Trips[0].TotalTransit == 0">Langsung</span>
                            <span ng-show="Flight.Trips[0].TotalTransit > 0">{{Flight.Trips[0].TotalTransit}} Transit</span>
                        </h5>
                    </div>
                    <div class="content-right">
                        <label>Harga Total :</label>
                        <h5 class="flight-price-was" ng-show="Flight.OriginalFare">Rp {{Flight.OriginalFare | number}}</h5>
                        <h4 class="flight-price">Rp {{Flight.TotalFare | number}}</h4>
                    </div>
                </div>
                <div class="flight-footer">
                    <a class="flight-detail-button">Lihat Detail &gt;</a>
                    <a class="btn btn-yellow pull-right flight-order" ng-click="$event.stopPropagation(); FlightConfig[0].ActiveFlight = Flight.IndexNo;
                   FlightFunctions.Revalidate(FlightConfig[0].ActiveFlight)">PESAN</a>
                </div>
            </div>

        </section><!-- .flight-list -->
   

    <!-- overlays -->
    <!-- overlay - flight detail -->
    <div class="overlay overlay--theme--blue overlay--flight-detail" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-detail')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                DETAIL PENERBANGAN
                <span class="overlay__close" ng-click="FlightFunctions.SetActiveFlight()" ng-hide="PageConfig.Validating">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="flight-title flight-title--departure">
                <div class="flight-info">
                    <h4><b>{{FlightConfig[0].FlightRequest.Trips[0].OriginCity}}</b> ke <b>{{FlightConfig[0].FlightRequest.Trips[0].DestinationCity}}</b></h4>
                    <h5>{{FlightConfig[0].FlightRequest.Trips[0].DepartureDate | date:'EEE, dd MMM yyyy'}}</h5>
                </div>
                <a href="#" class="flight-change" ng-hide="PageConfig.Validating"><span ng-click="FlightFunctions.SetActiveFlight()">GANTI</span></a>
            </div><!-- .flight-title -->
        
            <div class="flight-notice" ng-hide="FlightConfig[0].ActiveFlightAvailable">
                <p ng-show="FlightConfig[0].ActiveFlightNewPrice > 0">Harga berubah menjadi <b>Rp {{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].TotalFare | number}}</b></p>
                <p ng-show="FlightConfig[0].ActiveFlightNewPrice < 0">Penerbangan tidak tersedia</p>
            </div><!-- .flight-notice -->

            <div class="flight-wrapper" ng-repeat="Segment in FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].Trips[0].Segments track by $index">
                <div class="transit" ng-if="$index > 0">
                    <span>Transit di {{Segment.DepartureCity}} ({{Segment.DepartureAirport}}) selama <b>{{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].Trips[0].Transits[$index-1].Duration | date : 'HH:mm'}}</b></span>
                </div>
                <div class="flight">
                    <div class="flight__number">
                        <span>{{$index + 1}}</span>
                    </div>
                    <div class="flight__content">
                        <div class="flight__summary">
                            <img ng-src="{{Segment.AirlineLogoUrl}}" alt="{{Segment.AirlineName}}" class="flight__image" />
                            <div class="flight__airline">
                                <h4><b>{{Segment.AirlineName}}</b></h4>
                                <h5>{{Segment.AirlineCode}}-{{Segment.FlightNumber}}</h5>
                            </div>
                        </div>
                        <div class="flight__detail">
                            <div class="flight__departure">
                                <h5>{{Segment.DepartureTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                <h4><b>{{Segment.DepartureTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                <h5><b>{{Segment.DepartureCity}} ({{Segment.DepartureAirport}}) </b></h5>
                                <h5>{{Segment.DepartureAirportName}}</h5>
                            </div>
                            <div class="flight__separator">
                                <h5><b>Durasi: </b>{{(Segment.Duration) | date : 'HH:mm'}}</h5>
                            </div>
                            <div class="flight__arrival">
                                <h5>{{Segment.ArrivalTime | date: 'dd MMM yyyy' : 'UTC'}}</h5>
                                <h4><b>{{Segment.ArrivalTime | date : 'HH:mm' : 'UTC'}}</b></h4>
                                <h5><b>{{Segment.ArrivalCity}} ({{Segment.ArrivalAirport}})</b></h5>
                                <h5>{{Segment.ArrivalAirportName}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .flight-wrapper -->

        </section><!-- .overlay__content -->
        <footer class="overlay__footer">
            <div class="container_new">
                <div class="row1">
                    <div class="col-xs-6">
                        <h5>Harga Total:</h5>
                        <h4><b>Rp {{FlightConfig[0].FlightList[ FlightConfig[0].ActiveFlight ].TotalFare | number}}</b></h4>
                        <h6>*Harga Sudah Termasuk Pajak dan Service Charges</h6>
                    </div>
                    <div class="col-xs-6">
                        <a ng-click="FlightFunctions.Revalidate(FlightConfig[0].ActiveFlight)" class="btn btn-yellow btn-block" ng-disabled="PageConfig.Validating">{{PageConfig.Validating ? 'MEMESAN' : 'PESAN'}}</a>
                    </div>
                    
                </div>
            </div>
        </footer><!-- .overlay__footer -->
    </div><!-- .overlay - flight detail-->
    
    <!-- overlay - filter -->
    <div class="overlay overlay--flight-filter overlay--theme--blue" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-filter')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                FILTER PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="filter-group filter-group--price ">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Harga:</h4>
                 </div>
                <div class="filter-group__content">
                    <div class="slider price-slider" id="price-slider"></div>
                    <div class="slider-minmax">
                        <span>Rp {{priceFilterParam.current[0] | number}}</span>
                        <span class="pull-right">Rp {{priceFilterParam.current[1] | number}}</span>
                    </div>
                    <div class="hidden">
                        <input type="text" name="priceSliderValueMin" value="" class="price-slider-min" ng-model="priceFilterParam.current[0]" />
                        <input type="text" name="priceSliderValueMax" value="" class="price-slider-max" ng-model="priceFilterParam.current[1]" />
                    </div>

                </div>
            </div>
            <div class="filter-group filter-group--transit">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Transit:</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{ 'active' : FlightConfig[0].FlightFilter.Transit[0]}" >
                        <div class="switch"></div>
                        <span>Langsung</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.Transit[0]"/>
                    </label>
                    <label ng-class="{ 'active' : FlightConfig[0].FlightFilter.Transit[1]}">
                        <div class="switch"></div>
                        <span>1 Stop</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.Transit[1]" />
                    </label>
                    <label ng-class="{ 'active' : FlightConfig[0].FlightFilter.Transit[2]}">
                        <div class="switch"></div>
                        <span>2 atau lebih</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.Transit[2]" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--departure">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Jam Berangkat:</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{'active' : (FlightConfig[0].FlightFilter.DepartureTime[0])}">
                        <div class="switch"></div>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[0]" />
                        <span>Pagi<br />(04.00 - 11:00)</span>
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.DepartureTime[1] }">
                        <div class="switch"></div>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[1]" />
                        <span>Siang<br />(11.00 - 15:00)</span>
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.DepartureTime[2] }">
                        <div class="switch"></div>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[2]" />
                        <span>Sore<br />(15.00 - 19:00)</span>
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.DepartureTime[3] }">
                        <div class="switch"></div>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.DepartureTime[3]" />
                        <span>Malam<br />(19.00 - 04:00)</span>
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--arrival">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Jam Tiba:</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[0]}">
                        <div class="switch"></div>
                        <span>Pagi<br />(04.00 - 11:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[0]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[1]}">
                        <div class="switch"></div>
                        <span>Siang<br />(11.00 - 15:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[1]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[2]}">
                        <div class="switch"></div>
                        <span>Sore<br />(15.00 - 19:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[2]" />
                    </label>
                    <label ng-class="{'active' : FlightConfig[0].FlightFilter.ArrivalTime[3]}">
                        <div class="switch"></div>
                        <span>Malam<br />(19.00 - 04:00)</span>
                        <input type="checkbox" value="false" ng-model="FlightConfig[0].FlightFilter.ArrivalTime[3]" />
                    </label>
                </div>
            </div>
            <div class="filter-group filter-group--airline">
                <div class="filter-group__header">
                    <h4 class="filter-group__title">Berdasarkan Maskapai:</h4>
                </div>
                <div class="filter-group__content">
                    <label ng-repeat="Airline in FlightConfig[0].FlightFilter.Airline" ng-class="{'active' : !Airline.Checked}">
                        <div class="switch"></div>
                        <span><img ng-src="{{Airline.LogoUrl}}" alt="{{Airline.Name}}" /> {{Airline.Name}}</span>
                        <input type="checkbox" value="false" ng-model="Airline.Checked" ng-change="FlightFiltering.AirlineCheck('departure')" />
                    </label>
                </div>
            </div>
        </section><!-- .overlay__content -->
    </div><!-- .overlay -->
    <!-- .overlay - sort -->
    <div class="overlay overlay--flight-sort overlay--theme--blue" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-sort')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                SORTIR PENERBANGAN
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'price' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('price',false)">Harga - Rendah ke Tinggi</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'price' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('price',true)">Harga - Tinggi ke Rendah</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'airline' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('airline',false)"> Nama Maskapai - A ke Z</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'airline' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('airline',true)">Nama Maskapai - Z ke A</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'duration' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('duration',false)">Durasi - Singkat ke Lama</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'duration' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('duration',true)">Durasi - Lama ke Singkat</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'departure' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('departure',false)">Waktu Berangkat - Terawal ke Terakhir</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'departure' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('departure',true)">Waktu Berangkat - Terakhir ke Terawal</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'arrival' && FlightConfig[0].FlightSort.Invert == false}" ng-click="FlightConfig[0].FlightSort.Set('arrival',false)">Waktu Kedatangan - Terawal ke Terakhir</span>
            <span ng-class="{'active' : FlightConfig[0].FlightSort.Label == 'arrival' && FlightConfig[0].FlightSort.Invert == true}" ng-click="FlightConfig[0].FlightSort.Set('arrival',true)">Waktu Kedatangan - Terakhir ke Terawal</span>
        </section>
        <section class="overlay__content hidden">
            <label>
                Harga - Rendah ke Tinggi
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Harga - Tinggi ke Rendah
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Nama Maskapai - A ke Z
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Nama Maskapai - Z ke A
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Durasi - Singkat ke Lama
                <input type="radio" name="name" value="" />
            </label>
            <label>
                Durasi - Lama ke Singkat
                <input type="radio" name="name" value="" />
            </label>
        </section><!-- .overlay__content -->
    </div>

    <!-- .overlay - change flight -->
    <div class="overlay overlay--theme--blue overlay--flight-form" ng-class="{'active' : (PageConfig.ActiveOverlay == 'flight-form')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                <b>GANTI PENERBANGAN</b>
                <span class="overlay__close" ng-click="SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <form class="form form-horizontal" ng-submit="FlightSearchForm.Submit()">
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label><b>Pulang Pergi ?</b></label>
                        </div>
                        <div class="col-xs-6 text-right">
                            <label class="flight-trip" ng-class="{'active' : FlightSearchForm.Trip == 'false'}"><input type="radio" name="roundtrip" value="false" ng-model="FlightSearchForm.Trip" class="hidden" />Tidak</label>
                            <label class="flight-trip" ng-class="{'active' : FlightSearchForm.Trip == 'true'}"><input type="radio" name="roundtrip" value="true" ng-model="FlightSearchForm.Trip" class="hidden" />Ya</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p class="form-control form-origin" ng-click="FlightSearchForm.AutoComplete.Reset('departure');SetOverlay('airport-select')"
                       ng-init="FlightSearchForm.AirportOrigin.City = '@originCityNames[0]'; FlightSearchForm.AirportOrigin.Code = '@trips[0].OriginAirport'">
                        {{FlightSearchForm.AirportOrigin.City}} ({{FlightSearchForm.AirportOrigin.Code}})
                    </p>
                </div>
                <div class="form-group">
                    <p class="form-control form-destination" ng-click="FlightSearchForm.AutoComplete.Reset('return');SetOverlay('airport-select')"
                       ng-init="FlightSearchForm.AirportDestination.City = '@destinationCityNames[0]'; FlightSearchForm.AirportDestination.Code = '@trips[0].DestinationAirport'">
                        {{FlightSearchForm.AirportDestination.City}} ({{FlightSearchForm.AirportDestination.Code}})
                    </p>
                </div>
                <div class="form-group">
                    <p class="form-control form-date form-departure-date" ng-click="DatePicker.SetOption({Target: 'departure'}); SetOverlay('datepicker-departure')"
                       ng-init="FlightSearchForm.DepartureDate = '@trips[0].DepartureDate.ToString("ddd, d MMM yyyy")'">
                        <b>Berangkat : </b>{{FlightSearchForm.DepartureDate | date: 'EEE, d MMM yyyy'}}
                    </p>
                    <input type="text" value="" ng-model="FlightSearchForm.DepartureDate" class="flight-search-form-departure hidden" />
                </div>
                <div class="form-group" ng-hide="FlightSearchForm.Trip == 'false'">
                    <p class="form-control form-date form-return-date" ng-click="DatePicker.SetOption({Target: 'return'}); SetOverlay('datepicker-departure')"
                       ng-init="FlightSearchForm.ReturnDate = '@trips[0].DepartureDate.ToString("ddd, d MMM yyyy")'">
                        <b>Pulang : </b>{{FlightSearchForm.ReturnDate | date : 'EEE, d MMM yyyy'}}
                    </p>
                    <input type="text" value="" ng-model="FlightSearchForm.ReturnDate" class="flight-search-form-return hidden" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <p class="form-control form-passenger form-adult" ng-click="FlightSearchForm.PassengerPicker.Reset('adult'); SetOverlay('passenger-select')"
                               ng-init="FlightSearchForm.Passenger[0] = @data.AdultCount" >{{FlightSearchForm.Passenger[0]}}</p>
                        </div>
                        <div class="col-xs-4">
                            <p class="form-control form-passenger form-children" ng-click="FlightSearchForm.PassengerPicker.Reset('children'); SetOverlay('passenger-select')"
                               ng-init="FlightSearchForm.Passenger[1] = @data.ChildCount">{{FlightSearchForm.Passenger[1]}}</p>
                        </div>
                        <div class="col-xs-4">
                            <p class="form-control form-passenger form-infant" ng-click="FlightSearchForm.PassengerPicker.Reset('infant'); SetOverlay('passenger-select')"
                               ng-init="FlightSearchForm.Passenger[2] = @data.InfantCount ">{{FlightSearchForm.Passenger[2]}}</p>
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    
                </div>
                
                <div class="form-group form__flightclass">
                    <select class="form-control" name="cabinclass" ng-model="FlightSearchForm.Cabin" ng-init="FlightSearchForm.Cabin = flightclass[0].value">
                        <option ng-repeat="cabin in flightclass" value="{{cabin.value}}">{{cabin.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-yellow text-center btn-block btn-lg" ng-click="SetOverlay()">CARI</button>
                </div>
            </form>
        </section><!-- .overlay__content -->
    </div><!-- .overlay--flight-form-->
    
    <!-- overlay airport selector -->
    <div class="overlay overlay--theme--blue overlay--airport-select" ng-class="{'active' : (PageConfig.ActiveOverlay == 'airport-select')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                <small>PILIH TUJUAN PENERBANGAN</small>
                <span class="overlay__close" ng-click="PageConfig.SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">

            <div class="autocomplete-input">
                <input type="text" class="form-control" name="name" value="" placeholder="Masukkan lokasi tujuan penerbangan" ng-model="FlightSearchForm.AutoComplete.Keyword" ng-change="FlightSearchForm.AutoComplete.GetAirport()" />
            </div><!-- .autocomplete-input -->

            <div class="autocomplete-preload" ng-show="FlightSearchForm.AutoComplete.Keyword.length < FlightSearchForm.AutoComplete.MinLength">
                <div class="list__header">
                    <h4>POPULAR DESTINATION</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Popular">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>INDONESIA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Indonesia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>ASIA TENGGARA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.SouthEastAsia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>ASIA TIMUR</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.EastAsia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>EROPA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Europe">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>OSEANIA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Oceania">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>DESTINASI LAINNYA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Others">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay('flight-form')"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
            </div><!-- .autocomplete-preload -->

            <div class="autocomplete-loading">
                <h4 class="text-center text-loading">Mencari Bandara</h4>
            </div>

            <div class="autocomplete-no-result">
                <h4 class="text-center">Hasil tidak ditemukan</h4>
            </div>

            <div class="autocomplete-result">
                <ul class="result" ng-click="PageConfig.SetOverlay('flight-form')"></ul>
            </div>
        </section><!-- .overlay__content -->
    </div><!-- .overlay--airport-select -->
    
    <!-- overlay date picker -->
    <div class="overlay overlay--theme--blue overlay--datepicker overlay--datepicker--departure" ng-class="{ 'active' : (PageConfig.ActiveOverlay == 'datepicker-departure') }">
        <header class="overlay__header">
            <h3 class="overlay__title">
                <span ng-show="DatePicker.Settings.Target == '.flight-search-form-departure'">Pilih Tanggal Keberangkatan</span>
                <span ng-show="DatePicker.Settings.Target == '.flight-search-form-return'">Pilih Tanggal Pulang</span>
                <span class="overlay__close" ng-click="SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="ui-datepicker departure-date"></div>
        </section>
    </div><!-- .overlay--datepicker-->
    
    <!-- overlay date picker -->
    <div class="overlay overlay--theme--blue overlay--datepicker overlay--datepicker--return" ng-class="{ 'active' : (PageConfig.ActiveOverlay == 'datepicker-return') }">
        <header class="overlay__header">
            <h3 class="overlay__title">
                Pilih Tanggal Keberangkatan
                <span class="overlay__close" ng-click="SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="ui-datepicker departure-date"></div>
        </section>
    </div><!-- .overlay--datepicker-->
    
    <!-- overlay passenger picker -->
    <div class="overlay overlay--theme--blue overlay--passenger-selector" ng-class="{'active' : (PageConfig.ActiveOverlay == 'passenger-select')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                Jumlah Penumpang
                <span class="overlay__close" ng-click="SetOverlay('flight-form')">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="passenger-selector">
                <div class="passenger-selector__header">
                    <ul>
                        <li><a class="adult" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'adult'}" ng-click="FlightSearchForm.PassengerPicker.Reset('adult')"></a></li>
                        <li><a class="children" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'children'}" ng-click="FlightSearchForm.PassengerPicker.Reset('children')"></a></li>
                        <li><a class="infant" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'infant'}" ng-click="FlightSearchForm.PassengerPicker.Reset('infant')"></a></li>
                    </ul>
                </div>
                <div class="passenger-selector__body">
                    <div class="selected">
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'adult'">
                            <span class="number">{{FlightSearchForm.Passenger[0]}}</span>
                            <span class="description"><b>Dewasa</b><br/>(&gt; 12 Tahun)</span>
                        </p>
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'children'">
                            <span class="number">{{FlightSearchForm.Passenger[1]}}</span>
                            <span class="description"><b>Anak</b><br />(2-12 Tahun)</span>
                        </p>
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">
                            <span class="number">{{FlightSearchForm.Passenger[2]}}</span>
                            <span class="description"><b>Bayi</b><br />(&lt; 2 Tahun)</span>
                        </p>
                    </div>
                    <div class="selector" ng-show="FlightSearchForm.PassengerPicker.ActiveType != 'infant'">
                        <span ng-repeat="number in FlightSearchForm.PassengerPicker.List" ng-click="FlightSearchForm.PassengerPicker.Set(number)" ng-class="{'disabled' : (number > (FlightSearchForm.PassengerPicker.TotalMaxPassenger - FlightSearchForm.PassengerPicker.TotalCurrentPassenger) )}">{{number}}</span>
                    </div>
                    <div class="selector" ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">
                        <span ng-repeat="number in FlightSearchForm.PassengerPicker.List" ng-click="FlightSearchForm.PassengerPicker.Set(number)" ng-class="{'disabled' : (number > (FlightSearchForm.PassengerPicker.TotalMaxPassenger - FlightSearchForm.PassengerPicker.TotalCurrentPassenger) || ( number > FlightSearchForm.Passenger[0] ) )}">{{number}}</span>
                    </div>
                    <div class="note">
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">Jumlah bayi tidak boleh lebih dari jumlah penumpang dewasa</p>
                        <p>Jumlah total penumpang tidak boleh lebih dari 9 orang</p>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- .overlay--passenger-selector -->

    <!-- popups -->
    <!-- popup revalidate -->
    <div class="popup__wrapper popup--revalidate" ng-class="{'active':PageConfig.Validating}">
        <div class="popup">
            
            <div class="revalidate-image">
                <img src="/assets/mobile/images/revalidate-plane.png" alt="Revalidating" />
            </div>
            
            <div class="revalidate-anim">
                
            </div>

            <p>Sedang Memvalidasi<br/>Penerbangan Anda</p>

        </div>
    </div>
    
    <!-- popup expired -->
    <div class="popup__wrapper" ng-class="{'active':PageConfig.ExpiryDate.Expired}">
        <div class="popup">
            <header class="popup__header">
                <h4 class="popup__title">Pencarian Kadaluarsa</h4>
            </header>
            <div class="popup__body">
                <div class="container_new">
                    <p>Hasil pencarian Anda kadaluarsa. Silakan klik tombol di bawah untuk kembali ke halaman pencarian.</p>
                </div>
            </div>
            <div class="popup__footer">
                <div class="container_new">
                    <div class="row1">
                        <div class="col12 hidden">
                            <a href="/" class="btn btn-block btn-gray">HOME</a>
                        </div>
                        <div class="col12">
                            <button class="btn btn-block btn-yellow" ng-click="PageConfig.RefreshPage()" ng-disabled="PageConfig.Refreshing">KEMBALI</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- popup -->
    <div class="popup__wrapper">
        <div class="popup">
            <header class="popup__header">
                <h4 class="popup__title">Penerbangan Pulang Pergi<span class="close-modal pull-right">X</span></h4>
            </header>
            <div class="popup__body">
                <div class="container_new">
                    <div class="row1">
                        <div class="col4 text-center" style="padding-top:12px;">
                            <img src="/Assets/images/airplane-image.jpg" alt="Airplane" />
                        </div>
                        <div class="col12">
                            <p>Anda telah memilih penerbangan pergi. <b>Silakan lanjutkan dengan memilih penerbangan pulang</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="popup__footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="btn btn-grey btn-block">KEMBALI</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="btn btn-yellow btn-block">LANJUT</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div><!-- .modal-wrapper -->
</div>
