@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Payment.Constant
@using Lunggo.Framework.Config
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay

@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-thankyou";
    ViewBag.Title = "Terima Kasih";
    
    ViewBag.BookingFailed = false;
}

@{
    var timeout = ConfigManager.GetInstance().GetConfigValue("flight", "paymentTimeout");
}

@section AdditionalJS {
    <script src="/Assets/js/jquery.countdown.min.js"></script>
}
@section PageJS{
    <script>
        var langCode = 'en';
        var printTimeout = '';

        // development only start
        printTimeout = new Date(); // please change this print time out to actual time
        printTimeout.setSeconds(printTimeout.getSeconds() + 7200);
        // development only end

        // countdown timer
        $('.timer').countdown(printTimeout, function (event) {
            $('.timer .hour h5').text(event.strftime('%H'));
            $('.timer .minute h5').text(event.strftime('%M'));
            $('.timer .second h5').text(event.strftime('%S'));
        }).on('finish.countdown', function () {
            $('.print .btn').removeClass('disabled');
        });

    </script>
}

@if (ViewBag.BookingFailed || Model.Payment.Status == PaymentStatus.Expired)
{
    <div>

        <h2 class="section-title stripe text-center">PEMESANAN <span>GAGAL</span></h2>

        <div class="container">
            <p>Mohon maaf, pesanan no. @Model.RsvNo telah dibatalkan. Silahkan membuat pesanan baru.</p>
        </div>
        <div class="container text-center">
            <a href="/" class="btn btn-yellow">KEMBALI KE HALAMAN DEPAN</a>
        </div>

    </div>
}
else if (Model.Payment.Status == PaymentStatus.Denied)
{
    <div>

        <h2 class="section-title stripe text-center">PEMESANAN <span>GAGAL</span></h2>

        <div class="container">
            <p>Mohon maaf, pesanan no. @Model.RsvNo telah ditolak. Silahkan membuat pesanan baru.</p>
        </div>
        <div class="container text-center">
            <a href="/" class="btn btn-yellow">KEMBALI KE HALAMAN DEPAN</a>
        </div>

    </div>
}
else
{
    <div>

        <h2 class="section-title stripe text-center">TERIMA <span>KASIH</span></h2>

        <div class="container">
            <p>Telah memesan penerbangan di Travorama.com. Anda dapat mencetak e-ticket Anda melalui tombol berikut atau mengunduhnya di email setelah :</p>

            <section class="countdown">
            
                <!--
                    <div class="row">
                    
                        <div class="col-xs-5 col-xs-offset-2">
                            <div class="timer">
                                <div class="hour">
                                    <h5>00</h5>
                                    <span>Jam</span>
                                </div>
                                <div class="separator">:</div>
                                <div class="minute">
                                    <h5>00</h5>
                                    <span>Menit</span>
                                </div>
                                <div class="separator">:</div>
                                <div class="second">
                                    <h5>00</h5>
                                    <span>Detik</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="print">
                                <a href="@Url.Action("OrderFlightHistoryDetailPrint", "UW620OrderHistory", new { rsvNo = Model.RsvNo })" target="_blank" class="btn btn-yellow block disabled"><span>CETAK eTICKET</span></a>
                            </div>
                        </div>
                    </div>
                    -->
            
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="print">
                            @using (Html.BeginForm())
                            {
                                <input type="hidden" name="rsvNo" value="@Model.RsvNo" />
                                <button class="btn btn-yellow block"><span>CEK PESANAN</span></button>
                            }
                        </div>
                    </div>
                </div>

                <p>Anda dapat  menutup halaman ini dan mengecek status penerbitan e-ticket di menu cek pemesanan setiap saat.</p>

            </section><!-- .section -->

            <section class="order-detail">
                <header>
                    <h4><b>Detail Pesanan</b> <span class="pull-right">Order ID: <b>@Model.RsvNo</b></span></h4>
                </header>
                <section>

                    <div class="container">
                        <div class="row">

                            <div class="order-detail-left col-xs-8">
                                <div class="passenger">
                                    <h4>INFO PENUMPANG</h4>

                                    <ol>
                                        @foreach (var passenger in Model.Passengers)
                                        {
                                            <li><p>@EnumDisplay.PassengerType(passenger.Type) : @EnumDisplay.Title(passenger.Title) @passenger.FirstName @passenger.LastName</p></li>
                                        }
                                    </ol>

                                </div>
                                <div class="order">
                                    <h4>DETAIL PENERBANGAN</h4>

                                    <div class="flight departure">
                                        @foreach (var segment in Model.Itinerary.Trips[0].Segments)
                                        {
                                            <p><img src="@segment.AirlineLogoUrl" alt="@segment.AirlineName" /> <span>@segment.AirlineName</span> </p>
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <p>Berangkat : </p>
                                                </div>
                                                <div class="col-xs-9">
                                                    <p>@segment.DepartureCity (@segment.DepartureAirport) - @segment.ArrivalCity (@segment.ArrivalAirport)</p>
                                                    <p>@segment.DepartureTime.ToString("dddd, d MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    @if (Model.Itinerary.Trips.Count > 1)
                                    {
                                        <div class="flight return">
                                            @foreach (var segment in Model.Itinerary.Trips[0].Segments)
                                            {
                                                <p><img src="@segment.AirlineLogoUrl" alt="@segment.AirlineName" /> <span>@segment.AirlineName</span> </p>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <p>Berangkat : </p>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        <p>@segment.DepartureCity (@segment.DepartureAirport) - @segment.ArrivalCity (@segment.ArrivalAirport)</p>
                                                        <p>@segment.DepartureTime.ToString("dddd, d MMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>

                            </div>
                            <div class="order-detail-right col-xs-4">
                                <div class="price-detail">
                                    <h4>RINCIAN HARGA</h4>
                                    <dl>
                                        <dt>Tiket Pesawat <span>(@Model.Passengers.Count Penumpang)</span></dt>
                                        <dd>Rp @((Model.Payment.FinalPrice + Model.Discount).ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</dd>
                                    </dl>
                                    @if (Model.Discount > 0)
                                    {
                                        <dl>
                                            <dt>@Model.DiscountName</dt>
                                            <dd>- Rp @Model.Discount.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</dd>
                                        </dl>
                                    }
                                    <dl class="total-price">
                                        <dt>Total</dt>
                                        <dd>Rp @Model.Payment.FinalPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</dd>
                                    </dl>
                                </div>

                                <div class="payment-detail">
                                    <h4>METODE PEMBAYARAN</h4>
                                    @switch (Model.Payment.Method)
                                    {
                                        case PaymentMethod.CreditCard:
                                            <h5>@EnumDisplay.PaymentMethod(Model.Payment.Method)</h5>
                                            <img src="/Assets/images/payment-cc.jpg" alt="Credit Card" />
                                            break;
                                        case PaymentMethod.VirtualAccount:
                                            <h5>@EnumDisplay.PaymentMethod(Model.Payment.Method)</h5>
                                            <img src="/Assets/images/atm-bersama.jpg" alt="Virtual Account" />
                                            break;
                                        case PaymentMethod.BankTransfer:
                                            <h5>@EnumDisplay.PaymentMethod(Model.Payment.Method)</h5>
                                            <img src="/Assets/images/atm-bersama.jpg" alt="Bank Transfer" />
                                            break;
                                        case PaymentMethod.CimbClicks:
                                        <img src="/Assets/images/cimb-clicks-transparan.png" alt="CIMB Clicks" />
                                            break;
                                        case PaymentMethod.MandiriClickPay:
                                        <h5>@EnumDisplay.PaymentMethod(Model.Payment.Method)</h5>
                                        <img src="/Assets/images/payment-mandiri.png" alt="Mandiri Click Pay" />
                                            break;
                                    }
                                </div>

                            </div>

                        </div>
                    </div>

                </section>
            </section><!-- .order-detail -->

        </div>

    </div>
}
