@using System.Globalization
@model Lunggo.ApCommon.Flight.Model.FlightReservation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Eticket - Travorama</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://dv1.travorama.com/Assets/css/eticket.min.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <div class="ticket-wrapper ticket-flight">

        <header class="doc-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <h1 class="doc-title">Etiket</h1>
                    </div>
                    <div class="col-xs-6">
                        <div class="doc-logo">
                            <img src="/Assets/images/logo-color.png" alt="Travorama" />
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- .ticket-header -->

        <section class="doc-content">
            <div class="container">
                <section class="departure-flight flight-section">
                    <h2 class="section-title">Penerbangan Pergi</h2>
                    @foreach (var segment in Model.Itinerary.FlightTrips[0].FlightSegments)
                    {
                        <div class="flight-detail">
                            <div class="row">
                                <div class="col-xs-3 booking-code">
                                    <img src=@segment.AirlineLogoUrl />
                                    <h4>Kode booking :</h4>
                                    <h3>@segment.Pnr</h3>
                                    @if (segment.AirlineCode != segment.OperatingAirlineCode)
                                    {
                                        <h5>Dioperasikan oleh @segment.OperatingAirlineName</h5>
                                    }
                                </div>
                                <div class="col-xs-9">
                                    <h3 class="flight-number">@segment.AirlineName - @segment.AirlineCode@segment.FlightNumber</h3>
                                    <div class="row">
                                        <div class="col-xs-6 flight-origin">
                                            <h3>Dari :</h3>
                                            <h4>@segment.DepartureTime.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</h4>
                                            <h4>@segment.DepartureTime.ToString("hh:mm")</h4>
                                            <h4>Terminal @segment.DepartureTerminal</h4>
                                            <h4>(@segment.DepartureAirport) @segment.DepartureAirportName</h4>
                                            <h4>@segment.DepartureCity</h4>
                                        </div>
                                        <div class="col-xs-6 flight-destination">
                                            <h3>Tujuan:</h3>
                                            <h4>@segment.ArrivalTime.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</h4>
                                            <h4>@segment.ArrivalTime.ToString("hh:mm")</h4>
                                            <h4>Terminal @segment.ArrivalTerminal</h4>
                                            <h4>(@segment.ArrivalAirport) @segment.ArrivalAirportName</h4>
                                            <h4>@segment.ArrivalCity</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="flight-note">
                        <h3>catatan:</h3>
                        <ul>
                            <li><p>Semua waktu tertera adalah waktu bandara setempat</p></li>
                            <li><p>Mohon lakukan check-in minimal 2 jam sebelum keberangkatan</p></li>
                            <li><p>Penerbangan antar negara memerlukan passport</p></li>
                        </ul>
                    </div>
                </section>
                @if (Model.Itinerary.FlightTrips.Count > 1)
                {
                    <section class="departure-flight flight-section">
                        <h2 class="section-title">Penerbangan Kembali</h2>
                        @foreach (var segment in Model.Itinerary.FlightTrips[0].FlightSegments)
                        {
                            <div class="flight-detail">
                                <div class="row">
                                    <div class="col-xs-3 booking-code">
                                        <img src=@segment.AirlineLogoUrl />
                                        <h4>Kode booking :</h4>
                                        <h3>@segment.Pnr</h3>
                                        @if (segment.AirlineCode != segment.OperatingAirlineCode)
                                        {
                                            <h5>Dioperasikan oleh @segment.OperatingAirlineName</h5>
                                        }
                                    </div>
                                    <div class="col-xs-9">
                                        <h3 class="flight-number">@segment.AirlineName - @segment.AirlineCode@segment.FlightNumber</h3>
                                        <div class="row">
                                            <div class="col-xs-6 flight-origin">
                                                <h3>Dari :</h3>
                                                <h4>@segment.DepartureTime.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</h4>
                                                <h4>@segment.DepartureTime.ToString("hh:mm")</h4>
                                                <h4>Terminal @segment.DepartureTerminal</h4>
                                                <h4>(@segment.DepartureAirport) @segment.DepartureAirportName</h4>
                                                <h4>@segment.DepartureCity</h4>
                                            </div>
                                            <div class="col-xs-6 flight-destination">
                                                <h3>Tujuan:</h3>
                                                <h4>@segment.ArrivalTime.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("id-ID"))</h4>
                                                <h4>@segment.ArrivalTime.ToString("hh:mm")</h4>
                                                <h4>Terminal @segment.ArrivalTerminal</h4>
                                                <h4>(@segment.ArrivalAirport) @segment.ArrivalAirportName</h4>
                                                <h4>@segment.ArrivalCity</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="flight-note">
                            <h3>catatan:</h3>
                            <ul>
                                <li><p>Semua waktu tertera adalah waktu bandara setempat</p></li>
                                <li><p>Mohon lakukan check-in minimal 2 jam sebelum keberangkatan</p></li>
                                <li><p>Penerbangan antar negara memerlukan passport</p></li>
                            </ul>
                        </div>
                    </section>
                }
                <section class="passenger-detail">
                    <h2 class="section-title">Detail Penumpang</h2>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="passenger-no">No</th>
                                <th class="passenger-title">Title</th>
                                <th class="passenger-name">Nama Penumpang</th>
                                <th class="passenger-ticket">Jenis Tiket</th>
                                <th class="passenger-luggage">Bagasi Terdaftar</th>
                            </tr>
                        </thead>
                        @for (var i = 0; i < Model.Passengers.Count; i++)
                        {
                            var passenger = Model.Passengers[i];
                            <tr>
                                <td class="passenger-no">@(i + 1)</td>
                                <td class="passenger-title">@passenger.Title.ToString()</td>
                                <td class="passenger-name">@passenger.FirstName @passenger.LastName</td>
                                <td class="passenger-ticket">@passenger.Type.ToString()</td>
                                <td class="passenger-luggage">0 Kg</td>
                            </tr>
                        }
                    </table>
                </section><!-- .passenger-detail -->
            </div>
        </section><!-- .doc-content -->


        <footer class="doc-footer"></footer><!-- .ticket-footer -->

    </div><!-- .ticket-wrapper -->


</body>
</html>
