<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/bootstrap/plugincss")
    <style>
        body{
            padding-top:0px;
            padding-bottom:20px;
        }
		@@media (min-width: 992px) {
		  .HeaderMenu {
			margin-top:50px;
		  }
		}
    </style>
</head>
    <body>
        
        <!--***********************************-->
        <!-- SITE HEADER START -->
        <header class="site-header">
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">
                            Travorama
                        </a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.RouteUrl("UW100SearchHotel")">Hotel</a></li>
                        <li><a href="#">Flight</a></li>
                        <li><a href="#">Tour and Day Trips</a></li>
                    </ul>
                    <ul class="nav navbar-right">
                        @Html.Partial("_LoginPartial") @*Login | IDR | ENG*@
                    </ul>
                </div>
            </div>
        </header>
        <!-- SITE HEADER END -->
        <!--***********************************-->
        
        <!--***********************************-->
        <!-- SITE CONTENT START -->
        <div class="site-content" style="min-height:500px;">
            @RenderBody()
        </div>
        <!-- SITE CONTENT END -->
        <!--***********************************-->
        
        <!--***********************************-->
        <!-- SITE FOOTER START -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>2015 - Travelmadezy</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- SITE FOOTER END -->
        <!--***********************************-->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/bootstrap/pluginjs")
        @RenderSection("scripts", required: false)
        @Html.PageScripts()
    </body>
</html>
