<!DOCTYPE html>
<html ng-app="travorama">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/bootstrap/plugincss")
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <style>
        body{
            padding-top:0px;
            padding-bottom:20px;
        }
		@@media (min-width: 992px) {
		  .HeaderMenu {
			margin-top:50px;
		  }
		}
    </style>
</head>
    <body>
        
        <!--***********************************-->
        <!-- SITE HEADER START -->
        <header class="site-header">
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">
                            Travorama
                        </a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/id/Template/HotelSearchList">Hotel</a></li>
                        <li><a href="/id/Template/FlightSearchList">Flight</a></li>
                        <li><a href="/id/Template/Trips">Tour and Day Trips</a></li>
                    </ul>
                    <ul class="nav navbar-right">
                        @Html.Partial("_LoginPartial") @*Login | IDR | ENG*@
                    </ul>
                </div>
            </div>
        </header>
        <!-- SITE HEADER END -->
        <!--***********************************-->
        
        <!--***********************************-->
        <!-- SITE CONTENT START -->
        <div class="site-content" style="min-height:500px;">
            @RenderBody()
        </div>
        <!-- SITE CONTENT END -->
        <!--***********************************-->
        
        <!--***********************************-->
        <!-- SITE FOOTER START -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>2015 - Travelmadezy</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- SITE FOOTER END -->
        <!--***********************************-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/bootstrap/pluginjs")
        @RenderSection("scripts", required: false)
        @Html.PageScripts()
        
        <!-- Angular JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
        <script src="/Assets/script/angularApp.js"></script>

    </body>
</html>
