<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/ico" href="/Assets/images/favico.ico" />

    <title>Travorama</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/font-awesome.min.css">
    @if (IsSectionDefined("AdditionalPageCSS"))
    {
        @RenderSection("AdditionalPageCSS");
    }
    <link rel="stylesheet" href="/Assets/css/application.min.css">

</head>
<body class="page howto-page">
@{ Html.RenderPartial("_googleTag"); }


    <header id="site-header" class="site-header" data-activeTab="hotel">
        @{ Html.RenderPartial("_Mainmenu"); }
    
        <div class="page-title">
            <h1>CARA PESAN TIKET PESAWAT DI TRAVORAMA</h1>
            <h5>CEPAT &amp; MUDAH! HANYA BUTUH 5 MENIT</h5>
        </div>

    </header><!-- .site-header -->

    <div id="site-content" class="site-content">
        @RenderBody()
    </div><!-- .site-content -->
    
    <footer id="site-footer" class="site-footer">
        @if (ViewBag.ShowSubscribeForm == true)
        {
            <section class="footer-subscribe">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="/Assets/images/email-image.jpg" alt="Subscribe" />
                        </div>
                        <div class="col-sm-9">
                            <h3><b>SUBSCRIBE </b> TO GET UPDATES AND PROMOTIONS FROM US</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <form class="form form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-4 col-md-5"><input type="text" class="form-control" placeholder="Your Name"/></div>
                                    <div class="col-sm-4 col-md-5"><input type="text" class="form-control" placeholder="Your Email" /></div>
                                    <div class="col-sm-4 col-md-2"><input type="submit" class="btn btn-yellow" value="SUBSCRIBE" /></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- .footer-subscribe -->
        }
        @if (ViewBag.ShowPaymentInfo == true)
        {
            <section class="footer-payment">
                <div class="container">
                    <h2 class="section-title"><b>PAYMENT METHOD</b> THAT WE USE</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad p ex ea commodo consequat. Ut wisi eniTm ad minim veniam:</p>
                    <img src="/Assets/images/payment-method.jpg" alt="Travorama Payment Method" />
                </div>
            </section>
            <!-- .footer-payment -->
        }
        
        <section class="footer-menu">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3">
                        <img src="/Assets/images/logo.png" alt="Travorama" />
                    </div>
                    <div class="col-sm-9">
                        <h2>@Html.I18NString("CW00153")</h2>
                        <nav>
                            <ul class="list-inline">
                                <li><a href="@Url.Action("HowToBook", "Term")" target="_blank">@Html.I18NString("CW00151")</a></li>
                                <li><a href="@Url.Action("PrivacyPolicy", "Term")" target="_blank">@Html.I18NString("CW00152")</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </section>

        <!-- .footer-menu -->
        <section class="footer-copyright">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">

                        <div class="text-center footer-socialmedia">
                            <a href="http://facebook.com/travorama" class="fa fa-facebook"></a>
                            <a href="http://twitter.com/travoramaid" class="fa fa-twitter"></a>
                            <a href="http://instagram.com/travorama" class="fa fa-instagram"></a>
                        </div>
                        <p class="text-center">
                            Copyright 2014 - Travel Madezy. All Rights Reserved.
                        </p>

                    </div>

                </div>
            </div>
        </section><!-- .footer-copyright -->
    </footer><!-- .site-footer -->
    
    <div class="site-feedback">
        <a class="feedback-header">Feedback? klik disini</a>
        <div class="feedback-form">
            <form action="#" method="post" class="form form-horizontal">
                <div class="form-group">
                    <input type="type" name="name" value="" class="form-control" placeholder="Subject" />
                </div>
                <div class="form-group">
                    <textarea class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <a href="#" class="form-control">SUBMIT</a>
                </div>
            </form>
        </div>
    </div>
    
    @{ Html.RenderPartial("_Feedback"); }

    <!-- ****************************** -->
    <!-- javascripts -->
    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/Assets/js/jquery-ui.min.js"></script>

    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>

    @if (IsSectionDefined("AdditionalPageJavascript"))
    {
        @RenderSection("AdditionalPageJavascript");
    }

    <script src="/Config/JsConfig.js"></script>
    <script src="/Assets/js/application.js"></script>
    <script src="/Assets/js/angularApp.js"></script>

    @if (IsSectionDefined("PageJavascript"))
    {
        @RenderSection("PageJavascript");
    }


</body>
</html>
