<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/bootstrap/plugincss")
    <style>
        body{
            padding-top:0px;
            padding-bottom:20px;
        }
		@@media (min-width: 992px) {
		  .HeaderMenu {
			margin-top:50px;
		  }
		}
    </style>
</head>
<body>
    <!-- NAV SECTION -->
    <div class="container" style=" height: 117px;">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 col-centered" style="text-align: center;">
            <div class="row">
                <a href="@Url.RouteUrl("UW100SearchHotel")">
                    <h1>
                        Header
                    </h1>
                </a>
            </div>
            <div class="row">
                Hotels | Flight | Tour & Day Trips
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-centered" style="text-align: center;">
            <div class="row HeaderMenu">
                Login | IDR | ENG
            </div>
        </div>
    </div>

    <!--END NAV SECTION -->
    <div id="home-sec" style="min-height:500px">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <div class="container" style=" height: 117px;">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 col-centered" style="text-align: center;">
            <div class="row">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap/pluginjs")
    @RenderSection("scripts", required: false)
</body>
</html>
