@using Lunggo.ApCommon.Identity.User
@using Lunggo.Framework.Context
@using Lunggo.Framework.Http
@using Microsoft.AspNet.Identity
@using RazorEngine.Compilation.ImpromptuInterface.Optimization

@{
    var path = Context.Request.Url.PathAndQuery;
    if (Context.Request.Url.Segments.Count() > 1)
    {
        path = path.Substring(3);
    }
}

<nav class="main-menu">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <ul class="list-inline">
                    <li class="site-logo pull-left"><a href="@Href(@"~/" + OnlineContext.GetActiveLanguageCode())"><img src="/assets/images/logo.png" alt="Travorama"></a></li>
                    <li class="hidden"><a href="@Href("~/")"><span class="fa fa-building"></span> Hotel</a></li>
                    <li><a href="/"><span class="fa fa-plane"></span> @Html.I18NString("CW00082")</a></li>
                    <li class="hidden"><a href="#"><span class="fa fa-tag"></span> Promotion</a></li>
                    <li class="hidden"><a href="#"><span class="fa fa-question-circle"></span> FAQ</a></li>
                    <li class="pull-right language-select">
                        <div class="dropdown">
                            <button class="" type="button" data-toggle="dropdown">
                                @switch (OnlineContext.GetActiveLanguageCode())
                                {
                                    case "id":
                                        <img src="/Assets/images/flag-indonesia.png" alt="Bahasa Indonesia" />
                                        break;
                                    case "en":
                                        <img src="/Assets/images/flag-britain.png" alt="English" />
                                        break;
                                }
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="@(@"/id" + path)">Indonesia</a></li>
                                <li><a href="@(@"/en" + path)">English</a></li>
                            </ul>
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="pull-right site-login"><a href="@Url.Action("OrderHistory", "UW620OrderHistory")">@Html.I18NString("CW00073")</a> | <a href="@Url.Action("Logout", "Account")">@Html.I18NString("CW00074")</a></li>
                    }
                    else
                    {
                        <li class="pull-right site-login"><a href="@Url.Action("Login", "Account", new {ReturnUrl = Context.Request.Url})">@Html.I18NString("CW00071")</a> | <a href="@Url.Action("Register", "Account")">@Html.I18NString("CW00072")</a></li>
                    }
                </ul>
            </div>

        </div>
    </div>
</nav>