@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Halaman Error Global</title>
    
    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
    <link href="/Assets/css/application.min.css" rel="stylesheet" />

</head>
<body class="error-page global-error-page">
    
    
    <div class="site-header">
        <div class="container">
            <a href="/">
                <img src="/Assets/images/logo.png" alt="Travorama - Traveling Made Easy" />
            </a>
        </div>
    </div><!-- .site-header -->
    
    <div class="site-content">
    
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="page-content">
                        <h1>The page you are looking for can't be found.</h1>
                        <h3>The page on : @HttpContext.Current.Request.Url.AbsoluteUri cannot be accessed. <br/>Please contact <a href="#">Our Customer Service</a> to report about the missing page.</h3>
                        <h2>Go back to <a href="/">Homepage</a></h2>
                    </div>
                </div>
                <div class="col-sm-8">
                    <img src="/Assets/images/_sample/people-2.png" alt="Main Image" class="page-char plax" />
                </div>
            </div>
        </div>

    </div><!-- .site-content -->
    <img src="/Assets/images/_sample/bg-1.png" alt="Sample" class="site-background plax" />

    


    <div class="error-detail container">
        <h1>Halaman Error Global</h1>

        <h2>Action Name : @Model.ActionName</h2>
        <h2>Controller Name : @Model.ControllerName</h2>

        <h2>Exception</h2>
        <h3>Exception Message : @Model.Exception.Message</h3>
        <h3>Exception Stack Trace: @Model.Exception.StackTrace</h3>
        <h3>Exception Source: @Model.Exception.Source</h3>
    </div><!-- .error-detail -->
    
    <!-- javascript -->
    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/Assets/js/plax.js"></script>
    
    <script>

        function showError() {
            $('.error-detail').show();
        }

        $(document).ready(function() {

            var randomNumber = Math.random() * 10;
            if (randomNumber < 5) {
                randomNumber = 1;
            } else {
                randomNumber = 2;
            }
            $('.site-background').attr('src', '/Assets/images/_sample/bg-' + randomNumber + '.png');
            $('.page-char').attr('src', '/Assets/images/_sample/people-' + randomNumber + '.png');

        });

        // on window load
        $(window).load(function() {
            $('.plax').plaxify({ "xRange": 50, "yRange": 50 });
            $('.site-background').plaxify({ "xRange": 50, "yRange": 50, "invert": true });
            $.plax.enable();
        });

    </script>


</body>
</html>

