@model Lunggo.CustomerWeb.WebSrc.UW100.Object.Uw100HotelSearchResponse

@{
    ViewBag.Title = "Hotel Search List";
    var stayDate = Model.StayDate.Date.ToString("yyyy-MM-dd");
}

<!-- .search-page content start -->
<div class="search-page hotel-search-page" data-search-staydate="@stayDate" data-search-staylength="@Html.DisplayFor(model=>model.StayLength)" data-search-locationid="@Html.DisplayFor(model=>model.LocationId)" data-search-roomcount="@Html.DisplayFor(model=>model.RoomOccupants)">

    <header class="page-header">
        <div class="container">
            <div class="site-nav"> <a href="#">Beranda</a> / <strong>Hotel List</strong></div>
            <div class="pull-right display-option">display as: <a href="#" class="active"><span class="fa fa-list"></span></a> <a href="#"><span class="fa fa-th"></span></a> </div>
            <hr>
            <div class="pull-left">1 Room for 3 Days (2-15-2015 untill 2-18-2015)</div>
            <div class="pull-right list-option">Show : <select name="#" id="hotel-list"><option value="24">24 Hotels</option><option value="36">36 Hotels</option><option value="48">48 Hotels</option></select> / page</div>
        </div>
    </header><!-- .page-header -->
    <div class="container">
        <h2 class="page-title"><b>SEARCH</b> RESULT</h2>
    </div>
    <aside class="hotel-filter filter" data-active="false">
        <div class="filter-button">
            <span class="arrow">&gt;</span>
            <span class="text">FILTER OFF</span>
        </div>
        <header>
            <h3><b>FILTER</b> BY</h3>
        </header>
        <section class="filter-group hotel-price">
            <h3 class="section-title">Harga</h3>
            <input type="text" class="form-control">
        </section>
        <section class="filter-group hotel-star">
            <h3 class="section-title">Bintang Hotel</h3>
            <div class="star-selection">
                <ul>
                    <li><input type="checkbox" id="filter-hotel-star-1"> <label class="star star-1" for="filter-hotel-star-1"> <span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span> </label></li>
                    <li><input type="checkbox" id="filter-hotel-star-2"> <label class="star star-2" for="filter-hotel-star-2"> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span> </label></li>
                    <li><input type="checkbox" id="filter-hotel-star-3"> <label class="star star-3" for="filter-hotel-star-3"> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span> </label></li>
                    <li><input type="checkbox" id="filter-hotel-star-4"> <label class="star star-4" for="filter-hotel-star-4"> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span> </label></li>
                    <li><input type="checkbox" id="filter-hotel-star-5"> <label class="star star-5" for="filter-hotel-star-5"> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span> </label></li>
                </ul>
            </div>
        </section>
        <section class="filter-group hotel-discount">
            <ul>
                <li><input type="checkbox" id="filter-hotel-discount"> <label for="filter-hotel-discount">Punya diskon</label></li>
            </ul>
        </section>
        <section class="filter-group search-filter">
            <a href="#" class="btn btn-primary">FILTER</a>
        </section>
    </aside><!-- .hotel-filter -->
    <section class="hotel-list horizontal" ng-controller="HotelController as hotel_list">
        <section class="hotel-loading" ng-if="!loaded">
            <img src="/Assets/images/loading-image-dark.gif" />
        </section>
        <div class="container" ng-if="loaded">

            <div class="row">

                <!-- Loop start here -->

                <div class="hotel-wrapper col-sm-4" ng-repeat="hotel in hotel_list.hotels">
                    <article class="hotel">
                        <a href="@Href("~/UW200/UW200HotelDetail?HotelId="){{hotel.HotelId}}&StayDate=@stayDate&StayLength=@Html.DisplayFor(model=>model.StayLength)&RoomCount=@Html.DisplayFor(model=>model.RoomOccupants)" class="hotel-link" target="_blank">
                            <div class="hotel-image" ng-repeat="featuredImage in hotel.ImageUrlList | filter : {Priority: 1} : true" style="background-image:url({{featuredImage.FullSizeUrl ? featuredImage.FullSizeUrl : 'jemping'}});"></div>
                            <div class="hotel-image" ng-if="hotel.ImageUrlList == null " style="background-image:url(/Assets/images/no-image.png); background-size:auto;"></div>
                            <section class="hotel-sum">
                                <h2 class="hotel-name">{{hotel.HotelName}}</h2>
                                <h4 class="hotel-star">
                                    <span class="star generate-star" data-generate-star="{{hotel.StarRating}}">
                                        <span class="fa fa-star" ng-repeat="i in getStar(hotel.StarRating) track by $index"></span>
                                        <!-- <span class="fa fa-star-o" ng-repeat="i in getStarO(hotel.StarRating) track by $index"></span> -->
                                    </span>
                                </h4>
                                <h5 class="hotel-address">{{hotel.Address}}</h5>
                                <div class="hotel-feedback hotel-show-list">
                                    <span class="hotel-like"><span class="fa fa-heart"> 1234</span></span>
                                    <span class="hotel-review"><span class="fa fa-comment"> 1234</span></span>
                                </div>
                            </section><!-- .hotel-sum -->
                            <section class="hotel-tag hotel-show-square">
                                <div class="hotel-price">
                                    <h5 class="price-was"><del></del></h5>
                                    <h2 class="price-now">{{ hotel.LowestPrice.Currency }} {{ hotel.LowestPrice.Value | number }}</h2>
                                </div>
                                <div class="hotel-feedback">
                                    <span class="hotel-like"><span class="fa fa-heart"> 1234</span></span>
                                    <span class="hotel-review"><span class="fa fa-comment"> 1234</span></span>
                                </div>
                                <div class="clearfix"></div>
                                <span>Harga <strong>sudah</strong> termasuk pajak</span>
                            </section><!-- .hotel-tag -->
                            <section class="hotel-tag hotel-show-list">
                                <div class="hotel-price">
                                    <p><b>Price :</b></p>
                                    <h5 class="price-was"><del></del></h5>
                                    <h2 class="price-now">{{ hotel.LowestPrice.Currency }} {{ hotel.LowestPrice.Value | number }}</h2>
                                    <span>Harga <strong>sudah</strong> termasuk pajak</span>
                                </div>
                            </section><!-- .hotel-tag -->
                        </a>
                    </article>
                </div><!-- .hotel-wrapper -->
                <!-- Loop end here -->

            </div>

        </div>
        <footer class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <nav>
                        <ul class="pagination">
                            <!--
                                <li><a href="#" ng-click="load_hotel_list()">&lt;</a></li>
                                <li><a href="#" class="active">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                                -->
                        </ul>
                    </nav>
                </div><!-- .text-center -->
            </div><!-- .row -->
        </footer><!-- .container -->
    </section><!-- .hotel-list -->

</div>
<!-- .search-page content end -->